[2021-10-04 21:37] djencks commented on #3143
I believe https://github.com/apache/camel/pull/6210 and https://github.com/apache/camel-spring-boot/pull/376 will fix the camel-quarkus build.  Both include very substantial generated changes from simply running the maven build: I don't see any automated activity for this, but maybe it will happen later. I don't see any harm in manually producing these changes as I did, but perhaps there's a reaso

[2021-10-05 07:10] #2966 closed

[2021-10-05 07:10] #2828 closed

[2021-10-05 07:10] #2955 closed

[2021-10-05 07:10] #3097 closed

[2021-10-05 07:10] jamesnetherton commented on #2997
I'll close this as the main issue is fixed in Camel.

[2021-10-05 07:10] #2997 closed

[2021-10-05 08:50] nadworny opened #3155 "JsonParseException not caught when using OpenAPI generated REST DSL"
# Description
I'm using an [Camel REST DSL generator](https://github.com/apache/camel/blob/main/tooling/maven/camel-restdsl-swagger-plugin/src/main/docs/camel-restdsl-swagger-plugin.adoc) for my service. The generated class looks the following:
[code]

Now, I would like to handle the exception thrown by this endpoint when I send an invalid JSON request.

# Expected behaviour
The exception processo

[2021-10-05 10:25] ppalaga opened #3156 "Simplify the dependency management of examples using QuarkusProcessExecutor"
Once the BOMs used in examples will get parametrized ( https://github.com/apache/camel-quarkus/issues/3123 ) there will be no `camel-quarkus.version` available in their poms. This is an issue for the few examples using `QuarkusProcessExecutor` from `camel-quarkus-integration-test-support` that is managed in `camel-quarkus-bom-test`. We'd have to keep and maintain `camel-quarkus.version` in the exa

[2021-10-05 13:46] ppalaga opened #3157 "URL to the Kafka brokers must be configured with the brokers option in native mode"
Happens in the Kafka example after upgrading to Camel Quarkus 2.3.0.

I am disabling the test for now.

[code]

[2021-10-05 20:12] #3152 closed

[2021-10-06 04:43] tadayosi opened #3159 "Split package usage warning with camel-quarkus"
Today I generated a quarkus project from code.quarkus.io with Camel and running `mvn quarkus:dev` got the following warning:
[code]

Is this something we are already aware of?

[2021-10-06 04:50] davsclaus commented on #3159
Yes its fixed in Camel already, will be in the camel-quarkus 2.2.0 release

[2021-10-06 06:20] #3149 closed

[2021-10-06 06:21] jamesnetherton commented on #3159
Duplicate of https://github.com/apache/camel-quarkus/issues/2997.

It's part of the 2.3.0 release.

[2021-10-06 06:21] #3159 closed

[2021-10-06 06:32] tadayosi commented on #3159
Thanks guys!  Good to know that.

[2021-10-06 06:47] jamesnetherton commented on #3157
Shouldn't the CQ CI build have caught this? I thought it verified the latest CQ `main` SNAPSHOT with the examples `camel-quarkus-main`?

So I'm a bit confused why it's failing with the release build but there's never been any failure on the CQ CI.

[2021-10-06 07:02] jamesnetherton commented on #3157
Seems the CQ CI build just runs `mvn clean verify -Pnative` on each example. So basically it's just testing that the examples in their original form on `camel-quarkus-main`, build properly. Which seems somewhat pointless.

We should tweak the CQ version so that the examples build against SNAPSHOT. I'll open a separate issue for that.

[2021-10-06 07:24] jamesnetherton opened #3160 "CI build should test example projects with camel-quarkus SNAPSHOT"
Relates to https://github.com/apache/camel-quarkus/issues/3157#issuecomment-935613615.

There are (maybe) 2 parts to this.

1. We should be able to build & test the examples in the CQ CI build with the CQ SNAPSHOT version & whatever Quarkus version it is currently aligned to.

2. The camel-quarkus-examples CI build for the `camel-quarkus-main` branch needs modifying. From what I can see, it checks

[2021-10-06 07:49] ppalaga commented on #3160
Sorry, the current state of both examples branches is unfinished. From my PoV the following things are missing:

1. Change to 2.3.0.Final platform BOMs once they are available in the `main` branch
2. Change to CQ 2.4.0-SNAPSHOT  in `camel-quarkus-main` branch
3. Figure out how to maintain the versions in `camel-quarkus-main` branch. The old `cq:sync-example-properties` mojo was based on the assump

[2021-10-06 07:51] JiriOndrusek commented on #3114
Thanks @jamesnetherton for taking care of this issue.

[2021-10-06 08:14] jamesnetherton commented on #3160
Do we actually need any sync task? The core dependencies should be coming from the BOM imports. It's only the non-quarkus plugin versions that may get out of alignment. So I'm not sure that's such a big issue.

[2021-10-06 08:32] jamesnetherton commented on #3154
@ffang You may want to test to see if https://github.com/apache/camel-quarkus/pull/3161 works for you before it gets merged.

[2021-10-06 13:20] ffang commented on #3154
@jamesnetherton yes, the patch fixes the issue I ran into.

Thanks!
Freeman

[2021-10-06 16:01] ffang opened #3163 "Aws2S3Test could fail with real AWS S3 service caused by bucket name conflicts"
Aws2S3Test uses a fixed bucket name mycamel in the testcase. However, per aws s3 doc
[code]
So if mycamel is used somewhere else in AWS S3, we run into a error like
[code]

[2021-10-07 17:32] ppalaga opened #3167 "AWS S3 tests should delete all buckets they create"
This does not matter much as long as testing against Localstack, but may hurt when testing against real AWS. All long living resources may cause costs to the AWS account owner.

I found (potential) resource leaks in following tests:
* `org.apache.camel.quarkus.component.aws2.Aws2S3Test.copyObject()` the bucket is created implicitly via `Aws2S3Resource.objectKey(String)` passing `autoCreateBucket=t

[2021-10-07 18:58] ppalaga opened #3169 "Test AWS S3 encryption using KMS"
Followup https://github.com/apache/camel-quarkus/issues/2745 the KMS use case is still missing
 * [Using KMS to encrypt data (Camel - Localstack)](https://github.com/apache/camel/blob/camel-3.9.0/components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/localstack/S3SimpleEncryptedUploadOperationLocalstackTest.java)

https://camel.apache.org/components/latest/aws2-s3-comp

[2021-10-07 21:21] #3167 closed, assigned to ppalaga

[2021-10-08 14:07] jamesnetherton opened #3171 "OpenAPI Java integration tests fail with Camel 3.13.0-SNAPSHOT"
First run of CQ with Camel 3.13.0-SNAPSHOT was mostly successful. But openapi-java itests failed:

https://github.com/apache/camel-quarkus/runs/3837912836?check_suite_focus=true

Could be related to [CAMEL-17049](https://issues.apache.org/jira/browse/CAMEL-17049). Maybe @davsclaus knows?

[code]

The `platform-http:openapi` part comes from the `camel.rest.api-context-path = /openapi` config.

[2021-10-08 16:17] aloubyansky opened #3172 "io.quarkus.deployment.builditem.CapabilityBuildItem(name) is deprecated"
[1] should be replaced with something like [2]. More info can be found in [3]

[1] https://github.com/apache/camel-quarkus/blob/main/extensions/bean/deployment/src/main/java/org/apache/camel/quarkus/component/bean/deployment/BeanProcessor.java#L49
[2] https://github.com/apache/camel-quarkus/blob/main/extensions-core/core/runtime/pom.xml#L122
[3] https://quarkus.io/guides/capabilities#capabilitybui

[2021-10-11 06:14] jamesnetherton commented on #3171
Seems this is fixed already.

[2021-10-11 06:14] #3171 closed

[2021-10-11 12:40] jamesnetherton opened #3173 "[Quarkus 2.4.0] Messaging tests fail with ambiguous dependencies for `org.apache.camel.quarkus.component.messaging.it.util.scheme.ComponentScheme`"
Maybe something changed recently in Quarkus that has started causing this error.

What confuses me is that the nightly Quarkus platform builds with 999-SNAPSHOT & CQ 2.3.0 are passing. I'd expect to see the same failure.

[code]

[2021-10-11 13:22] JiriOndrusek opened #3174 "AWS Aws2DdbQuarkusClientTest fails with real AWS"
Test `Aws2DdbQuarkusClientTest` from `integration-test-groups/aws2-quarkus-client/aws2-ddb/` fail;s in JVM and native mode with real AWS account.
Here is the log:

[code]

[2021-10-12 06:18] #3174 closed, assigned to JiriOndrusek

[2021-10-12 12:23] #3169 closed, assigned to zhfeng

[2021-10-12 18:10] iqnev opened #3179 "`quarkus.camel.main.shutdown.timeout` doesn't work as intended"
The property

  doesn't work when I tried to configure my application. Also I  tried with the following code to set graceful shutdown but It doesn't work, too.
[code]

While I was debugging my Camel application I realized, that the default graceful shutdown strategy is

In Apache Camel the default strategy  is https://camel.apache.org/manual/latest/graceful-shutdown.html#_implementing_custom_compo

[2021-10-12 18:30] #3172 closed, assigned to zbendhiba

[2021-10-12 23:22] neoxu999 commented on #1981
Hi @jamesnetherton , in most cases, we only need CamelTestSupport in JVM testing, mocking routes.
For native, we can use integration test.
Can you please provide some advice? How to move camel-test to camel-quarkus-test?

[2021-10-13 07:30] aldettinger commented on #1981
Hi @neoxu999, I think we are all very busy with other subjects those days but if you are able to invest time for a long effort to explore this path on your own, then here are few directions I could point.

Some users reported that they were able to @Inject a camel route in a @QuarkusTest. This apporach can't be the solution in my opinion and it had some limitations, for instance logging. But it co

[2021-10-13 07:47] mkouba commented on #3173
Hm, so I built the project with `-Denforcer.skip` and got `[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:yarn (antora-xref-check) on project camel-quarkus-docs` but still I was able to run the tests for `jms-artemis-client` and from the debug log I can see that the bean classes, e.g. `org.apache.camel.quarkus.component.messaging.it.util.scheme.MessagingComponentSchem

[2021-10-13 09:37] aloubyansky commented on #3173
I know what the problem is, this is mine.

[2021-10-13 16:41] jamesnetherton opened #3181 "Remove OptaplannerProcessor `runtimeInitializedClasses` `BuildStep`"
This `BuildStep` that was added for upgrading to Quarkus 2.4.0.CR1 can be removed once it's incorporated into an OptaPlanner release:

https://github.com/apache/camel-quarkus/blob/main/extensions/optaplanner/deployment/src/main/java/org/apache/camel/quarkus/component/optaplanner/deployment/OptaplannerProcessor.java#L33-L38

[2021-10-13 22:02] neoxu999 commented on #1981
Hi @aldettinger , thanks for your very detailed guides. I will try to add @CamelQuarkusTest first and make the JVM works first.

[2021-10-14 00:57] neoxu999 commented on #1981
Hi @aldettinger, I checked the new extension guide.
_"Let others know that you work on the given extension by either creating a new issue or asking to assign an existing one to you."_
https://camel.apache.org/camel-quarkus/latest/contributor-guide/create-new-extension.html

May I get your permission to assign this task to me?

[2021-10-14 09:02] jamesnetherton opened #3184 "Error: @antora/user-require-helper tried to access {requires}"
Lots of errors like the following currently coming from the docs module build:

[code]

[2021-10-14 16:34] ppalaga commented on #1981
Thanks the feedback and for taking the initiative, @neoxu999! As @aldettinger pointed out we are busy with other tasks and assisting with your contribution is all we can offer at this time.

[2021-10-14 20:09] #3184 closed, assigned to nobody

[2021-10-15 00:56] neoxu999 commented on #1981
Thanks for your kind words @ppalaga! I will make it worked.

[2021-10-15 10:41] zhfeng commented on #3157
I can take a look at this issue.

[2021-10-15 16:31] ffang opened #3189 "[camel 3.13] NativeImageResourceBuildItem fails for Atlasmap extension"
get error like
[code]

[2021-10-15 16:33] ffang commented on #3189
I think output like
[code]
is suspicious.

And I'm pretty sure this is caused by the atlasmap upgrade from 2.2.3 to 2.3.x recently.

I rollback too use atlasmap 2.2.3 in camel-atlasmap component and build it, then build the atlasmap camel-quarkus extension, and the integration test passed in native mode

[2021-10-15 18:23] zbendhiba commented on #3189
Yes I'm on this one

[2021-10-15 18:47] ffang commented on #3189
Thanks @zbendhiba  for picking this up!

[2021-10-15 22:10] ppalaga opened #3190 "Use quarkus-maven-plugin:generate-code in GRPC test"
@jamesnetherton do you see any reason why it would not be possible to use quarkus-maven-plugin:generate-code in our GRPC test? It would simplify the maintenance of io.grpc:protoc-gen-grpc-java:linux-x86_64 and com.google.protobuf:protoc:linux-x86_64 versions

[2021-10-15 23:01] jamesnetherton commented on #3190
Should be (mostly) ok. AFAIK the Quarkus plugin still does not support all CPU architectures:

https://github.com/quarkusio/quarkus/issues/17886

[2021-10-18 09:26] ppalaga opened #3191 "Publish docs for the last stable release"
We should make https://camel.apache.org/camel-quarkus/2.2.0/index.html available by changing this line https://github.com/apache/camel-website/blob/main/antora-playbook.yml#L53
and we should have step documented in the release guide https://camel.apache.org/camel-quarkus/2.0.0/contributor-guide/release-guide.html

[2021-10-18 09:47] ppalaga opened #3192 "Improve the description of camel-quarkus-openapi-java"
Currently it is

* It does not say what it really does
* Acronyms `Rest` and `dsl` are not spelled properly.

Maybe something like

would be better

[2021-10-18 09:53] ppalaga opened #3193 "Improve the description of camel-quarkus-sql"
It is currently

The role of Spring JDBC is not central at all in Camel Quarkus.

I guess we could change it to simply

[2021-10-18 09:58] jamesnetherton commented on #3131
This will have been fixed by https://github.com/apache/camel-quarkus/pull/3188.

[2021-10-18 09:58] #3131 closed

[2021-10-18 10:01] ppalaga opened #3194 "Improve the Avro extension page"
On https://camel.apache.org/camel-quarkus/latest/reference/extensions/avro.html#_additional_camel_quarkus_configuration the docs says

`@BuildTimeAvroDataFormat` is also used in a code snippet.

We should fully qualify the class name either in both occurences or at least in the snippet.

[2021-10-18 10:05] ppalaga commented on #3194
There are also some fomatting issues on the page. `@BuildTimeAvroDataFormat` and all file paths/globs should be monospaced.

[2021-10-18 10:09] ppalaga commented on #3194
Maybe the page should explain "The build time class generation approach from quarkus-avro is preferred." in more detail. Esp. we should document that `quarkus-maven-plugin:generate-code` is needed: https://github.com/apache/camel-quarkus/blob/main/integration-tests/avro/pom.xml#L97

[2021-10-18 10:17] ppalaga opened #3195 "Improve AWS2 DDB docs"
Should be

plus some more wording and spelling issues

[2021-10-18 10:17] jamesnetherton commented on #3194
Do we even need to mention `BuildTimeAvroDataFormat` in the docs? It's deprecated. At a minimum we should give precedence to the `quarkus-maven-plugin` code generation.

[2021-10-18 11:45] zbendhiba commented on #3189
I was already investigating. I do not necessary open issues for camel-main.

[2021-10-18 13:26] djencks commented on #3191
I'll be pushing some changes to the website and most contributing projects in the next day or two and can easily include this.  I wouldn't expect it to cause me a problem if you'd rather do this first.

[2021-10-18 17:29] zbendhiba commented on #3189
**Current status :**

Not done with this one. At the first step, I looked at ClassLoader, but notthing war broken there.
I had to add some conf locally to get some logs.
Since atlasmap 2.3.x, there is only one of the modules that is loaded. This line of code https://github.com/atlasmap/atlasmap/blob/883cff34cdce946d3cf097a01f1f188a2cd51dcf/lib/core/src/main/java/io/atlasmap/core/DefaultAtlasContex

[2021-10-19 02:37] zhfeng commented on #3157
It's too late to registe the ```CamelBeanBuildItem``` in native mode due to the KafkaDevSerivce is avaiable in TEST mode. It's just running before the application starts. So we only need to pass ```camel.component.kafka.brokers=PLAINTEXT://localhost:31318``` option to the native application.

[2021-10-19 07:20] jamesnetherton opened #3199 "Improve available port discovery in tests"
We still occassionally see port conflicts in the tests. It'd be nice if we could eliminate those.

At the moment we have various sources where free ports are looked up:

1. The Maven build via `build-helper-maven-plugin:reserve-network-port` (do we even need this?).
2. Various `QuarkusTestResourceLifecycleManager` implementations.
3. Test application code. E.g in JAX-RS resources or Camel `RouteBu

[2021-10-19 08:25] ppalaga opened #3200 "Test AWS Kinesis with Quarkus client"
Much like we do with S3 and DynamoDB

[2021-10-19 08:41] ppalaga opened #3201 "Make sure all AWS extensions tested with Quarkus clients have the option documented"
The most up to date snippet is in https://github.com/apache/camel-quarkus/pull/3197/files#diff-609af406cde736482b3a964237cf7dead644367650f9c8ed847446a0a6983924

The snippets should be up to date for S3 and DDB.
This still needs to be done at least for Kinesis, SNS and SQS.

We may consider solving this at the documentation generation level, like we do e.g. with ssl https://github.com/apache/camel-

[2021-10-19 10:09] jamesnetherton opened #3204 "Usage of `CamelHttpTransportServlet` results in CDI bean removal"
To reproduce run `MinimalConfigTest` from the servlet extension deployment module.

I see we are producing `AdditionalBeanBuildItem` for each servlet class present in the servlet configuration. Is this actually necessary? I don't see the benefit.

[code]

[2021-10-20 02:46] zhfeng opened #3206 "Investigate KafkaDevServicesDisabledTest failure test"
Currently if  ```KafkaDevServicesDisabledTest``` is running after ```KafkaDevServicesEabledTest```, it is failing with
[code]
It looks like the kafka dev service is avaible during all the test phase regardless of the test is restarted even if ```quarkus.kafka.devservices.enabled=false``` is configed.

It might be a bug somewhere in Quarkus DevService.

[2021-10-20 02:49] #3157 closed

[2021-10-20 07:18] JiriOndrusek opened #3207 "Aws2 tests with localstack don't need to use long timeouts"
A lot of aws tests are taking a lot of time (because of timeouts required for use of real AWS )
It should be possible to differentiate (real vs local) in tests and skip long timeouts for localstack.

Too long timeouts could make problems on CI.

[2021-10-20 07:59] jamesnetherton opened #3208 "`ShiroProcessor` is missing reflective class configuration for `commons-beanutils` converters"
Some types are covered but there are a few missing like `BigDecimal`, `Character`, `Byte` and various others.

[2021-10-20 12:45] #3208 closed, assigned to jamesnetherton

[2021-10-20 12:48] JiriOndrusek commented on #3200
There s no kinesis Quarkus client.

[2021-10-20 12:48] #3200 closed, assigned to JiriOndrusek

[2021-10-20 14:51] #1594 closed

[2021-10-20 15:13] jamesnetherton opened #3213 "`DebeziumMongodbTest` skipped tests"
Seems all the tests in `DebeziumMongodbTest` are being skipped. The tests do:

[code]

Which is maybe not correct. If the mongo client is null, then the test should probably be made to fail.

[2021-10-20 22:00] djencks commented on #3191
There seems to be a 2.3.x branch as well, is 2.2.x really the latest?
Should both 2.2.x and 2.3.x be in the website? It doesn't appear to cause any problems to have latest, 2.3.x, and 2.2.x. Including release/2.0.0 does cause problems after I fixed some tables.

The PR mentioning all the other related work is apache/camel-website#648. Soon there should be a preview at https://pr-648--camel.netlify

[2021-10-21 14:35] aldettinger opened #3219 "doc: rephrase the section about charsets in native mode"
This doc has direct link to substratevm 19.3.0 source code that may change outside of camel-quarkus control.

[2021-10-22 13:24] #3206 closed, assigned to zhfeng

[2021-10-22 13:30] #3193 closed, assigned to nobody

[2021-10-22 13:30] #3194 closed, assigned to ppalaga

[2021-10-22 13:30] #3195 closed, assigned to ppalaga

[2021-10-22 16:20] ppalaga opened #3222 "Import quarkus-bom before camel-quarkus-bom in tests"
The current ordering serves as a workaround for https://github.com/quarkusio/quarkus/issues/20461
[code]

After Quarkus 2.4.0 it should be possible to change it to

[code]

[2021-10-25 12:52] jamesnetherton opened #3225 "[camel 3.13.0] `MllpTest.testCharsetFromMsh18` failure"
Possibly related to the MLLP refactoring done for [CAMEL-17122](https://issues.apache.org/jira/browse/CAMEL-17122).

I no longer see any way of having the charset being set via the HL7 message MSH 18. The default charset is always used and is not overridable like it used to be.

[2021-10-25 13:32] llowinge opened #3226 "GraalVM 21.2.0 + Java 16 - Native build fails"
I can see following error (running eg. any integration test in Native mode) using GraalVM 21.2.0 + JDK 16 (with JDK 11 it works great).

[code]

[2021-10-25 14:13] zhfeng opened #3227 "[Quarkus-Main] Kafka DevService properties"
We need to revert the fix of #3206 and go back to produce ```DevServicesConfigBuildItem``` when https://github.com/quarkusio/quarkus/pull/20964 is merged.

[2021-10-25 14:38] jamesnetherton opened #3229 "Reference Camel `azure-sdk-bom-version` property in `azure-sdk-bom.version`"
`azure-bom` has been removed from Camel, so we need to decide how best to handle it on our side. For now, on the `camel-main` branch, I have removed the `azure-bom-version` version property and replaced it with a hard coded version.

If we stop using `azure-bom` in CQ, then we need to manually manage & declare some of the azure dependencies in our `camel-quarkus-bom` to avoid convergence check err

[2021-10-25 16:20] ppalaga opened #3230 ""exit code 137" in Tika native test on GH actions"
[code]

Maybe we could try to reduce the size of the compiled code.

[2021-10-26 11:47] JiriOndrusek opened #3236 "Refactor aws2-quarkus-client-ddb(s3) by copying files (not duplicating)"
There is a PR, which uses groovy script to copy files during build (for aws2-quarkus-client-ses and aws2-quarkus-client-sqs) - https://github.com/apache/camel-quarkus/pull/3224
This approach removes duplicated code and should be usable also for *-client-ddb and s*-client-3 modules

Groovy scripts requires compilation, so there could be better approach (i.e. some maven plugins).
If there is a bette

[2021-10-27 09:19] jamesnetherton opened #3239 "[Quarkus 2.5.0] Kafka SASL / SSL tests are failing"
Needs investigating properly, but I don't think the custom configs to apply the necessary security bits to the Kafka broker are working. It may be related to the testcontainers version bump from 1.16.0 to 1.16.2.

I'm disabling the tests for now.

[2021-10-28 01:23] #3227 closed, assigned to nobody

[2021-10-29 08:19] jamesnetherton opened #3243 "Consider removing `camel-quarkus-support-common`"
`camel-quarkus-support-common` is only used by `camel-quarkus-core`, which is a mandatory depedendency for every other CQ extension.

Since there's not much code in `camel-quarkus-support-common`, it should probably be moved into the core.

[2021-11-01 10:32] galderz commented on #3230
@ppalaga What do you mean by it's a lot of data?

[2021-11-01 12:35] JiriOndrusek opened #3247 "Sql - native tests fail on NPE during db initialization"
Here is a log snippet (execution with `-Dcq.sqlJdbcKind=oracle`):

[code]

[2021-11-01 13:03] JiriOndrusek commented on #3247
Problem is mainly caused by not consistent approach used for `oracle` db. Oracle db usage should use the same approach as other external dbs - `  -Dcq.sqlJdbcKind=oracle`.

[2021-11-01 14:58] jamesnetherton opened #3249 "Leverage Quarkus code generation for Salesforce DTO generation"
It'd be good if we could leverage the code generation features of the `quarkus-maven-plugin` to do the generation of the Salesforce DTOs.

Currently this is handled by the `camel-salesforce-maven-plugin`. If we could make the core logic available is some artifact that our extension would depend on, then we should be able to add hooks for the `generate-code` mojo.

[2021-11-01 15:58] zhfeng commented on #3239
@jamesnetherton I think you are right. This is related to testcontainers 1.6.2 changes with

https://github.com/testcontainers/testcontainers-java/blob/4df9b900e79e4a3033ef0975abacf9064a0e7353/modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java#L76-L86

it set ```KAFKA_ADVERTISED_LISTENERS``` with ```BROKER:localhost:9092``` explicitly. So Kafka SSL is not enabled when la

[2021-11-01 16:00] zhfeng commented on #3239
It should be a simple workaround to override ```protected void configure()``` to set ```KAFKA_ADVERTISED_LISTENERS``` with ```SSL://localhost:9093,BROKER://localhost:9092```. I've checked that it works on my local machine.

[2021-11-01 19:57] davsclaus opened #3251 "Camel Rest DSL - Expose Rest DSL services to quarkus openapi"
Quarkus can expose its REST servcices to swagger ui
https://quarkus.io/guides/openapi-swaggerui

We have something similar for camel on spring boot via camel-springdoc-starter
https://github.com/apache/camel-spring-boot/tree/main/components-starter/camel-springdoc-starter

This code that discovers the Camel Rest DSL and expose that, can be inspiration for something similar to camel-quarkus.

[2021-11-02 07:32] #3247 closed

[2021-11-02 09:29] zhfeng opened #3254 "Re-enable KafkaSaslSslIT and KafkaSslIT"
The https://github.com/apache/camel-quarkus/issues/2729 has been resolved

[2021-11-02 09:44] JiriOndrusek opened #3256 "Sql tests with external oracle database fail"
If you run `sql` integration tests with external oracle db, it fails.
Oracle connection paramaters have to be exported like:
[code]
Command to use external db: `mvn clean verify -Dcq.sqlJdbcKind=oracle -Dnative=true -pl :camel-quarkus-integration-test-sql`

Exception in log:
[code]

[2021-11-02 09:55] JiriOndrusek commented on #3256
First impression is that everything looks like it should work.
I tried some different scenarios and results show another problem with oracle jdbc.

If I run tests (native) with `h2` (default configuration), results are successful.
If I add `quarkus-jdbc-oracle` into dependencies, jvm tests are successful, but native image build fails.

[code]

Exception is:
[code]
This exception is the same as in

[2021-11-02 11:53] #3201 closed

[2021-11-02 12:31] #3254 closed

[2021-11-03 11:55] ppalaga opened #3258 "Cannot run tests against alternative BOMs"
In https://github.com/apache/camel-quarkus/pull/3134 we wanted to make it possible to run our tests against alternative BOMs, such as Quarkus Platform BOMs. The current solution does not work for two reasons:

1. `camel-quarkus-bom-test` version used in `camel-quarkus-build-parent-it` is `${project.version}` - so `camel-quarkus-bom-test` would have to be installed locally to be able to run the tes

[2021-11-03 12:00] jamesnetherton commented on #3189
I disabled the native itests so that we can get a successfull build of `camel-main`.

[2021-11-03 14:44] jamesnetherton opened #3259 "Avoid using Camel Salesforce DTO types as the return type or method parameters in integration tests"
Otherwise we don't know where the reflective class registration is coming from. It could either be the Quarkus RestEasy JSONB extension or the CQ salesforce extension.

[2021-11-03 15:41] JiriOndrusek opened #3260 "Sql test using derby doesn't start dev service and shows class loading issue if stored procedure is called"
Follows  https://github.com/apache/camel-quarkus/issues/3080

- Dev service for derby doesn't start docker container
- If stored procedure via java class is added, it's execution shows class loading problem.

[2021-11-04 07:24] #3080 closed

[2021-11-04 07:56] #3258 closed

[2021-11-04 09:13] vladimirfx commented on #3226
Quarkus 2.4.1.Final + GraalVM 21.3.0-java17:

[code]

Should I file a new issue?

[2021-11-04 09:44] jamesnetherton commented on #3226
It's bascially the same issue that was originally reported, so I think it's ok to cover it in this issue.

We need to establish whether this particular substitution is actually needed anymore.

[2021-11-04 12:29] vladimirfx commented on #3226
https://github.com/quarkusio/quarkus/pull/2352

I think it is not needed anymore. Moreover, it is not possible to use it anymore. Can I submit the PR removing this subsitution?

[2021-11-04 12:45] jamesnetherton commented on #3226
Yes, but the slight issue is that we don't yet test multiple GraalVM JDK versions. We just test with whatever the Quarkus default is.

If you can verify locally that removing it causes no issues, then feel free to create a PR.

[2021-11-04 12:53] vladimirfx commented on #3226
Trying to do so for current versions of Graal 21.2 Java 11, Graal 21.3 Java 11 + Java 17.

[2021-11-04 13:24] vladimirfx commented on #3226
Please review https://github.com/apache/camel-quarkus/pull/3264

[2021-11-04 14:01] aldettinger opened #3265 "camel.main.routes-include-pattern with a "*" wildcard may end up loading a route builder twice"
When a camel-quarkus application is using `camel.main.routes-include-pattern` with a `*` wildcard, some
 routebuilders/routeconfigurations resources might be loaded twice. Users may face error messages like below:
- `Failed to start route xyz because of Multiple consumers for the same endpoint is not allowed`
- `Route configuration already exists with id: xyz`

The simplest way to reproduce might

[2021-11-04 14:13] aldettinger commented on #2978
Related camel PR: https://github.com/apache/camel/pull/5917/files#diff-e510105c62e50b5f9cfe0a983a17e3df523e09668e568380805ccaab6dd277ff

[2021-11-04 14:19] aldettinger commented on #2978
@davsclaus It is working against the [current test coverage](https://github.com/apache/camel-quarkus/commit/a2f9cf851641d797b7cabca7074cfeb3ab128580).

Would you please have any precise ideas about:
- Possible build time optimizations ?
- Cases where RouteConfigurationBuilders should be added before RouteBuilders on camel-quarkus side ?

[2021-11-04 14:33] davsclaus commented on #2978
Same build time as regular RouteBuilder classes
Add them before regular RouteBuilder

camel-core uses routes loader to load/add routes, and it has logic such as
[code]

[2021-11-05 01:27] #3226 closed

[2021-11-05 03:35] zhfeng commented on #3249
I aussme that the basic idea here is to implement such a class
[code]
some properies could be similar with the ```camel-salesforce-maven-plugin``` Mojo parameters
[code]

What's the benifit we can get from this enhancement ? Maybe generate different codes with  launch mode, coulde be useful for testing purpose..

[2021-11-05 03:38] zhfeng commented on #3239
This should be fixed in ```quarkus-main``` branch.

[2021-11-05 04:18] zhfeng opened #3267 "Investigate the new TX API in Quarkus Transaction"
There is a propsal of new TX API in Quarkus https://github.com/quarkusio/quarkus/pull/21115. I think it could be reflect to use in ```transacted()``` in camel routing. Currently we are using ```camel-jta``` extension.

[2021-11-05 10:31] ppalaga commented on #3239
I think we generally prefer marking issues as fixed only after they are merged in `main`. `quarkus-main` is an instable (is rebased regularly) branch and so the sha1 of the fix will change several times till it reaches `main`. I mean each fixed issue should contain a stable reference to the fix. This is important for both to be able to audit the fix at any time in the future and also to be able to

[2021-11-05 10:34] ppalaga commented on #3249
I think the main benefit is the ergonomy: end users do not need to maintain an extra version of an extra Maven plugin. All is done via Quarkus plugin (that must be there anyway) and the underlying CQ extension that must be there too.

[2021-11-05 10:56] ppalaga commented on #3226
Sorry for coming too late, but I cannot help with any useful knowledge anyway. The last change is from me, but I just moved the classes to another package. The original classes come from the very early days of Camel Quarkus (Aug 1st, 2019!) and are by @lburgazzoli . I agree that we can remove them if a local testing by @vladimirfx (thanks!) is successful.

[2021-11-05 11:07] zhfeng commented on #3239
OK, I get it. Let's reopen it.

[2021-11-05 11:31] ppalaga commented on #3256
Maybe we should ask Quarkus team whether combining drivers is supported.

Yep, that would be nice to have if it is supported by Quarkus.

[2021-11-05 11:42] lburgazzoli commented on #3226
I really don't recall the reason for that substitution, it can also be that we have fixed the problem in camel by the time

[2021-11-05 11:47] JiriOndrusek opened #3268 "Fix of issue #3080 (Sql - enable stored procedure test for different db types) misses Oracle db type"
I noticed that my fix https://github.com/apache/camel-quarkus/pull/3261 doesn't contain Oracle db. I has to be added.

[2021-11-05 11:53] JiriOndrusek commented on #3256
@ppalaga I was told recently that Oracle isn't supported at Native by Quarkus (Only JVM).

In that case my scenario with `h2` and `oracle` is also not supported at this time.

I plan to dig deeper into Oracle native support and try to find if I can help help with this problem.

[2021-11-05 11:59] JiriOndrusek commented on #3256
Blocked by https://github.com/quarkusio/quarkus/issues/20396

[2021-11-05 12:10] aldettinger opened #3270 "avro: fix the documentation about avro schema build time parsing"

[2021-11-05 13:00] ffang commented on #3225
Hi @jamesnetherton ,

I will send a PR to fix CAMEL-17128 and then re-enable this test.

Cheers
Freeman

[2021-11-05 13:09] #3270 closed

[2021-11-05 19:29] ffang opened #3274 "[camel 3.13.0]compilation failure in ftp integration test which is caused by recent SSHD upgrade in Camel 3.13"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:testCompile (default-testCompile) on project camel-quarkus-integration-test-ftp: Compilation failure: Compilation failure:
[ERROR] /Users/ffang/projects/camel-quarkus-new/integration-tests/ftp/src/test/java/org/apache/camel/quarkus/component/sftp/it/SftpTestResource.java:[33,34] package org.apache.sshd.server.scp d

[2021-11-08 15:58] llowinge opened #3276 "AWS Integration test doesn't clean bucket"
After running integration test `camel-quarkus-integration-test-aws2-s3` the bucket isn't cleaned.

[2021-11-08 20:00] #3274 closed

[2021-11-08 20:01] #3225 closed

[2021-11-09 09:01] jamesnetherton opened #3277 "[Camel 3.13.0] `MicroProfileHealthTest.testFailureThreshold` test failure"
It seems that configuring intervals and failure thresholds for individual route checks is not working as it did previously. When the test stops the route, the health status is immediately reported as `DOWN`. Where as previously the threshold would enable the check to report as `UP` for a specified period of time before reporting a failure.

[2021-11-09 15:48] zhfeng commented on #3276
Some S3 tests had not delete the objects. And it should log the WARN message
[code]
But we can not find anything like this in the console output.

[2021-11-09 20:34] ffang opened #3280 "FOP integration test failed in native mode"
the exception is like
[code]

[code]

[2021-11-09 20:40] ffang commented on #3280
This is probably mac machine specific, since per the graalvm issue comment here
https://github.com/oracle/graal/issues/2842#issuecomment-879620758
AWT isn't supported on macos yet.

I can see this problem on both main and camel-main branch.

Weird thing is that I passed all native tests on my mac weeks ago, not sure if this is caused by mac env mess-up(I installed graalvm version with JDK17 also,

[2021-11-10 08:50] ppalaga opened #3281 "Document that a maintenance branch should be created also in examples for each minor release"
We currently create tags in the examples Git repo upon Camel Quarkus releases. Because we sometimes need to fix something for a specific release of the examples, a maintenance branch `<major>.<minor>.x` would be handy.

[2021-11-10 09:38] zhfeng commented on #3249
@jamesnetherton I found there is a change in ```CodeGenContext``` which uses ```Config config``` instead of  ```Map<String, String> properties``` to read the properties in build time.
https://github.com/quarkusio/quarkus/commit/afaca21cc49064a78f79ce14345681065faf9e46#diff-093e7aa039ebc68d29ba9fe5eee571a0298831111766385c33987bd227e62962

I assume that we need to use the ```Config``` to read the pr

[2021-11-10 09:51] jamesnetherton commented on #3249
Quarkus 2.5.0.CR1 will be released some time today. So I'll be merging `quarkus-main` to `main`. So lets wait for that and any work related to cogen can continue on `main` as per normal.

[2021-11-10 09:59] lburgazzoli commented on #3249
Some random things on this topic:
- wonder if the same model can then be extended to servicenow and openapi route generator
- wonder it we can leverage camel components extension to have a generic generator at Camel level that camel quarkus can leverage

[2021-11-10 10:45] tarilabs opened #3282 "camel-quarkus-atlasmap including xercesImpl problem"
When used on Quarkus, the dependency `org.apache.camel.quarkus:camel-quarkus-atlasmap` also transitively imports `xercesImpl` and that makes my Quarkus app fail on some xml apis; to solve it, I manually exclude xercesImpl from my pom.

[code]

The error relates to missing XSD Validation property:
[code]

Which is expected by _another_ Quarkus extensions in the same Quarkus application which needs

[2021-11-10 11:12] oscerd opened #3283 "Camel-quarkus-couchbase Consumer is not working"
Suppose to run

`docker run -d --name db -p 8091-8094:8091-8094 -p 11210:11210 couchbase:6.5.1`

and to create sample bucket "beer-sample" with the sample data by creating a user admin/password

Now run a simple route

[code]

This will fail badly with

[code]

[2021-11-10 11:13] tarilabs opened #3284 "quarkus:dev NPE KafkaProcessor.configureKafkaComponentForDevServices(KafkaProcessor.java:65)"
Hi, I have a Quarkus application using Apache Camel, Kafka and couple other Quarkus extensions.

- ✅ Running the Tests with `mvn clean install` works perfectly as expected and the tests are passing.
- ✅ Running the application with the quarkus runnable jar (`java -jar target/quarkus-app/quarkus-run.jar`) is working as expected.
- ❌ What is not working is the quarkus dev mode with `mvn clean quarku

[2021-11-10 11:14] oscerd commented on #3283
This works fine on Camel-plain

[2021-11-10 12:36] zhfeng commented on #3284
I think it might be an issue in Quarkus DevServicesKafkaProcessor, see
https://github.com/quarkusio/quarkus/blob/main/extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java#L89-L96
[code]

It returns ```null``` when there is no changes with configuration which means no needs to restart the kafka container. That cause camel-quarkus-kafka `

[2021-11-10 13:01] #3276 closed

[2021-11-10 13:47] jamesnetherton commented on #3249
Yes, I was thinking the same thing. We should try to do the same for those other extensions. I can create issues for that.

I think that's the general aim. I.e have something in Camel that both the maven plugin and quarkus extension can reuse so we don't end up reinventing everything in CQ.

[2021-11-10 13:49] jamesnetherton commented on #3282
From Camel 3.13 onwards, this problem likely goes away. `atlas-dfdl-module` is experimental and is no longer included as a direct dependency of `camel-atlasmap` (it's optional).

[2021-11-11 01:28] zhfeng commented on #3284
We need to get the kafka broker from ```DevServicesLauncherConfigResultBuildItem```.

[2021-11-11 08:33] tarilabs commented on #3282
Thank you for the headsup @jamesnetherton

I understand AtlasMap works with XSD, JSONSchema, Pojos and CSV.
I tried to read about DFDL in the AtlasMap User docs but there's no mention. I search DFDL instead in the AtlasMap Dev docs but in `3.3.5. DFDL Service` seems a typo the same description of xml is actually repeated.

My question is: how can I understand if I can just remove dfdl-module altog

[2021-11-11 09:26] #3284 closed

[2021-11-11 09:27] zhfeng commented on #3284
@tarilabs feel free to check it with the main branch.

[2021-11-11 09:44] jamesnetherton commented on #3282
You can try to exclude the dfdl module from the dependency tree, but it may not work because there are a few references to the dependency in the AtlasMap Camel Quarkus extension.

[2021-11-11 11:32] #3239 closed

[2021-11-11 13:15] JiriOndrusek opened #3289 "Debezium tests are using JUnit 4 Assertions and Assumptions"
There are old JUnit assertion in debezium tests. See i.e. https://github.com/apache/camel-quarkus/blob/main/integration-tests/debezium/src/test/java/org/apache/camel/quarkus/component/debezium/common/it/sqlserver/DebeziumSqlserverTest.java#L33-L34

[2021-11-11 15:15] jamesnetherton commented on #3283
I adapted the Camel [csimple example](https://github.com/apache/camel-examples/tree/main/examples/csimple) with the route mentioned above and observed the same issue. Whenever Jackson is added to the classpath, it triggers the error.

[2021-11-11 15:17] oscerd commented on #3283
I'll try again the kamelets using Jackson just for confirmation.

[2021-11-11 15:18] oscerd commented on #3283
Thanks for checking

[2021-11-11 15:53] #3289 closed

[2021-11-11 16:28] #3268 closed

[2021-11-12 05:54] oscerd commented on #3283
ah ok, now I'm getting your message. If you run this https://github.com/apache/camel-examples/tree/main/examples/couchbase-log

The error we are seeing on camel-quarkus is not showing up and the route is the same. This is true with 3.13.0-SNAPSHOT and 3.11.1/3.11.2

So I'm not sure this is a problem on plain camel

[2021-11-12 07:03] oscerd commented on #3283
Btw with csimple adapted I don't have errors

[code]

and the route is

[code]

[2021-11-12 07:04] oscerd commented on #3283
cc @davsclaus

[2021-11-12 07:40] jamesnetherton commented on #3283
Sorry - maybe I confused things here a bit. I only chose csimple because it was easy to hack and add couchbase. I didn't see the couchbase-log example.....

The underlying issue is with adding Jackson libs to the classpath (E.g via `camel-jackson`). If you do that on CQ or plain Camel, it makes the application fail. Without it, things run ok.

[2021-11-12 08:40] oscerd commented on #3283
In csimple example I added the camel-jackson dep and It didn't fail for me.

[2021-11-12 08:44] jamesnetherton commented on #3283
Add `camel-jackson` to the `couchbase-log` example and watch it fail.

[2021-11-12 08:46] oscerd commented on #3283
Oh, silly me. I was under the impression you were using the csimple example as is. Sorry for that.

[2021-11-12 08:46] oscerd commented on #3283
Let me see what is happening

[2021-11-12 08:55] oscerd commented on #3283
In 3.1.4 couchbase client is using jackson-databind 2.12.2 and in 3.2.0 2.12.3, while Camel 3.13.x is using 2.12.4 and Camel 3.11.x is using 2.12.3.

It's weird.

[2021-11-12 09:10] oscerd commented on #3283
Excluding jackson-databind from camel-jackson, make it works.

Ok they're shading databind.

[2021-11-12 09:11] oscerd commented on #3283
Thanks @jamesnetherton

Definitely not a problem of camel or camel-quarkus.

[2021-11-12 09:11] #3283 closed

[2021-11-12 10:05] ppalaga commented on #2989
The usage of Quarkus client is documented now: https://camel.apache.org/camel-quarkus/next/reference/extensions/aws2-ddb.html#_optional_integration_with_quarkus_amazon_dynamodb

The batch consumer paragraph was removed from Camel docs while it does not work https://github.com/apache/camel/commit/2fa2758fd921550157616cc821897498a5d530e2

Hence this issue can be closed.

[2021-11-12 10:05] #2989 closed

[2021-11-12 11:54] JiriOndrusek opened #3294 "Cannot run debezium tests against alternative BOMs"
Similar problem as https://github.com/apache/camel-quarkus/issues/3258 happens with debezium.

[2021-11-12 12:14] #3281 closed

[2021-11-12 13:03] zbendhiba opened #3296 "Use InfinispanTestResource in the Infinispan integration tests"
Quarkus 2.5.Final is introducing newer version of Infinispan but also the Infinispan test resource. It could be relevant to use this testing class helper in our test integration class
More information here : https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/infinispan-client.adoc#testing-helpers

[2021-11-12 13:15] zbendhiba commented on #3282
I will look at this. thanks @tarilabs

[2021-11-12 14:19] #3259 closed

[2021-11-13 20:46] zbendhiba commented on #3189
Finally found out why it fails. Monday, I'll propose a Substitution for next release and see how we could fix this in Atlasmap. I'll address also the changes needed to be done for  this release : jandex for instance.
This is [the problematic line](https://github.com/atlasmap/atlasmap/blob/15d9e76f743ce67438316e28bf3c7d6a79a50513/lib/core/src/main/java/io/atlasmap/core/DefaultAtlasCompoundClassLoad

[2021-11-14 19:41] davsclaus commented on #3129
Closing as latest camel-quarkus is upgraded to Camel 3.12

[2021-11-14 19:41] #3129 closed

[2021-11-14 19:45] davsclaus commented on #3155
That is expected as the 2 route builders are not sharing onException.

In Camel 3.12 onwards you can use route configurations to share error handling to all route builder classes
https://camel.apache.org/manual/route-configuration.html

[2021-11-15 06:46] zhfeng commented on #3189
@zbendhiba I think it needs to raise an issue on Quarkus to get their feedback ? and if you can narrow down it out side of Atlasmap, e.g. a reproducer only use ```LinkedHashSet```, that could be very helpful for investigating.

[2021-11-16 08:57] ppalaga commented on #3189
I'd say it works as designed in native mode and it is hard to even conceive that it could work differently. Just think of it: what is the native executable produced by `native-image`? It is a BLOB containing a minimal VM plus the whole application code. There are no separate jars there. So the classpath has to be flat and all resources have to be accessible through a single classloader.

[2021-11-16 09:50] ppalaga commented on #3189
It looks like AtlasMap is making an assumption about `java.lang.ClassLoader.getResources(String)` that does not hold for the native mode. Possible fix strategies that come to my mind:

* Compute URL equality based on content returned via URL.openStream() instead of URL.hashCode() & URL.equals()
* Check whether some Identity Set implementation would work as expected in both JVM and native mode. Jus

[2021-11-16 11:39] zbendhiba commented on #3189
Well, it would be easy if we can easily change the Classloader too. As we won't have this list of possible Classloaders..
I tried to do it using this work done here : [atlasmap-2704](https://github.com/atlasmap/atlasmap/issues/2704,) but it is still complex. There are different places, and ways to create the classloader, the context ... So I fixed at some point some tests, and had others still fai

[2021-11-16 14:32] aldettinger commented on #2978
The default case where camel main is enabled is ok. Under the hood, we use a RoutesConfigurer that ultimately adds the discovered routes in the right order, i.e. route configurations before classical route builders. This is the case in all current itests and the re-ordering is happening correctly.

The case where camel main is disabled in another beast. The route builders order depends upon a mix

[2021-11-16 17:17] ppalaga opened #3302 "Better control what we manage in our BOM"
Issues with the current setup:

1. Third party BOMs like Azure or Debezium may import tons of stuff none of our extensions needs
2. Two third party BOMs (e.g. Azure vs. Debezium) may both partly manage some group (e.g. io.dropwizard.metrics) in different versions which may lead to inconsitencies and incompatibilities in our own effective BOM
3. Our own entries in the BOM may become stale (no exten

[2021-11-16 17:18] ppalaga commented on #3302
This came up as a result of the discussion in https://github.com/quarkusio/quarkus-platform/pull/371/files#r749595546

[2021-11-17 09:39] davsclaus commented on #2978
When would camel main be disabled or enabled?

For Camel K I would assume we boot with camel main.
And for regular quarkus with Camel then end users can choose?

[2021-11-17 10:21] aldettinger commented on #2978
I think end users could choose by explicitly setting `quarkus.camel.main.enabled = false`. There is a [single deployment test](https://github.com/apache/camel-quarkus/blob/main/extensions-core/core/deployment/src/test/java/org/apache/camel/quarkus/core/deployment/main/DisabledMainTest.java#L58) for this in camel quarkus as of today, so it may be a corner case.

Anyway, when `quarkus.camel.main.ena

[2021-11-17 12:34] jamesnetherton opened #3307 "Docs module fails to build"
Seems there's been a few changes to the Camel docs which have impacted CQ.

There's a long discussion about it here https://github.com/apache/camel-quarkus/pull/3299.

There's a proposed solution here https://github.com/apache/camel-quarkus/pull/3304 along with the recommendation that it's not actually applied.

So that leaves us in a state that given we seem to have no permanent or maintainable f

[2021-11-17 16:01] #2578 closed

[2021-11-17 16:01] #3189 closed

[2021-11-18 10:15] zbendhiba commented on #2872
I've opened these 2 PRs to bump versions from Quarkus BOM

- Nimbus: https://github.com/apache/camel-quarkus/pull/3309
- stimzi kafka-oauth-client : https://github.com/apache/camel-quarkus-examples/pull/62

Working on a proper integration test

[2021-11-19 10:46] jamesnetherton opened #3312 "[Camel 3.14.0] Kafka integration test never completes"
Not sure what's going on here but the Kafka integration test seems to get stuck with the console logs being filled with messages like:

[code]

A similar thing can be observed on the other Kafka itests, but some how they end up passing ok.

For now I'm disabling the problematic test.

[2021-11-19 20:06] ffang commented on #3280
Disable this itest on mac
https://github.com/apache/camel-quarkus/pull/3314

[2021-11-21 16:15] piba84-lx opened #3315 "Apache Drill Unable to start"
Dear team,
I'm using camel-quarkus v 2.3.1. And trying to connect to Apache Drill but getting an error.
I cannot get it to work properly.

I've created the datasource in the application properties file as follow
[code]

In the POM I've included
[code]

When I start the application I keep getting the following warning:
[code]

I honestly don't know how to fix it / how to make it work.
I'd think thi

[2021-11-22 07:32] #3280 closed

[2021-11-22 09:10] jamesnetherton commented on #3315
I'm no expert with Drill, but I don't think creating a `DataSource` is the way to work with the camel-drill component. Take a look at the documentation:

https://camel.apache.org/components/3.13.x/drill-component.html

[2021-11-22 09:50] jamesnetherton commented on #2534
Out of date since we no longer use the `quarkus-google-cloud-services` extensions.

[2021-11-22 09:50] #2534 closed

[2021-11-22 09:51] jamesnetherton commented on #2526
Out of date since we no longer use the `quarkus-google-cloud-services` extensions.

[2021-11-22 09:51] #2526 closed

[2021-11-22 14:02] #3179 closed

[2021-11-22 16:17] jamesnetherton opened #3318 "Document that `vertx-websocket` consumers run on the Quarkus Vert.x web server"
The docs are missing this piece of information, so we should add it.

We could maybe consider lifting this restriction. When I originally wrote the extension I figured it was more optimal to leverage the existing Quarkus Vert.x router like we do with `platform-http`.

[2021-11-23 13:13] ppalaga opened #3321 "camel-quarkus-support-* source JARs should have manifests"
Originally reported as https://issues.redhat.com/browse/ENTESB-17860

The source jar for the following artifacts is created without `META-INF/MANIFEST.MF`:

* `camel-quarkus-support-spring-beans`
* `camel-quarkus-support-spring-context`
* `camel-quarkus-support-spring-core`

They are all created using maven shade plugin.

[2021-11-23 14:49] ffang opened #3323 "[JDK17]integration test failed in native mode on Mac which depends on quarkus-awt feature"
Errors like
[code]

This only happens with JDK17: GraalVM 21.3.0 Java 17 CE (Java Version 17.0.1+12-jvmci-21.3-b05), on JDK11 it's good.

And from the error message I believe it's mac osx specific

[2021-11-23 14:52] ffang commented on #3323
The same issue reported on quarkus side very recently
https://github.com/quarkusio/quarkus-quickstarts/issues/989

[2021-11-23 15:00] ffang commented on #3323
I tried to add class sun.lwawt.macosx.CInputMethod as RuntimeInitializedClassBuildItem for camel-xml-jaxb and this can fix it.

But this commit
https://github.com/quarkusio/quarkus/pull/21566/commits/918d4c36be669b8c110c24490b73a041436e77d8
can fix it from quarkus-awt extension, so next time once we upgrade the quarkus version to pick up the fix, this test in camel-quarkus should be also ok.

I wi

[2021-11-23 15:33] ffang opened #3325 "[JDK17]integration tests failed in native mode which uses JMX"
get error like
[code]

This is error is on JDK17 only(but I believe this issue occurs on all OS), JDK11 it's OK.

Looks like we need to add add-opens/add-exports java.management/sun.management=ALL-UNNAMED JVM flag somewhere to make package sun.management more accessible when building the native image

[2021-11-23 15:40] ffang commented on #3325
Ah, nice, we have the similar issue reported and fixed at quarkus already
https://github.com/quarkusio/quarkus/issues/21372

And this commit https://github.com/quarkusio/quarkus/pull/21408/commits/dc9a6ec5593928ac58681d21de8bc6a8a3de483f fixed it from quarkus-core when building the native image

[2021-11-23 15:47] ffang commented on #3325
This also affects atlasmap native test

[2021-11-23 16:37] ffang commented on #3323
affected tests
azure-grouped
main-xml-jaxb

[2021-11-23 16:40] #3277 closed

[2021-11-23 17:16] ppalaga commented on #3321
The manifests should contain at least “Implementation-Version” and “Specification-Version” entries.

[2021-11-23 19:05] ffang opened #3326 "[JDK17]integration test failed in native mode caused by unresolved type during parsing: sun.security.krb5.Credentials"
[code]

This is JDK17 specifiic and should occur on all OS

[2021-11-23 19:06] ffang commented on #3326
affected tests
debezium

We can fix it by adding property <quarkus.native.additional-build-args>-J--add-exports=java.security.jgss/sun.security.krb5=ALL-UNNAMED</quarkus.native.additional-build-args> in native profile

[2021-11-24 08:05] JiriOndrusek opened #3327 "Sql derby - test exernal db if possible, remove workaround because of quarkus issue #21639"
Follows https://github.com/apache/camel-quarkus/issues/3260

1. It should be investigated whether it is possible to run stored procedure est with external derby db
2. Issue https://github.com/quarkusio/quarkus/issues/21639 is already fixed, workaround (profile) can be removed.

[2021-11-24 08:23] #2151 closed

[2021-11-24 11:24] aldettinger commented on #2978
I've re-ordered the route additions to the camel context and it's now working even when main is disabled.

[2021-11-24 11:24] #2978 closed

[2021-11-24 11:37] jamesnetherton opened #3329 "Camel Quarkus Kafka extension dev services support should check for the availability of `kafka.bootstrap.servers`"
I stumbled over this by accident because my local Docker / Podman configuration was screwed up. Meaning the Dev Services Kafka container could not start. Thus `kafka.bootstrap.servers` was not available.

[code]

[2021-11-24 13:45] #3329 closed

[2021-11-24 15:58] ffang opened #3332 "[JDK17]Optaplanner integration test failed in native mode"
Get error
[code]

[2021-11-24 16:01] ffang commented on #3332
Affected tests

- optaplanner

We can fix it at camel-quarkus side by specify quarkus.native.additional-build-args
-J--add-opens=java.base/java.text=ALL-UNNAMED

Or this can be addressed at quarkus side, there is already a ticket to track it https://github.com/quarkusio/quarkus-quickstarts/issues/993(not fixed yet)

[2021-11-24 16:03] #3321 closed

[2021-11-24 16:45] zbendhiba commented on #3332
@ffang Note that we are way behind the Optaplanner version used in Quarkus quickstarts, and Quarkus platform. Check this pending PR https://github.com/apache/camel-quarkus/pull/331

[2021-11-24 16:56] ffang commented on #3332
Thanks @zbendhiba ,  and I guess you mean https://github.com/apache/camel-quarkus/pull/3311, right?

But no matter what the optaplanner version is used(8.9 or 8.13), they both have this issue with JDK17. The root cause of this issue is from the com.thoughtworks.xstream with jdk17(when option --illegal-access=permit was removed from JDK17)

Freeman

[2021-11-24 17:26] ffang opened #3333 "[JDK17]spring integration tests failed in native mode"
[code]

[2021-11-24 17:28] ffang commented on #3333
affected tests

- spring-rabbitmq

And this is caused by a known graalvm issue
https://github.com/oracle/graal/issues/3870

[2021-11-25 10:43] #3243 closed

[2021-11-25 13:28] ppalaga opened #3335 "Ban com.google.code.findbugs:jsr305 unconditionally"
`com.google.code.findbugs:jsr305` is a pure dev UX dependency that might be useful when compiling code containing those annotations, but is completely useless when it is only a transitive dependency.
We exclude it where we can in Camel Quarkus, but we still need to fix some holes.

We should ban it via enforcer plugin or similar

See also https://github.com/quarkusio/quarkus-platform-bom-generator

[2021-11-25 15:00] JiriOndrusek commented on #3327
@ppalaga @aldettinger
I'm investigating a possibility of running stored procedure test on external derby db. I now see that it would need to require  manual steps from user:

1. Jar with stored procedure has to be uploaded into the external file system, which db has access to. Then it is possible to add the jar into db classpath and then execute it as a stored procedure.
2. Another possible compli

[2021-11-25 15:01] jamesnetherton commented on #3190
For this to work, we'd have to add a dependency on `quarkus-grpc`, since that's where the code generator logic lives. Our gRPC extension depends only on `quarkus-grpc-common`.

I guess we could add  `quarkus-grpc` into the itest pom.xml, but I'm not sure if that's the right thing to do. Ideally we want to verify that our stuff works without that dependency being on the classpath.

Or we could requ

[2021-11-25 15:08] zhfeng commented on #3190
@jamesnetherton I think it only needs to add ```quarkus-grpc-codegen``` in itest since this is used in build time.

[2021-11-25 15:15] jamesnetherton commented on #3190
Oh I totally missed that! Thanks @zhfeng. We can probably add it to the deployment part of our gRPC extension.

[2021-11-25 15:21] zhfeng commented on #3190
yeah, exactly !

[2021-11-25 16:14] aldettinger commented on #3327
I think the jar would not forcely need to be rebuilt by quarkus, it could be stored as is in github. But then we should maybe have one compiled in java 8 and one in java 11. If it' s not possible to automate the db setup, then a test is pointless from my point of view.

Maybe we could find a docker image with a java stored proc already configured ? And just ensure that camel-quarkus can call it.

[2021-11-25 20:37] #3335 closed

[2021-11-26 07:25] JiriOndrusek commented on #3327
@aldeinger it might be possible to use docker image (I suppose), upload jar there and test it. (I was able to do it manually with docker derby). I will try to automatize the process. With docker based test, we will use external derby db, even if it is not users's own derby. It should make coverage bigger. Thank you for suggestion!

[2021-11-26 07:43] jamesnetherton commented on #3190
In its current form the gRPC codegen is not usable for us. The generated proto stubs are built around the Quarkus gRPC programming model and they reference classes like `io.quarkus.grpc.runtime.MutinyService`.

[2021-11-26 09:56] JiriOndrusek commented on #3327
TODO make sure that tests with external dbs don't start devServices - it is not needed.

[2021-11-26 15:51] ffang opened #3340 "[JDK17]kudu:integration test failed in native mode"
[code]

[2021-11-26 15:53] ffang commented on #3340
there's
[code]
for maven-failsafe-plugin in JVM mode, we should add it in native profile as well

[2021-11-26 15:58] ffang commented on #3340
PR to address it
https://github.com/apache/camel-quarkus/pull/3341

[2021-11-26 17:58] ppalaga commented on #2605
We have split the old messaging test in between, but IIRC, grouping is not possible, because those tests have mutually incompatible deps (esp. message broker adapters). So I guess we can close this one, @jamesnetherton?

[2021-11-26 18:11] ppalaga commented on #1684
In between we started using `@sync` annotation in the top pom.xml. The annotated props can then be update by running `mvn cq:sync-versions -N` manually. I think we can close this issue.

[2021-11-26 18:15] ppalaga opened #3342 "Run integration tests on Windows"
Related https://github.com/apache/camel-quarkus/issues/1429

[2021-11-26 18:16] ppalaga opened #3343 "Test examples on Windows"
Related https://github.com/apache/camel-quarkus/issues/1429

[2021-11-26 18:18] #904 closed

[2021-11-26 18:29] ppalaga commented on #723
We might want to check whether https://github.com/sormuras/junit-platform-maven-plugin could serve us as a replacement of surefire and/or failsafe plugins.

[2021-11-26 18:36] ppalaga opened #3344 "Figure out the relationship with Quarkus AWS extensions"
Reasons for depending on Quarkus AWS extensions:

* Re-use of their native configuration
* Better quality by relying on their tests and battle-testing by their community

Concerns:

* We do not want to be forced to use their configuration; each client must be configurable programmatically; none of their config props should be required

[2021-11-26 18:40] ppalaga opened #3345 "Reduce dependence on extensions backed by Spring"
We should work towards having vert.x/netty/... alternative components in Camel and using those instead of the ones that rely on Spring.

Why: our Spring hacks are hard to maintain.

[2021-11-26 18:41] ppalaga commented on #3345
@jamesnetherton please feel free to reword

[2021-11-26 18:44] ppalaga opened #3346 "Better integration with Quarkus OpenAPI & OpenAPI Swagger UI"
- [x] #3251
- [x] #383

[2021-11-26 18:44] ppalaga commented on #3346
@jamesnetherton could you please add a sentence of description?

[2021-11-26 19:05] jamesnetherton commented on #2605
Yes, I'll close.

[2021-11-26 19:05] #2605 closed

[2021-11-29 17:07] ppalaga opened #3347 "Manage camel-quarkus-catalog in camel-quarkus-bom to allow Camel K to use Quarkus Platform BOMs"
It might be practical for Camel K to rely on Quarkus Platform BOMs instead of Camel Quarkus BOM, mainly to be able to consume security updates that are available only via Quarkus Platform.

To make this possible, we need to:

~~1. Manage org.jooq:joor in Camel Quarkus BOM~~
~~2. Pass camel-quarkus-integration-test-java-joor-dsl to the platform in spite it is JVM-only (the platform will have to be

[2021-11-29 17:25] ppalaga commented on #3302
4. We should get more control over the transitive dependencies. We should probably manage as much as possible, perhaps on cost of removing some extensions that are hard to adapt. E.g. our extensions are currently pulling as much as six different versions of `org.xerial.snappy:snappy-java`. It could probably be one by managing it properly in our BOM.

[2021-11-30 08:05] JiriOndrusek commented on #3179
@iqnev It is possible to set graceful shudown via property
[code]
or via camel context.
[code]

In development mode `NoShutdownStrategy` is used.

[2021-11-30 08:48] iqnev commented on #3179
@JiriOndrusek Thanks! I will try it.

[2021-11-30 09:37] jamesnetherton opened #3348 "Bindy extension should avoid hard coding the resource path for `NativeImageResourceDirectoryBuildItem`"
The Bindy extension hard codes the resource path for a required `NativeImageResourceDirectoryBuildItem`:

https://github.com/apache/camel-quarkus/blob/main/extensions/bindy/deployment/src/main/java/org/apache/camel/quarkus/component/bindy/deployment/BindyProcessor.java#L54

Meaning that each time the `Icu4j` dependency is upgraded, the path needs to be changed.

[2021-11-30 09:51] ppalaga commented on #3302
4.1: We must manage all `org.apache.camel:camel-*` transitives. We currently miss `org.apache.camel:camel-cluster` and `org.apache.camel:camel-http-base`

[2021-11-30 09:53] zbendhiba opened #3350 "Update Release Guide"
Hello,

I've had done some additional steps, regarding what we have  in the release guide here : https://camel.apache.org/camel-quarkus/next/contributor-guide/release-guide.html

And this is how I'd love to update the release guide :

- When we generate the 2.6.x branch. Before pushing the branch, we need to update the antora version, but also scripts (as we push a snapshot version. See this commi

[2021-11-30 20:42] djencks commented on #3350
In general we can’t predict how many older version need to be kept on the website: it depends on what other subprojects are referencing them.  I’m going to try to make this really explicit, as I proposed on the mailing list.

I’m also going to try to update the user-manual release-guide-website.adoc page to cover the website changes needed for subproject releases since they are basically the same

[2021-12-01 07:55] jamesnetherton commented on #3312
This seems to have been fixed - probably by [CAMEL-17245](https://issues.apache.org/jira/browse/CAMEL-17245).

[2021-12-01 07:55] #3312 closed

[2021-12-02 16:12] ppalaga commented on #3350
Could you please explain why the replacement from `version: 2.5.x` to `version: latest`?

There is `commit-release-changes` profile https://github.com/apache/camel-quarkus/blob/main/pom.xml#L972-L1026 that is active for both the release commit and the commit after: https://github.com/apache/camel-quarkus/blob/main/pom.xml#L331-L332
You may want to make `tooling/scripts/update-antora-yaml.groovy` b

[2021-12-02 22:12] mnhlvsk opened #3353 "SecurityIdentity is not propagated to Camel route"
Hi guys,

I'm trying to use SecurityIdentity with Quarkus Camel, but can't get it working. Always getting an exception ContextNotActiveException when I call SecurityIdentity. Could you please help me how to solve it?

application.properties:

[code]

Route:

[code]

Processor:

[code]

[2021-12-02 22:21] ppalaga opened #3354 "Ban junit 4"
Hopefully we can do what Quarkus does since at least 2.0:

[code]

plus we should ban `junit:junit` via enforcer plugin.

[2021-12-03 04:37] djencks commented on #3350
I've proposed updating the instructions on updating the website after a release in https://github.com/apache/camel/pull/6497.  I think the instructions are now generic and apply to all subprojects: feedback k appreciated.

Apache policy is that the downloads page only show artifacts that are undergoing continued development.  For camel subprojects I believe this means any number of LTS releases bu

[2021-12-03 08:29] jamesnetherton commented on #2483
The `vertx-kafka` component has been [labelled as deprecated](https://github.com/apache/camel/commit/3eb46d5146d44b7f3ec06317b87bb1402e2e6ab4), so it's probably not worth investing any further time in this extension.

[2021-12-03 08:29] #2483 closed

[2021-12-03 11:10] jamesnetherton commented on #3353
This does indeed seem to be broken for `platform-http`. Even when forcefully activating the request context with ` @ActivateRequestContext`, the `SecurityIdentity` details are empty.

As a workaround you can try using `camel-quarkus-servlet`. `SecurityIdentity` should then work correctly.

[2021-12-03 12:35] jamesnetherton opened #3355 "Remove CI workflow steps to install `yq`"
`yq` is now part of the installed software on the CI VM, so there's no longer any need to download and install it manually. The current version is `4.15.1` so we need to check whether the bits that use `yq` still work properly with that.

[2021-12-06 09:46] aldettinger opened #3356 "aws-lambda: itest failing when run against the real AWS API"
The test is too much sensible against the time it takes to create the initial lambda function. Thus, messing up with statuses.

[2021-12-06 10:41] #3356 closed

[2021-12-06 11:46] jamesnetherton commented on #2425
Can we not make `camel.main.eager-classloading = true` the default on the Camel side? Then there'd effectively be no work required in CQ given that the Camel Main bootstrapping is already done at build time.

[2021-12-06 12:37] davsclaus commented on #2425
Yeah its something that makes sense for camel-main based apps to have.

There is more work needed in core to optimize for eager loading in some of the EIPs - Have not had the time to do that.
Fell free to close this ticket.

[2021-12-06 16:19] jamesnetherton opened #3358 "`vertx-kafka` extension incompatible with `kafka-clients` 3.0.0"
Quarkus 2.6.0 uses `kafka-clients` 3.0.0 and the vertx-kafka itests show:

[code]

There's an open issue to update the `vertx-kafka-client` here:

https://github.com/vert-x3/vertx-kafka-client/issues/207

For now, I'll be disabling the vertx-kafka tests & native image build as I don't see a simple workaround to get things working.

We should consider removing this extension. Camel 3.14 has marked

[2021-12-06 16:37] davsclaus commented on #3358
yeah it can be removed, everybody uses the regular camel-kafka component

[2021-12-07 13:07] bvahdat opened #3360 "Using camel-quarkus-xslt-saxon in native mode ends up with java.lang.NoSuchMethodException at runtime"
Starting a natively built Camel integration with the following setup:

Quarkis: `2.5.0.Final`
JDK: `GraalVM CE 21.3.0`
Maven: `3.8.3`

Where there´s a usage of `xslt-saxon` producer ends up with the following error at start-up:

[code]

Running the same integration without native build starts and works as expected.

Following the relevant dependencies:

[code]

Also the first line of the output lo

[2021-12-07 13:09] ppalaga opened #3361 "Ban com.sun.activation:javax.activation"
Quarkus manages both jakarta.activation:jakarta.activation-api and com.sun.activation:jakarta.activation and I guess we want to keep using these two and ban com.sun.activation:javax.activation.
We can also ban `javax.activation:activation` in favor of `com.sun.activation:jakarta.activation`.

[2021-12-07 14:14] ppalaga opened #3363 "Ban geronimo-jms_*_spec"
`geronimo-jms_*_spec` can be replaced by ` jakarta.jms:jakarta.jms-api:2.0.3`

[2021-12-07 14:28] ppalaga opened #3364 "Ban javax.enterprise:cdi-api in favor of jakarta.enterprise:jakarta.enterprise.cdi-api"

[2021-12-07 23:13] #3361 closed

[2021-12-08 07:41] jamesnetherton commented on #3353
There's a change coming in Camel 3.14.0 that should help with this scenario. In the `platform-http` route processor you will  be able to do:

[code]

Then you can access the `Principal` on the `user` object.

[2021-12-08 11:02] zbendhiba commented on #1188
Had some tests with 1.0.0-alpha.1. Raised an issue : [quarkus-couchbase-5](https://github.com/couchbaselabs/quarkus-couchbase/issues/5)

[2021-12-08 12:33] jamesnetherton opened #3366 "[Quarkus 2.6.0.Final] Remove `software.amazon.awssdk:apache-client` dependency override"
In Quarkus 2.6.0.CR1 there's an invalid dependency declaration in `quarkus-bom` for the AWS `apache-client`.

So for now, I've worked around it by specifying the dependency in our own BOM.

When 2.6.0.Final is available, we should be able to remove it.

[2021-12-08 13:19] zbendhiba commented on #1188
The result of my tests against our CI: (PR : https://github.com/apache/camel-quarkus/pull/3365)
The Couchbase tests are fine. First time, we do have some tests working on JVM mode. And they work also on native mode.
We just need to look for bug fixes and improvements, to be able to use it in the future. (see my previous comment)

[2021-12-08 18:54] juangon opened #3369 "[Quarkus 2.5.1.Final] Camel exception when using jsonpath after unmarshalling in quarkus native"
When using jsonpath inside a Camel RouteBuilder on Quarkus NATIVE mode (it works fine in JVM mode),  it throws this exception:

[code]

It looks like it actually (silently) fails in the previous step when unmarshalling. Code:

[code]

camel quarkus dependencies:

[code]

I already registered the POJO for reflection:

[code]
[code]

[code]

Using Quarkus 2.5.1.Final.

Thanks very much in advance!

[2021-12-09 01:51] zhfeng commented on #3249
raise upstream [CAMEL-17306](https://issues.apache.org/jira/browse/CAMEL-17306) to refactor the DTO generation codes.

[2021-12-09 09:04] jamesnetherton commented on #3302
In general I see a lot of the BOM imports as being quite problematic. Especially since the ones for the third party extensions import `quarkus-bom`.

Currently we have this mix of `quarkus-bom` versions being resolved in the build:

1.3.3.Final
2.0.0.Final
2.1.0.Final
2.2.3.Final
2.5.0.Final
2.5.1.Final
2.6.0.CR1

The main issue is that if something is removed from `quarkus-bom`, it ends up being

[2021-12-09 11:23] ppalaga opened #3372 "Exclude maven-artifact from camel-quarkus-debezium-mongodb"
We have that exclusion in all other `camel-quarkus-debezium-*` extensions.

[2021-12-09 13:06] #2606 closed

[2021-12-09 14:33] #3372 closed

[2021-12-09 14:58] bvahdat opened #3374 "XSLT integration-test fails on Windows 10"
Running the tests by the following repo on Windows:

https://github.com/bvahdat/code-with-quarkus

fails with:

[code]

But not on macOS!

Or you could also run the following tests which is exaclty the same codebase as above:

https://github.com/apache/camel-quarkus/tree/main/integration-tests/xml

[2021-12-09 17:15] ppalaga opened #3375 "Remove com.amazonaws:aws-java-sdk-swf-libraries from the BOM"
Remove com.amazonaws:aws-java-sdk-swf-libraries from the BOM as they do not seem to be used anywhere anymore. `${awssdk1-swf-libs.version}` is undefined anyway.

[2021-12-10 13:14] ppalaga opened #3377 "Ban log4j-core and log4j-slf4j-impl"
There is https://access.redhat.com/security/cve/CVE-2021-44228 in log4j-core

The main point is that log4j-core is not needed on Quarkus at all.

On Quarkus, jboss logmanager is used as a logging backend.

Apps and libs may choose to use log4j as a logging facade to pass their log messages, but my understanding is that log4j-core is not needed in that case.

log4j-api should be enough.

Hence we c

[2021-12-10 14:12] #3375 closed

[2021-12-10 15:24] radio042 opened #3379 "Testing transacted routes with Quarkus and CamelTestSupport fails"
Dear all,

I have problems testing routes with CamelTestSupport in a Quarkus project when a transacted() definition is part of the route.

**Describe the bug**

The exchanges do not seem to reach the endpoints, when "transacted()" is part of the route.

Snippets:

- Route:
[code]
- Test:
[code]

Here's a Gist of my test setup and the pom.xml: https://gist.github.com/radio042/b71717d5634eaa634c9aff

[2021-12-10 15:56] zhfeng commented on #3379
Well, I think we've not support the ```CamelTestSupport``` yet with Camel Quarkus. Is there any reason you can not use ```QuarkusTest``` for running this test ?

[2021-12-10 16:38] radio042 commented on #3379
I can, but I'm getting the same behavior when annotating the Class with `@QuarkusTest`.

[2021-12-10 16:50] zhfeng commented on #3379
Please check with our [JtaTest](https://github.com/apache/camel-quarkus/blob/main/integration-tests/jta/src/test/java/org/apache/camel/quarkus/component/jta/it/JtaTest.java), or you can get more details about how to write a test with Quarkus from https://quarkus.io/guides/getting-started-testing

[2021-12-10 17:25] zhfeng commented on #3374
It's weird. These classes could be pre-compiled and write into the tempory directory. see https://github.com/apache/camel-quarkus/blob/main/extensions/xslt/deployment/src/main/java/org/apache/camel/quarkus/component/xslt/deployment/XsltProcessor.java#L88

Can you check in the windows tempory directory to see if .class files exists ? unfortunately I have no windows environment to test it locally.

[2021-12-10 18:28] radio042 commented on #3379
Thanks for the links! The thing is, I am trying to test a camel route that has the `transacted()` definition, not transactions in general. The test would work once "transacted()" is commented out, so I assume that either the test setup is incomplete or the combination "Quarkus + CamelTestSupport + `transacted()`" does not work as I expect.

By the way, is this the right place to raise the issue? I

[2021-12-10 20:56] #3377 closed

[2021-12-10 22:19] #3340 closed

[2021-12-11 00:48] zhfeng commented on #3360
yeah, I think there is https://github.com/apache/camel-quarkus/issues/1615 to add native support in ```xslt-saxon```. The contribution is welcome.

[2021-12-11 02:43] zhfeng commented on #3379
I understand and just create a [camel-test-demo]( https://github.com/zhfeng/camel-test-demo) to show how to use ```CamelTestSupport``` in camel-quarkus. Hope it is useful !

Free feel to give some feedback.

[2021-12-11 02:44] zhfeng commented on #3379
I'm not sure this is a good way but it just works.

[2021-12-11 09:25] bvahdat commented on #3374
Thanks for your support @zhfeng. I checked on 2 different Windows machines and the behaviour is the same:

The temp directory points to `C:\Users\MY_NAME\AppData\Local\Temp` folder and unfortunately there is no classes being generated there. As the tests get executed I only see the following folder being quickly generated while tests are running and removed afterwards:

- `hsperfdata_MY_NAME` whic

[2021-12-11 09:29] bvahdat commented on #3360
Yeah you're right, that's why I gave a try with pure `xstl` having native support, but currently stuck through https://github.com/apache/camel-quarkus/issues/3374.

[2021-12-11 13:03] zhfeng commented on #3374
OK, I think I found an issue in ```XsltProcessor``` which should use ```File.pathSeparatorChar``` but no ```'/'```.

[2021-12-11 13:11] zhfeng commented on #3374
@bvahdat can you test this fix to see if it works on windows ? Thanks !

[2021-12-11 16:57] radio042 commented on #3379
Perfect, this solved my problem! Thanks a lot. :) I think it's a good solution, after all it does not matter which specific CamelContext instance a test uses.

[2021-12-11 16:57] #3379 closed

[2021-12-11 20:42] bvahdat commented on #3374
Thanks, I'm looking into it right now, unfortunately on Windows building camel-quarkus locally with:

`mvn  clean install -Dquickly`

is failing for me by the `camel-quarkus-docs` artifact:

[code]

https://github.com/apache/camel-quarkus/issues/3307 seems to be relevant in this regard.

[2021-12-11 20:47] bvahdat commented on #3374
Ah just removing the following lines helped me to bypass the error above:

https://github.com/apache/camel-quarkus/blob/main/docs/pom.xml#L36-L54

[2021-12-11 20:58] bvahdat commented on #3374
Awesome job @zhfeng, that was indeed the root cause of the issue we were facing on WIndows. Now running tests behave differently with just the following assertion failure:

[code]

Which corresponds to the following lines:

https://github.com/apache/camel-quarkus/blob/main/integration-tests/xml/src/test/java/org/apache/camel/quarkus/component/xml/it/XmlTest.java#L93-L97

Which I could quickly fix

[2021-12-12 11:50] zhfeng commented on #3374
Thanks @bvahdat for checking - yeah, I can add this fix for ```XmlTest``` in https://github.com/apache/camel-quarkus/pull/3380.

[2021-12-12 12:10] zhfeng commented on #3342
@ppalaga I think https://github.com/apache/camel-quarkus/issues/3374 should be related to ```camel-quarkus-integration-test-xml``` and in gerneral can we leverage the windows build with ```github action``` ?

[2021-12-12 15:11] zhfeng commented on #3369
@juangon are you trying with the lastest codebase ? and I think it has been upgraded to Quarkus 2.6.0.CR1. And if you have a simple reproducer to show this issue in native mode, I'd like to take a look.

[2021-12-13 00:50] #3374 closed

[2021-12-13 15:13] zbendhiba opened #3381 "Use the Quarkiverse Artemis BOM and upgrade to 1.0.2"
artemis versions has been moved to the io.quarkiverse.artemis:quarkus-artemis-bom, since 1.0.2

[2021-12-13 15:18] aldettinger opened #3382 "protobuf: Missing method "getName" when using contentTypeFormat=json in native mode"
When using contentTypeFormat=json in native mode, we end up with the exception below:

[code]

[2021-12-13 21:31] #3381 closed

[2021-12-14 07:30] ppalaga commented on #3342
Yes, I'd say jvm mode tests on Java 11 could be enough initially. Feel free to pick this if you like.

[2021-12-14 08:01] ppalaga commented on #3379
What a cute hack, @zhfeng! Could you perhaps mention it in https://github.com/apache/camel-quarkus/issues/1981 where some folks asked for `CamelTestSupport`?

Hm... on the same note, I wonder whether we could somehow set the context automatically. Either by having our own subclass of `CamelTestSupport` (ugly) or something nicer, like implementing a junit5 extension that would do it?

[2021-12-14 08:08] ppalaga commented on #3360
Closing as duplicate of https://github.com/apache/camel-quarkus/issues/1615

[2021-12-14 08:08] #3360 closed

[2021-12-14 08:31] #3382 closed

[2021-12-14 09:23] zhfeng commented on #1981
A simple hack way could be
[code]

you can check it out on [camel-test-demo](https://github.com/zhfeng/camel-test-demo).

[2021-12-14 09:26] zhfeng commented on #3379
@ppalaga yeah, that could be a better way to have a junit5 extension. I will investigate it after the holidays.

[2021-12-14 09:33] aldettinger commented on #1981
Hey, great hack :)

It reminds me of an e-mail with Dennis Holunder posted in the community
with the subject "Testing route in Camel Quarkus".
I think it reported that it was working in JVM mode and there was just an
issue with logging. Not sure it's still the case anyway.

My 2 cents,
Alex

On Tue, Dec 14, 2021 at 10:23 AM Amos Feng ***@***.***> wrote:

[2021-12-14 15:36] aldettinger commented on #3366
The workaround evoked in the previous must be [here](https://github.com/apache/camel-quarkus/commit/77cee8366620ca5e774c38080b8cf9b98027a4da).
I guess we would need to revert only the change in `poms/bom/pom.xml`.

[2021-12-15 11:13] oscerd opened #3386 "Add Extension for Camel Azure Servicebus"

[2021-12-15 11:22] oscerd opened #3387 "Docs: Camel-quarkus 2.4.x docs don't show information in components/languages/dataformats and misc"
https://camel.apache.org/camel-quarkus/2.4.x/reference/components.html

[2021-12-15 14:33] ppalaga opened #3389 "Geocoder started returning "New York City" instead of "New York""
... and therefore our Geocoder test is failing when run with `GOOGLE_API_KEY` set.

[2021-12-15 14:50] ppalaga commented on #3389
Could please anybody with a Google Cloud account have a look? @zbendhiba maybe?

[2021-12-15 14:52] ppalaga commented on #3389
I guess it would be safer to change the test to some location where there no city/state ambiguity.

[2021-12-15 14:59] ppalaga opened #3390 "camel-quarkus-integration-test-js-dsl is failing on Quarkus 2.2.4"
Originally reported here https://github.com/quarkusio/quarkus-platform/pull/405#issuecomment-994803271

[2021-12-15 16:16] djencks commented on #3387
I may propose a different way of constructing these tables, there are some faulty assumptions about the relationship between camel versions and camel quarkus versions in the current setup.

[2021-12-15 16:36] djencks commented on #3387
In particular, the tables emptied when camel-quarkus 2.3.x was removed: camel 3.12.x assumes that only camel-quarkus 2.3.x depends on it, so now that it's gone, the camel-quarkus info is no longer included in the camel components/etc pages.

[2021-12-17 08:00] juangon commented on #3369
Thanks for answering @zhfeng . I tried with latest 2.6.0.CR1 and still same problem. I am very busy nowadays, hopefully I can build a reproducer

[2021-12-17 13:55] gus-maurizio opened #3394 "camel.main.durationMaxSeconds is not honoured"
I need the camel quarkus routes to terminate after a certain amount of seconds or processing a number of messages.
This was defined by the camel-quarkus-main, that seems not supported any longer.
How do I achieve this?

[2021-12-17 14:37] gus-maurizio commented on #3394
Correction. MaxMessages and MaxIdleSeconds work, but durationMaxSeconds seems to be ignored.
camel.main.durationMaxIdleSeconds = 120
camel.main.durationMaxMessages = 300
camel.main.durationMaxSeconds = 30

[2021-12-18 18:11] djencks opened #3396 "[Docs] Self-contained way of generating components/dataformats/etc tables"
The existing way of generating the components etc tables based on page attributes in main camel has always been too complicated and it turns out that it was based on some erroneous assumptions about the relationship between camel-quarkus and camel versions.

The extensions used have advanced enough so that the tables can be generated entirely within camel-quarkus.

- Instead of generating partial

[2021-12-18 18:12] djencks commented on #3387
I've described how I'll solve this in https://github.com/apache/camel-quarkus/issues/3396, and leave this one open until that is complete.

[2021-12-19 05:15] djencks commented on #3396
This requires https://github.com/apache/camel-website/pull/728.

[2021-12-20 21:36] ffang opened #3401 "use different version in pom.xml for main/quarkus-main/camel-main branchs to avoid the conflicts/mess from local maven repo"
current we have three (main/quarkus-main/camel-main) branches which use the same version in pom.xml. This can cause conflicts if we need to switch between these branches, because they are not compatible. Ideally, we should use different versions for different branches to avoid such conflict from local maven repo

[2021-12-20 21:47] ffang opened #3402 "[quarkus-main]crypto test failure in native mode"
[code]
This happens on both JDK17 and JDK11. Probably is caused by camel-crypto and quarkus now use different bouncycastle version(1.69 VS 1.70)

[2021-12-21 00:52] djencks commented on #3401
Is there some documentation about what these three branches are and how they relate?  I haven't found any.

[2021-12-21 04:04] djencks commented on #3396
The PRs implementing this are (along with camel-website #728)

https://github.com/apache/camel-quarkus/pull/3397
https://github.com/apache/camel-quarkus/pull/3398
https://github.com/apache/camel-quarkus/pull/3399
https://github.com/apache/camel-quarkus/pull/3400

and some cleanup in main camel

https://github.com/apache/camel/pull/6561
https://github.com/apache/camel/pull/6562
https://github.com/a

[2021-12-21 12:16] oscerd opened #3403 "Create a Json-patch extension"
It has been around from Camel 3.12.0

[2021-12-21 13:05] ffang commented on #3401
Hi @djencks ,

I can't find the doc also, and here is my understanding.

main is the lastest development branch for camel-quarkus(with released camel and quarkus versions); camel-main uses the latest development main branch of camel(SNAPSHOT came dependency); quarkus-main uses the latest development main branch of quarkus(SNAPSHOT quarkus dependency). camel-main and quarkus-main can help us find i

[2021-12-21 17:33] ppalaga commented on #3366
Now I see what is going on: the exclusion of `commons-logging` in the removed apache-client management entry makes the difference. We actually need to ban commons-logging altogether.

Using `mvn quarkus:dependency-tree` instead of `mvn dependency:tree` helped me to figure out what's going on.

[2021-12-21 17:35] ppalaga opened #3405 "Ban `commons-logging` and `commons-logging-api`"
`commons-logging` and `commons-logging-api` should be banned and `org.jboss.logging:commons-logging-jboss-logging` should be used instead.

[2021-12-21 17:57] djencks commented on #3396
This is now done.

[2021-12-21 17:57] #3396 closed

[2021-12-21 18:13] ffang commented on #3402
verified that the root cause isn't the bouncycastle version mismatch between camel and quarkus, it should be something else from latest quarkus change

[2021-12-21 18:50] djencks commented on #3401
Thank you! What a great idea!  I agree on the need for different version names.  These branches are never released, so they are always snapshots, right?  Would appending something to the version keep maven from confusing things, e.g. 2.7.0.camel-SNAPSHOT and 2.7.0.quarkus-SNAPSHOT?

[2021-12-21 19:02] ffang commented on #3401
Yes, camel-main and quarkus-main  are kinda experimental branches. And +1  for version like 2.7.0.camel-SNAPSHOT and 2.7.0.quarkus-SNAPSHOT

[2021-12-21 19:38] zbendhiba commented on #3401
This would add steps in rebasing main to camel-main and quarkus-main, and would add steps when we want to push camel-main to main, and push quarkus-main to main

I don't see why this causes issues? They both represent the main SNAPSHOT code and are rebased every day from main. The objective is to test the main branch against future versions of Camel and Quarkus. And maintaining those branches, is

[2021-12-21 19:43] zbendhiba commented on #3401
@djencks About what are those branches, it is explained on the CI guide   : https://camel.apache.org/camel-quarkus/next/contributor-guide/ci.html

[2021-12-21 20:05] ffang commented on #3401
Thanks @zbendhiba for the clarification!

My original issue is that when switching between main/camel-main/quarkus-main branch, I need to rebuild camel-quarkus project locally to fill my local maven repo, with "-Dquickly" option I can get it done within 5mins now, so this isn't a big deal for me anymore.

Feel free to close this ticket.

Freeman

[2021-12-21 20:38] zbendhiba commented on #3401
@ffang I see now what your issue is.

[2021-12-21 20:55] ffang commented on #3402
Verified this is the bouncycastle version mismatch between camel/camel-quarkus/quarkus.
[CAMEL-17360](https://issues.apache.org/jira/browse/CAMEL-17360) addresses this on camel side. We also need to upgrade the bouncycastle version in camel-quarkus project to 1.70

[2021-12-21 21:22] #3366 closed

[2021-12-21 21:22] #3405 closed

[2021-12-22 11:00] ppalaga commented on #3401
You may want to try mvnd (`mvnd clean install -Dquickly` takes under 1 min on my machine) https://github.com/apache/maven-mvnd#how-to-install-mvnd

[2021-12-22 11:51] ppalaga commented on #3394
Could you @gus-maurizio or anybody else please modify this integration test to reproduce the issue? https://github.com/apache/camel-quarkus/tree/main/integration-tests/main-command-mode

[2021-12-22 13:17] gus-maurizio commented on #3394
Thanks Peter, I created a pull request: Update CamelRoute.java #3408
Modified the application properties (to stop JVM after 10 seconds) and the timer settings (to delay 20 seconds) to show the issue.

[2021-12-22 13:18] gus-maurizio commented on #3394
I was not able to download and compile this to check, and I was using the latest stable version, so please verify,

[2021-12-22 16:18] ppalaga commented on #3394
Should make no difference. Let's see whether the CI fails on the modified test https://github.com/apache/camel-quarkus/runs/4609110536?check_suite_focus=true

[2021-12-22 17:15] gus-maurizio commented on #3394
Let me know if you need anything else from me Peter. Thanks for your help.

G

[2021-12-23 02:52] ffang commented on #3401
Thanks @ppalaga !

[2021-12-23 11:58] zbendhiba opened #3414 "Manage Eclipse jgit version and jzlib version"
To prevent those kind of CI failure https://github.com/apache/camel-quarkus/runs/4617126794

[2021-12-23 12:14] zbendhiba commented on #3402
the commit has been squashed in quarkus-main : cf . https://github.com/apache/camel-quarkus/commit/3c125ca752215ff6ddb6a6b172b70568ccff9150
+ I pushed this fix: https://github.com/apache/camel-quarkus/pull/3412
I'm not sure on which branch this was happening for you ? And right now I'm still syncing quarkus-main and camel-main, working on failures since updating to latest main.

FYI, the _bouncyca

[2021-12-23 12:28] zbendhiba commented on #3350
FYI, I pushed 2 minor changes to the guide :  https://github.com/apache/camel-quarkus/pull/3413 and https://github.com/apache/camel-quarkus/pull/3409

[2021-12-23 12:53] zbendhiba commented on #3414
Cherry-picked  temporary to quarkus-main, waiting for PR review against main

[2021-12-23 13:21] zbendhiba opened #3416 "[Camel 3.15] Fhir tests are failing"
Related to [CAMEL-17373](https://issues.apache.org/jira/browse/CAMEL-17373)

Example of failure on CI : https://github.com/apache/camel-quarkus/runs/4617458103?check_suite_focus=true

[2021-12-23 15:43] ffang commented on #3402
Thanks @zbendhiba! And I ran into this conflict on quarkus-main branch(quarkus upgraded to use bouncycastle 1.70 very recently)

Actually I found more CQ components affected by this

pulsar, and we need change like
[code]
and tika, we need change like
[code]

Also we need to add bcmail-jdk15on and bcutil-jdk15on to the dependency management
[code]

[2021-12-23 16:03] ffang opened #3417 "[Quarkus 2.7.0][MAC OS]java.lang.UnsatisfiedLinkError: no awt in java.library.path in native tests"
[code]
tika and pdf itests are affected by this(on both JDK11 and JDK17)

[2021-12-23 17:11] ffang commented on #3417
PR to disable those native tests on mac osx
https://github.com/apache/camel-quarkus/pull/3418

[2021-12-23 17:48] oscerd commented on #3386
I think this should be in camel-main branch, because on main we are pointing 3.14.0 and the catalog is not updated there, we'll need 3.14.1, while 3.15.0-SNAPSHOT should be fine.

[2021-12-24 06:46] #3414 closed

[2021-12-24 08:02] #3403 closed

[2021-12-24 08:36] zbendhiba opened #3420 "Json-patch native support"
The extension has been created in JVM mode https://github.com/apache/camel-quarkus/issues/3403

[2021-12-24 10:49] zbendhiba opened #3421 "[Quarkus 2.7.0] : CI : Found Banned Dependency: commons-logging:commons-logging"
On quarkus-main CI build, enforcer fail for banned artifact commons-logging:commons-logging
I can't reproduce this locally. Can't from dependency:tree neither

[code]

[2022-01-03 07:17] ashwinair commented on #3296
Hi @zbendhiba , can i work on this issue i'm new to open source.

[2022-01-03 12:41] davsclaus opened #3432 "Camel 3.15 - Add build step to capture route source location:line-number"
https://issues.apache.org/jira/browse/CAMEL-17420

In quarkus we can have a build step that can capture the source location : line-number for all the DSLs as this can be done during build phase, and therefore has no cost overhead at runtime.

[2022-01-03 16:17] aldettinger opened #3433 "camel.main.durationMaxSeconds is not honoured"

[2022-01-03 16:18] aldettinger commented on #3433
Duplicate of #3394

[2022-01-03 16:18] #3433 closed

[2022-01-04 08:49] aldettinger commented on #3394
@gus-maurizio Reading #1441, could you please confirm that durationMaxSeconds was working in a previous camel-quarkus version ? which one please ? And then it stop working when you upgraded to 2.5.3.Final ?

[2022-01-04 12:00] Chexpir opened #3436 "deadLetterChannel does not work in BaseRouteBuilder configure method"
Migrating to the latest (camel-quarkus 2.6.0 with camel-aws2-sqs:3.14.0), some code have stopped working:

This works
[code]
but this does not work with
[code]

The error I get is
[code]
and it seems like deadLetterChannel method calls createEndpoint before AmazonSQSClient is injected.

The complete class is
[code]

Note: I use this parameter: `camel.component.aws2-sqs.auto-create-queue=true`

I'v

[2022-01-04 12:05] gus-maurizio commented on #3394
Was working in 1.8.1.final

Sent from my iPad

[2022-01-04 13:36] #3353 closed

[2022-01-04 14:09] jamesnetherton commented on #3296
Seems you can set the port via `initArgs` if needed.

[2022-01-04 14:37] Chexpir commented on #3436
@JiriOndrusek Temporary working solution for me is the following (adding sqsClient into camel Registry and explicitly adding it to the camel route):
[code]

[2022-01-04 14:45] JiriOndrusek commented on #3436
@Chexpir thanks for the information. I'll try to simulate problem on my machine and will try to find a solution.

[2022-01-04 14:48] jamesnetherton commented on #3296
Yes, I think you're right...

[2022-01-04 15:29] aldettinger commented on #3394
This issue can be reproduced with camel-quarkus 2.6.0 while it's working with pure camel 3.14.0, so the issue relies in camel-quakus.

After investigations:
 + A CamelMainRuntime is assembled and [started](https://github.com/apache/camel-quarkus/blob/main/extensions-core/core/runtime/src/main/java/org/apache/camel/quarkus/main/CamelMainRuntime.java#L49)
 + oacq.main.CamelMain.runEngine() calls [wa

[2022-01-04 15:33] ppalaga commented on #3296
So can we live with a fixed port, or we propose some change to InfinispanTestResource to use a random port (ideally by default)?

[2022-01-04 15:41] davsclaus commented on #3394
Ah so you do not extend the camel-main class but do you own. Yeah then those methods needs to be protected so you can call them.

[2022-01-04 15:46] JiriOndrusek commented on #3436
@Chexpir I' was able to simulate an error. Probably the same as you are seeing:
[code]
To be sure: Are you using quarkus client ? (defined via quarkus properties - https://camel.apache.org/camel-quarkus/2.6.x/reference/extensions/aws2-sqs.html#_optional_integration_with_quarkus_amazon_sqs)

[2022-01-04 15:48] jamesnetherton commented on #3296
Probably in the short term. We do it for some other things out of necessity.

I guess we should do that. Looking again at `InfinispanTestResource` I don't actually see the port arg being used at all to set up the container. I guess because [`InfinispanContainer`](https://github.com/infinispan/infinispan-test/blob/master/testcontainers/src/main/java/org/infinispan/test/testcontainers/InfinispanCont

[2022-01-04 15:56] gus-maurizio commented on #3394
Just to provide a bit of context, along with congratulations to this team for working and finding the root cause.
This functionality is important in the context of running camel quarkus AWS lambda functions that are limited to at most 15 minutes. We leverage this and establish two criteria for termination, maxMessages (which is the preferred) and a fail-safe of maxDuration (to about 13 or 14 minut

[2022-01-04 17:02] ppalaga commented on #3296
That's interesting! We should definitely report that.

[2022-01-04 17:14] lburgazzoli commented on #3296
I may be out of context and in such case, please discard my message, but isn't the test resource already using a random port ?

My understanding is that the call to `withExposedPorts(11222);` setting the port from the point of view of the container but  for the host, then it will be a random port and you can get it with `container.getMappedPort(11222)`. The test resource seems to do so here: https

[2022-01-04 17:46] jamesnetherton commented on #3296
Yeah, my bad. It should work as you describe.

[2022-01-05 08:06] Chexpir commented on #3436
@JiriOndrusek thanks for spending time on this!

Yes, it is the same error I was seeing myself.

Yes, I am using the quarkus client (2.6.1.Final) and I was not doing the 2 steps mentioned in your link, but I found that documentation and did test with that specific configuration (@unremovable tag and apache sync-client type) before opening the bug, and it was still failing.

[2022-01-05 12:05] JiriOndrusek commented on #3436
Problem is caused by the issue in Camel. I reported it - https://issues.apache.org/jira/browse/CAMEL-17437.

I will also fix our junit tests, because this error can not be simulated on local aws (only real aws) even if deadletter is used.

@Chexpir your workaround is correct. Once camel issue is fixed, I'll let you know (so you can remove workaround).

[2022-01-05 18:14] gsmet commented on #3142
It has finally been fixed in Quarkus here: https://github.com/quarkusio/quarkus/pull/22609 .

[2022-01-07 11:34] ppalaga opened #3442 "MllpTest.invalidMessage fails with Camel 3.11.5 in 2.2.x branch"
This is what happens:

[code]

There is a couple of additional fixes in MLLP in Camel main branch that fix this, but they also substantially change the way the component is configured, so I think it would be less intrusive for the end users to workaround this in Camel Quarkus 2.2.1 by adding something like the following:

[code]

[2022-01-07 19:42] ey52fpv opened #3444 "Quarkus camel api not able to parse json response"
I have exposed a quarkus camel API which my react UI consumes. This API internally calls another API to get the information required for UI.

React UI -> quarkus camel API 0> internal API.

Camel API after making API call is not able to parse JSON response and hence returns unreadable characters(question marks) in the response and hence UI fails reading the data

![Screen Shot 2022-01-07 at 12](ht

[2022-01-10 09:13] JiriOndrusek commented on #3436
Problem is fixed on camel side (https://github.com/apache/camel/commit/4007b745170b69f81d47933e57d89a9ffd90c1a4)
I'll add tests into camel-quarkus and also I'll fix some problems with other aws2 tests (discovered during this investigation)

@Chexpir next cq release will contain camel with the fix and you'll be able to remove your workaround.

[2022-01-11 07:38] jamesnetherton commented on #3402
Seems there's now a new error:

[code]

https://github.com/apache/camel-quarkus/runs/4771122780?check_suite_focus=true

[2022-01-11 14:49] jamesnetherton opened #3446 "Deprecate / remove `quarkus.camel.main.enabled` configuration property"
See Zulip thread discussing the merits of removing `quarkus.camel.main.enabled`:

https://camel.zulipchat.com/#narrow/stream/257302-camel-quarkus/topic/Disabling.20camel.20main

TL;DR

* There's additional overhead maintaining logic that runs with main vs non-main
* Probably nobody is disabling main
* The original intent & purpose of allowing main vs non-main is now redundant

There's just the que

[2022-01-11 15:14] aldettinger commented on #2948
A related [zulip discussion](https://camel.zulipchat.com/#narrow/stream/257302-camel-quarkus/topic/Disabling.20camel.20main) and ticket #3446 .

[2022-01-12 09:01] JiriOndrusek opened #3447 "aws2-quarkus-client Verify that no client except quarkus one is used during test"
During investigation of https://github.com/apache/camel-quarkus/issues/3436, I discovered that our sqs test is using sqs client created by camel component in the early part of the test. Which caused that the test for above issue was falsly successful.

I fixed that for sqs tests. It has to be extended to all other *-quarkus-client tests. (I tried to fix all the tests, but it seems, that it causes

[2022-01-12 12:30] IstvanSzilagyi commented on #108
Hello i would also like to request SSM component.

Use case is the following.

U store secrets in AWS SSM, and u would like to download it to your app and use it with the SFTP Component to reach the server to download files. This would solve the issue of storing private keys for Camel, instead now this would download SSM keys automatically for your application.

[2022-01-12 16:04] ppalaga opened #3451 "Ban log4j 1.x"
... and use log4j-jboss-logmanager instead

[2022-01-12 17:28] navinyashende commented on #3251
Does quarkus support camel rest dsl in xml?

[2022-01-12 19:18] davsclaus commented on #3251
Yeah its general Camel from the XML DSL

[2022-01-12 20:04] #3451 closed

[2022-01-13 07:24] #3358 closed

[2022-01-13 08:22] zhfeng commented on #3251
I got some time to investigate ```quarkus-smallrye-openapi``` and it seems that it leverages the ```AnnotationScannerExtension``` to scan ```JAXRS```, ```Spring```, ```Vert.x``` and generate the ```OpenAPI``` data model. So all of these happen at the build time.  But as far as I know, we can only produce the ```CamelContext```  and get the rest services at static init.

And I think we can use ```A

[2022-01-13 08:39] jamesnetherton commented on #3251
Maybe take a look at how the `csimple` extension does things. It processes routes at build time to extract the csimple expressions from XML. In theory a similar thing could be done for the REST DSL bits. Not sure if it'd be 100% reliable though...

[2022-01-13 08:41] zhfeng commented on #3251
Thanks @jamesnetherton - I will take a look.

[2022-01-13 09:07] ppalaga commented on #3251
Yes, what we do in csimple is rather a fragile misuse of JAXB annotations on the route model classes. A solid solution would require a proper build time route definition introspection API - see https://issues.apache.org/jira/browse/CAMEL-16212

[2022-01-13 11:34] xjazzfreakx opened #3457 "Camel Rest / Quarkus Swagger UI / Url Issue from Quarkus Version 2.6.x"
Issue: Wrong URL for Service in Swagger UI  ( the context path appears twice e.g. /api/api/service/test )
It was correct for Version Q 2.4.2 but appears from Q Versions 2.6.x

Steps to reproduce:

1. Camel Java Config:
`restConfiguration() 
 .host("localhost")
 .apiHost("localhost")
 .contextPath("/api") 
 .port(8080)
 .apiContextPath("/api-docs");

   rest("/service")
 .get("/testing").descriptio

[2022-01-13 22:28] ffang commented on #3402
@jamesnetherton hmm, somehow I can't reproduce this locally on quarkus-main branch(No this error with both JDK11 and JDK17 )

[2022-01-14 12:38] davsclaus opened #3459 "Extensions for camel-knative and camel-cloudevents"
https://github.com/apache/camel-k-runtime/issues/752

Camel 3.15 comes with new components

- camel-knative
- camel-cloudevents

Camel K needs extensions for those, to be ported over from camel-k-runtime at
https://github.com/apache/camel-k-runtime/tree/main/camel-k-knative
https://github.com/apache/camel-k-runtime/tree/main/camel-k-cloudevents

[2022-01-14 13:50] jamesnetherton commented on #3457
Yes, there is a similar issue documented in [CAMEL-17457](CAMEL-17457).

It will be fixed in Camel 3.14.1 / Camel 3.15.0.

[2022-01-14 13:56] jamesnetherton commented on #3457
Actually my bad. It is still broken. The duplication of some of the path elements is fixed but the operation path is now being generated as `/testing` without the `/service` prefix. I'll open a new Camel ticket.

[2022-01-14 14:05] xjazzfreakx commented on #3457
The thing is rather -> the context path is duplicated ( **/api/api** )

[2022-01-14 14:44] jamesnetherton commented on #3457
https://issues.apache.org/jira/browse/CAMEL-17491

[2022-01-17 09:40] davsclaus opened #3460 "Camel 3.15 - Some dataformats renamed"
There are some data formats that have renamed their names, which may affect extensions / unit tests in camel-quarkus that uses those. See the table at
https://github.com/apache/camel/blob/main/docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_15.adoc#data-formats

[2022-01-17 10:10] astefanutti commented on #3460
Is the list from https://github.com/apache/camel/blob/main/docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_15.adoc#data-formats exhaustive, or these are examples?

I'm asking because there are a number of kebab-cased references in the current CamelCatalog resource based on Camel 3.12.0, like `json-jackson`, `protobuf-jackson`, `avro-jackson`, `json-johnzon`, `json-jsonb`, `mime-multip

[2022-01-17 12:00] michaelgarde opened #3461 "camel-quarkus-opentelemetry component logs unresolved toD uri"
The camel-quarkus-opentelemetry component does not log the resolved uri of a toD when using dynamically generated uris . This is how one of our routes in Jaeger looks like:

![image](https://user-images.githubusercontent.com/6233262/149765369-284b9ef6-080a-42d4-8821-532277f39d3b.png)

It would be really useful if we were able to see, which jms queue it was actually sent to.

[2022-01-17 14:19] phohomi opened #3463 "quarkus 2.6 - debezium mysql error"
Hi,

I've kicked off a new project from the code.quarkus.io website using quarkus 2.6. This project uses the debezium mysql connector, and I get an error when I try to run the project:

`Producer failure: java.lang.IllegalAccessError: class io.debezium.connector.mysql.antlr.MySqlAntlrDdlParser
 tried to access private field com.mysql.cj.CharsetMapping.COLLATION_INDEX_TO_COLLATION_NAME
 (io.debeziu

[2022-01-17 15:38] phohomi commented on #3463
Hi,
I was able to get it working by overriding the mysql connector version to a version that is older than the managed version: 8.0.26 was the version with the change which caused this error, so I was able to fix it by setting it to 8.0.25.

[2022-01-17 15:38] #3463 closed

[2022-01-17 22:05] ppalaga opened #3464 "Ban netty-all"
`netty-all` delivers all netty code in a single artifact. However, this kind of convenience may make it harder to port to native, because there is much more code to analyze an compile than needed. Hence we should always try to exclude `netty-all` and replace it by a minimal set of fine-grained netty dependencies. Quarkus is banning netty-all as well.

[2022-01-17 22:36] ppalaga opened #3466 "Remove camel-quarkus-spark"
The Spark extension is hard to maintain due to its ancient netty 3 dependencies which clash with netty 4 available out of the box on Quarkus. Moreover, there is little hope that porting it to native is even possible.

Any concerns about removing this extension?

[2022-01-18 07:13] jamesnetherton commented on #3466
+1

[2022-01-18 07:19] jamesnetherton commented on #3402
Hmm the problem seems to pop up at random. Sometimes the native itests work fine. Other times it complains that the provider was not registered....

[2022-01-18 08:31] #3447 closed

[2022-01-18 08:46] #3464 closed

[2022-01-18 11:43] #3236 closed

[2022-01-18 13:23] gus-maurizio commented on #3394
Any progress or ETA on this issue?

[2022-01-18 13:25] aldettinger commented on #3394
@gus-maurizio Not really from my side. I can resume as soon as I have time. Unless someone else is willing to pick it now.

[2022-01-18 14:55] jamesnetherton opened #3470 "Health check `CamelBeanBuildItem` should use the check id as the name"
There's a `BuildStep` in the `microprofile-health` extension which discovers health checks and creates a `CamelBeanBuildItem` for each of them. At present the simple name of the health check class is used as the bean name. We should use the id assigned to the check since there are some places where this is referenced in Camel.

E.g `camel.health.contextEnabled=false` does not work because the `Con

[2022-01-19 07:33] jamesnetherton commented on #3461
I opened a Camel ticket to investigate:

https://issues.apache.org/jira/browse/CAMEL-17512

[2022-01-19 07:53] bvahdat opened #3471 "Transacted routing in combination with Split EIP fails"
See the following added route:

https://github.com/bvahdat/camel-quarkus/commit/4ba0d2dad669742c6e8a1bfa1bab456b97eb2553

Which ends up with:

[code]
However the very same routing logic works perfectly using standalone Camel version `3.14.0`.

Cc: @zhfeng

[2022-01-19 10:54] jamesnetherton opened #3472 "BouncyCastle support extension may fail to register ciphers"
There's a [`BuildStep`](https://github.com/apache/camel-quarkus/blob/main/extensions-support/bouncycastle/deployment/src/main/java/org/apache/camel/quarkus/support/bouncycastle/deployment/BouncyCastleSupportProcessor.java#L67-L75) in the BouncyCastle support extension that attempts to register ciphers. To do this it relies on the BouncyCastle provider having been registered. This is done by the `q

[2022-01-19 15:05] #3421 closed

[2022-01-19 15:07] jamesnetherton commented on #3417
@ffang is there anything else needed here? https://github.com/apache/camel-quarkus/commit/0d0f0f1cbad8aecc843df3f067bb82f6444ad669 has been merged to `main`.

[2022-01-19 23:18] freedev opened #3474 "java.lang.IllegalStateException: The stream has no active subscriptions smallrye-reactive-messaging-camel"
I encoundered this issue with a simple project, I commited the source here:
https://github.com/freedev/code-with-quarkus-camel

[code]

[code]

At first run, quarkus tryes to read from the azure sb topic but an exception is raised

[code]

[2022-01-20 07:13] jamesnetherton commented on #3474
Can you try it without the `CamelContextProducer`? Creating & managing your own `CamelContext` is something we discourage because Camel Quarkus assembles one for you at build time with various optimizations.

Also add a dependency on `camel-quarkus-smallrye-reactive-messaging`.

[2022-01-20 07:59] jamesnetherton commented on #3402
Issues seem to be resolved now.

[2022-01-20 07:59] #3402 closed

[2022-01-20 08:39] jamesnetherton commented on #3394
It'd be nice to fix this for the 2.7.0 release. I can take a look into it.

Until we have a Camel version with the `protected` `internalBeforeStart()`, I guess we can work around it on our side by setting the relevant main config like `mainConfigurationProperties.setDurationMaxSeconds(someValue)`.

[2022-01-20 08:47] freedev commented on #3474
Hi James, thanks for coming back to me! :)In the first instance I've tried `CamelContextProducer` without but failed to start quarkus.

     [1] Unsatisfied dependency for type org.apache.camel.CamelContext and qualifiers [@Default]

This is the log:

[code]

[2022-01-20 09:07] jamesnetherton commented on #3474
I opened a pull request on your project fix up the dependencies https://github.com/freedev/code-with-quarkus-camel/pull/1.

That should allow the app to launch at least.

Note that there is no Camel Quarkus extension for `camel-azure-servicebus` yet. So its not guaranteed to work 100% correctly if you just refer to the plain Camel component dependency, especially if you expect native mode support

[2022-01-20 09:19] freedev commented on #3474
Hi thanks for helping, your pull request did the job.
What about add a azure service bus integration sample in https://github.com/smallrye/smallrye-reactive-messaging/tree/main/examples or even in https://github.com/apache/camel-quarkus-examples
Can I try a pull request?

[2022-01-20 09:19] #3474 closed

[2022-01-20 09:23] jamesnetherton commented on #3474
I'd wait for #3386 to be fixed before contributing an example based on `camel-azure-servicebus`.

[2022-01-20 09:39] #3470 closed

[2022-01-20 09:43] aldettinger commented on #3394
Sure @jamesnetherton , you are welcome to move this ahead.

[2022-01-20 10:05] freedev commented on #3474
I just had a look at #3386 but it's not clear what's missing part, well, a part the title.
Anyway, I've just updated https://github.com/freedev/code-with-quarkus-camel adding a proper README that explain how to do it.

[2022-01-24 11:36] JiriOndrusek commented on #3436
Could be closed. Reported issue is fixed in camel.
Test is added in PR: https://github.com/apache/camel-quarkus/pull/3448.
Following issues in tests are fixed in PR https://github.com/apache/camel-quarkus/pull/3458

[2022-01-24 12:27] JiriOndrusek commented on #2676
This is not a bug. If you add "double quotes" to property names, it works.
[code]

Camel itself behaves just the same.

[2022-01-24 13:55] JiriOndrusek commented on #3390
I tried to simulate problem locally. But with the recent platform and following quarkus and camel-quarkus versions, there is no failure.
I'd say that this issue can be closed.

[code]

[2022-01-24 14:04] JiriOndrusek commented on #3230
I enabled test localy ad see a different native error. I'll investigate it.
[code]

[2022-01-24 14:06] jamesnetherton commented on #3471
I had a very brief look at this. It worked back in CQ 2.4.0 but is broken afterwards in CQ 2.5.0. It's possibly related to this change in Camel:

https://github.com/apache/camel/commit/961ad0e56e9331e71c386415ec67676e586ea629

Waiting for the result of the split operation seems to hang here:

https://github.com/apache/camel/blob/80b92e3624ae5db59a1a24a441f1b10b39eaa1a5/core/camel-base-engine/src/m

[2022-01-24 15:45] aldettinger commented on #2676
Nice catch @JiriOndrusek. This behavior change occurred in camel-quarkus 2.0.0-M1. The parser may have been too relax before this. So, I agree this is not a bug.

I do not remember that a test was implemented for this, so I think we could merely close the issue as is. What do you think ?

[2022-01-24 16:06] zbendhiba opened #3483 "[Quarkus 2.7] Otplanner tests failing with latest Optaplanner version"
I'm trying to bump Optaplanner to latest version merged in the Quarkus platform `8.16.0.Final`. The tests are failing in native mode.

[code]

[2022-01-24 16:38] #2676 closed

[2022-01-25 09:56] #3483 closed

[2022-01-25 10:50] jamesnetherton commented on #3471
@bvahdat when you say `the very same routing logic works perfectly using standalone Camel`, is that with `camel-jta`? Or something else?

[2022-01-25 11:26] bvahdat commented on #3471
Hi @jamesnetherton

I have not used `camel-jta` but plain local JDBC transaction to see if that would work at all, and it did.

I used this test:

https://github.com/apache/camel/blob/main/components/camel-spring-xml/src/test/java/org/apache/camel/spring/interceptor/MixedTransactionPropagationTest.java

And added one more test:

[code]

And this additional route (the exact same route what fails by

[2022-01-25 12:36] #3446 closed

[2022-01-25 13:19] jamesnetherton commented on #3471
Yeah. I think the issue in `camel-jta` or `MulticastTransactedTask`. I don't think there's something specific in Camel Quarkus or Narayana that is causing it.

[2022-01-25 14:05] zhfeng commented on #3471
OK, I will take a close look this week.

[2022-01-25 14:33] bvahdat commented on #3471
@jamesnetherton  @zhfeng

I am also failing to reproduce the issue using pure Camel + JTA + Narayana (and not only using local TX as originally above with the local `spring-tx` JDBC transaction):

https://github.com/bvahdat/camel/commit/d73cd0df7ca61d799069a31320900b0df494b6e8

Well it's not to 100% the same as

https://github.com/bvahdat/camel/blob/main/tests/camel-itest/src/test/resources/org/ap

[2022-01-25 14:34] jamesnetherton commented on #2487
This is complete & ready for 2.7.0 in https://github.com/apache/camel-quarkus-examples/pull/70.

[2022-01-25 14:34] #2487 closed

[2022-01-26 12:12] Tarjei400 opened #3488 "Debezium mysql - passing additionalProperties results in wrong properties beeing passed"
I am using debezium component with mysql, I need to pass an additionaProperty, I am doing it according to documentation here: https://camel.apache.org/components/3.14.x/debezium-mysql-component.html

Althought it seems that when I try to pass database.connectionTimezone=CET seems that property is read as database alone.
Here is my example:

     from("debezium-mysql:test?"

            + "database

[2022-01-26 17:53] #3347 closed

[2022-01-26 20:43] ppalaga opened #3494 "CVE-2020-8908 guava: local information disclosure via temporary directory created with unsafe permissions"
https://nvd.nist.gov/vuln/detail/CVE-2020-8908

The CVE is published since 12/10/2020. We still manage guava 29.0-jre in our BOM. We should try to upgrade to 30.1.1-jre that is also used by quarkus-bootstrap

[2022-01-26 22:08] ppalaga opened #3496 "Ban javax.servlet:servlet-api in favor of jakarta.servlet:jakarta.servlet-api"
We should add rules like they have in Quarkus and do replacements where necessary
[code]

[2022-01-27 08:50] #3494 closed

[2022-01-27 10:44] zbendhiba commented on #3488
Hello @Tarjei400 Can you give information about which camel-quarkus version are you using ?

[2022-01-27 10:52] zbendhiba commented on #3459
@davsclaus My understanding is that the workaround for native mode is already done in camel-k-runtime. And the idea is to port this here as extensions, right ?

[2022-01-27 11:12] Tarjei400 commented on #3488
Sorry, I am using version 2.6.0

[2022-01-27 11:33] ppalaga opened #3498 "Upgrade to H2 2.x"
@gsmet asked us through various channels to try how well we can live with H2 2.x. They'd like to upgrade in Quarkus 2.8

We need to try the newest 2.x release https://mvnrepository.com/artifact/com.h2database/h2

[2022-01-27 11:44] gsmet commented on #3498
Just to be clear: it's a coordinated effort, we don't want it to become a problem. So let's evaluate and see what needs fixing and then let's discuss it.

[2022-01-27 12:39] davsclaus commented on #3459
Yeah camel-k-runtime has already quarkus extensions for these 2 components, so yes the ticket is about moving the source code over to camel-quarkus - so we can remove them from camel-k-runtime.

[2022-01-27 14:11] #2791 closed

[2022-01-27 15:34] #3417 closed

[2022-01-27 16:03] #3394 closed

[2022-01-27 17:03] galderz commented on #3230
Installing `libfreetype` should do the trick, but the new most recent AWT integration avoided that unless you really need to use AWT APIs in the native executable that will be tested.

[2022-01-27 18:58] zbendhiba commented on #3459
I started working on this.
I'm not sure about this one [https://github.com/apache/camel-k-runtime/tree/main/camel-k-knative/impl](https://github.com/apache/camel-k-runtime/tree/main/camel-k-knative/impl)
what should I do for those 2 dependencies ?
[code]

[2022-01-27 19:11] lburgazzoli commented on #3459
I think the annotations should be removed, however we need to reason about how to replicate the same feature with quarkus constructs

[2022-01-27 20:20] #3222 closed

[2022-01-27 20:21] #3115 closed

[2022-01-28 14:12] JiriOndrusek commented on #3471
@zhfeng There is a camel issue, which causes deadlock with multicast  - https://issues.apache.org/jira/browse/CAMEL-17474
You can verify if this issue is related by omitting following revision in camel - https://github.com/apache/camel/commit/961ad0e56e9331e71c386415ec67676e586ea629

[2022-01-28 15:39] DenisIstomin opened #3503 "Camel-xslt-quarkus: add extension functions support"
Camel-xslt-quarkus uses hardcoded Xalan [org.apache.xalan.xsltc.trax.TransformerFactoryImpl](https://github.com/apache/camel-quarkus/blob/main/extensions-support/xalan/runtime/src/main/java/org/apache/camel/quarkus/support/xalan/XalanTransformerFactory.java#L47) to compile XSL at the build-time.
Also feature [FEATURE_SECURE_PROCESSING](https://github.com/apache/camel-quarkus/blob/main/extensions-s

[2022-01-28 15:48] ppalaga opened #3504 "Ban javax.validation in favor of jakarta.validation"
Same as in Quarkus:

[code]

[2022-01-29 16:25] zhfeng commented on #3471
@bvahdat I agree with @jamesnetherton and  it could be related to https://github.com/apache/camel/commit/961ad0e56e9331e71c386415ec67676e586ea629 which introduce  ```void scheduleQueue(Runnable runnable)``` used for routing using transactions.

Also It looks like the camel-spring and camel-jta has a slight different with ```TransactionErrorHandler::processByErrorHandler(final Exchange exchange)```

[2022-01-31 09:40] zbendhiba commented on #3416
This is open, just to make sure that tests run fine in the Daily Camel main branch.

[2022-01-31 10:58] jamesnetherton commented on #3498
I gave this a try locally. The `jdbc`, `jpa`, `jta` extension tests worked fine once I modified the JDBC URLs and removed the `tcp://` part.

For the `sql` extension tests, 'zero config' for H2 devservices didn't seem to be working properly.

[code]

I couldn't test native due to:

[code]

In general the H2 fundamentals seem to be working ok.

[2022-01-31 13:22] #3496 closed

[2022-01-31 14:26] ppalaga commented on #3503
I guess those should be new configuration parameters, right? Could you please specify their expected range of values, defaults, and explain what they should actually do?

[2022-02-01 08:16] jamesnetherton opened #3509 "[Camel 3.15.0] Consul native integration test failure"
Not sure what the underlying issue is with this. The Consul client was upgraded to 1.5.3 and now there's an error on the native image build:

[code]

The native executable is actually built successfully, but when it runs, nothing happens.

I will disable the native test for now.

[2022-02-01 12:34] #1684 closed

[2022-02-01 23:08] DenisIstomin commented on #3503
Hi @ppalaga, to be able to use extension functions in JVM mode (as well as in Native mode), these configuration steps have to be done:
**1.** Set `FEATURE_SECURE_PROCESSING` to `false`
**2.** Specify extension function classes, so they will be registered for reflection to run in Native mode

**Step 1**. can be achieved in different ways:
- add new setting `quarkus.camel.xslt.secureProcessing` with

[2022-02-02 09:13] ppalaga opened #3511 "CamelTestSupport style of testing"
Based on the demand heart in https://github.com/apache/camel-quarkus/issues/1981 and elsewhere, we should provide a way for testing in the CamelTestSupport way known from other Camel runtimes.

This may include at least the following:

1. Offer our own CamelTestSupport class  overriding createCamelContext() override, so that end users do not need to copy it over and over again:

[code]

2. We shou

[2022-02-02 10:28] ppalaga commented on #3503
Thanks for the explanation @DenisIstomin, it is much clearer to me now!

Step 1:
I think giving users the option to set their own TrasformerFactory could awake the impression that any transformer factory implementation would work. In fact our extension expects this particular Xalan TrasformerFactory. So I'd be in favor of allowing end users to configure this factory via config params rather than p

[2022-02-02 10:29] ppalaga commented on #3503
If you like the above, please feel free to send a PR.

[2022-02-02 11:07] jamesnetherton opened #3514 "Expand Cassandra CQL extension test coverage"
* Different cluster connection mechanisms - plain connection URL string / session bean
* Custom `LoadBalancingPolicy`
* Custom `ResultSetConversionStrategy`
* Usage of `NamedCassandraIdempotentRepository`
* Usage of `NamedCassandraAggregationRepository`

[2022-02-02 17:24] ppalaga opened #3517 "Prevent various plugins from resolving commons-logging:commons-logging"
Although we ban `commons-logging:commons-logging` quarkus-bootstrap-plugin and enforcer plugin still download commons-logging:commons-logging when run in some of our modules. It looks like some additional exclusions are needed to eliminate that.

[2022-02-02 21:25] mayeqc commented on #819
When using LRA on Camel Quarkus, when the saga is about to end, an error occurs when communicating with the participant. An embedded coordinator is used. Does anyone know why this can happen?

This is the error
022-02-02 16:24:35,702 INFO  [io.nar.lra] (Periodic Recovery) LRARecord.doEnd put http://localhost:8080/lra-participant/complete?Camel-Saga-Compensate=direct://refundCredit failed
2022-02-0

[2022-02-03 09:24] #3517 closed

[2022-02-03 14:53] baranowb commented on #1751
Assign this one to me please.

[2022-02-03 15:20] DenisIstomin commented on #3503
Thanks @ppalaga, I'm working on providing PR.
I verified that extension functions work with my local changes that disable FEATURE_SECURE_PROCESSING.
There is also no need for any improvements to make them work in Native mode.

There is only one issue: extension functions work only when they are defined in a separate jar, otherwise QuarkusClassloader is not able to load class from `target` folder w

[2022-02-03 17:17] gus-maurizio commented on #3394
Thanks to all the team! It is now working with the latest release.

[2022-02-04 08:19] jamesnetherton opened #3520 "Incorrect version of `quarkus-maven-plugin` may be resolved"
See build failure on the `quarkus-main` branch:

https://github.com/apache/camel-quarkus/actions/runs/1792838270

It may be a consequence of https://github.com/apache/camel-quarkus/commit/b050497cf55391c416e2886f88c677f16d54f472. If you run the build from the project root directory, then the `quarkus-maven-plugin` version is resolved as `2.7.0.Final`. If the build is run from within the integratio

[2022-02-04 08:19] jamesnetherton commented on #3520
/CC @ppalaga

[2022-02-04 10:43] ppalaga opened #3521 "Run integration tests on Linux aarch64"
Related https://github.com/actions/virtual-environments/issues/2552

[2022-02-04 13:24] ppalaga commented on #3520
@jamesnetherton which Maven version are you using? I saw similar issues with 3.8.1, but it worked for me with 3.8.4

[2022-02-04 13:29] jamesnetherton commented on #3520
Ok - then we need to bump the Maven version used by the wrapper. It's still pointing at 3.8.1.

[2022-02-04 18:50] #3514 closed

[2022-02-05 09:06] jamesnetherton commented on #3520
Seems to be fixed with https://github.com/apache/camel-quarkus/commit/6111679cef631d091056a724f487ccf50e75f758.

[2022-02-05 09:06] #3520 closed

[2022-02-07 10:29] jamesnetherton opened #3529 "`CamelMainRoutesIncludePatternWithAbsoluteFilePrefixDevModeTest` fails on Windows"
This test maybe needs to be a bit smarter as it fails on Windows. Or there's some genuine bug with live reload on Windows.

What seems to happen is that when the updated route XML file is copied to replace the previous version, live reload kicks in and restarts the app. But the app seems to pick up the old file content, even though the file was modified.

[2022-02-07 15:09] jamesnetherton opened #3530 "`FileTest.charset` integration test fails on Windows"
The expected UT8 string is being read as `Hello World ??` so the test assertion fails.

[2022-02-08 07:50] jamesnetherton opened #3531 "[Quarkus 2.8.0] Leverage Strimzi dev services container in kafka-oauth integration tests"
See this commit for more details https://github.com/quarkusio/quarkus/commit/c19cedacaf718cb758ae015bb200feedab88ed57.

[2022-02-08 10:51] ppalaga opened #3532 "Cannot build camel-quarkus-ipfs because repository.jboss.org is down"
[code]

[2022-02-08 10:53] #3251 closed

[2022-02-08 11:06] ppalaga commented on #3532
The same issue exists for Weka.

@tdiesler any chance to make the ipfs and weka artifacts available on Maven Central so that our builds are not hit by the flakiness of repository.jboss.org?

[2022-02-08 12:11] ppalaga opened #3534 "Cannot load XSLT custom function from a class in the current application"
A followup of https://github.com/apache/camel-quarkus/pull/3526#issuecomment-1032535928

There is a known limitation in #3526 that custom function classes have to be defined in a separate jar for the transformer to be able to load them. I think this is caused by the fact that TransformerFactory class is resolved using a wrong class loader around here in Camel https://github.com/apache/camel/blob/c

[2022-02-08 15:14] #3460 closed

[2022-02-08 15:14] #3416 closed

[2022-02-08 19:47] ppalaga commented on #3503
Fixed via #3526

[2022-02-08 19:47] #3503 closed

[2022-02-09 08:39] jamesnetherton commented on #383
Addressed by https://github.com/apache/camel-quarkus/commit/c8db766c2296d909f4157aa44d66fd95caebba0c.

[2022-02-09 08:39] #383 closed

[2022-02-09 09:03] jamesnetherton commented on #3346
Fixed by https://github.com/apache/camel-quarkus/commit/c8db766c2296d909f4157aa44d66fd95caebba0c.

[2022-02-09 09:03] #3346 closed

[2022-02-09 09:06] jamesnetherton commented on #3436
Fixed in https://github.com/apache/camel-quarkus/commit/e3a41408e5dbabfbde54528ff1c7dacd88b921a4.

[2022-02-09 09:06] #3436 closed

[2022-02-09 10:31] zbendhiba commented on #2156
There are 2 interesting ideas I have, but there are just ideas from a non frontend person, and I don't know if those are easy to tackle:

- Looking at this kind of Dev UI developed recently : https://github.com/quarkusio/quarkus/issues/21059
- Or go for a more common UI around Camel projects, and have a dedicated back-end for Quarkus Dev UI. As for Kogito's demo on [Quarkus insights](https://youtu

[2022-02-09 10:43] davsclaus commented on #2156
Camel 3.15 comes with API for developer console (camel-console JAR).

It is an early prototype that comes with a set of out of the box consoles to provide various information about your running Camel application. More consoles will be added.

These consoles currently are text based, but we need to spec the data in JSon so graphical consoles in camel-quarkus can use the data and display nicely.

It

[2022-02-09 11:08] zhfeng commented on #3457
@xjazzfreakx I think this should be fixed in camel 3.15.0. Also you can try the new feature with [Camel Rest DSL - Expose Rest DSL services to quarkus openapi](https://github.com/apache/camel-quarkus/issues/3251) and just enable it by
[code]

[2022-02-09 16:29] #1384 closed

[2022-02-09 17:37] #1429 closed

[2022-02-09 17:37] #3342 closed

[2022-02-10 13:34] jamesnetherton commented on #2957
I'm going to disable this test on CI because it's a frequent source of build failures.

[2022-02-10 14:52] zbendhiba opened #3541 "Improve slack test coverage"
Add those test cases :

- Producing messages using webhookUrl
- Create blocks

[2022-02-11 13:30] #3213 closed, assigned to JiriOndrusek

[2022-02-11 15:32] ppalaga commented on #1701
We will remove the existing JVM-only Spark extension https://github.com/apache/camel-quarkus/issues/3466

[2022-02-11 15:32] #1701 closed

[2022-02-11 15:38] ppalaga commented on #1956
Won't fix, because we plan to remove the existing JVM-only Spark extension https://github.com/apache/camel-quarkus/issues/3466

[2022-02-11 15:38] #1956 closed

[2022-02-11 15:38] ppalaga commented on #1955
Won't fix, because we plan to remove the existing JVM-only Spark extension https://github.com/apache/camel-quarkus/issues/3466

[2022-02-11 15:38] #1955 closed

[2022-02-11 15:43] zbendhiba commented on #3466
+1

[2022-02-11 16:17] ppalaga commented on #3466
Deprecation PR https://github.com/apache/camel-quarkus/pull/3544

[2022-02-14 12:15] josephearl opened #3548 "LinkageError when using camel-quarkus-activemq together with quarkus-agroal"
Java: 11.0.2 (Oracle Corporation 11.0.2+9)
Gradle: 7.3.3
Quarkus: 2.7.1.Final

When using `camel-quarkus-activemq` together with `quarkus-agroal` there is a LinkageError:

[code]

In order to get this working you have to exclude the transitive `geronimo-jta_1.1_spec`  dependency included by `camel-quarkus-activemq`, e.g.:

[code]

Expected is that there is no linkage error and that the dependencie

[2022-02-14 12:46] martku commented on #3471
I have probably a related behavior (see https://camel.zulipchat.com/#narrow/stream/257302-camel-quarkus/topic/use.20mdc.20logging.20and.20breadcrumb/near/271284700) trying to log the routeId and breadcrumbId of a transacted route with:

[code]

and

[code]

Maybe have also a look an that. Thanks

[2022-02-14 13:17] jamesnetherton opened #3549 "Improve qute component documentation"
The `qute` extension documentation provides no real insight into how to use the Camel component.

It'd be nice if we documented the component options and some basic usage examples.

[2022-02-14 14:59] zhfeng commented on #3549
I will take a look since I wrote this extension before.

[2022-02-14 15:13] zhfeng commented on #3548
I think it should be fine to exclude the ```geronimo-jta_1.1_spec``` and will raise a PR .

[2022-02-14 22:53] Sanne commented on #3548
+1 thanks!

See also https://github.com/quarkusio/quarkus/pull/23691

[2022-02-15 13:19] ppalaga opened #3551 "Ban jboss-transaction-api*, javax.transaction:* and geronimo-jta* in favor of jakarta.transaction:jakarta.transaction-api"
Much like in Quarkus, we need to ban all non-canonical JTA specs artifacts:

[code]

https://github.com/quarkusio/quarkus/pull/23691

[2022-02-15 13:23] ppalaga commented on #3548
I have filed https://github.com/apache/camel-quarkus/issues/3551 to track the necessary bans.

[2022-02-16 02:20] #3548 closed

[2022-02-16 09:25] jamesnetherton commented on #3343
Fixed by https://github.com/apache/camel-quarkus-examples/pull/75.

[2022-02-16 09:25] #3343 closed

[2022-02-16 10:47] josephearl opened #3552 "How do you configure an InterceptStrategy in Quarkus?"
In Spring Boot it was as simple as having a bean that implements `InterceptStrategy`, but this doesn't seem to work with Quarkus - the bean is not used and I get a warning:

[code]

[2022-02-16 11:19] jamesnetherton commented on #3552
You can annotate the bean producer with `@Unremovable`. Or assign a name to bean with `@Named`, which automatically makes it unremovable.

[2022-02-16 11:25] josephearl commented on #3552
Thanks @jamesnetherton

To actually add the interceptor I had to do it manually with:

[code]

It would be nice for this to be configured automatically if there is one or more beans of type `InterceptStrategy` like it does for Spring Boot - https://camel.apache.org/manual/advanced-configuration-of-camelcontext-using-spring.html#_auto_configuration_of_optional_services

[2022-02-16 11:32] jamesnetherton commented on #3552
It should already work automatically. It's a feature of `camel-main`.

If you register a CDI bean of type `InterceptStrategy` it will be resolvable by lookups on the Camel registry.

E.g if I write a producer method like:

[code]

On startup Camel reports:
[code]

[2022-02-16 11:36] josephearl commented on #3552
@jamesnetherton I had my class annotated with `@ApplicationScoped` like the following which did not work:

[code]

[2022-02-16 11:39] josephearl commented on #3552
Adding the `@Named` to my previous example with `@ApplicationScoped` makes it work - not sure why the `@Named` is required with Quarkus and not Spring Boot?

[2022-02-16 11:43] jamesnetherton commented on #3552
By default, Quarkus will remove what it considers to be 'unused' beans. E.g in this case, there's no injection point for your bean (since Camel does not need one), so it's removed.

I guess the enhancement here would be for Camel Quarkus to discover any beans of type `InterceptStrategy` and automatically make them 'unremovable'.

[2022-02-16 11:44] josephearl commented on #3552
I'll raise that as a separate request, thanks for all of your help @jamesnetherton

[2022-02-16 11:44] #3552 closed

[2022-02-16 11:48] josephearl opened #3553 "Feature request: make beans for configuration of optional services unremovable by default"
See https://github.com/apache/camel-quarkus/issues/3552#issuecomment-1041402892

By default, Quarkus will remove what it considers to be 'unused' beans.

Camel Quarkus should discover any beans for configuration of optional services - e.g. https://camel.apache.org/manual/advanced-configuration-of-camelcontext-using-spring.html#_auto_configuration_of_optional_services - and make them unremovable so

[2022-02-16 11:50] jamesnetherton opened #3554 "AWS Lambda example tests should use mock event server"
`LambdaClient` is deprecated, so we should switch to testing with the mock event server.

https://github.com/apache/camel-quarkus-examples/blob/main/aws-lambda/src/test/java/org/acme/aws/lambda/AWSLambdaHandlerTest.java

https://quarkus.io/guides/amazon-lambda#live-coding-and-unitintegration-testing

[2022-02-16 14:57] aldettinger opened #3556 "Gson: Complete doc and test coverage"

[2022-02-16 15:04] JiriOndrusek commented on #3488
I've found that problem is caused by the camel. I reported it as https://issues.apache.org/jira/browse/CAMEL-17658

[2022-02-16 21:24] #3199 closed

[2022-02-17 08:09] davsclaus opened #3558 "Remove AHC and AHC-WS extensions"
We have vertx-http as the primary component for http and we should not have extensions for AHC - its not a good component in camel.

[2022-02-17 08:11] davsclaus commented on #3558
https://issues.apache.org/jira/browse/CAMEL-17667

[2022-02-17 08:18] #3556 closed

[2022-02-17 09:58] jamesnetherton opened #3561 "Increase `azure-storage-blob` extension test coverage"
Cover operations for:

- downloadBlobToFile
- downloadLink
- uploadBlockBlob
- stageBlockBlobList
- commitBlobBlockList
- getBlobBlockList
- createAppendBlob
- commitAppendBlob
- createPageBlob
- uploadPageBlob
- resizePageBlob
- clearPageBlob
- getPageBlobRanges
- copyBlob
- listBlobContainers
- createBlobContainer
- deleteBlobContainer
- getChangeFeed
- listBlobs

[2022-02-17 10:32] #3551 closed

[2022-02-17 11:20] zbendhiba opened #3562 "Increase telegram test coverage"
Add test coverage for these functionalities:

- Webhook mode
- Customizing keyboard

[2022-02-18 08:49] jnsw commented on #821
Is this a thing now?

[2022-02-18 09:22] oscerd commented on #821
No.

[2022-02-18 09:22] oscerd commented on #821
Only JVM https://github.com/apache/camel-quarkus/tree/main/extensions-jvm/milo

[2022-02-21 14:08] ppalaga commented on #3302
I think all Quarkus Platform participants (including us) should stop importing Quarkus BOM into their BOMs. That would solve some problems on our side and also in the Platform. Have you ever thought of such a policy @aloubyansky?

[2022-02-21 14:12] aloubyansky commented on #3302
Depending on the use-case, they may get resolved anyway as long as they are imported by parent POMs or there is a dependency on a Quarkus artifact from 1.3.3.Final, for example, whose POM inherits the corresponding BOM.

[2022-02-21 14:13] aloubyansky commented on #3302
Checking how many versions of jboss-parent get resolved is another example.

[2022-02-22 13:19] oscerd opened #3566 "Create Camel Google Secret Manager Extension"
This will be available in 3.16.0

[2022-02-22 15:03] JiriOndrusek opened #3567 "Improve camel-quarkus-bean-validator test coverage"
Add tests for:
- validation based on xml configuration
- groups
- tests using various configuration options to detect possible native configuration requirements:
   - ConstraintValidatorFactory
   - MessageInterpolator
   - TraversableResolver
   - ValidationProviderResolver
   - validationFactory

[2022-02-22 16:50] albert0815 opened #3569 "Update dependency org.reflections:reflections in dependencyManagement of quarkus-camel-bom"
In quarkus-camel-bom currently version 0.9.12 of org.reflections:reflections is being used. This has a known issue which I am suffering now (https://github.com/ronmamo/reflections/issues/273). Are you planning for updating this in the dependency management of quarkus-camel-bom at some point in time?

[2022-02-23 08:49] ppalaga commented on #3302
Yes, that's a good point.

But the point made by @jamesnetherton above is still valid, isn't it?

Platform participants not importing quarkus-bom into their BOMs would prevent that, no?

[2022-02-23 09:04] aloubyansky commented on #3302
No, that shouldn't happen. Did you actually see that happening?

[2022-02-23 09:17] ppalaga commented on #3302
I know the Platform BOM generators prevents that actively. But it is still an issue in camel-quarkus-bom that we test with and Camel K uses it at runtime.

[2022-02-23 09:52] zhfeng commented on #3471
The upstream fix in camel https://github.com/apache/camel/pull/7014

[2022-02-23 12:41] aldettinger opened #3571 "jsonpath: JSON keys are unquoted when using writeAsString in native mode"

[2022-02-23 13:11] #3561 closed

[2022-02-23 14:33] jamesnetherton opened #3574 "Build maintence branch PRs against corresponding camel-quarkus-examples maintenance branch"
E.g if we build a PR for CQ `2.7.x` then the `examples-tests` workflow job should check out `2.7.x` in CQE and not `camel-quarkus-main`.

[2022-02-23 17:30] aldettinger commented on #3571
Backported to 2.7.x: https://github.com/apache/camel-quarkus/commit/0b222aa6a99b8dee160fe4bff13d895d42bab8e1

[2022-02-23 17:37] #3571 closed

[2022-02-23 18:18] zbendhiba opened #3577 "Azure storage queue : increase Producer test coverage"
Add these use cases :

- List queues
- Clear queue
- Peek, update and delete messages

[2022-02-23 18:36] ppalaga commented on #3569
Thanks for the report, @albert0815.

Is the https://github.com/ronmamo/reflections/issues/273 issue triggered by Camel code? If so, which extension?

camel-quarkus-bom gets the version of org.reflections:reflections via imported io.debezium:debezium-bom:1.6.1.Final, line 502.
So, ideally the fix should go there.

As a quick workaround, you can add the following before the BOM imports in your pom.x

[2022-02-23 19:17] albert0815 commented on #3569
Thanks for the hint about the workaround, this is how I solved this for now. Nevertheless I thought it would be useful to also have it updated in the source. And I assumed source would be here, but that seems wrong :). Somehow I can't create an issue in the debezium repo. Not sure whether you want to keep it here or close it, if this is not something which you can deal with this is fine for me. Th

[2022-02-24 08:31] ppalaga commented on #3569
You can file an issue for Debezium here https://issues.redhat.com/projects/DBZ

[2022-02-24 11:04] #3574 closed

[2022-02-24 12:04] jamesnetherton commented on #3265
This is only an issue when the application is under test where multiple Quarkus class loaders are in play:

* Quarkus base runtime class loader
* Quarkus runtime class loader

At runtime there is just the `RunnerClassLoader`.

Maybe there should be an `else` clause added here to add the `BasePackageScanResolver` `ClassLoader` only if the TCCL was `null`:

https://github.com/apache/camel/blob/main/

[2022-02-24 12:32] JiriOndrusek opened #3579 "Improve quartz test coverage"
Add tests for:
- use of CronTrigger
- uses SimpleTrigger
- use of quartz.properties file for configuration
- quart scheduler in jmx
- delayed start of quartz scheduler
- cluster mode
- getting headers from quartz
- specifycation of timezone
- missfire instructions
- use of QuartzScheduledPollCoonsumerScheduler

[2022-02-24 14:43] jirisimek98 opened #3580 "Missing link to Camel user manual in the CQ documentation"
In the Camel Quarkus documentation, there is no direct link to the Getting started with Camel section of the User manual. It would be nice to have a link either in the documentation or in the sidebar menu as the User guide only covers the specifics of Camel Quarkus and doesn't explain Camel in general.

[2022-02-28 08:38] jamesnetherton commented on #2196
Whilst it may be desirable to leverage Vert.x, I wonder if it'd be safer to stick with client implementations that are provided by the Azure SDK? Since they're already well proven and running in production systems.

If we want to remove `extensions-support/reactor-netty`, then we could probably do so by switching to the pure JDK client impl:

https://github.com/Azure/azure-sdk-for-java/tree/main/s

[2022-02-28 08:47] cescoffier commented on #2196
Both will lead to wasting a lot of resources. reactor-netty is its own event loop if I'm not mistaken. The JDK HTTP Client is using executors.

[2022-02-28 14:56] jamesnetherton opened #3581 "Remove `CamelMainApplication` for command mode applications"
Leftover from the 'main always enabled' change, we should remove `CamelMainApplication` since it no longer makes any sense:

https://camel.zulipchat.com/#narrow/stream/257302-camel-quarkus/topic/quarkus.20main

[2022-03-01 08:02] aldettinger opened #3582 "jsonpath: The behavior change in native-mode when an application depend upon jackson-module-jaxb-annotations"
When `com.fasterxml.jackson.module.jaxb.JaxbAnnotationModule` is on the classpath, it is instantiated via reflection by the `JacksonJsonAdapter`.
As such, the `defaultMapper` has one module more in JVM mode. After discussion, we decided to register the `JaxbAnnotationModule` for reflection.

[2022-03-01 12:05] #3582 closed

[2022-03-02 09:21] jamesnetherton opened #3584 "Intermittent failure of FileTests"
Regular offender for CI failures:

[code]

[2022-03-02 09:36] #3567 closed

[2022-03-02 22:17] #3386 closed

[2022-03-04 12:14] davsclaus opened #3592 "[Camel 3.16.0] - camel-kafka uses some reflection for readiness health check"
https://issues.apache.org/jira/browse/CAMEL-17727

The class KafkaFetchRecords and KafkaProducer in the camel-kafka component has some reflection code

[2022-03-07 01:51] zhfeng commented on #3592
It needs to add ```ReflectiveClassBuildItem``` for ```org.apache.kafka.clients.producer.KafkaProducer``` and ```org.apache.kafka.clients.consumer.KafkaConsumer```

[2022-03-07 02:29] zhfeng commented on #3553
Hi @josephearl I just raise a PR to unremovable with InterceptStrategy. If it works, I think we can add the other optional services.

[2022-03-07 07:43] jamesnetherton commented on #2468
Since `NativeImageTest` is now [deprecated](https://github.com/quarkusio/quarkus/blob/main/test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeImageTest.java#L32), we should switch anything that uses it to `QuarkusIntegrationTest`.

[2022-03-07 08:27] llowinge opened #3595 "Unstable test AWS SQS SNS"
Quite frequently we face similar error in test automation, usually after manual re-run of test it passes.

Could someone investigate it ?

Error log:
<details>
2022-03-04 08:26:35,255 INFO  [org.apa.cam.qua.tes.sup.aws.Aws2TestResource] (pool-3-thread-1) Loaded Aws2TestEnvCustomizer org.apache.camel.quarkus.component.aws2.sqs.it.Aws2SqsSnsTestEnvCustomizer
2022-03-04 08:26:35,256 INFO  [org.apa.ca

[2022-03-07 10:24] aldettinger commented on #3584
The same kind of issue happens in  `FileTest.filter`:

[code]

After investigations, the race condition could be made more probable with manual changes below:
[code]

At the end of the day, it could happen that `result` has length 0, right after the mock receive an exchange, but then `mockEndpoint.reset()` is called, thus clearing the received exchange from the mock. As such, the race condition tr

[2022-03-08 09:43] jamesnetherton opened #3599 "Tika 2.x incompatible with Quarkus Tika"
Camel has moved on to Tika 2.x, Quarkus Tika is currently aligned with 1.x.

Seems most functionality actually works when I exclude the `org.apache.tika` dependencies from `org.apache.camel:camel-tika`, except for the `textMain` content type:

[code]

For native mode it's possible to fix and work around this via a substitution. For JVM mode it's a bit trickier to fix.

[2022-03-08 09:47] zbendhiba commented on #3459
I unassigned myself. I don't think I understand fully what to do with knative, knative-consumer and knative-producer. Do we create 3 extensions or combine in one? I'm not sure porting the integration tests in the project is enough to test if this could work fine for camel-k

[2022-03-08 11:08] jamesnetherton commented on #3599
I have a workaround in place until things are aligned better.

[2022-03-08 11:09] jamesnetherton commented on #3599
See also https://github.com/quarkiverse/quarkus-tika/issues/22.

[2022-03-08 11:38] #3553 closed

[2022-03-08 13:02] jamesnetherton opened #3601 "Increase FHIR extension test coverage"
Cover operations:

* capabilities
* create
* delete
* history
* load-page
* meta
* operation
* patch
* read
* search
* transaction
* update
* validate

[2022-03-08 15:10] zhfeng commented on #3599
[TikaProducerSubstitutions.java](https://github.com/apache/camel-quarkus/blob/camel-main/extensions%2Ftika%2Fruntime%2Fsrc%2Fmain%2Fjava%2Forg%2Fapache%2Fcamel%2Fquarkus%2Fcomponent%2Ftika%2Fgraalvm%2FTikaProducerSubstitutions.java) is missing license header.

[2022-03-08 15:35] jamesnetherton commented on #3599
I've added it now.

[2022-03-08 15:45] apupier opened #3604 "Use https instead of http to reference xsds"
it is more secure.

for instance, one spotted place in examples: https://github.com/apache/camel-quarkus-examples/blob/7e64111f5b100a6c7bdf457d37da162dd26c7ec9/timer-log-xml/src/main/resources/routes/my-routes.xml#L24

[2022-03-08 17:41] mbchangellc opened #3605 "camel-quarkus-openapi-java not marking required boolean properties if variable prefixed with is"
I filed the bug report below with the Camel team and was told to report it here.  Camel bug report: [CAMEL-17765](https://issues.apache.org/jira/browse/CAMEL-17765).  Thanks.

Boolean properties are not marked as required in the openapi document if the respective member variable name is prefixed with is.  The Fruit class in the attached project contains two boolean properties described below which

[2022-03-09 07:22] #2196 closed

[2022-03-09 15:47] mbchangellc opened #3606 "camel-quarkus-openapi-java marking all properties as type object in native mode"
When running a native image in a Docker container, the types of all properties in the generated openapi document are of type object.  When run with the JVM/non-native, properties are correctly marked as type string.  Project reproducing the issue attached.

Excerpt generated running as native application in Docker container:
[code]

Excerpt generated running with the JVM:
[code]

Build command
`/g

[2022-03-10 09:05] zhfeng commented on #3605
So this issue should be fixed in upstream camel ?

[2022-03-10 09:06] zhfeng commented on #3606
I will take a look

[2022-03-10 09:26] zhfeng opened #3608 "[Camel 3.16] rest-json example compliation error"
[code]

It should be related to [[CAMEL-17675] Rest DSL - Removed inlined routes](https://issues.apache.org/jira/browse/CAMEL-17675)

[2022-03-10 14:41] aldettinger opened #3610 "zipfile: Complete test coverage"

[2022-03-10 15:23] jamesnetherton opened #3612 "Quarkus Qute backed FHIR `NarrativeGenerator`"
For automatic narrative generation you can set a `NarrativeGenerator` on the `FhirContext`. The downside is that currently the only automatic generator is based on Thymeleaf. I've not tested it, but it probably does not work OOTB in native mode.

Therefore, it might be worth seeing if Qute could be leveraged as a replacement.

[2022-03-11 09:12] #3610 closed

[2022-03-11 13:02] #3604 closed

[2022-03-14 08:20] #3601 closed

[2022-03-14 10:01] jamesnetherton opened #3615 "Support additional FHIR 2.x versions"
There are some config properties for enabling support for various FHIR versions:

https://camel.apache.org/camel-quarkus/2.7.x/reference/extensions/fhir.html#_additional_camel_quarkus_configuration

There are no options for:

* `DSTU2_HL7ORG`
* `DSTU2_1`

The relevant `hapi-fhir-structures` dependencies are missing on the Camel component. In general we can probably be a bit smarter with this in CQ

[2022-03-14 10:26] ppalaga commented on #3615
Could you please check, whether we manage all necessary pieces in our BOM?

[2022-03-14 10:28] jamesnetherton commented on #3615
That will be part of this change.

[2022-03-14 10:55] jamesnetherton commented on #3615
Thinking about it a bit more, I wont do this initially. It potentially makes things more difficult for camel-k / kamelet usage.

For now, I'll keep the scope of this issue to just adding support for the versions I mentioned and ponder optimisations in a separate issue.

[2022-03-14 13:48] josephearl opened #3617 "Error building native executable with camel-quarkus-activemq"
I have a Gradle/Java 11 project configured to build a native executable as follows:

build.gradle:
[code]

application.properties:
[code]

As soon as I add the `camel-quarkus-activemq` to my dependencies:

[code]

then `./gradlew assemble` starts to fail when building the native image with:

[code]

[2022-03-14 14:20] jamesnetherton commented on #3617
There are a set of workarounds in place to avoid the need for Kotlin to be on the runtime classpath for native compilation:

https://github.com/apache/camel-quarkus/blob/main/extensions-support/spring/deployment/src/main/java/org/apache/camel/quarkus/support/spring/deployment/SpringKotlinProcessor.java

Maybe this is not working with Gradle. E.g maybe those Kotlin classes are some how resolvable a

[2022-03-14 15:09] aldettinger commented on #3532
It actually generated issues on quarkus-platform. After discussion, maybe it's better to remove them in next 2.8.0 as we can't rely on the jboss repository.

[2022-03-14 15:12] aldettinger opened #3618 "camel-quarkus-test-list should not include ipfs removed extension"
During 2.8.0-M1, the generated list included ipfs itest while it should not:
https://repo1.maven.org/maven2/org/apache/camel/quarkus/camel-quarkus-test-list/2.8.0-M1/camel-quarkus-test-list-2.8.0-M1.xml

[2022-03-14 16:20] zbendhiba commented on #3531
I was testing this afternoon. I've done some the work already here https://github.com/zbendhiba/camel-quarkus/commit/ac0c73f97cb6d0d24d6a404c7820163d74348500
I'll push a PR when we move to Quarkus 2.8.0.CR1

[2022-03-15 09:04] josephearl commented on #3617
I'm not using Kotlin at all so wouldn't have thought adding a kotlin dependency would be needed?

[2022-03-15 09:14] jamesnetherton commented on #3617
It isn't. But in this case we need to work around the Gradle issue I mentioned & satisfy the native compiler. So it could serve as a temporary workaround until the root cause is fixed properly. Otherwise the alternative is to switch to building with Maven.

[2022-03-15 09:20] josephearl commented on #3617
@jamesnetherton thanks, understood. I have added that dependency and it did fix the native build

[2022-03-15 10:00] aldettinger opened #3621 "cassandraql: itests failing on quarkus-platform"
While attempting to upgrade quarkus-platform to camel-quarkus-2.8.0-M1, the cassandraql tests are failing:
[code]

Those itests are failing only on quarkus-platform, it works on cq main and even cq-2.8.x + quarkus 2.7.4.Final.

This class `org.apache.camel.quarkus.component.cassandraql.it.CustomLoadBalancingPolicy` is present in the 2.8.0-M1 itest-jar.

I've experimented with `<quarkus.arc.unremov

[2022-03-15 10:39] jamesnetherton commented on #3621
It could be because of this:

https://github.com/apache/camel-quarkus/blob/0d8e2b0905024324cb11dc54459c0e6207a6b8ae/integration-tests/cassandraql/src/main/java/org/apache/camel/quarkus/component/cassandraql/it/CustomLoadBalancingPolicy.java#L27

It's probably safe to remove references to that annotation in `CustomLoadBalancingPolicy`. One of those cases where I lazily let my IDE produce the method

[2022-03-15 12:28] aldettinger commented on #3621
I've raised a PR https://github.com/apache/camel-quarkus/pull/3623.

I would be interested in any pointers explaining why @ NonNull would make the class unloadable in quarkus-platform.
Maybe there is some kind of reflective class replacement under the hood. And that would work in main and not quarkus-platform.

[2022-03-15 14:12] jamesnetherton opened #3625 "JavaDoc code blocks are not rendered well in the documentation"
Here's how the config docs for the YAML DSL is supposed to look:

https://github.com/apache/camel-quarkus/blob/main/extensions-core/yaml-dsl/runtime/src/main/java/org/apache/camel/quarkus/dsl/yaml/YamlDslConfiguration.java#L26-L59

How it actually gets rendered:

https://camel.apache.org/camel-quarkus/2.7.x/reference/extensions/yaml-dsl.html#quarkus.camel.yaml.flow-mode

I notice in Quarkus that t

[2022-03-15 14:47] aldettinger commented on #3621
Backported to 2.7.x: https://github.com/apache/camel-quarkus/commit/96bd3a6594a0f582ba2156dbc12c20227b855d5c

[2022-03-16 01:04] #3606 closed

[2022-03-16 12:18] zhfeng commented on #3432
@davsclaus it makes sense to enable source lcation in dev mode ? I just think to add a ```CamelContextCustomizerBuildItem``` like

[code]

[2022-03-16 12:26] davsclaus commented on #3432
Yes that would be great, for example I can see the loc:line even for kamelets
[code]

[2022-03-16 13:37] aldettinger opened #3627 "file: FileTest is flaky"
The build has failed once on [camel-quarkus CI](https://github.com/apache/camel-quarkus/runs/5509250742?check_suite_focus=true) and once in [quarkus-platform CI](https://github.com/quarkusio/quarkus-platform/runs/5569244554?check_suite_focus=true#step:6:24599) with error message as below:

[code]

The frequency of this build issue seems quite low, still problematic.

There could be a link with #35

[2022-03-17 08:14] ppalaga opened #3632 "Use com.github.java-json-tools:* instead of com.github.fge:*"
`com.github.fge` was renamed to `com.github.java-json-tools`. We should ban `com.github.fge` and add replacements where necessary.

[2022-03-17 08:22] aldettinger commented on #3618
Backported to camel-quarkus 2.7.x where it would also break quarkus-platform: https://github.com/apache/camel-quarkus/commit/1e3ea1c5e2af9a721b58ffefce9ee2272a1c7abb

[2022-03-17 08:22] #3618 closed

[2022-03-17 16:58] #3632 closed

[2022-03-18 01:27] #3432 closed

[2022-03-18 08:19] jamesnetherton commented on #3521
Another possible option for this would be to do these tests on the Apache CI infra.

[2022-03-18 11:35] jamesnetherton opened #3638 "`Aws2KinesisTest.kinesis` failure"
Seems the test of the kinesis consumer does not find the expected result.

[code]

I'm disabling the test for now.

[2022-03-18 12:41] jamesnetherton commented on #3608
Fixed in https://github.com/apache/camel-quarkus-examples/pull/81.

[2022-03-18 12:41] #3608 closed

[2022-03-18 12:41] #3615 closed

[2022-03-18 16:26] aldettinger commented on #3532
However, we'll reinstate it in 2.7.x for branch stability purpose. If build stability is too much impacted, we might removed it there also.

[2022-03-18 17:54] alexkazan87 opened #3642 "Camel can not support kafka transactions."
I just started to use camel for a Kafka producer integration with the camel transacted and the JtaTransactionPolicy.
It works very well.

Besides it, I need the Kafka Transaction Manager too, so I added the following property:

camel.component.kafka.additional-properties[[transactional.id](http://transactional.id/)]=12345

but an error arises :

 **On delivery attempt: 0 caught: java.lang.IllegalS

[2022-03-18 20:07] #3532 closed

[2022-03-21 07:23] #3617 closed

[2022-03-21 08:28] aldettinger commented on #3627
One occurence more: https://github.com/apache/camel-quarkus/runs/5579549052?check_suite_focus=true#step:9:10012

[2022-03-21 08:30] zbendhiba commented on #3459
As discussed with @lburgazzoli:

- create 3 extensions : split the knative extension to 3 extensions : knative + knative-consumer  + knative-producer. The consumer and producer extensions will be empty and unse the knative one. Those are for camel-k usage. Check if this could be improved later
- leave the [impl](https://github.com/apache/camel-k-runtime/tree/main/camel-k-knative/impl) part in came

[2022-03-21 09:27] #3541 closed

[2022-03-21 09:41] jamesnetherton commented on #3554
Fixed here https://github.com/apache/camel-quarkus-examples/pull/82.

[2022-03-21 09:41] #3554 closed

[2022-03-21 14:28] zhfeng commented on #3612
@jamesnetherton is there more details with ```NarrativeGenerator``` ? some documations about how to generate the codes with the template, or some examples.

[2022-03-21 15:04] jamesnetherton commented on #3612
There is more information about it here:

https://hapifhir.io/hapi-fhir/docs/model/narrative_generation.html

I consider this a 'nice to have' feature rather than a high priority one. I am not sure if users enabling automatic narrative generation is a common use case.

[2022-03-21 16:19] alexkazan87 commented on #3642
Yes, you are right, `_Kafka transaction does not support JTA_`.

The main problem is that I enabled the kafka transactions with transaction.id property for exactly once and the camel code before it sent any event, It did not initialize it.  This is not related to transacted(). if the camel team can solve this then we can move to other trouble for me.

`_I assume that you want to do Kafka transacti

[2022-03-21 17:56] #3627 closed

[2022-03-22 08:33] aldettinger commented on #3530
Should be fixed by https://github.com/apache/camel-quarkus/pull/3647. Let's re-open if the charset part prove to be broken again..

[2022-03-22 08:33] #3530 closed

[2022-03-22 08:43] aldettinger commented on #3584
It seems to still be there after 2.8.0-M1.

At least, we have seen it once in a Windows build:
[code]

Let records few occurences to see how frequent it is and whether it still happen on Linux or not.

[2022-03-22 10:41] jamesnetherton commented on #3521
There are 2 ARM nodes. Not sure if they're open for everyone to use....

[2022-03-22 12:43] ppalaga opened #3650 "Add more details about `@QuarkusIntegrationTest` in Testing guide"
After https://github.com/apache/camel-quarkus/pull/3648, `@QuarkusIntegrationTest` is a bit misleadingly mentioned only as a means to run tests in native mode. However, it is much more versatile and we should certainly mention it in the guide:
* Can also be used to run the given test in JVM mode
* Can run the test against a container - this is esp. handy on Windows: build Linux native executable i

[2022-03-22 12:52] #2468 closed

[2022-03-22 22:56] ppalaga commented on #3521
Asked the INFRA team https://issues.apache.org/jira/browse/INFRA-23024

[2022-03-23 07:34] zhfeng commented on #3642
Thanks @alexkazan87 - I will check these codes this week.

[2022-03-23 16:21] zbendhiba opened #3655 "Azure Storage blob - test failure"
When running integration tests with my Azure account I have an error:
[code]
FYI: Running on main branch. I created the needed resources with the [script](https://github.com/apache/camel-quarkus/blob/main/integration-test-groups/azure/azure-resources.sh).

[2022-03-24 08:12] zhfeng opened #3656 "Improve camel-quarkus-paho-mqtt5 test coverage"
- MQTT over WebSocket test
- FilePersistence test
- Override the default topic and set to a dynamic topic
- Reconnect after failure
- Security

[2022-03-24 11:26] jamesnetherton opened #3657 "Improve support for `InfinispanRemoteAggregationRepository` with Quarkus Infinispan"
There is some commentary about moving away from the (deprecated) `JbossUserMarshaller` and Java serialization here:

https://github.com/apache/camel/blob/main/components/camel-infinispan/camel-infinispan/src/main/java/org/apache/camel/component/infinispan/remote/InfinispanRemoteAggregationRepository.java

When testing the scenario where the Infinispan client is configured & managed by the Camel co

[2022-03-24 11:30] jamesnetherton opened #3658 "Improve Infinispan extension test coverage"
* Operations

CLEAR
CLEARASYNC
COMPUTE
COMPUTEASYNC
CONTAINSKEY
CONTAINSVALUE
GET
GETORDEFAULT
PUT
PUTALL
PUTALLASYNC
PUTASYNC
PUTIFABSENT
PUTIFABSENTASYNC
QUERY
REMOVE
REMOVEASYNC
REPLACE
REPLACEASYNC
SIZE
STATS

* Idempotent repository
* Aggregation repository
* Custom mapping functions
* Custom event listeners

[2022-03-24 13:37] jamesnetherton commented on #3657
Also it does not seem to work properly in native mode. There is something wrong with deserialization. For some reason it's trying to instantiate `AbstractMap`:

[code]

[2022-03-24 13:42] #3592 closed

[2022-03-25 07:06] #3658 closed

[2022-03-25 09:20] #3579 closed

[2022-03-25 09:24] #3457 closed

[2022-03-25 10:48] #3265 closed

[2022-03-25 10:52] aldettinger commented on #3265
Great to see that @jamesnetherton. Many thanks for handling it.

[2022-03-25 13:32] jamesnetherton opened #3665 "Exclude `jboss-marshalling-osgi` from `infinispan-jboss-marshalling`"
I had to revert the original change and need to revisit this.

Excluding the dependency leads to an NPE in the idempotent repository shutdown.

[2022-03-28 06:13] #3650 closed

[2022-03-28 08:00] aldettinger commented on #2078
Thanks for expressing interest in cq-datasonnet. It could be interesting.
People are quite busy those days, so it's just a matter of finding a contributor with time.

There are pages indicating how to contribute:
https://camel.apache.org/camel-quarkus/2.7.x/contributor-guide/create-new-extension.html
Would you like to have a try ?

[2022-03-28 09:54] jamesnetherton commented on #3665
Turns out that `jboss-marshalling-osgi` is actually a mandatory dependency as it contains a bunch of stuff that is critical for `infinispan-jboss-marshalling`. I saw the `-osgi` suffix and assumed we could live without it. The naming likely just relates to the fact that it happens to have OSGI metadata in the JAR manifest.

[2022-03-28 09:54] #3665 closed

[2022-03-28 12:54] ppalaga opened #3669 "Do not let third party BOM cross-manage other extensions' dependencies"
Follows up #3302

E.g. Debezium BOM brings org.reflections:reflections but none our Debezium extensions actually requires it.

There are a couple of other extensions (JBPM and Asterisk) which have nothing to do with Debezium and we let Debezium BOM manage reflections for them.

Ideally, when flattening our BOM, the third-party BOMs should be only taken effective in the scope of extensions where th

[2022-03-28 12:57] ppalaga opened #3670 "Detect potential dependency convergence issues"
Followup issue 4. from #3302:

[2022-03-28 13:00] #3569 closed

[2022-03-28 14:31] #3364 closed

[2022-03-28 15:02] aldettinger opened #3671 "paho: NullPointerException when MqqtException occurs during reconnect attempt in native mode"

[2022-03-28 18:15] aldettinger commented on #3671
Back-ported in 2.7.x alos: https://github.com/apache/camel-quarkus/commit/a59c38722d42baa67c8ce157867ca2a8c3bdb3c3

[2022-03-28 18:15] #3671 closed

[2022-03-28 20:15] #3302 closed

[2022-03-29 08:53] JiriOndrusek opened #3674 "Improve mail test coverage"
Add tests for:
- Consumers
- MailConverters
- MailSorter
- MailMessage
- Attachments

[2022-03-29 09:40] #3354 closed

[2022-03-29 09:40] #3504 closed

[2022-03-29 13:23] jamesnetherton opened #3677 "Improve MicroProfile Fault Tolerance extension test coverage"
I don't really want to replicate everything that's already covered by the Camel component tests, but its probably worth testing some additional bits that show how to integrate with Quarkus MP Fault tolerance.

[2022-03-29 14:58] aldettinger opened #3680 "paho: FilePersistence is not tested"

[2022-03-29 17:10] javaduke commented on #2078
Well, I suppose I'll give it a try then, if no one else does :)

[2022-03-29 17:24] aldettinger commented on #2078
Thanks for stepping in @javaduke.

Maybe a good first step could be to create an empty datasonnet extension helped by the guide:
https://camel.apache.org/camel-quarkus/2.7.x/contributor-guide/create-new-extension.html.

Then, maybe testing the documented features from the camel doc:
https://camel.apache.org/components/3.16.x/languages/datasonnet-language.html
Well, starting simple with the first e

[2022-03-29 17:52] #3680 closed

[2022-03-29 20:12] #3677 closed

[2022-03-30 07:07] jamesnetherton opened #3682 "[Camel 3.17.0] Bean introspection is broken"
I've not dug into the underlying cause, but various tests that use the `bean` extension are failing with `ClassCastException` & `AmbiguousMethodCallException`.

Likely due to this change in `camel-bean` https://github.com/apache/camel/commit/bedd572232100a657a447415df7e3c5078648a16.

[2022-03-30 08:24] #3531 closed

[2022-03-30 12:08] #3655 closed

[2022-03-30 20:05] javaduke commented on #2078
Here's the PR https://github.com/apache/camel-quarkus/pull/3686

[2022-03-31 05:53] oscerd opened #3688 "Create an Azure Key Vault Extension"
The component will come with Camel 3.17.0. Just a placeholder.

[2022-03-31 15:00] ppalaga opened #3689 "Split camel-quarkus-integration-test-compression into separate zipfile, lzf and zip-deflater tests"
We should create a new group for the new split tests under integration-test-groups and have a grouped test under integration-tests.
Much like we we did with mongodb.

[2022-03-31 16:51] javaduke commented on #764
Pardon my annoyance, is there any update on this? I'd really like to see the camel-cxf extension, at least with client functionality.

[2022-04-01 14:07] jamesnetherton opened #3692 "`FastCamelContext` cannot be restarted after stop"
In a CQ application if you do:

[code]

Then you get:

[code]

In general, it's not considered good practice to stop the `CamelContext` and start it again. But with CQ, it's not trivial to support, given that parts of the `CamelContext` are configured at build time, and there's no possibility of repeating those steps at runtime.

Should we detect the restart scenario and throw a friendlier excepti

[2022-04-04 12:57] jamesnetherton opened #3694 "Test Azure Blob with `autowiredEnabled=false`"
The blob tests create a client bean that is autowired into the camel component. We should also test with autowiring disabled and pass the Azure credentials as URI options.

[2022-04-04 13:01] jamesnetherton opened #3695 "Investigate automatic blob container creation for `AzureEventhubsTest`"
The Azure Eventhubs test expects the blob container name to be passed via an environment variable `AZURE_EVENT_HUBS_BLOB_CONTAINER_NAME`. Maybe this could be removed and the blob container dynamically created / destroyed before / after each test. Similar to how it is done in the Azure Blob tests.

[2022-04-05 06:57] svkcemk commented on #3296
@ppalaga can you please assign to me!

[2022-04-05 06:59] jamesnetherton opened #3698 "Remove deprecated extensions"
The following deprecated components are being removed in Camel 3.17.0.

* camel-ahc
* camel-ahc-ws
* camel-atomix
* camel-beanstalk
* camel-beanio
* camel-etcd
* camel-elsql
* camel-ganglia
* camel-nsq
* camel-hystrix
* camel-jing
* camel-msv
* camel-nagios
* camel-nsq
* camel-ribbon
* camel-sip
* camel-soroush
* camel-spark
* camel-tagsoup
* camel-yammer

[2022-04-05 07:06] jamesnetherton commented on #3296
FYI - I already did some hacking on this when I recently added a bunch of new Infinispan tests:

https://github.com/jamesnetherton/camel-quarkus/commit/b9469594d8dd595e05d37251bbbb0608723a41a6

The reason I did not proceed with it is because `<metrics accurate-size="true"/>` is not set in the container Infinispan configuration, so the statistics tests fail. So either we need the Inifnispan / Quark

[2022-04-05 07:09] svkcemk commented on #3296
Thanks @jamesnetherton I ll check with someone from the Quarkus team.

[2022-04-05 07:17] jamesnetherton commented on #1992
Closing as per https://github.com/apache/camel-quarkus/issues/3698.

[2022-04-05 07:17] #1992 closed

[2022-04-05 07:18] jamesnetherton commented on #1146
Closing as per https://github.com/apache/camel-quarkus/issues/3698.

[2022-04-05 07:18] #1146 closed

[2022-04-05 07:20] zbendhiba commented on #3296
Yes, I assumed at the beginning this could be easy.
Removing the "good first issue" flag

[2022-04-05 07:28] jochenr commented on #764
I'd like to join the previous post.
the camel-cxf extension ist very important for us and it becomes urgent to get it, since we don't want to migrate to migrate our Camel based applications (currently running on Red Hat Fuse on EAP) to spring.
SOAP-webservices are still a very relevant technology in financial industries, if you like it or not;-)

Is there any way I can support this issue/feature?

[2022-04-05 20:14] #3694 closed

[2022-04-06 09:12] zbendhiba commented on #3296
@svkcemk  FYI [thread](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Infinispan.20Test.20Resource.20with.20Camel)

[2022-04-06 09:22] karesti commented on #3296
@zbendhiba @jamesnetherton we can totally add an option for the statistics size check in metrics. however size operation should be working and retrieving the accurate size. Using another assertion to check the size instead of the statistics, would work for this case?

[2022-04-06 09:31] karesti commented on #3296
@zbendhiba I created this issue https://issues.redhat.com/browse/ISPN-13810

[2022-04-06 09:40] svkcemk commented on #3296
Thanks @zbendhiba

[2022-04-06 09:43] jamesnetherton commented on #3296
We actually already do that. The Infinispan component supports a `size` and `stats` operation. They're two different things as I guess `stats` can provide some additional stuff outside of just getting cache size etc.

So if there's some way to enable `<metrics accurate-size="true"/>` in the container, it'd be useful for our testing.

[2022-04-06 09:59] aldettinger commented on #3584
We had another occurence of this in https://github.com/apache/camel-quarkus/runs/5790386191?check_suite_focus=true :
[code]

This time, it was not on Linux platform with JDK version 17. Chances are that this is an infrequent flaky test on all platforms, jdk versions.

[2022-04-06 13:54] jamesnetherton opened #3702 "Reduce the noise in verbose flattened BOMs"
For me it's becoming a source of confusion / merge conflict pain when the line number comments in the verbose BOMs are constantly being shuffled around.

Is there any value in having the verbose BOMs (or even any of the generated BOMs) checked into git?

If not, maybe we output them to a known location in the `target` directory so that they can still be inspected if desired.

[2022-04-06 14:29] jamesnetherton opened #3703 "Gracefully handle `AnnotationInstance` being null in `InjectionPointsProcessor.syntheticBeans`"
Some potential edge cases can result in an NPE that we should try to avoid. And at a minimum throw a friendlier exception that could perhaps hint at what the problem is.

E.g something like this results in an NPE during the build phase:

[code]

[2022-04-07 09:35] #3674 closed

[2022-04-07 11:08] JiriOndrusek opened #3707 "Investigate/verify that different locale does not cause problems wit mail"
See comment https://github.com/apache/camel-quarkus/pull/3685#issuecomment-1084224174 for more details

[2022-04-07 11:36] ppalaga commented on #3692
Yeah, I agree we should at least output a better exception on the second start.

[2022-04-07 11:48] jamesnetherton opened #3708 "Reduce the number of `timer-log` example projects"
We could just have a single polyglot `timer-log` example that can demo CDI, Spring, Kotlin & XML in the same app, instead of having separate projects for each.

[2022-04-07 13:35] ppalaga commented on #3521
https://cirrus-ci.org/ is said to offer ARM on Linux. Needs to be investigated.

[2022-04-07 14:30] jamesnetherton commented on #3621
Seems this did not fix the problem. I see the same thing on the 2.7.1 and 2.8.0 platform upgrades.

[2022-04-07 14:40] jamesnetherton commented on #3621
I will try but I have no idea what's going on either :slightly_smiling_face:

[2022-04-07 15:06] jamesnetherton commented on #3621
I guess the thing to try is whether it fails when generating a project from code.quarkus.io. It it ends up working ok, then we know it's something odd about the test setup on the platform.

[2022-04-08 05:31] zhfeng commented on #3642
@alexkazan87 I think ```camel-kafka``` does not support transaction right now. So you can see such error message **On delivery attempt: 0 caught: java.lang.IllegalStateException: Cannot perform a 'send' before completing a call to initTransactions when transactions are enabled.**

So I wil take care of https://issues.apache.org/jira/browse/CAMEL-15016 at first to see how we can enable transaction

[2022-04-08 06:11] alexkazan87 commented on #3642
Thank you @zhfeng! I really appreciate it. If you need help please let me know to check and implement it together!

[2022-04-08 08:17] jamesnetherton opened #3711 "[Camel 3.17.0] Switch FTP / JSCH extensions to `com.github.mwiede:jsch`"
Clone of https://github.com/quarkiverse/quarkus-jsch/issues/23. If we don't get this for Camel 3.17.0 then we need to exclude ` com.github.mwiede:jsch` from `camel-ftp` & `camel-jsch`.

[2022-04-08 09:43] ppalaga opened #3712 "Jakarta specs management issues"
1. There are some specs, like activation and resources, iirc, for which strange "implementation" artifacts exist (having glassfish or com.sun groupids ) which include both impl and api classes. In such case we should probably also ban/exclude the corresponding jakarta spec artifact, which we do not do yet, and Quarkus doesn't either.

2. We should go through the whole list of specs and decide for

[2022-04-08 10:45] jamesnetherton commented on #3621
Turns out this is a class loading issue that only occurs with the itests. I was forced to set `quarkus.test.flat-class-path=true` in the tests to get object deserialization to work properly. It seems this is not honored (or does not work) when run on the platform.

This problem only occurs at test time. When running the JAR or native application, it works fine.

We can make some amendments to the

[2022-04-08 11:56] jamesnetherton commented on #3621
https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-17934

https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-17935

[2022-04-08 13:32] zbendhiba opened #3713 "Azure storage : impossible to list queues without using headers and when targeting azurite"
It's impossible to iterate on the Azure [PageIterable](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterable.java) object with Camel Quarkus. So the usage of `stream` in this [line](https://github.com/apache/camel/blob/b65e64f5f0c24d4d4fd64c7b97a0f27bc7023bff/components/camel-azure/camel-azure-storage-queue/src/main/java/org/

[2022-04-08 13:32] zbendhiba commented on #3577
issue with list queues described here https://github.com/apache/camel-quarkus/issues/3713

[2022-04-08 13:37] aldettinger commented on #3621
Well done. Congrats for this investigation :+1: Moreover, identifying that there is no consequences for users is really cool.

[2022-04-08 14:00] zbendhiba commented on #3577
Reproducer with [resource class](https://gist.github.com/zbendhiba/b15b28c67d96e8e19e3ba9bbbf011f38) and [test class](https://gist.github.com/zbendhiba/c24ec645163e42335d8eacbddac4482e)

[2022-04-08 14:02] zbendhiba commented on #3713
Reproducer with [resource class](https://gist.github.com/zbendhiba/b15b28c67d96e8e19e3ba9bbbf011f38) and [test class](https://gist.github.com/zbendhiba/c24ec645163e42335d8eacbddac4482e)

[2022-04-08 18:24] #3638 closed

[2022-04-08 20:53] ppalaga commented on #3702
After thinking of it again, I'd say the line numbers are not useful at all. What matters are the versions and the origin BOM. Those are much more stable.
Do you think removing the line numbers would reduce enough of the noise?

[2022-04-08 21:10] jamesnetherton commented on #3702
Yeah I think it would help. Lets try and see how it goes.

[2022-04-08 21:31] mqorom commented on #1611
is this still open? I would like to use quarkus zookeeper extension which supports native image

[2022-04-09 08:20] zbendhiba commented on #1611
@mqorom  the issue is still open. Are you willing to contribute the native support of Zookeeper ?

[2022-04-10 18:38] javaduke commented on #764
Good news, I have the CXF extension working and I successfully tested CXF client with WS-Security and WS-Addressing.
Haven't tried creating a SOAP service yet, wondering if it's really needed.

[2022-04-10 20:15] grigoni commented on #764
@javaduke this is great news! I would need both ways to move them to quakes: some apps are camel cxd client and some others are cxd services

[2022-04-10 20:31] javaduke commented on #764
Sure, CXF service testing is my next step, shouldn't be any different. So far it only works in JVM mode, I'll see what I can do about native.

[2022-04-11 05:50] svkcemk commented on #3708
@jamesnetherton I would like work on this, can you please assign this to me? Thanks!

[2022-04-11 06:27] jamesnetherton opened #3716 "Sync `camel-main` / `quarkus-main` nightly CI workflows with the main workflow"
There's some divergence between the main `CI Build` workflow and those that run the nightly sync jobs for the `camel-main` / `quarkus-main` branches. It'd be nice to have them aligned so that they all perform the same steps.

If possible it be good to be able to have a single workflow that can be run on `schedule`. But I'm not sure if that's possible, hence things were split into multiple workflow

[2022-04-11 06:36] #3656 closed

[2022-04-11 06:49] zhfeng commented on #3471
camel-3.14.2 and camel-3.16.0 should includes the fixes. So I think this issue should be fixed in camel-quarkus-2.7.1 and camel-quarkus-2.8.0

[2022-04-11 06:49] #3471 closed

[2022-04-11 10:14] ppalaga commented on #3702
I'll also replace the current project's version literal with something like `${project.version}`. In that way I hope we can avoid any changes during releases.

[2022-04-11 16:12] zbendhiba commented on #3713
Also, for some reason this is what I have with or without setting the QueueSegmentOptions
`http://localhost:49178/devstoreaccount1?comp=REDACTED&include=REDACTED`

which seems to be different from your test

[2022-04-11 16:55] jamesnetherton commented on #3713
Ah sorry, seems I tricked myself into thinking it was working.

I also had `options.setIncludeMetadata(true)`, which does make the test pass.

[2022-04-11 17:05] zbendhiba commented on #3713
@jamesnetherton This use case work, and could be a workaround.

I'll add the test in camel core project to check if it's a general issue.

[2022-04-12 01:27] zhfeng commented on #2857
I just move the upstrem quarkus issue to https://github.com/quarkiverse/quarkus-artemis/issues/36

[2022-04-12 08:24] zbendhiba commented on #2564
If someone could document this one and add the country/Language parameters to make this native build work for everyone.

[2022-04-12 13:30] zbendhiba opened #3718 "Azure Storage Queue - add consumer integration test"
See ${subject}

[2022-04-12 14:16] aldettinger opened #3720 "paho: expand test coverage"

[2022-04-12 14:39] zbendhiba commented on #3282
@tarilabs I wonder if you have tried recent versions of Camel Quarkus, as DFDL was removed few versions now ?

[2022-04-12 16:57] tristantarrant commented on #3296
In my opinion, assertions based on statistics values should never be done. We may (and we do) cache stats for performance reasons, so they may never be accurate for tests. My suggestions is to change the tests not to rely on stats.

[2022-04-12 20:32] #3577 closed

[2022-04-13 07:28] tarilabs commented on #3282
Thank you for the ping @zbendhiba !

ref https://github.com/tarilabs/quarkus-content-based-routing/commit/b22373b5c67e771113feb685b5f8762cd7ab9a0d#diff-9c5fb3d1b7e3b0f54bc5c4182965c4fe1f9023d449017cece3005d3f90e8e4d8L91-R91

It worked as expected on this end with the demo originally referenced 🚀

[2022-04-13 07:28] #3282 closed

[2022-04-13 07:37] jamesnetherton opened #3724 "Use WireMock for xchange tests"
[code]

[2022-04-13 22:14] javaduke commented on #764
https://github.com/apache/camel-quarkus/pull/3727 - so far JVM mode only.

[2022-04-14 06:29] zhfeng opened #3728 "AWS S3 integration test should remove all objects in finally block"

[2022-04-14 06:30] zhfeng commented on #3728
It follows up #3276

[2022-04-14 12:43] zhfeng opened #3730 "Improve paho-mqtt5 SSL test"
- close the input stream after copying the .jks file
- use tmp file for client keystore.

[2022-04-15 00:43] #3728 closed

[2022-04-15 07:07] #3730 closed

[2022-04-15 08:11] #3718 closed

[2022-04-15 09:27] zhfeng commented on #3642
@alexkazan87 I rasie https://github.com/apache/camel/pull/7454 and can you take a review?

```KafkaTransactionPolicy``` can be used just like
[code]

[2022-04-16 11:10] CynanX commented on #1615
I hit this same issue when trying to build a native executable with `camel-quarkus-xslt-saxon`, though my use case is slightly different in that I exclude the home edition and import the personal edition.

Doing this I hit the same error as above. I then ran Quarkus along with the native agent to generate the required `reflect-config.json` file and can report that Saxon is now working fine for me

[2022-04-16 14:22] zhfeng commented on #1615
@CynanX it would be very useful if you can share with ```reflect-ocnfig.json``` here. And we can take a look to improve in the build steps. Thanks!

[2022-04-16 15:46] CynanX commented on #1615
I'm currently using Quarkus 2.7.5.Final and building on GraalVM 21.3.1 Java 17 CE (Java Version 17.0.2+8-jvmci-21.3-b09).

The relevant sections of my pom are:

[code]

Here's is my `resource-config.json` file:

[code]

And finally here is my `reflect-config.json` file:

[code]

Note. There are several more Saxon functions not in the file above but will be required it they are utilised by your XSL

[2022-04-16 16:20] CynanX opened #3732 "Unexpected attribute '{http://camel.apache.org/schema/spring}uri' when using Rest XML with Quarkus 2.8.0.Final"
I'm quite new to Camel so perhaps I'm using it wrong, however when using Quarkus 2.7.5.Final everything is working fine. Once I upgrade to Quarkus 2.8.0.Final then I get this exception upon start up:

[code]

In my pom I have this snippet:

[code]

And in my application.properites file I have:

[code]

`my-rests.xml` looks like this:

[code]

and `my-routes.xml` looks like this:

[code]

Is this m

[2022-04-16 17:17] davsclaus commented on #3732
See the Camel 3.16 upgrade guides
https://camel.apache.org/manual/camel-3x-upgrade-guide-3_16.html#_renamed_uri_to_path

[2022-04-16 17:30] CynanX commented on #3732
Thank you!

[2022-04-16 17:30] #3732 closed

[2022-04-16 18:56] michaelhkay commented on #1615
Yes, we (more specifically my colleague O'Neil Delpratt) are actively working on getting Saxon to work under GraalVM; and as you've found, dynamic loading and reflection is the main challenge.

I'm not sure if we have anything more we can share with you at the moment. We're probably at about the same stage of development. But we're happy to share information if this helps us reach the goal more qu

[2022-04-18 14:41] ppalaga commented on #1615
Thanks for the input, @CynanX. I am afraid, we won't be able to incorporate any Saxon PE and `com.saxonica.*` config because of licensing reasons. Anyway, to add a native support to an extension, the integration test is usually crucial. So if you have some camel-quarkus-xslt test to share a PR would be highly welcome.

[2022-04-18 18:28] #3720 closed

[2022-04-19 12:36] zbendhiba commented on #3562
First PR is here : https://github.com/apache/camel-quarkus/pull/3735

[2022-04-19 20:07] mbchangellc opened #3737 "camel-quarkus-openapi-java ArraySchema not registered for reflection"
When running a native image, viewing the generated OpenAPI documentation results in a NullPointerException when a property of type List is encountered.  Registering ArraySchema for reflection resolves the issue.  The provided example will throw the exception below when the OpenAPI documentation is generated, if run as a native image.  If the RegisterForReflection annotation in the SwaggerReflectio

[2022-04-20 02:58] zhfeng commented on #3737
Thanks @mbchangellc for reporing and the reproducer is very handy !

We register all of the openapi schema types but missing with ```methods = true```.

[2022-04-20 07:14] #3737 closed

[2022-04-20 12:02] jamesnetherton opened #3739 "[Camel 3.17.0] Property placeholder resolution is broken"
Lots of tests failing due to routes with URIs having property placeholders:

[code]

[2022-04-21 06:43] jamesnetherton commented on #3739
https://issues.apache.org/jira/browse/CAMEL-17996

[2022-04-21 13:51] jamesnetherton opened #3741 "Test `aws-secrets-manager` extension with Localstack"
I think this should be doable. Seems localstack has some support for the AWS secrets manager, so maybe it'd be possible to craft some tests around it.

[2022-04-21 14:10] sed108 commented on #2939
The workaround suggested above no longer seems to work with quarkus 2.8.0 and camel 3.16.0

When using the suggested new line in `application.properties`:
`camel.component.kafka.brokers=${kafka.bootstrap.servers:${brokers}}`

The following error was received:
[code]

Similar errors for variations of the property:

Property: `camel.component.kafka.brokers=${brokers:${kafka.bootstrap.servers}}`
Erro

[2022-04-21 14:11] sed108 opened #3742 "URL to the Kafka brokers must be configured with the brokers option in native mode (continued)"
This issue was originally reported under https://github.com/apache/camel-quarkus/issues/2939 and then later under https://github.com/apache/camel-quarkus/issues/3157.  The latter has since been closed, yet the problem still remains.
Please be aware, the workaround suggested in https://github.com/apache/camel-quarkus/issues/2939#issuecomment-885521066 no longer appears to work (https://github.com/a

[2022-04-21 17:35] zhfeng commented on #3742
It should be fixed in https://github.com/apache/camel-quarkus-examples/pull/86

[2022-04-21 18:30] zhfeng commented on #3742
Oh, the fix is a workaround and I'm still investigating.

[2022-04-22 10:25] zhfeng commented on #3742
I just raise a [ticke](https://github.com/quarkusio/quarkus/issues/25094) in quarkus to get some feedback.

[2022-04-22 12:18] sed108 commented on #2939
A new workaround was identified here: https://github.com/apache/camel-quarkus-examples/pull/86
[code]

[2022-04-23 04:10] nparfait opened #3745 "Native image build failing using SES and url http client"
**Issue**
I was successfully building a native image using camel-quarkus (consuming from kafka and publishing to aws2 ses and sns) using apache client. This was working ok till I deployed to our EKS cluster using IRSA. I then included the STS  module and got past the webidentitytokens issue. However this was failing intermittently with invalid security token when running as a native image (working

[2022-04-25 06:40] jamesnetherton opened #3746 "Intermittent failure of FHIR integration tests `SocketTimeoutException`"
I saw this once on the platform CI build and also on the `quarkus-main` branch. Not sure what the root cause is. Maybe the FHIR server cannot handle the volume of requests being sent to it?

[code]

[2022-04-25 07:13] jamesnetherton commented on #3745
Seems we mandate usage of the Apache HTTP client:

https://camel.apache.org/camel-quarkus/2.8.x/reference/extensions/aws2-ses.html#_additional_camel_quarkus_configuration

I'm not familiar with the background as to why that is. Maybe @ppalaga or @JiriOndrusek knows?

[2022-04-25 16:49] zbendhiba opened #3748 "Debezium Postgresql integration test fails with Quarkus 2.8.1.Final"
While upgrading to Quarkus 2.8.1.Final, the integrations tests fail.
Reason behind this : Debezium uses a version of Postgresql driver that is behind Quarkus's one, and uses in its code a method that doesn't exist anymore.

Stack trace:
[code]

[2022-04-25 16:53] zbendhiba commented on #3748
I wonder how this works in Quarkus platform BTW

[2022-04-25 20:33] jamesnetherton commented on #3748
We should align our debezium version with the platform and upgrade to `1.8.1.Final` if possible.

[2022-04-26 07:09] jamesnetherton opened #3749 "Remove `c3p0` from Quartz extension"
I believe it's only required to satisfy the native compiler. So we should see if there's a way of excluding it.

[2022-04-26 08:37] jamesnetherton opened #3750 "`CamelQuarkusQuartzConnectionProvider` should implement `PoolingConnectionProvider`"
I'm not entirely sure how Quartz treats differently `ConnectionProvider` & `PoolingConnectionProvider`. But since Agoral is backing `CamelQuarkusQuartzConnectionProvider`, then it should probably implement `PoolingConnectionProvider` if possible.

[2022-04-27 08:33] zbendhiba commented on #3748
The quarkus tracker: https://github.com/quarkusio/quarkus/issues/25190

The Debezium tracker: [DBZ-5060](https://issues.redhat.com/browse/DBZ-5060)

[2022-04-27 14:27] nparfait commented on #3745
Closing as I have it now working with the apache client

[2022-04-27 14:27] #3745 closed

[2022-04-27 14:37] oscerd commented on #3745
In all the AWS component we are using only apache http client. The netty side is for async client and we are not supporting them for the moment

[2022-04-27 17:43] ismailbaskin opened #3754 "KeyStoreParameters is not in reflection list on Salesforce component."
Camel salesforce component uses KeyStoreParameters for OAuth JWT flow which is recommended way for production. [camel.component.salesforce.keystore](https://camel.apache.org/components/3.16.x/salesforce-component.html#_sb_option_camel_component_salesforce_keystore)

The problem is `org.apache.camel.support.jsse.KeyStoreParameters` is not in reflection list. So, if you want to use camel-salesforce

[2022-04-27 21:50] jamesnetherton commented on #3754
How are you configuring the `keystore` option on the Salesforce component?

[2022-04-27 21:53] jamesnetherton commented on #3754
Also there is no need for `reflection-config.json`. You can use the `RegisterForReflection` annotation.

[2022-04-27 23:02] ismailbaskin commented on #3754
camel-salesforce [configures keystore](https://github.com/apache/camel/blob/b890d82f929cd79c3e37da7ccf6ae1482ef082d9/components/camel-salesforce/camel-salesforce-component/src/main/java/org/apache/camel/component/salesforce/SalesforceLoginConfig.java#L166=) when these properties are available.

[code]

It's been a long time since I used Quarkus and I was not aware of RegisterForReflection annotati

[2022-04-28 16:34] aldettinger opened #3758 "paho: add test case for RFC3986 style urls"

[2022-05-02 13:00] ppalaga commented on #3669
`com.jayway.jsonpath:json-path` is another artifact that debezium cross-manages.

[2022-05-03 11:06] ppalaga opened #3763 "CVE-2022-26612: Apache Hadoop: Arbitrary file write in FileUtil#unpackEntries on Windows"
See https://lists.apache.org/thread/hslo7wzw2449gv1jyjk8g6ttd7935fyz
We should avoid using `org.apache.hadoop:hadoop-common` older than 3.2.3

[code]

[2022-05-03 13:22] JiriOndrusek opened #3764 "Update jakarta.mail from 1.6.6 to 1.6.7"

[2022-05-03 15:56] jamesnetherton commented on #3657
Opened some issues that could eventually help here:

https://issues.apache.org/jira/browse/CAMEL-18044
https://issues.apache.org/jira/browse/CAMEL-18045

[2022-05-03 19:23] zbendhiba commented on #3562
webhook issue  https://issues.apache.org/jira/browse/CAMEL-18049

[2022-05-05 09:52] JiriOndrusek opened #3771 "[Camel 3.17.0] Restore `jakarta-mail-version` placeholder in `jakarta.mail.version` property"
Revert of https://github.com/apache/camel-quarkus/pull/3770 once camel is updated.

[2022-05-05 12:26] zbendhiba opened #3773 "Debezium bom messes with cassandraQL driver unit tests since Debezium 1.19.2.Final"
The problem is that the version of new com.datastax.oss:java-driver-core is set for old driver com.datastax.oss:cassandra-driver-core used by org.testcontainers:cassandra

[2022-05-05 12:27] zbendhiba commented on #3773
This is not a big bug, but we shouldn't have that many dependencies versions managed by Debezium
Especially in our case we don't even have Debezium usage + cassandraQL, so we don't have to be impacted on the CassandraQL integration tests

I'll do temporary fixe for the PR, but we should manage in other way

[2022-05-05 12:27] zbendhiba commented on #3773
I'd open an issue also on testcontainers, to bring the fact that the driver used is outdated

[2022-05-05 12:30] #3764 closed

[2022-05-05 14:29] zhfeng opened #3774 "[Camel 3.17.0] openApi oneOf, allOf and anyOf with annotation @Schema"
Upstream issue: https://issues.apache.org/jira/browse/CAMEL-18040

We need to add a relevant case test for checking the openApi generated result in camel-quarkus.

[2022-05-05 15:56] apupier opened #3775 "Support camel-debug component"
The camel-debug component allows an automatic enablement of the Camel debugger. i tis using JMX technology so I guess it woll work only in JVM mode but that would a first very good step.

side note: would it be possible to include the dependency automatically when launch with quarkus:dev?

[2022-05-06 07:48] aldettinger commented on #3584
Caught another occurence in integration-tests-alternative-jdk, this time in `FileTest.idempotent`:
[code]

[2022-05-06 08:22] aldettinger commented on #3758
It's present in the 2.9.x branch. So, I've moved to 2.9.0 milestone.

[2022-05-06 08:22] #3758 closed

[2022-05-09 01:16] zhfeng commented on #3742
@sed108 I think we have to set ```camel.component.kafka.brokers``` in prod mode refer to https://github.com/quarkusio/quarkus/pull/25140#issuecomment-1118204952. I will close this issue and feel free to reopen it if you have any more problems.

[2022-05-09 01:16] #3742 closed

[2022-05-09 09:10] aldettinger commented on #3703
The following stack trace might help:
[code]

[2022-05-09 16:06] #2078 closed

[2022-05-10 01:14] zhfeng commented on #3642
@alexkazan87 I think it will release camel 3.17.0 soon which includes a fix to support kafka transaction. Please can you check it when it is availiable?

[2022-05-10 05:54] alexkazan87 commented on #3642
Sure, thank you!

[2022-05-10 08:03] zhfeng commented on #3703
OK, it needs to get the default value by using `valueWithDefault`. I will take care of this issue.