[2019-06-27 04:19] davsclaus opened #4 "Initial source code - Add license headers"
The source code should have ASF license headers in java / xml files etc, just like Apache Camel project

[2019-06-27 04:20] davsclaus opened #5 "Initial source code - Maven GAV"
The GAVs should be renamed to

groupId: org.apache.camel.quarkus
artifactId: camel-quarkus-core   (etc)

[2019-06-27 04:20] davsclaus opened #6 "Initial source code - Package names"
The root java package name should be renamed to

- org.apache.camel.quarkus

[2019-06-27 04:22] davsclaus opened #7 "Upgrade to Camel SNAPSHOT"
We should migrate to Camel SNAPSHOT so we can be ready for Camel 3.0.M4 and onwards.

The initial source code is targeted for Camel 3.0.M2

We can grab the SNAPSHOT jars from Maven Snapshot repo
https://repository.apache.org/snapshots/

[2019-06-27 04:28] davsclaus opened #8 "quarkus-camel - Migrate option prefixes"
When using camel-quarkus we should migrate the option prefix from

- quarkus.camel.disable-xml=true
- quarkus.camel.disable-jaxb=true

To be using

- camel.quarkus.xxx=yyy

[2019-06-27 04:29] davsclaus opened #9 "quarkus-camel - Use MainSupport as base for running Camel"
We should look at using MainSupport (parts of Camel Main) some more for bootstrapping camel-quarkus.

Then its similar across standalone Camel, Camel K, and Camel Quarkus. And also Camel Main has parts that are similar to Camel Spring Boot.

[2019-07-01 10:44] ppalaga commented on #5
This is done in the last commit of #3 , currently 8ecbd58. I think the current issue can be closed.

[2019-07-01 10:52] ppalaga commented on #6
I wonder whether the java package renaming should be a part of the code migration from the Quarkus repo?

I could try to modify my import script that I used to produce the current state of #3 .  Not sure how well that can be done using `git filter-branch --filter-tree` and `sed s/import io.quarkus/import org.apache.camel.quarkus/` , but it would result in a cleaner history for sure.

I am also not

[2019-07-01 11:01] ppalaga commented on #4
You mean the headers should be changed also in files coming from the Quarkus repo? I have `Thou shall not change license/copyright/authors headers when copying third party code` stored somewhere deep in my brain. What would be the legal reasoning to break this rule?

[2019-07-01 11:03] davsclaus commented on #4
Yes after the initial port we should migrate it to have ASF license headers and packaging name and so on.

We cannot accept source code that is not ASF license header. And the code donation is where you give over the code to ASF

[2019-07-01 11:17] ppalaga opened #10 "Produce test-jars of the integration tests"
This is to allow the (planned) Quarkus platform repo to run our tests.

[2019-07-01 12:02] oscerd commented on #6
I think we cannot leave the package with the old name. We can import with that package name, merge and then change the package name completely with a new commit done in the ASF Camel repo.

[2019-07-01 18:49] ppalaga opened #11 "Test the native mode on TravisCI"

[2019-07-01 20:45] #5 closed

[2019-07-02 05:19] lburgazzoli opened #14 "Configure checkstyle"

[2019-07-02 06:23] oscerd opened #16 "Add Camel-AWS-KMS extension"

[2019-07-02 06:25] oscerd opened #17 "Add Camel-AWS-ECS extension"

[2019-07-02 06:25] oscerd opened #18 "Add Camel-AWS-EKS extension"

[2019-07-02 06:42] lburgazzoli opened #19 "Configure license format"

[2019-07-02 06:44] davsclaus opened #20 "Avoid 3rd party maven repositories if possible"
Noticed during build that something is downloaded from
[code]

We should favour using only maven central as much as possible. Not sure why this maven plugin does that above.

[2019-07-02 06:57] lburgazzoli commented on #4
@ppalaga I'm taking it as I'm working to something related

[2019-07-02 07:01] ppalaga commented on #4
No problem, just note that I am in the process of refactoring the package names and it would be hard for me solve any conflicts.

[2019-07-02 07:07] lburgazzoli commented on #4
https://github.com/apache/camel-quarkus/pull/22

[2019-07-02 09:20] #4 closed

[2019-07-02 09:20] #14 closed

[2019-07-02 09:20] #19 closed

[2019-07-02 10:36] #11 closed

[2019-07-02 11:23] ppalaga commented on #7
I'd like to ask in the most polite way whether we could please re-think this idea.

I am a full supporter of Maven SNAPSHOTs as long as they are built locally and the developer knows from which state of the source tree he has installed. They are handy, flexible and quite fast to use.

However, enabling remote SNAPSHOT repositories is a fully different story. Generally, it can be said, that with en

[2019-07-02 11:45] ppalaga opened #24 ""Multiple consumers for the same endpoint" after renaming packages in extensions/servlet/deployment/src/test/java"
Steps to reproduce:

1. Make sure you have https://github.com/apache/camel-quarkus/pull/23 merged in your current branch
2. Go to extensions/servlet/deployment module and rename the packages in `src/test/java` from `io.quarkus.camel` to `org.apache.camel.quarkus` . See this branch: https://github.com/ppalaga/camel-quarkus/commits/i6.2
3. `mvn clean test` from the top directory of the repo fails in

[2019-07-02 12:00] ppalaga commented on #24
Renaming the packages in `integration-tests/core` like this https://github.com/ppalaga/camel-quarkus/commits/i6.3 leads to

[code]

See https://travis-ci.org/ppalaga/camel-quarkus/builds/553258298?utm_source=github_status&utm_medium=notification

[2019-07-02 12:24] ppalaga commented on #24
@lburgazzoli can you please assign to me?

[2019-07-02 12:27] ppalaga opened #25 "Rename integration test artifacts"
They still start with `quarkus-integration-test-camel-` but they should start with `camel-quarkus-integration-test-`. This was forgotten in #3.

Please assign to me.

[2019-07-02 14:37] oscerd commented on #7
I'm not against the SNAPSHOT usage, we are using the a deploy profile on camel-k for example, on each commit we built the project and push on the SNAPSHOT repository, there is a CI job and we are usually always aligned. We can discuss this here with the team.

[2019-07-02 14:49] ppalaga commented on #24
Update: Debugging the first variant of the problem shows that three instances of `org.apache.camel.quarkus.component.servlet.test.MinimalConfigTest.Routes` get passed to `org.apache.camel.quarkus.core.runtime.support.FastCamelRuntime.setBuilders(List<RoutesBuilder>)`

Clearly, there should be only one instance.

![image](https://user-images.githubusercontent.com/1826249/60522234-e633a200-9ce8-11e9

[2019-07-02 15:33] ppalaga commented on #24
With this tree https://github.com/ppalaga/camel-quarkus/commits/i6.4 , the `MinimalConfigTest.Routes()` constructor is called three times from

[code]

I assume `CamelInitProcessor$createInitTask8.deploy_0` is a generated byte code. Any advice @aloubyansky how I could figure out why those three calls are generated instead of one?

[2019-07-02 15:37] aloubyansky commented on #24
I am going to check it out.

[2019-07-03 03:12] #25 closed

[2019-07-03 08:39] lburgazzoli opened #29 "Use docker-build in travis"

[2019-07-03 09:18] lburgazzoli opened #31 "Move infinispan integration-tests out of core"

[2019-07-03 09:18] lburgazzoli opened #32 "Move netty integration-tests out of core"

[2019-07-03 09:29] ppalaga commented on #31
I clearly see the benefit of testing separately and having a separate project for each component that can serve as a basic quickstart.

OTOH, each separate integration test module will prolong the build by ~2 minutes. Do we really want that? My personal limit for CI is ~40mins. Now we are at ~28mins, IIRC. So we can basically do this, but maybe for the future, we should think of some sort of polic

[2019-07-03 09:32] oscerd commented on #31
I think a reasonable time for CI can be more than 40 minutes.

[2019-07-03 09:39] ppalaga commented on #31
I wonder what is your upper bound for a CI job that verifies pull requests?

[2019-07-03 09:40] oscerd commented on #31
it depends on the dimension of a project: in camel we cannot do a full build because it's too much stuff for a single PR. I think up to 90 minutes is reasonable.

[2019-07-03 09:56] lburgazzoli commented on #31
There's no rush to move them out of core *now* but we should provide more tests for every extensions to aver better coverage for native compiled code (as today the tests we have for nett4-http and infinispan are the bare minimum).

BTW, nothing is written in stones and we can always rethink our decisions and group modules when it make sense but IMHO, testing component extension inside the core one

[2019-07-03 10:07] ppalaga commented on #31
Yes, there is no doubt that more coverage is better.

[2019-07-03 11:53] #29 closed

[2019-07-03 11:58] lburgazzoli opened #33 "Move jetty processor from salesforce to a dedicated extension"
The main question is where ? as camel has also a camel-jetty component we can't put the jetty extension under the extension folder as the name will clash.

Maybe be jetty-common ?

[2019-07-03 11:59] lburgazzoli opened #34 "Move XStream processor from salesforce to a dedicated extension"
The main question is where ? as camel has also a camel-xstream component we can't put the xstream extension under the extension folder as the name will clash.

Maybe be xstream-common ?

[2019-07-03 14:12] ppalaga commented on #24
So given that the current PR is blocked by changes that need to get merged to Quarkus (@aloubyansky may want to paste the exact PR links), I think we should merge https://github.com/apache/camel-quarkus/pull/23 now. WDYT @lburgazzoli ?

[2019-07-03 22:11] ppalaga commented on #8
What is the motivation for this change? Asking because the property naming conventions are currently discussed on quarkus-dev ML [1] and we should perhaps enrich the discussion with our perspective.

[1] https://groups.google.com/forum/#!topic/quarkus-dev/eyLaDlACNoE

[2019-07-04 07:39] lburgazzoli commented on #8
I think that for extension related properties - so those that influence the build phase - we should keep the `quarkus.camel` prefix, for camel runtime related properties instead we should keep our conventions as those are mainly runtime properties (host, ports) and because they are then consistent across platforms (i.e. spring boot) and tooling.

[2019-07-04 07:41] davsclaus commented on #7
Okay yeah we can have it by default use a released version of Camel, but we should have an easy way to build with camel SNAPSHOT version, maybe like a maven profile

     mvn clean install -P camel-snapshot

Then we can also have CI jobs that enable this maven profile and run tests etc.
And its easy for developers to work with latest snapshot when working on upgrading Camel or ensuring camel-quark

[2019-07-04 07:42] davsclaus commented on #7
Especially now when we need to upgrade from M2 to M4

[2019-07-04 07:44] davsclaus commented on #8
Yeah what Luca says is good, that some options that are quarkus build time only can be with quarkus, but all the other Camel options should be aligned across - camel k, canel quarkus, camel main, camel spring boot etc.

[2019-07-04 08:46] ppalaga commented on #8
Posted our standpoint on quarkus-dev: https://groups.google.com/d/msg/quarkus-dev/eyLaDlACNoE/mi7AQsC7CgAJ

[2019-07-04 10:14] ppalaga commented on #7
The proposed `camel-snapshot` profile is fine as long as camel-quarkus does not need to get (backwards incompatibly) adapted to API changes in Camel. Such changes would then break the default profile-less build.

[2019-07-04 14:55] #6 closed

[2019-07-04 15:20] lburgazzoli opened #36 "Release first version of camel-quarkus"
Once #24 is fixed we should do a first version of camel-quarkus, drop camel bits from quarkus repo and get a new quarkus release that includes our camel bits

[2019-07-08 07:57] lburgazzoli opened #37 "Documentation"
- migrate doc from quarkusio here
- update quarkusio doc to point tofdoc here

[2019-07-08 08:01] lburgazzoli opened #38 "Website"
- include camel-quarkus among camel's projects in the upcoming camel [webside](https://camel.apache.org/staging/)
- create a website

[2019-07-08 09:34] ppalaga commented on #36
Update: To release camel-quarkus 0.0.1 we need:

* A Quarkus release (presumably 0.19.0) that contains the following fixes/changes:
  * Broken tests after package rename, PR https://github.com/quarkusio/quarkus/pull/3117 Issues: https://github.com/quarkusio/quarkus/issues/3094 alias #24
  * Remove Camel extensions from Quarkus: https://github.com/quarkusio/quarkus/issues/3095 , no PR yet

[2019-07-08 09:36] ppalaga opened #39 "Move Bean test out of Core integration test"

[2019-07-08 09:42] oscerd commented on #36
Also we need to apply the ASF release style to the POM, like we have in camel-k-runtime or camel. At least we need to double check all is already aligned.

[2019-07-08 12:38] #10 closed

[2019-07-08 12:41] ppalaga opened #41 "Re-introduce test scope in integration test projects"
Once https://github.com/quarkusio/quarkus/issues/3136 get resolved, we can make our integration test projects idiomatic again. This would mean (at least) to re-introduce the `<scope>test</scope>` occurrences that got removed in https://github.com/apache/camel-quarkus/pull/35 .

[2019-07-08 15:18] lburgazzoli opened #42 "Use RestAssured in JDBC test"
So we use the same style of other tests

[2019-07-08 16:26] lburgazzoli opened #44 "Infinispan substrate test are disbaled"
Investigate https://github.com/quarkusio/quarkus/issues/2351

[2019-07-08 16:30] lburgazzoli opened #45 "Use caffein as LRUCache in native mode"
In native mode, camel-core uses a `SimpleLRUCache` https://github.com/apache/camel-quarkus/blob/master/extensions/core/deployment/src/main/java/org/apache/camel/quarkus/core/deployment/CamelProcessor.java#L125

This is because at the time of writing the extension or camel-core, caffeine was not supported by quarkus. As there is now a dedicated extension for caffeine we should think to use a caffei

[2019-07-08 16:39] lburgazzoli commented on #45
As part of camel M3, the system property `CamelSimpleLRUCacheFactory` is not more effective and the choice of the LRU Cache to use depends on implementation [discovery](https://github.com/apache/camel/blob/camel-3.0.0-M3/core/camel-support/src/main/java/org/apache/camel/support/LRUCacheFactory.java#L48-L66)

[2019-07-09 06:30] #44 closed

[2019-07-09 06:30] #45 closed

[2019-07-09 09:36] ppalaga commented on #42
I see at least two reasons why we might not want to do this:

1. Practical: adding resteasy bloats the native image a bit. Compilation will take more time and memory.

2. Methodology: Having resteasy in all itests might cause us miss potential issues in setups without resteasy (because we will never test them). In other words, I think it is good to have itests with non-overlapping dependency sets

[2019-07-09 09:50] lburgazzoli commented on #42
It does but I won't sacrifice better testing for some cpu cyle

**No one is saying that we should ban tests that do not use resteasy** but if you look at my PR you can clearly see that the using rest assured + resteasy make the test much easier to write and understand.

[2019-07-09 10:06] ppalaga commented on #42
Nice to hear that. My standpoint is that we should have one or more itests without resteasy. Is this requirement still satisfied after we merge the proposed PR?

[2019-07-09 10:11] lburgazzoli commented on #42
You can add one if you wish

[2019-07-09 13:40] #42 closed

[2019-07-09 17:00] alainpham opened #54 "camel application property routesUri is not overridden at runtime"
**Describe the bug**
When using the camel extension, the application property `quarkus.camel.routes-uris` is not overridden at run time with the native executable. It should be in `ConfigPhase.RUN_TIME` instead of `ConfigPhase.BUILD_AND_RUN_TIME_FIXED`.
[Original discussion here](https://github.com/quarkusio/quarkus/issues/3116)

**Expected behavior**
When overriding application property `routes-u

[2019-07-10 08:17] #31 closed

[2019-07-10 08:24] lburgazzoli opened #56 "Review extensions' dependencies chains"
i.e.
- deployments should depend on camel-quarkus-code-deployment
- deployments should not depends on arc-deployment and quarkus-deployment as is should be transitively provided by camel-quarkus-code-deployment

[2019-07-10 08:38] emmanuelbernard opened #57 "Consider porting the Twitter Camel support"
I know it might be closer to demoware but it would be really clear in people's mind if we could use the Camel Twitter integration in Quarkus as part of a flow. It's also easier to set up that the current connectors you are offering here.

CC @jpechane @gunnarmorling

[2019-07-10 09:01] ppalaga commented on #57
@jonathanvila you wanted to try?

[2019-07-10 09:05] ppalaga commented on #56
I vote for enforcing things like this via a groovy script, enforcer plugin or similar automatic solution. Our ultimate goal is to have extensions for most Camel components and the bigger the number of extensions gets the harder it will be to keep things like this under control.

[2019-07-10 10:30] lburgazzoli commented on #56
I'll open a new issue for that

[2019-07-10 10:30] lburgazzoli opened #58 "Enforce dependency rules"
See https://github.com/apache/camel-quarkus/issues/56

[2019-07-10 11:55] #56 closed

[2019-07-10 14:29] lburgazzoli opened #60 "Upgrade quarkus to v0.19.0"

[2019-07-10 21:56] #60 closed

[2019-07-15 11:58] ppalaga opened #69 "FastCamelContext.clearModel() causes NPEs at runtime"
`FastCamelContext.clearModel()` was introducted with the upgrade to Camel 3.0.0-M3. It causes some NPEs at runtime, e.g. in `org.apache.camel.reifier.errorhandler.ErrorHandlerReifier.lookupErrorHandlerFactory(RouteContext, String, boolean)` or in `FastCamelRuntime.dumpRoutes()` because `RouteContext.getRoute()` returns null after `FastCamelContext.clearModel()` was called

[2019-07-15 12:02] ppalaga opened #70 "Bean extension fails in native mode due to using dynamic proxies"
After adding a proper integration test for the new bean extension (introduced with Camel 3.0.0-M3) it turns out that the Bean Component is using dynamic proxies under the hood and therefore the test is failing in the native mode.

[2019-07-15 12:20] ppalaga commented on #70
Reproducible with the code in https://github.com/apache/camel-quarkus/pull/72

[2019-07-15 12:21] ppalaga commented on #69
Reproducible with the code in https://github.com/apache/camel-quarkus/pull/72

[2019-07-18 06:56] lburgazzoli opened #74 "Create a Camel Telegram extension"

[2019-07-18 07:14] lburgazzoli commented on #24
See also https://github.com/quarkusio/quarkus/issues/3268

[2019-07-18 10:10] lburgazzoli opened #75 "Include quarkus info in camel-catalog"
We should add information about what components are quarkus ready to the camel catalog

/cc @davsclaus @oscerd

[2019-07-20 13:59] #33 closed

[2019-07-20 13:59] #34 closed

[2019-07-21 16:24] #32 closed

[2019-07-21 19:34] lburgazzoli opened #80 "Error building with caffeine on GraalVM 19.1.1 (quarkus snapshot)"
[code]

[2019-07-21 21:35] lburgazzoli commented on #80
Reported to quarkus: https://github.com/quarkusio/quarkus/issues/3300

[2019-07-22 13:13] oscerd opened #81 "AWS Extensions integration test are not built as native"
Actually the property native-camel is needed. If you run the normal command, the aws integration tests are not built as native

[2019-07-22 13:15] oscerd opened #82 "Env variable substitution doesn't work"
If you run the Integration test for AWS components, where you need the environment variables, it will fail with the following error

[code]

[2019-07-22 14:16] #18 closed

[2019-07-24 09:31] jamesnetherton commented on #57
If nobody else is working on this, then I'd like to try and implement it.

[2019-07-25 13:48] ppalaga opened #96 "Make CamelRuntime smart to decide deferInitPhase"
Currently, `deferInitPhase` true or false needs to be decided by the application developer depending on whether she wants to pass different config values to the app at runtime. However, the CamelRuntime could potentially be made smart enough to decide based on the available config values. E.g. `{{env:AWS_ACCESS_KEY}}` is a clear indicator of a runtime value.

cc @gnodet

[2019-07-25 13:54] ppalaga commented on #96
@gnodet noted in a call that this is not going to get resolved with Camel 3.0.0. We agreed to keep using the manual `deferInitPhase` in the mean time, eventually switching its default to `true` because it more likely to give what the users expect.

[2019-07-26 07:31] lburgazzoli opened #97 "Inspect routes to detect classes that may require reflection"
Assuming we have a route that contains something like:

    .bean(OrderService.class, "doSomething")

Then the `OrderService` should be listed among the classes that require reflection.

[2019-07-26 12:54] ppalaga opened #98 "Figure out whether the Reifier substitutions can be added conditionally"
@gnodet added these substitutions in his Camel 3.0.0-M3 workign branch. I had to remove them to make the core-cdi itest pass. We should figure out whether they can be added conditionally using `com.oracle.svm.core.annotate.TargetClass.onlyWith`

[code]

[2019-07-30 12:15] ppalaga commented on #36
We can close this one after 0.0.2 was released.

[2019-07-30 12:19] oscerd commented on #36
0.0.2 has been already released. As first version.

[2019-07-30 12:19] #36 closed

[2019-07-31 10:13] #57 closed

[2019-07-31 13:26] #39 closed

[2019-08-01 08:40] ppalaga commented on #82
After #72 was merged, using `quarkus.camel.defer-init-phase=true` in application.properties should solve the problem. Could you please try it, @oscerd  and eventually close this issue?

[2019-08-01 08:42] oscerd commented on #82
I will

[2019-08-01 08:42] ppalaga commented on #81
This is closed in the current master. Could you please close, @oscerd ?

[2019-08-01 08:43] #81 closed

[2019-08-01 09:07] ppalaga commented on #75
Actually, what purpose should the Catalog serve? If the main use case is to answer the question

then I think all the necessary info is already available on Maven Central. The answer can be obtained by a script that joins camel BOM with the compatible platform BOMs. So we perhaps do not need feed that information into a git repository? Well at least not manually. There could be a service or a regu

[2019-08-01 09:11] ppalaga commented on #37
I assume using the same asciidoc setup like they have in Quarkus is OK?

[2019-08-01 09:12] oscerd commented on #37
No, it's not ok, because the information must be in a suitable format to be published on the camel website. So we need to take as example camel-k or camel

[2019-08-01 09:16] lburgazzoli commented on #75
It is broader that that as the catalog contains information about endpoint, the properties that each endpoint supports, its schema and so on so for quarkus it can also include info about the properties each extension supports and so on.

[2019-08-01 09:22] ppalaga commented on #24
The issue is solved after upgrading to Quarkus 0.20.0, all test packages will be renamed after https://github.com/apache/camel-quarkus/pull/103 is merged. I think we can close this one.

[2019-08-01 09:25] ppalaga commented on #9
This should be easier to do now that we are on Camel 3.0.0.M4. Any hints or examples @davsclaus how to do that?

[2019-08-02 08:46] ppalaga commented on #37
I am starting to copy the camel-k setup. Plz assign to me.

[2019-08-02 15:25] ppalaga commented on #38
PR sent https://github.com/apache/camel-website/pull/67

[2019-08-02 16:09] #37 closed

[2019-08-02 20:03] ppalaga opened #107 "Servlet extension should set the default RestConfiguration"
Migrating from https://github.com/quarkusio/quarkus/issues/2585

Assigning to me, originally a suggestion of @lburgazzoli :

[2019-08-06 11:16] matheus-meneses opened #108 "Add Camel-Aws-SSM extension"

[2019-08-06 11:20] oscerd commented on #108
Ssm? There is no component in camel for ssm

[2019-08-06 11:22] matheus-meneses commented on #108
Is there a possibility to add?

[2019-08-06 11:27] oscerd commented on #108
Raise a JIRA here: https://issues.apache.org/jira/browse/CAMEL

[2019-08-06 11:29] oscerd commented on #108
if it is the related to SSM Agent, I don't know what use cases you see to use that in camel. So add some information about this.

[2019-08-06 13:21] #24 closed

[2019-08-06 13:22] lburgazzoli opened #109 "Release v0.1.0"

[2019-08-06 13:31] ppalaga commented on #109
I'd add a minimalistic user guide (todayish) unless you guys hurry up too much?

[2019-08-06 13:39] lburgazzoli commented on #109
We are likely to start the process tomorrow

[2019-08-06 14:36] ppalaga opened #111 "Docs should point to Quarkus docs for the given Quarkus version"
Blocked by https://github.com/quarkusio/quarkusio.github.io/issues/268

[2019-08-06 14:55] #98 closed

[2019-08-06 15:08] oscerd commented on #108
let us know by the way

[2019-08-07 06:38] oscerd commented on #109
I'm starting the process now.

[2019-08-07 06:41] ppalaga commented on #109
Yeah, do not wait for me. The user guide turned out to be too hard to write without working examples.

[2019-08-07 06:55] ppalaga opened #112 "Make camel-quarkus-bom usable as a parent for user applications"
The background story is that I am trying to write a user guide which is very hard without working examples. We could actually use our existing integration tests as examples but for that purpose, their pom hierarchy is not what the end user would need. So I am hereby proposing (1) to introduce a new POM (let's call it `camel-quarkus-application-parent` ) that could serve as a parent for end user ap

[2019-08-07 07:25] lburgazzoli commented on #112
can’t we just fix the camel quarkus bom ?

about examples we could create a quickstart repo or put example so in quarkus one, git is simpler imho

[2019-08-07 09:06] ppalaga commented on #112
Yeah, it could work (although encouraging users to inherit from a BOM may sound strange; anyway, I do not think that's a big issue). I'd do it in such a way the users will be able to choose whether they want to (a) import the BOM or (b) use it as a parent. (b) would just bring some plugin config on top of (a).

The main concern is to maintain the setup for end users separately from ours (for build

[2019-08-07 09:11] ppalaga opened #113 "Document the release process"
@oscerd could you please create `RELEASING.adoc` or similar and document the release process  there? I'd need to know that not to break the process when working on https://github.com/apache/camel-quarkus/issues/112 . I'd especially need to know whether you use the usual `release:prepare` `release perform` sequence (with some special profiles and params?), or if you are setting the versions manuall

[2019-08-07 09:22] lburgazzoli commented on #112
we do have the build parent for internal use, isn’t it ?

I’m not sold with the idea that our itest ate also examples as we do use itest to unit test native image so I’m more for real examples

[2019-08-07 09:42] ppalaga commented on #112
Yes, that's a good starting point, but there is some plugin config and props defined in the top level `camel-quarkus-parent` that need a closer look whether they are relevant to end users and/or how much danger do we risk keeping it there and passing it to end users via the BOM.

Yes, we do use itests to unit test native image, but that's a good thing, even for examples, is it not? I believe examp

[2019-08-07 10:08] lburgazzoli commented on #112
The test and related set-up we have as today are very simple and yes they looks like examples but as long term I would expect to test specific things such as substitutions properly applied and build time processing giving the expected results so they will probably diverge from being just examples.

[2019-08-07 10:23] ppalaga commented on #112
Yes, that sounds reasonable. How about having two categories of itests? One usable as examples (perhaps in a separate directory called `examples`) and one "internal" for purposes you mentioned?

[2019-08-07 10:27] lburgazzoli commented on #112
we jus need examples, I would also build examples once a day or we are
likely to break your build time acceptance criteria :)

On Wed, 7 Aug 2019 at 12:23, Peter Palaga <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-08-08 06:30] lburgazzoli opened #114 "Move create-extension-templates to i.e. tooling"
@ppalaga  would it be possible to move create-extension-templates from `extensions` to a top level directory like `tooling` ?

[2019-08-08 08:37] ppalaga commented on #114
Technically, it should work. Is that motivated by pure aesthetics?

[2019-08-08 09:24] lburgazzoli commented on #114
organizational motivation so we have a dir where we put all the
building/ide support bits clearly separate from extensions code.

On Thu, 8 Aug 2019 at 10:37, Peter Palaga <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-08-08 09:37] ppalaga commented on #114
Thanks, feel free to assign to me.

[2019-08-08 16:19] lburgazzoli opened #116 "rename xml extension to xml-common"

[2019-08-08 17:13] ppalaga opened #118 "Decide how to maintain examples"
Followup of the discussion in https://github.com/apache/camel-quarkus/issues/112 and https://github.com/apache/camel-quarkus/pull/115

What we agreed upon with @lburgazzoli :

* We need examples
* Integration tests may test aspects that have no didactic value for the app developers so keeping the distinction between itests and examples makes sense
* Examples should have tests

Open questions:

1.

[2019-08-08 17:17] lburgazzoli commented on #118
@ppalaga would be ok to test examples in jvm mode and native daily  ? I'm also ok to build everything every time but I remember you were concerned about build taking too long so if you are fine, I'm fine too

[2019-08-08 17:37] ppalaga commented on #116
Summing up what we discussed on the chat with @lburgazzoli:

* We currently have several working candidates for criteria to distinguish `common` from non `common`:
** Avoid naming clash: `jetty` vs. `jetty-common`
** Being a common dependency of several other extensions
** Not delivering a camel component

[2019-08-08 21:26] #116 closed

[2019-08-09 09:16] #112 closed

[2019-08-11 20:48] lburgazzoli commented on #109
done

[2019-08-11 20:48] #109 closed

[2019-08-11 20:49] lburgazzoli commented on #109
thank you @oscerd for taking care of the release

[2019-08-12 05:51] lburgazzoli opened #123 "Publish snaphosts"

[2019-08-12 06:54] ppalaga opened #124 "Deployment BOM"
The new deployment BOM should manage all dependencies used in our `-deploy` modules.

Why: Third parties wanting to implement proprietary Camel extensions depending on our community extensions will need that.

When: mid/long-term priority

How: Maybe move build-parent and bom together with the new deployment-bom under a new directory `poms`?

[2019-08-12 08:51] #113 closed

[2019-08-12 12:31] lburgazzoli opened #128 "Expose metrics in quarkus"
See:
- https://quarkus.io/guides/metrics-guide
- https://issues.apache.org/jira/browse/CAMEL-13838

[2019-08-12 13:21] #114 closed

[2019-08-12 14:31] ppalaga opened #129 "Properies evaluation broken after the introduction of PropertyBindingSupport"
The evaluation of properties does not work after a76c7526960ecabb1a1ebafc18c211a361bcf998 "chore: replace custom properties binding implementation with PropertyBindingSupport from camel support".

Reproducible through building the Twitter itest and running the jar manually. Clearly the twitter credentials need to be set as documented in the itest README. The scenario succeeds before a76c7526960eca

[2019-08-12 14:42] lburgazzoli commented on #129
@ppalaga done, please create a test against core too so we can isolate where the problem is

[2019-08-12 15:44] ppalaga commented on #129
There is trailing period missing at https://github.com/apache/camel-quarkus/blob/daaf4d455aace992d5ef5cd727c9297c2686d4dd/extensions/core/runtime/src/main/java/org/apache/camel/quarkus/core/runtime/support/FastCamelContext.java#L377

Let me figure out how to test that.

[2019-08-12 16:03] lburgazzoli commented on #129
should be part of the constant

On Mon, 12 Aug 2019 at 17:44, Peter Palaga <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-08-12 16:30] lburgazzoli commented on #129
you can test it by setting:

    camel.component.timer.resolve-property-placeholders = false

and test the value is properly propagated to the timer component (which is available in the core it)

[2019-08-12 18:47] ppalaga commented on #129
Thanks for the tip! Did exactly that.

[2019-08-13 06:45] lburgazzoli opened #131 "Add support for quarkus provided event loop"
We should back camel-core with event loop from quarkus, as example:

    https://github.com/quarkusio/quarkus/blob/master/extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java#L57-L72

Or vert.x

[2019-08-13 09:49] ppalaga commented on #118
OK, sounds like we agree about 1.: the examples should live in `camel-quarkus` git repo, in an new directory called `examples`.

For 2: Yes, I have the concerns about the build times. That's why I hold the view that we should avoid having similar projects in itests and examples. I prefer starting with testing the native mode in examples on every PR and I am open to revisit this when we feel the bu

[2019-08-13 10:57] kameshsampath commented on #118
@ppalaga  @lburgazzoli  - I will try to add few examples based on https://github.com/apache/camel/tree/master/examples and see how many i can migrate as few components might need quarkizing

[2019-08-13 13:42] #129 closed

[2019-08-13 14:16] hholtzhausen opened #132 "netty4-http producer fails with RejectedExecutionException"
A netty4-http producer is started and stopped immediately during application init.  The route
then fails with a _java.util.concurrent.RejectedExecutionException_  when executed.

Producer debug logs during startup:
[code]

The exception can be reproduced using:
[https://github.com/hholtzhausen/examples/tree/master/camel-quarkus-netty4-http-producer](https://github.com/hholtzhausen/examples/tree/ma

[2019-08-13 14:24] lburgazzoli commented on #132
Can you remove @ApplicationScoped from the route ?

[2019-08-13 14:32] hholtzhausen commented on #132
Same behaviour and exception without @ApplicationScoped annotation.
https://github.com/hholtzhausen/examples/commit/58e123d1852c4ea409a08f67aa35b052ecbe05f1

[2019-08-13 14:33] lburgazzoli commented on #132
last thing the I'll test, can you change quarkus.camel.defer-init-phase from false to true ?

[2019-08-13 14:35] hholtzhausen commented on #132
Tried that to :)
https://github.com/hholtzhausen/examples/commit/2816c9eec4bbfd8f55e6b6ce9335c6b89f7bb04a

[2019-08-13 15:58] ppalaga opened #133 "Test netty4-http as a producer"
Required by https://github.com/apache/camel-quarkus/issues/132

Plz assign to me.

[2019-08-13 15:59] lburgazzoli commented on #132
@hholtzhausen this looks like an issue on our side, as confirmation: does it fails in both jvm and native mode ?

[2019-08-13 16:05] ppalaga commented on #132
I can see it failing in JVM mode.

[2019-08-13 17:09] lburgazzoli commented on #132
Seems related to different behaviour of default LRU cache vs LRU cache based on caffeine

[2019-08-14 06:55] jamesnetherton commented on #132
Since you mentioned the LRU cache. I wonder if it's similar to what I observed in [CAMEL-13504](https://issues.apache.org/jira/browse/CAMEL-13504).

[2019-08-14 06:57] lburgazzoli commented on #132
Yes it is

[2019-08-14 07:39] hholtzhausen commented on #132
I was able to reproduce this in native mode a week or so ago using camel-quarkus 0.0.3-SNAPSHOT and quarkus 999-SNAPSHOT. I used those versions to get around https://github.com/apache/camel-quarkus/issues/80 and a _java.lang.NoClassDefFoundError: org/conscrypt/BufferAllocator_ during native compile.

With the current  camel-quarkus 0.1.1-SNAPSHOT version I am getting the _java.lang.NoClassDefFound

[2019-08-15 14:08] ppalaga opened #136 "@ConfigProperty and @Inject do not work in RouteBuilders"
Probably caused by how we instantiate RouteBuilders.

Stumbled across this when adding tests to the twitter test project where we have this
https://github.com/apache/camel-quarkus/blob/f3e7dbcad37aec1ae54b2dfb5d05d2ff462b6e49/integration-tests/twitter/src/main/java/org/apache/camel/quarkus/component/twitter/CamelRoute.java#L26-L27

I guess the users should expect `@ConfigProperty` and `@Inject` to

[2019-08-15 14:58] lburgazzoli commented on #136
you can also use properties placeholders in the uri definition with {{...}}

On Thu, 15 Aug 2019 at 16:08, Peter Palaga <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-08-15 15:45] ppalaga commented on #136
Thanks, `{{camel.component.twitter-directmessage.user}}` works.

`@ConfigProperty` and `@Inject` do not work because we do not let Arc to instantiate them https://github.com/apache/camel-quarkus/blob/c74d4a2846c5bd5b6c2963e9b2d8ccf78fadd4a9/extensions/core/deployment/src/main/java/org/apache/camel/quarkus/core/deployment/CamelInitProcessor.java#L88 The question is whether we should fix this?

[2019-08-15 16:03] lburgazzoli commented on #136
there’s a bean post processor in camel that usually take cares of doing
injection so we perhaps need to implement a dedicated one for arc

On Thu, 15 Aug 2019 at 17:45, Peter Palaga <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-08-16 08:02] lburgazzoli opened #139 "Upgrade to Apache Camel RC1"

[2019-08-16 12:54] ppalaga commented on #38
We are there on the staging website (that should go live next week):

* Under projects: https://camel.apache.org/staging/projects/camel-quarkus/
* Under Docs: https://camel.apache.org/staging/camel-quarkus/latest/

The current issue can be closed IMO.

[2019-08-18 12:04] lburgazzoli opened #141 "Expose health in quarkus"
See:
- https://quarkus.io/guides/health-guide
- https://issues.apache.org/jira/browse/CAMEL-13875

[2019-08-18 12:23] lburgazzoli commented on #9
As today `core` is responsible to act like a `main` but for better flexibility (i.e. for other to build on top of `core`) I think we need to split responsibilities like:

1. `core` to set-up low level things such as:
    - camel context
    - registry
    - integration with quarkus event loop #131
2. `main` to set up application related things, like:
    - initialize, start/stop the camel context

[2019-08-18 12:37] lburgazzoli opened #142 "Create a Camel Kafka extension"

[2019-08-18 12:38] lburgazzoli opened #143 "Create a Camel AMQP extension"

[2019-08-19 07:20] cescoffier commented on #131
Quarkus should provides:

* a Vert.x instance (produced by the quarkus-vertx extension)
* a way to access the netty event loop using https://vertx.io/docs/apidocs/io/vertx/core/Vertx.html#nettyEventLoopGroup-- (we may simplify the usage)

[2019-08-19 07:25] lburgazzoli commented on #131
So we should definitively try to back camel with vert.x using bits from https://github.com/apache/camel/tree/master/components/camel-reactive-executor-vertx

[2019-08-19 17:13] lburgazzoli opened #147 "Initialization ordering"
I have a component that tries to lookup a reference to a bean from the registry - thus from ArC - as following:

[code]

and it turn out that ArC could find a bean of the given type but fails to resolve the reference so `findByType` returns a collection with a single element as expected but then the element is null.

This happens because the lookup method inside the came registry happens before th

[2019-08-20 08:34] lburgazzoli commented on #147
With PR https://github.com/apache/camel-quarkus/pull/148 I've added basic support for defining object to be bound to the camel context so you can do something like:

[code]

[code]

And the pre-configured log component will be put in camel registry.

[2019-08-20 12:54] #124 closed

[2019-08-20 13:03] ppalaga opened #149 "Salesforce integration test takes 30+ mins"
This was not the case before we upgraded to Camel 3.0.0-M3/4. Let me investigate why it takes so long.

[2019-08-20 15:39] #41 closed

[2019-08-20 17:01] ppalaga commented on #149
My build was slowed down because I was limiting the memory via `-Dnative-image.xmx` (thanks @lburgazzoli for the hint). Removing the param made the runtimes comparable with Jenkins and other colleagues' machines.

Further, switching from powersave to performance cpufreq governor made my salesforce build faster by another minute. This is what I did on Fedora:

[code]

[2019-08-20 17:01] #149 closed

[2019-08-21 07:38] ppalaga commented on #149
There are two more things that helped to speed up my Salesforce itest build, now at **03:02 min**:

1. Add `<disableReports>true</disableReports>` to quarkus-maven-plugin. Let me send a PR adding this to all itests where it is not there yet.

2. Switching to `acpi-cpufreq` CPU frequency scaling driver (on Linux). With the the default `intel_pstate` driver the build was 20-30 sec slower. I followed

[2019-08-21 09:11] ppalaga commented on #38
The new Camel website is live: https://camel.apache.org/projects/camel-quarkus/ https://camel.apache.org/camel-quarkus/latest/
The current issue can be closed

[2019-08-21 10:06] ppalaga commented on #54
Moving `routesUris` from `BUILD_AND_RUN_TIME_FIXED` to `RUN_TIME` would make it impossible to do the build time materialization of the routes (because the RUNTIME config is simply not available at runtime). I do not think we want to do that. WDYT, @lburgazzoli?

As an alternative, we could perhaps add runtime `routesUris` config option to the existing build time one. The new runtime option would h

[2019-08-21 14:46] ppalaga commented on #82
The twitter tests that use env vars https://github.com/apache/camel-quarkus/pull/138 are a good proof that the issue is solved now.

[2019-08-22 07:31] #58 closed

[2019-08-22 15:54] ppalaga commented on #69
Getting back to this one now. So clearing the model causes two known issues: (1) a NPE when calling `FastCamelRuntime.dumpRoutes()` and (2) a NPE in `ErrorHandlerReifier.lookupErrorHandlerFactory(RouteContext, String, boolean)`

(1) is, I think, quite harmless. We can either ignore it or find a way how to describe a route without having the RouteDef available, perhaps by storing the description at

[2019-08-22 16:07] ppalaga commented on #74
I'd try this one unless somebody started already?

[2019-08-22 16:20] ppalaga opened #159 "Consider importing camel-bom in camel-quarkus-bom"
Consider importing camel-bom in camel-quarkus-bom instead of managing the Camel components ourselves.

Pros:

* This would make the life easier to us (camel-quarkus)
  * by having to maintain less lines of code in camel-quarkus-bom
  * by not having to add the camel libs when adding new extensions
* This would make the live easier to our users when using components that do not have an extension ye

[2019-08-22 18:39] #70 closed

[2019-08-23 08:31] ppalaga commented on #74
A straightforward port does not work. My work in progress can be seen in this branch: https://github.com/ppalaga/camel-quarkus/commits/i74

Some CXF libs `camel-telegram` depends on cannot be compiled to native:

[code]

[2019-08-23 08:35] lburgazzoli commented on #74
yes, we need to migrate the component to resteasy

[2019-08-23 13:15] ppalaga commented on #97
Plz. assign to me.

[2019-08-23 14:19] ppalaga commented on #74
Filed https://issues.apache.org/jira/browse/CAMEL-13903

[2019-08-28 09:16] ppalaga commented on #69
Agreed with @gnodet that I should create a Camel Jira for this.

[2019-08-28 09:20] gnodet commented on #69
Right, this definitely needs to be fixed asap in Camel.

[2019-08-28 12:44] gnodet commented on #69
I've just created https://issues.apache.org/jira/browse/CAMEL-13912 for that, i'll have a look asap.

[2019-08-28 15:06] claudio4j opened #162 "support camel-box"

[2019-08-28 15:16] bibryam opened #163 "support for camel-timer"

[2019-08-28 15:22] bibryam commented on #163
Already implemented

[2019-08-28 15:22] #163 closed

[2019-08-29 07:28] #123 closed

[2019-08-29 12:56] gnodet commented on #69
I've commited a fix but testing it in camel-quarkus requires an upgrade to camel 3.0.0-SNAPSHOT / RC1 which is not trivial, so need to work on that first.

[2019-08-29 13:09] ppalaga commented on #139
@lburgazzoli link the branch!!!

[2019-08-29 13:17] lburgazzoli commented on #139
https://github.com/lburgazzoli/apache-camel-quarkus/tree/camel-master

[2019-08-29 13:20] ppalaga commented on #107
out of date

[2019-08-29 13:20] #107 closed

[2019-08-29 13:29] ppalaga commented on #96
Change the default

[2019-08-29 13:30] #82 closed

[2019-08-29 13:33] ppalaga commented on #75
We'll create a Quarkus catalog

[2019-08-29 13:52] ppalaga commented on #54
Agreed with @gnodet  and others to move the property to RUN_TIME.

[2019-08-29 13:53] #38 closed

[2019-08-29 13:53] #7 closed

[2019-08-29 13:53] #8 closed

[2019-08-29 13:55] ppalaga commented on #97
We should also find a way for the end user to add `RegisterForReflection` to third party classes.

[2019-08-29 13:58] ppalaga commented on #159
Not a good idea, because availability of all Camel components might be misunderstood by the end user as all those components being supported on Camel Quarkus. The create-extension mojo should rather be extended to (optionally) add the given Camel component.

[2019-08-31 19:31] ppalaga opened #168 "Trigger the rebuild of Camel website on docs/**/* change"
@zregvart it looks like we have a Jenkinsfile now. Would you please add the necessary bits?

[2019-09-02 12:59] #168 closed

[2019-09-02 22:28] #139 closed

[2019-09-03 06:21] zhfeng opened #171 "Create a Camel MQTT extension"

[2019-09-03 09:22] davsclaus commented on #171
The camel-paho component is possible more active maintained than mqtt client that is using an old fusesource library.

[2019-09-03 09:23] davsclaus commented on #162
camel-box is deprecated if its this component? And if so then we will not do this, otherwise tell us a bit more what you are looking for

[2019-09-03 12:01] tadayosi commented on #162
Is camel-box deprecated?  I couldn't find any information about that.

[2019-09-03 13:23] davsclaus commented on #162
Ah sorry its dropbox, we should have named it camel-dropbox. We used to have some old box stuff for a camel "blackbox" thingy that was deprecated very long time

[2019-09-03 13:27] gnodet opened #172 "Remove support for defer-init-phase"

[2019-09-03 21:47] ppalaga commented on #159
Sent https://github.com/quarkusio/quarkus/pull/3836 that adds `CreateExtensionMojo.additionalRuntimeDependencies` that can be used to add the Camel component dependency to the runtime BOM and to the runtime extension module.

[2019-09-03 21:49] ppalaga opened #173 "Remove scaffold-integration-test.groovy"
Remove `scaffold-integration-test.groovy` once we upgrade to a quarkus version containing the changes in https://github.com/quarkusio/quarkus/pull/3836

[2019-09-03 21:51] ppalaga commented on #96
See https://github.com/apache/camel-quarkus/issues/172

[2019-09-03 21:51] #96 closed

[2019-09-04 18:32] #128 closed

[2019-09-05 09:51] ppalaga commented on #97
Quarkus offers a solution for that
https://quarkus.io/guides/writing-native-applications-tips#using-a-configuration-file

[2019-09-05 09:58] lburgazzoli commented on #97
well, this is just plain substrate thing that we know it work, would be nice to detect such files and automatically add the related build config bits

[2019-09-05 11:02] ppalaga commented on #97
Yes, I am working on the autodetection part.

[2019-09-05 15:14] ppalaga opened #179 "Generate a jar with a non-test pom for each integration test"
Could you plz assign to me @lburgazzoli ?

[2019-09-05 15:39] #172 closed

[2019-09-05 15:39] #69 closed

[2019-09-05 16:09] gnodet opened #182 "Move the routesUri to the runtime config"

[2019-09-05 16:11] #182 closed

[2019-09-05 16:28] lburgazzoli opened #183 "Generate documentation to be included in quarkus"

[2019-09-05 16:36] lburgazzoli opened #184 "Leverage platform http service"
As today to leverage the http service provided by quarkus we do rely on `servlet` but we can do much better and bypass the servlet engine.

To do so we need to create a sort of "platform http component" that leverage what the platform camel runs on has to offer i.e.

- quarkus --> vertx-web
- spring --> ???
- widfly --> undertow/servlet

I would start by creating such component and quarkus binding

[2019-09-05 16:59] ppalaga commented on #184
Sounds reasonable. Feel free to assign to me.

[2019-09-05 17:00] ppalaga commented on #184
BTW, what is the relationship to the new quarkus router engine?

[2019-09-05 17:24] ppalaga commented on #183
Any refs. what the docs should look like?

[2019-09-05 18:44] lburgazzoli commented on #147
Done in #148

[2019-09-05 18:44] #147 closed

[2019-09-05 20:11] ppalaga opened #185 "Master broken"
The master branch at 8f1dde4548b701d9ee49c467b8f19c768cca6397 seems to be broken. Fails on my laptop as well as on the CI, e.g. in https://github.com/apache/camel-quarkus/pull/181

@gnodet could you please check what is the problem and eventually consider sending a PR and wait for CI instead of pushing directly?

[2019-09-05 20:57] gnodet commented on #185
Sure, I've raised https://github.com/apache/camel-quarkus/pull/186 as an attempt to fix the problem.  If it does not work, I'll revert and use several PRs instead.

[2019-09-06 05:56] gnodet commented on #185
Reverted and raising PRs...

[2019-09-06 05:56] #185 closed

[2019-09-06 05:57] gnodet opened #188 "Make xml and jaxb disabled by default and opt-in when depending on camel"

[2019-09-06 07:27] davsclaus commented on #118
It would be good to get a few basic examples added soon so when we do releases we can point new users to this so they can easily see how to use camel and quarkus, and also that they can quickly try out themselves

[2019-09-06 11:54] lburgazzoli commented on #183
We should have some minimal documentation to be shown in the quarkus guides, it should not be complete but a sort of quick start, for in depth doc we should redirect to camel main website

[2019-09-06 11:55] lburgazzoli opened #190 "Be listed in code.quarkus.io"
We should have camel-quarkus related extensions listed in code.quarkus.io

This depends on #183

[2019-09-08 20:21] ppalaga commented on #183
I mean an example of this kind of docs for some Quarkus'es own extension would be helpful.

Should that be a per extension `.adoc` file?

[2019-09-09 00:51] zhfeng commented on #171
Thanks @davsclaus , I will take a look at the camel-paho. and the fusesource libray looks like some issues with the native mode. Does camel-paho support in the Syndesis ?

[2019-09-09 09:10] ppalaga commented on #184
How should the URI scheme be called? `http-server` maybe?

[2019-09-09 09:25] #179 closed

[2019-09-10 07:38] jamesnetherton opened #195 "Auto configuration of metrics management strategies"
E.g auto configure some or all of [these](https://github.com/apache/camel-quarkus/blob/master/integration-tests/microprofile-metrics/src/main/java/org/apache/camel/quarkus/component/microprofile/metrics/it/MicroProfileMetricsRouteBuilder.java#L31-L34) so that metrics on routes & exchanges are provided OOTB.

[2019-09-11 05:14] #171 closed

[2019-09-11 06:55] zhfeng commented on #143
@lburgazzoli do you still work on this issue ? I think it could be similar with the mqtt issue https://github.com/apache/camel-quarkus/issues/171. I can take a look at the this one.

[2019-09-11 08:14] lburgazzoli commented on #143
please go ahead

[2019-09-11 08:44] lburgazzoli commented on #183
Something similar to guides available here:

    https://github.com/quarkusio/quarkus/tree/master/docs/src/main/asciidoc

[2019-09-11 08:49] gnodet commented on #183
https://github.com/quarkusio/code.quarkus.io#update-the-extensions-list

[2019-09-11 08:52] lburgazzoli commented on #190
@ppalaga @gnodet, @ia3andy can help on this

[2019-09-11 09:03] ia3andy commented on #190
We are currently creating the process to have a new extension listed in Code Quarkus.
A good first step would be to have it accepted on the Quarkus repo.

[2019-09-11 09:10] lburgazzoli commented on #190
@ia3andy you are talking about being part of the quarkus platform right ? the camel quarkus extension won't join the quarkus repo, in fact we moved out quite recently :)

[2019-09-11 09:38] ia3andy commented on #190
@lburgazzoli ok, I just got up to speed with the soon coming Quarkus Platform, sorry about that. The platform is not out there yet, so the idea is to temporary add your extension to the list (in the Quarkus repo). I am currently creating an issue for you in there.

Once that done, I'll update you, but you'll be really close to have your extension listed in code.quarkus.io :)

[2019-09-11 11:27] emmanuelbernard commented on #190
Note that there are a few sources today unfortunately:
- the extensions.json list that is consumed by the CLI
- the extension and category file that is hosted in code.q.io that also need to be updated
- the bom file which needs to reference the Camel extensions

So it's not jsut a code.quarkus.io change unfortunately

[2019-09-11 21:40] lburgazzoli opened #198 "Remove custom registry implementation"
It does not seem we do store instances wrapped by a `RuntimeValue` in the registry any more so it may be possible to thing to simplify the registry and leverage the "bean repository" concept we have in Camel, something like:

    repository = new ArCBeanRepository();
    registry = new DefaultRegistry(repository);

This would reduce the maintenance costs as i.e. https://issues.apache.org/jira/proj

[2019-09-13 09:19] ppalaga commented on #184
Going with `platform-http` after a discussion with @lburgazzoli

[2019-09-16 13:44] zhfeng commented on #143
The camel-amqp 3.0.0-RC1 has  org.springframework:spring-context version 5.1.9.RELEASE but the io.quarkus:quarkus-bom 0.21.2 has 5.1.8.RELEASE.

It looks like we need to wait the alignment of spring-context in quarkus-bom

[2019-09-16 13:48] zhfeng commented on #143
https://github.com/quarkusio/quarkus/pull/4044

[2019-09-16 14:41] zhfeng commented on #143
we have to wait for the https://github.com/quarkusio/quarkus/issues/3436

[2019-09-17 14:47] ppalaga opened #203 "Release 0.2.0"
We have a couple of new components to show.

[2019-09-18 07:45] oscerd commented on #203
Release process was failing for failIfNoTests missing for surefire and now

[INFO] [ERROR] Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:3.0.0-M1:deploy-file (deploy-reusable-test-jar) on project camel-quarkus-integration-test-core-parent: The parameters 'url' for goal org.apache.maven.plugins:maven-deploy-plugin:3.0.0-M1:deploy-file are missing or invalid -> [Help 1]

[2019-09-18 07:51] oscerd commented on #203
@ppalaga FYI.

[2019-09-18 08:02] ppalaga commented on #203
Thanks for the heads up, I can have a look tomorrow (on PTO today).

[2019-09-19 13:39] oscerd commented on #203
It fails anyway

[INFO] [ERROR] Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:3.0.0-M1:deploy-file (deploy-reusable-test-jar) on project camel-quarkus-integration-test-core-parent: The parameters 'url' for goal org.apache.maven.plugins:maven-deploy-plugin:3.0.0-M1:deploy-file are missing or invalid -> [Help 1]

[2019-09-19 14:43] ppalaga commented on #203
Strange. I think I need to reproduce this deploying to a local filesystem repo.

[2019-09-20 07:14] ppalaga commented on #203
I was able to reproduce using local file:// URLs for distribution management and scm.

[2019-09-21 10:28] oscerd commented on #203
It's not enough. The signature of the integration tests seems to be invalid.

typeId | signature-staging
-- | --
failureMessage | Missing Signature: '/org/apache/camel/quarkus/camel-quarkus-integration-test-jdbc-tests/0.2.0/camel-quarkus-integration-test-jdbc-tests-0.2.0.pom.asc' does not exist for 'camel-quarkus-integration-test-jdbc-tests-0.2.0.pom'.
failureMessage | Missing Signature: '/org/apa

[2019-09-21 10:29] oscerd commented on #203
I'm dropping the release and go back to 0.2.0-SNAPSHOT

[2019-09-22 10:22] oscerd commented on #203
Actually the integration test poms are a complete mess, my proposal is to leave them out of the release.

[2019-09-22 19:30] ppalaga opened #207 "The synthetic test poms are missing signatures"
... and therefore closing the staging repository fails with messages listed in https://github.com/apache/camel-quarkus/issues/203#issuecomment-533786828

[2019-09-23 07:13] oscerd commented on #203
Release 0.2.0 is now on vote.

[2019-09-26 09:03] #195 closed

[2019-09-26 09:04] oscerd commented on #203
Done

[2019-09-26 09:04] #203 closed

[2019-09-26 09:04] oscerd opened #209 "Upgrade to Quarkus 0.23.0"

[2019-09-26 09:10] oscerd commented on #209
This fails for enforcement rules

[INFO] --- maven-enforcer-plugin:1.4.1:enforce (camel-quarkus-enforcer-rules) @ camel-quarkus-infinispan ---
[WARNING]
Dependency convergence error for org.jgroups:jgroups:4.1.1.Final paths to dependency are:
+-org.apache.camel.quarkus:camel-quarkus-infinispan:0.2.1-SNAPSHOT
  +-org.infinispan:infinispan-core:10.0.0.Beta5
    +-org.jgroups:jgroups:4.1.1.Final
and

[2019-09-27 15:57] lburgazzoli commented on #209
Blocking issue: https://github.com/quarkusio/quarkus/issues/4248

[2019-09-30 10:03] #209 closed

[2019-09-30 10:27] lburgazzoli opened #213 "Submodule for support extensions"
All the extension are now part of the `extension` module but as we use a short name, it is unclear if an extension relates to a camel component or it is a support extension.

As example we have a `jetty` extension which relates to `camel-jetty` but also a `jetty-common` which targets generic `jetty` classes. At the same time we have `http-common` which target the `camel-http-common` classes which

[2019-09-30 11:09] ppalaga commented on #213
No problem with that.

Will there be a single naming convention for all support extensions?

How about integration testing? I think every extension incl. support extensions should be covered directly or indirectly by at least one integration test. WDYT?

[2019-09-30 11:48] lburgazzoli commented on #213
I would say yes

We should not allow to have extension for things not used in camel so I think all the support extensions will be tested indirectly by testing the camel extensions. I f sopmething specific is not covered, we can of course add specific tests.

[2019-09-30 16:13] #213 closed

[2019-10-01 04:23] #173 closed

[2019-10-01 09:10] lburgazzoli opened #217 "[platform http] support for rest dsl"

[2019-10-01 12:11] ppalaga opened #218 "Ensure the PlatformHttpComponent is registered before the routes are started"
Followup of https://github.com/apache/camel-quarkus/pull/201#discussion_r329945714

[2019-10-02 10:52] davsclaus commented on #184
Btw is there anything that makes this http-platform component quarkus specific? I am asking as it may be something we should eventually move to upstream main Camel so it can be used elsewhere too.

[2019-10-02 10:56] lburgazzoli commented on #184
There is a SPI for platform specific code so yes, the component should be moved to mian Camel as soon as the SPI is stable enough (there is still some work to be done to i.e. make this component usable for the rest dsl)

[2019-10-02 11:03] ppalaga opened #220 "platform-http component should return 204 for success and no body"
Yeah ideally we should get the http components aligned. They should IMHO not return a hardcoded text, eg this is in english, then chinese users get english text etc. But lets log a ticket upstream at Apache Camel

_Originally posted by @davsclaus in https://github.com/apache/camel-quarkus/timeline_

[2019-10-03 08:21] #184 closed

[2019-10-03 12:16] carlosthe19916 opened #223 "Freemarker native support"

[2019-10-03 12:19] ppalaga commented on #223
@carlosthe19916 are you working on this one?

[2019-10-03 12:29] carlosthe19916 commented on #223
@ppalaga I'd like to contribute in some way and I'm really curious about using Quakus and Freemarker in personal projects. I'm not sure if I will achieve the goal of adding a new extension but I'd like to give it a try.

[2019-10-03 13:16] ppalaga commented on #223
@carlosthe19916 new extensions are welcome! You may find https://camel.apache.org/camel-quarkus/latest/contributor-guide.html useful.

[2019-10-06 07:39] #133 closed

[2019-10-06 16:03] lburgazzoli commented on #198
Fixed by https://github.com/apache/camel-quarkus/pull/226

[2019-10-06 16:03] #198 closed

[2019-10-06 16:04] lburgazzoli commented on #132
should  be fixed now in master

[2019-10-06 16:04] #132 closed

[2019-10-06 16:04] lburgazzoli commented on #9
Fixed by https://github.com/apache/camel-quarkus/pull/226

[2019-10-06 16:04] #9 closed

[2019-10-06 19:04] #218 closed

[2019-10-07 07:15] lburgazzoli opened #232 "Add a daily job that test master agains quarkus snapshots"
It would be nice to have a (daily ?) job that builds master against quarkus snapshots (there's a profile for that) to catch issues as soon as possible.

@oscerd do you have time to take a look ?

[2019-10-07 07:16] oscerd commented on #232
What's the profile?

[2019-10-07 07:18] lburgazzoli commented on #232
quarkus-snapshots

[2019-10-07 07:43] Silvakilla opened #233 "Help with the creation of the Component Camel-Quarkus-JMS"
I'm currently trying to add camel-jms as an camel component to camel quarkus, but so far it is not working. After ignoring several convergence errors (yes, not really good) I now get an error that the class: org.apache.camel.core.xml.util.jsse.ClientAuthenticationDefinition is missing. So far I couldn't find it in the existing jars of camel core xml. Was it just removed or war the package just cha

[2019-10-07 07:46] ppalaga commented on #233
Could you please share your code? - e.g. via Draft pull request?

[2019-10-07 07:48] jamesnetherton commented on #233
Which version of Camel are you building against? I hit a similar issue some time ago and it was due to stale JAXB indexes. I should have cleaned those up as part of [CAMEL-13900](https://issues.apache.org/jira/browse/CAMEL-13900).

[2019-10-07 07:49] #131 closed

[2019-10-07 07:50] Silvakilla commented on #233
I'm using Camel 3.0.0-RC1, which is the latest available release for me on mvn repo

[2019-10-07 08:05] Silvakilla commented on #233
I still only see RC1, does it take time to get available on mvn?

[2019-10-07 08:10] oscerd commented on #233
http://repo2.maven.org/maven2/org/apache/camel/camel-jms/3.0.0-RC2/

it's available already

[2019-10-07 08:15] WillemJiang opened #234 "ActiveMQTestResource should not eat the exception"
We'd better to log the exceptions when ActiveMQ Server start or stop, in the [ActiveMQTestResource](https://github.com/apache/camel-quarkus/commit/bf856616cf18c2ddb81286e13f9118d037f91021#diff-6a006df9400353640e04e51565bc48ba).

[2019-10-07 08:26] oscerd commented on #232
https://builds.apache.org/view/C/view/Apache%20Camel/job/camel-quarkus%20snapshot%20daily/job/master/3/console

[2019-10-07 08:26] #232 closed

[2019-10-07 09:32] Silvakilla commented on #233
thanks for that and after adding it and still ignoring the convergence errors with spring, it works unti the still broken integration tests.

[2019-10-07 11:26] #233 closed

[2019-10-07 12:41] lburgazzoli commented on #234
Fixed by https://github.com/apache/camel-quarkus/pull/235

[2019-10-07 12:41] #234 closed

[2019-10-07 14:28] lburgazzoli commented on #188
@gnodet in quarkus master there is a new annotation `@Overridable` that could help here to provide a specialized implementation with xml support.

Here a very simple example: https://github.com/lburgazzoli/quarkus-conditional-buildstep/blob/master/deployment/src/main/java/com/github/lburgazzoli/quarkus/playground/DeploymentProcessor.java

[2019-10-07 15:21] lburgazzoli commented on #207
@ppalaga do you think we can have a fix for this soon ?

[2019-10-07 16:21] ppalaga commented on #207
Yes, working on a maven plugin to do the stuff comfortably on the Quarkus side.

[2019-10-07 16:24] lburgazzoli commented on #207
Do we have any ETA ?

[2019-10-07 16:25] ppalaga commented on #207
tomorrowish

[2019-10-07 17:25] #118 closed

[2019-10-07 23:09] ppalaga commented on #207
Released 0.1.0 https://github.com/ppalaga/repackage-tests-maven-plugin

[2019-10-08 06:19] jamesnetherton opened #240 "Auto configure MicroProfile metrics Camel context event notifier"
It adds a couple of useful metrics like context state & uptime.

[2019-10-08 07:16] lburgazzoli commented on #188
Also note that with https://github.com/quarkusio/quarkus/pull/4405/files#diff-3, `JaxbEnabledBuildItem` is not more there in quarkus master

[2019-10-08 08:04] #240 closed

[2019-10-09 06:51] #75 closed

[2019-10-09 10:13] davsclaus opened #245 "Update doc with better extension list"
Use the maven plugin to update the website doc like we do at Apache Camel, instead of the groovy build script hack.

[2019-10-09 10:45] jamesnetherton opened #247 "CamelContext.getVersion() always returns an empty string"

[2019-10-09 12:48] dhartford opened #248 "Create a Camel Netty TCP extension"
Create camel netty-tcp extension in order to support lower-level TCP payloads in camel/EIP-style solutions.

[2019-10-09 12:56] dhartford commented on #248
note - I'm barely ready to contribute, so if someone can fast track and build on top of it, please do!

[2019-10-09 12:58] oscerd commented on #248
The idea should be to simply create a camel-netty extension.

[2019-10-09 15:02] gnodet commented on #188
Working on it, i just need a minor adaption in camel https://github.com/apache/camel/pull/3234

[2019-10-09 19:29] ppalaga commented on #248
Contributions are welcome! @dhartford you or anybody else may want to try to implement this following https://camel.apache.org/camel-quarkus/latest/contributor-guide.html Feel free to ask if you have specific questions.

[2019-10-10 08:16] Silvakilla commented on #54
Has this ever been implemented so far?

[2019-10-10 08:19] lburgazzoli commented on #54
will work on it now

[2019-10-10 10:08] #245 closed

[2019-10-10 10:09] davsclaus commented on #247
I think @gnodet fixed something a while back where the version was empty when native compiled but was shown when in JVM mode

[2019-10-10 10:13] gnodet commented on #247
That may be have been before the donation actually. And it may be a regression.
The version is extracted from the `/META-INF/maven/org.apache.camel/camel-core/pom.properties` resource and cached, so we need to either:
  * force the load at init time by calling `context.getVersion()` just after the context has been created
  * or include the needed time by providing a `SubstrateResourceBuildItem`

[2019-10-10 10:46] lburgazzoli opened #251 "[servlet-extension] Unrecognized configuration key "quarkus.camel.servlet.url-patterns" provided"
When running tests related to the servlet extension, the following warning is reported during augmentation phase:

    [WARNING] [io.quarkus.config] Unrecognized configuration key "quarkus.camel.servlet.url-patterns" provided

@ppalaga is that something that can be safely ignored or an indication on something wrong about how servlet extension configuration is handled ?

[2019-10-10 10:47] lburgazzoli commented on #247
The resource should be already included, at least according to the code:

    https://github.com/apache/camel-quarkus/blob/master/extensions/core/deployment/src/main/java/org/apache/camel/quarkus/core/deployment/SubstrateProcessor.java#L131-L132

[2019-10-10 11:08] ppalaga commented on #251
Plz assign to me.

[2019-10-10 12:09] lburgazzoli opened #253 "Build time property to register classes for reflection"
Users may need to register additional classes for reflection i.e. provided by 3th party artefacts while writing routes and as today they have the following options:

- write an extension
- create a reflection configuration file as described [here](https://quarkus.io/guides/writing-native-applications-tips#registering-for-reflection)

Both the options are possible but wondering if we could further

[2019-10-10 12:19] ppalaga commented on #253
+1 That will surely be helpful when investigating issues.

Does this not belong to Quarkus itself actually?

[2019-10-10 12:24] lburgazzoli commented on #253
I know that they are thinking about something but not sure about if they will actually make it, when and how.

I'll investigate a little bit and eventually I'll implement an interim solution.

[2019-10-10 13:20] ppalaga commented on #251
I only see it happening in the twitter itest where I am going to fix it. Are you sure you see it happening in some servlet related test (which)?

[2019-10-10 13:51] lburgazzoli commented on #251
Oh yes sorry, I've confused the tests, so yes saw it on twitter only

[2019-10-10 16:01] #54 closed

[2019-10-10 19:31] ppalaga commented on #207
This will be done on the Quarkus side using the rpkgtests-maven-plugin

[2019-10-10 20:20] ppalaga commented on #183
So the docs you ask for would be published anlong the Quarkus guides under https://quarkus.io/guides/ ?  If so, a single generic (not per Camel Quarkus extension) Camel guide would be enough, right?

[2019-10-10 20:49] lburgazzoli commented on #183
Correct, a generic doc and a link to camel-quarkus website is enough

[2019-10-11 09:10] coolbeevip opened #257 "Shell scripts in the user guide documentation are not compatible with Mac OS X"
[code]

The following is the description of the -R parameter in the man pages for cp on Mac OS X:

If source_file designates a directory, cp copies the directory and the entire subtree connected at that point.  If the source_file  ends in a /, the contents of the directory are copied rather than the directory itself.  This option also causes symbolic links to be copied, rather than indirected thro

[2019-10-11 09:24] ppalaga commented on #257
Thanks for the report, @coolbeevip . Could you please propose a shell command that works for you?

[2019-10-11 09:25] ppalaga commented on #257
Sorry, I see the PR now.

[2019-10-11 09:28] coolbeevip commented on #257
I submitted a PR #258 for it

[2019-10-11 09:38] ppalaga opened #259 "The User guide should refer to the rest-json example rather than the servlet itest"
The servlet integration test was changed recently and the guide text does not fit the reality. The user guide should refer to the new example in the examples directory.

[2019-10-11 10:39] coolbeevip opened #260 "camel-quarkus parent pom when already have a parent pom"
I am a newcomer to Camel & Quarkus. I started a demo based on the user guide and there was a problem.

My demo already have a parent pom, so I add `camel-quarkus-bom` to the dependency management section with scope=import. But I have the following error message when mvn clean package

demo pom.xml

[code]

quarkus-parent pom.xml

[code]

build info

[code]

[2019-10-11 11:03] ppalaga commented on #260
Thanks for the report.

I see 11 occurrences of `mvn clean package` in your log. Could you please remove 10 and leave the most significant one so that I do not need to go through so many lines?

[2019-10-11 11:05] ppalaga commented on #260
I do not see `quarkus-maven-plugin:0.23.2:build` in your last build. It should definitely be there. Running maven with `-e` could help too.

[2019-10-11 11:30] ppalaga commented on #259
Plz assign to me.

[2019-10-11 11:55] jamesnetherton commented on #247
Yep - but it depends on camel-core being on the classpath, and I don't think that's the case for most (maybe all) of our extensions.

`AbstractCamelContext` is in camel-base. So maybe we just update [this](https://github.com/apache/camel/blob/master/core/camel-base/src/main/java/org/apache/camel/impl/engine/AbstractCamelContext.java#L2194) path to point to `/META-INF/maven/org.apache.camel/camel-b

[2019-10-11 12:01] lburgazzoli commented on #247
Ah, yes, we have changed a number of things in core/* so that could be a leftover :)

[2019-10-11 12:20] coolbeevip commented on #260
-_-# sorry, I just clean log

[2019-10-11 13:45] ppalaga opened #262 "Use bomEntryVersion of CreateExtensionMojo to avoid ${project.version} usage in BOMs"
Around here https://github.com/apache/camel-quarkus/blob/master/extensions/pom.xml#L85 after the upgrade to Quarkus 0.25.0

Plz assign to me

[2019-10-11 14:38] ppalaga commented on #260
I was able to reproduce the issue. The root cause is that you mix Camel Quarkus 0.2.0 with Quarkus 0.23.2. Camel Quarkus 0.2.0 is compatible only with Quarkus 0.22.0. So downgrading `quarkus.version` in your parent pom should solve the problem.

[2019-10-11 14:43] ppalaga commented on #183
Plz. assign to me.

[2019-10-11 14:52] #260 closed

[2019-10-11 14:57] #257 closed

[2019-10-11 15:37] ppalaga commented on #183
https://github.com/quarkusio/quarkus/pull/4521

[2019-10-11 16:03] ppalaga commented on #183
https://github.com/quarkusio/quarkusio.github.io/pull/312

[2019-10-11 16:47] coolbeevip opened #263 "integration-tests/servlet doesn't work in development mode"
I'm run `mvn clean compile quarkus:dev -DnoDeps` getting the following error:

[code]

[2019-10-11 19:45] #259 closed

[2019-10-11 19:45] #251 closed

[2019-10-12 01:15] coolbeevip commented on #263
there have similar questions on quarkus. https://github.com/quarkusio/quarkus/issues/2809

[2019-10-12 02:18] coolbeevip commented on #263
Upgrade camel-qurakus to 0.2.1-SNAPSHOT solve the issue

[2019-10-12 02:18] #263 closed

[2019-10-12 08:51] coolbeevip opened #264 "About component REST compatibility issues"
I recently studied Camel's Rest DSL and want to use it in Quarkus and I already know that the corresponding camel-quarkus component is platform-http https://github.com/apache/camel-quarkus/issues/217 . But it seems that the APIs of the two components are different.

quarkus version 0.23.2
camel-quarkus version 0.2.1-SNAPSHOT

I tried to use the code in camel-quarkus, but I am prompted with an erro

[2019-10-12 14:39] ppalaga commented on #264
Thanks for the report we are very happy to get your feedback!

The rest support for the `platform-http` is underway ( https://github.com/apache/camel-quarkus/pull/256 ), I actually throught it was merged yesterday, but the CI got stuck for some reason. Let me restart it. The PR also changes the platform-http integration test - that's where you can look for the right dependencies. Sorry, no better

[2019-10-13 07:06] coolbeevip commented on #264
Thanks for replying, I will try it.

[2019-10-13 07:53] #217 closed

[2019-10-13 11:10] coolbeevip commented on #264
In my demo component camel-quarkus-servlet can support REST DSL well.

BTW: I saw the purpose of component platform-http in https://github.com/apache/camel-quarkus/issues/184. This looks great!

[2019-10-13 11:10] #264 closed

[2019-10-13 16:07] davsclaus opened #265 "Add tarfile extension"
Similar to zipfile so it ought not to be to difficult if the commons-compress works with graal.

[2019-10-14 03:19] #265 closed

[2019-10-14 07:46] ppalaga opened #270 "TarfileTest can fail on exotic platforms"
This is related to this discussion: https://github.com/apache/camel-quarkus/pull/266#event-2709132842 where I did not have the time to find out all necessary details.

So the problem is that `bos.toString()` in the test is using given platform's default encoding which might be incompatible with the encoding RestAssured uses to post the request. Note that RestAssured uses ISO-8859-1 by default for

[2019-10-14 12:31] #141 closed

[2019-10-14 12:31] #247 closed

[2019-10-14 12:33] jamesnetherton opened #273 "Paho integration tests fail in native mode"
[code]

[2019-10-14 13:28] dhartford commented on #248
Reviewing, I was hoping for a sample init commit of just the netty-http to see what the scope was, but no luck. Reviewing these, let me know if I missed something from a scope point of view for 'writing a new quarkus-camel extension':

[2019-10-14 13:51] ppalaga commented on #248
Yes you need to add:

* 3 new modules under https://github.com/apache/camel-quarkus/tree/master/extensions : netty-parent, netty runtime and netty deployment
* An integration test under https://github.com/apache/camel-quarkus/tree/master/integration-tests
* Entries to poms/bom/pom.xml and to poms/deployment/pom.xml

Special in this case is that camel-netty-http already depends on camel-netty, so a

[2019-10-14 14:39] #273 closed

[2019-10-14 18:09] dhartford opened #275 "camel-quarkus-integration-test-core -Dnative outofmemory or 137 error"
fresh 2019-10-14 pull from master, project root

./mvnw clean install -Dnative  (non-native is fine)

_focus version (reactor module test):_
./integration-tests/core/test/
mvn clean install -Dnative

uname -a
Darwin C02XC25MJGH6 17.7.0 Darwin Kernel Version 17.7.0: Fri Jul  6 19:54:51 PDT 2018; root:xnu-4570.71.3~2/RELEASE_X86_64 x86_64

docker --version
Docker version 19.03.0-beta3, build c55e026

[2019-10-14 19:03] ppalaga commented on #275
Could you please try running with Maven 3.6.2 (e.g. using `./mvnw`) ?

Otherwise try experimenting with `-Dnative-image.xmx=...` IIRC, the smallest value that used to work for me was `5g` but the more you can give the faster the build.

[2019-10-14 20:28] dhartford commented on #275
Thanks @ppalaga, I'm trying to go as deep as I can so the next person has more to work from --

Scenario 1: no xmx flags, default docker setup:
  - FAIL: above error (out of memory)

Scenario 2: with `-Dnative-image.xmx=5g`, default docker setup:
  - FAIL: Image error 137 (docker error, not a lot to run with)

Scenario 3: with `-Dnative-image.xmx=5g`,modify docker engine **memory limit** to 8g (do

[2019-10-15 13:23] jamesnetherton opened #276 "Add OpenTracing extension"
Since we now have support for health & metrics, it'd be nice to expand this to include tracing.

Unlike the health and metrics extensions, I don't see any specific need to create a dedicated MicroProfile tracing component over at the main Camel project.

I was thinking that we could leverage the Quarkus SmallRye Tracing extension and reuse the `Tracer` instance that it creates to automatically set

[2019-10-15 14:04] lburgazzoli commented on #276
+1

[2019-10-15 14:54] ppalaga commented on #276
+1

[2019-10-16 09:03] lburgazzoli opened #278 "Add minimal extension metadata"
For an example, have a look at:

    https://github.com/quarkusio/quarkus/blob/master/extensions/arc/runtime/src/main/resources/META-INF/quarkus-extension.json

[2019-10-16 17:18] #275 closed

[2019-10-16 17:21] davsclaus commented on #275
Maybe we can have a tip page in the documentation with such details. I am also running into these kind of problems. graalvm is surely more memory hog and now also with docker combined.

[2019-10-17 09:05] #276 closed

[2019-10-17 11:13] basis42 opened #281 "Missing versions/dependancies in rest json example"
Hi all,

as a total newbee to quarkus I'm trying to follow the route described here:
https://camel.apache.org/camel-quarkus/latest/user-guide.html

Unfortunately, I'm running into problems at a relatively early stage. When I change the parent in the pom of the rest json example(as proposed in the above documentation) to:
[code]

the below dependancies can't be resolved:
[code]
Looking into the bom

[2019-10-17 12:22] lburgazzoli commented on #188
Done by https://github.com/apache/camel-quarkus/pull/249

[2019-10-17 12:22] #188 closed

[2019-10-17 16:25] #278 closed

[2019-10-18 12:18] lburgazzoli commented on #207
@ppalaga what should we do with this issue ?

[2019-10-18 12:22] ppalaga opened #285 "Un-negate the names"
We have several config options which start with `disable` as well as some similarly named classes. Using negation in names makes them harder to understand, mainly when get negated once again in an expression like the following.

[code]

I propose to rename all those to something like `quarkus.camel.main-enabled` and refactor all as needed. We should do this before 1.0.0.

Please assign to me.

[2019-10-18 12:27] ppalaga commented on #281
Thanks for the report, @basis42 !

Sorry for that, the docs on https://camel.apache.org updates with the master, while it is written for a release that does not exist yet.

If you do not mind using SNAPSHOTs in your work, you may do the following:

[code]

and proceed with the steps in the guide using the current master SNAPSHOT version instead of 0.2.0 where the `platform-http` component is not a

[2019-10-18 12:38] ppalaga commented on #207
Close

[2019-10-18 12:41] #207 closed

[2019-10-18 14:29] basis42 commented on #281
I'm just fiddling around, so I absolutly can go with a snapshot. Thanks, with skipping the tests on the snapshot it works like a charm!

[2019-10-18 14:29] #281 closed

[2019-10-18 16:01] lburgazzoli opened #288 "master failing"
Master is now failing, probably because of recents additions additon to the camel-main:

[code]

@gnodet do you mind having a look ? if not I can have a look on monday

[2019-10-18 20:21] ppalaga opened #289 "Dev mode does not work on Java 12"
Just got a report over a private channel that this demo https://github.com/ppalaga/camel-quarkus-cnorris-demo does not work on some unspecified Java version that is greater than 8. Asked for details, but do not have a reply yet.

Regardless of this specific issue, we should test regularly on Java 11.

[code]

[2019-10-19 06:58] lburgazzoli commented on #289
note that graalvm does not support java 11 yet

[2019-10-19 07:14] ppalaga commented on #289
Yes, I know. The reported failures were in the JVM mode and perhaps even in the dev mode.

[2019-10-19 09:35] lburgazzoli commented on #288
@gnodet found some time, working on a fix

[2019-10-19 09:36] lburgazzoli opened #290 "Bind discovered routes to registry to leverage RoutesCollector"
We do now add routes to camel main but since the introduction of RoutesCollector we can bind routes to the registry and leverage RoutesCollector

[2019-10-19 11:08] #288 closed

[2019-10-19 20:44] ppalaga commented on #285
This would be easy to do and I am ready to do that. If somebody wants to veto the proposal please do so sooner rather than later so that I do not waste my time.

[2019-10-20 07:46] #262 closed

[2019-10-20 19:41] ppalaga commented on #289
The above stack trace happened with OpenJDK 12. I'll try to reproduce with 11.

[2019-10-20 19:46] ppalaga commented on #289
To put it more clearly: as long as GraalVM is on Java 8, we should run at least the JVM mode tests on Java 11 on the CI.

[2019-10-21 07:20] #290 closed

[2019-10-21 08:00] lburgazzoli opened #292 "Rename xml-common extension to core-xml"
As now users have to explicit add xml-common to get XML support

[2019-10-21 08:32] lburgazzoli opened #293 "Think about consolidating enforcing rules"
As we now have some tooling already in place we should think about consolidating enforcer scripts in a dedicate mojo or enforcer rule

[2019-10-21 10:17] lburgazzoli opened #294 "Add a support/xml artifact for common substrate support"
AWS extension require some xml support but now xml-common brings much more, we should create a support/xml artifact with common bits

[2019-10-21 12:04] jamesnetherton opened #297 "Add observability example"
Thought it'd be good to add a little example project to demonstrate Camel Quarkus observability extensions:

* MicroProfile Health
* MicroProfile Metrics
* OpenTracing

[2019-10-21 13:19] davsclaus commented on #297
James are you by any chance able to do this example this week, before thursday. I am going to give a Camel talk and would like to demo something like this

[2019-10-21 13:29] jamesnetherton commented on #297
I'll try - I'm planning to make it similar to the existing Camel OpenTracing example with simple client / server apps. That should be enough to demo a realistic looking example of tracing.

[2019-10-21 13:33] davsclaus commented on #297
Thanks, and if there are instructions how to use it, together with visual tools like jaeger then that is a great bonus

[2019-10-21 13:51] ppalaga opened #299 "Use Camel's async processor in platform-http"
We currently always add our handler as non-blocking https://github.com/apache/camel-quarkus/blob/master/extensions/platform-http/runtime/src/main/java/org/apache/camel/quarkus/component/platform/http/runtime/QuarkusPlatformHttpConsumer.java#L95-L108

Shouldn't we have an URI parameter for the user to decide whether `io.vertx.ext.web.Route.blockingHandler()` should be called instead of `io.vertx.ex

[2019-10-21 13:54] lburgazzoli commented on #299
Maybe we need to use camel's async processor and always use the non blocking one, something like: https://github.com/apache/camel-k-runtime/blob/master/camel-knative/camel-knative-http/src/main/java/org/apache/camel/component/knative/http/KnativeHttpConsumer.java#L85-L137

[2019-10-21 15:20] ppalaga commented on #299
Plz assign to me.

[2019-10-21 17:21] #292 closed

[2019-10-21 17:21] #294 closed

[2019-10-21 18:48] #285 closed

[2019-10-21 21:12] lburgazzoli opened #302 "Cerate a Camel MongoDB extension"
https://github.com/quarkusio/quarkus/tree/master/extensions/mongodb-client
https://github.com/apache/camel/tree/master/components/camel-mongodb

[2019-10-21 21:13] lburgazzoli opened #303 "Create a Camel Kubernetes extension"
https://github.com/quarkusio/quarkus/tree/master/extensions/kubernetes-client
https://github.com/apache/camel/tree/master/components/camel-kubernetes

[2019-10-21 21:15] lburgazzoli opened #304 "Create a Camel ReactiveStreams extension"
https://github.com/apache/camel/tree/master/components/camel-reactive-streams

[2019-10-21 21:25] lburgazzoli opened #305 "Create a Camel Slack extension"
https://github.com/apache/camel/tree/master/components/camel-slack

[2019-10-21 21:36] lburgazzoli opened #306 "Create a Camel Json Jackson extension"
https://github.com/apache/camel/tree/master/components/camel-jackson
https://github.com/quarkusio/quarkus/tree/master/extensions/jackson

[2019-10-22 08:12] ppalaga opened #308 "Support multipart/form-data in platform-http extension"
I assume we definitely want to support this, for the `platform-http` to be on par with the older HTTP components.

The question is how to implement that. The older components use `AttachmentMessage` from `camel-attachments` to store the uploaded files. `camel-attachments` depends on `javax.activation`.

(a) The "easy" solution: pull `camel-attachments` and `javax.activation` as dependencies, and d

[2019-10-22 09:16] davsclaus opened #309 "examples/rest-json - Needs trailing slash for urls to work"
[code]

[2019-10-22 09:18] davsclaus commented on #309
Ah its the readme file that is mistaken, its just /fruits

[2019-10-22 09:20] #309 closed

[2019-10-22 09:25] davsclaus commented on #220
This is being worked on upstream in Camel 3.0 GA where the http server components will return 204 for empty body (no content)

[2019-10-22 09:25] davsclaus opened #310 "Add more examples"
Especially more beginner examples that has a bit more step by step how to use quarkus and Camel together (with links to more material).

It can even be a simple timer -> log, that users can play with and then do live updates.

[2019-10-22 12:13] lburgazzoli opened #314 "Improve dev mode"
The dev mode now does not add external routes files to the list of files to watch

[2019-10-22 12:24] ppalaga commented on #314
Which external files do you mean?

[2019-10-22 12:26] lburgazzoli commented on #314
Updated the issue, I meant i.e. xml routes

[2019-10-22 13:00] lburgazzoli opened #315 "Upgrade to quarkus 0.26.0"
when it is released

[2019-10-22 13:01] lburgazzoli opened #316 "Upgarde to camel 3.0.0-RC3"
when it gets released, as interim solution we can add staging repo

[2019-10-22 13:10] #297 closed

[2019-10-22 15:46] gnodet opened #318 "Create a Camel VM extension"
[https://github.com/apache/camel/tree/master/components/camel-vm]

[2019-10-22 15:49] #315 closed

[2019-10-22 15:49] #316 closed

[2019-10-22 15:50] ppalaga commented on #308
I implemented the "easy" solution and it adds 560 kB to the master baseline in the platform-http itest.

[2019-10-22 15:52] jamesnetherton opened #319 "Remove MicroProfile Metrics extension workarounds"
Once the version of MicroProfile Metrics API is aligned between Quarkus and Camel, we can remove the [workarounds](https://github.com/apache/camel-quarkus/tree/master/extensions/microprofile-metrics/runtime/src/main/java/org/apache/camel/quarkus/component/microprofile/metrics/runtime/patch) that I had to add in order to maintain compatibility between Camel 3.0.0-RC3 & Quarkus 0.26.

[2019-10-22 18:49] ppalaga opened #322 "Make camel-attachments an optional dependency of platform-http"
Followup of #308

We should try to provide some no-op handling of file uploads by default that does not depend on camel-attachments and javax.activation and handle the uploads properly via camel-attachments (wrapped in an extension) and javax.activation only if the user adds them as deps.

The benefit for the users is that if they do not wish to handle uploads, they can save 560 kB on the native i

[2019-10-22 18:50] ppalaga commented on #322
Plz assign to me.

[2019-10-22 21:01] #308 closed

[2019-10-23 09:03] ppalaga opened #324 "Document the platform-http extension"
Plz. assign to me.

[2019-10-23 14:12] ppalaga opened #326 "platform-http should return 415 for an unaccepted content type"
Found this when adding some tests to platform-http. Will fix later.

Plz. assign to me.

[2019-10-23 15:04] ppalaga commented on #220
Plz. assign to me.

@davsclaus could you plz point me to the tests verifying the requested behavior in Camel (if they exist)?

[2019-10-24 13:26] #314 closed

[2019-10-24 15:13] #322 closed

[2019-10-24 15:13] #324 closed

[2019-10-24 19:21] #305 closed

[2019-10-24 20:59] #306 closed

[2019-10-24 21:04] gnodet opened #332 "Do not use docker to run native tests"

[2019-10-24 21:19] gnodet commented on #332
Fwiw, the issue has been in fixed in 19.2.0.1 (see https://www.graalvm.org/docs/release-notes/19_2/#19201)

[2019-10-24 21:51] #332 closed

[2019-10-24 21:52] lburgazzoli commented on #318
Fixed by https://github.com/apache/camel-quarkus/pull/320

[2019-10-24 21:52] #318 closed

[2019-10-25 13:20] gnodet commented on #293
What about having the camel-quarkus plugin extends the camel `package-maven-plugin` ? That would remove the duplication of the model / helpers code.

On the enforcer rules, which rules are you talking about ? Code formatting and such ? The `buildingtools` stuff in `camel` ?

[2019-10-25 13:24] oscerd commented on #293
I think it would makes sense to extend the package-maven-plugin from Camel.

For the enforcing, yeah, I think we are talking about formatting. I think it's not crucial, but if it creates problems when we find some warnings about formatting we can also think about autoformatting the code.

On Camel we avoid this.

[2019-10-25 13:33] lburgazzoli commented on #293
About enforcing rules I was thinking about the groovy scripts we now have to enforce

- the presence of some content in the extension metadata
- the fact that dependencies declaration should not include the artifact version

As we are using maven and we already have a maven plugin I think it could make sense to consolidate such features in a plugin

[2019-10-25 13:34] oscerd commented on #293
You weren't clear :-D

[2019-10-25 13:36] lburgazzoli commented on #293
As usual :)

[2019-10-25 13:47] gnodet opened #336 "Make the maven plugin depend on the camel package-maven-plugin"
And remove duplicate code around model objects / helpers, etc...

[2019-10-25 13:48] gnodet opened #337 "Experiment with the code formatter plugin https://code.revelc.net/formatter-maven-plugin/"

[2019-10-25 13:48] gnodet commented on #293
Raised #336 and #337

[2019-10-25 13:50] ppalaga commented on #337
It needs Eclipse formatter settings XML file. What would be your strategy to get one? I started using the one from the main Camel repo and it seems to be quite distant from what we currently have in the camel-quarkus repo.

[2019-10-25 13:53] ppalaga commented on #336
I am far from knowing all the details, but wouldn't it be even better to port the features we need here to Camel main and remove the plugin altogether from here?

[2019-10-25 14:03] ppalaga commented on #293
Could you please name some benefits, that would eventually outweight the longer build times, a bit more code to maintain and the migration effort?

I am not against Maven plugins in general, I like writing them and I actively maintain some. I just fail to see the benefits of this pattern of having a plugin inside the repo that is used only inside the same repo given that there are cheaper alternat

[2019-10-25 14:07] oscerd commented on #293
What are the advantage of an ad hoc groovy instead?

[2019-10-25 14:10] ppalaga commented on #337
impsort-maven-plugin would be also nice for sorting the imports.

https://code.revelc.net/impsort-maven-plugin/

[2019-10-25 14:15] ppalaga commented on #293
* Less code (no extra maven module), less dependencies
* Faster build times (no need to clean, compile, package, install, ... the jar)
* Groovy is more flexible for some tasks, such as json and XML processing

[2019-10-25 14:15] lburgazzoli commented on #337
would it be possible to share the same rules with the IDE ? IMH formatting tools to be effective need to be usable straight from the IDE

[2019-10-25 14:25] ppalaga commented on #337
The formatter-maven-plugin uses Eclipse JDT under the hood, so it's config file can be directly used in Eclipse. For IntelliJ, IIRC, in the Quarkus ML people mentioned that there is am IJ plugin that supports the Eclipse formatting files.

No idea whether there is some solution for the impsort-maven-plugin. I'd personally would not care, because the imports ordering is quite easy to setup in the I

[2019-10-25 14:28] jamesnetherton opened #338 "Create a Camel SnakeYAML extension"
https://github.com/apache/camel/tree/master/components/camel-snakeyaml

[2019-10-25 14:29] oscerd commented on #293
I still believe, since we use maven, a maven plugin is the correct solution.

[2019-10-25 14:33] oscerd commented on #293
I mean, to me an ad-hoc groovy is an hacky solution in this context. I vote for the maven plugin for this.

[2019-10-25 14:40] lburgazzoli commented on #293
The scripts are good for quick fix but as long term solution a plugin feels more appropriate.

One of the problem I had with scripts in the past was that some scripts were applied according to the name of the artifact or based of a presence of a file and that logic is embedded into the script instead of being declarative through XML and I spent quite a few time finding out the reason of my build n

[2019-10-25 15:27] ppalaga commented on #293
Thanks for explaining why you believe that the plugin solution is better.

I think the property of being poorly written is not inherent to groovy scripts. It is rather a mistake of some particular author (maybe me). I dare to say that the same kind of mistake can happen when writing a plugin.

I see that there is a clear majority for migrating the checks to plugin mojos and I am not going to force

[2019-10-25 15:40] oscerd commented on #293
A groovy script in a maven project for doing what a plugin can already do is just forced.. it seems to me this is just a matter of taste..

[2019-10-25 18:47] dhartford commented on #248
Pre-review request - I've started doing the integration tests directly with Socket code, which feels incorrect, but I didn't want to burden with unnecessary test dependencies/libraries.

Is there a recommendation/preference from the team of how to do TCP testing (whereas RestAssured is currently the preferred HTTP testing framework)?

https://github.com/dhartford/camel-quarkus/blob/camel-quarkus-n

[2019-10-25 19:39] gnodet commented on #336
Sure, that can be investigated.  I haven't really checked how the model is used, but I don't think Camel should be tied to any Camel Quarkus concept, else it will be hard to maintain.
However, reusable code should stay in Camel, I agree.
Basically, we should keep the 2 mojos because they are specific to camel-quarkus and reuse the helpers and model classes from the camel plugin.  So we'd be left w

[2019-10-25 19:48] ppalaga commented on #248
I'd be fine with using a `java.net.Socket` directly, but I am not the highest instance here. WDYT, @lburgazzoli and others?

[2019-10-27 17:22] #326 closed

[2019-10-28 12:18] shoaibjdev commented on #281
Hi,
Seems there is still some mismatch with BOM and dependencies.
Getting error:

`Could not find artifact org.apache.camel.quarkus:camel-quarkus-bom:pom:0.3.1-SNAPSHOT`

[2019-10-28 16:27] aldettinger opened #341 "Create a Camel pdf component extension"

[2019-10-29 07:18] ppalaga commented on #281
@shoaibjdev this issue has been closed. If your problem persists, please file a new issue with proper steps to reproduce. The bottom line is that Camel Quarkus 0.3.0 should be released these days (will be announced via https://twitter.com/ApacheCamel and dev@camel.apache.org ) and using SNAPSHOT will thus not be necessary anymore.

[2019-10-29 09:42] ppalaga commented on #183
The Camel page on quarkus.io is online since a couple of weeks  https://quarkus.io/guides/camel

This issue can be closed.

[2019-10-29 09:43] #183 closed

[2019-10-29 10:30] lburgazzoli opened #346 "Update to quarkus 0.27.0 when available"
Some relevant PR/issues on quarkus side:

https://github.com/quarkusio/quarkus/pull/4907
https://github.com/quarkusio/quarkus/issues/4704

About j2ee to jakarta:

    org.jboss.spec.javax.servlet:jboss-servlet-api_4.0_spec:jar --> jakarta.security.jacc:jakarta.security.jacc-api
    org.jboss.spec.javax.security.jacc:jboss-jacc-api_1.5_spec:jar -->  jakarta.servlet:jakarta.servlet-api

[2019-10-29 10:34] lburgazzoli opened #347 "Add category to extension descriptors"
category is `integration`

for an example: https://github.com/quarkusio/quarkus/blob/master/extensions/kogito/runtime/src/main/resources/META-INF/quarkus-extension.yaml#L9-L10

may depend son #344

[2019-10-29 10:38] lburgazzoli commented on #347
it may replace the `integration` lavbel

[2019-10-29 11:10] #341 closed

[2019-10-29 21:15] dhartford commented on #248
I'll keep moving forward with Socket, thanks for the double-check.  I simulated the Poem test from the original camel-netty tests and is working fine with normal java, but failing in native with this. I'm still tracking it down, just sharing status update or if this is an issue previously experienced in other camel projects:

`org.apache.camel.ResolveEndpointFailedException: Failed to resolve endp

[2019-10-29 21:41] lburgazzoli commented on #248
using sockets is fine but you can use netty too (i.e. to resuse some pre-defined handers/codecs.

about the exception in native mode is usually because of a reflective access to a class so you need to add it to the reflective class list

[2019-10-29 22:08] #270 closed

[2019-10-30 10:47] #220 closed

[2019-10-30 10:47] #299 closed

[2019-10-30 10:55] ppalaga commented on #136
I have primitive PoC how this could work.

Plz. assign to me.

[2019-10-30 11:37] ppalaga opened #352 "Re-enable the FHIR tests once the FHIR testing service is back again"
Set `quarkus.camel.fhir.enable-dstu3=true` in https://github.com/apache/camel-quarkus/blob/master/integration-tests/fhir/src/main/resources/application.properties#L29

and
[code]
in  https://github.com/apache/camel-quarkus/blob/master/integration-tests/fhir/pom.xml#L81-L82

[2019-10-30 12:12] #346 closed

[2019-10-30 14:43] dhartford commented on #248
Alright, native tests pass, adding the the reflective classes with an additional dependency camel-endpointdsl was the solution.

[2019-10-30 19:09] ppalaga opened #354 "Update contributor guide: s/json/yaml/, extension adoc page"
Plz assign to me.

[2019-10-31 07:49] ppalaga opened #356 "Issues in the List of extensions"
The list of extensions: https://camel.apache.org/camel-quarkus/latest/list-of-camel-quarkus-extensions.html

* Some entries have bad Since version. The plugin should not assume 0.2 as a default. I think it should rather fail if `<firstVersion>` is not set for the given extension.
* The description of camel-quarkus-attachments and camel-quarkus-core-xml `Maven plugins configuration` is apparently i

[2019-10-31 11:53] ppalaga opened #357 "Make netty-http dependent on netty and remove the duplications"
There will be some duplications between netty and netty-http components once https://github.com/apache/camel-quarkus/pull/353 gets merged. In a follow up step, we should make netty-http dependent on netty and remove the dups.

We should also document in the netty.adoc that the native transport is not supported in the native mode.

[2019-10-31 17:39] lburgazzoli opened #360 "Add description to extension matedata"
The extension metadata yaml file lacks description of the extension.
If not provided the quarkus tooling take it from the description of the runtime pom

[2019-10-31 20:59] #354 closed

[2019-11-01 07:33] ppalaga commented on #357
Plz. assign to me

[2019-11-01 07:42] ppalaga commented on #248
This can be closed.

[2019-11-01 07:44] ppalaga commented on #248
And once again, @dhartford, many thanks for the contribution!

[2019-11-01 07:46] #248 closed

[2019-11-01 07:59] ppalaga commented on #352
@johnpoth I wonder whether it is exceptional that the FHIR testing service is down?

In case it is rather normal that it is unstable, we should perhaps try to rewrite the test so that it runs only if an initial ping to the service succeeds.

[2019-11-01 11:15] ppalaga opened #364 "User guide improvements"
Proposed by our fresh contributor @dhartford in https://github.com/apache/camel-quarkus/pull/355#issuecomment-548427942

[2019-11-01 15:50] #357 closed

[2019-11-03 10:14] lburgazzoli commented on #347
Done with https://github.com/apache/camel-quarkus/pull/350

[2019-11-03 10:14] #347 closed

[2019-11-03 10:21] lburgazzoli commented on #352
May be better to use something like:

    https://hapifhir.io/doc_server_tester.html

[2019-11-03 12:31] #360 closed

[2019-11-03 12:49] lburgazzoli commented on #143
@zhfeng I' not very sure about the need of wait for https://github.com/quarkusio/quarkus/issues/3436 as camel-jms uses quite a log of Spring API so it may work investigating what alternative options we do have.

maybe we can do something similar to camel-sjms but for the amqp protocol.

[2019-11-03 21:28] lburgazzoli commented on #289
We have not a GitHub Action that builds the project in JVM mode against Java 11

[2019-11-04 01:12] zhfeng commented on #143
OK, I will take a look at the camel-sjms

[2019-11-04 08:26] ppalaga commented on #289
Because the CI is apparently passing on Java 11, let's narrow the scope of this issue to the originally reported problem.

[2019-11-04 08:50] johnpoth commented on #352
Hi @ppalaga @lburgazzoli

As @lburgazzoli pointed out, the goal would be to use our own FHIR server when testing which has been on my TODO list for quite some time (needed in Camel too).

Ideally we would be using the server here https://github.com/hapifhir/hapi-fhir-jpaserver-starter. It would be cool to automatically find an unused port rather than a hard coded one.

I think we can disable the t

[2019-11-04 13:16] gastaldi opened #372 "Upgrade to Quarkus 0.28.1"
Right now simply bumping the version in the platform BOM in https://github.com/quarkusio/quarkus-platform fails on the `MicroProfileMetricsTest`:

[code]

[2019-11-04 13:48] gnodet commented on #372
@gastaldi are you sure this isn't a transient issue ? the tests do run fine for me with #373

[2019-11-04 13:55] gastaldi commented on #372
@gnodet it looks like it. The tests run fine for me too when bumping the quarkus version in this repository, but fails in the https://github.com/quarkusio/quarkus-platform/tree/0.28 (which in theory should be the same)?

[2019-11-04 17:33] gastaldi commented on #372
This is the stacktrace seen in quarkus-platform:

[code]

[2019-11-04 19:36] #372 closed

[2019-11-05 08:03] #336 closed

[2019-11-05 09:16] gnodet opened #376 "Avoid usage of the remote-resource-plugin and prefer local LICENSE / NOTICE files"

[2019-11-05 09:30] #376 closed

[2019-11-05 10:33] #337 closed

[2019-11-06 08:54] #190 closed

[2019-11-06 08:54] lburgazzoli commented on #190
![image](https://user-images.githubusercontent.com/1868933/68283241-7c9f1800-007b-11ea-96e2-df0dda96e750.png)

[2019-11-06 10:58] wuilmeryair opened #379 "Using custom camel componet into quarkus-camel"
I have a custom component that I want to use in camel-quarkus, how should I convert this component?

[2019-11-06 11:06] lburgazzoli commented on #379
In JVM mode your component should work out of the box but if you want to take advantages, you may think creating an extension.

If you plan to contribute it to apache-camel and then add the related extension here, please have a look at: https://camel.apache.org/camel-quarkus/latest/contributor-guide.html or have a look at the extensions we provides in this repo.

[2019-11-08 11:23] davsclaus opened #382 "Support path parameters in platform-http"
I wonder if its in the rest-platform that we dont support rest-dsl with path placeholders

[code]

You can then not do localhost:8080/camel/123

This works in regular Camel

[2019-11-08 11:27] davsclaus opened #383 "rest-dsl - Integrate with quarkus-openapi"
If you create camel rest-dsl routes then we should have a way of integrating with quarkus openapi extension.

So when you do an /openapi then it can also include the camel rest-dsl services

[2019-11-08 11:27] davsclaus commented on #383
We may need to create a camel-openapi component that supports spec v3
https://issues.apache.org/jira/browse/CAMEL-12619

[2019-11-08 11:35] davsclaus opened #384 "camel-quarkus-microprofile-metrics - Does not work"
If you add metrics to a quarkus add then you get this error when calling

localhost:8080/metrics

    <div id="reversed-stacktrace" class="trace hidden">
<p><em>The stacktrace below has been reversed to show the root cause first. <a href="" onClick="toggleStackTraceOrder(); return false;">Click Here</a> to see the original stacktrace</em></p>        <pre>java.lang.AbstractMethodError: org.apache.c

[2019-11-08 11:37] davsclaus commented on #384
Okay looks like that class should be removed
https://github.com/apache/camel-quarkus/blob/master/extensions/microprofile-metrics/runtime/src/main/java/org/apache/camel/quarkus/component/microprofile/metrics/runtime/patch/CamelQuarkusAtomicIntegerGauge.java

i am using quarkus 1.0RC1 and Camel 3.0.0-RC3

[2019-11-08 11:44] ppalaga commented on #382
This probably needs to get fixed in `QuarkusPlatformHttpConsumer`. I remember I ignored the path params because I had no idea how to use them from Camel.

[2019-11-08 11:45] davsclaus opened #385 "ControlBus extension"

[2019-11-08 11:51] davsclaus opened #386 "@Inject CamelContext on RouteBuilder seems not working"
[code]

This prints null

[2019-11-08 11:55] lburgazzoli commented on #386
this is probably because it is loaded by classpath scanning thus it bay pass arc. We should have a way to distinguish between auto discovered routes from classpath and ‘runtime routes’.

[2019-11-08 11:59] lburgazzoli commented on #386
remember the discussion about adding a custom annotation or leveraging BindToRegistry

[2019-11-08 12:00] davsclaus commented on #386
Argh yeah this rings a bell.

[2019-11-08 12:10] davsclaus commented on #386
See PR
https://github.com/apache/camel-quarkus/pull/358

[2019-11-08 12:39] ppalaga commented on #386
Yes, there are issues with `@Inject` in RouteBuilder. But if you only need the CamelContext, you can call getContext() from `configure()`.

[2019-11-08 13:02] ppalaga commented on #382
I can fix this at some point unless somebody is faster than me.

[2019-11-08 13:10] ppalaga commented on #382
Could you please rename this issue to e.g. "Support path parameters in platform-http"?

[2019-11-08 14:40] #385 closed

[2019-11-08 21:32] davsclaus commented on #384
See ticket #319

[2019-11-08 21:32] #384 closed

[2019-11-08 21:33] davsclaus commented on #386
See ticket #136

[2019-11-08 21:33] #386 closed

[2019-11-11 08:38] lburgazzoli opened #389 "[code formatter] multi line TODOs are not supported"
Assuming I have a TODO like:

[code]

This is then re-formatted as:

[code]

Which loses IDE support

[2019-11-11 09:04] ppalaga commented on #389
In Quarkus it works the way you describe and they have the following two settings that might be what we are missing:

[code]

[2019-11-11 10:18] ploef opened #391 "camel-validator component"
Hi,

I'm converting some of my Spring Boot services to Quarkus and see that the camel-validation-component is missing. I will try to create an extension for it.

[2019-11-11 10:24] ppalaga commented on #391
Nice to hear that! Do not hesitate to ask here if you have specific questions. You might want to check https://camel.apache.org/camel-quarkus/latest/contributor-guide.html

[2019-11-11 10:27] davsclaus commented on #391
Just mind you may need to add the new extensions to some pom files in the poms folder. The create extension tool dont get around doing all that 100%.

[2019-11-11 12:42] #338 closed

[2019-11-11 16:00] #389 closed

[2019-11-11 18:19] ploef commented on #391
Thanks for the tip! I already managed to get it working locally.

[2019-11-11 18:49] ploef commented on #391
Hmmm, the checks after the pull requests keep turning red. Locally everything seems fine. Code builds ok and tests are green. It looks like the dependency for camel-quarkus-support-xml is missing but it should be there.

[2019-11-11 19:34] lburgazzoli commented on #391
It fails on JDK 11 because the class `com.sun.org.apache.xerces.internal.impl.dv.xs` is probably hidden in a module

[2019-11-12 05:21] lburgazzoli opened #396 "Add an option to filter auto-discovered routes"
camel-main has its own mechanism to include/exclude routes but this happen at runtime, we should implement a similar mechanism for build time discovery

[2019-11-12 09:25] jamesnetherton opened #398 "Create a Camel File extension"
https://camel.apache.org/components/latest/file-component.html

[2019-11-12 11:42] #398 closed

[2019-11-12 19:14] davsclaus commented on #391
Thanks for the work, you are welcome to work on more extensions.

[2019-11-12 19:14] #391 closed

[2019-11-12 19:21] davsclaus opened #403 "Add scheduler extension"

[2019-11-12 20:30] #136 closed

[2019-11-12 22:33] #403 closed

[2019-11-13 05:49] davsclaus opened #406 "xslt extension"

[2019-11-13 06:25] ploef commented on #391
Thanks. There was a little research involved so I hope everything is ok. :-D

[2019-11-13 07:07] davsclaus opened #408 "dataformat extension"

[2019-11-13 07:43] ppalaga commented on #391
Thanks from my side too.

Is there anything we should improve to make contributions like yours easier? There is https://github.com/apache/camel-quarkus/issues/364 open for the improvements in the contributor guide.

[2019-11-13 08:00] #406 closed

[2019-11-13 08:22] #408 closed

[2019-11-13 08:38] jamesnetherton opened #410 "OGNL language support"
https://camel.apache.org/components/latest/ognl-language.html

[2019-11-13 08:39] lburgazzoli commented on #382
@ppalaga any chance you can look at this before we cut the next release ?

[2019-11-13 09:45] jamesnetherton commented on #410
This isn't so easy to get working in native mode. I forgot the ognl library relies heavily on javassist :disappointed:

[2019-11-13 09:51] davsclaus commented on #410
I guess its the same with camel-groovy ?

[2019-11-13 09:53] lburgazzoli commented on #410
plus you need to register your business classes for reflection

[2019-11-13 10:01] ppalaga commented on #382
Yes, I can start looking today :)

[2019-11-13 10:07] lburgazzoli commented on #396
Done by https://github.com/apache/camel-quarkus/pull/402

[2019-11-13 10:07] #396 closed

[2019-11-13 10:37] davsclaus opened #411 "bean-validator extension"

[2019-11-13 10:40] lburgazzoli opened #413 "Provide aggregated tests for quarkus-platform"
The quarkus-platform now [includes](https://github.com/quarkusio/quarkus-platform/tree/master/integration-tests) the same tests as we have here but it does not seems very sustainable in term of maintenance and resources required to validate the quarkus-platform.

We should create some aggregated test that validates multiple components in a single test

[2019-11-13 10:58] ppalaga commented on #413
I was also thinking of how the platform can maintain our tests in the long term. My idea was to produce some metadata on our side (basically a list of our itest project GAVs) that the platform could leverage to generate/validate the modules in their source tree. I was thinking of adding a mojo to rpkgtests-maven-plugin to implement that.

The rpkgtests:rpkgtests mojo could also use the metadata so

[2019-11-13 11:40] ppalaga opened #415 "Document that beans managed by Arc are not instantiated from a static initializer"
This is a consequence of fixing #136.

[2019-11-13 11:49] ppalaga opened #416 "Use @Inject in the timer-log-cdi example"
Something like

https://github.com/apache/camel-quarkus/pull/414/files#diff-70947e013e34b90d7847cf8c45be5425R27

and

https://github.com/apache/camel-quarkus/blob/master/integration-tests/bean/src/main/java/org/apache/camel/quarkus/component/bean/Counter.java#L23-L34

[2019-11-13 13:05] jamesnetherton opened #417 "Create a Camel exec extension"

[2019-11-13 13:17] lburgazzoli opened #419 "xslt extension not building in native mode"
[code]

[2019-11-13 13:17] lburgazzoli commented on #419
working on a sustitution

[2019-11-13 18:39] #382 closed

[2019-11-13 22:25] ppalaga commented on #356
Plz. assign to me.

[2019-11-14 04:43] davsclaus commented on #356
Misc category are correct, this should be for extensions that are NOT a
- regular Camel component
- regular Camel data format
- regular Camel language

In other words, all the other / misc stuff

[2019-11-14 06:47] davsclaus commented on #419
Created a ticket to make the camel-xslt simpler
https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-14176

[2019-11-14 15:41] #417 closed

[2019-11-14 18:09] #419 closed

[2019-11-14 20:25] jsight opened #424 "Add support for camel-activemq"
These are heavily used in integrations.

[2019-11-15 04:43] #356 closed

[2019-11-15 04:44] davsclaus opened #426 "camel-json-path extension"

[2019-11-15 08:34] lburgazzoli opened #427 "xslt extension not working on java 11"
It appears that Java 11 introduces some changes to the underlying xslt engine that breaks how attributes are handled, in particular is is not possible to properly set the package name or the class name of the generated code as they get messed up

[2019-11-15 08:58] ppalaga opened #428 "XSLT extension does not work with file: URIs"
I just tried to extend the XsltTest with a `file:` use case and it fails. Let me try to fix it.

[2019-11-15 09:04] lburgazzoli commented on #428
Not very sure if it make sense as the file need to be compiled at build time so it may be better to require the file to be available as  classpath thing so it does not change between the build phase and the runtime execution fo the app

[2019-11-15 10:03] ppalaga commented on #428
I have a fix. It does not work for any URI that contains slashes. Has to do with how we produce the translet name.

Yes, the limitation is there for any kind of URI. We state in the docs that the resources have to be available at build time, but we should perhaps make it even more explicit saying that they are compiled at build time and fully ignored at runtime.

If we document it properly, I see

[2019-11-15 10:42] davsclaus opened #429 "camel-hystrix extension"
Even though quarkus has microprofile fault tolerance, then its based on hystrix. So we should add camel-hystrix as extension which we hopefully can get to native compilation too.

[2019-11-15 13:19] ppalaga commented on #428
Ah, indeed, I can see it now. My understanding is that runtime XSLT loading cannot work because it requires a class to get loaded. If this is really the case, accessing the XSLT source at runtime could be seen as a bug, shouldn't it? I mean that could be fixed easily by downloading and embedding the content of every source URI at build time.

[2019-11-15 13:26] lburgazzoli commented on #428
Yes, what I think is that we should enhance the component to let us filter what protocols we support so in quarkus we'll support classpath only, then about compiling the source yes, it can be everywhere and embedded in the resulting image but I do not know if it is something that depends on us or is a developer task

[2019-11-15 17:30] #411 closed

[2019-11-17 11:08] lburgazzoli opened #433 "Consolidate microprofile integration tests"

[2019-11-18 08:11] #433 closed

[2019-11-18 09:04] #142 closed

[2019-11-18 11:23] lburgazzoli commented on #352
@johnpoth had any time to work on this ?

[2019-11-18 13:03] jamesnetherton opened #435 "Create a Camel Dozer extension"

[2019-11-18 14:29] johnpoth commented on #352
@lburgazzoli I barely started and got pulled on something else ... should be okay this week :+1:

[2019-11-19 07:24] #427 closed

[2019-11-19 07:50] ppalaga opened #438 "Do not include the source XSLT files into the application archive"
We compile the XSL template files into translets at build time so there is no point in having them in the archive. Let's exclude them once Quarkus provides means for that. Blocked by https://github.com/quarkusio/quarkus/issues/5576

[2019-11-19 07:54] lburgazzoli commented on #438
I remember either the xls engine or camel try to access the file when the route starts, it is not more the case ?

[2019-11-19 07:59] ppalaga commented on #438
That's solved in the upcoming fix for #428

[2019-11-19 08:03] lburgazzoli commented on #438
so I think you only need to remove the build item that includes the xslt in the final native image

[2019-11-19 08:08] ppalaga opened #439 "Get the basedir reliably"
A followup of https://github.com/apache/camel-quarkus/pull/440 :
In XsltProcessor we guess the basedir via ArchiveRootBuildItem..getArchiveRoot().getParent().getParent() which works for Maven, but would probably fail for Gradle and other build systems. Let's see if we can get this from Quarkus. Blocked by https://github.com/quarkusio/quarkus/issues/5578

[2019-11-19 08:18] ppalaga commented on #438
+1, The current issue was rather meant for the JVM mode.

[2019-11-19 09:08] ppalaga commented on #438
@lburgazzoli via chat:

[2019-11-19 09:18] ppalaga opened #441 "Avoid subclassing the upstream XsltComponent"
We should make the upstream component lookup the URI resolver from the registry and add some sort of a pluggable TransformerFactoryConfigurationStrategy that would do the translet name setting now done in `org.apache.camel.quarkus.component.xslt.CamelXsltRecorder.QuarkusXsltComponent.configureEndpoint(XsltEndpoint, String, Map<String, Object>)`

[2019-11-19 11:15] #428 closed

[2019-11-19 13:36] #435 closed

[2019-11-19 15:55] ppalaga commented on #439
This Quarkus PR https://github.com/quarkusio/quarkus/pull/5478 adds the necessary `ModuleDirBuildItem`

[2019-11-19 16:05] #16 closed

[2019-11-20 10:03] lburgazzoli opened #444 "Ugly re-formatted code"
What I wrote:

![image](https://user-images.githubusercontent.com/1868933/69228844-9f095900-0b84-11ea-90f8-1eb51b33e4d5.png)

The same code after the auto formatter plugin kicks in:

![image](https://user-images.githubusercontent.com/1868933/69228676-48038400-0b84-11ea-969e-00cf0e265e59.png)

I know that I can add `CHECKSTYLE:OFF|ON` but it would be nice if we can check if there are any better cod

[2019-11-20 11:18] ppalaga commented on #444
Adding a newline before the `post()` statement would perhaps improve the readability of the formatted result.

For the record: This is not a problem for me.

[2019-11-20 15:28] aldettinger commented on #426
I will have a try with this one. If anybody is already working on it, please report.

[2019-11-20 16:22] #17 closed

[2019-11-20 21:07] #429 closed

[2019-11-20 22:18] ppalaga commented on #80
Is this issue still occurring?

[2019-11-20 22:19] ppalaga opened #453 "Move the platform-http component to Camel"
Plz. assign to me.

[2019-11-21 00:25] peteroyle opened #454 "camel-quarkus-netty-http failing to boot"
Hi,

I upgraded from Quarkus 1.0.0.CR1 to 1.0.0.CR2 and got the error below. By removing dependencies from the pom.xml I narrowed it down to camel-quarkus-netty-http. I then reproduced it by generating a fresh Quarkus project via https://code.quarkus.io and choosing just:

[x] RESTEasy JAX-RS
[x] Camel Quarkus Netty HTTP

Output of ./mvnw clean install on that fresh project (on MacOS 10.15.1, Java

[2019-11-21 07:09] ppalaga commented on #454
Thanks for the record, let me try to reproduce.

[2019-11-21 07:16] ppalaga commented on #454
Yes, I can reproduce.

As a workaround, you can downgrade to quarkus 1.0.0.CR1 by changing the following props in your pom.xml:

[code]

[2019-11-21 07:27] lburgazzoli commented on #439
This relates to https://github.com/apache/camel-quarkus/pull/451 so not something that is in the code-base. We should avoid opening issues on code not in master as it is misleading.

[2019-11-21 07:28] lburgazzoli commented on #379
@wuilmeryair can we close this issue ?

[2019-11-21 07:29] lburgazzoli commented on #80
This should be solved when quarkus moves to GraalVM 19.3

[2019-11-21 07:29] ppalaga commented on #454
Observations:

* The `EventLoopSupplierBuildItem` is made final in Quarkus 1.0.0.CR2 while it is still broken in CR1.
* The Universe BOM pulls camel-quarkus-netty 0.4.0 which depends on  quarkus-netty 1.0.0.CR1 - that's how the bad version comes into the play.
* The Maven compile class path of the reproducer project contains the correct quarkus-netty version 1.0.0.CR2

So I guess it is probably th

[2019-11-21 07:48] ppalaga commented on #454
quarkus-maven-plugin probably relies on quarkus-universe-bom-deployment and the root cause seems to be there: it imports camel-quarkus-parent instead of camel-quarkus-bom-deployment
https://github.com/quarkusio/quarkus-platform/blob/1.0.0.CR2/bom/deployment/pom.xml#L40
Let me ask the universe guys about that.

[2019-11-21 10:24] ppalaga commented on #439
I admit I created this issue before the underlying code was merged although it does not relate to #451. It relates to #440 (as stated in the first post) that was merged 2 days ago. I did that because I wanted to paste the URL of this issue directly to #440 https://github.com/apache/camel-quarkus/pull/440/files#diff-acae606a994acbe2ecb513085c1b01e5R93 But OK, can avoid creating followup issues prem

[2019-11-21 10:28] ppalaga commented on #439
So we won't get a baseDir BuildItem from quarkus because

As consequence of that we agreed with @lburgazzoli to stop supporting all but classpath XSLT URIs. Let me file a separate issue for that.

[2019-11-21 10:28] #439 closed

[2019-11-21 10:30] ppalaga opened #455 "Support only classpath: XSLT URIs"
This is a consequence of https://github.com/apache/camel-quarkus/issues/439#issuecomment-557021163

[2019-11-21 11:11] #416 closed

[2019-11-21 11:11] #415 closed

[2019-11-21 11:23] lburgazzoli opened #457 "Provide test facilities"
In camel, we have camel-test-junit5 to help writing tests, we should provide similar facilities to test quarkus based integration

[2019-11-21 14:06] #455 closed

[2019-11-21 14:52] wuilmeryair commented on #379
Yes this issue can be closed

Regards.

El jue., 21 nov. 2019 a las 8:28, Luca Burgazzoli (<notifications@github.com>)
escribió:

[2019-11-21 14:52] #379 closed

[2019-11-22 13:55] jamesnetherton opened #463 "Create a Camel FTP extension"

[2019-11-23 07:54] davsclaus opened #465 "Improve extension summary so they have more details in the code.quarkus.io"
for example if you want mqtt, you cannot find camel-paho which supports mqtt using the eclipse paho library.

[2019-11-23 10:42] davsclaus opened #466 "Remove javadoc @code and other oldfashioned styles"
This makes little sense and today we want more basic javadoc as it works better for tooling such as in vscode etc.

eg notice the @code in the tooltip

![Screenshot 2019-11-23 at 11 41 49](https://user-images.githubusercontent.com/477100/69477414-5cdf5200-0de6-11ea-8c5d-f76e82594ef7.png)

[2019-11-24 19:22] ppalaga commented on #466
@angelozerr where should we file an issue for this? Or is it maybe a known problem?

[2019-11-25 06:21] angelozerr commented on #466
IMHO I think javadoc should keep @code and it's the goal of the component which consumes this javadoc to replace code. Indeed for vscode sample, it should replace @code with links.

Please create an issue at https://github.com/redhat-developer/vscode-quarkus/issues for vscode quarkus

[2019-11-25 08:07] ppalaga commented on #466
@angelozerr thanks, created https://github.com/redhat-developer/vscode-quarkus/issues/162

[2019-11-25 08:57] bframke opened #467 "Problem: Classes that should be initialized at run time got initialized during image building"
What we are trying to do is sending Messages between IBM MQ and ActiveMQ Artemis. Therefore we use an selfmade Quarkus IBM MQ Extension and a selfmade Camel-JMS Extension. When we started the project there was no JMS support for Camel-Quarkus.

We currently face a problem with our Camel Extension. We tried to update it to a newer version to Camel 0.4.0, Graal 19.3.0 and Quarkus 1.0.0.CR2. But we r

[2019-11-25 09:00] lburgazzoli commented on #467
Graal 19.3.0 is not yet officially supported by quarkus so as first step I'd recommend to stick with 19.2.x.

[2019-11-25 09:35] bframke commented on #467
Okay, the extension camel-quarkus-sjms is not released anywhere I look. Tried it via maven search and some googleing only to end up in the readme which tells me, it does exist.

[2019-11-25 09:38] lburgazzoli commented on #467
It is not yet available in a release but you can use it from [Apache Snapshots Repo](https://repository.apache.org/content/repositories/snapshots/org/apache/camel/quarkus/camel-quarkus-sjms) or build it from source.

It will be available in the next Camel Quarkus release

[2019-11-25 09:41] bframke commented on #467
Ah okay, currently building it for our snapshot repo. I will test it out and let you know if the problem above still appears or not.

[2019-11-25 09:44] lburgazzoli commented on #467
There's a small integration test [here](https://github.com/apache/camel-quarkus/tree/master/integration-tests/sjms) which is far to be completed but can at least give you some hints about the dependencies and set-up

[2019-11-25 10:34] bframke commented on #467
No changes here. Used SJMS and Graal 19.2.1

[code]

[2019-11-25 10:37] lburgazzoli commented on #467
can you share the example or part of it ? netty substitutions should be provided by one of the extensions

[2019-11-25 11:12] bframke commented on #467
Not sure, what you exactly mean. But our project setup is just a "normal" java project with quarkus at its core and camel-quarkus plus camel-quarkus-sjms and quarkus-ibmmq.
`
ibmmqVersion=0.1
quarkusVersion=1.0.0.CR2
camelVersion=0.4.1-SNAPSHOT
`
[code]
I could try to give you a variation of the project, but the quarkus-ibmmq extension is not shared for other in the internet.

[2019-11-25 11:13] jamesnetherton opened #468 "Native SSL support does not work on ASF Jenkins CI"
Fails on Jenkins due to the error below. I tired various things to work around it without success. I tried in a variety of other environments and it seems to work fine.

Worth mentioning that we'd hit the same issue with other extensions that require native SSL. E.g Twitter & AWS, but those itests are not run on Jenkins CI since they require credentials.

[code]

[2019-11-25 11:22] lburgazzoli commented on #467
Thre's a quarkus-artemis-jms extension available, can you add it to your project ? it should alsoe bring netty substitutions

[2019-11-25 11:30] lburgazzoli opened #469 "Upgrade to camel 3.0.0"
We can use staging repo till the release is out:

    https://repository.apache.org/content/repositories/orgapachecamel-1164/

[2019-11-25 11:30] lburgazzoli opened #470 "Upgrade to quarkus 1.0.0.Final"

[2019-11-25 11:47] bframke commented on #467
Added the Extension and now it builds correctly. Also removed removed the artemis-jms-client.

thanks for the help

[2019-11-25 12:37] bframke commented on #467
Now when I try to start it I get this error:  Cannot auto create component: jms

Which I normally only got, when there was no jms known to camel. Same happens to sjms.

[2019-11-25 12:45] lburgazzoli commented on #467
Looks like the connection factory is misconfigured, but hard to guess why without a reproducer.
how did you configure the connection factory ?

[2019-11-25 12:47] bframke commented on #467
They are configured via application.properties.

[code]

[2019-11-25 12:52] lburgazzoli commented on #467
This is how the it is set-up in our tests: https://github.com/apache/camel-quarkus/blob/master/integration-tests/sjms/src/main/resources/application.properties#L29

It is pretty simple but that is what the extension provides at the moment

[2019-11-25 12:52] bframke commented on #467
Also before the update to 0.4.0 we used CamelRuntime and now CamelMain to work with the ContextListener.

[2019-11-25 12:55] lburgazzoli commented on #467
I guess you are parsing the property and then you create the connection factory from that  one right ?

[2019-11-25 12:57] bframke commented on #467
Yes and we configure it via the key:value map.

[code]

[2019-11-25 13:03] lburgazzoli commented on #467
I think the problem is in the aartemis-jms extension as it creates a connection factory even if the configurations are empty.

Can you try to add something like https://github.com/apache/camel-quarkus/blob/master/integration-tests/sjms/src/main/resources/application.properties#L29 ?

[2019-11-25 13:07] bframke commented on #467
Both changes have no effect. The part I showed a post back was just for the configuration. We initialize the Factories via Injection, could this be a problem?

[2019-11-25 13:08] lburgazzoli commented on #467
I need to digg into it more, can you share a reproducer ? without the ibm bits of course

[2019-11-25 13:10] bframke commented on #467
Just edited the two producers we use in the last comment, if it helps.

[2019-11-25 13:12] lburgazzoli commented on #467
can you create a sample reproducer and share it on github ? that would help a lot

[2019-11-25 13:49] bframke commented on #467
Created an example without IBM MQ usage. quarkusBuild is the fastest way to directly to a first test, after importing the project.

https://github.com/bframke/quarkus-examples

dir: camel-producer

[2019-11-25 16:30] #463 closed

[2019-11-25 18:16] aldettinger opened #472 "Fix camel-quarkus-pdf native tests"
Following this [pr](https://github.com/apache/camel-quarkus/pull/471/files#diff-7cc83a1071a5196fb78d4f99b1bb014cR67-R93), the camel-quarkus-pdf tests are no more running in native mode.

[2019-11-25 21:11] lburgazzoli commented on #467
I've cleaned it up and shrink-ed it to a bare minimum to reduce complexity: https://github.com/lburgazzoli/bframke-quarkus-examples/tree/cleanup/camel-producer

To create connection factories, the best is to use CDI instead of putting things directly to the camel registry which is possible but should be done before routes are started otherwise registry elements can't be found.

[2019-11-26 08:10] lburgazzoli opened #473 "Fhir test are not working in native mode"
See: https://builds.apache.org/job/camel-quarkus-pr/430/consoleFull

[code]

[2019-11-26 08:10] lburgazzoli commented on #473
I'm gogin to disable native image tests to make https://github.com/apache/camel-quarkus/pull/471 suceed

[2019-11-26 08:46] bframke commented on #467
Okay, your example is just for one ConnectionFactory, we create several with this key:value map. Question here is, after reading through the CDI stuff, how to correctly implement it, that CDI does work for one? We use the registry in the configure phase and add the routes in before start.

Just injecting the example from you is already enough in that case or is there more to be done?

[2019-11-26 09:07] johnpoth commented on #473
@lburgazzoli Camel 3 brings in a Major upgrade for FHIR (3-->4) so it's expected. I'll take a look

[2019-11-26 09:18] lburgazzoli commented on #467
I made it simpler because the example was not working out of the box so I did try to check that things are working as expected.

In your code, the main problem is that `CamelMainEvents.Configure` happens after `CamelMainEvents.BeforeStart` so when routes are created they may not find the beans they are looking for (in this case the connection factories).

[2019-11-26 09:24] bframke commented on #467
Ah, so the AfterStart would be the better case?

[2019-11-26 09:27] lburgazzoli commented on #467
You should do it in `CamelMainEvents.BeforeStart`

[2019-11-26 09:30] bframke commented on #467
Ah...darn events, thanks. Now it works. Was a bit confusing after we had to change the used events in the newer version. Factories are now registered correctly and the same is for the routes.

Thanks for the help in this problem.

[2019-11-26 09:33] lburgazzoli commented on #467
can we close this ?

[2019-11-26 10:22] bframke commented on #467
Yes.

[2019-11-26 10:22] #467 closed

[2019-11-26 11:48] davsclaus opened #474 "Support dependency injection of FluentProducerTemplate/FluentConsumerTemplate"
If you have a quarks rest service then you may want to inject Camel as a producer or consumer template (also the fluent builder kind)

[code]

But so far its only inject of `CamelContext` that works.

It would be nice to inject

    @Inject
    private ProducerTemplate camel;

And if you add the camel annotations for `@Produce` and `@Consume` and also the older `@EndpointInject` name which works o

[2019-11-26 12:15] lburgazzoli commented on #474
The produce template should already work, we have some tests that are using it like https://github.com/apache/camel-quarkus/blob/396e008a9549b07cbea0835d655e2324aecf5d1a/integration-tests/controlbus/src/main/java/org/apache/camel/quarkus/component/controlbus/it/ControlbusResource.java#L35-L36

[2019-11-26 13:10] ppalaga commented on #474
ConsumerTemplate is also used in several itests:

https://github.com/apache/camel-quarkus/blob/212887909b4509b99abe77860d833670935e85d9/integration-tests/paho/src/main/java/org/apache/camel/quarkus/component/paho/it/PahoResource.java#L42-L43

[2019-11-26 14:04] #319 closed

[2019-11-26 14:04] #470 closed

[2019-11-26 14:04] #469 closed

[2019-11-26 17:15] davsclaus commented on #474
Maybe they only work on ApplicationScoped classes. This is a REST service class, eg what you get when you create a new project from the code website

[2019-11-26 17:21] lburgazzoli commented on #474
Yeah this is a CDI thing, not sure how quarkus handles JX-RS things maybe we should open a cross issue on quarkus

[2019-11-26 18:20] davsclaus commented on #474
Ah okay I got it working with

    @Inject
    private ProducerTemplate camel;

But we dont support `FluentProducerTemplate` so can we get them added (also for consumer)

[2019-11-26 18:22] davsclaus commented on #474
You can add this to `CamelProducers` and then change some of the existing unit test or add a new one that uses the fluent template instead.

[2019-11-26 21:08] ppalaga opened #476 "List itests in an XML file for the Quarkus platform"
rpkgtests-maven-plugin 0.4.0 has a mojo to generate a list of itests. It will simplify setting up the test modules on the platform side.

[2019-11-26 21:09] ppalaga commented on #476
Plz assign to me.

[2019-11-27 04:16] #441 closed

[2019-11-27 04:16] #453 closed

[2019-11-27 04:16] #474 closed

[2019-11-27 05:28] davsclaus opened #477 "Native compile fails in some aggregation strategy which I am not using"
[code]

[2019-11-27 05:28] davsclaus commented on #477
A simple Camel route calling a java bean
[code]

[2019-11-27 05:44] davsclaus commented on #477
It smells like its when I have camel-quarkus-bean as dependency. If I remove that then it can build.

[2019-11-27 09:06] lburgazzoli commented on #477
I think that if you add `--report-unsupported-elements-at-runtime` then the build will succeed and the application will run without problem, can you confirm if you have some time ?

[2019-11-27 11:52] peteroyle commented on #454
I'm using 1.0.0.Final now and this bug is no longer present. Thanks, I'll close this issue.

[2019-11-27 11:52] #454 closed

[2019-11-27 13:03] lburgazzoli commented on #477
looks like adding `<enableJni>true</enableJni>` to the quarkus plugin solved the issue, don't know the reason :(

[2019-11-27 13:19] ppalaga commented on #289
There is a related issue for dev mode with Java 13 on Windows https://github.com/quarkusio/quarkus/issues/5359

[2019-11-27 15:35] aldettinger commented on #472
Hey @lburgazzoli, thanks for checking this. I'am not able to reproduce it locally with graal-vm/native-mage 19.2.1. Could you please check the graal-vm version involved when the issue is reproduced ?

[2019-11-27 16:17] lburgazzoli commented on #472
[code]

[2019-11-27 19:35] #473 closed

[2019-11-28 00:26] #302 closed

[2019-11-28 09:54] ppalaga opened #483 "Flatten the integration-tests hierarchy and remove camel-quarkus-test-list.xml from git"
Proposed by @lburgazzoli in https://github.com/apache/camel-quarkus/pull/482

[2019-11-28 09:56] ppalaga commented on #483
Plz assign to me.

[2019-11-28 10:03] ppalaga opened #484 "The validator test should use a classpath URI for the XSD"
... so that the test is executable by the Quarkus Platform.

[2019-11-28 10:04] ppalaga commented on #484
Plz assign to me

[2019-11-28 13:31] #476 closed

[2019-11-28 18:03] jsight opened #490 "Add support for tidymarkup and tagsoup"
https://camel.apache.org/components/latest/tidyMarkup-dataformat.html

[2019-11-28 21:38] ppalaga commented on #97
To autodetect anything in the Routes, we'd need a way to get the `org.apache.camel.model.Model`
at build time without having to instantiate the `CamelContext`.
That would be handy not only for registering beans for reflection, but also for other things such as finding which XSLT resources need to get compiled into translets or which XSD resources need to get included in the native executable.

Get

[2019-11-29 05:06] #484 closed

[2019-11-29 10:59] ppalaga commented on #490
@jsight are you by any chance planning to work on this?

[2019-11-29 13:33] #483 closed

[2019-11-29 19:51] jsight commented on #490
@ppalaga - I wasn't, but maybe this would maybe be a good starting point for me? I will give it a shot.

[2019-11-29 20:10] ppalaga commented on #490
You may want to check https://camel.apache.org/camel-quarkus/latest/contributor-guide.html
Feel free to ask here if you have specific questions.

[2019-11-30 03:17] jsight commented on #490
PR sent -- I didn't know about the contributor guide when I started, so this was done a bit manually. Hopefully the steps were taken correctly... happy to adjust based on feedback, though.

[2019-12-02 09:11] ppalaga opened #494 "Group catalog re-generation and formatting mojos under a single profile"
Proposed by @lburgazzoli https://github.com/apache/camel-quarkus/pull/492#discussion_r352280609

[2019-12-02 11:20] ppalaga commented on #74
Giving another try. Please assign to me.

[2019-12-02 12:07] lburgazzoli commented on #477
`<enableJni>true</enableJni>` fixes the issue

[2019-12-02 12:07] #477 closed

[2019-12-02 17:43] #494 closed

[2019-12-03 07:54] ppalaga opened #498 "Improve the XSLT test coverage"
Trying to use XSLT to for DOM -> stream transformation in the TagSoup itest (coming via https://github.com/apache/camel-quarkus/pull/493 ) uncovered some issues that need fixing. So the XSLT extension should be tested for:

* DOM -> stream transformation
* all output modes: text, xml, html

[2019-12-03 10:20] lburgazzoli opened #499 "Filter out beans from CDI from build time discovery"
If i.e. a component is defined using CDI, like:

[code]

we should exclude it from build time auto discovery

[2019-12-03 10:20] davsclaus opened #500 "seda extension"

[2019-12-03 10:33] ppalaga commented on #499
Why?

[2019-12-03 10:37] lburgazzoli commented on #499
because the auto discovered one has lower priority than the the runtime one so there's no point to have an unused instance of a component/language/data-format in the registry

[2019-12-03 15:47] #499 closed

[2019-12-03 23:11] lburgazzoli commented on #500
Done with https://github.com/apache/camel-quarkus/pull/502

[2019-12-03 23:11] #500 closed

[2019-12-03 23:12] lburgazzoli commented on #490
Done with https://github.com/apache/camel-quarkus/pull/493

[2019-12-03 23:12] #490 closed

[2019-12-04 04:33] davsclaus opened #505 "camel-sql extension"
its using spring-jdbc but that may work with the spring data compatibility in quarkus?

[2019-12-04 09:37] jamesnetherton commented on #505
Isn't Quarkus Spring Data more JPA focussed? So maybe better suited to camel-jpa?

We already have a camel-jdbc extension, so implementing camel-sql should be simple enough. I'm happy to work on it (and camel-jpa if we want to add an extension for it).

[2019-12-04 09:41] lburgazzoli commented on #505
As far as I can remember the spring compatibility does not use any spring bits but translates spring concerns into the related quarkus/hibernate bits

[2019-12-04 09:44] davsclaus commented on #505
Ah yeah a camel-jpa extension would be great

[2019-12-04 09:44] davsclaus commented on #505
the sql component is just much more powerful than jdbc so it would have been nice

[2019-12-04 13:54] lburgazzoli opened #508 "Do not use hard coded ports in integration-tests"
some tests have hard-coded ports in routes definitions, test resources and so on which should be avoided to prevent CI failures

[2019-12-05 09:01] lburgazzoli opened #511 "Pre-configure reoute builders at build time"
As today we do not perform so may optimizations and introspection to the routes so we may introduce a new annotation to give some hints to the build processor about in which phase a route is expected to be configured and some additional meat-data like classes that need to be registered for reflection, like:

[code]

toughs ?

[2019-12-05 09:32] #508 closed

[2019-12-05 10:00] ppalaga commented on #511
Related https://github.com/apache/camel-quarkus/issues/97 and partly also https://github.com/apache/camel-quarkus/issues/253

Yes, this might help to solve the problem, although hard to say how reliably we can pre-configure a route in this way without knowing its complete model at build time.
I am asking myself, whether we would still need this kind of annotation if we had the complete Route model

[2019-12-05 10:11] lburgazzoli commented on #511
Yep, this is mainly and hint a user can give to the builder and it is under the user responsibility so if it fails, well, we'll let the user figure out how to fix it.

In any case it does not prevent us to do more introspection when we'll have the capabilities to do it so maybe in the future such annotation can be deprecated/removed

[2019-12-05 10:33] ppalaga commented on #511
BTW do you think the effort needed to support this (and the new potential bugs) is in balance with the boot time improvements? In other words are our boot times bad enough to invest here instead of elsewhere? (My knowledge in this area is limited to running rather simple demos so I frankly do not know whether we generally need to improve the boot times).

[2019-12-05 10:41] lburgazzoli commented on #511
I think we need to experiment a little bit and we can mark this annotation/feature as experimental and drop it if it does not make any sense

[2019-12-05 11:51] oscerd opened #514 "Create AWS-IAM Extension"

[2019-12-05 12:37] lburgazzoli opened #516 "[question] introduce testcontainers"
I'm experimenting with testcontainers to replace the embedded kafka server we have now for running camel-quarkus-kafka integration tests and it simplifies a lot the set-up.

The downside is that some tests depends on docker.

Any objection to introduce testcontainers ?

[2019-12-05 12:41] ppalaga commented on #516
I'd prefer a solution that would work OOTB in Fedora 31 (no dockerd).

[2019-12-05 12:42] lburgazzoli commented on #516
you can install moby :)

[2019-12-05 12:43] lburgazzoli commented on #516
The point is that even the guys from debezium (providers of the kafka embedded facilities) recommend to use testcontainers

[2019-12-05 12:43] davsclaus commented on #516
No we use testcontainers in camel 3 too, so we should do it here too. And you are welcome to make camel-kafka use testcontainers too, it uses some embedded kafka shit

[2019-12-05 12:44] davsclaus commented on #516
And us mac osx guys are often the guys with docker issues, over those with native linux.

[2019-12-05 12:44] oscerd commented on #516
+1

[2019-12-05 15:21] bsideup commented on #516
Most of Testcontainers' development is done on Mac OS X (and the majority of devs that use TC are also on Mac OS X), you can be pretty confident that Testcontainers will work just fine on it ;)

[2019-12-05 15:58] ppalaga opened #518 "Rely on configurers for Configuration classes instead of using reflection"
Once a fix for https://issues.apache.org/jira/browse/CAMEL-14263 reaches us, this once rejected PR  https://github.com/apache/camel-quarkus/pull/513 contains most of the required changes.

[2019-12-05 21:42] #516 closed

[2019-12-06 00:43] #514 closed

[2019-12-06 14:46] jamesnetherton opened #520 "XSLT documentation is misleading"
XSLT configuration [docs](https://camel.apache.org/camel-quarkus/latest/extensions/xslt.html#_configuration) seem to suggest that the `file:` URI scheme is supported for the `quarkus.camel.xslt.sources` property.

But the extension seems to only be able to handle the `classpath` resources.

[code]

[2019-12-06 16:17] ppalaga commented on #520
Yes, the docs is out of date. My fault, I can fix it unless you started already.

[2019-12-06 16:33] jamesnetherton commented on #520
Thanks. Please go ahead and fix whenever you get time :+1:

[2019-12-06 17:28] #520 closed

[2019-12-08 09:01] lburgazzoli opened #526 "Re-introduce RoutesBuilderBuildItem"
RoutesBuilderBuildItem were used to set routes builder to camel-main at build time and then we changed it to put those discovered routes to the camel registry.

It appear that it was a wrong decision as routes from the registry are not subject to Camel's DI which seems be correct as those routes are coming from i.e. a container such as ArC thus they should rely on container's DI.

Of course mixed

[2019-12-08 09:52] lburgazzoli commented on #526
mh, it should already work out of the box on other container so let’s fix it here

[2019-12-08 11:23] lburgazzoli commented on #511
The `reflectiveClasses` field is not needed as this cases is covered already bythe quarkus annotation [RegisterForReflection](https://github.com/quarkusio/quarkus/blob/1.0/core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterForReflection.java#L32)

[2019-12-08 17:27] #526 closed

[2019-12-09 21:03] jsight opened #531 "Feature: Add camel-mock"
This is useful for asserting on routes that are not Rest based or that are InOnly.

[2019-12-09 21:09] ppalaga commented on #531
Please note that the usefulness of the current camel-mock endpoint is a bit limited in the native mode: the test and the application under test are running in two separate processes, so you cannot share the a single camel-mock instance between them. To test the native executable, you have to wrap the camel endpoints in REST (or similar) interface.

[2019-12-09 22:24] jsight commented on #531
I don't really anticipate ever wanting to use native.

[2019-12-10 07:40] bframke opened #532 "Manjaro: Dependency Problem with Platform-HTTP"
Another Day, another Problem.

I'm using Manjaro Arch Linux to develop software. Some days ago we expanded our camel project with the Dependencies:

1. camel-quarkus-platform-http
2. camel-quarkus-platform-http-component

If I just wanted to use the camel-quarkus-platform-http it wants camel-quarkus-platform-http-component as a dependency, but this also needs org.apache.camel:apt repo. I've added

[2019-12-10 08:25] lburgazzoli commented on #532
here apt does not mean the package manager but the annotation processor support that camel provides.

[2019-12-10 08:31] oscerd commented on #532
it's really a different thing.

[2019-12-10 08:32] bframke commented on #532
Aahh...but why does it still not work, but for my colleagues with the same project setup? Okay, I need to investigate that further, thanks anyway.

[2019-12-10 08:32] #532 closed

[2019-12-10 09:36] ppalaga commented on #532
BTW you do not need to depend on `camel-quarkus-platform-http-component` directly. `camel-quarkus-platform-http` is enough.

`camel-quarkus-platform-http-component` even does not exist since Camel Quarkus 1.0.0-M1 because it was moved to Camel main project.

[2019-12-10 09:49] #505 closed

[2019-12-10 11:00] jamesnetherton opened #534 "Investigate removal of KParameter class generation"
For the SQL extension I had to [work around](https://github.com/apache/camel-quarkus/blob/master/extensions/sql/deployment/src/main/java/org/apache/camel/quarkus/component/sql/deployment/SqlProcessor.java#L56-L67) a problem with a `NoClassDefFoundError` for a Kotlin class: `KParameter`.

I never got to the bottom of what was causing it. `KParameter` is only referenced in a few places which I added

[2019-12-10 11:07] davsclaus commented on #534
What is bringing Kotlin into the mix in the first place?

[2019-12-10 11:11] jamesnetherton commented on #534
It's an optional dependency of Spring. But because there is some Kotlin class usage in `spring-core` & `spring-bean`, it gets detected during the native image build. Hence the substitutions and workaround.

[2019-12-10 13:04] davsclaus opened #536 "Add documentation about configuration options"
We should have more docs for camel-quarkus. One page should be about general configuration where you can set many options on `camel.main.xxx` and for example also for components via `camel.component.xxx=123` etc

We should add the page to the TOC
https://camel.apache.org/camel-quarkus/latest/user-guide.html

And also have another page for build time configurations, where you can use
`quarkus.camel

[2019-12-10 13:04] davsclaus commented on #536
The build time has the following options
https://github.com/apache/camel-quarkus/blob/master/extensions/core/runtime/src/main/java/org/apache/camel/quarkus/core/CamelConfig.java

[2019-12-10 13:14] jamesnetherton commented on #536
IIRC the Quarkus project auto generate their [configuration docs](https://quarkus.io/guides/all-config) from the JavaDoc applied to `ConfigItem` annotated fields.

Maybe we should try to do something similar?

[2019-12-10 13:32] bframke commented on #532
Ah okay, good to know, idea said that component and apt were marked as missing dependencies, so I've added them. Had to move a bit around with the versions to let be build on my end. Now it works, but I will also test that.

[2019-12-11 07:13] jamesnetherton opened #538 "Add support/spring artifact for common substrate support"
Extract Spring substitutions etc, from the SQL extension into its own 'common' support artifact, since they will likely be needed for other Camel components that we add in the future.

[2019-12-11 07:21] jamesnetherton opened #539 "Dozer extension should use JaxbFileRootBuildItem"
We should leverage the JAXB extension and `JaxbFileRootBuildItem` so that the Dozer `jaxb.index`  can be automatically read and the classes defined in it registered for reflection.

https://github.com/quarkusio/quarkus/issues/6070 currently blocks this.

[2019-12-11 10:43] ppalaga commented on #538
Sounds good. Would `extensions/support/spring-support` match the current naming scheme, @lburgazzoli ? (Asking because I am about to add a similar ancillary extension)

[2019-12-11 10:47] lburgazzoli commented on #538
don't have any strong opinion, would go for a simpler "extensions/support/spring" or if it is specific to the kotlin side of spring something like "extensions/support/spring-kotlin"

but don't mind much

[2019-12-11 10:51] ppalaga commented on #538
`extensions/support/spring` sounds good for the directory. The artifactId would be `camel-quarkus-spring-support`, right?

[2019-12-11 10:51] lburgazzoli opened #540 "[graalvm-19.3.0] camel-quarkus-bean fails to compile in native mode"
See https://github.com/oracle/graal/issues/1971

[2019-12-11 10:54] lburgazzoli commented on #538
Everything else is like `camel-quarkus-support-${context}`

[2019-12-11 14:31] lburgazzoli opened #541 "[graalvm-19.3.0] camel-quarkus-salesforce fails to compile in native mode"
See https://github.com/oracle/graal/issues/1975

[2019-12-13 08:11] jstakun opened #543 "Unmarshal json in spring xml"
I'm trying to migrate spring xml route to quarkus camel. Everything works except for json unmarshaling.

In original version I've configured data format in camel context:

[code]
...
and the I'm calling it in the route:

 `<unmarshal ref="transform-game"/>`

In quarkus version I don't know how to declare dataFormats beacuse in the example camel context is declared in application.properties and not

[2019-12-13 08:21] lburgazzoli commented on #543
We don't support defining routes through spring xml at least at this stage so I'd recommend to use "routes fragments" (see the example https://github.com/apache/camel-quarkus/tree/master/examples/timer-log-xml).

[2019-12-13 08:40] squakez opened #544 "[MongoDB extension] Refactor with camel 3.1.x new connection bean"
As originally described in [jira issue](https://issues.apache.org/jira/browse/CAMEL-14258), the next camel 3.1.x version will add a change to the camel-mongodb component, using a new connection bean interface replacing the older deprecated one.

[2019-12-13 09:10] ppalaga commented on #544
@squakez are you by any chance planning to work on this?

[2019-12-13 09:30] squakez commented on #544
Not in the short term. I may have a look after Jan 15, but no guarantees.

[2019-12-13 15:13] jstakun commented on #543
Yes. That's exactly what I did. Unfortunetaly I can't create data formats in route fragment and hence I used

[code]
But this doesn't work correctly. Is that the right way to unmarshal json to pojo in spring xml, or should I try something else?

[2019-12-13 15:16] lburgazzoli commented on #543
You can create data formats programmatically using java i.e. CDI/Spring beans but what you wrote should work, what is the error ?

[2019-12-13 16:17] jstakun commented on #543
Object is created but all fields are not populated with data from json.
If this is correct I'll try to debug it further.

[2019-12-13 16:18] lburgazzoli commented on #543
does this happen in JVM or native mode ?

[2019-12-14 10:16] jstakun commented on #543
This happens in JVM

Here is the route:

[code]
POJO:

[code]

and stacktrace:

[code]

[2019-12-15 09:38] jamesnetherton commented on #544
I'll take this one. Probably best we test it ASAP against a Camel 3.1 SNAPSHOT to verify that the changes work ok.

[2019-12-16 06:43] lburgazzoli commented on #543
Do you have a repository/reproducer we can have a look at ?

[2019-12-16 16:18] jstakun commented on #543
https://github.com/jstakun/wildwest-bot/

After you pull:
- delete org.mycompany.Application.java and pom.xml
- rename quarkus-pom.xml to pom.xml
- specify backend host:port in application.properties

For backend creation on Openshift you can use following commands:
[code]

[2019-12-18 11:41] lburgazzoli opened #551 "Add camel-endpointdsl extension"
Relates to:

  https://github.com/apache/camel-k-runtime/issues/212
  https://github.com/apache/camel-k/issues/1154

camel-k project build fails as it declares a dependency on camel-endpointdsl but that's not part of the camel-quarkus boms

[2019-12-18 12:27] lburgazzoli commented on #159
I would revisit this decision as:
- camel spring boot support has it's own repo
- camel-k project generation relies on boms to support multiple camel version so if a dependency is missing in the quarkus bom when it generates quarkus images, then the project would fail to build

[2019-12-18 12:29] ppalaga commented on #159
We should consider how this would impact the Quarkus platform because it imports our bom

[2019-12-18 16:27] lburgazzoli opened #553 "Randomize http test port"
By default tests binds on 8081 but this may clash with other services

[2019-12-18 20:26] #551 closed

[2019-12-19 12:52] lburgazzoli commented on #539
Should be part of 1.1.0.Final

[2019-12-19 16:27] #553 closed

[2019-12-19 21:00] aldettinger commented on #472
Discarded the change, and tests were passing on CI.

[2019-12-19 21:00] #472 closed

[2019-12-20 12:54] ppalaga opened #560 "AHC extension"
Plz. assign to me.

[2019-12-20 13:33] oscerd opened #561 "Create AWS Translate extension"

[2019-12-20 13:33] oscerd opened #562 "Create AWS EC2 Extension"

[2019-12-20 13:33] oscerd opened #563 "Create AWS Lambda extension"

[2019-12-20 13:34] oscerd opened #564 "Create Camel-Pulsar extension"

[2019-12-20 20:27] #562 closed

[2019-12-21 10:23] oscerd opened #566 "Create an AWS common extension"
Containing the shared part among the AWS extensions.

[2019-12-21 16:44] ppalaga opened #568 "Untrack Artemis test instance data"
https://github.com/quarkusio/quarkus-platform/pull/19#issuecomment-568125279

[2019-12-21 18:10] ppalaga commented on #568
PR is underway.

[2019-12-21 20:44] #568 closed

[2019-12-22 18:11] #566 closed

[2019-12-23 11:31] oscerd opened #572 "AWS support: Leverage Quarkus-jackson instead of using Jackson stuff in each extension"

[2019-12-23 13:17] #560 closed

[2019-12-23 15:49] #572 closed

[2019-12-26 03:49] Namphibian opened #574 "Contribute A New Example Project."
Hi Team.

I have worked through the examples in the repo. Got things running and I am very happy with Quarkus so far. So I took it a step further I  and made a simple file reader which uses the split EIP to read rows and columns. It XML DSL based no Java and shockingly fast. I would like to contribute this to the examples, if it good enough obliviously.

The contribution guide does not give any gu

[2019-12-26 09:19] davsclaus commented on #574
Hi Neil

Yay sounds great, we love contributions.

We dont have a specific strict standard for examples. So take a look as you have of some of the existing examples, and have same similar structure with a pom.xml file and readme with instructions.

[2019-12-26 09:58] Namphibian commented on #574
Hi Claus.

Thanks will add my project to my local repo and get it working and submit a pull request.

Regards
Neil

[2019-12-26 20:21] ppalaga commented on #574
Yes, your PR is welcome. A `README.adoc` file explaining the example is a minimal requirement. An integration test passing in both JVM an native modes would be nice to have.

[2019-12-26 21:22] Namphibian commented on #574
Cool.

Heading out to the beach today when I get back tonight I will work on getting a basic unit test/integration test into the package.

[2019-12-27 05:36] Namphibian commented on #574
Hey Team.

Just a quick question. I am ready to push the project into a pull request. Just wanted to make sure how you guys deal with it.

I created a local branch called file-reader-example which I want to push upstream to the source but not sure if that would be the right approach in my mind.

1. Push my branch into the project.
2. Create PR from my branch to master.

How do you want me to appro

[2019-12-27 19:22] ppalaga commented on #574
You should first fork https://github.com/apache/camel-quarkus/ using the button in the top right corner. Then you should push your branch to your fork (presumably https://github.com/Namphibian/camel-quarkus ). After that you can create a pull request from the file-reader-example branch in your fork against the master branch in apache/camel-quarkus. Does that help?

[2019-12-29 00:01] Namphibian commented on #574
Hi There.

Makes perfect sense. I completely forgot about forking I will blame it on the eggnog for now. PR is coming up. Will see if I can contribute in other ways going forward.

Regards
Neil

[2019-12-29 00:23] Namphibian commented on #574
Hi Team.

SO the PR is failing due to the following:
[ERROR] Failed to execute goal com.mycila:license-maven-plugin:3.0:check (license-format) on project camel-quarkus-examples: Unable to find a comment style definition for some files. You may want to add a custom mapping for the relevant file extensions. -> [Help 1]

I suspect it is due to my CSV file not having an apache license header. Could yo

[2019-12-29 23:51] Namphibian commented on #574
Thanks Team.

Will see what other examples/wiki/docs/blogs I can create to support this effort. It is a real game changer for me. Time permitted I would like to help migrate some of the endpoints across as well.

[2019-12-29 23:51] #574 closed

[2019-12-30 12:12] oscerd opened #578 "Different versions for Jetty and Jetty-Maven-plugin"
The first is at 9.4.18 while the maven plugin is at 9.4.20. We need to use a single version.

[2019-12-31 05:39] #578 closed

[2020-01-02 09:30] lburgazzoli commented on #444
Another case is `given/then` notation with RestAssured

what I'd like:
![image](https://user-images.githubusercontent.com/1868933/71660263-ba9e7c80-2d4a-11ea-991c-2d629606bbce.png)

what the formatter does:
![image](https://user-images.githubusercontent.com/1868933/71660238-ace8f700-2d4a-11ea-8b7f-183aacb26515.png)

[2020-01-02 10:15] lburgazzoli commented on #543
@jstakun

I'vre created some tests:
https://github.com/apache/camel-quarkus/pull/581

And an example:
https://github.com/lburgazzoli/camel-quarkus-examples/tree/master/json-unmarshal

If you clone the example repo, then:
1. in one shell run `mvn clean compile quarkus:dev`
2. in another shell run `echo '{ "score": { "gameID": "myid" } }' |  http :8081/game`

the log should show something like:

[2020-01-02 14:42] jstakun commented on #543
Thanks. Addidng camel-quarkus-bean to the pom deps solved this issue

[2020-01-02 14:42] #543 closed

[2020-01-02 23:30] #539 closed

[2020-01-03 06:07] #563 closed

[2020-01-04 14:32] lburgazzoli commented on #352
We do use testcontainers now so we can close this one

[2020-01-04 14:32] #352 closed

[2020-01-05 17:36] oscerd opened #595 "Syslog data format native support"

[2020-01-05 19:40] lburgazzoli opened #596 "Create a camel-http extension"

[2020-01-05 23:35] lburgazzoli commented on #289
We now build on Java 12 too and we have a test for dev mode so I think we can close this issue

[2020-01-05 23:36] lburgazzoli commented on #143
@zhfeng are you working on this component ?

[2020-01-05 23:38] lburgazzoli commented on #426
@aldettinger do you have any update on this extension ?

[2020-01-06 07:41] #289 closed

[2020-01-06 08:01] aldettinger commented on #426
yep, still on it. I think I will have time for this in the coming days.

[2020-01-06 09:44] ppalaga opened #598 "Use quarkus.package.type=native instead of the native-image mojo"
Some of these options look a bit suspicious. We should check at some point whether enableHttpsUrlHandler enableJni and enableJni are really required.

https://github.com/apache/camel-quarkus/pull/597#discussion_r363190299

[2020-01-06 09:56] ppalaga opened #599 "Document the need to set quarkus.native.add-all-charsets = true in HTTP extensions"
AHC and HTTP components are the prominent candidates.

Why: They offer the option to decode the response body using the encoding sent by the server which can be any encoding.

https://github.com/apache/camel-quarkus/pull/597#discussion_r363188082

[2020-01-06 11:55] lburgazzoli opened #600 "Consolidate http based component integration tests"
We have integration tests for ahc, netty-http and soon http extensions that we can probably consolidate in a single integration tests to reduce build time

[2020-01-06 13:40] #596 closed

[2020-01-06 14:41] lburgazzoli opened #601 "ahc dependencies"
camel-quarkus-ahc has the following dependencies:

[code]

I think we need:
- exclude netty-all from camel-ahc
- make camel-quarkus-support-ahc depends on quarkus-netty

[2020-01-06 15:40] ppalaga commented on #601
+1

[2020-01-06 19:28] #600 closed

[2020-01-06 23:21] #601 closed

[2020-01-07 06:42] zhfeng commented on #143
@lburgazzoli yeah, I still work on this component but do not have much time currently.

[2020-01-07 10:42] jamesnetherton opened #605 "Remove PlatformHttpSpanDecorator from OpenTracing extension"
Depends on [CAMEL-14365](https://issues.apache.org/jira/browse/CAMEL-14365).

[PlatformHttpSpanDecorator](https://github.com/apache/camel-quarkus/blob/master/extensions/opentracing/runtime/src/main/java/org/apache/camel/quarkus/component/opentracing/PlatformHttpSpanDecorator.java) now lives in the camel-opentracing component so it can be removed from this project.

[2020-01-07 13:29] oscerd opened #606 "Upgrade to Quarkus 1.1.1.Final"

[2020-01-09 12:00] #538 closed

[2020-01-09 14:28] aldettinger opened #610 "Fix the defineClass exception in camel-quarkus-jsonpath while running in native mode"
How to reproduce:
Set <reportErrorsAtRuntime>**false**</reportErrorsAtRuntime> in integration-tests/jsonpath/pom.xml
Run mvn clean verify -P native
An issue where the @Deleted defineClass method would be accessed is reported.

[2020-01-09 14:31] aldettinger opened #611 "Improve the camel-jsonpath extension by not using an alias for DefaultAnnotationExpressionFactory"

[2020-01-09 14:38] aldettinger commented on #426
Follow up on #610 and #611. Closing this ticket.

[2020-01-09 14:38] #426 closed

[2020-01-09 14:45] aldettinger commented on #611
I will try to fix this upstream in [CAMEL-14384](https://issues.apache.org/jira/browse/CAMEL-14384)

[2020-01-09 15:36] aldettinger commented on #610
Thanks @lburgazzoli for discussing the case.
I will try adding the jsonb extension, or then find what to substitute in order to cut the possibly false unreachable code path detection.

[2020-01-09 15:59] davsclaus opened #612 "Extension for endpoint DSL"
I wonder if we should have a quarkus extension for camel-endpointdsl. So its visible in the extension system in Quarkus.

Otherwise end users need to know how to add it as a camel dependency.

[2020-01-09 16:09] lburgazzoli commented on #612
https://github.com/apache/camel-quarkus/tree/master/extensions/endpointdsl :)

[2020-01-09 16:28] lburgazzoli opened #613 "Create a camel-websocket-jsr356 extension"

[2020-01-09 16:30] lburgazzoli commented on #606
done by https://github.com/apache/camel-quarkus/pull/607

[2020-01-09 16:30] #606 closed

[2020-01-09 17:06] jamesnetherton commented on #613
I can take this one. I actually had a tentative look into it this morning.

[2020-01-10 08:31] aldettinger commented on #611
It should be fixed in upcoming camel releases (3.0.1 and 3.1.0).

[2020-01-10 08:57] davsclaus commented on #611
If we need to remove some code in camel-quarkus after the upgrade, then it would be good to add a TODO in the source code so we wont forget

[2020-01-10 09:08] aldettinger commented on #611
Yeah, we'll just need to remove the Target_DefaultAnnotationExpressionFactory class from camel-quarkus-jsonpath runtime. I'll remember as it is written in this comment.

[2020-01-10 17:09] #561 closed

[2020-01-10 21:01] lburgazzoli commented on #610
looking a little bit into this issue you probably need to substitute:
- `net.minidev.json.JSONValue`
- `net.minidev.json.JSONWriter`

Something like:

[code]

[code]

Not sure it it is enough but the issue is that the library tries to generate classes in case it does not find a suitable writer.

An potential future evolution would be to generate such classes at build time.

[2020-01-13 09:39] lburgazzoli opened #616 "Utility to generate/scaffold an extension for a camel component"
We should have an utility like https://github.com/apache/camel-spring-boot#creating--deleting-starters to generate/scaffold an extension out of a camel component

[2020-01-13 09:43] lburgazzoli commented on #616
Depends on https://issues.apache.org/jira/browse/CAMEL-14394

[2020-01-13 14:15] jamesnetherton commented on #613
As the producer part of this component is currently [broken](https://issues.apache.org/jira/browse/CAMEL-14390), is it worth me implementing an extension for `camel-ahc-ws` until the fix is available?

[2020-01-13 15:09] lburgazzoli commented on #613
@jamesnetherton no hack possible ?

[2020-01-13 15:26] jamesnetherton commented on #613
It is possible. Would need to override and extend some bits of the component internals.

[2020-01-13 15:56] ppalaga opened #617 "Registerable and discoverable Camel services"
I stumbled upon this when I was rebasing my telegram branch on top of the current Camel master. It did not work because the endpoint and component configurers were not found. Those are currently looked up at runtime by inspecting the files in `META-INF/services/org/apache/camel/configurer` and we do not add them to the native image.

Clearly, the problem could be solved by adding `META-INF/service

[2020-01-13 16:00] lburgazzoli commented on #617
I think all those services are already available from the registry

[2020-01-13 16:29] ppalaga commented on #617
I also suspected this might be true but I was not able to conceive any possibility how this fact could help. Maybe you mean that [DefaultComponent.doInit()](https://github.com/apache/camel/blob/master/core/camel-support/src/main/java/org/apache/camel/support/DefaultComponent.java#L408-L422) should prefer getting the configurers from the registry instead of from FactoryFinder?

[2020-01-13 16:38] lburgazzoli commented on #617
as far as I can remember the resolution always checks the registry and after the factory finder, this is how component, languages and other bits are actually resolved

if does not it seems an error but I remember it should be already the case for the configurer

[2020-01-13 16:39] ppalaga commented on #617
No, it checks only the FactoryFinder https://github.com/apache/camel/blob/master/core/camel-support/src/main/java/org/apache/camel/support/DefaultComponent.java#L408-L422

[2020-01-13 16:47] lburgazzoli commented on #617
mh strange, I think that code should be fixed unless @davsclaus did it on purpose.

[2020-01-13 17:00] ppalaga commented on #617
Filed https://issues.apache.org/jira/browse/CAMEL-14397

[2020-01-13 17:08] davsclaus commented on #617
the configurers are source code generated and loaded from classpath and as such these are not looked up anywhere. So its because you are doing something "different" in quarkus.

[2020-01-13 17:35] lburgazzoli commented on #613
if the workaround is not too complex I'd go for the workaround and oyu are free to implement also camel-ahc-ws :)

[2020-01-14 08:07] ppalaga commented on #617
I have sent a PR to Camel https://github.com/apache/camel/pull/3478 It makes DefaultComponent.doInit() to prefer getting the configurers from the registry before checking the FactoryFinder and it solves the original problem with missing configurers in the native mode.

Regardless of that, I think we should have a camel-quarkus specific implementation of FactoryFinderResolver that would be assemble

[2020-01-14 08:17] lburgazzoli commented on #617
I'm not 100% sure about the need of a specific factory finder as we do already have the registry, we probably need to follow the same path when it is about tor resolve services so we don't need to have platform specific code.

[2020-01-14 08:23] davsclaus commented on #617
Isn't a problem with adding everything to the registry is that you clutter up and takes spaces there. Also for stuff that was only needed during build/startup time. Those will reside in Registry and wont be eligble to be removed.

For the endpoint and component configurers then yeah they may be used during runtime if you create new endpoints / components.

[2020-01-14 08:30] lburgazzoli commented on #617
Yep but the factory finder does not actually solve the issue as the factory instance need to be in any case instantiated and put into another registry, otherwise we still need to look it up, do class for name, new instance at runtime.

Another option would be to actually discover such configurers at build time and register them through a recorder.

[2020-01-14 09:15] ppalaga commented on #617
In general, I do not mind prefering the Camel registry. It is there and can serve the purpose of instantiating services well.

The problem I am trying to solve here is, that we (camel-quarkus) still have code assuming that the FactoryFinders work well (incl. native), which they currently don't. I see several options how to fix that:

A. Brute force: always add all service property files to the nat

[2020-01-14 09:32] lburgazzoli commented on #617
The problem I see here is: what services do you add to the new factory finder "map" and what do you add to the registry ?

I guess at the end we do end up having the same service registered to different "registries", because we do not know what is the patter 3th party libraries are using, isn't it ?

May be we should have the factory finder to hooks into the registry or move every discovered servi

[2020-01-14 10:46] ppalaga commented on #617
The map is from property file paths (e.g. `META-INF/services/org/apache/camel/configurer/telegram-component`) to classes (e.g. `org.apache.camel.component.telegram.TelegramComponentConfigurer.class`) and my current implementation adds all available paths and classes to the map. Here is the code: https://github.com/apache/camel-quarkus/pull/618

No change against what we currently do.

My understan

[2020-01-14 13:54] jamesnetherton opened #619 "Create a camel-ahc-ws extension"

[2020-01-14 13:57] jamesnetherton commented on #613
I think this component in its current form is going to need too many hacks to get it working properly.

I opened #619 to implement ahc-ws. I'll revisit this when I'm done fixing up the websocket-jsr356 component on the Camel side.

[2020-01-14 13:58] lburgazzoli commented on #617
@ppalaga

After brainstorming a little bit more with @davsclaus we probably need to revisit how we load such services and we probably need a smart  FactoryFinders which takes over the role of the registry for most of the discovery so we can keep the usual camel behaviour where registry is used to provide alternative implementations for what the it is defined by service factories.

We probably can

[2020-01-15 11:01] ppalaga opened #620 "Introduce CamelServiceInfo transformers"
The need is motivated by the fact that Camel expects some services to be registered in the registry under a name different from the name of the service file. E.g. the configurers need to get registered with the `-configurer` suffix (see https://github.com/apache/camel/pull/3478 )

[2020-01-15 12:52] ppalaga opened #622 "Encourage users to ask for missing extensions and to help implementing them"
Originally proposed by @davsclaus on the chat:

Top of https://camel.apache.org/camel-quarkus/latest/list-of-camel-quarkus-extensions.html would be a good place for such a note

[2020-01-15 13:04] ppalaga commented on #617
Sounds good.

Yes, that's what we do for all (except filter-blacklisted) services ATM.

Could you please define "need to be discovered"? Is it somehow to imply, that we are going to make some services non-discoverable at runtime (e.g. by not including the service file in the app)?

What possible reasons are there for having both 3. and 4.? They seem to be serving the same purpose, don't they? Havi

[2020-01-15 17:35] aldettinger commented on #610
@lburgazzoli, you were few brackets from having it fully done :) Thanks for analysis and proposal by the way :+1:

[2020-01-16 01:57] danielok1303 opened #624 "Add Camel-AWS-Kinesis extension"

[2020-01-16 08:06] aldettinger commented on #610
I've pushed a fix, let's ensure next build is fine with that.

[2020-01-16 11:17] #620 closed

[2020-01-16 14:04] aldettinger commented on #610
The build is fine regarding this ticket, closing.

[2020-01-16 14:04] #610 closed

[2020-01-16 14:08] ppalaga commented on #617
If we had just 4. that would actually mean that the FactoryFinders work the same way for both JVM and native, so it would be easier to spot issues.

[2020-01-16 14:13] lburgazzoli commented on #617
will open a new issue with a proposal so we can have a better discussion

[2020-01-16 16:32] lburgazzoli opened #627 "Add JniBuildItem to extensions that need JNI"
See https://github.com/apache/camel-quarkus/pull/603#discussion_r367375039

[2020-01-16 17:09] ppalaga commented on #617
I have updated https://github.com/apache/camel-quarkus/pull/618 Now it contains a minimalist  implementation of 1., 2. and 4.

[2020-01-16 17:30] lburgazzoli opened #628 "Upgrade to Apache Camel 3.0.1"

[2020-01-17 07:03] lburgazzoli commented on #628
Looks like maven central is having some issues:

[code]

[code]

[2020-01-17 07:53] oscerd commented on #628
It seems to be definitely a caching problem

https://repo.maven.apache.org/maven2/org/apache/camel/camel-util-json/3.0.1/camel-util-json-3.0.1.pom?anyparameter

it works.

[2020-01-17 09:40] lburgazzoli commented on #616
Would be nice if such tool could automatically create the `quarkus-extension.yaml` taking info from the Apache Camel Catalog

[2020-01-17 19:02] lburgazzoli opened #631 "camel-pdf: build failure in jvm mode with Apache Camel 3.0.1"
From https://github.com/apache/camel-quarkus/pull/630#issuecomment-575749725

[code]

[2020-01-17 19:03] lburgazzoli commented on #631
/cc: @aldettinger

[2020-01-17 21:29] #622 closed

[2020-01-18 09:18] ppalaga opened #635 "Dependency parity check"
Not having 1:1 match between -deployment deps in the deployment module and runtime deps in the runtime module usually leads to subtle issues, so we should consider enforcing the parity somehow.

[2020-01-18 12:15] #628 closed

[2020-01-18 12:15] #631 closed

[2020-01-20 10:08] philschaller opened #637 "Unmarshalling with Jackson in multiple routes with different classes"
**Describe the bug**
Camel unmarshalling uses only one class for all routes instead of the programmatically configured ones as used in the following line:

`unmarshal().json(JsonLibrary.Jackson, POJO_1.class)`

Calling unmarhal() in a different route (same RouteBuilder or not does not matter) with POJO_2 leads to Jackson exceptions because it expects POJO_1.

**Expected behavior**
Isolated unmarsh

[2020-01-20 10:09] lburgazzoli commented on #637
That’s a know issue that should be fixed in the next milestone

[2020-01-20 10:13] philschaller commented on #637
Sorry

Missed it in the open/closed issues.

[2020-01-20 10:14] lburgazzoli commented on #637
no worries it did not appear as an issue but pop up while discussing another topic :)

[2020-01-20 10:24] philschaller commented on #637
Ahhh, then I'm relieved :-)

[2020-01-20 14:13] ppalaga commented on #599
Thinking of this again, the advantages of producing NativeImageEnableAllCharsetsBuildItem by AHC, HTTP and other extensions would be the following:

* The JVM mode and native mode would behave more consistently.
* The behavior probably wanted by the most users would be enabled by default.

An apparent disadvantage would be that the application developer might know that his app is never going to ne

[2020-01-20 14:28] lburgazzoli commented on #599
Having component specific property is misleading i.e. you can set one it true for one component and fase for another but the result won’t be that one component support all the charset and the other one not.

It looks to me a generic quarkus issue than a camel one so we should probably let the developers choose.

[2020-01-20 17:25] ppalaga commented on #599
I was about to say that we are letting the 80% of devs to learn the hard way but then tried to find some data about the usage of the individual encodings. Found only https://w3techs.com/technologies/overview/character_encoding that is perhaps a bit Western/US-centric because it is considering just 10M most popular sites, popularity being defined by data from Alexa. But anyway, UTF-8 is most probab

[2020-01-20 20:51] ppalaga opened #640 "Lower the level of "Could not find a non-optional class for key ..." message"
... in FastFactoryFinderResolver

[2020-01-20 21:06] #617 closed

[2020-01-20 21:36] #640 closed

[2020-01-21 07:16] NFI-Chase opened #642 "java.lang.NoClassDefFoundError with JDK 11+"
When starting up the quarkus server in dev mode it gives java.lang.NoClassDefFoundError: javax/xml/bind/annotation/XmlElement.  I'm running open jdk 12.  The fix for this is attached, but if you have  a better fix please assist:
[fixXMLBindIssue.txt](https://github.com/apache/camel-quarkus/files/4089664/fixXMLBindIssue.txt)

[2020-01-21 07:17] oscerd commented on #642
You need to add that dependency explicitly. This is something changed with JDK 11.

[2020-01-21 07:17] oscerd commented on #642
We can document this for sure. Thanks for spotting this.

[2020-01-21 07:24] NFI-Chase commented on #642
cool, no problem.  should I close the issue?

[2020-01-21 07:24] oscerd commented on #642
Leave this one open, so we can remember about document this :-)

Thanks

[2020-01-21 08:16] ppalaga commented on #642
For jaxb to work flawlessly with camel-quarkus, your project needs to depend on `org.apache.camel.quarkus:camel-quarkus-core-xml` (which should transitively pull whichever artifact that contains `javax/xml/bind/annotation/XmlElement`). If this does not help, please share a minimal project demonstrating the issue.

[2020-01-21 08:23] NFI-Chase commented on #642
as per https://camel.apache.org/camel-quarkus/latest/first-steps.html , it tells you to replace org.apache.camel.quarkus:camel-quarkus-core-xml with org.apache.camel.quarkus:camel-quarkus-bom.

[2020-01-21 08:31] ppalaga commented on #642
That page recommends to use `camel-quarkus-bom` as the parent of your maven project so that you get the dependency versions of camel quarkus extensions (and their transitive dependencies) managed. There is no mention of `camel-quarkus-core-xml`. What I mean is that you need to add something like the following to your project:

[code]

[2020-01-21 08:46] NFI-Chase commented on #642
ok, I agree with that. Thank you

[2020-01-21 09:59] lburgazzoli commented on #612
@davsclaus can we close this one as we have the extension already ? or is there anything missing ?

[2020-01-21 11:09] #612 closed

[2020-01-21 11:56] #605 closed

[2020-01-21 16:37] lburgazzoli commented on #637
@philschaller do you mind sending a pr that enhance the jackson tests to include this scenario ?

[2020-01-21 16:38] lburgazzoli commented on #541
this has been fixed in graalvm 19.3.1

[2020-01-21 16:38] #541 closed

[2020-01-21 16:38] lburgazzoli commented on #540
this has been fixed in graalvm 19.3.1

[2020-01-21 16:38] #540 closed

[2020-01-21 17:06] lburgazzoli commented on #80
fixed by graalvm 19.3.1

[2020-01-21 17:06] #80 closed

[2020-01-21 20:51] #611 closed

[2020-01-22 05:56] philschaller commented on #637
You mean as part of camel-quarkus/integration-tests/jackson/ ?
No promises, but I can give it a try.

[2020-01-22 08:00] lburgazzoli commented on #637
Yes that one, if you need we can help you, just reach us here on on the camel-quarkus gitter room

[2020-01-22 13:12] #624 closed

[2020-01-22 13:21] ppalaga opened #649 "MongoDB itest fails on Camel 3.1.0-SNAPSHOT"
Reproducible against the code in https://github.com/apache/camel-quarkus/pull/651

The log:

[code]

[2020-01-22 13:22] ppalaga opened #650 "The MicroProfile test fails against Camel 3.1.0-SNAPSHOT"
The log (JVM mode):

[code]

[2020-01-22 13:24] lburgazzoli commented on #649
This is probably related to some changes introduced on master @jamesnetherton was looking at, see https://github.com/apache/camel-quarkus/issues/544

[2020-01-22 13:25] jamesnetherton commented on #649
Yes, I have some WIP locally that'll fix this up.

[2020-01-22 13:31] jamesnetherton commented on #650
Perhaps a side effect of [CAMEL-14398](https://issues.apache.org/jira/browse/CAMEL-14398).

[2020-01-22 13:34] ppalaga commented on #650
@jamesnetherton any quick idea how to fix it?

[2020-01-22 13:36] lburgazzoli opened #652 "Automate tests against camel and quarkus master"
As long term we need to make the process of testing against camel and quarkus master done on regular basis so would be nice if we could create some branches like:

- camel-master
- quarkus-master

ad set up some action that do the backport from camel-quarkus master to those branches

[2020-01-22 13:36] lburgazzoli commented on #652
Relates to https://github.com/apache/camel-quarkus/pull/651

[2020-01-22 13:45] jamesnetherton commented on #650
@ppalaga Not really without digging into it. History is turned on in `CamelMicroProfileMetricsRecorder` depending on a boolean config value.

I can take a look later if you want.

[2020-01-22 13:56] jamesnetherton commented on #649
@lburgazzoli Actually I think we need to stick with the legacy driver for now.

What we really want is for Camel to stop using the deprecated Mongo driver uber-jar, and do like Quarkus in migrating to the newer `mongodb-driver-sync`. I can raise a Camel ticket for that. No idea how much work it would involve.

[2020-01-22 13:58] ppalaga commented on #650
That would be nice, thanks!

[2020-01-22 14:00] lburgazzoli commented on #649
I think we moved away from the old client and we now use the client interface so it should be "simple"

[2020-01-22 14:05] jamesnetherton commented on #649
Yep, that's one part of it - but camel-mongodb still uses other deprecated APIs which require the presence of the legacy driver dependency.

[2020-01-22 14:06] lburgazzoli commented on #649
uff

[2020-01-22 14:07] lburgazzoli commented on #649
wonder if we should remove them, maybe add some deprecation on 3.0.x if needed

[2020-01-22 14:14] jamesnetherton commented on #649
I think its mostly internal usage for the component, so probably no need for deprecation.

It'd be good if the component could move to the newer driver in 3.1.x.

[2020-01-22 14:26] aldettinger opened #653 "Create a camel-bindy extension"

[2020-01-22 14:33] jamesnetherton commented on #649
I raised [CAMEL-14423](https://issues.apache.org/jira/browse/CAMEL-14423).

It's not a hard dependency for resolving this issue or #544. For now, we can live with including the legacy driver until the component moves to using the updated APIs.

[2020-01-22 16:10] lburgazzoli opened #654 "fhir native compilation is eating up lot of memory"
The native compilation of the camel-fhir extension is quite demanding in term of resources and the native-process easily reach 14GB of RSS (which is the hard coded limit the native-image can reach) which make not possible to test the fhir extension as examplle with GitHub Actions.

We should investigate how to optimize the build of the fhir extension

[2020-01-22 16:10] lburgazzoli commented on #654
/cc @johnpoth

[2020-01-22 16:13] lburgazzoli commented on #654
I did try to limit the memory the native-image can require but in that case either the build take too long or fails because of OutOfMemory

[2020-01-22 16:27] johnpoth commented on #654
@lburgazzoli are you running native compilation with all FHIR specifications enabled ? (DSTU2...R5)

Also what is the acceptable memory consumption when doing native compilation for a quarkus extension? Certainly not 14GB but I do feel like it's higher than average.

When testing I noticed that the more Java reflection FHIR used, the more memory consumption occurred when doing native compilation.

[2020-01-22 16:33] lburgazzoli commented on #654
I'm running the test suite for the fhir extension so in native mode it should take into account only a single specification.

I don't have any specific number in mind about how much memory a native-compilation can take but the public CI we can use have limitations around 7/8 GB so we should take that into account.

[2020-01-22 16:43] lburgazzoli commented on #654
I do not know if it could make sense to split the extension in code and specifications so we do not include any specification or 3th party library that is not strictly needed. I know that we do already have flags that tweak what we do include but the dependencies are still on the classpath and I'm not sure substrate can easily find what code paths are truly not possible thus they can be excluded f

[2020-01-22 16:50] johnpoth commented on #654
@lburgazzoli I thought we were already doing that with the said flags. It would be cool if there was a substrate "flag" to ignore the specification libraries not used on the classpath. This would avoid creating as you suggested camel-fhir-dstu3 etc... quarkus extensions.

Another options would be to add the specification Maven dependencies in Profiles.

[2020-01-22 16:56] lburgazzoli commented on #654
I do not even know if doing that would really lower the requirements, just the first thing that came into my mind :)

[2020-01-22 16:59] johnpoth commented on #654
ah ok :) I'll look into it

[2020-01-22 17:02] jamesnetherton commented on #650
Seems to be caused by `CamelMain.postProcessCamelContext`. The auto configuration stuff is turning off message history on the `CamelContext` and overriding what the metrics extension previously configured.

[2020-01-22 17:47] jamesnetherton commented on #649
Turns out we do have a incompatibility issue :disappointed: .

I thought Quarkus had bumped to the latest version of the Mongo driver, but they are still on 3.10.x, which is not compatible with 3.12.x used in Camel 3.1.0.

It seems fixable with some dependency overrides on our side. Otherwise we need https://github.com/quarkusio/quarkus/pull/6347 merged for Quarkus 1.2.0.Final.

[2020-01-22 22:07] #619 closed

[2020-01-23 05:07] #599 closed

[2020-01-23 08:38] lburgazzoli commented on #650
We can probably workaround that by moving the registration of the message history metrics at runtime through a `MainListener.configure` and check that the `CamelMicroProfileMetricsConfig.enableMessageHistory` and the message history are properly ar in a consistent state, otherwhise we should log a warning

[2020-01-23 13:57] #650 closed

[2020-01-23 14:58] #304 closed

[2020-01-23 15:30] johnpoth commented on #654
Quick update. I've tried removing the dependencies mentioned above and also removing the quarkus BuildSteps in [FhirProcessor](https://github.com/apache/camel-quarkus/blob/master/extensions/fhir/deployment/src/main/java/org/apache/camel/quarkus/component/fhir/deployment/FhirProcessor.java#L77) but I still get 11 GB of memory use. Further investigation is needed to understand whats taking up all th

[2020-01-23 16:59] #635 closed

[2020-01-23 16:59] #518 closed

[2020-01-24 07:13] jamesnetherton commented on #649
@ppalaga I sent a PR to your fork https://github.com/ppalaga/camel-quarkus/pull/2 which should fix this.

[2020-01-24 16:47] johnpoth commented on #654
The 11 GB mentioned above was mainly due to camel-quarkus-core-xml dependency. I've removed the dependency from camel-fhir.

The main memory usage is now coming from enabling field reflection on the FHIR model classes [1]. I've sent a message to the quarkus guys to see if this is expected (the feedback so far is this is expected).

During my testing i've also noticed camel-xslt extension requires

[2020-01-24 16:58] lburgazzoli commented on #654
You need to constraint the environment to see how much memory the native-image really requires as the native-image usually demand 80% of the physical memory with max 14 GB so it may be ok to see other extension such has the xslt one to consume 12 GB.

So if by removing xml you are now down to 11 GB there may be a change it will work with a constrained environment (you can set the native image max

[2020-01-29 11:33] jamesnetherton opened #670 "PDF itest fails in native mode when building the font cache"
Having worked around [CAMEL-14452](https://issues.apache.org/jira/browse/CAMEL-14452), I now see the following when the PDF test is run in native mode with Camel 3.1.0. I think PDFBox tries to do some local font caching, which may be the cause of this.

[code]

[2020-01-29 11:38] lburgazzoli commented on #670
I saw that in the past but unable to reproduce reliably so its probably related to the font set-up of the system that runs the build (i.e. never seen that happening on CI)

[2020-01-29 13:36] jamesnetherton commented on #670
Happens for me with the master branch too. You're right though, on CI builds it seems ok (not sure how).

Some related issues:

https://issues.apache.org/jira/browse/PDFBOX-4548
https://issues.apache.org/jira/browse/TIKA-2862

[2020-01-29 15:47] kazik666 opened #671 "Camel routes with xslt doesn't work in dev mode"
Hi,

I've problem with running my camel quarkus application(Which contains route to xslt) in native mode. I've got an error:
Caused by: org.apache.camel.RuntimeCamelException: java.lang.NoSuchMethodException: org.apache.camel.component.xslt.XsltBuilder.<init>
        at org.apache.camel.support.ObjectHelper.newInstance(ObjectHelper.java:222)
        at org.apache.camel.impl.engine.DefaultInjector.

[2020-01-29 16:21] oscerd commented on #671
You need to use the camel-quarkus-xslt extension and not the plain camel-xslt component as dependency. You're using plain Camel in that way and that's normal that it doesn't work in native.

[2020-01-29 16:31] ppalaga commented on #671
Yes, here is an example: https://github.com/apache/camel-quarkus/blob/master/integration-tests/xslt/pom.xml#L33-L36

[2020-01-29 18:57] kazik666 commented on #671
Thanks for the clarification.

[2020-01-30 09:35] kazik666 commented on #671
It's work fine when i'am running application using runner in java or native mode, but there is a problem when i'am running application using dev mode:
./mvnw compile quarkus:dev
I've got an error:
Caused by: java.lang.IllegalStateException: Could not find the XSLT resource xslt/add_customer.xslt in the classpath

[2020-01-30 10:32] ppalaga commented on #671
That might be a real problem. Could you please rename the issue accordingly?
Let me try to reproduce.

[2020-01-30 10:41] hanzo2001 opened #673 "Incredible use of RAM even on small example/rest-json"
`GraalVM 19.3.1`
`OpenJDK 11.0.5`

I have recently started exploring Quarkus for compiling some Camel projects down to native but I am having some serious RAM issues.
I have mistakenly tried some of my own projects before testing the examples provided here.

However, now that I have tried a simple camel-quarkus example as described in [https://camel.apache.org/camel-quarkus/latest/first-steps.html

[2020-01-30 11:06] ppalaga commented on #673
Sounds like you do not like the amount of RAM spent by the native image compilation. If that's really the problem:

* yes, it is known. The more RAM the faster the native compilation.
* You can set a limit passing `-Dnative-image.xmx=Ng` where N is the number of gigabytes the native image compilation can use.

[2020-01-30 11:08] oscerd commented on #673
By the way you should not use a plain camel component like camel-jackson in Quarkus

[2020-01-30 11:13] hanzo2001 commented on #673
I didn't notice that! I used the example available from this repository and did not give a second look. I double checked and the current commit for master has it this way. I will change it to the adequate dependency and report back if there are any changes.

[2020-01-30 11:14] hanzo2001 commented on #673
Ok, cool to know. I was having issues with other projects when my system ran out of RAM and started swapping like crazy which made everything grind to a halt

Thank you. I will test this now

[2020-01-30 12:57] hanzo2001 commented on #673
I swapped the `camel-jackson`  for `camel-quarkus-jackson` and the results are as follows:
[code]
Now it took more than twice as much time but I believe that increase might be due to the OS swapping pages into the harddrive (1.2GB). This did not occur in the previous test.

I then tested with the memory limiting parameter `-Dnative-image.xmx=8g`

[code]

Now it takes more than triple the amount of

[2020-01-30 12:58] #673 closed

[2020-01-30 13:22] jamesnetherton commented on #468
I'll close this since we no longer use ASF infra for native mode testing.

[2020-01-30 13:22] #468 closed

[2020-01-30 13:23] jamesnetherton commented on #653
Fixed in https://github.com/apache/camel-quarkus/commit/f7d07bc787e79706c78f731374484418af13329e.

[2020-01-30 13:23] #653 closed

[2020-01-30 13:45] hanzo2001 opened #675 "RabbitMQ support"
As suggested in [https://camel.apache.org/camel-quarkus/latest/list-of-camel-quarkus-extensions.html](https://camel.apache.org/camel-quarkus/latest/list-of-camel-quarkus-extensions.html)

For the time being, I'll try my luck

I would like to be able to compile my project down to native eventually. If I can help in any way (other than writing the extension and reporting errors), please let me know.

[2020-01-30 22:23] ppalaga commented on #675
Yeah, try to scaffold the extension as documented in https://camel.apache.org/camel-quarkus/latest/contributor-guide.html#_create_a_new_extension and implement some tests. That's the safest way to figure out what is missing for the native mode. Feel free to ask here if you have specific questions.

[2020-01-31 09:27] kazik666 commented on #671
Sure.

[2020-02-01 14:40] philschaller commented on #637
Solved by 1.0.0-M3

[2020-02-01 14:40] #637 closed

[2020-02-04 12:46] aldettinger commented on #670
If one could reproduce this issue, I would be curious to see whether this [workaround](https://github.com/quarkusio/quarkus/blob/master/extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java#L69..L73l) would help ?

[2020-02-04 13:02] jamesnetherton commented on #670
From what I can see, the only reason it passes on the CI builds is because the native build is done in Docker and the `ubi-quarkus-native-image` has no fonts installed. Therefore, no font loading or caching is attempted. It always fails for me when building the native executable on the host, since I do (obviously) have fonts installed.

Using `RuntimeInitializedClassBuildItem` for `PDType1Font` on

[2020-02-05 11:00] johnpoth commented on #162
I can take a look at this

[2020-02-05 11:58] jamesnetherton opened #680 "Create a camel stream extension"

[2020-02-05 13:26] aldettinger opened #681 "Create a camel gson extension"

[2020-02-05 16:56] jstakun opened #683 "Timer not fired in native mode"
Hello

I've got route initated by timer. In java mode it works fine, but in native mode it doesn't seem to be initiated. Even simple test fails in native mode:

` <route id="timer-test-route">
        <from id="timer-test" uri="timer://testTimer?period=10s"/>
        <log id="_log41" message="this test timer is fired every 10 second"/>
   </route>`

2020-02-05 17:55:44,449 INFO  [org.apa.cam.mai.B

[2020-02-05 16:58] oscerd commented on #683
Can you show what you have in your POM?

[2020-02-05 17:01] jstakun commented on #683
https://github.com/jstakun/wildwest-bot/blob/quarkus/wildwest-bot/pom.xml
Actually it seems from the log my route is not started at all

[2020-02-06 08:28] jstakun commented on #683
What should be correct value for camel.main.xml-routes

In examples you are using:

`camel.main.xml-routes = file:src/main/resources/routes/my-routes.xml`

But this doesn't work for me in both java and native mode.
I've tried:

`camel.main.xml-routes = classpath:/spring/camel-routes.xml`

and this works for me only in java mode

[2020-02-06 08:48] lburgazzoli commented on #683
`camel.main.xml-routes` is a runtime property so
- if you use `file` scheme, the file files should be readable by the application when the application runs, maybe you need to check from where the application is started and see if you can read that file.
- if you use the `classpath`, then you need to embed the file in the native image, otherwise if won't be available from the classpath, see [this](