[2020-02-06 09:01] lburgazzoli commented on #683
I did try the [example](https://github.com/apache/camel-quarkus/tree/master/examples/timer-log-xml) we provide and everything works in both native and jvm mode:

[code]

[2020-02-06 09:09] lburgazzoli opened #684 "Upgrade to quarkus 1.3.0.Alpha1"

[2020-02-06 09:25] jstakun commented on #683
Thanks! This was missing part for me. After adding resources-config.json it works like a charm in both java and native mode.

[2020-02-06 09:25] #683 closed

[2020-02-06 13:07] #680 closed

[2020-02-06 17:17] lburgazzoli opened #686 "Ensure that catalog files are added to the native image"
Camel artifacts may brings some json files i.e. the http component brings `org/apache/camel/component/http/http.json` that are used by the runtime camel catalog.

We should ensure those files are added to the native image and have an option to disable camel catalog at all.

[2020-02-06 17:22] #684 closed

[2020-02-07 09:23] jamesnetherton opened #688 "Create extension mojo not working after Quarkus 1.3.0.Alpha1 upgrade"
Step 5 in the 'Create a new extension' [contributor guide](https://camel.apache.org/camel-quarkus/latest/contributor-guide.html#_create_a_new_extension) does not seem to work after the upgrade to Quarkus 1.3.0.Alpha1.

[code]

[2020-02-10 10:33] ppalaga opened #690 "Do not expose mutable collections from FHIR BuildItems"
BuildItems should not expose mutable collections because they are consumed from concurrent threads. Mutability does not seem to be required here. Making the properties immutable would simplify the reasoning about the code.

This applies at least to

* Dstu2PropertiesBuildItem
* R5PropertiesBuildItem
* R4PropertiesBuildItem
* Dstu3PropertiesBuildItem

[2020-02-11 09:18] jamesnetherton opened #692 "Create a camel olingo4 extension"

[2020-02-11 09:36] johnpoth opened #694 "quarkus-maven-plugin generate application.properties file for IT tests"
When creating new extensions, it'd be cool to have the quarkus-maven-plugin generate the application.properties file for IT tests

[2020-02-11 09:50] ppalaga opened #695 "Unable to GET an https URL with netty-http client"
Steps to reproduce: enable "netty-http" in `integration-tests/http/src/test/java/org/apache/camel/quarkus/component/http/it/HttpTest.java` https://github.com/apache/camel-quarkus/pull/697/files#diff-829f912f061c8d9bd2c05e5b8e30da82R55 and run the test.

It fails already in the JVM mode, the server responds with 400, so I guess there is something wrong with the request.

Any ideas @jamesnetherton @

[2020-02-11 09:52] ppalaga opened #696 "Test HTTPS with the HTTP clients"
There is currently not HTTPS scenario for "ahc", "http" and "netty-http" components in `integration-tests/http`. Let me add one.

[2020-02-11 11:40] jamesnetherton commented on #695
I think you may need to provide a trust store with the cert chain for `rescountries.eu`. E.g something like:

[code]

[2020-02-11 15:16] johnpoth opened #699 "Remove UnbannedReflectiveBuildItem + policy extension ?"
When a component uses the `camel-api-component-maven-plugin` (`olingo4`, `box`, `fhir`, `zendesk` etc...)  one has to register the Configuration classes for reflection using `ReflectiveClassBuildItem`.
With the Policy extension, one also has to register the same classes with `UnbannedReflectiveBuildItem` or else the build fails.

Since these are valid uses of `ReflectiveClassBuildItem` I really do

[2020-02-11 15:17] #692 closed

[2020-02-11 15:43] ppalaga commented on #699
We currently ban classes annotated with `@org.apache.camel.spi.UriParams` that actually should not need reflection, because there are means on the Camel site how to avoid it. If those means do not work, one should file a Camel issue or even better fix it on the Camel side. Unbanning should be seen only as a temporary measure to make things work. Registering for reflection comes at some cost (image

[2020-02-11 15:49] lburgazzoli commented on #699
I'd say that we should trust a little extensions developers and thus evaluation should be done mainly through the PR review process.

[2020-02-11 15:50] johnpoth commented on #699
I'm not sure I understand, some classes annotated with `@org.apache.camel.spi.UriParams` do need reflection, so why make the build fail ?

[2020-02-11 15:53] oscerd commented on #699
Because on the camel side there were efforts to avoid reflection and there are multiple commits where this is visible on each component. It wasn't possible to do this on all the components btw, so I agree the build should not fail.

[2020-02-11 15:58] johnpoth commented on #699
I agree with @lburgazzoli, @oscerd
Build failures should really only occur in critical situations. IMO this hurts the overall developer experience here

[2020-02-11 16:45] ppalaga commented on #699
I am sorry for the inconvenience, but I still think that registering a class for reflection that belongs to a well known group that is expected not to need it, should not go without checking it properly.

Speaking for me, I do not feel able to eval during the review by pure sight whether some Camel class has some specific annotation. I think the policy does some useful work there. If we really wan

[2020-02-11 16:54] jamesnetherton commented on #699
As a compromise, can we not just log a message at `WARN` or `DEBUG` level if `UriParams` stuff is registered for reflection? At least that'll give an easy way to track stuff down for investigation.

[2020-02-11 16:58] lburgazzoli commented on #699
I think the warning is the right thing as it also avoid to keep a list of white listed classes (that needs to be maintained)

[2020-02-11 17:04] ppalaga commented on #699
OK, accepting that the policy is not seen as useful by the majority and thus also switching to passive mode for the solving of the underlying problem.

[2020-02-11 21:46] ffang commented on #472
the native test failure comes back again with GraalVM Version 19.3.1 CE
[code]

[2020-02-11 22:20] jamesnetherton commented on #472
Yes, it's covered here https://github.com/apache/camel-quarkus/issues/670.

It's not related to the GraalVM version.

[2020-02-12 00:39] ffang commented on #472
@jamesnetherton ,thanks for the update!

[2020-02-12 16:39] #696 closed

[2020-02-12 20:36] ppalaga opened #706 "Improve RuntimeCatalogConfig docs"
https://issues.apache.org/jira/browse/CAMEL-14545 asks for providing a page that explains what is Camel Catalog and what it is good for. Once that page is ready a link to it should be added to RuntimeCatalogConfig.

This is a followup of https://github.com/apache/camel-quarkus/pull/704

[2020-02-12 22:25] ffang commented on #670
create a PR to fix this issue here
https://github.com/apache/camel-quarkus/pull/707

[2020-02-13 07:18] #686 closed

[2020-02-13 08:50] aldettinger commented on #670
I tried to reproduce this issue locally by deleting the font cache to no avail. I was able to rebuild the font cache in quarkus jvm mode, hosted native mode and docker native mode, so the condition to reproduce this issue might be finer than that.

I've tried the fix from @ffang locally, and still no issue :+1:. @jamesnetherton Do you still experience the issue when running pdf integration-tests f

[2020-02-13 08:55] jamesnetherton commented on #670
Yes, it seems to work now. Thanks @ffang.

Would be good to reinstate the `font=Courier` option in `PdfResource` after we upgrade to 3.1.0 to verify we definitely have fixed the problem(s).

[2020-02-13 09:05] aldettinger commented on #670
ok, I propose to close this issue and open another one to restore the test coverage for the font option in 3.1.0 then. Well done guys :)

[2020-02-13 09:05] #670 closed

[2020-02-13 09:07] aldettinger opened #708 "Restore the testing of the font option when switching to camel 3.1.0"

[2020-02-13 09:16] aldettinger commented on #708
We should be able to restore the font option in `PdfResource.createFromText` `"pdf:create?fontSize=6&pageSize=PAGE_SIZE_A5&font=Courier"` when upgrading to camel >= 3.1.0 as [CAMEL-14452](https://issues.apache.org/jira/browse/CAMEL-14452) should fix the NPE.

[2020-02-13 12:21] ppalaga commented on #708
If you'd like to test against Camel master, this is the most up to date branch ATM: https://github.com/apache/camel-quarkus/pull/698

[2020-02-13 12:24] ppalaga commented on #688
Plz assign to me unless somebody else started looking into this.

[2020-02-13 12:25] ppalaga commented on #694
Plz assign to me

[2020-02-13 13:53] ppalaga commented on #694
PR sent to Quarkus https://github.com/quarkusio/quarkus/pull/7182

[2020-02-13 13:54] ppalaga commented on #688
PR sent to Quarkus: https://github.com/quarkusio/quarkus/pull/7182

A local workaround is possible too, let me send a PR.

[2020-02-13 13:58] ppalaga commented on #694
If the Quarkus PR gets merged as is, the mojo will create an empty application.properties file.

We can override the template and the question what content do we want there?

A valid license header is a minimal requirement for sure, but maybe we want more?

[2020-02-13 14:05] ffang commented on #670
@jamesnetherton @aldettinger  Thanks guys!
And without font=Courier, the default font  PDType1Font.HELVETICA is used, so I believe the pdf font initialisition in native mode should work. And yes, we should retry with font=Courier after upgrading to camel 3.1.0

[2020-02-13 16:11] ffang opened #710 "create camel-jira extension"

[2020-02-13 16:19] #688 closed

[2020-02-13 16:19] #694 closed

[2020-02-13 16:36] ppalaga commented on #627
Can't we close this one after https://github.com/apache/camel-quarkus/pull/701 ?

[2020-02-13 16:37] #627 closed

[2020-02-13 17:05] lburgazzoli opened #711 "Create extension for camel-master component"

[2020-02-13 19:56] #710 closed

[2020-02-13 20:24] ppalaga opened #713 "Revisit the Quarkus native image mojo options generated by create-extension"
At least `<enableJni>true</enableJni>` should be removed

[2020-02-13 23:20] ffang opened #715 "improve camel-jira integration test"
As the feedback here
https://github.com/apache/camel-quarkus/pull/712
Like remove additionalBuildArgs from pom.xml;
using application.properties for configuration

[2020-02-14 07:24] ppalaga opened #716 "Move the Atlassian Maven repository to the Jira runtime module."
Thinking again about where to put additional Maven repos, like https://packages.atlassian.com/maven-external that came yesterday. I thought the top level is better to keep the overview. But in the end, keeping it at the lower level is better for the build performance. Maven is searching all repos sequentially and thus reducing the number of repos for the most of the modules by sinking atlassian re

[2020-02-14 09:36] ppalaga commented on #713
They actually recommend stopping to use the `native-image` mojo altogether replacing it with

[code]

Let me try whether it works for us. https://quarkus.io/guides/building-native-image#producing-a-native-executable

[2020-02-14 10:29] ppalaga commented on #598
As noted in #713, Quarkus recommends to stop usisng the `native-image` mojo altogether replacing it with

[code]

Let's apply this for our existing itests and examples

[2020-02-14 13:28] ppalaga opened #721 "NoSuchMethodError: TransformerFactory.newInstance(String,ClassLoader) in dev mode"
Probably after the upgrade to Quarkus 1.3.0.Alpha1 that brought the new class loading.

Steps to reproduce

[code]

This might be a class loading issue.

[2020-02-14 13:28] ppalaga commented on #671
I have hit a different issue when I tried to reproduce https://github.com/apache/camel-quarkus/issues/721

[2020-02-14 16:10] ppalaga opened #723 "Surefire 3.0.0-M4 passing even if a build step throws an exception"
The XsltProcessor is throwing NoSuchMethodError when the app is augmented for testing (the same exception is mentioned in #721 for the dev mode). However with maven-surefire-plugin 3.0.0-M4, this exception is swallowed and the whole build is passing and 0 tests run are reported:

[code]

When the maven-surefire-plugin is downgraded to 2.22.1, it fails as expected:

[code]

I have just reported thi

[2020-02-14 17:59] #716 closed

[2020-02-14 18:00] #713 closed

[2020-02-15 09:31] #598 closed

[2020-02-17 11:54] davsclaus opened #726 "camel-quarkus - Optimize to not allow adding new routes"
Lets make camel-quarkus optimized OOTB and set this as false by default
https://issues.apache.org/jira/browse/CAMEL-14580

// optimize to not allow adding new routes at runtime which reduces memory footprint with 10kb
camel.main.allow-adding-new-routes = false

[2020-02-17 14:41] jamesnetherton commented on #708
I've applied the change & verified that this works fine on the `camel-master` branch.

[2020-02-17 14:41] #708 closed

[2020-02-17 15:51] #715 closed

[2020-02-17 15:51] #162 closed

[2020-02-17 17:19] aldettinger opened #729 "Create dataformats-json itests from jackson itests"
The idea is that dataformats-json will generalize all json marshaling related itests from jackson itests.

[2020-02-19 08:54] #729 closed

[2020-02-19 13:46] #721 closed

[2020-02-19 17:18] #681 closed

[2020-02-20 08:39] jamesnetherton opened #739 "Create a XPath language extension"
https://camel.apache.org/components/latest/xpath-language.html

[2020-02-20 11:44] jamesnetherton opened #740 "Salesforce extension does not work in native mode"
The image builds but a simple test fails:

[code]

[2020-02-20 13:20] mmelko commented on #675
I can look at this

[2020-02-21 09:51] #740 closed

[2020-02-21 12:30] bframke opened #743 "Kafka Component Writing Messages with ProducerTemplate"
We currently are trying to send a high load of messages from an Test over an Camel Application with the Kafka Component. We use the ProducerTemplate to send Body and Headers over the given route for the Topic but most of the times get stuck. Its like the ProducerTemplate just wont get finished with its Task.

We also tried to put the sendBodyAndHeaders into extra Threads so that we don't clog one

[2020-02-22 09:45] davsclaus commented on #743
You should not create a new producer template per request, see the FAQ
https://camel.apache.org/manual/latest/faq/why-does-camel-use-too-many-threads-with-producertemplate.html

[2020-02-24 02:13] hanzo2001 commented on #675
Sorry, I've been too busy this entire month. I might have some time next next week but I'm not sure with my current issues.

[2020-02-24 09:23] jamesnetherton opened #747 "Camel MongoDB extension does not register camelMongoClient bean"
There's some logic in the Camel MongoDB extension that's supposed to fetch the client created by the Quarkus Mongo extension and register it as a bean in the Camel registry. This does not seem to be working due to https://github.com/quarkusio/quarkus/issues/7378.

Currently, the MongoDB itest is only passing by virtue of it manually producing the required client bean.

[2020-02-24 09:40] ppalaga commented on #743
You can inject the ProducerTemplate as we do e.g. here https://github.com/apache/camel-quarkus/blob/1.0.0-M3/integration-tests/base64/src/main/java/org/apache/camel/quarkus/component/base64/it/Base64Resource.java#L39-L40

[2020-02-24 10:01] jamesnetherton opened #748 "FhirDataformatTest failure -TransformerFactoryImpl not found"
Because of the surefire behaviour observed in https://github.com/apache/camel-quarkus/issues/723. `FhirDataformatTest` is silently failing.

If you run with `mvn clean test -Dmaven-surefire-plugin.version=2.22.1` then you see `FhirDataformatTest` fail with:

[code]

[2020-02-24 12:12] ppalaga opened #752 "Test the Jira extension using Testcontainer and the Jira image"
The README [1] in the itest states that the test can be run against a manually started container using the Jira Image [2]. I wonder whether this can be automated via Test containers as we do with Consul and other extensions.

[1] https://github.com/apache/camel-quarkus/pull/728/files#diff-946d5ce322e8e8d37da82de18d75551cR5
[2] https://hub.docker.com/r/atlassian/jira-software

[2020-02-24 12:16] oscerd opened #753 "Camel-Jira extension: Enforcer rules are failing on the module"
[code]

[2020-02-24 12:43] jamesnetherton commented on #752
I thought about doing this, but the problem is that it needs a development license key to run and they expire every 90 days.

[2020-02-24 12:45] #748 closed

[2020-02-24 12:52] jamesnetherton commented on #753
From what I understand `j2objc-annotations` is an Android compatibility thing, so we should maybe exclude it.

I'll run the Jira tests locally to verify.

[2020-02-24 14:04] ppalaga commented on #752
Good to know, thanks for the info.

[2020-02-24 15:48] Hashtagin commented on #564
Should be a great idea !

[2020-02-24 18:11] davsclaus opened #756 "Cannot build examples/timer-log in native mode"
❯ mvn clean package -Pnative
[INFO] Scanning for projects...
[INFO]
[INFO] -----< org.apache.camel.quarkus:camel-quarkus-examples-timer-log >------
[INFO] Building Camel Quarkus :: Examples :: Timer Log 1.1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-clean-plugin:3.1.0:clean (default-clean) @ camel-quarkus-examples-timer-log --

[2020-02-24 18:12] davsclaus commented on #756
Looks like some REST stuff is pulling in xml bits

[2020-02-24 19:08] davsclaus commented on #756
Adding `camel-quarkus-core-xml` makes it work, but would be good to get it to run without as we are not in need of xml

[2020-02-25 06:05] bframke commented on #743
Changed it to Injection, but the same problem still appears. Just trying to send 200 Messages and it gets stuck on the 46th message.

[2020-02-25 07:08] bframke commented on #743
Small Update: Our Project is combined with Quarkus and the project build as a Native Image does not have this Problem. As a Jar this error always happens.

[2020-02-25 07:40] lburgazzoli commented on #743
@bframke would it be possible to isolate the issue in a pure java/camel project ?
It does not look like a camel-quarkus specific thing to me

[2020-02-25 07:44] bframke commented on #743
I try to do that.

[2020-02-25 07:49] jamesnetherton opened #757 "Jira integration test fails in native mode"
Thought I caught all of the problems but there's an issue at runtime:

[code]

[2020-02-25 08:45] bframke commented on #743
Okay, so I build a basic JavaApplication with Camel Dependencies and sending 1000 messages via producerTemplate is not a problem.

[2020-02-25 09:11] johnpoth commented on #690
@ppalaga

The idea here is to allow the user to add FHIR resources to the FHIR context before recording. Otherwise you'll get a ClassNotFoundException. See https://wiki.hl7.org/FHIR_Custom_Resources

[2020-02-25 09:23] bframke commented on #743
So not using RestEasy Endpoint to send the messages via ProducerTemplate does also work in the Quarkus Application

[2020-02-25 09:29] lburgazzoli commented on #743
I was about to suggest to remove resteasy, mind opening an issue on [quarkus](https://github.com/quarkusio/quarkus) and reference this one ?

[2020-02-25 09:45] bframke commented on #743
Just created an issue there.

[2020-02-25 09:50] lburgazzoli commented on #743
noticed that the example provided there has a loop inside the `sendEventToTopic` which may be misleading

[2020-02-25 09:51] bframke commented on #743
Thanks, that was the left overs of a test 👍

[2020-02-25 10:22] bframke commented on #743
Made another test with REST-DSL and Netty-Http, both are the components from Camel and it also works fine. So calling a RESTEasy Endpoint to create one Route and then call the created Camel Route works also.

[2020-02-25 10:29] lburgazzoli opened #759 "Upgarde Camel to v3.1.0"

[2020-02-25 10:30] lburgazzoli opened #760 "Upgarde Quarkus to v1.3.0.Final"

[2020-02-25 10:31] #757 closed

[2020-02-25 10:31] #753 closed

[2020-02-25 11:12] bframke commented on #743
Trying to use it with "from" and a "processor" for the message and a "to" to the kafka it gets stuck.

With "rest", "post", "consumes", "to" kafka it works, but then we have no processor available for our messages.

[2020-02-25 11:19] bframke commented on #743
Okay "from" and "rest" combined also works without a problem.

[2020-02-25 12:14] ppalaga commented on #671
I cannot reproduce with the current Camel Quarkus master branch.

@kazik666 could you please confirm that the following steps should reproduce your issue?

[code]

The above starts the app properly in the dev mode

Check whether the app works, in a separate terminal:

[code]

The output contains `<cheese>` as expected.

The live reload after changing the source of the app works too.

[2020-02-25 14:06] bframke commented on #743
Well it looks like logging is the problem here. After doing the rebuild to route only with processor we checked with Visual-VM and saw that one Thread just gets stuck on writing out to log.

We tried the Camel Logging Component and SLF4J-Logger and both got the Thread stuck at some point. Without logging it works fine.

[2020-02-25 15:47] jamesnetherton opened #761 "Create Azure component extension"
https://camel.apache.org/components/latest/azure-blob-component.html

https://camel.apache.org/components/latest/azure-queue-component.html

[2020-02-25 17:00] ppalaga opened #762 "gRPC native support"
Waiting for gRPC support by Quarkus itself. Related:

* https://github.com/quarkusio/quarkus/issues/5627
* https://github.com/quarkusio/quarkus/issues/820
* https://groups.google.com/forum/#!msg/quarkus-dev/FpPN5Bei6-0/2YtEXSxoDgAJ

[2020-02-25 20:53] ppalaga commented on #743
Out of curiosity: would mind testing if the same problem occurs with an `org.jboss.logging.Logger`? Here an example how to create it:
https://github.com/apache/camel-quarkus/blob/master/integration-tests/base64/src/main/java/org/apache/camel/quarkus/component/base64/it/Base64Resource.java#L37

[2020-02-26 07:23] bframke commented on #743
Tried it out and got stuck. From VisualVM I have this information regarding how it gets stuck. The State is RUNNABLE but you can see that nothing is happening on it.

[code]

[2020-02-26 07:35] ppalaga commented on #743
Thanks a lot for the info, @bframke! Do you happen to have a shareable reproducer at hand?

[2020-02-26 07:37] bframke commented on #743
I can create one. Also tested Logging via extra route in Camel, but this also got stuck after 534 messages.

[2020-02-26 07:38] ppalaga commented on #743
That would be awesome, thanks!

[2020-02-26 07:55] bframke commented on #743
Created an Reproducer, you can find it here: https://github.com/bframke/quarkus-examples/tree/master/camel-logging

[2020-02-26 08:22] ppalaga opened #763 "SOAP dataformat support"

[2020-02-26 08:24] ppalaga opened #764 "CXF JAX-WS support"
A.k.a. SOAP client and SOAP server.

Related:

* https://github.com/quarkusio/quarkus/issues/4005
* https://github.com/quarkusio/quarkus/issues/3479
* https://github.com/quarkusio/quarkus/pull/5538

[2020-02-26 11:08] ppalaga opened #765 "Git support"
There is a stale PR https://github.com/apache/camel-quarkus/pull/460 by @cunningt

[2020-02-26 14:06] cunningt commented on #765
Can you assign to me?   I'll get this rebased and in.

[2020-02-26 19:55] ppalaga commented on #424
We already support sjms and sjms2. Could somebody please remove camel-jms from the title?

[2020-02-27 08:27] ppalaga opened #766 "ServiceNow support"

[2020-02-27 08:40] lburgazzoli commented on #695
is this still a thing ?

[2020-02-27 08:47] jamesnetherton opened #767 "Add support for camel-jms"
Ideally this should be implemented before #424 & #143.

[2020-02-27 08:49] jamesnetherton commented on #143
@zhfeng if it's ok with you, I can take this issue. I have a basic test working in native mode.

[2020-02-27 08:54] zhfeng commented on #143
sure, @jamesnetherton and re-assign this issue to you.

[2020-02-27 08:58] zhfeng commented on #143
I think both camel-jms and camel-amqp are based on the spring. So is this still the problem with the quarks and I think the https://github.com/quarkusio/quarkus/issues/3436 I met before ?

[2020-02-27 10:16] ppalaga commented on #223
@carlosthe19916 are you still interested to look into this?

[2020-02-27 11:36] ppalaga opened #769 "XChange native support"
@tdiesler would you give this a try?

[2020-02-27 11:39] ppalaga opened #770 "IPFS native support"
@tdiesler would you give this a try?

[2020-02-27 11:41] ppalaga opened #771 "Weka native support"
@tdiesler would you give this a try?

[2020-02-27 11:44] ppalaga commented on #695
Yes, certainly, as I had no time to try James's advice.

[2020-02-27 12:14] ppalaga opened #772 "JOOQ support"
Related https://github.com/quarkusio/quarkus/issues/7440

[2020-02-27 12:32] #544 closed

[2020-02-27 12:32] #74 closed

[2020-02-27 13:24] mmelko commented on #763
I can look at this

[2020-02-27 16:00] aldettinger opened #775 "Add support for camel-johnzon extension"

[2020-02-27 17:14] jamesnetherton opened #776 "Gson integration test fails with Camel 3.1.0"
This slipped through the Camel 3.1.0 upgrade due to #723.

[code]

[2020-02-27 17:14] jamesnetherton commented on #776
/cc @aldettinger

[2020-02-27 17:16] #761 closed

[2020-02-27 18:10] dufoli commented on #764
Soap server is on good way with cxf. I need to check what is the possibilities to add client side too.

[2020-02-27 18:57] carlosthe19916 commented on #223
@ppalaga My apologies for not updating this Issue before. I'm still interested in this for sure. Thb, I've created my very basic version of Native Freemarker extension here https://github.com/project-openubl/xml-builder/blob/master/extensions/freemarker/deployment/src/main/java/org/openublpe/quarkus/freemarker/deployment/FreemarkerProcessor.java. I'm not sure how much different could be using came

[2020-02-28 07:38] #498 closed

[2020-02-28 08:55] carlosthe19916 commented on #223
@ppalaga Here I've just created a very basic first draft for the camel-freemarker extension. But I still need to enhance the code https://github.com/carlosthe19916/camel-quarkus/tree/camel-freemarker

[2020-02-28 08:58] ppalaga commented on #223
@carlosthe19916 tanks for the effort! If you want an early feedback, please feel free to send a draft pull request https://github.blog/2019-02-14-introducing-draft-pull-requests/

[2020-02-28 10:04] #739 closed

[2020-02-28 10:29] ppalaga opened #780 "XML Tokenize language native support"
This might work already, maybe just a test needs to be added.

[2020-02-28 10:33] ppalaga opened #781 "Groovy language support"
Groovy is not supported on GraalVM yet, see https://github.com/quarkusio/quarkus/issues/2720

We may want to try to start supporting groovy on JVM only.

[2020-02-28 10:35] ppalaga opened #782 "Avro support"
incl. dataformat

[2020-02-28 10:37] ppalaga opened #783 "GZip Deflater support"

[2020-02-28 10:37] ppalaga opened #784 "iCal support"

[2020-02-28 10:38] ppalaga opened #785 "JacksonXML support"
This might work already, we are perhaps just missing a test.

[2020-02-28 10:40] ppalaga opened #786 "JAXB dataformat support"
This might work already, we are perhaps just missing a test.

[2020-02-28 10:41] ppalaga opened #787 "JSon XStream dataformat support"
We have a support extension (used by Salesforce, IIRC), so some parts might be there already

[2020-02-28 10:41] ppalaga opened #788 "LZF Deflate Compression dataformat support"

[2020-02-28 10:42] ppalaga opened #789 "Protobuf dataformat native support"
Followup: https://github.com/apache/camel-quarkus/issues/964

[2020-02-28 10:43] ppalaga opened #790 "Thrift support"
incl. dataformat

[2020-02-28 10:44] ppalaga opened #791 "Zip Deflate Compression dataformat support"

[2020-02-28 11:36] aldettinger commented on #776
Thanks for spotting, I'll take a look as it may impact #775 anyway.

[2020-02-28 11:38] ppalaga opened #792 "Jasypt native support"

[2020-02-28 11:38] ppalaga opened #793 "LRA native support"

[2020-02-28 11:40] ppalaga opened #794 "Caffeine native support"
caffeine-cache and caffeine-loadcache components.

[2020-02-28 11:42] ppalaga opened #795 "File Watch support"

[2020-02-28 11:43] ppalaga opened #796 "Flatpack dataformat support"
incl. dataformat

[2020-02-28 11:43] ppalaga opened #797 "JSch native support"

[2020-02-28 11:44] ppalaga opened #798 "SSH support"

[2020-02-28 11:44] ppalaga opened #799 "Tika support"

[2020-02-28 11:44] ppalaga opened #800 "XJ native support"

[2020-02-28 11:45] ppalaga opened #801 "GraphQL support"

[2020-02-28 11:47] ppalaga opened #802 "CometD support"
Probably easy to do because it is a part of Salesforce.

[2020-02-28 11:47] ppalaga opened #803 "Mustache support"

[2020-02-28 11:48] ppalaga opened #804 "Google BigQuery support"

[2020-02-28 11:49] ppalaga opened #805 "Google Calendar support"

[2020-02-28 11:49] ppalaga opened #806 "Google Drive support"

[2020-02-28 11:49] ppalaga opened #807 "Google Mail support"

[2020-02-28 11:49] ppalaga opened #808 "Google Pubsub support"

[2020-02-28 11:50] ppalaga opened #809 "Google Sheets support"

[2020-02-28 11:50] ppalaga opened #810 "Braintree support"

[2020-02-28 11:51] ppalaga opened #811 "GitHub support"

[2020-02-28 11:51] ppalaga opened #812 "Openshift support"
openshift-build-configs and openshift-builds

[2020-02-28 11:52] ppalaga opened #813 "JGroups support"

[2020-02-28 11:52] ppalaga opened #814 "JGroups raft support"

[2020-02-28 11:53] ppalaga opened #815 "Master support"

[2020-02-28 11:53] ppalaga opened #816 "Browse native support"

[2020-02-28 11:54] ppalaga opened #817 "Language component native support"

[2020-02-28 11:54] ppalaga opened #818 "Ref component support"

[2020-02-28 11:54] ppalaga opened #819 "Saga native support"

[2020-02-28 11:55] ppalaga opened #820 "Webhook component support"
Should be easy to do, the telegram is using the webhook component directly, IIRC

[2020-02-28 11:56] ppalaga opened #821 "Milo native support"
A.k.a. OPC UA Client and OPC UA Server

[2020-02-28 11:57] ppalaga opened #822 "Cron support"

[2020-02-28 11:57] ppalaga opened #823 "Quartz support"

[2020-02-28 11:58] ppalaga opened #824 "Asterisk support"

[2020-02-28 11:59] ppalaga opened #825 "Qute support"

[2020-02-28 12:33] ppalaga commented on #791
Plz assign to me

[2020-02-28 12:33] ppalaga commented on #788
Plz assign to me

[2020-02-28 12:33] ppalaga commented on #783
Plz assign to me

[2020-02-28 15:05] mmelko commented on #786
I can look at this

[2020-02-28 15:47] #810 closed

[2020-02-28 18:14] aldettinger commented on #776
I'm gonna fake the test until [CAMEL-14630](https://issues.apache.org/jira/browse/CAMEL-14630) has been solved, hopefully in camel 3.2.

Then we could remove the fake direct:Gson-type-as-header xml route, and put back the original test route, like:
        setHeader name="CamelGsonUnmarshalType">
            <constant>org.apache.camel.quarkus.component.jackson.model.DummyObject</constant>

[2020-03-01 09:46] #788 closed

[2020-03-01 09:46] #791 closed

[2020-03-01 19:58] sobkowiak opened #828 "NullPointerException when starting with quarkus:dev goal"
I have checked out the 1.0.0-M3 tag and tried to start the `timer-log` sample using `mvn clean compile quarkus:dev`. The result is

[code]
The same with previous versions. I tried also hello world created from scratch (without Camel) and it works (with the same Quarkus version)

My Java and Maven versions

[code]

[2020-03-02 01:20] zhfeng commented on #825
There is an issue [camel-qute - Quarkus template engine](https://issues.apache.org/jira/browse/CAMEL-14326) which I'm working on. It could be WIP with the [my branch](https://github.com/apache/camel/compare/master...zhfeng:CAMEL-14326)

[2020-03-02 01:22] zhfeng commented on #825
So feel free to assign this issue to me and I will try to port this component to camel-quarkus if it get in the camel 3.x

[2020-03-02 07:21] ppalaga commented on #825
Thanks for the info, @zhfeng !

[2020-03-02 07:49] tdiesler commented on #769
with pleasure

[2020-03-02 07:49] tdiesler commented on #771
with pleasure

[2020-03-02 09:27] ppalaga opened #831 "Move Groovy executions under the enforce profile"
I profiled maven builds that I execute quite often and i found that enforcer and Groovy make ~18% of the build time. enforcer is easy to skip via `-Denforce=false` but we do not have anything like that for Groovy. Given that our Groovy scripts serve a purpose quite similar to the enforcer, I propose to move the Groovy executions under the `enforce` profile, so that they all can be skipped together

[2020-03-02 09:32] ppalaga commented on #831
Actually we do that in `poms/build-parent/pom.xml` for `validate-dependencies.groovy` already. So we should do that for the other two validation groovy scripts too.

[2020-03-02 09:33] lburgazzoli commented on #831
I did propose to make at least some of them proper enforce extensions so they would obey to the enforcer semantics, a profile would be good enough but it may be something to think about.

[2020-03-02 10:43] #831 closed

[2020-03-02 13:58] #613 closed

[2020-03-02 16:32] ppalaga commented on #784
Plaz assign to me

[2020-03-03 07:58] jamesnetherton opened #836 "Optimize PR build GitHub action"
The Quarkus project has a `native-tests` job in their [GitHub CI actions](https://github.com/quarkusio/quarkus/blob/master/.github/workflows/ci-actions.yml). What's interesting is that it defines the integration tests for each functional area in a `test-modules` block.

It'd be useful to do a similar thing in our own workflow, as we could remove a lot of the boilerplate actions and duplicated logi

[2020-03-03 11:00] dc2tom opened #837 "Velocity Support"
Our team make use of camel-velocity for running message transformations.  It would be great to see a camel-quarkus extension supporting velocity.

[2020-03-03 11:19] ppalaga commented on #837
A contribution is welcome. You may want to follow https://camel.apache.org/camel-quarkus/latest/contributor-guide.html if you are interested. There is also a PR with Freemarker support under review https://github.com/apache/camel-quarkus/pull/835

[2020-03-03 13:39] ppalaga opened #838 "[Quarkus 1.6][iCal] TimeZone-less DTSTART and DTEND changed to GMT in native mode"
Probably caused by https://github.com/quarkusio/quarkus/issues/5016

As a result, only zoned DTSTART and DTEND work properly.

[2020-03-03 16:26] #784 closed

[2020-03-03 20:04] zregvart opened #842 "Don't publish integration tests during a Maven release"
Currently integration test artefacts such as `camel-quarkus-integration-test-aws` are published with the release. I think for 1.0 release we should not publish those. This can be done by adding:

[code]

To https://github.com/apache/camel-quarkus/blob/master/integration-tests/pom.xml

[2020-03-04 07:33] ppalaga commented on #842
Yes, publishing the itests is typically useless, but in our case, it was a deliberate decision, because they are run inside quarkus-platform https://github.com/quarkusio/quarkus-platform/tree/master/integration-tests

[2020-03-04 08:17] jamesnetherton opened #843 "Property binding requires reflective access to configuration classes"
As per https://github.com/apache/camel-quarkus/pull/841#discussion_r387304810, it seems property binding is not working well in native mode, as the component configuration class has to be registered for reflection in order for it to work properly.

[2020-03-04 08:54] gnodet opened #844 "Duplicate LICENSE(.txt) and NOTICE(.txt) files in the source distribution"

[2020-03-04 09:15] #767 closed

[2020-03-04 09:49] jamesnetherton commented on #843
For Paho, this problem seems fixed in camel 3.2.0-SNAPSHOT by [CAMEL-14568](https://issues.apache.org/jira/browse/CAMEL-14568). I suspect the same is true for many other extensions.

[2020-03-04 12:34] ppalaga commented on #844
@gnodet could you please sketch how did you find this issue? I have an idea where the problem is but I'd like to make sure that my fix will meet your acceptance criteria.

[2020-03-04 12:36] ppalaga commented on #844
I mean, how do I build the source distro?

[2020-03-04 13:53] gnodet commented on #844
I don't know, i just unzipped the source distribution that was being voted.
I don't see any maven assembly plugin though, it may be inherited from the apache parent pom. @oscerd any idea as you did the release ?

[2020-03-04 13:54] oscerd commented on #844
It should come from the apache parent pom and pass through the release profile

[2020-03-04 14:12] ppalaga commented on #844
OK, let me try `mvn -Prelease release:prepare -DpushChanges=false`

[2020-03-04 16:47] jamesnetherton commented on #783
Fixed in https://github.com/apache/camel-quarkus/commit/72e2d3c5a8798336b6de970e3286778c836d23d3.

[2020-03-04 16:47] #783 closed

[2020-03-04 16:49] jamesnetherton commented on #815
Duplicate of https://github.com/apache/camel-quarkus/issues/711.

[2020-03-04 16:49] #815 closed

[2020-03-04 16:50] lburgazzoli opened #847 "Support for camel-xml-io"
camel-quarkus XML support requires camel-xml-jaxb but in camel 3.1.0 there is a new lightweight implementation camel-xml-io

We probably need to have two extensions:

- camel-quarkus-xml-jaxb
- camel-quarkus-xml-jaxp
- camel-quarkus-xml-io

To match camel's layout

[2020-03-04 16:59] jamesnetherton commented on #652
Fixed in https://github.com/apache/camel-quarkus/commit/d032f1cfa24bd6987ba64dd24644d66a95412e71 & https://github.com/apache/camel-quarkus/commit/3ab385a437a74c3bd150a2f5f4443b4a57a2dbef.

[2020-03-04 16:59] #652 closed

[2020-03-04 17:04] jamesnetherton commented on #649
Fixed in https://github.com/apache/camel-quarkus/commit/d68e8b756337bc4c0ab4714feef55e0d4a26bda3.

[2020-03-04 17:04] #649 closed

[2020-03-05 10:07] #785 closed

[2020-03-05 10:18] #759 closed

[2020-03-05 10:35] aldettinger commented on #775
Closing as build issues are unrelated.

[2020-03-05 10:35] #775 closed

[2020-03-05 10:44] ppalaga commented on #842
Can we close this one, @zregvart ?

[2020-03-05 11:17] zregvart commented on #842
Is there a use case for them being published to Maven Central, are users depending on them? If not perhaps the `<skip>` can be added in the `release` profile.

[2020-03-05 11:19] oscerd commented on #842
They are used here https://github.com/quarkusio/quarkus-platform/tree/master/integration-tests as dependency. So they must be released.

[2020-03-06 09:42] #847 closed

[2020-03-06 10:33] jamesnetherton opened #852 "TrustStoreResource does not work on Java 11"
Another case that has been masked by #723.

There is no `jre/lib/security/cacerts` with JDKs >= 10 and `GRAALVM_HOME` is not set in the CI environment, hence we see:

[code]

[2020-03-06 12:11] jamesnetherton opened #853 "NoDefaultServletTest cannot find property quarkus.camel.servlet.url-patterns"
[code]

[2020-03-06 12:11] jamesnetherton opened #854 "CustomDefaultServletClassTest Failed to index: org.apache.camel.quarkus.component.servlet.test.CustomServlet"
[code]

[2020-03-06 15:01] #786 closed

[2020-03-06 15:04] #747 closed

[2020-03-07 15:34] danielwagn3r commented on #821
Especially in industry applications OPC UA is often used by actuators, sensors or gateways. This would add to the already existing support for Eclipse Paho

[2020-03-09 02:12] zhfeng commented on #825
@ppalaga as we discussed in the upstream camel PR, I think it could be better to move the camel-qute component to the camel-quarkus to avoid the a circular quarkus dependency problem.

[2020-03-09 06:47] ppalaga commented on #825
No problem with that

[2020-03-09 07:18] #787 closed

[2020-03-09 08:41] #424 closed

[2020-03-09 09:07] aldettinger commented on #819
May relate to this [PR](https://github.com/quarkusio/quarkus/pull/6763).

[2020-03-09 11:42] ppalaga commented on #819
Not sure about the details, but we have a separate issue for LRA https://github.com/apache/camel-quarkus/issues/793

[2020-03-09 12:31] #836 closed

[2020-03-10 11:36] ppalaga commented on #844
I was able to reproduce using `mvn -Papache-release release:prepare -DpushChanges=false`.

I'd say the extension-less `NOTICE` and `LICENSE` files are unwanted. They come via `org.apache.apache.resources:apache-source-release-assembly-descriptor` artifact that is added as a dependency of the assembly plugin in the apache parent: https://github.com/apache/maven-apache-parent/blob/apache-21/pom.xml#

[2020-03-10 12:35] #795 closed

[2020-03-10 13:30] ppalaga opened #865 "Re-org the source tree"
## Goals

* Reduce the number of extensions under `extensions`
* Increase the visibility of the extensions now under `extensions/support`. They are hard to find for newcomers and they are hard to scroll to for maintainers

## Non-goals (possible future goals)

* Split the extensions under `extensions` into even smaller groups, like we have in the GH workflow
* Do anything with the itests

## Curre

[2020-03-10 14:33] aldettinger opened #867 "@BindToRegistry fields need to be explicitly registered for reflection in order to work in native mode"

[2020-03-10 15:02] aldettinger commented on #867
The issue could be reproduced in mustache itests, just comment this [line](https://github.com/apache/camel-quarkus/blob/master/integration-tests/mustache/src/main/java/org/apache/camel/quarkus/component/mustache/it/MustacheRoute.java#L23).
Then run `mvn clean verify -P native`.

[2020-03-10 15:08] #803 closed

[2020-03-10 15:18] lburgazzoli commented on #867
There should not be the need to register the class for reflection as it is already done by the native image processor, https://github.com/apache/camel-quarkus/blob/master/extensions/core/deployment/src/main/java/org/apache/camel/quarkus/core/deployment/NativeImageProcessor.java#L227-L229

[2020-03-10 15:34] ppalaga opened #868 "Add templates config option to the Mustache extension"
The mustache extension requires that the application developers use `quarkus.native.additional-build-args =-H:ResourceConfigurationFiles=resources-config.json` https://github.com/apache/camel-quarkus/pull/866/files#diff-8dd2b01ede99ee34a76c5e27361d4825R17 to add the templates to the native image.

This solution has several drawbacks:

* It is not ergonomic
* It is not consistent with how we did si

[2020-03-10 17:24] lburgazzoli commented on #868
Wonder if we can pre-compile the templates similar to what we have done for xslt, if the user still need to have the files then resources-config.json could be the way to go but will be user responsability

[2020-03-10 17:29] lburgazzoli commented on #868
Maybe we could also make a little easier to include resource files with properties like:

[code]

[2020-03-10 17:38] lburgazzoli commented on #865
Fine with me, wonder if it could make sense to use `core` instead if `extensions-core` (same for `support`)

[2020-03-10 17:40] lburgazzoli commented on #642
@NFI-Chase can we close this issue ?

[2020-03-10 17:41] lburgazzoli commented on #616
/cc @ppalaga

[2020-03-10 19:05] #801 closed

[2020-03-10 20:22] lburgazzoli commented on #818
singleton: https://github.com/apache/camel/blob/9f22b6af488e1552fb9e15a8be4c80c778964bf5/core/camel-core-languages/src/main/java/org/apache/camel/language/ref/RefLanguage.java#L74-L77

[2020-03-10 20:46] ppalaga commented on #865
No problem, if you like it that way.

Now pondering whether it is worth to have a common parent folder for the three extension folders. We currently have some sanity checks defined in `extensions` - I'd either have to move the def to the top pom or have them three times.

[2020-03-10 20:48] ppalaga commented on #865
I think I slightly prefer the option without the common parent folder for the three extension folders. It's less clicking around in the IDE.

[2020-03-10 20:52] ppalaga commented on #868
Or even

[code]

[2020-03-10 20:53] ppalaga commented on #868
... which is to say that I like the general idea and that we should try to contribute it to Quarkus.

[2020-03-10 20:58] ppalaga commented on #865
Actually, we already have a module called `camel-quarkus-core` and I'd like to keep the naming scheme `artifactId = "camel-quarkus-" + dirName`. So `extensions-core` or `core-extensions` seems to be a better choice.

[2020-03-11 03:28] brunotitata opened #870 "camel-quarkus-aws-sns failing to compile image-native"
**Describe the bug**
I'm trying to compile an SMS sending project using the `camel-quarkus-aws-sns` dependencies, but when I compile the project for native image using the quarkus` command ./mvnw clean package: dev -Pnative`, there are some WARNING of `java-sdk` messages on the console and lock the terminal, even needing to restart the computer. Removing the `camel-quarkus-aws-sns` dependency, the

[2020-03-11 07:40] lburgazzoli commented on #870
Can you try with GraalVM 19.2.1 and Java 8 ?
As far as I remember that is the recommended version for Quarkus 1.2.x

[2020-03-11 07:43] lburgazzoli commented on #868
@aldettinger mind to check if this ^^^ would be possible ?

[2020-03-11 08:00] oscerd commented on #870
I'll have a look but it looks like you're mixing version

[2020-03-11 09:59] #865 closed

[2020-03-11 12:21] #867 closed

[2020-03-11 13:25] brunotitata commented on #870
@lburgazzoli  @oscerd  I'll try it later with GraalVM 19.2.1 and come back here to post the result.

can I try with Java 11 tbm, or just with Java 8 ??

[2020-03-11 15:29] aldettinger opened #875 "kafka itests fails"

[2020-03-11 16:54] aldettinger commented on #875
Fixed in kafka but we may have similar issues elsewhere.

[2020-03-11 17:16] #818 closed

[2020-03-11 18:55] aldettinger commented on #875
Found no issue elsewhere.

[2020-03-11 19:46] #875 closed

[2020-03-11 23:16] lburgazzoli opened #877 "FastCamelContext to implement ModelCamelContext"
There are a number of spots where the ModelCamelContext is used  (i.e. for camel-main auto configuration) so we should make FastCamelContext implementing ModelCamelContext to avoid unexpected class cast exception

[2020-03-12 08:25] lburgazzoli opened #879 "Quarkus fails to start with uri: platform-http://hello"
If a route is defined like:

    from("platform-http://hello")
        .log("${body}")

Then quarkus fails to start with:

[code]

It does work with:

    platform-http:/hello

[2020-03-12 08:25] lburgazzoli commented on #879
/cc @ppalaga

[2020-03-12 08:39] jamesnetherton opened #880 "Platform HTTP consumer does not support matchOnUriPrefix"
We first need [CAMEL-14699](https://issues.apache.org/jira/browse/CAMEL-14699). Then `QuarkusPlatformHttpConsumer` needs some mods to handle the `matchOnUriPrefix` URI param.

[2020-03-12 08:54] ppalaga commented on #879
Why do you expect it to work with two slashes?

[2020-03-12 09:13] lburgazzoli commented on #879
You typically write `http://something` when it is about http url so supporting two slashes would make it looking more "natural"

[2020-03-12 09:16] ppalaga commented on #879
Yes, as long as `something` is a host. If `something` is a path, the allowed forms are  `http:/something` and `http:///something`, IMO.

[2020-03-12 09:17] lburgazzoli commented on #879
ah yeah, this thing does not have any notion of host, sorry, closing

[2020-03-12 09:17] #879 closed

[2020-03-12 10:17] NFI-Chase commented on #642
yes, i will close it now.

[2020-03-12 10:17] #642 closed

[2020-03-12 13:20] #877 closed

[2020-03-12 21:06] famod commented on #764
FWIW: `org.apache.cxf.ws.security.trust.STSClient` seems to work out of the box in JVM mode.
Next we are going to try `JaxWsProxyFactoryBean` in our Quarkus project. I hope we'll manage to get it working somehow until an official extension is available.
So a definite +1!

[2020-03-13 15:08] lburgazzoli opened #886 "camel-quarkus-core: make caffeine cache optional"
by default we should use SimpleLRUCache and let the user opt for caffeine by adding the related extensions

[2020-03-13 15:11] davsclaus commented on #886
Also for camel-main
https://issues.apache.org/jira/browse/CAMEL-14713

[2020-03-13 15:49] #763 closed

[2020-03-14 11:15] #886 closed

[2020-03-14 16:15] vitaB opened #888 "telegram extension cannot construct IncomingMessageEntity for commands"
I tried a simple bot that only logs the incoming messages.
[code]
This works for a normal text message, as a jar as well as native image. But as soon as I send a command (e.g. /start or /echo) the native variant throws the following errors:
[code]

[2020-03-15 00:21] rafaeltuelho opened #889 "Add extension support for camel-jpa"
In addition to sql and jdbc, would be great to have an extension for camel-jpa as it offers an ORM approach that makes it easy to map the resultset into Object Domain as entities.

[2020-03-16 07:13] lburgazzoli opened #892 "[camel-master branch] support ComponentNameResolver"
See: https://github.com/apache/camel/commit/2e57fd7f4eadc7f0d6269417ddba8f1bcbdb6a99

[2020-03-16 08:02] ppalaga commented on #616
I have the tool in a state where it is generating what I think is the right code. Now let's discuss the tree structure.

## JVM-only Extensions

As I said I'd prefer to have the JVM-only extensions in a separate directory.

Current:

[code]

Proposed:

[code]

## Itests of JVM-only Extensions

I am not 100% sure what would be the best solution. I prefer having the itest as close as possible in the

[2020-03-16 09:34] mmelko commented on #782
I can look at it.

[2020-03-16 10:18] #888 closed

[2020-03-16 13:57] lburgazzoli commented on #616
No objection on my side, we can also think about moving individual extension integrations tests to the extension them-self and leave in the integration-tests folders only aggregate tests

[2020-03-16 17:00] ppalaga opened #894 "Elastichsearch Rest support"

[2020-03-16 17:01] ppalaga commented on #825
Fixed via https://github.com/apache/camel-quarkus/pull/878

[2020-03-17 07:58] ppalaga opened #896 "Elasticsearch Rest native mode"
A followup of https://github.com/apache/camel-quarkus/pull/895

[2020-03-17 07:59] ppalaga opened #897 "List the JVM-only extensions in the docs"
A followup of https://github.com/apache/camel-quarkus/pull/895

[2020-03-17 08:18] #894 closed

[2020-03-17 08:24] lburgazzoli commented on #897
I think we should not use the term _JVM only_ but we should probably document what is the support level for the different targets i.e. a table like

Compilation Target | Support Level
------------ | -------------
JVM | supported
Native| experimental

[2020-03-17 09:29] zhfeng commented on #837
I can take a look at this issue.

[2020-03-17 11:17] dc2tom commented on #837
Happy to collaborate on this @zhfeng if I get a chance - that Freemarker pull request does look to have a lot of similarities

[2020-03-17 11:57] ppalaga commented on #897
I find the data model useful, let's discuss how we could present it.

I have not planned to generate a per-extension doc page, so the only place where we could present this is the list of extensions: https://camel.apache.org/camel-quarkus/latest/list-of-camel-quarkus-extensions.html

Adding two columns sounds a bit too much. How about one column?

Current

Component | Since | Description
-- | -- |

[2020-03-17 18:46] aldettinger commented on #868
As far as I could drill, I've found no way to pre-compile templates on top of camel 3.1.

I'm thinking about complementing the mustache component with a kind of "mustache registry" (resourceUri -> pre-compiled-mustache-template). At endpoint creation time, the mustache component could then try to provide a pre-compiled mustache template according to the resource uri. OnExchange processing, the tem

[2020-03-18 06:55] zhfeng opened #899 "camel-quarkus-elasticsearch-rest build fails with "Dependency convergence error""
I just rebuild the camel-quarkus and met the following failure.
[code]

[2020-03-18 07:48] zhfeng commented on #837
@dc2tom it should be very similar to the freemarker component. At first, you need to create the velocity extension by ```mvn cq:create -N -Dcq.artifactIdBase=velocity```. The followup steps could do

- enable the reflective class of the Exchanges in VelocityProcessor.java
[code]
  so the ${exchange.properties} can be used in the vm files.
- add the option of ```quarkus.camel.velocity.classModules=

[2020-03-18 07:52] zhfeng commented on #766
I can take a loot

[2020-03-18 08:02] ppalaga commented on #899
It is passing on the CI and I cannot reproduce too. Have you rebuilt the whole tree?

[2020-03-18 09:02] zhfeng commented on #899
yeah, I rebuilt the whole tree.

[2020-03-18 09:37] ppalaga commented on #899
Could you please post the exact steps to reproduce (incl. the output of `mvn --version`)?

[2020-03-18 09:50] zhfeng commented on #899
mvn --version
[code]
I just use
[code]

[2020-03-18 09:55] lburgazzoli commented on #899
As far as I remember quarkus now requires maven 3.6.x

[2020-03-18 10:33] ppalaga opened #901 "GraphQLResource should read from the classpath instead from the filesystem"
This is important for a flawless running of the test outside of the Camel Quarkus source tree.

[code]

[2020-03-18 13:50] #901 closed

[2020-03-18 14:13] ppalaga commented on #723
This should not be an issue as of Quarkus 1.3.0.Final. Sending a PR to revert back to surefire 3.0.0-M4.

[2020-03-18 14:29] oscerd opened #904 "Camel-Catalog-Quarkus: It is missing for release-1.0.0-M5"
Actually the camel-catalog-quarkus for the last release is missing

https://search.maven.org/artifact/org.apache.camel.quarkus/camel-catalog-quarkus

I believe this is related to https://github.com/apache/camel-quarkus/pull/869

[2020-03-18 14:58] oscerd commented on #904
Just discovered it has been renamed to camel-quarkus-catalog. Is there a specific reason for this?

[2020-03-18 15:09] oscerd commented on #904
By the way, mistery resolved.

[2020-03-18 15:11] oscerd commented on #904
Let me re-open, maybe it makes sense to switch back to the original name.

[2020-03-18 15:16] lburgazzoli commented on #904
We probably should follow the naming used in other projects so as we have

- camel-catalog-provider-karaf
- camel-catalog-provider-springboot

Maybe we should name this `camel-catalog-provider-quarkus`

@davsclaus @oscerd  what do you think ?

[2020-03-18 15:17] oscerd commented on #904
Sounds good to me. I'll open a PR if it's ok for all.

[2020-03-18 15:59] ppalaga commented on #904
Agreed with @oscerd that I'll fix this.

[2020-03-18 17:22] ppalaga commented on #904
I wanted to follow the convention that all artifactIds start with `camel-quarkus-`. Having the same prefix for all modules in a source tree is quite common in the maven world. It is practical because e.g. naming clashes are less likely when jars need to be copied into a single directory (libs dir in quarkus or some sort of deployments directory on a web-container). Also Eclipse needs manual workar

[2020-03-18 18:10] #807 closed

[2020-03-18 19:08] aldettinger commented on #868
I may step back from the fully pre-compiled approach as I'm stuck on mustache object serialization to runtime init phase. I'll check other options.

[2020-03-18 19:16] esend7881 opened #906 "Tests fail on integration-tests/platform-http for 1.0.0-M5"
I'm not sure if I am missing a prerequisite instructions for running tests on the platform-http IT, but I get the following from maven:

[code]

I tried the integration-test/servlet tests and they pass, so I'm failing to see a common denominator.

[2020-03-18 20:53] #806 closed

[2020-03-18 21:32] ppalaga opened #908 "Cassandra CQL support"

[2020-03-18 21:33] ppalaga opened #909 "Couchbase support"

[2020-03-18 21:34] ppalaga opened #910 "CouchDB support"

[2020-03-18 22:01] #897 closed

[2020-03-19 07:41] #908 closed

[2020-03-19 07:41] #910 closed

[2020-03-19 07:59] zhfeng commented on #899
Thanks @lburgazzoli  and it works after upgrade maven to 3.6.3

[2020-03-19 07:59] #899 closed

[2020-03-19 09:00] ppalaga opened #915 "Debezium MongoDB Connector support"

[2020-03-19 09:01] ppalaga opened #916 "Debezium PostgresSQL Connector support"

[2020-03-19 09:02] ppalaga opened #917 "Debezium MySQL Connector support"

[2020-03-19 09:02] ppalaga opened #918 "Debezium SQL Server Connector support"

[2020-03-19 09:51] zhfeng commented on #899
@ppalaga it might be helpful to mention on our contribution guide. It said Maven 3.5.3+ as prerequisites now.

[2020-03-19 10:12] #805 closed

[2020-03-19 11:11] #825 closed

[2020-03-19 12:09] #809 closed

[2020-03-19 13:39] #915 closed

[2020-03-19 13:39] #916 closed

[2020-03-19 13:39] #917 closed

[2020-03-19 13:39] #918 closed

[2020-03-19 15:18] jamesnetherton opened #922 "Openstack support"
Camel OpenStack includes:

* OpenStack Cinder component
* OpenStack Glance component
* OpenStack Keystone component
* OpenStack Neutron component
* OpenStack Nova component
* OpenStack Swift component

[2020-03-19 21:55] ppalaga opened #924 "Gora support"

[2020-03-19 21:56] ppalaga opened #925 "InfluxDB support"

[2020-03-19 21:56] ppalaga opened #926 "Kudu support"

[2020-03-19 22:04] ppalaga commented on #924
A tough one. Got 400+ lines of dependency missalignment warnings.

[2020-03-19 22:15] ppalaga opened #927 "MongoDB GridFS support"

[2020-03-19 22:16] ppalaga opened #928 "Nitrite support"

[2020-03-20 07:35] #925 closed

[2020-03-20 07:35] #926 closed

[2020-03-20 07:35] #927 closed

[2020-03-20 07:35] #928 closed

[2020-03-20 08:54] ppalaga opened #931 "PubNub support"

[2020-03-20 09:10] #922 closed

[2020-03-20 09:11] ppalaga opened #932 "mongo-gridfs should reuse the Quarkus Mongo extension"

[2020-03-20 09:13] ppalaga commented on #932
@jamesnetherton actually, I have checked whether there is some overlap in deps with the Quarkus extensions, but there were none. I may recheck.

[2020-03-20 09:17] jamesnetherton commented on #932
Although I suggested this, it might not actually be possible (or easy) at the moment, as IIRC, mogo-gridfs still uses the old deprecated Mongo client API. So we'd possibly need to do some hackery like [this](https://github.com/apache/camel-quarkus/blob/1.0.0-M1/extensions/mongodb/runtime/src/main/java/org/apache/camel/quarkus/component/mongodb/CamelMongoClient.java) to make it work.

[2020-03-20 09:37] ppalaga opened #934 "Consider adding a support extension for okhttp"
Current users of okhttp (check whether there are more):

* influxdb
* nitrite
* openstack

[2020-03-20 09:43] lburgazzoli commented on #934
Could be useful also on quarkus side as afaik the kubernets client uses it

[2020-03-20 10:03] ppalaga commented on #934
I forgot to mention that adding a separate extension for okhttp only makes sense if there is something special to do for the native mode. Quarkus Vault and Kubernetes client extensions seem to suggest that nothing special is needed for okhttp to work in the native mode.
Hence if porting of the extensions listed in the first comment will work without doing anything  for okhttp, this issue can be cl

[2020-03-20 10:58] #931 closed

[2020-03-20 10:58] #675 closed

[2020-03-20 12:35] #822 closed

[2020-03-20 12:35] #823 closed

[2020-03-20 12:54] jamesnetherton opened #936 "Warn if JVM only extensions are used in native mode"

[2020-03-21 10:01] ppalaga opened #937 "SAP NetWeaver support"

[2020-03-21 10:07] ppalaga commented on #780
We have `camel-quarkus-xml-jaxp` extension depending on `camel-xml-jaxp` that provides the necessary bits. We need a test.

[2020-03-21 10:48] ppalaga commented on #410
Let's JVM only.

[2020-03-21 17:46] #937 closed

[2020-03-21 17:46] #781 closed

[2020-03-21 17:46] #410 closed

[2020-03-23 07:41] ppalaga opened #941 "AWS 2 CloudWatch support (JVM only)"

[2020-03-23 07:42] ppalaga opened #942 "AWS 2 DynamoDB support (JVM only)"

[2020-03-23 07:43] ppalaga opened #943 "AWS 2 EC2 support (JVM only)"

[2020-03-23 07:43] ppalaga opened #944 "AWS 2 ECS support (JVM only)"

[2020-03-23 07:43] ppalaga opened #945 "AWS 2 EKS support (JVM only)"

[2020-03-23 07:44] ppalaga opened #946 "AWS 2 IAM support (JVM only)"

[2020-03-23 07:44] ppalaga opened #947 "AWS 2 KMS support (JVM only)"

[2020-03-23 07:44] ppalaga opened #948 "AWS 2 MQ support (JVM only)"

[2020-03-23 07:45] ppalaga opened #949 "AWS 2 MSK support (JVM only)"

[2020-03-23 07:45] ppalaga opened #950 "AWS 2 Simple Email Service support (JVM only)"

[2020-03-23 07:45] ppalaga opened #951 "AWS 2 Simple Notification System support (JVM only)"

[2020-03-23 07:46] ppalaga opened #952 "AWS 2 Simple Queue Service support (JVM only)"

[2020-03-23 07:46] ppalaga opened #953 "AWS 2 Translate support (JVM only)"

[2020-03-23 11:33] #804 closed

[2020-03-23 12:25] ppalaga commented on #936
Should that be a (a) build time warning (b) runtime warning or (c) both?

[2020-03-23 12:30] jamesnetherton commented on #936
If it's not too difficult to implement, then it can't hurt to do both.

[2020-03-23 12:52] #941 closed

[2020-03-23 12:53] #942 closed

[2020-03-23 12:53] #943 closed

[2020-03-23 12:53] #944 closed

[2020-03-23 12:53] #945 closed

[2020-03-23 12:53] #946 closed

[2020-03-23 12:53] #947 closed

[2020-03-23 12:53] #948 closed

[2020-03-23 12:53] #949 closed

[2020-03-23 12:53] #950 closed

[2020-03-23 12:53] #951 closed

[2020-03-23 12:53] #952 closed

[2020-03-23 12:53] #953 closed

[2020-03-23 13:06] ppalaga commented on #936
Is this text ok?

[code]

[2020-03-23 16:45] ppalaga opened #956 "SAP NetWeaver native support"
Followup https://github.com/apache/camel-quarkus/issues/937 sap-netweaver

[2020-03-23 17:01] ppalaga commented on #936
A slightly modified text referring to the list of issues filtered by the extension name

[code]

WDYT?

[2020-03-23 17:06] jamesnetherton commented on #936
Seems ok to me.

I spotted one minor thing to correct. It reads better when you say 'in native mode' instead of 'in the native mode'.

[2020-03-23 17:57] ppalaga opened #958 "AWS Simple Workflow support (JVM only)"

[2020-03-23 17:59] ppalaga opened #959 "AWS SimpleDB support (JVM only)"

[2020-03-23 19:49] #936 closed

[2020-03-23 20:13] ppalaga opened #961 "Document the use of quarkus.camel.resources.*-patterns"
We should have a page for Mustache under `docs/modules/ROOT/pages/extensions/mustache.adoc` that should mention the new `quarkus.camel.resources.*-patterns` options and their significance for mustache.

We should perhaps also add a section documenting those options to `docs/modules/ROOT/pages/native-mode.adoc` .

[2020-03-24 06:55] #958 closed

[2020-03-24 06:55] #959 closed

[2020-03-24 08:04] jamesnetherton opened #963 "Build processor class template may create redundant LOG field"
Minor thing that results from the implementation of #936.

If you create an extension which supports native mode, then the build processor class is created with a redundant static Logger field like:

[code]

[2020-03-24 08:27] ppalaga commented on #963
I knew this will happen, but I did not want to overengineer the template. It is easy to fix though.

[2020-03-24 08:36] ppalaga opened #964 "Protobuf dataformat support (JVM only)"

[2020-03-24 08:38] ppalaga opened #965 "gRPC support (JVM only)"

[2020-03-24 08:39] ppalaga commented on #762
Let's do the easy JVM part first: https://github.com/apache/camel-quarkus/issues/965

[2020-03-24 08:41] aldettinger commented on #868
Mustache integration tests are now using include-patterns/exclude-patterns for resource inclusion.

[2020-03-24 08:41] #868 closed

[2020-03-24 11:45] #303 closed

[2020-03-24 17:11] #143 closed

[2020-03-24 18:38] #782 closed

[2020-03-24 18:43] #961 closed

[2020-03-25 07:29] jamesnetherton commented on #812
We get this via the kubernetes extension.

[2020-03-25 07:29] #812 closed

[2020-03-25 08:53] #766 closed

[2020-03-25 10:20] aldettinger commented on #906
@esend7881 Thanks for taking interest in camel-quarkus :)

On my end, I've just downloaded again the 1.0.0-M5 release and run the same command with good result:
[code]
So it must be a kind of setup issue. Maybe you could try to run `mvn clean install -D skipTests` from root folder first. Another idea could be to double check the [contributor guide](https://github.com/apache/camel-quarkus/blob/mast

[2020-03-25 12:01] aldettinger commented on #828
Thanks for taking a look @sobkowiak, I've checked the 1.0.0-M3 tags but I'm not able to reproduce this issue. Could you please check the same against 1.0.0-M5 (it's quarkus 1.3.0.Final under the hood).

Also, the quarkus issue [#6168](https://github.com/quarkusio/quarkus/issues/6168) looks very [similar](https://github.com/quarkusio/quarkus/issues/6168#issuecomment-565719810), could you please try

[2020-03-25 12:04] aldettinger commented on #760
I would say this is already completed. Any objection to closing this ?

[2020-03-25 12:17] jamesnetherton commented on #760
Yes, it's completed.

[2020-03-25 12:17] #760 closed

[2020-03-25 13:24] jamesnetherton commented on #780
I verified this works fine in JVM mode when an appropriate StAX Reader implementation is added (E.g woodstox). For it to work in native mode, I think we'd need an extension for the StAX impl so it can register services, reflective classes etc.

[2020-03-25 14:41] #964 closed

[2020-03-25 14:41] #965 closed

[2020-03-25 14:44] ppalaga opened #976 "REST OpenApi support (JVM only)"

[2020-03-25 17:13] #808 closed

[2020-03-25 18:34] #976 closed

[2020-03-25 19:11] ppalaga commented on #909
Fixed via https://github.com/apache/camel-quarkus/pull/911

[2020-03-25 19:11] #909 closed

[2020-03-25 19:13] ppalaga commented on #904
@lburgazzoli  is there any reason why the naming convention proposed by you should be held superior to the local naming convention? Are all the catalog providers pulled by some agent who makes assumptions about their names?

[2020-03-25 19:17] ppalaga commented on #889
A contribution is welcome! @rafaeltuelho or anybody else please follow the contributor guide https://camel.apache.org/camel-quarkus/latest/contributor-guide.html . It is not hard at all, we already had a couple of contributions from newcomers. Feel free to ask here if you have specific questions.

[2020-03-25 19:45] ppalaga commented on #870
Any update @brunotitata ?

[2020-03-25 19:51] ppalaga commented on #671
Closing as non reproducible. @kazik666 feel free to reopen with proper steps to reproduce.

[2020-03-25 19:51] #671 closed

[2020-03-25 19:54] ppalaga commented on #616
`mvn cq:create -N -Dcq.artifactIdBase=foo` fulfills the named requirements, IMO. Can we close this @lburgazzoli ?

[2020-03-25 20:45] ppalaga commented on #531
We added a couple of JVM-only extenstions recently, so having mock as a JVM only extension wouldn't be anything special.

Running

[code]

from the root directory will scaffold the necessary boilerplate. A contribution with a proper test is welcome!

[2020-03-25 20:49] ppalaga commented on #465
We recently started using the descriptions from Camel catalog for new extensions. We should probably update the existing extensions too. The rest is a matter of quality of the metadata available in the Camel Catalog.

[2020-03-25 20:50] ppalaga commented on #457
Could you please be more specific about the anticipated functionality?

[2020-03-25 20:57] ppalaga commented on #413
This is implemented now. Updating the tests in the platform is not that a big issue with the new tooling. I also would not say the number of the tests is an issue for them. Their CI runs only in JVM mode.

Having said that, I do not see an immediate need to improve anything in this area.

[2020-03-25 20:59] ppalaga commented on #310
Do we still need more examples?

[2020-03-26 06:18] zhfeng commented on #819
The camel-saga component  provides a way to make a manual decision of complete or compensate a Saga transaction. For normal use of the Saga, you can refer to [SAGA EIP](https://camel.apache.org/components/latest/eips/saga-eip.html).
In term of the LRA (Long Running Action), it is more like a transaction model based on Saga pattern. You can refer to the [MicroProfile LRA](https://github.com/eclipse

[2020-03-26 06:31] zhfeng commented on #819
@ppalaga is there any way to add a service in camel context at the build or runtime phase just like we do with the [LraServiceAutoConfiguration.java ](https://github.com/apache/camel-spring-boot/blob/master/components-starter/camel-lra-starter/src/main/java/org/apache/camel/service/lra/springboot/LraServiceAutoConfiguration.java#L74) in spring boot ?

[2020-03-26 07:12] lburgazzoli commented on #819
There's no direct support so far.

One solution would be to use `CamelContextBuildItem` however to use it, we need to introduce a synchronization point i.e. by using [empty build items](https://quarkus.io/guides/writing-extensions#empty-build-items) as the Camel Context should be fully configured before [Camel Main](https://github.com/apache/camel-quarkus/blob/b8135432cb67a4739395671ea98f366d2e252

[2020-03-26 07:44] ppalaga commented on #819
Isn't CamelMainListenerBuildItem doing just that?

[2020-03-26 08:01] zhfeng commented on #819
Thanks @lburgazzoli and @ppalaga !

Is there any difference about the [contextConfigurerListener](https://github.com/apache/camel-quarkus/blob/master/extensions/microprofile-metrics/deployment/src/main/java/org/apache/camel/quarkus/component/microprofile/metrics/deployment/MicroProfileMetricsProcessor.java#L51) and [configureCamelContext](https://github.com/apache/camel-quarkus/blob/master/extensi

[2020-03-26 08:03] lburgazzoli commented on #819
yep when that's when main is enabled but those are generic services that do not depend on main

[2020-03-26 08:08] zhfeng commented on #819
So these services can be added in the camel context before the main whenever it is enabled or not ?

[2020-03-26 08:10] lburgazzoli commented on #819
`configureCamelContext` seems to be a good candidate to be refactored to a `CamelContextCustomizerBuildItem`

`contextConfigurerListener` turn on message history as you can turn in off on camel-main with a property thus we need to force it if mp metrics is enabled

[2020-03-26 08:22] lburgazzoli commented on #819
I think so

[2020-03-26 10:30] ppalaga commented on #253
`@RegisterForReflection` can actually be used also to register third party classes https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterForReflection.java#L25-L32

I'd say that's enough and we do not need to do anything on the Camel Quarkus side. WDYT, @lburgazzoli ?

[2020-03-26 11:00] zhfeng commented on #819
OK, I think it could be worth to raise a new issue to introduce the ```CamelContextCustomizerBuildItem``` for help to do such things, any thoughts ?

[2020-03-26 11:06] ppalaga commented on #819
I am not against that, but please write a proper class level JavaDoc on the new BuildItem, explaining

* What happens before and after
* Sum up roughly which uses is it intended for and
* Explain the relationship to Core and Main.

[2020-03-26 11:16] zhfeng commented on #819
yeah, I totally agree that the doc would be very helpful !

[2020-03-26 11:17] lburgazzoli commented on #253
I'm aware of that class however it may be more practical if we have a configuration property as i.e. it would be much more practical in camel-k so a user do not nee to write any java code and we don't need to store any additional java file in the CR just for the need to list classes that need to be registered for reflection

[2020-03-26 11:19] lburgazzoli commented on #819
Like it has not relation to main :)

[2020-03-26 11:25] zhfeng opened #984 "Introduce the CamelContextCustomizerBuildItem to do further customization of the camel context"
This idea comes up during the discussion of https://github.com/apache/camel-quarkus/issues/819

CamelContextCustomizerBuildItem  could be used to add the service in the camel context when we have the LRASagaService just like the auto configuration in the spring boot.

It needs a proper class level JavaDoc to explain:

- What happens before and after
- Sum up roughly which uses is it intended for a

[2020-03-26 11:50] ppalaga commented on #253
I suspected you are going to come with something like this :). Moving `quarkus.camel.resources.*` to `quarkus.camel.native.resources.*` and putting this new opt. there seems like optimal variant. Would you please upvote https://github.com/apache/camel-quarkus/pull/983 if you think so?

[2020-03-26 13:00] JiriOndrusek commented on #799
Please, assign to me.

[2020-03-26 15:43] ppalaga opened #988 "Replace quarkus.camel.native.resources.* with quarkus.native.resources.*"
Native resources and reflection inclusion and exclusion is a very generic functionality that all Quarkus users could benefit from.

[2020-03-26 18:31] aldettinger opened #989 "Couchdb native support for Producer Mode"
I'm gonna try this one.

[2020-03-26 20:43] #253 closed

[2020-03-26 20:49] ppalaga commented on #989
Thanks @aldettinger! You are probably the first one porting a JVM extension to native. It would be nice if you could start listing the necessary steps on a new doc page.

[2020-03-27 07:40] aldettinger commented on #989
good idea, I will take some notes.

[2020-03-27 08:51] #811 closed

[2020-03-30 07:25] oscerd opened #995 "Camel-Avro: In 3.2.0 it will be splitted in camel-avro and camel-avro-rpc"
So we need to revisit the extension. This issue is a reminder.

[2020-03-30 07:43] galderz opened #996 "Unresolved type JAXBContext"
Cloning from https://github.com/quarkusio/quarkus/issues/7914

camel-aws test failing w/ Quarkus/Graal master:

[code]

[Longer output](https://gist.github.com/galderz/35e0598ce8b5413386bb3191d7c1ecd7).

[2020-03-30 13:11] #996 closed

[2020-03-30 15:33] jamesnetherton opened #999 "RestBindingReifier.setupJaxb fails in native mode with JDK 11"
Continuation of #996, which means the problem is only really fixed for AWS. We need a better solution to fix all instances of this problem.

[code]

[2020-03-30 15:33] jamesnetherton opened #1000 "XML integration tests fail in native mode on JDK 11"
[code]

[2020-03-30 19:35] ppalaga opened #1001 "Rename the top module from camel-quarkus-parent to camel-quarkus"
Proposed by @gnodet

https://camel.465427.n5.nabble.com/VOTE-Release-Apache-Camel-Quarkus-1-0-0-M4-tp5857839p5857898.html

[2020-03-31 06:39] #844 closed

[2020-03-31 06:39] #1001 closed

[2020-03-31 08:01] galderz opened #1003 "ClassNotFoundException Caffeine SSLMS"
More issues testing Quarkus/Graal masters with JDK11 in `quarkus-universe-integration-tests-camel-consul` module:

[code]

[Longer output](https://gist.github.com/galderz/d0d91466157039f3ad5c47eb3d57df20).

[2020-03-31 08:04] lburgazzoli commented on #1003
That seems strange as we do use the caffeine extension from quarkus and - IMHO -  it should fail also on Jdk 8

[2020-03-31 08:05] galderz commented on #1003
@lburgazzoli Note that I'm testing Quarkus/Graal masters, maybe something else is triggering this.

[2020-03-31 10:05] galderz commented on #999
Just came across this, thanks for spotting it @jamesnetherton.

[2020-03-31 10:42] galderz opened #1005 "PropertyBindingException slidingwindowsize"
Testing camel-quarkus with Graal master and (labs) JDK 11, and two patches [here](https://github.com/apache/camel-quarkus/compare/master...galderz:t_1003_999?expand=1) for #999 and #1003:

[code]

[Longer output](https://gist.github.com/galderz/ace4fef3f9c668d49b42b8b101092741).

[2020-03-31 14:38] ppalaga opened #1006 "Improve the quality of quarkus-extension.yaml files"
Areas that we could improve for new and existing extensions:

* `name` - we may replace the leading `Camel Quarkus` with just `Camel`
* `description` - we may take the description from Camel Catalog, as we already do for newly created extensions.
* `keywords` - take the labels from Camel Catalog, fix there if they make no sense.

[2020-03-31 15:38] ppalaga commented on #988
Proposed the idea on quarkus-dev https://groups.google.com/forum/#!topic/quarkus-dev/SLuS7DiDMVA

[2020-03-31 15:56] ppalaga commented on #842
It works as designed. Feel free to reopen if you feel the design is not correct.

[2020-03-31 15:56] #842 closed

[2020-03-31 16:01] ppalaga commented on #690
Fixed via 623e0456c074b26d1ca53cd2baf28b17c23257b3

[2020-03-31 16:01] #690 closed

[2020-03-31 16:04] #963 closed

[2020-04-01 12:08] lburgazzoli opened #1010 "camle-tagsoup extension tests fails in native mode on Jdk 11"
I'm working on fixes for:

- #1000
- #1005
- #999

And I've almost everithiung fixced but camle-tagsoup tests are failing in native mode:

[code]

I think the issues is related to the TransformerFactory the dataformat relies upon

[2020-04-01 12:10] ppalaga commented on #1010
I can have a look. What are the steps to reproduce?

[2020-04-01 12:14] lburgazzoli commented on #1010
let me first commit my work that fixes something to get the test running

[2020-04-01 12:25] lburgazzoli commented on #1010
Requires https://github.com/apache/camel-quarkus/pull/1011 (to see the test failing you need to re-enable tagsoup tests thata re disabled in native mode in integration-tests/xml)

[2020-04-01 12:26] zhfeng commented on #1010
TidyMarkupDataFormat.java:186
[code]
It looks like it uses the Transformer in the JDK internal implementation. But it is wired that the ```output_xml.properties``` does not include in the native resource. Is it possible to add ```com/sun/org/apache/xml/internal/serializer/output_xml.properties``` explicitly ?

[2020-04-01 12:34] lburgazzoli commented on #1010
I think it is possible however as example in the xslt component we don't use the internal implementation as it is broken, guess TidyMarkupDataFormatshoudl allow to do the same or we should configure the system to always ignore the internal impl

[2020-04-01 13:18] lburgazzoli commented on #1010
So I've experimented by creating a substitution like:

[code]

Which basically force to use `TransformerFactoryImpl` from `xalan` artifact and this appears to fix the issue but I don't know if it can be an acceptable solution.

@ppalaga @jamesnetherton WDYT ?

[2020-04-01 14:51] ppalaga commented on #1010
That's OK as a quick temporary solution. In any case, we need to figure out why the GraalVM@java11 is regressing.

[2020-04-01 14:56] jamesnetherton commented on #1010
Agreed. Let's go with it and improve later if we need to.

[2020-04-01 15:00] lburgazzoli commented on #1010
ok will push to the other pr about java 11

[2020-04-01 17:06] lburgazzoli opened #1013 "Remove platform-http workaround when upgrading camel to 3.2.0"
PR: https://github.com/apache/camel-quarkus/pull/1012
Commit: https://github.com/apache/camel-quarkus/pull/1012/commits/49d361b53441f0fb62aa2d92afb67e6ea6f7a224#diff-171f1f21cf48e577aaaf595cbb421007R42-R55

[2020-04-01 17:24] lburgazzoli commented on #1003
@galderz I think we can close this one right ?

[2020-04-01 17:25] #616 closed

[2020-04-02 11:10] #999 closed

[2020-04-02 11:10] #1000 closed

[2020-04-02 11:10] #1005 closed

[2020-04-02 11:10] #1010 closed

[2020-04-02 12:42] oscerd opened #1015 "Rethink the PR template"
The text is too long. Nobody will ever read it and fill the square.

[2020-04-02 12:57] davsclaus commented on #1015
Yeah keep it low, one line with some gentle minder where to find more details about contributing

[2020-04-02 13:55] oscerd opened #1016 "Camel-AWS-SDB: Support native"

[2020-04-02 14:07] ppalaga opened #1017 "Do not hardcode the TransformerFactory implementation irreversibly"
After this change https://github.com/apache/camel-quarkus/pull/1011/commits/9af2546d1602788a3ba9981b1b1976e9c0f90ff0#diff-e4d998f8f2cd322095bf13aad3daff36R26-R37 there is no way for the user to change the effective TransformerFactory implementation if it does not work for him. We should figure out a less intrusive and better maintainable way of promoting our TransformerFactory.

A PR follows.

[2020-04-02 14:55] aldettinger opened #1021 "Create a doc page to list necessary steps to promote a jvm-only extension to native"

[2020-04-02 14:57] aldettinger commented on #1021
Raw notes about how to promote a jvm-only extension to native:

# Split extension
Remove integration-test module from extensions-jvm/pom.xml
git mv extensions-jvm/couchdb/integration-test integration-tests/couchdb
git mv extensions-jvm/couchdb extensions/couchdb
Add couchdb module to extensions/pom.xml
Add couchdb module to integration-tests/pom.xml

Complete itest pom.xml:

    parent.artifactId

[2020-04-02 14:59] aldettinger commented on #989
Follow up issue to list necessary steps to promote a JVM only extension to native in #1021

[2020-04-02 15:01] aldettinger opened #1022 "Couchdb native support for Consumer Mode"
Stuck until [CAMEL-14822](https://issues.apache.org/jira/browse/CAMEL-14822). We could experiment after.

[2020-04-02 15:04] aldettinger commented on #989
Follow up issue for consumer support in native mode in #1022

[2020-04-02 16:24] #1016 closed

[2020-04-02 16:24] jamesnetherton opened #1023 "Intermittent failure of messaging tests"
Seems to be happening since the Quarkus 1.3.1.Final upgrade:

[code]

[2020-04-02 19:38] #989 closed

[2020-04-02 19:57] #1017 closed

[2020-04-03 10:18] mabulgu opened #1028 "Kafka and Strimzi examples"
I know there is an issue #310 already open as more examples should be added to the repository, but I thought it is better to open an issue separately for this topic. If it is ok for all I want to create these examples.

[2020-04-03 10:52] ppalaga commented on #1028
Thanks @mabulgu, please go ahead!

[2020-04-03 12:12] oscerd opened #1029 "Camel-AWS-SWF: Support native"

[2020-04-03 13:42] #1029 closed

[2020-04-04 07:32] #706 closed

[2020-04-05 12:04] abondar24 opened #1032 "Vertx throws exception IllegalStateException: Request has already been read"
I have while reading GET requests I have noticed that sometimes exception with stack trace below has been thrown

        at io.vertx.core.http.impl.HttpServerRequestImpl.checkEnded(HttpServerRequestImpl.java:600)
        at io.vertx.core.http.impl.HttpServerRequestImpl.handler(HttpServerRequestImpl.java:307)
        at io.quarkus.vertx.http.runtime.ResumingRequestWrapper.handler(ResumingRequestWr

[2020-04-05 12:05] #1032 closed

[2020-04-06 08:07] #1023 closed

[2020-04-06 10:01] JiriOndrusek opened #1035 "IRC support"

[2020-04-06 10:02] JiriOndrusek commented on #1035
Please, assign to me.

[2020-04-06 10:45] JiriOndrusek opened #1036 "InfluxDB native support"

[2020-04-06 10:46] JiriOndrusek commented on #1036
Please, assign to me.

[2020-04-06 12:25] lburgazzoli opened #1037 "Support Quarkus command mode"
https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/command-mode-reference.adoc

camel-main supports giving some arguments from the command line. i.e. hoe many messages to wait before to shut down so it would be nice if we can optionally support Quarkus' command mode

[2020-04-06 12:35] lburgazzoli commented on #906
@esend7881 is this still an issue on your side ?

[2020-04-06 12:39] lburgazzoli commented on #904
Its just a matter of using the same naming convention across sub-projects, if you think there's a better naming scheme maybe open a discussion on the dev mainiling list.

[2020-04-06 12:41] lburgazzoli commented on #892
@gnodet @jamesnetherton is someone of you already working on this ?

[2020-04-06 12:46] lburgazzoli commented on #853
@jamesnetherton I don't see this any-more, can you confirm ?

[2020-04-06 13:01] jamesnetherton commented on #853
The issue still seems to be present.

You need to remove the `@Disabled` annotation.

[2020-04-06 13:11] lburgazzoli commented on #853
ah right

[2020-04-06 13:17] jamesnetherton commented on #853
Do we even need those tests in the Servlet extension deployment module? They are more or less repeated over in the main integration test area.

[2020-04-06 13:36] lburgazzoli commented on #853
@ppalaga WDYT ?

[2020-04-06 13:45] lburgazzoli commented on #438
@ppalaga I think this can be closed, right ?

[2020-04-06 14:01] jamesnetherton opened #1039 "Kubernetes extension native support"
Follow up on #303.

[2020-04-06 14:02] galderz opened #1040 "Revert dependency patch after Camel 3.2 upgrade"
Revert [this PR](https://github.com/apache/camel-quarkus/pull/1004/files) when upgrading to camel 3.2.

[2020-04-06 14:03] jamesnetherton opened #1041 "Google pubsub extension native support"
Follow up on #808.

[2020-04-06 14:18] #956 closed

[2020-04-06 14:34] galderz commented on #1003
Yup

[2020-04-06 14:34] #1003 closed

[2020-04-06 14:38] ppalaga commented on #438
Excluding unwanted resources from the runner.jar is still not possible. I'd keep this open.

[2020-04-06 14:40] lburgazzoli commented on #438
So guess it need to be rephrased as it is general, not linked to xslt only any-more

[2020-04-06 14:43] ppalaga commented on #438
Feel free to change the title. XSLT is the only known use case where it matters, so I'd be fine with keeping the current title.

[2020-04-06 14:58] ppalaga commented on #853
I'd say so, they were supposed to test various configs in isolation. Let me check what is the problem.

[2020-04-06 16:33] #852 closed

[2020-04-06 17:37] galderz opened #1044 "NPE in ContainerBeansBuildItem"
Camel build fails with NPE with Quarkus master snapshot:

[code]

[2020-04-06 17:39] lburgazzoli commented on #1044
there’s a pr for that already

[2020-04-06 17:45] galderz commented on #1044
Trying your branch...

[2020-04-06 18:55] esend7881 commented on #906
@lburgazzoli - for the moment, I task switched out of Camel and haven't looked into this since my post. I assume so, perhaps something is off with my set up? I am using a VM with Ubuntu 18.04

[2020-04-07 08:32] #1044 closed

[2020-04-07 09:25] #853 closed

[2020-04-07 09:26] #854 closed

[2020-04-07 12:29] #820 closed

[2020-04-07 16:56] aldettinger commented on #1021
The contributor guide [has been updated](https://github.com/apache/camel-quarkus/blob/master/docs/modules/ROOT/pages/contributor-guide.adoc#promote-a-jvm-only-extension-to-native).

[2020-04-08 05:55] oscerd opened #1054 "Upgrade Quarkus to version 1.3.2.Final"

[2020-04-08 07:42] aldettinger opened #1058 "Remove enforcing camel keyword in metadata"
There is an enforcing rule issuing the error below at build time:
[ERROR] extensions/grpc/runtime/src/main/resources/META-INF/quarkus-extension.yaml metadata must contain a list of keywords with at least "camel" present.

It may not be necessary as the word camel [is already present in the extension name](https://github.com/apache/camel-quarkus/pull/1051#discussion_r404961873).

We should assess t

[2020-04-08 07:55] #1054 closed

[2020-04-08 08:32] aldettinger commented on #1021
Build issues seems unrelated, so closing.

[2020-04-08 08:32] #1021 closed

[2020-04-08 15:43] rafaeltuelho commented on #889
@ppalaga I asked for help on https://gitter.im/apache/camel-quarkus
Can you take a look, please?

[2020-04-08 16:05] jamesnetherton opened #1061 "Olingo4 native mode integration test failure"
[code]

[2020-04-08 18:10] #1061 closed

[2020-04-09 07:27] jamesnetherton opened #1064 "Reinstate MongoDB extensions"
Extensions mongodb & debezium-mongodb are currently disabled because Qarukus 1.3.x does not support the Mongo 4.x client.

We can enable them again for Quarkus 1.4.x.

[2020-04-09 07:35] ppalaga commented on #889
Sorry, replied there.

[2020-04-09 09:25] ppalaga commented on #1064
The mongo modules need to be re-enabled in integration-tests/pom.xml and extensions/pom.xml. integration-tests/mongo/pom-disbaled-issue-1064.xml needs to be renamed back to pom.xml

[2020-04-09 13:17] jamesnetherton commented on #1064
Also need to add the itest module reference back into the CI build config.

[2020-04-09 19:24] lburgazzoli commented on #984
@zhfeng do you plan to work on this ? if not I can take it as it could  ease also for other things I'm working on

[2020-04-09 19:29] lburgazzoli opened #1066 "Remove the need for registering RestBindingJaxbDataFormatFactory service"
Requires https://github.com/apache/camel-quarkus/issues/984

[2020-04-10 07:02] aldettinger commented on #1022
Let's resume when camel-quarkus is aligned on camel >= 3.3

[2020-04-10 12:21] #1013 closed

[2020-04-10 12:21] #1040 closed

[2020-04-10 15:54] oscerd opened #1069 "Move extension aws2-sqs to native extensions"

[2020-04-10 16:13] zhfeng commented on #984
Thanks @lburgazzoli  for taking this issue.

[2020-04-10 19:41] #1069 closed

[2020-04-11 15:21] lburgazzoli opened #1071 "Perform basic testing of aws extension through localstack"

[2020-04-11 15:22] lburgazzoli commented on #1071
/cc @oscerd

[2020-04-11 15:24] oscerd commented on #1071
Let me assign this to myself for the moment

[2020-04-12 12:18] jamesnetherton opened #1072 "Test Azure extension with Azurite"
It should be possible to start up [Azurite](https://github.com/Azure/Azurite) in a container and then configure an Azure client to use it.

[2020-04-13 02:43] zhfeng commented on #984
Hi @lburgazzoli , I just committed my changes to this issue and can you take a look ?

[2020-04-13 09:48] davsclaus opened #1077 "Is quarkus.ssl.native=true still needed"
There are a bunch of examples that has

quarkus.ssl.native=true

In their application.properties.
And others dont.

Is still still needed? I tried the timer-log example and remove this option and was able to do native compilation and run the example.

[2020-04-13 09:48] davsclaus commented on #1077
For example timer-log vs timer-log-cdi

[2020-04-13 09:50] davsclaus commented on #1066
Just a heads up that JAXB is optional in Camel 3.3.0 rest-dsl and only loaded when needed (add camel-core-jaxb as dependency on classpath). Like for other optional JAXB/XML stuff.

[2020-04-13 09:52] davsclaus opened #1078 "Camel JMX is logged as enabled for native compiled example"
As JMX is not possible in native compiled, then we should not have Camel log as if JMX was enabled.

[code]

This is from the timer-cdi example after native compilation and running.
Notice how it logs

[code]

[2020-04-14 08:31] #776 closed

[2020-04-14 13:31] ppalaga opened #1083 "AWS2-SQS native followups"
* Remove `@RegisterForReflection` from `integration-tests/aws2/src/main/java/org/apache/camel/quarkus/component/aws/CamelRoute.java`
* `quarkus.ssl.native=true` in app.props is not necessary because we produce ExtensionSslNativeSupportBuildItem I'd say all items except the credentials can be removed from the app.props.

[2020-04-14 13:40] ppalaga commented on #1077
`quarkus.ssl.native=true` is typically not needed in the application.properties, because the underlying extensions requiring SSL produce ExtensionSslNativeSupportBuildItem (same effect) internally.
It is only needed if none of the used extensions produces ExtensionSslNativeSupportBuildItem and the given example is accessing an HTTPS service (or similar) directly.

[2020-04-14 14:00] oscerd opened #1084 "AWS2-S3 native extension"

[2020-04-14 14:16] davsclaus commented on #1077
Thanks for the detailed feedback. As these timer examples are not using HTTPS, then we can remove them.

[2020-04-14 15:26] davsclaus commented on #1077
Polished the examples

[2020-04-14 15:26] #1077 closed

[2020-04-14 16:28] vitaB opened #1086 "FastHeadersMapFactory ClassNotFoundException since 1.0.0-M6"
with the latest version the following runtime error is thrown for some example routes:
[code]
tested it with the kotlin-timer example:
[code]
I used gradle instead of maven, but since its **working with `1.0.0-M5`**, i don't think its because of the build file. adding this here anyway for the sake of completeness:
[code]
You can add camel-headersmap to the dependencies and it will start again, but

[2020-04-14 17:26] #1083 closed

[2020-04-15 06:46] jamesnetherton commented on #1072
Seems some Camel tweaks are required for this:

https://issues.apache.org/jira/browse/CAMEL-14912

[2020-04-15 08:41] davsclaus commented on #1078
Okay this is a bug in Camel 3.2
https://issues.apache.org/jira/browse/CAMEL-14911

[2020-04-15 08:41] #1078 closed

[2020-04-15 11:37] ppalaga opened #1090 "Jira test fails in native mode on Quarkus Platform"
When upgrading to Camel Quarkus 1.0.0-M6 in Quarkus Platform https://github.com/quarkusio/quarkus-platform/pull/51, the Jira test fails, probably due to slightly different guava version that probably comes from Quarkus.

[2020-04-15 13:44] #1064 closed

[2020-04-15 15:00] #1084 closed

[2020-04-15 15:00] oscerd opened #1092 "Create a support extension for AWS2"

[2020-04-15 19:13] #1092 closed

[2020-04-16 06:51] #1036 closed

[2020-04-16 08:35] aldettinger opened #1097 "Kudu extension native support"

[2020-04-16 09:26] ppalaga commented on #762
Also related: https://github.com/quarkusio/quarkus-grpc

[2020-04-16 10:02] oscerd opened #1099 "AWS2-SNS native extension"

[2020-04-16 14:47] #1099 closed

[2020-04-16 14:56] jamesnetherton opened #1101 "Kubernetes extension native compilation high memory consumption"
The minimum heap size to get the Kubernetes extension to build natively seems to be around 7GB, which is too much for GitHub CI to handle.

For now, I'll disable native tests of this extension on CI. It should be enabled again when this issue is fixed.

[2020-04-16 17:43] #1039 closed

[2020-04-17 06:01] #984 closed

[2020-04-19 15:49] philschaller opened #1105 "Read lock options for files are ignored"
**Describe the bug**
I created a minimal integration test in a separate branch of my fork:
https://github.com/philschaller/camel-quarkus/tree/readLockFails

The route in the test should only move files with a minimal length. But it moves an empty file. Debugging the application showed that it always falls back to generic behavior in `GenericFileExclusiveReadLockStrategy.getExclusiveReadLockStrateg

[2020-04-20 06:26] lburgazzoli commented on #1105
does this happen in native or jvm mode ?

[2020-04-20 06:29] philschaller commented on #1105
Hi
JVM mode, never tried it in native mode. I am not sure if it ever worked with Quarkus or Camel 3.x...or if I am doing something completely wrong.

[2020-04-20 06:32] lburgazzoli commented on #1105
I think you need to reference a bean from a registry, like with

    exclusiveReadLockStrategy=#myStrategy

where `myStrategy` is the name of a bean inf the camel registry or sue something like

    exclusiveReadLockStrategy=#class:org.apache.camel.component.file.strategy.FileChangedExclusiveReadLockStrategy

[2020-04-20 06:37] davsclaus commented on #1105
readLock=change is actually one of the out of the box implementations, so you should NOT use it together with exclusiveReadLockStrategy as that is for using a custom implementation. And if you really want to use that, then use the style luca says with the `#` lookup for bean id.

[2020-04-20 06:38] philschaller commented on #1105
I can try that. But even without any explicit strategy it should work. While debugging it never cared about `readLock=changed`.

[2020-04-20 08:28] philschaller commented on #1105
Just to make this clear: it shows the same behavior without the option `exclusiveReadLockStrategy`.

While debugging the test `FileTest.fileReadLock_minLength()` it always hits `GenericFileProcessStrategyFactory.getExclusiveReadLockStrategy` and returns `null`. I would expect it to run through `FileProcessStrategyFactory.getExclusiveReadLockStrategy` and parse `readLock` and `readLockMinLength`.

[2020-04-20 09:26] zhfeng commented on #1037
I can take a look at this issue, please assign it to me.

[2020-04-20 09:30] #843 closed

[2020-04-20 09:32] jamesnetherton opened #1108 "Investigate removing reflective class configuration for components that extend AbstractApiComponent"
Follow up to https://github.com/apache/camel-quarkus/issues/843.

As noted in https://github.com/apache/camel-quarkus/issues/699, utilizing `AbstractApiComponent`, results in any of its supporting classes that use `@UriParams` to be registered for reflection. Currently this applies to extensions:

* Box
* Braintree
* Olingo4

It'd be good to investigate whether we can fix this.

[2020-04-20 10:49] davsclaus commented on #1105
Works on camel master (not camel-quarkus) so if there is something wrong then its in camel-quarkus.

Its the FileProcessStrategyFactory that should be used as it has the file only strategy such as changed, so you are debugging the wrong class.

[2020-04-20 10:59] philschaller commented on #1105
Thanks for testing with Camel!

I would like to debug `FileProcessStrategyFactory`, but it is never called...

[2020-04-20 13:25] jamesnetherton commented on #1101
Seems this is a known issue on the Quarkus side too https://github.com/quarkusio/quarkus/issues/7374.

[2020-04-20 13:29] jamesnetherton commented on #995
This was fixed when we did the 3.2.0 upgrade.

[2020-04-20 13:29] #995 closed

[2020-04-20 13:30] oscerd commented on #995
sorry, forgot about this

[2020-04-20 15:34] ortwinschneider opened #1109 "Paho extension native support for Websocket Connections"
Try to use ws connection with camel-quarkus-paho but it does not work native compiled. (Works in JVM mode...)

Here is the route:
fromF("timer:lightSensorHeartbeat?period=%s", lightSensor.getFrequency())
                .process(createLightPayload)
                .toF("paho:%s?brokerUrl=%s://%s:%s",mqtt_light_topic,mqtt_protocol,mqtt_host,mqtt_port);

where brokerUrl is ws://myBrokerHost:80

Used

[2020-04-20 15:38] philschaller commented on #1105
Another short round of debugging revealed this:
The strategy factory is supposed to be found in the method `GenericFileEndpoint.createGenericFileStrategy`. But the the factory finder resolver method `FastFactoryFinderResolver.findClass` does not find a corresponding entry in its `classMap` variable for the key `META-INF/services/org/apache/camel/component/strategy.factory.file`.

I do not know if

[2020-04-20 15:38] lburgazzoli commented on #1109
Probably yes, we do register only some protocols: https://github.com/apache/camel-quarkus/blob/master/extensions/paho/deployment/src/main/java/org/apache/camel/quarkus/component/paho/deployment/PahoProcessor.java#L41-L42

[2020-04-20 15:49] ortwinschneider commented on #1109
Ok, I see. Thanks Luca!
Do you consider to add the WebSocketNetworkModuleFactory?? That would be great!
It would really simplify cross cluster communication in terms of configuration...

[2020-04-20 15:54] lburgazzoli commented on #1109
I will have a look

[2020-04-20 15:58] lburgazzoli commented on #1105
@philschaller ok I see what the problem could be, do you mind sending a PR with a filing test ?

[2020-04-21 06:19] lburgazzoli opened #1112 "Revisit factory finder set-up"
The current factory finder set-up does not take into account additional service defined from the factory file using prefixes, as example, the factory file content of the file component defines two services:

[code]

but the current implementation puts an instance if the FileComponent class into the registry and blindly ignore strategy.factory.class, in addition, the current selector can't distingu

[2020-04-21 08:05] davsclaus commented on #1112
We could also make the file/ftp components in Camel use separate files for this so they are all just one key. I can't recall if anyone other component is doing this in camel

[2020-04-21 08:27] lburgazzoli commented on #1112
I'm fine with that as long as we remove the prefix option on the FactoryFinder otherwise there still the chance to this to happen

[2020-04-21 08:35] davsclaus commented on #1112
Just checked camel source and its only the file component doing this, so lets remove the prefix option and use another file for the file strategy so its all the same

[2020-04-21 08:42] davsclaus commented on #1112
Created a ticket in Camel
https://issues.apache.org/jira/browse/CAMEL-14936

[2020-04-21 09:57] davsclaus opened #1113 "Remove register for reflection in file/ftp when upgrading to Camel 3.3"
For example this strategy class is no longer using reflection
https://github.com/apache/camel-quarkus/blob/master/extensions/file/deployment/src/main/java/org/apache/camel/quarkus/component/file/deployment/FileProcessor.java#L38

https://issues.apache.org/jira/browse/CAMEL-14936

[2020-04-21 09:58] davsclaus commented on #1113
Not sure why GenericFile was registered for reflection too? Its an interface, maybe try to remove it or find out why

[2020-04-21 10:15] #1105 closed

[2020-04-21 10:18] galderz opened #1115 "ActiveMQ test failing with Quarkus master"
[code]

[Longer output](https://gist.github.com/galderz/b741e0979cfc777a0697acce9263ab3b).

[2020-04-21 13:10] jamesnetherton commented on #1113
If you remove the reflection registration for `GenericFile` the tests pass, but there's a warning:

[code]

Looks like this is the cause:

https://github.com/apache/camel/blob/aca4ac3d1ac77321c09e717638563a417e607f55/components/camel-file/src/main/java/org/apache/camel/component/file/GenericFile.java#L79

[2020-04-21 13:22] davsclaus commented on #1113
Thanks @jamesnetherton yeah lets see if we can fix this in camel-file to avoid using that reflection based code

[2020-04-21 13:40] hakuseki opened #1116 "Dynamic endpoint cannot be resolved properly (toD)"
Using latest version of Camel Quarkus I cannot get a `toD()` with dynamic http endpoints to be resolved correctly.

` .toD("{{esma.download.url}}")`

which is resolved to this:

`https://registers.esma.europa.eu/solr/esma_registers_firds_files/select?q=*&fq=publication_date:%5B${date:now-72h:yyyy-MM-dd}T00:00:00Z%20TO%20${date:now-24h:yyyy-MM-dd}T23:59:59Z%5D&wt=xml&indent=false&start=0&rows=100`

[2020-04-21 13:41] davsclaus commented on #1113
Okay working on a fix in upstream camel-file/camel-ftp to avoid this last reflection bits with GenericFile

[2020-04-21 13:44] lburgazzoli commented on #1116
can you try to add

    quarkus.camel.service.discovery.include-patterns = META-INF/services/org/apache/camel/send-dynamic/http

to the application.properties ?

[2020-04-21 13:49] davsclaus commented on #1116
Oh there is a few components that has this - especially the HTTP based so we should find a solution for this in camel-quarkus

[2020-04-21 13:52] lburgazzoli commented on #1116
Yeah we can add this to the default list of locations, I just need a confirmation that this fixes the issue, then I can fix it

[2020-04-21 13:54] hakuseki commented on #1116
inner issue fixed but then I get a NPE in

`2020-04-21 15:52:29,888 WARN  [org.apa.cam.com.tim.TimerConsumer] (Camel (camel-2) thread #10 - timer://FIRDSDownloader) Error processing exchange. Exchange[93CF35C1B474473-0000000000000000]. Caused by: [java.lang.NullPointerException - null]: java.lang.NullPointerException
        at org.apache.camel.catalog.impl.AbstractCamelCatalog.componentJSonSchema

[2020-04-21 13:58] davsclaus commented on #1116
Ah okay that smells like it lacks some camel-core-catalog files that it uses for optimizing the dynamic endpoints when using toD. There is a JIRA ticket upstream at Apache Camel to implement something that is potentially smarter and source code generated specific tailored java code or something.

[2020-04-21 13:59] davsclaus commented on #1116
You can turn off optimizing toD with this strategy on toD (there is an option to do that).

[2020-04-21 13:59] hakuseki commented on #1116
Ahh, I see. The NPE is in `DefaultRuntimeCamelCatalog.java`

`public ComponentModel componentModel(String name) {
        return (ComponentModel)this.cache("component-model-" + name, name, (x$0) -> {
            return super.componentModel(x$0);
        });
    }`

[2020-04-21 14:02] davsclaus commented on #1116
The JIRA ticket is: https://issues.apache.org/jira/browse/CAMEL-14499

[2020-04-21 14:12] davsclaus commented on #1113
Okay fixed the last reflection bits in GenericFile for Camel 3.3

[2020-04-21 14:19] lburgazzoli commented on #1116
@hakuseki I don't have the NPE, mind sharing a little reproducer ?

[2020-04-21 16:10] hakuseki commented on #1116
`    from(timer("FIRDSDownloader").repeatCount(1))
                .setHeader("CamelHttpMethod", constant("GET"))
//                .toD("registers.esma.europa.eu/solr/esma_registers_firds_files/select?q=*&fq=publication_date:%5B${date:now-72h:yyyy-MM-dd}T00:00:00Z%20TO%20${date:now-24h:yyyy-MM-dd}T23:59:59Z%5D&wt=xml&indent=false&start=0&rows=100&allowOptimisedComponents=false")
                .

[2020-04-21 16:12] hakuseki commented on #1116
`    from(timer("FIRDSDownloader").repeatCount(1))
                .setHeader("CamelHttpMethod", constant("GET"))
//                .toD("registers.esma.europa.eu/solr/esma_registers_firds_files/select?q=*&fq=publication_date:%5B${date:now-72h:yyyy-MM-dd}T00:00:00Z%20TO%20${date:now-24h:yyyy-MM-dd}T23:59:59Z%5D&wt=xml&indent=false&start=0&rows=100&allowOptimisedComponents=false")
                .

[2020-04-21 16:49] lburgazzoli commented on #1116
@hakuseki I've created [this PR](https://github.com/apache/camel-quarkus/pull/1117) with the fix for the first issue but I'm unable to reproduce the NPE

[2020-04-21 17:10] hakuseki commented on #1116
Thx

So what you are saying is that you can run my route and get a reply from the URL without any NPE?

The URL endpoint is working, tried to use a static URL on a `.to()` and I got a response back.

[2020-04-21 17:13] lburgazzoli commented on #1116
This is what I do: https://github.com/apache/camel-quarkus/pull/1117/files#diff-26b140eadb8c00c2a78ff3d7e4001450

[2020-04-21 17:15] hakuseki commented on #1116
Looks like "mine" but I'm curious if I have some dependencies missing or any other structural errors in my code…

[2020-04-21 19:13] davsclaus commented on #1116
btw allowOptimisedComponents=false is wrong, as its an option on toD itself and not http component. https://camel.apache.org/components/latest/eips/toD-eip.html

However setting this option in Java DSL is not so easy.

the toD docs is a bit wrong with the cacheSize example later on - I will fix that

[2020-04-21 19:22] davsclaus commented on #1116
And a ticket to make configuring toD easier in Java DSL
https://issues.apache.org/jira/browse/CAMEL-14943

[2020-04-22 07:07] zhfeng commented on #1037
I just think if we support the command lines, it could be too late to pass the args to the camel context which could be started when the Quarkus bootstrap up. Or we have to defer the [CamelMain.start()](https://github.com/apache/camel-quarkus/blob/master/extensions-core/core/deployment/src/main/java/org/apache/camel/quarkus/core/deployment/BuildProcessor.java#L605) to the QuarkusApplication main m

[2020-04-22 07:44] lburgazzoli commented on #1037
I think yes, when camel-main is enabled, then it should be started by the QuarkusApplication main method (like any other cmael-main based runtime)

[2020-04-22 07:52] lburgazzoli commented on #1037
I also think we can revisit the way we do bootstrap camel-quarkus (naming is purely indicative):

- embedded
  - routes are added to the camel context directly
  - context need to be programmatically configured
- main
  - routes are managed by camel-main
  - support for command line
  - support for configuration through properties
- static (aka lightweight)
  - routes are added to the camel contex

[2020-04-22 07:55] davsclaus commented on #1037
Oh @lburgazzoli thats a great idea to have different extensions for the different bootstrap modes. And we can also have camel-quarkus to log at INFO level which mode it runs in so the end user can better see this too - and we can also better document explain this and have different examples etc. Instead of some magic option in the application.properties file to switch mode.

[2020-04-22 10:22] hakuseki commented on #1116
I have now created a empty project from code.quarkus.io and then added my dependencies and the Download route.

Running it gives me the same NPE:

[code]

[2020-04-22 10:25] lburgazzoli commented on #1116
can you upload the project to github ?

[2020-04-22 10:30] hakuseki commented on #1116
https://github.com/hakuseki/CamelQuarkusDynamicHttp

[2020-04-22 10:34] hakuseki commented on #1116
removed all jdbc/flyway stuff for convenience

[2020-04-22 10:36] hakuseki commented on #1116
Expected result would be:

[code]

[2020-04-22 11:31] lburgazzoli commented on #1116
ok so I've been able to narrow down the issue and it has been solved in camel 3.2.0 so it will be available from the next camel-quarkus release

[2020-04-22 11:47] #1116 closed

[2020-04-22 11:57] lburgazzoli commented on #1037
We can probably have a default and overrideable `assembler` in the core extension that does the bare minimum to set-up and run routes on a context so as example running a simple timer -> log example would require only the `camel-quarkus-timer` extension dependency, but then the `assembler` is swiped by adding either the `main` or `static` bootsrtapper

[2020-04-22 14:55] zhfeng commented on #1037
So the CamelBootstrapBuildItem might be introduced here to be added in the ```assembler``` ? Also I'm not very clear how to control the bootstrap mode by the options in the application,properties. currently the ```quarkus.camel.main.enabled``` is used.

[2020-04-22 15:01] lburgazzoli commented on #1037
We don't need to control the bootstrap by an option but instead each "boostrap extension" shoul override the default `assembler` so `quarkus.camel.main.enabled` should can go away

[2020-04-22 15:24] #1097 closed

[2020-04-22 15:26] zhfeng commented on #1037
Thanks @lburgazzoli - it looks like a big change to introduce the "bootstrap extension" and I think it could be better to raise a new issue.

[2020-04-22 15:43] jamesnetherton opened #1121 "Kudu native build fails"
[code]

[2020-04-22 18:16] #1121 closed

[2020-04-22 18:42] lburgazzoli commented on #1037
yeah I will

[2020-04-23 06:47] jamesnetherton opened #1126 "Quarkus Master - Classes that should be initialized at run time got initialized during image building"
I observed some failures building camel-quarkus with the latest Quarkus 999-SNAPSHOT.

This happens on at least the HTTP and Telegram native tests. Given this is related to Netty, it's likely it fails for other extensions too.

[code]

[2020-04-23 07:37] lburgazzoli opened #1128 "Revisit camel-quarkus bootstrap"
**Current State**

The **camel-quarkus-core** extension has two main responsibilities:
1. set-up the camel context
2. set-up the camel's main and start it

Camel's main support is an optional feature enabled by default that in essence:
- takes the camel context from 1
- configure the reactive engine
- collect routes
- collect main listeners
- start the main (which binds routes to the camel context

[2020-04-23 08:15] lburgazzoli commented on #1126
I don't know if this is the culprit but there's a number of `io.netty.util.concurrent` classes here: https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/netty/channel/ChannelManager.java

[2020-04-23 09:06] ppalaga commented on #1128
... by the user

... by the user

By whom?

... by the user? Which aspects of the context for example?

My standpoint is the same as in the past when we were introducing the main: If 80+% of Camel Quarkus users will be supposed to add dependency X, then the dependency should be present by default and the users do not need to know about the fine tuning unless they know what they do. Requiring a dec

[2020-04-23 09:22] lburgazzoli commented on #1128
I think you get this wrong as my proposal is to revisit the boostrap in general so if you don't have main as extension, then camel will still start the camel context and will still auto discovery routes as it does today, what it will lacks is some bits that are supported by camel main which you cna leverage by adding the main extension.

static initit cane become the default only if it does not br

[2020-04-23 10:05] ppalaga commented on #1128
Could you please edit your proposal and clearly split

* Current state
* Problems with the current state
* Proposed state
* Pros/cons of the proposed state

[2020-04-23 13:54] aldettinger opened #1132 "Add JDK 11 support to the Kudu container based itests infrastructure"

[2020-04-23 13:55] lburgazzoli commented on #1128
@ppalaga updated the issue

[2020-04-23 14:17] oscerd opened #1133 "Added AWS2-CW native extension"

[2020-04-23 17:55] #1133 closed

[2020-04-24 02:55] github-actions[bot] opened #1136 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 86308411-1-2755c319-96d2-4cba-9773-2ce72e414cca
* Commit: 47d2560ce52d06ae029dd0a9856f6b22fe7eae9f

* Link to build: https://github.com/apache/camel-quarkus/actions/runs/86308411

[2020-04-24 07:02] oscerd opened #1140 "Add an AWS2-EC2 native extensions"

[2020-04-24 07:03] oscerd opened #1141 "Add an AWS2-ECS native extension"

[2020-04-24 07:03] oscerd opened #1142 "Add an AWS2-EKS native extension"

[2020-04-24 08:11] zhfeng commented on #1128
So this is the same as the CamelMain.start() currently ?

How can we support this customizer with CDI beans ? provide the BeanConfigurationBuildItem in the user's application code ?

I just introduce the ```quarkus.camel.bootstrap.enabled``` option and the user can disable the bootstrap in the extension and will do the configuration and boot the camel context by themselves. Do you think it make se

[2020-04-24 10:22] jamesnetherton opened #1144 "Leverage camel-platform-http-vertx in platform-http extension"
Most of the platform HTTP code now lives in the Camel main project. So it makes sense to reuse as much as is possible and remove the duplicated code from this project

[2020-04-24 10:26] jamesnetherton commented on #880
Superseded by https://github.com/apache/camel-quarkus/issues/1144 as this capability is present in camel-platform-http-vertx.

[2020-04-24 10:26] #880 closed

[2020-04-24 10:26] galderz commented on #1115
Fixed.

[2020-04-24 10:26] #1115 closed

[2020-04-24 10:31] galderz opened #1145 "MethodAccessorGenerator reachable error in camel-activemq tests with jdk11u-dev"
Env: jdk11u-dev base, graal and quarkus masters.

`camel-activemq` test failing with:
[code]

We've seen similar issues before (see optaplanner issue https://github.com/quarkusio/quarkus/issues/7422). The problem is not clear at first sight and requires some digging to find out the root cause. I'll look into this.

[Longer output](https://gist.github.com/galderz/beea969ec6b0451c117e3f9cf6b39d8f)

[2020-04-24 12:14] jamesnetherton opened #1146 "Intermittent failure of HystrixTest"
The error below keeps popping up, so for now I'll disable the test when running in GitHub CI.

[code]

Maybe we should drop this extension once we upgrade to Camel 3.3.0 and replace with the new `camel-microprofile-fault-tolerance`.

[2020-04-24 12:18] davsclaus commented on #1146
Yeah switch and maybe we should not have hystrix extension as its EOL and we have 2 other implementations now with resilience4j and microprofile

[2020-04-24 14:12] galderz commented on #1145
I realised I had a bug in my calls to test things, it might have been testing old code. I'll try again next week.

[2020-04-25 04:08] #1136 closed

[2020-04-26 02:19] github-actions[bot] opened #1148 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 87954770-3-c988ac20-51e5-48de-97d2-a17a8afa1977
* Commit: e097e5b35cce4341c58028b69629d5bc744c7a88

* Link to build: https://github.com/apache/camel-quarkus/actions/runs/87954770

[2020-04-27 04:33] lburgazzoli commented on #1128
Except it does not use camel-main

mh, probably we don't need it as we fire CDI events so one can listen and react to them.

The default bootstrapper should be marked as optional so developers can provide an alternative one if they want a custom boostrap logic

[2020-04-27 08:45] ppalaga opened #1153 "Import camel-quarkus-bom-test into camel-quarkus-build-parent-it"
Followup https://github.com/apache/camel-quarkus/pull/1151

[2020-04-27 13:07] ppalaga opened #1154 "Generating JavaDoc is slown on Java 11"

[2020-04-27 13:10] lburgazzoli commented on #1154
When doing a release on java 11 what I see for almost all the deployment modules:

[code]

[2020-04-27 13:16] lburgazzoli opened #1155 "Disable tests (unit and integration) while doing a release"
Doping a release of ~700 modules (and we still have to add support for many components) is quite time expensive so we should disable unit and integration tests by default when running with the release profile

[2020-04-27 13:21] lburgazzoli opened #1156 "javadoc plugin re-run in release:perform"
When performing the release:perform I see the javadoc plugin to re-run and regenerate docs and because of https://github.com/apache/camel-quarkus/issues/1154, the release process takes a lot of time

[2020-04-27 14:07] aldettinger opened #1157 "Drop Kudu container-based itests infra for JDK 8"
We'll drop Java 8 rather soon, so this could be cleaned up.

[2020-04-27 22:07] lburgazzoli commented on #1155
We can probably also disable some additional plugins such as:

- groovy
- enforcer
- formatter

[2020-04-28 03:24] zhfeng commented on #1128
This looks like to add a similar CdiEventNotifier in camel context during the building time ?

[2020-04-28 04:18] #1148 closed

[2020-04-28 06:31] lburgazzoli commented on #1128
yeah, something like that but we need to think a little about it

[2020-04-28 12:27] aldettinger commented on #1132
The build is ok.

[2020-04-28 12:27] #1132 closed

[2020-04-28 13:28] galderz commented on #1145
Not present with latest snapshots.

[2020-04-28 13:28] #1145 closed

[2020-04-28 13:34] galderz opened #1160 "ActiveMQ XalanXPathEvaluator CNFE warning"
Running native tests with OpenJDK 11 based GraalVM shows these log messages (doesn't cause build to fail):

[code]

The issue could be due to the JVMCI layer on OpenJDK that uses reflection, instead of querying the JVM itself, and has in the past shown similar CNFEs. E.g. https://github.com/quarkusio/quarkus/issues/8081

[Longer output](https://gist.github.com/galderz/fe7949632665127193af2c8bca516

[2020-04-28 13:40] lburgazzoli commented on #1160
The reason is that the activemq client uses reflection to discovery some classes (see https://github.com/apache/activemq/blob/master/activemq-client/src/main/java/org/apache/activemq/filter/XPathExpression.java#L51-L85) but the mentioned class is part of `activemq-broker` which brings ton of unused classes so it has been [excluded](https://github.com/apache/camel-quarkus/blob/master/extensions/act

[2020-04-28 14:48] galderz opened #1161 "ClassNotFoundException JAXBContext in camel-core-impl"
Seeing the following with OpenJDK 11 based GraalVM:

[code]

[Longer output](https://gist.github.com/galderz/f11f7e6ecd2a36a31976f148cbdc8029)

[2020-04-28 14:57] galderz commented on #1161
This should be solvable adding jaxb dependency.

Note what I said in a similar situation [here](https://github.com/quarkusio/quarkus/pull/8185#discussion_r398523136). Adding such dependency has no influence in the final image, it's just to make the pointsto analysis JVMCI layer used in stock OpenJDK 11 work.

[2020-04-28 15:00] galderz commented on #1160
I see. Does not seem to cause failures, so closing this.

[2020-04-28 15:00] #1160 closed

[2020-04-28 15:56] ppalaga commented on #1156
javadoc, source jars and signing must be run during release:perform because release:perform checks out a tag into a temp folder and runs `mvn deploy` there. Artifacts built during `release:prepare` are not available in that temp folder. But we can skip javadoc, source jars and signing in `release:prepare`.

[2020-04-28 15:57] lburgazzoli commented on #1161
@davsclaus do you think can hide this even better ?
The culprit is https://github.com/apache/camel-quarkus/blob/master/extensions-core/core/runtime/src/main/java/org/apache/camel/quarkus/core/DisabledModelJAXBContextFactory.java#L19

[2020-04-28 17:04] davsclaus commented on #1161
@lburgazzoli yes already done
https://github.com/apache/camel/blob/master/core/camel-api/src/main/java/org/apache/camel/spi/ModelJAXBContextFactory.java

https://issues.apache.org/jira/browse/CAMEL-14829

[2020-04-28 17:10] galderz commented on #1161
Oh nice, great timing @davsclaus. Would a `3.3.0-SNAPSHOT` camel version work with the current `camel-quarkus`?

[2020-04-28 17:22] lburgazzoli commented on #1161
We have [branch](https://github.com/apache/camel-quarkus/tree/camel-master)  but it does not target quarkus snapshots, guess we can add a workaround for now and reference this issue to remove it when migrating to camel 3.3.x

[2020-04-28 21:20] #1154 closed

[2020-04-28 21:20] #1156 closed

[2020-04-29 08:06] galderz commented on #1161
Sounds good. I'll try to fix it with a workaround and see how it goes...

[2020-04-29 08:31] aldettinger commented on #1086
Thanks for sharing experience @vitaB :+1:

I was not able to reproduce but I would expect that kind of issues to occur when versions are misaligned. Sharing a kind of dependency tree would help a lot here.

Strangely, I've noticed that camel-headersmap was [moved out from core](https://issues.apache.org/jira/browse/CAMEL-14887) at the very same time this issue was experienced. So I wonder if gradl

[2020-04-29 09:39] galderz commented on #1161
The workaround (https://github.com/galderz/camel-quarkus/commit/3da275e7560d080eab7b229869b5518198e20d48) worked. I'm letting the testsuite continue and see what else comes up.

[2020-04-29 12:14] ppalaga commented on #1155
Groovy checks, enforcer, formatter and tests should be all skipped with both `release:prepare` and `release:perform` after https://github.com/apache/camel-quarkus/pull/1162

[2020-04-29 12:14] #1155 closed

[2020-04-29 12:15] galderz opened #1166 "Unresolved type Base64 in camel-jira native test"
* jdk11u-dev/master
* graal/master
* quarkus/master
* camel-quarkus/master

[code]

[Longer output](https://gist.github.com/galderz/2013fdb89063fb4ecc99ca35d51f31c1)

[2020-04-29 12:15] aldettinger commented on #756
Closing as I could run it in native mode locally and it looks [fixed](https://github.com/apache/camel-quarkus/commit/6c2595c4fdda5c8ae6e1a3d78fdbcba770585ee0#diff-aaa7eadc3e7fdd1e8d11cbf88dc52b4c).

[2020-04-29 12:15] #756 closed

[2020-04-29 12:16] ppalaga commented on #1086
The bottom line is that our examples should contain some basic tests.

[2020-04-29 12:23] ppalaga commented on #1153
After pondering on it a bit I think that keeping camel-quarkus-bom-test separate might make sense for  third parties developing Camel Quarkus extensions outside of our source tree.

But we can still simplify our test poms through importing camel-quarkus-bom-test in camel-quarkus-build-parent-it. Let me do that unless somebody has a better idea.

[2020-04-29 12:27] lburgazzoli commented on #1166
@claudio4j  can we replace [this](https://github.com/apache/camel/blob/master/components/camel-jira/src/main/java/org/apache/camel/component/jira/oauth/JiraOAuthAuthenticationHandler.java#L31) with Java's libraries instead of the repackaged commons-codec class ?

[2020-04-29 13:29] claudio4j commented on #1166
Yes it can be replaced. I will do it today or tomorrow, then will let you know here.

[2020-04-29 14:12] #896 closed

[2020-04-29 14:12] jamesnetherton opened #1167 "Remove Elasticsearch Rest doc title fix when upgrading to Camel 3.3.0"
See TODO comment in `UpdateDocExtensionsListMojo.execute()`.

[2020-04-29 16:51] vitaB commented on #1086
Here is the dependency tree from the above build file
[code]
the correct version of `org.apache.camel:camel-util` is there but `org.apache.camel:camel-headersmap` is missing.

I have now just tried to declare the dependencies version explicitly instead of using the bom and then the `camel-headersmap` is part of the loaded dependencies (and the error doesn't occur anymore).
[code]

[2020-04-29 16:51] claudio4j commented on #1166
PR in place https://github.com/apache/camel/pull/3785

[2020-04-29 17:12] lburgazzoli commented on #1086
I think you can probably fix it with M6 by adding

    quarkus.camel.service.discovery.exclude-patterns = META-INF/services/org/apache/camel/headers-map-factory

to the application.properties

[2020-04-29 19:39] #1153 closed

[2020-04-30 09:24] galderz commented on #1166
Thanks @claudio4j for the quick fix!

[2020-04-30 09:45] hakuseki opened #1171 "Dev mode does not work using platform 1.4.1"
Using 1.0.0-M6 or 1.0.0-M7 on 1.4.1.Final, **camel-quarkus-core** throws the following exception:

[code]

Removing camel-quartkus-core from dependencies removes this error.

Sample available here

https://github.com/hakuseki/CamelQuarkusDynamicHttp

[2020-04-30 09:47] lburgazzoli commented on #1171
1.0.0-M6 was tested against quarkus 1.3.1
there's a new release of camel quakrus 1.0.0-M7 that supports 1.4.1

[2020-04-30 09:50] hakuseki commented on #1171
Yes, I know, tested on 1.4.1.Final

[2020-04-30 10:03] lburgazzoli commented on #1171
yep but I think there is an issue as there's no quarkus platform that supports camel-quarkus m7 so there may be some conflicts with the version

[2020-04-30 12:33] ppalaga commented on #1171
Thanks for the feedback, @hakuseki !

Yes, this seems to be caused by maven choosing wrong paths to solve the dependency conflicts between the versions declared in camel-quarkus-bom 1.0.0-M7 and quarkus-universe-bom 1.4.1 (that in turn imports camel-quarkus-bom 1.0.0-M6).

I have found two ways, how to solve it:

(a) remove

[code]

You can do that, because camel-quarkus-bom imports quarkus-bom wh

[2020-04-30 12:40] hakuseki commented on #1171
Thank you, I moved the camel bom over quarkus and now it works

[2020-04-30 14:24] ppalaga commented on #1128
Thanks for the update, @lburgazzoli , it makes much more sense to me now.

Could you please confirm/deny/explain the following?

1. According to your proposal, our non-core extensions will depend on `camel-quarkus-core` (rather than `camel-quarkus-main`), right?

2. Our existing itests should in theory either (a) work with the proposed changes as long as they do not use `camel.*` properties or (b)

[2020-04-30 15:36] lburgazzoli commented on #1128
correct

correct

this is very hard to answer as there's many way to use camel, using main to create a standalone camel application is certainly one option but you can also use some little camel from `smallrye-reactive-messaging` or when you need some small integration capabilities in your application.

I think that nowadays it is likely common to require some integration capabilities so I believe

[2020-04-30 21:44] weimeilin79 opened #1173 "Need an archetype for Camel Quarkus"
For maven users, having an archetypes comes in handy when starting a new project from scratch.

[2020-05-04 00:12] github-actions[bot] opened #1174 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 94799363-1-f161c04d-6d72-488d-9d7b-d9ed71143ff9
* Commit: e8543f5bbcf5ef1ef2df641f4fb071a1a618679a

* Link to build: https://github.com/apache/camel-quarkus/actions/runs/94799363

[2020-05-04 06:41] jamesnetherton commented on #892
@lburgazzoli is there anything specific that needs to be done for this?

I tested it on the master branch and it seems to be working fine.

[2020-05-04 06:50] lburgazzoli commented on #892
@jamesnetherton not I'm aware of, was thinking to have this process done at build time so basically have a component name resolver that returns a static list of component names.

[2020-05-04 07:13] ppalaga commented on #1173
We indeed do not have a Maven Archetype, but there are two other ways to scaffold new projects:

1. https://code.quarkus.io/

2. `quarkus-maven-plugin` can scaffold projects also for Camel Quarkus:

[code]

Do you think @weimeilin79 1. and 2. are missing some functionality against an archetype?

[2020-05-04 07:17] lburgazzoli commented on #1173
I think the main issue is that those tools do not generate a camel specific set-up so i.e. they do generate a JAX-RS application whereas it would be nice to have a sample route

[2020-05-04 07:21] davsclaus commented on #1173
Yes I think its part of a bigger picture. How to let extensions / influence the generated projects - its not only a Camel thing. What if you add hibernate extension then you may want it to setup some jpa/hibernate stuff, and so for other extensions.

But its the same at spring boot, it also generates an empty/shallow project.

A maven archetype is cumbersome to use and also a big ugly with all the

[2020-05-04 07:48] ppalaga commented on #1173
The Quarkus folks are working on a solution for the extensions to co-scaffold starter projects: https://groups.google.com/d/msg/quarkus-dev/yUcOM8jwIvY/5ZQXK7ZlDwAJ

[2020-05-04 08:22] ppalaga commented on #1171
Unless somebody has a better idea, I am going to try to

1. Create a new dev mode test to cover cases like the above

2. Make the platform to execute it.

[2020-05-04 09:45] #1174 closed

[2020-05-04 14:30] #1157 closed

[2020-05-04 15:32] ppalaga opened #1177 "Add simple timer dev mode test"
Follow up https://github.com/apache/camel-quarkus/issues/1171

[2020-05-04 16:22] dc2tom commented on #837
Hi, I've made a start with this following the Freemarker pull request as an example.  I'm working on porting over the unit tests from camel-velocity but there is one thing I'm not getting.

When trying to run my test, against the below resource definition
[code]
I see the following failure:
[code]
I can't work out how the RouteBuilder is invoked - my integration tests exist in the org.apache.camel

[2020-05-04 16:35] ppalaga commented on #837
Sounds like your integration test module is missing the `camel-quarkus-direct` dependency.

[2020-05-04 19:56] dc2tom commented on #837
Perfect, thanks for the quick response, I'm now in a position to work through porting the rest of the camel-velocity test over.

Hopefully I can have a pull request ready in the near future.

[2020-05-04 21:00] #1177 closed

[2020-05-05 02:42] github-actions[bot] opened #1179 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 95760384-12-650a3bfd-f963-4e03-8a99-f99bb6ba96b4
* Commit: b1e5afe8d7bd16d715a81851490b837962faa502

* Link to build: https://github.com/apache/camel-quarkus/actions/runs/95760384

[2020-05-05 09:48] aldettinger opened #1180 "Avro dataformat native support"

[2020-05-05 13:52] ppalaga opened #1182 "ASM Unsupported api 524288 after the upgrade to Gizmo 1.0.3"
After upgrading to a Quarkus version using Gizmo 1.0.3, `camel-quarkus-integration-test-mail` is throwing the following exception during the augmentation:

[code]

The api version `524288` is the value of ASM's `org.objectweb.asm.Opcodes.ASM8`. It turns out that an unshaded `org.objectweb.asm.ClassVisitor` class is present in `org.graalvm.nativeimage:svm:19.3.1`. It pops up because the mail test p

[2020-05-05 14:48] lburgazzoli commented on #1128
@ppalaga are the info here good enough to start working on the implementation ?

[2020-05-05 15:34] ppalaga commented on #1128
One more question: `main-static` will have no support for the `camel.*` properties?

[2020-05-05 16:02] #1182 closed

[2020-05-05 18:38] ppalaga opened #1188 "Couchbase native support"
Related:

* https://github.com/quarkusio/quarkus/issues/6228
* https://github.com/quarkusio/quarkus/issues/6199

[2020-05-06 07:16] lburgazzoli commented on #1128
Additional note, there is an [issue](https://issues.apache.org/jira/browse/CAMEL-14600) about move component auto configuration as part of standard component life-cycle which would make revisiting the bootstrap process even more appealing as configuring components/languages/etc with be available out of the box with less overhead

[2020-05-06 12:02] JiriOndrusek opened #1190 "Debezium MongoDB Connector native support"

[2020-05-06 12:02] JiriOndrusek commented on #1190
Please, assign to me.

[2020-05-06 12:03] JiriOndrusek opened #1191 "Debezium PostgresSQL Connector native support"

[2020-05-06 12:03] JiriOndrusek commented on #1191
Please, assign to me.

[2020-05-06 12:04] JiriOndrusek opened #1192 "Debezium MySQL Connector native support"

[2020-05-06 12:04] JiriOndrusek commented on #1192
Please, assign to me.

[2020-05-06 12:06] JiriOndrusek opened #1193 "Debezium SQL Server Connector native support"

[2020-05-06 12:07] JiriOndrusek commented on #1193
Please, assign to me.

[2020-05-06 13:40] ennishol opened #1195 "ClassNotFoundException: CamelCronService"
Camel-quarkus is failing to start if camel-quarkus-quartz added to a project

[code]

[code]

[2020-05-06 13:59] ppalaga commented on #1195
Thanks for the report, @ennishol. Could you please share a minimal reproducer project?

[2020-05-06 14:00] jamesnetherton commented on #1195
It's easy to reproduce just by adding the quartz extension to any of our existing example projects.

You can add `camel-quarkus-cron` as a workaround. E.g:

[code]

I'll work on a permanent fix to try and avoid this.

[2020-05-06 16:56] #1195 closed

[2020-05-07 08:24] zhfeng opened #1197 "transacted() support in camel-quarkus"
It looks like failing with
[code]
since it does not support the camel-spring and that means we can not use the SpringTransactedPolicy any more. I wonder it is possible to create a new QuarkusTransactedPolicy which could leverage the CDITransactionManager from the narayana-jta extenstion.

[2020-05-07 18:40] vitaB opened #1200 "NullPointerException with telegram webhook"
When starting a webhook telegram route the class `TelegramEndpoint` is throwing a null pointer exception, because TelegramService is not initialized. I don't think it's due to `camel-telegram`, because it works without quarkus.
Here the exception:
[code]
my code example
[code]
and the pom
[code]

[2020-05-09 04:21] #1179 closed

[2020-05-11 00:14] github-actions[bot] opened #1205 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 100950694-2-7c494245-cf14-4390-93f8-b552baa65981
* Camel Quarkus Commit: 6520257652a7d99f7a5358a5012673daf828e7dd

* Camel Master Commit: 123a3b54e40eae7dfea036efa0455fb4d5e2a2f5
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/100950694

[2020-05-11 06:44] lburgazzoli opened #1206 "Kudu IT failing"
The Kudu IT tests are failing on my environment:

[code]

**java -version**
[code]

**docker info**
[code]

[2020-05-11 06:44] lburgazzoli commented on #1206
/cc @aldettinger

[2020-05-11 07:02] zhfeng commented on #1128
@lburgazzoli is there any update on this issue ?

[2020-05-11 07:05] lburgazzoli commented on #1128
I'm workign on a big refactor :)

[2020-05-11 07:40] galderz commented on #1166
@claudio4j I'm trying to verify the fix, but have not yet managed to do so.

Last week patched camel 3.2.x with the fix (see [branch](https://github.com/galderz/camel/tree/t_base64_32x)), but was unable to get to the test failure. I encountered https://github.com/quarkusio/quarkus/issues/9103 and @ppalaga's PR didn't work when I first tried it. I'm trying again now that @ppalaga has a new fix and

[2020-05-11 08:33] aldettinger commented on #1206
@lburgazzoli, darn, I thought I got them ok as it was running on CI and my machine. Those Kudu itests are using a somewhat tricky testcontainer setup.

`Not enough live tablet server` would indicate that the tablet server is not running, or that tablet and master containers are not able to communicate.

Could you please attach full logs from the build ? Maybe, there is something simple, worst case

[2020-05-11 08:52] lburgazzoli commented on #1206
here the full log:

[build.log](https://github.com/apache/camel-quarkus/files/4608531/build.log)

[2020-05-11 11:15] galderz commented on #1166
Somehow things have changed for Camel Jira native tests. They're now skipped unless you start a JIRA instance (e.g. docker) and set the right env variables. Can't find a CI run that would show an example so maybe Camel Jira native tests are not run? Discussion [here](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Camel.20jira.20native.20tests.20not.20running.3F).

[2020-05-11 11:59] aldettinger commented on #1206
I've disabled Kudu itests as testcontainer is not able to bridge master and tablet server container on some platforms/configurations.

[2020-05-11 12:03] lburgazzoli commented on #1206
@aldettinger do you have some details ?

[2020-05-11 12:44] aldettinger commented on #1206
@lburgazzoli I don't have much details, but let me share my findings.

From the logs of a non-working configuration you've shared above, the first meaningful difference is that line:
`client connection to 192.168.96.2:7051: connect: No route to host (error 113)`
It means that from the 2 containers involved in this test, the tablet server one is not able to communicate with the master one.

In a wo

[2020-05-11 13:05] ppalaga opened #1208 "Use influxdb 2.18 as in Camel 3.3.0"
Not easy because influxdb-java 2.18 brings a major upgrade to okhttp3 4.5.0 that need some work on our (or maybe Quarkus) side.

[2020-05-11 20:33] ppalaga commented on #1208
okhttp3 3.x is used by Kuberenetes client.

[2020-05-12 02:21] github-actions[bot] opened #1210 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 102060752-19-15cecac9-c3a3-4509-9008-2479de32fd98
* Camel Quarkus Commit: 109fb2cdadbb336ee4a6426ff9c353096355265d

* Quarkus Master Commit: 49946324d4c2864077d70564f8fb75d07dd4171b
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/102060752

[2020-05-12 11:24] davsclaus opened #1212 "Cute Extension - Add options for allowing template via header/context map"
The latest two CAMEL tickets should also be implemented in the cute extensions
https://github.com/apache/camel-quarkus/blob/master/extensions/qute/component/src/main/java/org/apache/camel/component/qute/QuteEndpoint.java

https://issues.apache.org/jira/browse/CAMEL-15013
https://issues.apache.org/jira/browse/CAMEL-15050

[2020-05-12 11:37] ppalaga commented on #1161
To fix this, it should be enough to remove the workaround in https://github.com/apache/camel-quarkus/pull/1185/files#diff-93052fe9a22c86587a36da3725c66eb4R52-R55 and https://github.com/apache/camel-quarkus/pull/1185/files#diff-8fa2182cc03b4d845ad00fa7138e1d3bR59-R62 after upgrading to Camel 3.3.0

[2020-05-12 12:07] zhfeng commented on #1212
@davsclaus I can take a look with the qute extension. please assign to me.

[2020-05-12 12:09] zhfeng commented on #1200
@vitaB can you provide the whole project and it could be helpful to reproduce this issue ? Thanks

[2020-05-12 12:10] davsclaus commented on #1212
Thanks and you are welcome to ping me if you need more details.

[2020-05-12 14:23] #1210 closed

[2020-05-12 21:25] vitaB commented on #1200
@zhfeng  sure, thanks for taking a look at it. Here's the project:
[quarkus-camel-webhook-telegram.tar.gz](https://github.com/apache/camel-quarkus/files/4618496/quarkus-camel-webhook-telegram.tar.gz)

To test the communication with telegram the values for
[code]
must be set in  application.properties. But since the error is thrown at startup, you can leave the test values in the file like it is.

[2020-05-13 02:10] github-actions[bot] opened #1218 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 103129067-20-3e653f9e-dc7b-49a9-b1ee-61295140431f
* Camel Quarkus Commit: 94cf0f1c1efe4e1319b1b85a7f809626101ebe71

* Quarkus Master Commit:
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/103129067

[2020-05-13 07:57] zhfeng commented on #1200
@vitaB I tried this router
[code]
both using the camel-quarkus and camel-main. They are all throwing the NPE. So I assume that this might be the camel-telegram issue which needs to defer the regiterWebhook method after the router is started.

Anyway, do you have any example which the router is stared successfully ?

[2020-05-13 09:31] himanshumps commented on #1188
Any timelines when this would be available. We are using 2.x and 3.x Java SDK and would like to see it in both the versions

[2020-05-13 10:25] vitaB commented on #1200
here is an example of a webhook registration with camel:
[camel-test.tar.gz](https://github.com/apache/camel-quarkus/files/4621290/camel-test.tar.gz)

also maybe the example from camel-spring is helpful: https://github.com/apache/camel-spring-boot/tree/master/examples/camel-example-spring-boot-webhook

[2020-05-13 12:10] ppalaga commented on #1188
A contribution is welcome. Please follow https://camel.apache.org/camel-quarkus/latest/promote-jvm-to-native.html and https://camel.apache.org/camel-quarkus/latest/create-new-extension.html

Camel Quarkus is Camel 3.x only. There are no plans to support Camel 2.x.

[2020-05-13 12:21] zhfeng commented on #1200
OK, I see and this example works because the router is added after the camel context started. But in the camel-quarkus, we do the most of the initialization in the boot time that means the router is added before the camel context is started. So the doStart() of the TelegramEndpoint is deferred, the telegramService is null when the WebHookEndpoint invokes the registerWebhook().

I think we could co

[2020-05-13 12:39] davsclaus commented on #1200
Yeah @zhfeng that seems safer as this can also happens outside quarkus etc.

[2020-05-13 14:04] zhfeng commented on #1200
FYI, I raised https://issues.apache.org/jira/browse/CAMEL-15057 to fix in the camel.

[2020-05-13 16:47] claudio4j commented on #1166
The camel-jira tests in camel repo are all mockito tests, no need for a running jira instance.
But I see the [JiraTest](https://github.com/apache/camel-quarkus/blob/master/integration-tests/jira/src/test/java/org/apache/camel/quarkus/component/jira/it/JiraTest.java) requires a running jira instance, however I didn't write the camel-jira quarkus code, so I am unsure about it.
Can you try run a dock

[2020-05-13 17:54] jamesnetherton commented on #1161
@galderz FYI - this change seems to increase the time taken to complete the integration test native builds by around 50%. Our CI build takes around twice as long to complete now. I've not dug into the specifics around why there's such a dramatic change.

Since the Camel 3.3.0 release is imminent, we can probably live with it for now, or at least work around it.

[2020-05-14 04:34] davsclaus commented on #1200
Ah so its maybe the ordering so webhook is started before telegram. So we should defer the webhook register webhook logic till later. We can for example use a listener to trigger when camel context is started and then regsiter the webhook at that time, let me find some sample code

[2020-05-14 04:37] davsclaus commented on #1200
See the quartz component and the extended startup listener
https://github.com/apache/camel/blob/master/components/camel-quartz/src/main/java/org/apache/camel/component/quartz/QuartzComponent.java#L55

[2020-05-14 05:25] zhfeng commented on #1200
Thanks @davsclaus for pointing it out and I will take a look

[2020-05-14 07:11] zhfeng commented on #1200
There is also a problem that the webhook creates the TelegramEndpoint before the camel context is started, and this endpoint is added to the [DeferServiceStartupListener services](https://github.com/apache/camel/blob/master/core/camel-base/src/main/java/org/apache/camel/impl/engine/DeferServiceStartupListener.java#L39). So it is started in the onCamelContextStarted() and can not be triggered.

The

[2020-05-14 08:05] zhfeng commented on #1200
@vitaB I believe that this issue should be fixed in https://github.com/apache/camel/pull/3824 by @davsclaus and in camel-quarkus I think we need to upgrade to camel 3.3.0 soon.

[2020-05-14 08:13] gnodet opened #1222 "Revert workaround for @EnabledIf after upgrade to Quarkus 1.5.x"
Revert https://github.com/apache/camel-quarkus/commit/08e65aea9aa2058a3f286cec00fa01d0bce3d882 when https://github.com/quarkusio/quarkus/issues/9273 is fixed somehow.

[2020-05-14 11:30] llowinge opened #1223 "Example can't be run from the project itself"
Following https://camel.apache.org/camel-quarkus/latest/first-steps.html

I've modified the pom of the rest-json module as follows:
[code]
Then i've run dev mode which leads to exception
[code]

NOTE: If i copy the module out of camel-quarkus tree, then it works.

[2020-05-14 13:14] jamesnetherton commented on #762
gRPC extension has landed in the main project now:

https://github.com/quarkusio/quarkus/tree/master/extensions/grpc

[2020-05-14 14:03] lburgazzoli commented on #1223
I'm unable to replicate the issue

[2020-05-14 15:55] llowinge commented on #1223
Note i was on tag `tags/1.0.0-M7^0`

[2020-05-15 07:02] lburgazzoli commented on #1223
don't fails for me even on M7

[2020-05-15 07:23] llowinge commented on #1223
The problem is, that in my case, this [line:](https://github.com/quarkusio/quarkus/blob/1.4.1.Final/core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java#L315)

`Path classesDir = Paths.get(module.getClassesPath());` in module `camel-quarkus-support-common` has `classesPath = null`.

[2020-05-15 07:54] lburgazzoli commented on #1223
Mind reporting to quarkus ?

[2020-05-15 08:10] ppalaga opened #1225 "Remove mongodb from BOM after upgrade to Quarkus 1.5.x"
Follows up https://github.com/apache/camel-quarkus/pull/1224#discussion_r425630578

[2020-05-15 09:53] #1161 closed

[2020-05-15 10:40] llowinge commented on #1223
I will report it to the similar issue https://github.com/apache/camel-quarkus/issues/828

[2020-05-15 11:59] jamesnetherton commented on #1113
Fixed as part of the Camel 3.3.0 upgrade.

[2020-05-15 11:59] #1113 closed

[2020-05-15 14:58] #1072 closed

[2020-05-15 15:01] #1167 closed

[2020-05-16 07:55] ppalaga opened #1232 "Per-extension documentation pages"
Following the discussion in https://camel.465427.n5.nabble.com/Website-Camel-Quarkus-Per-extension-pages-td5865580.html

We currently have manually curated per-Camel-Quarkus-extension pages
rather rarely, esp. when there is some additional config option or
important difference between the given Camel Quarkus extension and the
underlying Camel component. Here are some examples:

* https://camel.apa

[2020-05-16 07:56] ppalaga commented on #1232
Related: @jamesnetherton pointed out in https://github.com/apache/camel-quarkus/pull/1230#discussion_r426121770 that

[2020-05-16 07:57] #1006 closed

[2020-05-18 02:13] #1205 closed

[2020-05-18 10:43] lburgazzoli commented on #1206
Seems to be related to https://github.com/moby/moby/issues/32138 so I think we should re-enable te tests and link this issue

[2020-05-18 13:28] jamesnetherton opened #1234 "Add support for MicroProfile Fault Tolerance"
https://camel.apache.org/components/latest/others/microprofile-fault-tolerance.html

[2020-05-18 13:28] jamesnetherton commented on #1234
After this has been added, what do we think about deprecating / removing the Hystrix extension? Do we want to support multiple fault tolerance implementations?

[2020-05-18 13:33] jamesnetherton opened #1235 "REST OpenApi native support"

[2020-05-18 13:37] lburgazzoli commented on #1234
+1 for deprecating hystrix

[2020-05-18 13:40] oscerd commented on #1234
Don't we have also resilience4j?

[2020-05-18 16:11] #1235 closed

[2020-05-18 16:15] jamesnetherton opened #1237 "Remove NettyHttpComponent producer method from RestOpenapiResource"
I had to work around [CAMEL-15076](https://issues.apache.org/jira/browse/CAMEL-15076) by adding [this](https://github.com/apache/camel-quarkus/blob/master/integration-tests/rest-openapi/src/main/java/org/apache/camel/quarkus/component/rest/openapi/it/RestOpenapiResource.java#L45-L52). It can be removed in Camel 3.4.0.

[2020-05-18 16:48] galderz commented on #1161
@jamesnetherton How imminent is the Camel 3.3.0 release?

[2020-05-18 17:24] jamesnetherton commented on #1161
@galderz It's available now and we already upgraded the master branch.

[2020-05-19 04:27] #1218 closed

[2020-05-19 04:53] #1212 closed

[2020-05-19 05:00] davsclaus commented on #1200
Yeah we have upgraded to Camel 3.3.0 now

[2020-05-19 05:00] #1200 closed

[2020-05-19 05:01] davsclaus commented on #1146
Yeah we are dropping hystrix

[2020-05-19 13:21] ppalaga opened #1243 "Document how quarkus-extemsion.yaml is generated"
We recently switched to 100% generated quarkus-extension.yaml. The generator takes the input data from runtime POM and from Camel Catalog.

Based on the discussion in https://groups.google.com/forum/#!topic/quarkus-dev/uc3N_cQzG1g we stopped using keywords in most cases. They are mostly redundant because code.quarkus.io searches name and description by default anyway. So keywords make sense only i

[2020-05-19 15:19] lburgazzoli opened #1244 "Make camel-quarkus-rest depend on camel-quarkus-platform-http"
We could make the camel-quarkus-rest to depend on camel-quarkus-platform-http as that is the recommended set-up we do recommend.

[2020-05-19 15:22] lburgazzoli opened #1245 "Document the relation about quarkus beans and camel components"
It is not clear what is the recommended way to use some camel components, i.e. for some messaging related components we can re-use the beans provided by quarkus thus we can leverage the build time optimization such beans can have but it is not clear how / when this applies

Relates to #1128

[2020-05-19 17:53] aldettinger commented on #1206
@lburgazzoli moby/moby#32138 quote an issue on RHEL 7 while I'm able to run tests without issue on RHEL 7 here.
I'm ok to restore tests but were you able to sort it out in your environment ?

[2020-05-19 20:31] aldettinger opened #1247 "camel-quarkus-avro: Remove ObjectSubstitution when/if quarkus serialization has been fixed"
We may be able to remove the `AvroSchemaSubstitution` class when [#9446](https://github.com/quarkusio/quarkus/issues/9446) is fixed.

[2020-05-19 20:35] aldettinger commented on #1180
Closing as build issue is unrelated.

[2020-05-19 20:35] #1180 closed

[2020-05-20 06:32] lburgazzoli commented on #1206
Yes, the issue is related to firewalld + docker which in my set-up does not allow containers to communicate even if they are on the same network and this happens also outside camel-quarkus for some other projects (and I have a reproducer for it).

I can workaround it locally by disabling firewalld or by patching in with one of the workarounds mentioned in the issue.

[2020-05-20 07:54] #932 closed

[2020-05-20 11:34] aldettinger commented on #1206
Ok, thanks for sharing this tip. I'm re-enabling tests and adding a troubleshooting section.

[2020-05-20 11:39] #1206 closed

[2020-05-20 14:30] #1234 closed

[2020-05-20 19:20] #1232 closed

[2020-05-21 02:12] github-actions[bot] opened #1251 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 111025955-28-a8bfe50a-d74f-4275-afc8-ef3844c0e73b
* Camel Quarkus Commit: 18e246e8a1ec2595911bb0aa22a9119ad2357e9b

* Quarkus Master Commit:
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/111025955

[2020-05-21 11:47] #1126 closed

[2020-05-21 12:58] #1191 closed

[2020-05-21 15:55] ppalaga opened #1255 "Document how extension pages are generated"
Followup https://github.com/apache/camel-quarkus/pull/1254

Yes, there `src/main/doc/configuration.adoc` and a couple of others: `intro.adoc`, `usage.adoc` and `limitations.adoc`. All of them optional.

[2020-05-21 21:44] #1243 closed

[2020-05-22 04:35] #1251 closed

[2020-05-22 07:54] #1255 closed

[2020-05-22 10:54] vladimirfx commented on #1197
It is already implemented in camel-cdi. But camel-cdi itself crashes Quarkus when added as dependency. If anyone know how to exclude CDI factory from Quarkus Arc resolution please answer this question:

https://stackoverflow.com/questions/61952174/how-to-exclude-3rd-party-cdi-bean-factory-from-quarkus-arc-bean-resolution

[2020-05-22 12:37] jamesnetherton commented on #1197
camel-cdi is meant for when the Camel application is deployed into a full CDI container (E.g Weld etc). There is currently no camel-quarkus extension for it and its unlikely there ever will be because we provide CDI support via integration with Quarkus Arc out of the box.

Also, I think the `TransactedPolicy` support in camel-cdi is dependent on the `java:/TransactionManager` JNDI binding. This wo

[2020-05-22 12:37] jamesnetherton commented on #1197
@zhfeng are you planning to work on this issue?

[2020-05-22 14:06] zhfeng commented on #1197
@jamesnetherton yeah, I had an initial change to introduce the QuarkusTransactedPolicy
you can see https://github.com/zhfeng/camel-quarkus/compare/master...issue_1197_transacted?expand=1

It works to get the TransactionManger while add the dependency of io.quarkus:quarkus-narayana-jta. Then the most difficult thing is to do the similar functions with the Spring Transaction Template to wrap the pro

[2020-05-23 08:23] vladimirfx commented on #1197
Actually it is my main question - how to DISABLE scanning of CDI beans for Arc. It is not needed in this case. And many other cases I think. Current situation is very strange - there is no CDI support but CDI beans from dependencies completely broke Quarkus own DI. Very annoying...

It is a simplest part - trivial subclass on needed policy (may be inside routes dentition class) can inject Transact

[2020-05-23 08:27] vladimirfx commented on #1197
Camel already has fully functional and proven JTA based transacted policy. I think it is not optimal to implement another one from scratch. See my previous comment for implementation idea.

[2020-05-24 14:02] zhfeng commented on #1197
Good point here - I think it could be helpful and will raise a CAMEL ticket for it.

[2020-05-25 00:26] github-actions[bot] opened #1261 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 114258720-4-a8cef6c4-785a-4dd2-b983-2a024f3edaf1
* Camel Quarkus Commit: de0cbcc97bc86650cb1d8c5d850d856b0614c312

* Camel Master Commit:
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/114258720

[2020-05-25 01:43] zhfeng commented on #1197
FYI, I raise [CAMEL-15108](https://issues.apache.org/jira/browse/CAMEL-15108) and @davsclaus can you take a look ?

[2020-05-25 08:35] ppalaga commented on #1171
The platform's CI now runs a basic dev mode test https://github.com/quarkusio/quarkus-platform/pull/64

[2020-05-25 08:35] #1171 closed

[2020-05-25 10:54] lburgazzoli commented on #1244
Requires https://issues.apache.org/jira/browse/CAMEL-15109

[2020-05-25 13:10] Subash-Kunjupillai commented on #564
For which release we are targeting this component?

[2020-05-25 13:13] oscerd commented on #564
There is no ETA for this. I'll try to work on it for the next release.

[2020-05-25 13:16] Subash-Kunjupillai commented on #564
Okay, that will be really helpful!

[2020-05-26 00:26] zhfeng opened #1263 "camel-jta support"
This component is required by https://github.com/apache/camel-quarkus/issues/1197, and it could be included in the camel 3.4.0

[2020-05-26 10:11] ppalaga commented on #1222
Changed the title, because https://github.com/quarkusio/quarkus/issues/9273 seems to be fixed

[2020-05-26 11:38] jamesnetherton commented on #1261
Fixed in cae2ae3.

[2020-05-26 11:38] #1261 closed

[2020-05-26 11:42] ppalaga commented on #1166
@galderz could you please check whether this issue is still occurring? apache/camel#3785 mentioned above is a part of Camel 3.3.0 to which we upgraded recently.

[2020-05-26 11:48] ppalaga commented on #1146
Is there any agreed-upon time frame for that? I do not see Hystric being deprecated on https://camel.apache.org/components/latest/eips/hystrix-eip.html ?

[2020-05-26 12:04] ppalaga opened #1266 "Unregister unnecessary Camel configuration classes from reflection"
Should be possible after the upgrade to Camel 3.3.0

[2020-05-26 12:30] ppalaga commented on #1266
BTW, after removing 11 unnecessary registrations in BoxProcessor, the Box test app gets 876 kiB smaller. For the Braintree test, the improvement is 592 kiB

[2020-05-27 07:28] #1208 closed

[2020-05-27 09:24] ppalaga commented on #1266
Duplicate of https://github.com/apache/camel-quarkus/issues/1108

[2020-05-27 09:24] #1266 closed

[2020-05-27 09:30] ppalaga commented on #1108
I have filed an issue in Camel https://issues.apache.org/jira/browse/CAMEL-15119

[2020-05-27 14:09] ppalaga commented on #1192
Fixed via https://github.com/apache/camel-quarkus/pull/1258

[2020-05-27 14:09] #1192 closed

[2020-05-27 15:38] galderz commented on #1166
How do you test this now? Seems like JIRA tests are now disabled. Do you have a profile in the maven tests that starts JIRA and tests this?

[2020-05-28 08:14] galderz commented on #1166
Actually, I think the issue is fixed based on testing I did before. I'll verify again. What happens is that even if JIRA tests are skipped, this issue happened during image generation, which happens regardless. I'll give it another spin in the next few days.

[2020-05-28 08:48] galderz commented on #1161
I'll give master a go and see how it goes.

[2020-05-28 12:07] galderz opened #1269 "Azure native test failure"
* OpenJDK 11u-dev
* Graal 20.1
* Quarkus `master` branch
* Apache Quarkus `quarkus-master` branch

[code]

[Longer output](https://gist.github.com/galderz/5cce7afe616ca38255c5ea16d08d383e).¯

[2020-05-28 12:13] galderz commented on #1269
Can someone assign this to me?

[2020-05-28 14:44] galderz commented on #1269
Thx @jamesnetherton.

I've tried to add the following to `camel-quarkus/integration-tests/azure/src/main/resources/application.properties`, but didn't work:

[code]

However, if I run the test with `-Dquarkus.native.additional-build-args=--enable-all-security-services` it works.

[2020-05-28 14:46] galderz commented on #1269
I've seen this test pass about 1/2 months ago, so something recent change must have caused this. Looking.

[2020-05-28 14:53] jamesnetherton commented on #1269
BTW the integration test used to be suppressed because it required access to Azure. I recently tweaked things to use Azurite for testing, so maybe that's why you did not see such issues in the past.

[2020-05-28 15:00] galderz commented on #1269
Ah I see, that would explain. I think Quarkus security config is missing but not only is the [docu](https://quarkus.io/guides/security) inconsistent, none of the properties work. Both `quarkus.security.users.security-providers` and `quarkus.security.security-providers` throw warnings:

[code]

[code]

[2020-05-28 15:22] galderz commented on #1269
Created https://github.com/quarkusio/quarkus/issues/9664 to track the issue on Quarkus' side with security configuration.

[2020-05-28 16:30] galderz commented on #1269
Fixed the test, needed extra config and adding security extension. I'll send a PR tomorrow.

[2020-05-29 03:48] github-actions[bot] opened #1271 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 118561074-36-959a270a-de42-4e33-88df-4e64c9144809
* Camel Quarkus Commit: 6a8bc7a608bc0dea522a064cf5a0613c60a4c7b6

* Quarkus Master Commit: 6a8bc7a608bc0dea522a064cf5a0613c60a4c7b6
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/118561074

[2020-05-29 06:37] galderz commented on #1269
[PR](https://github.com/apache/camel-quarkus/pull/1272) with fix.

[2020-05-29 09:23] galderz opened #1273 "Unsupported type MethodAccessorGenerator on Consul"
* OpenJDK 11u (latest)
* Graal 20.1
* Quarkus master and Camel Quarkus quarkus-master

Consul testsuite failing with:

[code]

This is another case of https://github.com/quarkusio/quarkus/issues/9633 and similar ones. I have a PR for this issue which cuts off path only for Kafka. I'm going to experiment with a cut off that's shared by everyone which should stop all these issues.

[2020-05-29 09:23] galderz commented on #1273
Please assign to moi.

[2020-05-29 09:55] lburgazzoli commented on #1112
not an issue any more

[2020-05-29 09:55] #1112 closed

[2020-05-29 09:57] lburgazzoli commented on #988
@ppalaga the pr https://github.com/quarkusio/quarkus/pull/8484 has been merged so we can probably close this one ?

[2020-05-29 10:32] ppalaga commented on #988
The original idea was to deprecate and later remove `quarkus.camel.native.resources.include-patterns` and `quarkus.camel.native.resources.exclude-patterns` from Camel Quarkus once the same functionality is available in Quarkus. However, https://github.com/quarkusio/quarkus/pull/8484 adds only support for includes. Excludes are blocked by https://github.com/oracle/graal/issues/2347
So I'd keep this

[2020-05-29 13:11] aldettinger opened #1274 "[Quarkus 1.6] quarkus:dev can't reload when updating timer-log example"
cd camel-quarkus-upstream/examples/timer-log
mvn compile quarkus:dev
Edit camel-quarkus-upstream/examples/timer-log/src/main/java/org/acme/timer/TimerRoute.java
Save, then it stops with message below:

[code]

[2020-05-29 13:21] lburgazzoli opened #1275 "extension dependencies issue"
The `camel-quakus-jackson` extension depends on [camel-quarkus-xml-jaxb](https://github.com/apache/camel-quarkus/blob/master/extensions/jackson/runtime/pom.xml#L52-L55) which causes issues if the extension is used along with the `camel-quarkus-xml-io` extension as there will be two competing implementation of the optional build item `CamelRoutesLoaderBuildItems$Xml`.

We should check that extensio

[2020-05-29 13:58] lburgazzoli opened #1277 "Add enforce rule to avoid extension depending on camel-quarkus-xml-io or camel-quarkus-xml-jaxb directly"
As follow up of #1275, we should add an enforcer rule to to avoid extension depending on `camel-quarkus-xml-io` or `camel-quarkus-xml-jaxb` directly

[2020-05-29 16:09] #1275 closed

[2020-05-30 04:33] #1271 closed

[2020-05-30 10:05] davsclaus opened #1280 "Examples should have use Quarkus Main Application"
eg the new in 1.5 about QuarkusApplication as a main class so you can run it easily without having to use mvn quarkus:dev etc.

[2020-05-30 10:06] davsclaus commented on #1146
It says deprecated now

[2020-05-30 10:50] lburgazzoli commented on #1280
Depends on:
- https://github.com/apache/camel-quarkus/issues/1128
- https://github.com/apache/camel-quarkus/issues/1037

[2020-05-30 12:05] lburgazzoli opened #1281 "Create extension for camel-openapi-java"

[2020-05-30 16:09] davsclaus commented on #1280
Thanks Luca, yeah so it seems its a bigger work but IMHO needed to make camel-quarkus as a more first class citizen in Quarkus. The command mode is going to be what users do, as its ala Spring Boot, and easy to reason about because there is a Main class of their own.

[2020-05-30 17:55] lburgazzoli commented on #1280
I do agree and the aim #1128 was exactly aimed to let user choose their preferred way of running camel

[2020-05-31 02:29] github-actions[bot] opened #1283 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 120291858-38-c9b23139-8df0-4668-8bec-b99223f4df24
* Camel Quarkus Commit: 4843869bd47fcc22568d71c31c359da1615a2521

* Quarkus Master Commit: 0e717c2b6d77b3663028b9fc74553cca7249828a
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/120291858

[2020-06-01 00:25] github-actions[bot] opened #1284 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 120947159-5-dc886a63-bf08-446e-828a-e79e37a3bf3d
* Camel Quarkus Commit: cae2ae3e534c16a08cb451bad9b9b98e58cd58ae

* Camel Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/120947159

[2020-06-01 04:29] #1283 closed

[2020-06-01 08:28] davsclaus opened #1285 "File specific issues for TODOs where necessary"
We have a number of TODOs in the source, eg git grep TODO.
I can see some have been fixed by 3rd party etc so lets revisit them and see which ones are already done or we can fix now.

[2020-06-01 09:05] ppalaga commented on #1146
Hm... there is also https://camel.apache.org/components/latest/others/hystrix.html that neither links to https://camel.apache.org/components/latest/eips/hystrix-eip.html nor says it is deprecated.

On the Camel Quarkus side, I think we should deprecate it now with 1.0.0.CR2 and remove it in 1.0.0.CR2+2. WDYT?

[2020-06-01 09:06] ppalaga opened #1286 "Pass deprecation info to quarkus-extension.yaml"
This includes at least:

* Deprecation info on the camel Quarkus extension page
* Deprecation info on https://code.quarkus.io/

[2020-06-01 09:39] lburgazzoli opened #1287 "Add rest and restapi to the list of discoverable factories"

[2020-06-01 10:02] nicolaferraro opened #1288 "Platform HTTP does not automatically set content-length or chunked"
When running an API example on Camel K using quarkus and platform HTTP, I get the following:

[code]

Some changes in camel-platformhttp-vertx have not been ported here.

[2020-06-01 10:44] lburgazzoli opened #1291 "Drop the Jaxb based XMLRoutesDefinitionLoader"
We have now two engine that can load routes written in xml:

- xml-io
- xml-jaxb

Since the jaxb based one does not give any benefit over the xmlio one, I'd propose to drop the support for loading routes using jaxb

[2020-06-01 10:44] lburgazzoli commented on #1291
/cc @davsclaus @gnodet

[2020-06-01 12:21] lburgazzoli commented on #1291
Draf PR #1292 is open in case you agree with this proposal

[2020-06-01 13:07] #1287 closed

[2020-06-01 13:07] #1288 closed

[2020-06-01 16:22] davsclaus commented on #1291
+1
Yeah that is a good idea

[2020-06-01 16:28] davsclaus commented on #1146
Its deprecated in the component
https://github.com/apache/camel/blob/master/components/camel-hystrix/pom.xml#L32
https://github.com/apache/camel/blob/master/components/camel-hystrix/src/generated/resources/hystrix.json#L7

[2020-06-01 16:29] davsclaus commented on #1146
We can remove it asap, its not a LTS release of camel-quarkus and we are not 1.0 GA yet.

[2020-06-01 17:03] #1291 closed

[2020-06-02 09:23] JiriOndrusek commented on #1190
Issue is blocked by the fact that debezium is using driver 3.x, but quarkus-mongodbd-driver is 4.x.
We have to wait for the debezium to upgrade their driver - https://issues.redhat.com/browse/DBZ-2138

[2020-06-02 09:51] galderz commented on #1269
[PR https://github.com/apache/camel-quarkus/issues/1269] with better fix.

[2020-06-02 13:32] jamesnetherton commented on #1058
The validation check for keywords was removed in 8888ad53fe9c9ac35da10fa3bda646cdbb317495. So this isn't an issue anymore.

[2020-06-02 13:32] #1058 closed

[2020-06-02 13:36] jamesnetherton commented on #752
Since 2d2eeefecbdc0fa34b936c207d5f3ec59edc69be the Jira endpoints under test return stubbed responses. Which IMO is an acceptable alternative to having a full Jira server up and running.

[2020-06-02 13:36] #752 closed

[2020-06-03 03:24] github-actions[bot] opened #1297 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 123198858-41-db5c0bdb-14ee-4c27-b809-c879d0bb9c7a
* Camel Quarkus Commit: a172fa6b70661bcb57c6dcac35da96326dc7e75d

* Quarkus Master Commit: f74227dff7ad3dead27fa43eb5b1d50971ac45a0
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/123198858

[2020-06-03 08:05] JiriOndrusek opened #1298 "Nitrite native support"

[2020-06-03 08:05] JiriOndrusek commented on #1298
Please, assign to me.

[2020-06-03 08:55] ppalaga opened #1299 "Require Java 11"

[2020-06-03 09:25] ppalaga opened #1300 "Document SSL auto-enabled by extensions"
Followup https://github.com/apache/camel-quarkus/pull/1294#issuecomment-637439561

We should decide how detailed we should document the fact that some extensions auto-enable SSL in native mode by producing a `ExtensionSslNativeSupportBuildItem`. Should we do this on extension pages? Should we have a list like in Quarkus https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/native

[2020-06-03 09:29] jamesnetherton opened #1301 "[Camel 3.5] Create a vert.x websocket extension"
See: https://issues.apache.org/jira/browse/CAMEL-14956.

[2020-06-03 09:35] ppalaga commented on #1300
It is probably rather easy to add a generated text block on extension pages.

Something like

[code]

[2020-06-03 10:31] JiriOndrusek commented on #1274
Please, assign to me.

[2020-06-03 10:52] ppalaga commented on #1273
@galderz so there is nothing to do on Camel Quarkus side, we just need wait for the next Quarkus release, right?

[2020-06-03 11:38] lburgazzoli opened #1303 "[Camel 3.5] Configuring api context path with property camel.context.rest-configuration.api-context-path does not work"
While working on the openapi-java extension (#1281) I found a strange behaviour, so assuming  we have:

[code]

Then the api context path is null on the rest configuration when running in native mode but works in jvm mode. Using main short-cuts like:

[code]

works in both the modes.

We should definitively use the `camel.rest` prefix to configure the rest bits but `camel.context.rest-configuratio

[2020-06-03 12:35] #1193 closed

[2020-06-03 12:40] ppalaga commented on #1269
Fixed via https://github.com/apache/camel-quarkus/pull/1294 8c4d478bd5d7618f415dca63326850bdb0ea57c1

[2020-06-03 12:40] #1269 closed

[2020-06-03 13:01] #1222 closed

[2020-06-03 13:01] #1225 closed

[2020-06-03 14:47] #1281 closed

[2020-06-03 15:31] lburgazzoli commented on #1277
This is not needed any more after https://github.com/apache/camel-quarkus/pull/1292

[2020-06-03 15:31] #1277 closed

[2020-06-03 15:31] ppalaga commented on #1277
Not necessary after https://github.com/apache/camel-quarkus/pull/1292

[2020-06-04 09:23] ppalaga commented on #1299
We have to postpone Java 8 removal because Quarkus postponed their plan too. See https://groups.google.com/forum/#!topic/quarkus-dev/yzEjmYCFbwY

[2020-06-04 09:24] ppalaga commented on #1299
I am going to revert bdaeee9.

[2020-06-04 11:23] oscerd opened #1308 "Add an AWS2-Translate native extension"

[2020-06-04 11:35] JiriOndrusek commented on #1274
Problem is reported on quarkus as https://github.com/quarkusio/quarkus/issues/9748

[2020-06-04 12:17] #1140 closed

[2020-06-04 13:10] jamesnetherton opened #1309 "OpenAPI Java extension cannot handle non-default API context path"
I think it only happens when used in conjunction with the `platform-http` component.

If you try to configure paths other than the default `/openapi.json` or `/openapi.yaml`, then you get a HTTP 204 response because the logic to figure out the `CamelContext` & `RestConfiguration` fails. Probably due to `PlatformHttpConsumer` setting the `CamelHttpPath` header. None of the other REST API components

[2020-06-04 13:14] ppalaga opened #1310 "Import Debezium BOM"
Blocked by https://issues.redhat.com/browse/DBZ-2145

[2020-06-04 13:53] ppalaga opened #1311 "Debezium tests fail on Quarkus Platform"
Steps to reproduce:

[code]

[2020-06-04 14:01] JiriOndrusek commented on #1311
Please, assign to me.

[2020-06-05 06:33] JiriOndrusek commented on #1274
Problem is fixed in quarkus: https://github.com/quarkusio/quarkus/pull/9810

[2020-06-05 06:37] lburgazzoli commented on #1309
Does this impact camel in general ? i.e. the VertxPLatformHttp

[2020-06-05 06:44] jamesnetherton commented on #1309
Yes, it has the same logic in the consumer IIRC. I've not tested it but the same issue is likely present.

[2020-06-05 07:23] galderz commented on #1273
Yep, this issue should be gone now for all Quarkus dependant projects/tests.

[2020-06-05 07:23] #1273 closed

[2020-06-05 07:24] ppalaga commented on #1274
Good work, @JiriOndrusek !

So this issue will get resolved by upgrading to Quarkus 1.6.

[2020-06-05 10:30] galderz commented on #1311
Hmmm, just debezium fail, but even the normal unit tests fail: https://gist.github.com/galderz/597aa35b9b8c1d96d01875c37db05171

[2020-06-05 10:30] galderz commented on #1311
Shall I create a separate issue for that?

[2020-06-05 10:32] ppalaga commented on #1311
Is that with Quarkus master?

[2020-06-05 10:58] JiriOndrusek commented on #1311
From the log it seems, that none of testcontainers was started

[2020-06-05 11:01] galderz commented on #1311
Yup

[2020-06-05 11:09] JiriOndrusek commented on #1311
@galderz I see in the gist log, that there is a test DebeziumSqlserverTest.
This test is not part of camel-quarkus-integration-test-debezium/1.0.0-CR2, so perhaps this execution was using some different versions?

[2020-06-05 11:39] JiriOndrusek commented on #1311
@galderz I'll test it with camel-quarkus-master to solve all issues

[2020-06-05 12:23] galderz commented on #1311
@JiriOndrusek I'm testing latest (quarkus) master with (camel-quarkus) master (DebeziumSqlserverTest is in master).

[2020-06-05 12:24] galderz commented on #1311
@JiriOndrusek I'll create a separate issue

[2020-06-05 12:25] galderz opened #1312 "Debezium unit tests failing with Quarkus master"
NPE:

[code]

[Longer output](https://gist.github.com/galderz/597aa35b9b8c1d96d01875c37db05171).

[2020-06-05 12:26] galderz opened #1313 "[Quarkus 1.6] Unresolved method AutoscalingAPIGroupDSL.v1() error in Kubernetes native image generation"
* Quarkus master.
* Camel Quarkus master.
* Graal 20.1.x.
* OpenJDK 11 (not labs).

[code]

[2020-06-05 12:27] galderz commented on #1313
[Longer output](https://gist.github.com/galderz/ca60f39f333eb59f1c298ce52c465b6c).

[2020-06-05 12:27] galderz commented on #1313
Can you assign this to me?

[2020-06-05 12:40] galderz opened #1314 "Make Kudu native test runnable on Quarkus Platform on Java 8 and 11"
* Quarkus master.
* Camel Quarkus master.
* Graal 20.1.x.
* OpenJDK 11 (not labs).

The normal unit test works, but the native test fails with:

[code]

[Longer output](https://gist.github.com/galderz/c65e8a85802d8ffcd0c0600c05689b0b)

[2020-06-05 14:25] aldettinger commented on #1247
It's won't fix on quarkus side. So the ObjectSubstitution work around remains. Closing then.

[2020-06-05 14:25] #1247 closed

[2020-06-08 09:42] ppalaga commented on #1314
It is the same on quarkus-platform master. It is probably caused by the fact that these custom profiles https://github.com/apache/camel-quarkus/blob/master/integration-tests/kudu/pom.xml#L127-L144 were not ported to the platform.

[2020-06-08 12:34] #1308 closed

[2020-06-08 14:07] ppalaga commented on #1313
Are you working on this one, @galderz ? I could have look now.

[2020-06-08 14:29] galderz commented on #1166
Fixed.

[2020-06-08 14:29] #1166 closed

[2020-06-08 14:35] galderz commented on #1313
@ppalaga Sure go ahead! Let me know if you need a hand :)

[2020-06-08 15:22] ppalaga commented on #1274
Although there is no decision about 1.5.1 yet, I asked to get the fix backported to it https://github.com/quarkusio/quarkus/pull/9810

[2020-06-08 17:28] #1314 closed

[2020-06-09 09:00] galderz opened #1319 "NoClassDefFoundError for HttpServletRequest in native tests for olingo4"
* Quarkus master.
* Camel Quarkus master.
* Graal 20.1.x.
* OpenJDK 11 (not labs).

This one is likely to be specific to the use of OpenJDK 11 (not present when using Oracle Labs). Similar issues in the past are https://github.com/quarkusio/quarkus/issues/8081 and https://github.com/apache/camel-quarkus/issues/1161.

[code]

[2020-06-09 09:00] galderz commented on #1319
@ppalaga Can you assign this one to me?

[2020-06-09 09:18] jamesnetherton commented on #1319
Olingo does loosely depend on serlvet-api, but none of that functionality is required by Camel, so there's a [substitution](https://github.com/apache/camel-quarkus/blob/quarkus-master/extensions/olingo4/runtime/src/main/java/org/apache/camel/quarkus/component/olingo4/graal/ODataImplSubstitutions.java) in place to avoid having all of the javax.servlet stuff on the classpath.

Maybe more needs to be

[2020-06-09 09:39] galderz commented on #1319
@jamesnetherton Not sure that substitution is enough, that happens at a later stage. The issue, which is specific to the JVMCI layer differences in OpenJDK 11 vs Oracle Labs (see linked issues) happens during the pointsto analysis phase, when trying to figure out all the methods available. And in OpenJDK 11 it uses reflection for that, so anything vaguely referenced needs to be in the classpath of

[2020-06-09 09:43] galderz commented on #1319
The easy fix should be to add servlet dependency to the classpath, but I've also realised that there's a fix to improve the error reporting here that hasn't been backported, so wanted to test that out too (see https://github.com/oracle/graal/pull/2294).

[2020-06-09 11:39] ppalaga commented on #1313
https://github.com/quarkusio/quarkus/pull/9878 is one part. The second part is that, we will probably need to upgrade to kubenetes client 4.10.2 as well. This should happen in Camel Quarkus quarkus-master branch (cc @jamesnetherton ) once https://github.com/quarkusio/quarkus/pull/9878 is merged.

[2020-06-09 11:40] JiriOndrusek commented on #1312
Please, assign to me.

[2020-06-09 13:06] ppalaga commented on #1286
Asked on quarkus-dev https://groups.google.com/forum/#!topic/quarkus-dev/HIgbhHp4oPc

[2020-06-09 13:35] ppalaga commented on #1223
I cannot reproduce with Camel Quarkus tag 1.0.0-CR2. Could you please retry, @llowinge ?

[2020-06-09 14:23] galderz commented on #1319
The problematic class can be seen once you apply the class initialization feature patch (and you workaround the flipped condition, see https://github.com/oracle/graal/issues/2556):

[code]

[2020-06-09 14:37] jamesnetherton opened #1322 "Create vertx component extension"
https://camel.apache.org/components/latest/vertx-component.html

Should be simple enough to leverage [quarkus-vertx](https://quarkus.io/guides/vertx) for this.

[2020-06-09 15:31] ppalaga commented on #1286
Filed https://github.com/quarkusio/quarkus/issues/9885

[2020-06-09 15:40] ppalaga commented on #1090
Not an issue anymore.

[2020-06-09 15:40] #1090 closed

[2020-06-09 15:51] ppalaga commented on #1086
Yes, we manage only those Camel bits in the runtime BOM which are used by our extensions. There is no camel-quarkus-headersmap yet. So, I'd say the reported behavior is not a bug.

I wonder whether we should create camel-quarkus-headersmap? WDYT @lburgazzoli and @jamesnetherton ?

[2020-06-10 06:46] galderz commented on #1314
Thx @ppalaga for picking this up! :)

[2020-06-10 07:03] galderz commented on #1313
Thx again for helping with this @ppalaga :))

[2020-06-10 08:06] aldettinger commented on #1022
Build issues seems unrelated and [PR checks](https://github.com/apache/camel-quarkus/pull/1323/checks) were ok.

[2020-06-10 08:06] #1022 closed

[2020-06-10 08:12] #1319 closed

[2020-06-10 08:25] bframke opened #1328 "Commit cannot be completed since the group has already rebalanced and assigned the partitions to another member"
We are currently having a problem with what looks like the rebalance between camel and kafka. I already searched and look it up in the camel kafka repository, where it looks like a fix was added. But I'm not sure if that is the fix for that.

This here gets thrown when we have a working route and 0 messages or more messages on a kafka topic.
[code]

If that fix in the camel kafka repo is the one f

[2020-06-10 09:54] ppalaga commented on #906
Generally, as @aldettinger  pointed out, you need to rebuild the whole source tree using `mvn clean install -DskipTests` from the source tree root directory, prior to running any individual integration tests. Using `mvn clean test` instead of `mvn test` may help in some situations.

Closing as non-reproducible. @esend7881 feel free to re-open if the above suggestions do not help.

[2020-06-10 09:54] #906 closed

[2020-06-10 11:55] ppalaga commented on #828
This happens when an example is run unchanged inside the Camel Quarkus source tree. You need to do one of the following:

(a) use `mvn clean compile quarkus:dev -DnoDeps` instead of `mvn clean compile quarkus:dev` or

(b) replace `<artifactId>camel-quarkus-build-parent</artifactId>` in the example's pom.xml with `<artifactId>camel-quarkus-bom</artifactId>`.

The option (b) is documented in https:/

[2020-06-10 11:55] #828 closed

[2020-06-10 11:58] ppalaga commented on #1223
@llowinge as noted in #828 this is reproducible when you run an example without replacing `camel-quarkus-build-parent` with `camel-quarkus-bom`. So you either need to do that or use `-DnoDeps`. See also https://camel.apache.org/camel-quarkus/latest/user-guide/first-steps.html Closing as not a bug.

[2020-06-10 11:58] #1223 closed

[2020-06-11 04:05] #1297 closed

[2020-06-11 08:34] jamesnetherton commented on #1328
I assume it's this fix https://github.com/apache/camel/commit/711ab31c29615deffe5b7fe3dc4ba1235cbd9979?

Camel Quarkus will consume it when we eventually upgrade to Camel 3.4.0.

[2020-06-11 08:59] davsclaus commented on #726
Yeah the lightweight is automatic a closed world so we can close this

[2020-06-11 08:59] #726 closed

[2020-06-11 08:59] davsclaus commented on #1328
Yeah this is not a camel-quarkus issue, fixed in Camel 3.4

[2020-06-11 08:59] #1328 closed

[2020-06-11 12:38] #1322 closed

[2020-06-11 12:42] JiriOndrusek commented on #743
@ppalaga Please, assign to me.

[2020-06-11 13:50] lburgazzoli opened #1340 "[Camel 3.5] Exclude debezium-embedded dependencies"
the `camel-quarkus-support-debezium` depends on `debezium-embedded` which brings a ton of kafka connect related dependencies :

[code]

Do we need them ?

[2020-06-11 13:50] lburgazzoli commented on #1340
/cc @JiriOndrusek
/cc @oscerd

[2020-06-11 13:55] oscerd commented on #1340
I think so, it's explicitly used in camel-debezium-common, we can check with a tuned exclusions, but we need some help from @omarsmak

[2020-06-12 02:13] github-actions[bot] opened #1345 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 132846909-50-1dc5c16c-a65b-4471-9d60-6cbb1ef6f161
* Camel Quarkus Commit: 4ff1bd85ca9d3a6b93c91eabfe040a927444be6f

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/132846909

[2020-06-13 03:43] #1345 closed

[2020-06-15 06:31] JiriOndrusek commented on #1340
I think that a lot of these dependencies could be excluded. (they shouldn't be used) I'll try it.

[2020-06-15 07:28] lburgazzoli opened #1349 "Replace joschi/setup-jdk with AdoptOpenJDK/install-jdk"
There is a GitHub Action from AdoptOpenJDK https://github.com/AdoptOpenJDK/install-jdk

[2020-06-15 07:54] lburgazzoli opened #1350 "List all the configuration properties onthe website"
Similar to https://quarkus.io/guides/all-config

[2020-06-15 08:15] JiriOndrusek commented on #1340
I've removed some of dependencies in https://github.com/apache/camel-quarkus/pull/1351
Current status is

[INFO] |  +- org.apache.kafka:connect-api:jar:2.5.0:compile
[INFO] |  |  +- org.apache.kafka:kafka-clients:jar:2.5.0:compile
[INFO] |  |  |  +- com.github.luben:zstd-jni:jar:1.4.4-7:compile
[INFO] |  |  |  +- org.lz4:lz4-java:jar:1.7.1:compile
[INFO] |  |  |  \- org.xerial.snappy:snappy-java:j

[2020-06-15 08:44] omarsmak commented on #1340
@JiriOndrusek @oscerd @lburgazzoli indeed, that is one of the reasons Debezium folks deprecated Debezium Embedded and instead, brought the newer Debezium APIs instead which should be lighter and agnostic from Kafka Connect stuff. e.g: a lot of these Kafka Connect stuff are not needed which cause a lot of these unnecessary imports. I am planning to work on it on the next Camel 3.5 iteration tracked

[2020-06-15 12:08] davsclaus commented on #1350
Yeah we have this Camel JIRA that is related to this
https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-15190

[2020-06-15 12:30] JiriOndrusek commented on #743
Hi @bframke , I'm trying to simulate an error with your producer. Unfortunately there is no error. Here are my execution steps. Would it be possible to validate, whether I'm using it in the same way?

- I've cloned https://github.com/bframke/quarkus-examples.git
- I've uncommented https://github.com/bframke/quarkus-examples/blob/master/camel-logging/src/main/java/camel/logging/ContextListener.java

[2020-06-15 13:40] davsclaus commented on #1350
There is a table now for camel-main
https://github.com/apache/camel/blob/master/core/camel-main/src/main/docs/main.adoc

[2020-06-15 20:51] lburgazzoli opened #1353 "Observe Camel's events"
We should make it possible to observer Camel's Management and Lifecycle events

- [x] Management https://github.com/apache/camel-quarkus/issues/1398
- [x] Lifecycle https://github.com/apache/camel-quarkus/issues/1399
- [x] ~~Based class to fire events~~ (not needed any more)

[2020-06-16 07:29] JiriOndrusek commented on #723
Please, assign to me.

[2020-06-16 08:25] aldettinger opened #1355 "CassandraQL native support"

[2020-06-16 08:29] aldettinger commented on #1355
Some hurdles in native mode but a quarkus cassandra extension is [on the way](https://github.com/quarkusio/quarkus/issues/7876) and may fix most issues.

[2020-06-16 09:04] oscerd opened #1356 "Add an AWS2-DDB native extension"

[2020-06-16 09:06] oscerd opened #1357 "Add an AWS2-IAM native extension"

[2020-06-16 09:06] oscerd opened #1358 "Add an AWS2-KMS native extension"

[2020-06-16 09:17] oscerd opened #1359 "Add an AWS2-MQ native extension"

[2020-06-16 09:18] oscerd opened #1360 "Add an AWS2-MSK native extension"

[2020-06-16 10:20] #1142 closed

[2020-06-16 14:25] oscerd opened #1363 "Add an AWS2-SES native extension"

[2020-06-16 18:02] #1356 closed

[2020-06-17 07:23] JiriOndrusek commented on #723
Problem is already solved in maven-surefire/master. Next version will work correctly.

[2020-06-17 07:42] ppalaga commented on #723
OK, so let's wait for 3.0.0-M5 to appear in Maven Central https://repo1.maven.org/maven2/org/apache/maven/plugins/maven-surefire-plugin/

[2020-06-17 07:53] ppalaga commented on #465
Searching for `mqtt` now returns also Camel Paho. All done, closing.

[2020-06-17 07:53] #465 closed

[2020-06-17 08:10] bframke commented on #743
Hi @JiriOndrusek, sorry for the late response, alot of to do in the last days and no, I got the Thread always stuck when there was traffic on it. I've tried it with a built quarkus image and a built native image.

[2020-06-17 11:42] #1357 closed

[2020-06-17 13:16] ppalaga commented on #838
This was definitely caused by the fact that with pre-20.1.0 GraalVM versions, the native image inherited the default time zone from the build environment. The GMT time zone seemed to be set by the Quarkus docker container (currently using GraalVM 19.3.1).

When testing with GraalVM 20.1.0 the issue does not occur anymore. From 20.1.0 [release notes](https://www.graalvm.org/docs/release-notes/20_1/

[2020-06-17 13:36] nonnenmacher opened #1365 "[suggestion] log message for FileNotFound exception not clear enough"
when loading `xml-routes` from a `file:` reference, the log message when raising `FileNotFoundException` in `org.apache.camel.quarkus.core.CamelRoutesCollector#collectXmlRoutesFromDirectory`
is not *explicit* enough.

It log

[code]

instead of more explicitely output that *it didn't find the file* (hence no routes were added)

so one will see something like

[code]

And search for other reasons o

[2020-06-17 15:02] ppalaga commented on #870
@brunotitata feel free to reopen if the issue still occurs.

[2020-06-17 15:02] #870 closed

[2020-06-17 15:12] ppalaga commented on #1312
Closed via https://github.com/apache/camel-quarkus/pull/1325

[2020-06-17 15:12] #1312 closed

[2020-06-17 16:12] aldettinger opened #1367 "Json Validator Support"

[2020-06-17 19:31] lburgazzoli opened #1368 "CamelBeanPostProcessor is invoked after routes are already configured"
In[ CamelMain::postProcessCamelContext](https://github.com/apache/camel-quarkus/blob/eb68674d83a7034445b895a358052be3a11719f5/extensions-core/core/runtime/src/main/java/org/apache/camel/quarkus/core/CamelMain.java#L64-L74), the `CamelBeanPostProcessor` is invoked after routes are configured which causes the following route to fail as `myProcessor` is `null` when bound to the route.

[code]

[2020-06-17 19:32] lburgazzoli commented on #1368
Relates to: https://github.com/apache/camel-k-runtime/issues/362

[2020-06-18 09:05] jamesnetherton opened #1370 "Investigate intermittent build failures due to port conflicts"
Despite randomising ports we occasionally still hit conflicts on CI runs. E.g like this one:

https://github.com/quarkusio/quarkus/issues/8593#issuecomment-645785210

It'd be good if we can figure out the root cause of the problem.

[2020-06-18 10:24] #1358 closed

[2020-06-18 11:26] JiriOndrusek commented on #1365
Please, assign to me.

[2020-06-18 11:39] #799 closed

[2020-06-18 12:24] aldettinger opened #1373 "[Quarkus 1.6.1.Final] platform-http: dev mode breaking with log "Request has already been read""
From a shell, execute:
`watch -n 0.1 http :8080/count <<< '{count: 20}'`

From another shell:
Create a simple http-platform route `from("platform-http:/count").setBody(constant("count !"));`
`mvn quarkus:dev`

Modify the route definition and save, quarkus hot-reload is triggerd but now the route crash from time to time with below stack trace:
`
2020-06-18 14:23:00,418 ERROR [io.qua.ver.htt.run.Qua

[2020-06-18 12:26] aldettinger commented on #1373
Must be an occurence of [quarkus#9693](https://github.com/quarkusio/quarkus/issues/9693), let's integrate the fix when available.

[2020-06-18 13:01] lburgazzoli opened #1376 "Create a camel-componentdsl extension"
So among other things, we can creates component using a fluent builder like:

[code]

[2020-06-18 13:05] lburgazzoli commented on #1376
And we can investigate if that is also possible:

[code]

[2020-06-18 15:27] jamesnetherton opened #1380 "Remove service exclude for ThreadPoolProfileConfigurationProperties"
This was a workaround for a class referenced in ThreadPoolProfileConfigurationProperties that does not exist:
https://github.com/apache/camel-quarkus/blob/9d990df64ceb946e7eed6006dd01fff09e0eceef/extensions-core/core/deployment/src/main/java/org/apache/camel/quarkus/core/deployment/BuildProcessor.java#L192-L196

It can be removed in Camel versions > 3.4.0.

[2020-06-18 15:36] aldettinger commented on #723
3.0.0-M5 looks already there. Is it 3.0.0-M6 that we are waiting ?

[2020-06-18 21:08] ppalaga commented on #723
I have not seen 3.0.0-M5 on the Central when I checked last time. @JiriOndrusek could you please check if 3.0.0-M5 works for us?

[2020-06-19 03:26] github-actions[bot] opened #1381 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 140367703-57-61e752d7-6849-433b-be97-251753f64751
* Camel Quarkus Commit: 418bb220a93041caf4bfdf0d6a3b78de769a2f8c

* Quarkus Master Commit: bdf1abe0e22d29855c6dcadbaef26c36eeca9dd5
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/140367703

[2020-06-19 06:16] #1359 closed

[2020-06-19 06:43] jamesnetherton commented on #1370
Fortunately this just reoccurred on the quarkus-master nightly job [here](https://github.com/apache/camel-quarkus/runs/786736342?check_suite_focus=true). Looking at the logs, all of the random ports allocated by the `build-helper-maven-plugin` look unique:

32769
32983
34241
37135
41365
41481
43313
44435
44505
45503
45859
46267

I wonder if the [plugin](https://github.com/mojohaus/build-helper-mav

[2020-06-19 06:47] #1365 closed

[2020-06-19 07:15] JiriOndrusek commented on #723
@ppalaga @aldettinger
3.0.0-M5 works (it contains fix https://github.com/apache/maven-surefire/commit/761851e5a58a38a3f87f1b71449a0fe452a79838)

[2020-06-19 07:18] ppalaga commented on #723
Great, would mind preparing an upgrade?

[2020-06-19 07:23] lburgazzoli commented on #1370
yes it should, we do that in our `AvailablePortFinder`

[2020-06-19 07:24] JiriOndrusek commented on #723
ok, I'll prepare PR

[2020-06-19 07:48] janwaros opened #1384 "Mybatis Component native support"
Related issues:

- 1. https://github.com/quarkusio/quarkus/issues/1958
- 2. https://github.com/quarkusio/quarkus/issues/6490

[2020-06-19 08:54] jamesnetherton commented on #1370
I guess the real problem is with the thing that tries to rebind to the port. E.g the vertx HTTP server. There is a [`so-reuse-port`](https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.so-reuse-port) config option, but only available if using the native transport.

[2020-06-19 09:56] ppalaga commented on #1384
A contribution is welcome! Please follow https://camel.apache.org/camel-quarkus/latest/contributor-guide/create-new-extension.html

[2020-06-19 12:53] #1360 closed

[2020-06-19 13:35] lburgazzoli opened #1387 "Turn off bean removal by ArC"
By default ArC [removes unused beans](https://quarkus.io/guides/cdi-reference#remove_unused_beans) but that does not work very well with Camel as it does use `BeanManager` behind the scenes to look-up beans from the container and ArC can't be aware of what Camel need.

We probably need to discuss this topic with the Quarkus team and see if through a build item it could be possible to reverse the b

[2020-06-19 13:55] oscerd opened #1388 "AWS2-Athena extension"
It has been introduced in 3.4.0

[2020-06-20 09:33] #1350 closed

[2020-06-20 19:58] #1037 closed

[2020-06-20 19:58] #1128 closed

[2020-06-20 19:58] #1368 closed

[2020-06-20 20:14] lburgazzoli opened #1390 "The quarkus-bootstrap-maven-plugin is listed twice on all the runtime extensions POMs"
Seems a side effect of https://github.com/apache/camel-quarkus/commit/49f63901777d27f7874a10dfd54006d8f47685e3

[2020-06-20 22:52] #1349 closed

[2020-06-21 07:25] lburgazzoli opened #1395 "Package Maven Plugin: Goal prefix is specified as: 'camel-quarkus'. Maven currently expects it to be 'camel-quarkus-package'."
maven-plugin-plugin:3.5.2:descriptor warning when building Package Maven Plugin

[code]

[2020-06-21 08:57] ppalaga commented on #1395
I think it is harmless. But yes, we can rename the plugin to `camel-quarkus-maven-plugin`.

[2020-06-21 11:20] #1390 closed

[2020-06-21 17:56] lburgazzoli opened #1398 "Observe Camel's Management events"

[2020-06-21 17:56] lburgazzoli opened #1399 "Observe Camel's Lifecycle events"

[2020-06-21 21:01] lburgazzoli commented on #1399
There's some overlap between life-cycle and management events:

- [LifecycleStrategy](https://github.com/apache/camel/blob/master/core/camel-api/src/main/java/org/apache/camel/spi/LifecycleStrategy.java)
- [CamelEvent](https://github.com/apache/camel/blob/master/core/camel-api/src/main/java/org/apache/camel/spi/CamelEvent.java)

@jamesnetherton wonder if we should limit life-cycle events to _onCom

[2020-06-22 02:31] #1284 closed

[2020-06-22 04:18] #1398 closed

[2020-06-22 06:55] zhfeng commented on #1263
please assign this issue to me as we have upgrade to camel 3.4.0

[2020-06-22 07:26] jamesnetherton commented on #1237
I thought this would be fixed after the 3.4.0 upgrade, but there's a slight problem that makes the [CAMEL-15078](https://issues.apache.org/jira/browse/CAMEL-15078) fix non-functional in camel-quarkus.

https://github.com/apache/camel/commit/ff79f30890a79065ce62e0839968dfff08587012

Beans are added to the Camel registry in a build step before the `CamelContext` is created. So the chance to wire in

[2020-06-22 07:42] ppalaga commented on #1350
The linked PR does not add an all-config style page, it rather lists the options relevant for the given extension on its page.

Here is an example: https://camel.apache.org/camel-quarkus/latest/extensions/core.html (There are some visual and procedural glitches there, for which I am going to file folow-ups)

Do we still want an all-config style page?

[2020-06-22 07:46] ppalaga opened #1402 "Asterisk not escaped in Quarkus config docs"
E.g. in https://camel.apache.org/camel-quarkus/latest/extensions/core.html the asterisk in the examples is rendered as `<strong>` where it should rather be verbatim.

[2020-06-22 08:05] oscerd commented on #1402
I think it's antora

[2020-06-22 08:15] davsclaus commented on #1285
The reflection in some of the extension configurtion classes will be fixed by
https://issues.apache.org/jira/browse/CAMEL-15224

[2020-06-22 09:01] ppalaga commented on #1402
No, I'd say it is the Quarkus tooling extracting the field JavaDoc and transforming it to AsciiDoc

[2020-06-22 09:02] ppalaga commented on #1402
Some class in the `io.quarkus.annotation.processor.generate_doc` package.

[2020-06-22 09:18] ppalaga opened #1403 "[Quarkus 1.7] quarkus-extension-processor race conditions when modules are built in parallel"
quarkus-extension-processor reads and writes files in `<repo-root>/target/asciidoc/generated/config` without any locks or synchronization. This makes `mvnd` builds fail.

[2020-06-22 09:19] lburgazzoli commented on #1399
@jamesnetherton @davsclaus a possible implementation proposed as #1404

[2020-06-22 09:50] #1363 closed

[2020-06-22 10:31] davsclaus commented on #1108
I am working on this and have also created a ticket
https://issues.apache.org/jira/browse/CAMEL-15224

[2020-06-22 10:34] davsclaus commented on #1399
Okay so if we only listen for component add/remove endpoint add/remove is there a special reason for this? Just wonder

[2020-06-22 10:44] lburgazzoli commented on #1399
I was thinking about have just a single set of events, as example you can listen for Context start event with both a life-cycle callback and with a management event so there's some duplication and I didn't want to expose both to avoid confusion.

Relates to: https://issues.apache.org/jira/browse/CAMEL-11566?filter=12334535

[2020-06-22 11:37] lburgazzoli commented on #1399
@davsclaus added the missing non overlapping events

[2020-06-22 11:47] davsclaus commented on #1399
Ah okay, so you wanted to present this to the camel-quarkus end users as a uniform api using standard java events. So you dont need to choose when to use lifecycle vs events.

Yeah ideally events should be for end users, and lifecycle for component developers where you need some special integration (spi interface).

But historically then there was only lifecycle in the start of Camel and events wa

[2020-06-22 13:52] #1399 closed

[2020-06-22 16:58] lburgazzoli commented on #1280
We have now an example that uses quarkus main

     https://github.com/apache/camel-quarkus/tree/master/examples/timer-log-main

however there's an issue https://github.com/quarkusio/quarkus/issues/10147 that prevent to start it from the IDE.

[2020-06-22 19:00] #1353 closed

[2020-06-22 19:15] lburgazzoli opened #1406 "Don't bind auto-discovered beans to the registry if they are produced by the user"
Assuming we have a the following code from the user applications code:

[code]

This will end-up overriding the auto discovered log component bound to the registry by camel-quarkus' build steps during the augmentation phase and as we have a way to query the build context about the known beans, then we should avoid to register the auto discovered one to avoid wasting memory.

[2020-06-22 19:17] lburgazzoli commented on #1406
/cc @jamesnetherton this is something also to take into account if you have plans to revisit how beans are bound to the registry.

[2020-06-22 19:29] gunnarmorling commented on #1182
Ha, just ran into this very same issue myself. Thanks for the good explanation of the cause in this report, helped me to understand what I'd have to do :)