[2021-05-04 12:31] jamesnetherton commented on #2537
Maybe not within the scope of this task but we should look to address https://github.com/apache/camel-quarkus/issues/2260 if possible.

[2021-05-04 14:00] ffang opened #2550 "several integration-test failure in native mode"
I encountered test failures in integration-test for
file
hazelcast
minio
hbase
when running tests with -Pnative

For the hbase, since it's in extensions-jvm folder, IIUC, this means it supports jvm mode only, so I assume it shouldn't have native profile.

For the hazelcast, I got exceptions " java.lang.IllegalStateException: ICMP not supported in this platform: mac os x" on my mac. So I think disa

[2021-05-04 16:28] #2547 closed

[2021-05-04 19:57] ffang commented on #2550
For the minio integration test, the exception throws from io.minio.Time class when using
[code]

I strongly suspest in the quarkus native mode, somehow on my machine can't find Locale.US, instead it will use Locale.CA. So the expected time stamp should be "Mon., 03 May 2021 18:10:53 GMT" instead of "Mon, 03 May 2021 18:10:53 GMT", I found a related jdk issue here https://bugs.openjdk.java.net/brow

[2021-05-05 11:00] jamesnetherton opened #2554 "[camel 3.10] Test setting MLLP default charset from system property for native mode"
See notes in https://issues.apache.org/jira/browse/CAMEL-16580.

[2021-05-05 15:57] ffang commented on #2458
Hi @ppalaga ,

Can we close this issue for now?

Thanks!
Freeman

[2021-05-05 16:09] ffang commented on #2407
Hi @aldettinger ,

Just FYI,  I found that we can specify the locale in application.properties which can be used in native mode other than the host default one.
Please get ore details from
https://github.com/apache/camel-quarkus/issues/2550#issuecomment-832204615

Cheers
Freeman

[2021-05-05 16:16] ffang commented on #1861
Hi @ppalaga ,

Just FYI, if it's only one no-default locale needed in native mode, we can specify it in application.properties like
[code]
Please take a look at https://github.com/apache/camel-quarkus/issues/2550#issuecomment-832204615 to get more details.

Cheers
Freeman

[2021-05-05 16:17] aldettinger commented on #2407
Thanks for sharing @ffang :+1:  We may need more when facing situations like embedding 2 locales, but that's a good tip. I will make a note to add this trick to the bindy documentation.

[2021-05-05 16:45] #2518 closed

[2021-05-06 06:40] vkasala commented on #2356
@KurtStam @ppalaga Please, can you back-port it also to old 1.8.1?

[2021-05-06 06:49] #2550 closed

[2021-05-06 13:31] jamesnetherton opened #2558 "Build time optimized ServiceInterfaceStrategy for the SOAP extension"
It would be good to investigate whether the `ServiceInterfaceStrategy` provided by the SOAP extension could be extended / replaced / optimized in Camel Quarkus to do most of the JAX-WS service introspection at build time. I.e via Jandex etc.

[2021-05-06 23:03] KurtStam commented on #2356
@vkasala sure will do

[2021-05-07 09:40] jamesnetherton opened #2561 "Expand SOAP extension test coverage"
* Multipart messages
* Usage of `QNameStrategy` & `ServiceInterfaceStrategy`
* Schema validation

[2021-05-07 14:08] jamesnetherton commented on #2528
Done in https://github.com/apache/camel-quarkus-examples/pull/36.

[2021-05-07 14:08] #2528 closed

[2021-05-07 14:11] zbendhiba opened #2564 "Twitter native test : Locale and Timezone"
I've been testing the twitter extension in native mode. And as I have a Locale fr, I've got errors parsing the responses from Twitter.com.
The Twitter Java API expect to have the Locale.US installed and expect also Timezone UTC.
We need to address the issue or at least document it.

[2021-05-07 14:14] zbendhiba commented on #2564
related to [camel-quarkus-1861](https://github.com/apache/camel-quarkus/issues/1861) and [quarkus-5244](https://github.com/quarkusio/quarkus/issues/5244)

[2021-05-09 18:41] ffang commented on #2564
Hi @zbendhiba ,

About Locale, Hi @zbendhiba ,

Just FYI, if it's only one no-default locale needed in native mode, we can specify it in application.properties like
[code]
Please take a look at https://github.com/apache/camel-quarkus/issues/2550#issuecomment-832204615 to get more details.

About the timezone,  please take a look at my way to fix https://github.com/apache/camel-quarkus/issues/2542

[2021-05-10 08:25] zbendhiba opened #2566 "[Quarkus 2.0.0.Alpha2] Camel-main failure tests"
Test failure
`Error:  Tests run: 8, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 13.839 s <<< FAILURE! - in org.apache.camel.quarkus.main.CoreMainTest
Error:  testProperties  Time elapsed: 0.058 s  <<< FAILURE!
java.lang.AssertionError:
1 expectation failed.
Response body doesn't match expectation.
Expected: is "test"
  Actual: default`

[2021-05-10 08:25] zbendhiba commented on #2566
Related to this issue [quarkus-17103](https://github.com/quarkusio/quarkus/issues/17103)

[2021-05-10 08:27] zbendhiba commented on #2566
I'm going to temporary deactivate this test so that we can have a full build of camel-main branch

[2021-05-10 09:09] #2421 closed

[2021-05-10 09:17] #2458 closed

[2021-05-10 09:21] ppalaga commented on #1861
Yes, thanks, I was not aware of those props. Indeed they may come in handy to workaround some native locale issues.

[2021-05-10 15:07] #2356 closed

[2021-05-10 15:18] #2260 closed

[2021-05-10 15:21] ppalaga opened #2567 "Generate TypeConverter classes via Gizmo"
https://github.com/apache/camel-quarkus/pull/2560 brought some runtime converter detection and tests. We could further improve that by generating the TypeConverter classes at runtime via Gizmo (instead of using StaticMethodTypeConverter and InstanceMethodTypeConverter).

[2021-05-10 16:32] KurtStam-2 commented on #2191
Wouldn't it make more sense to update camel and migrate to java.time (JSR-310)?

[2021-05-10 16:34] KurtStam commented on #2191
Wouldn't it make more sense to update camel and migrate to java.time (JSR-310)?

[2021-05-11 07:47] zbendhiba opened #2568 "Quarkus 2.0.0.Alpha2 : quarkus-bootstrap-maven-plugin"
quarkus-bootstrap-maven-plugin  is failing in CI builds. Example for kudu extension, if you run `mvn test`:
There's this error
`ERROR] Failed to execute goal io.quarkus:quarkus-bootstrap-maven-plugin:2.0.0.Alpha2:extension-descriptor (default) on project camel-quarkus-kudu: Execution default of goal io.quarkus:quarkus-bootstrap-maven-plugin:2.0.0.Alpha2:extension-descriptor failed`

[2021-05-11 08:08] zbendhiba commented on #2568
related to [quarkus-17137](https://github.com/quarkusio/quarkus/issues/17137)

[2021-05-11 08:26] zbendhiba opened #2569 "[Quarkus 2.0.0.Alpha2] upgrade to GrpcService annotation"
gRPC integration tests are failing with upgrade to Quarkus 2.0.0.Alpha2, due to a rework of the gRPC annotations. The new annotation `GrpcService` seems to be mandatory.

Related issue from the Quarkus 2.0.0.Alpha2 release is : [quarkus-16872](https://github.com/quarkusio/quarkus/issues/16872)

Error from our CI build :
`Error: ]: Build step io.quarkus.arc.deployment.ArcProcessor#generateResources

[2021-05-11 08:27] #2566 closed

[2021-05-11 09:06] JiriOndrusek opened #2570 "With fix of #2260 too many @Converters are registered"
Fix of https://github.com/apache/camel-quarkus/issues/2260 contains an issue.

`@Converters` with value `true` as `generateLoader` or `generateBulkLoader` should not be registered, because they are processed through loaders

[2021-05-11 09:56] #2561 closed, assigned to jamesnetherton

[2021-05-11 10:26] ppalaga commented on #2566
Thanks for fixing this, @zbendhiba!

Note to myself: we'll need to add as similar snippet to this test's pom.xml in Quarkus Platform.

[2021-05-11 10:59] zbendhiba opened #2572 "[Quarkus 2.0.0.Alpha2] System.properties not recognized if set in Test Resource"
Failures :
[code]

[2021-05-11 11:00] zbendhiba commented on #2572
Maybe related to : https://github.com/apache/camel/commit/411f0fd487719d5129c0c4dddf1b958f14166d53

[2021-05-11 11:02] zbendhiba opened #2573 "[Quarkus 2.0.0.Alpha2] Capabilities error"
Error since upgrade to Quarkus 2.0.0.Alpha2

[code]

[2021-05-11 11:05] zbendhiba commented on #2573
Also
[code]

[2021-05-11 12:47] jamesnetherton commented on #2569
Should be fixed here https://github.com/apache/camel-quarkus/commit/b8e81616d61476190ba9c8ae2b6a594e3ebabc96.

[2021-05-11 14:34] zbendhiba opened #2575 "Fix ArangoDb warnings"
see these warnings and adapt tests
[code]

[2021-05-11 15:31] KurtStam commented on #2191
I will look into this. Seems fun. Maybe someone can assign it to me?

[2021-05-11 15:52] zbendhiba opened #2577 "[Quarkus 2.0.0.Alpha2] vert.x failure"
See logs :
[code]

[2021-05-11 16:35] zbendhiba commented on #2568
will be fixed for 2.0.0.Alpha3

[2021-05-11 16:51] zbendhiba opened #2578 "[camel 3.13] Atlasmap : use jandex index for atlasmap bean discovery"
related to this issue [atlasmap-2721](https://github.com/atlasmap/atlasmap/issues/2721)

[2021-05-11 16:59] ppalaga opened #2579 "Support @Consume and @EndpointInject on methods"
A fix for https://github.com/apache/camel-quarkus/issues/2539 will bring support for `@Consume` and `@EndpointInject` on fields. Supporting `@Consume` and `@EndpointInject` on setter methods is to be done.

[2021-05-11 17:28] ppalaga opened #2580 "Support @Consume"
`@org.apache.camel.Consume` https://camel.apache.org/manual/latest/pojo-consuming.html

[2021-05-11 17:29] ppalaga commented on #2539
Moved `@Consume` to https://github.com/apache/camel-quarkus/issues/2580

[2021-05-11 17:30] #2570 closed

[2021-05-11 19:44] zbendhiba opened #2582 "Minio native test : Locale"
Minio needs Locale en/us to be added

[2021-05-11 20:51] zbendhiba commented on #2577
related to https://github.com/apache/camel-quarkus/issues/2572

[2021-05-11 20:52] zbendhiba commented on #2577
I close this one because I'm already correcting it

[2021-05-11 20:52] #2577 closed

[2021-05-12 11:43] JiriOndrusek commented on #2362
@ppalaga I'd like to be sure, that I understand this issue correctly:

- We should try to create separate test modules for e.g. log, timer and therefore remove this dependencies from core test
- We should verify that producer and consumer cases are tested for `direct`
- I probably don't understand what does grouped test mean in this case - do you mean to introduce grouped test, which will contain

[2021-05-12 12:35] #2539 closed

[2021-05-13 09:12] ppalaga commented on #2579
I'd like to point out that I find this a low priority, because we have not seen much usage of this in plain Camel. We'd implement this only if there is a strong demand.

[2021-05-13 10:20] jamesnetherton opened #2589 "[camel 3.10] NATS native image build failure"
[code]

[2021-05-13 10:21] ppalaga opened #2590 "Test camel-quarkus-aws2-s3 together with quarkus-amazon-s3"
If the end user adds quarkus-amazon-s3 to an app together with camel-quarkus-aws2-s3 the app should work even if he has to configure them separately. We should add a test for this. There is some potential to clash also in case of other AWS services supported by Quarkus https://github.com/quarkusio/quarkus/tree/main/extensions/amazon-services Maybe in the end the simplest solution would be to make

[2021-05-13 10:21] jamesnetherton commented on #2589
/CC @aldettinger - please can you take a look into this.

For now, I have disabled the NATS itest native build on CI in `test-categories.yaml`.

[2021-05-13 10:28] mmuzikar opened #2591 "REST extension doc link is not processed correctly"
See [https://camel.apache.org/camel-quarkus/latest/reference/extensions/rest.html#_additional_camel_quarkus_configuration](https://camel.apache.org/camel-quarkus/latest/reference/extensions/rest.html#_additional_camel_quarkus_configuration).
The `xref:extensions/platform-http.adoc` should be linked to platform-http document, it might be because there's no extensions/platform-http.adoc on the serve

[2021-05-13 10:44] ppalaga opened #2592 "Check whether/how the clients for Quarkus AWS extension can be used in Camel routes"
Related but still separate from https://github.com/apache/camel-quarkus/issues/2590

[2021-05-13 11:53] #2537 closed

[2021-05-13 11:54] #2580 closed

[2021-05-14 07:38] jamesnetherton opened #2594 "Cancel Stale Workflow Runs job is cancelling workflows on all branches"
Something I noticed is that the `Cancel Stale Workflow Runs` job seems to be cancelling workflows for unrelated branches. E.g the following scenario:

1. The `ci-build` workflow is running for branch `camel-main`
2. A commit is made to `main` to trigger another run of `ci-build`
3. The workflow for the `camel-main` is cancelled

So its acting like only 1 instance of the `ci-build` workflow can be

[2021-05-14 07:39] #2591 closed

[2021-05-14 08:25] ppalaga opened #2595 "AWS2 Lambda integration timeouts on Localstack"
I am disabling `Aws2LambdaTest` and `Aws2LambdaIT`.

[2021-05-14 11:59] #2216 closed

[2021-05-14 15:37] cunningt commented on #1735
I'd like to start looking at this one, if no one else is

[2021-05-17 08:41] #1710 closed

[2021-05-17 09:11] aldettinger commented on #2589
Ok, I see it disabled on camel-main, let's have a look.

[2021-05-17 10:03] #2362 closed

[2021-05-17 12:58] jamesnetherton opened #2599 "Support JMS ObjectMessage"
Ultimately this issue likely belongs elsewhere (I.e Quarkus) and that there's a prerequisite that Quarkus provides support for GraalVM serialization. But we should at least document that usage of `javax.jms.ObjectMessage` is currently not supported in native mode since it relies on Java object serialization.

Maybe it's best fulfilled by some configuration option that enables a user to list the de

[2021-05-17 13:08] ppalaga commented on #2599
I guess https://github.com/quarkusio/quarkus/pull/15380 would help if it was merged?

[2021-05-17 13:11] jamesnetherton commented on #2599
Yeah it would be a first step at least...

[2021-05-17 15:20] ppalaga commented on #1861
We need to adapt our documentation https://github.com/apache/camel-quarkus/pull/2601/files once quarkusio/quarkus#5244 gets fixed.

[2021-05-18 02:14] zhfeng opened #2604 "Add a camel-sql case in jta integration tests"

[2021-05-18 06:22] jamesnetherton opened #2605 "Consider grouped tests for messaging components"
Right now we have a number of components tested together in the `messaging` itest module. We should consider breaking the tests down into individual modules for each extension and leverage grouping for the CI build.

[2021-05-18 07:13] ppalaga opened #2606 "Test AWS2 SQS in isolation"
We currently have a test that combines SNS and SQS. This is because SNS is a bare pipe that needs to be wired to some other AWS service (SQS, S3 or maybe some other) to be able to ensure that a message has passed it.
Regardless of that an isolated SQS test should be possible and we should try to create one.

[2021-05-18 07:13] #2572 closed

[2021-05-18 07:15] #2569 closed

[2021-05-18 07:15] #2573 closed

[2021-05-18 08:21] #2522 closed

[2021-05-18 08:37] ppalaga opened #2607 "Add a section about testing to the Contributor guide"
* Integration tests: JVM and native (+ how to locate them in the source tree)
  * ~~Test code not necessarily executed in the same process as the test app -> all communication must go over HTTP, filesystem, log output or similar.~~ Now covered in the Testing page of user guide
  * Isolation (minimal deps) and grouping
  * RestAssured, Awaitility and AssertJ
  * Test routes, ConsumerTemplate, Produ

[2021-05-18 08:41] ppalaga commented on #1245
There is a brief Configuration by convention section now: https://camel.apache.org/camel-quarkus/latest/user-guide/configuration.html#_configuration_by_convention
But how that applies to the individual components should be documented on the individual extension/component pages.

[2021-05-18 08:42] jamesnetherton opened #2608 "Messaging integration test for JMS topics is not working"
Turns out that topics have not actually ever been tested properly. The JAX-RS resource method for the test is missing an `@Consumes` annotation which seems to prevent the logic from being triggered.

However, when adding this, the tests fail anyway and I couldn't track down what the cause of the issue is after a quick investigation.

Not sure if it's related to the dockerized Artemis instance conf

[2021-05-18 08:46] jamesnetherton commented on #2608
@zhfeng Would you be able to take a look at this?

[2021-05-18 10:45] nicolaferraro opened #2610 "camel-jackson-avro data format native support"
These are two new dataformats added to Camel 3.10 that are needed in Kamelets.

[2021-05-18 12:39] gus-maurizio opened #2612 "package org.apache.camel.builder does not exist when using fast-jar in application.properties"
Hi. When I change the quarkus.package.type to fast-jar (from uber-jar) in the application.properties, the application fails to find org.apache.camel.builder and fails. Works fine with uber-jar.
[code]

[2021-05-18 12:44] gus-maurizio commented on #2612
attaching application.properties section
[code]

[2021-05-18 12:45] jamesnetherton commented on #2612
Which Quarkus / camel-quarkus version are you using?

`fast-jar` has been the default since Quarkus 1.12.x.

[2021-05-18 13:03] gus-maurizio commented on #2612
1.18.1

[2021-05-18 13:03] gus-maurizio commented on #2612
worth noting I am using dynamic java and xml routes, they get compiled at run time

[2021-05-18 13:12] ppalaga opened #2613 "Test core languages in isolation"
`camel-quarkus-core` brings support for the following languages:

* Constant
* ExchangeProperty
* File
* Header
* Ref
* Simple
* Tokenize

All of these except for the File language should be tested with minimal dependencies (core and direct).

Testing the File language makes only sense together with some component operating on `org.apache.camel.component.file.GenericFile`, such as File, FTP, etc.

[2021-05-18 13:25] jamesnetherton commented on #2612
Maybe because whatever you're using to provide the 'dynamic java' part is trying to search for `java.class.path`? It's not available when you do `java -jar target/quarkus-app/quarkus-run.jar`.

In such scenarios `fast-jar` is not so friendly. Instead of `java -jar`, you likely have do `java -cp` and build up the classpath manually for the content under `quarkus-app/app`, `quarkus-app/lib` & `quark

[2021-05-18 13:36] ppalaga opened #2615 "camel-jackson-protobuf data format native support"

[2021-05-18 13:37] ppalaga commented on #2610
Moved and camel-jackson-protobuf to a separate issue https://github.com/apache/camel-quarkus/issues/2615

[2021-05-18 13:40] gus-maurizio commented on #2612
thanks James, do you have a handy command to run that to test? just adding the -cp and the main will do?

[2021-05-18 14:33] gus-maurizio commented on #2612
Brilliant! it works. Thanks James.
If I may suggest a little change to make the CLASSPATH shorter:

[code]

[2021-05-18 14:39] gus-maurizio commented on #2612
My greatest gratitude to this dev team and their speedy answers!

[2021-05-18 14:39] #2612 closed

[2021-05-18 15:13] ppalaga opened #2616 "Test data format EIPs"
Already supported data formats should have tests for the given dataformat Java DSL method.

E.g. for Bindy, in addition to the existing

[code]

we should also test the following (equivalent) notation:

[code]

[2021-05-18 23:07] zhfeng commented on #2608
@jamesnetherton yeah, please assign to me.

[2021-05-19 05:51] lburgazzoli opened #2617 "[camel 3.10] create an extension for the camel-kamelet-reify component"

[2021-05-19 05:54] lburgazzoli opened #2618 "[camel 3.10] load selected list of kamelets definitions at build time"
Old draft PR here: https://github.com/apache/camel-quarkus/pull/2549
Can leverage the new kamelet loader: https://github.com/apache/camel/blob/main/dsl/camel-yaml-dsl/camel-yaml-dsl/src/main/java/org/apache/camel/dsl/yaml/KameletRoutesBuilderLoader.java

[2021-05-19 07:45] jamesnetherton commented on #2594
Will be fixed by https://github.com/apache/camel-quarkus/pull/2620.

[2021-05-19 07:45] #2594 closed

[2021-05-19 09:01] jamesnetherton opened #2621 "Reinstate camel integration tests to the Quarkus Platform nightly SNAPSHOT build"
I am temporarily removing Camel since we do not yet have a Quarkus 2 compatible release.

[2021-05-19 10:08] jamesnetherton commented on #2621
Here's the script that will need tweaking:

https://github.com/quarkusio/quarkus-platform/blob/main/.github/quarkus-ecosystem-test#L8-L9

[2021-05-19 10:17] #2613 closed

[2021-05-19 10:17] #2616 closed

[2021-05-19 10:35] JiriOndrusek opened #2622 "Expand MongoDb test coverage"
Add additional test coverage for:

- ~Configuration of database in Spring XML.~ EDITED
- Override an operation with dynamic operation. (Producer)
- Tailable cursor consumer
- Tailable cursor consumer with persistent tail tracking
- Change streams consumer
- Included converter

[2021-05-19 10:43] jamesnetherton commented on #2622
I think we can leave out testing for the Spring XML config.

[2021-05-19 10:49] JiriOndrusek commented on #2622
@jamesnetherton this was my idea either. But it could be theoretically possible and because it is the first chapter in component doc, I kept it there. But if standard way is to ignore this and go only woth quarkus like configuration, no problem here.

[2021-05-19 10:58] jamesnetherton commented on #2622
Yeah that's the default test strategy. A lot of the component docs will mention Spring XML, but it's not our focus here so much. Also, not all of the Spring stuff will work since we do not fully support the framework.

[2021-05-19 11:00] JiriOndrusek commented on #2622
ok, then I'm remopving this item from the summary, thanks for confirmation.

[2021-05-19 12:26] JiriOndrusek opened #2623 "Expand Sql test coverage"
Add additional test coverage for:

- Consumer: Consume a newly created record and modify it.
- Externalize the query by using file: or classpath.
- Simple transacted route
- SQL error handling (spring-jdbc maps error codes to Exceptions. Mapping is loaded from sql-error-code.xml resource)
- Idempotent Consumer EIP pattern
- Aggregator EIP pattern

(Use route instead of ConsumerTemplate)

[2021-05-19 12:27] ppalaga opened #2624 "Test creating a subscription of an SQS Queue to an SNS Topic"
https://camel.apache.org/components/3.9.x/aws2-sns-component.html#_create_a_subscription_between_an_aws_sns_topic_and_an_aws_sqs_queue

[2021-05-19 12:28] ppalaga opened #2625 "Test sending messages to an SNS FIFO topic"
https://camel.apache.org/components/3.9.x/aws2-sns-component.html#_sns_fifo

[2021-05-19 12:45] zbendhiba opened #2626 "Kafka - add Kafka Idempotent repository test"
Add integration test for Kafka Idempotent repository for camel-quarkus-kafka

[2021-05-19 12:49] zbendhiba opened #2627 "Kafka - add test coverage"
Add test for these functionalities for camel-quarkus-kafka extension :
- Capability to use [manual commit with Kafka consumer](https://camel.apache.org/components/latest/kafka-component.html#_using_manual_commit_with_kafka_consumer)
- Customize [Kafka header propagation](https://camel.apache.org/components/latest/kafka-component.html#_kafka_headers_propagation)
- Usage of Strimzi container
- Seria

[2021-05-19 14:02] ppalaga opened #2628 "Test EIPs DSL methods"
Each EIP documented in https://camel.apache.org/components/latest/eips/enterprise-integration-patterns.html should be invoked at least once from our integration tests

[2021-05-19 15:48] valdar opened #2630 "Add camel-kamelet extension example"

[2021-05-19 16:08] aldettinger opened #2631 "Complete simple core doc concerning "type:***" expressions"
Document "type:***" case in 'Using dynamic type resolution in native mode' in the core docs:
https://github.com/apache/camel-quarkus/blob/main/docs/modules/ROOT/pages/reference/extensions/core.adoc.

[2021-05-19 16:27] #2631 closed

[2021-05-19 17:16] KMUS opened #2632 "No consumers available on endpoint"
Declaring a class with @Consume annotation always fails. See below for complete error message. An other issue I want to point out is, a missing @Inject on @Produce("direct:startHere") results in a npe.

I am grateful for any help.

Main.class
[code]

CamelStarter .class
[code]

CamelRoutes .class
[code]

Bar.class
[code]

[code]

[code]

[2021-05-19 19:29] ffang opened #2633 "jacksonxml: add test coverage"
port more testcases from camel-jacksonxml component

[2021-05-19 19:32] ffang opened #2634 "jackson: add test coverage"
port more testcases from camel-jackson component

[2021-05-20 08:21] jamesnetherton opened #2636 "Expand Netty test coverage"
* Producer / consumer with [SSL](https://camel.apache.org/components/3.7.x/netty-component.html#_an_ssltcp_based_netty_consumer_endpoint_using_request_reply_communication)
* Custom [`ServerInitializerFactory`](https://camel.apache.org/components/3.7.x/netty-component.html#_custom_pipeline)
* Custom [boss / worker thread pools](https://camel.apache.org/components/3.7.x/netty-component.html#_reusing

[2021-05-20 08:33] jamesnetherton commented on #2636
If object serialization support is added to Quarkus, we should perhaps also test `org.apache.camel.component.netty.codec.ObjectEncoder`.

[2021-05-20 09:08] jamesnetherton opened #2637 "Use `CamelContextCustomizer` from camel-api"
camel-quarkus has its own impl of `CamelContextCustomizer`:

https://github.com/apache/camel-quarkus/blob/main/extensions-core/core/runtime/src/main/java/org/apache/camel/quarkus/core/CamelContextCustomizer.java

We should remove it and use the one provided by Camel:

https://github.com/apache/camel/blob/main/core/camel-api/src/main/java/org/apache/camel/spi/CamelContextCustomizer.java

[2021-05-20 10:44] ppalaga commented on #2632
Support for `@Consume` was added to main branch very recently. It will be available in Camel Quarkus 1.9.0. Would you mind testing with our main branch so that we can fix any issues before we release? Here is how to build: https://camel.apache.org/camel-quarkus/latest/contributor-guide/index.html#how-to-build

[2021-05-20 16:10] KMUS commented on #2632
Version 1.9.0 built and included

1.) The new version seems to fix that issue 'No consumers available on endpoint' but still result in a npe. Injection works fine with @Inject on @Produce. According to the docs, it should work without inject too.
[code]
[code]

2.) Unused bean is removed during build. Adding @Unremovable will not call onBar anymore.

[code]
[code]
[code]

[2021-05-20 22:08] ppalaga commented on #2632
Could you please post a minimal reproducer? It is a bit hard to tell from the fragments what is going wrong.

[2021-05-21 09:12] KMUS commented on #2632
I am sorry, sure.
Some errors are gone, some still remains. Hope this is enough to reproduce it.

[code]

[code]

[2021-05-24 07:06] llowinge opened #2645 "Test moving and deleting files on an FTP server"
To cover `As camel quarkus user i would like to to move and delete files on FTP server.`

[2021-05-24 08:00] ppalaga opened #2646 "[Quarkus 2.0.0.CR1] Stop managing kotlinx-coroutines-core once we get it managed from Quarkus"
We need to add kotlinx-coroutines-core to your BOM until https://github.com/quarkusio/quarkus/pull/17399 reaches us via Quarkus BOM.

[2021-05-24 10:00] ppalaga opened #2647 "Etcd3 native support"
https://camel.apache.org/components/latest/others/etcd3.html

[2021-05-24 10:17] ppalaga commented on #2610
A JVM only extension is underway https://github.com/apache/camel-quarkus/pull/2643

[2021-05-24 10:18] ppalaga commented on #2615
A JVM only extension is underway https://github.com/apache/camel-quarkus/pull/2643

[2021-05-24 10:19] ppalaga commented on #2617
A JVM only extension is underway https://github.com/apache/camel-quarkus/pull/2643

[2021-05-24 10:20] ppalaga commented on #2422
A JVM only extension is underway https://github.com/apache/camel-quarkus/pull/2643

[2021-05-24 10:21] ppalaga commented on #2411
A JVM only extension is underway https://github.com/apache/camel-quarkus/pull/2643

[2021-05-24 10:22] oscerd commented on #2411
I'll have a look at native soon

[2021-05-24 10:23] ppalaga opened #2648 "Azure CosmosDB native support"
https://camel.apache.org/components/latest/azure-cosmosdb-component.html

[2021-05-24 10:26] ppalaga commented on #2083
A JVM only extension is underway https://github.com/apache/camel-quarkus/pull/2643

[2021-05-24 10:27] ppalaga commented on #2647
A JVM only extension is underway https://github.com/apache/camel-quarkus/pull/2643

[2021-05-24 10:46] JiriOndrusek opened #2649 "Unregister MongoDb's ChangeStreamDocument from reflection once it is provided by Quarkus"
Follows https://github.com/apache/camel-quarkus/issues/2622
See more details in https://github.com/apache/camel-quarkus/pull/2642#issue-649783790.

Quarkus mongodb extension does not contain reflection registration of `ChangeStreamDocument`. It is reported as https://github.com/quarkusio/quarkus/issues/17432

Once https://github.com/quarkusio/quarkus/issues/17432 is fixed, registration in `MongoDb

[2021-05-24 10:46] ppalaga commented on #2368
Looking at this in greater detail, the entries (components, languages and data formats) in camel quarkus catalog have zero or one camel artifact they come from. I am implementing something like this:
![image](https://user-images.githubusercontent.com/1826249/119336522-0a5a4c80-bc8e-11eb-88d3-fd06c62a718c.png)

[2021-05-24 11:46] #2622 closed

[2021-05-24 12:37] lfabriko opened #2650 "Camel jira throws in native mode java.lang.ClassNotFoundException: org.glassfish.jersey.internal.RuntimeDelegateImpl"
I generated sample application on https://code.quarkus.io/?e=org.apache.camel.quarkus%3Acamel-quarkus-jira with Camel Jira and replaced the GreetingResource.java with code:
[code]
Next I run:
./mvnw package -Pnative -Dquarkus.native.container-build=true
./target/code-with-quarkus-1.0.0-SNAPSHOT-runner
which produced
[code]

[2021-05-24 13:11] jamesnetherton commented on #2650
Try adding an exclusion like this:

[code]

Then add this dependency:

[code]

Then rebuild / retry the native application.

[2021-05-24 13:16] ppalaga opened #2651 "Class loader issues in AvroRpcTest with Quarkus 2.0.0.Alpha3"
A variant of https://github.com/apache/camel-quarkus/issues/2514

`quarkus.test.flat-class-path=true` is a workaround

[2021-05-24 13:27] lfabriko commented on #2650
Thank you, it runs correctly now.

[2021-05-24 13:35] valdar opened #2652 "kamelet extension: add test for kamelet discovery mechanism"
Since kamelet discovery was added in camel 3.10 see https://camel.apache.org/components/latest/kamelet-component.html#_discovery

Could be good to test it in the context of a quarkus extension if we feel that add value over the camel tests here: https://github.com/apache/camel/blob/main/components/camel-kamelet/src/test/java/org/apache/camel/component/kamelet/KameletDiscoveryTest.java

[2021-05-24 13:54] ppalaga opened #2653 "Native compilation issues on GraalVM 21.1"
An example in the AWS2 test module:

[code]

[2021-05-24 20:56] ppalaga opened #2656 "vert-x http client failing for HTTPS with Quarkus 2.0.0.Alpha3"
To reproduce, uncomment `/*, "vertx-http"*/` in HttpTest.

[2021-05-24 21:06] ppalaga opened #2657 "Solr test fails during native compilation after upgrade to Camel 3.10.0 and Quarkus 2.0.0.Alpha3"
Reproducible with GraalVM 21.1.0:

[code]

[2021-05-24 21:42] ppalaga opened #2658 "Intermittent failures in MongoDbTest.testTailingConsumer() and MongoDbTest.testPersistentTailingConsumer()"
I have seen this once on the CI and once locally (1 in ~6 attempts). I guess there is a race in how we read and write to the results collection. Maybe synchronizing on the list could help.

[code]

[2021-05-24 22:11] ppalaga opened #2659 "Adapt Observability docs page to Quarkus 2.0.0"
https://camel.apache.org/camel-quarkus/latest/user-guide/observability.html the Quarkus endpoints are now prefixed with `/q` we should perhaps also explain that the change happened with Quarkus 2.0

[2021-05-25 00:39] ppalaga commented on #2659
The same holds for rest-openapi extension page

[2021-05-25 00:48] ppalaga opened #2660 "camel-quarkus-master-integration-test failing after the upgrade to Camel 3.10.0 and Quarkus 2.0.0.Alpha3"
[code]

[2021-05-25 06:57] jamesnetherton commented on #2659
We'll probably need to update some of the examples READMEs too. I'll take a look.

[2021-05-25 08:50] #2637 closed

[2021-05-25 09:07] ppalaga commented on #2653
In case of AWS, I am considering to make our AWS extensions depend on the Quarkus ones. I have a PoC and it seems to work quite well.

[2021-05-25 09:12] lburgazzoli commented on #2653
I think as a next step we should:

- star moving the components to use the async bits and drop apache-http in favor of netty
- see if we can integrate better with the aws extension provided by quarkus

I remember we had some discussions with @oscerd in the past but it's a huge task

[2021-05-25 09:22] oscerd commented on #2653
I don't know if all the services we are covering in Camel have their respective Quarkus extensions.

Moving to async is an option, but I would probably create a second component for async, not all the components would have real advantages in moving to async.

[2021-05-25 09:22] ppalaga opened #2662 "Prefer using async Netty client with AWS components"
Originally proposed by @lburgazzoli https://github.com/apache/camel-quarkus/issues/2653#issuecomment-847698031

[2021-05-25 09:29] JiriOndrusek commented on #2658
@ppalaga
It seems, like the container didn't start correctly.

Here is my local log

[code]

As you can see, there are messages about started container right after line ` ✔︎ Docker environment should have more than 2GB free disk space`. But in the log with an error, there is an error right instead. The only explanation is that container configuration can make this container to intermittently fail.

[2021-05-25 09:30] ppalaga commented on #2653
+1 for the direction, but I doubt we'll have time for that in the coming months. I have filed https://github.com/apache/camel-quarkus/issues/2662

No, they do not, but I do not think it is an issue. We can leverage the ones that exist and do our stuff as we did so far with the rest.

I wonder whether sync/async can be seen as an implementation detail? Well, probably not, as long as the user has th

[2021-05-25 09:54] ppalaga commented on #2503
We can upgrade to Quarkiverse Minio 0.2.3 now.

[2021-05-25 10:00] ppalaga commented on #2589
Fixed via https://github.com/apache/camel-quarkus/pull/2643/commits/01110b56147af3ba94263b11a31f2275cd4e2cd2

[2021-05-25 10:00] #2589 closed

[2021-05-25 10:01] ppalaga commented on #2368
Fixed via a1260cb1ed0b19dbfe6010621532e9be326df489

[2021-05-25 10:01] #2368 closed

[2021-05-25 10:23] ppalaga commented on #2658
Ups, sorry, the log I pasted isn't for `MongoDbTest.testTailingConsumer()` - the issue I refer to was failing on Awaitility timing out.

[2021-05-25 10:58] oscerd commented on #2653
We can try to introduce the async option into the original components, but in the end you'll get some new code and some new maintenance to face. Not a whole new component, but for sure new stuff.

[2021-05-25 10:59] oscerd commented on #2653
By the way, let's see, maybe we can start from the messaging ones.

[2021-05-25 11:36] ppalaga opened #2664 "Eagerly initialized Random in various extensions"
GraalVM 21.1 is picky about Randoms being initialized at build time. Here an example of the error message in camel-quarkus-integration-test-xmlsecurity:

[code]

[2021-05-25 12:20] tplevko opened #2666 "Error when using Camel Kinesis component - java.lang.ClassNotFoundException: org.apache.commons.logging.LogFactory"
I'm getting following error when trying to use `camel-quarkus-aws2-kinesis` component in route:

[code]
I found a workaround - adding following dependency to the project. Shouldn't this come however already with the camel quarkus component?
[code]
The route:

[code]

[2021-05-25 12:51] JiriOndrusek commented on #2658
There is also an exception (, which doesn't cause failure), when test is stopped. Probably wrong order of stopping container image and routes. It would be nice to fix that too.

[2021-05-25 13:01] zbendhiba opened #2667 "salesforce : add test coverage"
- Investigate if it's possible to use Wiremock to mock APIs
- Add tests for BULK API 2.0
- Add tests for REST streaming API
- Add tests for Platform events
- Add more test coverafge for REST API
- Add more test coverage for REST Bulk API

[2021-05-25 13:55] zbendhiba commented on #2435
since Graalvm needs json-smart at build time, move the version to 2.4.7, that fixes the CVE

[2021-05-25 14:13] zbendhiba commented on #2564
thanks @ffang

The quarkus.native.user-country, and quarkus.native.user-language work fine for me. From a user point of view, I hope, we can define more than one locale in near future.

For the timeZone, we don't use docker for twitter API. There is fix [here](https://stackoverflow.com/questions/59896136/how-to-set-timezone-in-quarkus-to-utc). I wanted to ask you to test Twitter integration tests

[2021-05-25 14:17] zbendhiba commented on #2582
another candidate for  [camel-quarkus-1861](https://github.com/apache/camel-quarkus/issues/1861) and [quarkus-5244](https://github.com/quarkusio/quarkus/issues/5244)

[2021-05-25 15:27] ppalaga opened #2670 "AWS2 test: org.apache.log4j.Priority required via netty, although netty should not be in the class path at all"
After the upgrade to Quarkus 2.0.0.Alpha3 (this may have been the case also with previous milestones, we do not know), the native compilation started failing in `integration-tests/aws2` - see the error message bellow.

[code]

`org.apache.log4j.Priority` seems to be required only through `io.netty.util.internal.logging.Log4J2Logger` in `netty-common`, but netty should not be there in the class pat

[2021-05-25 15:38] ppalaga opened #2671 "Intermittent failures in MllpIT"
Seen here https://github.com/apache/camel-quarkus/pull/2665/checks?check_run_id=2665270714#step:9:6969
[code]

[2021-05-25 20:38] ppalaga opened #2673 "GraalVM 21.1 in CryptoIT: Trying to verify a provider that was not registered at build time: BC version 1.68"
Happens with GraalVM 21.1 (but does not happen with GraalVm 21.0):

[code]

[2021-05-25 20:59] ppalaga opened #2674 "GraalVM 21.1, KafkaSaslSslIT: ClassNotFoundException: org.apache.kafka.common.security.scram.internals.ScramSaslClient$ScramSaslClientFactory"
[code]

[2021-05-26 06:36] #2604 closed

[2021-05-26 06:37] jamesnetherton commented on #2435
Reopening as per https://github.com/apache/camel-quarkus/pull/2669#issuecomment-847927434.

[2021-05-26 09:27] KMUS commented on #2632
@ppalaga
Any news on this or is not possible to reproduce the issue?

[2021-05-26 11:19] ppalaga commented on #2514
For integration-tests/avro the issue was solved by upgrading to Quarkus 2.0.0.Alpha2. For integration-tests/avro-rpc, we now have https://github.com/apache/camel-quarkus/issues/2651

[2021-05-26 11:19] #2514 closed

[2021-05-26 11:32] ppalaga commented on #2666
Which Camel Quarkus version are you using?

In our main branch, camel-quarkus-aws2-kinesis transitively depends on commons-logging-jboss-logging, so it should not be necessary to add it explicitly.

[2021-05-26 11:36] ppalaga commented on #2649
The blocking issue seems to be fixed. Let's wait for the next Quarkus milestone.

[2021-05-26 11:40] ppalaga commented on #2632
A minimal self contained reproducer in form of an attached zip or a github repo would highly increase the chances that somebody will have a look.

[2021-05-26 13:03] #2657 closed

[2021-05-26 13:03] #2664 closed

[2021-05-26 13:24] ppalaga commented on #2621
Now we have Quarkus 2.0.0.x in our main branch

[2021-05-26 14:01] KMUS commented on #2632
@ppalaga

see comments in project

[sample.zip](https://github.com/apache/camel-quarkus/files/6547198/sample.zip)

[2021-05-26 14:49] ppalaga commented on #2521
Fixed via 3d29121fe1dc708b57daf7f8dfef02a2269a0e41

[2021-05-26 14:49] #2521 closed

[2021-05-26 14:50] ppalaga commented on #2486
Camel 3.10 is in main now

[2021-05-26 14:52] ppalaga commented on #2479
We have Camel 3.10 in the master now

[2021-05-26 15:53] ppalaga commented on #2653
Fixed via https://github.com/apache/camel-quarkus/pull/2663

[2021-05-26 15:54] ppalaga commented on #2674
Fixed via c213c9b

[2021-05-26 15:54] #2674 closed

[2021-05-26 16:06] ppalaga commented on #2575
Filed this one https://github.com/arangodb/arangodb-java-driver/issues/392

[2021-05-26 16:24] #2650 closed

[2021-05-26 16:46] ppalaga commented on #2575
Hm... `--allow-incomplete-classpath` in their config https://github.com/arangodb/arangodb-java-driver/blob/master/src/main/resources/META-INF/native-image/com.arangodb/arangodb-java-driver/native-image.properties#L2 looks scarry. I wonder whether we should prefer ignoring their config completely once Quarkus offers a programmatic way to do so https://github.com/quarkusio/quarkus/issues/17482

[2021-05-26 16:54] ppalaga commented on #2448
Could you please test with Camel Quarkus 2.0.0-M1 that should become available in ~48 hours from now?

[2021-05-26 16:56] ppalaga commented on #2461
Have seen this happening recently, @jamesnetherton ? Perhaps we could close?

[2021-05-26 17:02] ppalaga commented on #2416
`InlineBeforeAnalysisBuildItem` is now available.

[2021-05-26 17:11] ppalaga commented on #2285
CAMEL-16253 is resolved, but JBTM-3433 is not. Should we perhaps ping them again?
Is this something for Camel Quarkus 2.0?

[2021-05-26 17:14] aldettinger opened #2676 "jsonpath : Unexpected character ('r' (code 114)): was expecting double-quote to start field name"
Looks there is an issue starting with camel-quarkus 2.0.0-M1, with a route like below:
[code]

when invoking with restassured:
[code]

It produces the stack trace below:
[code]

[2021-05-26 17:16] aldettinger commented on #2395
This issue seems to be solved in camel-quarkus 2.0.0-M1. However, a similar one appeared #2676.

[2021-05-26 17:17] ppalaga commented on #2205
Is this still occurring? Can't we close this issue?

[2021-05-26 17:27] ppalaga commented on #2067
Closing as stale

[2021-05-26 17:27] #2067 closed

[2021-05-26 17:30] ppalaga commented on #2060
Can this be closed, @JiriOndrusek ?

[2021-05-26 17:31] ppalaga commented on #2042
Do we need to do something about this?

[2021-05-26 17:37] jamesnetherton commented on #2461
I've not seen it pop up recently. I did some refactoring of the tests, maybe that has helped. I'll close and reopen if I see it happen again.

[2021-05-26 17:37] #2461 closed

[2021-05-26 17:37] #2633 closed

[2021-05-26 17:38] #2634 closed

[2021-05-26 17:39] ppalaga commented on #2023
AWS SDK v1 extensions were removed some time ago. If the problem occurs also with the respective v2 extension, please feel free to reopen this issue.

[2021-05-26 17:39] #2023 closed

[2021-05-26 17:42] jamesnetherton commented on #2042
I did start working on a solution. But after this [conversation](https://github.com/quarkusio/quarkus/issues/14112) I abandoned it.

If it becomes a frequent issue for folks, then maybe we invest more time on it.

[2021-05-26 17:45] ffang opened #2677 "Error when using camel-quarkus-jackson in native mode: java.lang.ClassNotFoundException: com.fasterxml.jackson.module.jaxb.JaxbAnnotationModule"
If we set com.fasterxml.jackson.module.jaxb.JaxbAnnotationModule as ModuleClassNames for JacksonDataFormat, in native mode we see errors like
[code]

[2021-05-26 17:46] avano opened #2678 "Quarkus Native: SQS to Mongo fails to compile with NoClassDefFoundError: jnr/unixsocket/UnixSocket"
quarkus version: 1.13.0
camel quarkus version: 1.8.0
java version:

[code]

Having the integration from sqs to mongodb, it fails to compile to native with:

[code]

integration:

[code]

using mongodb or sqs in separate integrations without each other works OK in native

[2021-05-26 17:47] ffang commented on #2677
This is because in camel-jackson component, it uses reflection way to create the Module class, we need a BuildStep to registerReflectiveClasses

[2021-05-26 17:50] ppalaga commented on #2005
Also related to bouncy castle: https://github.com/apache/camel-quarkus/issues/2673

[2021-05-26 17:52] jamesnetherton commented on #2285
Not strictly because we can bump the version of the LRA container image used in the itests at any time. But it'd be nice to get a fix ASAP.

I dropped a comment into the JBTM issue to ask for an update. There is still the (not ideal) workaround of using the older LRA coordinator.

I could also look into tweaking camel-lra to see if it's possible to at least work around the problem.

[2021-05-26 17:57] ppalaga opened #2679 "Revisit user guide testing page"
https://camel.apache.org/camel-quarkus/latest/user-guide/testing.html

* Add imports of used classes
* Add a section about mocking remote endpoints

[2021-05-26 17:57] avano commented on #2666
@ppalaga we used an older version, I confirmed that it works ok with `1.8.0`, so this one can be closed

[2021-05-26 17:59] ppalaga commented on #1981
I filed https://github.com/apache/camel-quarkus/issues/2679 to improve the testing page in our user guide.

[2021-05-26 18:00] jamesnetherton commented on #2678
Seems similar to https://github.com/quarkusio/quarkus/issues/15434.

Also see https://github.com/quarkusio/quarkus/issues/16139#issuecomment-812252577.

[2021-05-26 18:03] ppalaga commented on #1871
Closing as stale

[2021-05-26 18:03] #1871 closed

[2021-05-26 18:19] ppalaga commented on #1370
Has anybody seen happening this recently? Could we perhaps close this?

[2021-05-26 18:23] ppalaga commented on #1310
Debezium BOM is available with newer Debezium versions https://repo1.maven.org/maven2/io/debezium/debezium-bom/

[2021-05-26 18:36] #1370 closed

[2021-05-26 18:39] ppalaga commented on #444
Do we still want to do something about this?

[2021-05-26 18:41] ppalaga commented on #438
I think this is not that important after all.

[2021-05-26 18:41] #438 closed

[2021-05-26 18:46] ppalaga commented on #159
@lburgazzoli would Camel K still benefit from us importing the Camel BOM in any way?

[2021-05-26 18:55] lburgazzoli commented on #159
since we switched to camel quarkus as the only supported runtime, I think we do not require to import the camel bom anymore

[2021-05-26 18:56] lburgazzoli commented on #444
I think something has bee put in place in the format plugin so we can close this

[2021-05-26 19:50] #159 closed

[2021-05-26 19:51] #444 closed

[2021-05-26 20:06] #2666 closed

[2021-05-26 20:14] ppalaga commented on #2395
Thanks for checking @aldettinger, let's close this one then.

[2021-05-26 20:14] #2395 closed

[2021-05-26 20:28] ffang opened #2681 "camel-quarkus-jacksonxml:JsonView annotations take no effect in native mode"
Can't control the xml payload(with selected properties), seems somehow JsonView doesn't work in native mode only

[2021-05-26 20:32] ffang commented on #2681
It turns out to be that JsonView annotation relys on the reflection to load class like
[code]
And the class here(Both inner class and outer class should be marked as @RegisterForReflection during runtime)

[2021-05-26 21:39] DouglasGo8 commented on #2448
Ok I Will and report here the result

[2021-05-27 06:39] JiriOndrusek commented on #2060
@ppalaga yes, it could be closed.

[2021-05-27 06:42] JiriOndrusek commented on #2676
@aldettinger If you do not plan to work on this, I can assign it to me and look at it in the next weeks.

[2021-05-27 07:24] aldettinger commented on #2676
@JiriOndrusek , sure please go ahead :+1:

[2021-05-27 09:06] zbendhiba commented on #2205
I think we can close this one

[2021-05-27 09:44] #2060 closed

[2021-05-27 09:51] #2205 closed

[2021-05-27 10:08] ruromero opened #2685 "Problem with dashed queryParams"
When defining routes using the rest dsl I have not been able to use query parameters with hyphen. Only when removing such hyphens the route seems to be properly loaded.

The following doesn't work:
[code]
This is how it appears in the logs: `Started route159 (rest://get:/hello/%7Bmy-param%7D)`

Whereas after removing the hyphen in the queryParam name, the route works as expected.

[2021-05-27 10:12] #2670 closed

[2021-05-27 20:24] ppalaga opened #2689 "Unmanage unnecessary google dependencies"
https://github.com/apache/camel-quarkus/pull/2688 imports the new io.quarkiverse.googlecloudservices:quarkus-google-cloud-services-bom which most likely manages many of the google cloud dependencies we now have in our bom.

[2021-05-28 12:49] DouglasGo8 commented on #2448
I've some plugins version problem and cant create a test

[code]

[2021-05-30 11:22] chengkuangan opened #2690 "Split with AggregationStrategy"
How to use AggregationStrategy for Split?
It seems org.apache.camel.processor.aggregate.AggregationStrategy is not in the core or any other maven repo for quarkus

[2021-05-31 07:39] llowinge opened #2691 "CouchbaseUpdateTest is failling on RHEL8"
Test CouchbaseUpdateTest is failing on RHEL8.
[code]

[2021-05-31 08:50] ppalaga opened #2692 "[Quarkus 2.0.0.CR3] ClassNotFoundException: com.aayushatharva.brotli4j.decoder.DecoderJNI$Wrapper in Google Storage, PubSub and BigQuery test"
Related to https://github.com/quarkusio/quarkus/commit/a8a239ab06525a0a22daa659af9c65401c12a344

commit adds a substitution to disable it. All decoders using Brotli related classes have been substituted to avoid having to depend on the Brotli4J dependency.

Apparently the Google Storage code somehow depends on Brotli4J.

I am disabling the native mode in the named test modules.

[code]

[2021-05-31 09:09] JiriOndrusek opened #2693 "Sql aggregator does not work in native mode, solve DefaultExchangeHolder globally."
During fixation of https://github.com/apache/camel-quarkus/issues/2623, I found an issue with sql aggregator in native mode.

Firstly, simple `Caused by: java.lang.ClassNotFoundException: org.apache.camel.support.DefaultExchangeHolder` is thrown.
Fix (by addition of `ReflectiveClassBuildItem`) uncovers more serious issue. Problem is happening during serialization/deserialization of `DefaultExchang

[2021-05-31 09:10] JiriOndrusek commented on #2623
Blocked by https://github.com/apache/camel-quarkus/issues/2693

[2021-05-31 09:37] JiriOndrusek commented on #2693
Enable test from https://github.com/apache/camel-quarkus/pull/2694, which is covering this issue.

[2021-05-31 10:29] ppalaga opened #2695 "Debezium: Unresolved type during parsing: org.eclipse.jetty.util.StringUtil"
[code]

[2021-05-31 10:41] ppalaga opened #2696 "[Camel 3.11] ThreadPoolBulkhead not available in smallrye-fault-tolerance 5.1.0"
Happens after the upgrade to Quarkus 2.0.0.CR2. The reference to `io.smallrye.faulttolerance.core.bulkhead.ThreadPoolBulkhead` needs to get removed from Camel's `org.apache.camel.component.microprofile.faulttolerance.FaultToleranceProcessor`.

[code]

[2021-05-31 11:26] ppalaga commented on #2448
2.0.0-M1 is a version of Camel Quarkus, not Quarkus. To test with it, you need a quarkus-platform-less setup, because there is no Quarkus Platform yet that would include Camel Quarkus 2.0.0-M1. (We use it in our examples, see e.g. https://github.com/apache/camel-quarkus-examples/blob/main/timer-log/pom.xml ) . It's something like the following:

[code]

[2021-05-31 11:48] ppalaga commented on #2690
`org.apache.camel.processor.aggregate.AggregationStrategy` is in `org.apache.camel:camel-core-processor` that in turn is transitively available via `org.apache.camel.quarkus:camel-quarkus-core`. Does that answer your question?

[2021-05-31 12:53] DouglasGo8 commented on #2448
Ok Peter, no problem, understood, I'll test using this camel pom version,
thank you

On Mon, May 31, 2021 at 8:26 AM Peter Palaga ***@***.***>
wrote:

[2021-05-31 14:44] ppalaga commented on #2695
Soved via 2ec4138ccdfafae3c5761cec234596753259c7ea

[2021-05-31 14:44] #2695 closed

[2021-06-01 01:47] chengkuangan commented on #2690
@ppalaga Thank you so much

[2021-06-01 07:41] jamesnetherton commented on #2685
The REST HTTP consumer is backed by Vert.x. The [documentation](https://vertx.io/docs/vertx-web/java/#_capturing_path_parameters) states the following:

I tested with the system property and the endpoint works properly.

[2021-06-01 07:42] jamesnetherton commented on #2685
Guess I should drop a note into our docs about that....

[2021-06-01 08:33] ruromero commented on #2685
Does it have any side effect? Why isn't enabled by default?

[2021-06-01 08:36] jamesnetherton commented on #2685
Seems there was a concern that enabling the behaviour by default could effectively be a breaking change:

https://github.com/quarkusio/quarkus/issues/15185#issuecomment-788895884

[2021-06-01 08:45] ppalaga commented on #2692
Blocked by https://github.com/quarkiverse/quarkus-google-cloud-services/issues/119

[2021-06-01 08:53] ruromero commented on #2685
Very interesting, thanks @jamesnetherton
Do you want to keep the issue open until you add that note to the docs? Otherwise we can close it.

[2021-06-01 08:56] jamesnetherton commented on #2685
Lets keep it open and I'll add some docs. Thanks for reporting the problem :+1:

[2021-06-01 10:21] ppalaga opened #2701 "Fix Qute component metadata in Camel Quarkus catalog"
@orpiske in https://github.com/apache/camel-quarkus/pull/2661#issuecomment-848573929

Moreover, `metadata: {camelArtifact: }` should point at `org.apache.camel.quarkus:camel-quarkus-qute-component`

[2021-06-01 13:11] jamesnetherton commented on #2656
Quarkus has already moved on to Vert.x 4.1.x, Camel 3.10 is aligned with 4.0.x and there are some differences that affect the way in which the vertx-http component sets up keystore / truststore support.

It's an easy problem to work around, so for now, I'll make some mods to get the itest working and we can add a release note for CQ 2.0.0.

[2021-06-01 13:58] #2685 closed

[2021-06-01 14:25] aldettinger opened #2702 "Expand Saxon test coverage with xpath saxon tests"

[2021-06-01 14:29] ppalaga commented on #2692
Will be fixed in Quarkus 2.0.0.CR3 via https://github.com/quarkusio/quarkus/pull/17604/files

[2021-06-01 15:23] jamesnetherton opened #2704 "[Camel 3.11] Remove vertx-http itest SSL workaround"
Revert the need for a custom `WebClientOptions` to do the SSL configuration. It'll be fixed by the following Camel ticket:

https://issues.apache.org/jira/browse/CAMEL-16677

[2021-06-01 18:00] #2677 closed

[2021-06-01 19:57] DouglasGo8 commented on #2448
Hi Peter, tests are done and everthing is ok checkout the github project
over snapshots folder, the ResultSetFromORac is the oracle result in Native
mode
Thank you
Git link https://github.com/DouglasGo8/camel-git-orac-native

On Mon, May 31, 2021 at 8:26 AM Peter Palaga ***@***.***>
wrote:

[2021-06-01 20:12] ffang opened #2706 "demonstrate how to configure quarkus-jackson extension's own ObjectMapper instance and reuse it in our jackson test"
quarkus-jackson extension produces it's own ObjectMapper instance which can be configured by  CDI beans of ObjectMapperCustomizer type.  We better demonstrate this usage in our integration-test

[2021-06-01 20:15] ppalaga commented on #2448
That's great news, thanks for letting us know!

[2021-06-01 20:15] #2448 closed

[2021-06-01 20:31] ppalaga commented on #2702
Fixed via https://github.com/apache/camel-quarkus/pull/2703

[2021-06-01 20:31] #2702 closed

[2021-06-01 20:34] #2656 closed

[2021-06-01 21:10] ppalaga opened #2708 "Register all @JsonView array elements for reflection"
Follow up https://github.com/apache/camel-quarkus/pull/2682#discussion_r643467231_

[2021-06-02 09:14] ppalaga commented on #2681
Fixed via 5d2ef77f7fb56379a77eaad55fbe8ab029f92e20

[2021-06-02 09:14] #2681 closed

[2021-06-02 09:17] ppalaga commented on #2706
Fixed via da360444233e3692de5aa3c876320b2b16bf48cb

[2021-06-02 09:17] #2706 closed

[2021-06-02 11:51] #2708 closed

[2021-06-02 12:07] jamesnetherton commented on #2696
This will be fixed in Camel 3.11:

https://issues.apache.org/jira/browse/CAMEL-16679

We could probably work around this without Camel 3.11. It should be possible to have our own `FaultToleranceProcessorFactory` and a `FaultToleranceProcessor` that does not reference the deleted API.

Or we just keep things simple and do a release note until 3.11 is available.

[2021-06-02 16:06] ffang opened #2711 "[camel-quarkus-examples] HealthTest/TimerLogMainTest/ObservabilityTest failure on camel-quarkus-main branch"
We can consistently see this error in PR CI build like here
https://github.com/apache/camel-quarkus/runs/2724145678?check_suite_focus=true
And I believe this is caused by Camel 3.10 upgrade

[2021-06-02 16:10] ffang commented on #2711
send a PR here
https://github.com/apache/camel-quarkus-examples/pull/37

[2021-06-02 16:16] zbendhiba commented on #2435
@jamesnetherton  I still don't know how to substitute those ValueNode and JsonNode classes.
Is there a way to delete imported classes with substitution ? I try to substitute the methods, but I get those kind of errors in compilation
`Error: Class initialization of com.jayway.jsonpath.internal.filter.ValueNodes$JsonNode failed. Use the option --initialize-at-run-time=com.jayway.jsonpath.internal.fi

[2021-06-02 16:47] jamesnetherton commented on #2435
@zbendhiba can you share a branch with your WIP so I can take a look?

[2021-06-03 04:27] zhfeng commented on #2608
I'd tried to use ```EmbeddedActiveMQ``` but it did not resolve the issue. Only one endpoint of the topic receives a message. I will keep investigating.

[2021-06-03 07:17] zbendhiba commented on #2435
@jamesnetherton  https://github.com/zbendhiba/camel-quarkus/commits/jsonpath2

[2021-06-03 07:41] #2645 closed

[2021-06-03 08:26] ppalaga commented on #2708
Fixed via https://github.com/apache/camel-quarkus/pull/2709

[2021-06-03 08:48] llowinge opened #2712 "Test both camel and quarkus configuration of underlying component quarkus client"
I can see eg. infinispan https://github.com/apache/camel-quarkus/blob/main/integration-tests/infinispan/src/test/java/org/apache/camel/quarkus/component/infinispan/InfinispanServerTestResource.java#L54-L61 is being tested only with quarkus configuration. But we should test camel as well (for Camel K purpose).

[2021-06-03 09:00] llowinge commented on #2712
Elastic-search can be another component for consideration https://github.com/apache/camel-quarkus/blob/1.8.1/integration-tests/elasticsearch-rest/src/test/java/org/apache/camel/quarkus/component/elasticsearch/rest/it/ElasticSearchTestResource.java#L52

[2021-06-03 09:39] ppalaga commented on #2712
@llowinge could you please create separate issues each component?

[2021-06-03 09:46] jamesnetherton commented on #2435
@zbendhiba I took a look and I cant see an easy solution.

Sorry for wasting your time working on it. I really thought it'd be simple(ish) to cut out json-smart. I guess for now we're stuck having to include the dependency.

[2021-06-03 10:01] ppalaga commented on #2691
Is this always reproducible?

[2021-06-03 10:05] llowinge commented on #2691
@ppalaga I would say yes, it failed twice (once per week) in a row with master. @zbendhiba was notified about this problem already.

[2021-06-03 10:16] llowinge commented on #2712
@ppalaga Yes, i will do.

[2021-06-03 10:16] llowinge opened #2713 "[infinispan] Test both camel and quarkus configuration of underlying component quarkus client"
https://github.com/apache/camel-quarkus/blob/main/integration-tests/infinispan/src/test/java/org/apache/camel/quarkus/component/infinispan/InfinispanServerTestResource.java#L54-L61 is being tested only with quarkus configuration. But we should test camel as well (for Camel K purpose).

[2021-06-03 10:17] llowinge commented on #2712
infinispan https://github.com/apache/camel-quarkus/issues/2713

[2021-06-03 10:18] llowinge opened #2714 "[elastic-search] Test both camel and quarkus configuration of underlying component quarkus client"
https://github.com/apache/camel-quarkus/blob/1.8.1/integration-tests/elasticsearch-rest/src/test/java/org/apache/camel/quarkus/component/elasticsearch/rest/it/ElasticSearchTestResource.java#L52 is being tested only with quarkus configuration. But we should test camel as well (for Camel K purpose).

[2021-06-03 10:18] llowinge commented on #2712
elastic-search https://github.com/apache/camel-quarkus/issues/2714

[2021-06-03 13:22] JiriOndrusek opened #2715 "Add missing use cases into MongoDb test coverage"
Follows https://github.com/apache/camel-quarkus/issues/2622.

- DocumentList outputType is not tested.
- Configuring via `application.properties` is not tested .
- Mongo version is hardcoded for 4.0, it would be better to use the latest one, which is 4.4

[2021-06-03 13:26] jamesnetherton commented on #2715
Do we really need that? `MongoDbTestResource` sets the configuration properties for the application under test, which should be good enough.

[2021-06-03 13:48] JiriOndrusek commented on #2715
I'd like to add another client using property `quarkus.mongodb.<name>.connection-string` because it is described in doc. Current test is using `quarkus.mongodb.<name>.hosts`. May be I should modify formulation of this issue, to be clear.

[2021-06-03 14:20] zbendhiba commented on #2435
So I can close this one then

[2021-06-03 14:20] #2435 closed

[2021-06-03 14:48] ruromero commented on #2685
Adding here for reference that I was using camel-quarkus 1.8.1 that depends on Vert.x 3.x
The solution provided by @jamesnetherton refers to 2.0.x depending on Vert.x 4.x
Therefore the `extended-pattern` property is not valid for camel-quarkus 1.8.1

[2021-06-03 19:26] ppalaga opened #2718 "Use com.schibsted.spt.data.jslt.FunctionUtils with an explicit class loader or let it fall back to TCCL"
Blocked by https://github.com/schibsted/jslt/issues/197

There is a temporary workaround implemented in org.apache.camel.quarkus.component.jslt.it.JsltConfiguration

[2021-06-03 20:09] ffang opened #2719 "hazelcast integration-test failed in native mode(On Mac)"
Got error like
[code]

[2021-06-04 06:47] #2715 closed

[2021-06-04 08:45] ppalaga commented on #2689
A good occasion to do this could be when upgrading Quarkiverse Google Services BOM to a new version based on Quarkus 2.0.0.CR3+.

[2021-06-04 09:09] ppalaga commented on #2646
Fixed via 7d238a1b8354502e1a277ffe0b7d136d857434df

[2021-06-04 09:09] #2646 closed

[2021-06-04 09:46] ppalaga commented on #2479
It does not look like any of the Couchbase tests were disabled in `main` branch. Could you please check, @zbendhiba and close this issue if possible?

[2021-06-04 09:52] lburgazzoli opened #2721 "camel-quarkus-minio: "quarkus.minio.url" is mandatory and must be a valid url"
Create from https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/Minio.20Source.20Kamlet.20to.20Knative.20Sequence

Running the following kamelet binding using camel-k:

[code]

Leads to:

[code]

[2021-06-04 10:19] jamesnetherton commented on #2721
Wondering whether this maybe be the same issue we have with Infinispan?

When autowiring is enabled, Camel will try to resolve a bean from the registry of type `MinoClient`. The registry lookup delegates to Arc and it triggers the CDI producer to run. Hence the validation check on the URL config is performed.

If you disable autowiring in the kamelet config, it may work properly.

Perhaps the `pro

[2021-06-04 10:26] ppalaga commented on #2416
A fix is underway

[2021-06-04 11:54] zbendhiba opened #2723 "camel-quarkus-example : dev mode issue"
I have an issue on my local machine running examples with dev mode.
Branch : camel-quarkus-main, with camel-quarkus 2.x

**Reproducing the error:**

1. Get the  [file-bindy-ftp example](https://github.com/apache/camel-quarkus-examples/tree/camel-quarkus-main/file-bindy-ftp)
2. Run the docker line to setup prerequisites :
`docker run -ti --rm -p 2222:2222 \
    -e PASSWORD_ACCESS=true \
    -e USER

[2021-06-04 13:12] ppalaga opened #2724 "cassandra-driver-core 3.5.0 managed in Debezium BOM too old for testcontainers 1.15.3"
This is what happens

[code]

testcontainers 1.15.3 has cassandra-driver-core 3.7.1, but it works also with 3.11.0. Let me ask Debezium to upgrade.

A local workaround is possible: manage cassandra-driver-core 3.11.0 in our test BOM.

[2021-06-04 13:19] zhfeng commented on #2608
@jamesnetherton I think I get the root cause of the issue which we can not reslove the destination name correcly and always use ```createQueue```. It could be better to raise a other issue to replace the out-of-date docker artemis image with ```EmbeddedActiveMQ``` from ```artemis-server```.

[2021-06-04 13:21] ppalaga commented on #2724
Blocked by https://issues.redhat.com/browse/DBZ-3589

[2021-06-04 13:21] jamesnetherton commented on #2608
I completely forgot about the custom destination resolver. Thanks for fixing it @zhfeng!

We can take care of the docker image in another issue.

[2021-06-04 13:29] jamesnetherton opened #2726 "Fix JSON Jackson jacksonConversionPojo test"
Seem comment here:

https://github.com/apache/camel-quarkus/blob/f65f3b92610cdc577403fde5fbaf846ae7a58965/integration-tests/dataformats-json/src/main/java/org/apache/camel/quarkus/component/dataformats/jackson/json/JacksonJsonResource.java#L515-L520

[2021-06-04 13:48] zhfeng opened #2727 "Use EmbeddedActiveMQ in messaging and jta integration tests"
Since we're using an out-of-date & deprecated image, we should use the EmbeddedActiveMQ in ActiveMQTestResource and could inherit artemis-server from the quarkus-bom and that way we don't have to worry about additional maintenance on our side.

[2021-06-04 13:49] zhfeng commented on #2608
yeah, I raise https://github.com/apache/camel-quarkus/issues/2727 and I can take a look since this image has also been used in jta integration tests.

[2021-06-04 14:58] ppalaga opened #2729 "Kafka SASL tests fail after the upgrade to Quarkus 2.0.0.CR3"
This is the case in camel-quarkus-integration-test-kafka-sasl-ssl and camel-quarkus-integration-test-kafka-ssl (I am disabling them for now).

camel-quarkus-integration-test-kafka-sasl and camel-quarkus-integration-test-kafka are passing.

[code]

[2021-06-04 15:08] #2608 closed

[2021-06-04 15:48] ffang commented on #2711
actually observability and timer-log-main failed also for the same reason, the health check path changed, also fixed here

[2021-06-04 15:53] ffang commented on #2711
This PR
https://github.com/apache/camel-quarkus-examples/pull/38
to fix up timer-log-main

[2021-06-04 16:04] ffang opened #2730 "kubernetes integration-test failure in native mode"
I consistently got exception like
[code]

[2021-06-04 16:05] ffang commented on #2730
From the stacktrace here, I'm not sure if this is caused by my specific env(OS and JDK version)

[2021-06-04 17:05] aldettinger commented on #2730
@ffang I reproduce on Linux too. This issue must have been unnoticed as native tests are disabled on CI according to #1101.
But despite memory consumption, I think a fix is welcome here.

[2021-06-04 17:28] #2615 closed

[2021-06-04 17:59] ffang commented on #2730
Thanks for the info @aldettinger !

[2021-06-04 18:42] ffang commented on #2730
This is caused by kubernetes-client version mismatch.
camel 3.10.0 requires kubernetes-client 5.3.1, while quarkus 2.0.0.CR2 provides kubernetes-client 5.4.0

[2021-06-04 23:07] #2711 closed

[2021-06-07 01:55] zhfeng commented on #2727
The quarkus bom does not include ```org.apache.activemq:artemis-mqtt-protocol```, so I just raise https://github.com/quarkusio/quarkus/issues/17720 to add it. All the tests should be OK.

[2021-06-07 07:43] jtama commented on #2503
@ppalaga 2.0.0.CR3 is now available : https://s01.oss.sonatype.org/#nexus-search;gav~io.quarkiverse.minio~quarkus-minio~2.0.0.CR3~~

[2021-06-07 09:06] davsclaus opened #2731 "Add Kamelet example"
We should add this as a quarkus example
https://github.com/apache/camel-spring-boot-examples/tree/main/kamelet-chucknorris

We have this chuck norris example on other runtimes such as standalone, osgi, spring boot, and we need to have this for quarkus also at
https://github.com/apache/camel-quarkus-examples

[2021-06-07 09:39] ppalaga commented on #2658
Disabling `MongoDbTest.testTailingConsumer()` and `MongoDbTest.testPersistentTailingConsumer()`. The failures occurred in ~50% of runs for me.

The output when `testTailingConsumer()` is disabled and `testPersistentTailingConsumer()` is enabled:
[code]

And this is when `testPersistentTailingConsumer()` is disabled and `testTailingConsumer()` is enabled:
[code]

[2021-06-07 09:43] jamesnetherton opened #2733 "Native support for kamelet.yaml discovery"
See discovery section in the Kamelet component docs:

https://camel.apache.org/components/latest/kamelet-component.html#_discovery

It should be possible to discover any `.kamelet.yaml` files and add them to the native image.

[2021-06-07 09:44] lburgazzoli commented on #2733
There is also this PR https://github.com/apache/camel-quarkus/pull/2549 to pre-laod some kamelets
AFAIK @valdar should be working to adapt it tot he latest changes.

[2021-06-07 10:03] ppalaga commented on #2727
https://github.com/quarkusio/quarkus/pull/17721 was merged.

[2021-06-07 10:22] ppalaga commented on #2724
https://github.com/debezium/debezium/pull/2443 merged in Debezium master

[2021-06-07 10:23] valdar commented on #2733
Yep 👍

[2021-06-07 10:24] ppalaga commented on #2724
Now waiting for what comes after Debezium 1.6.0.Beta1 https://repo1.maven.org/maven2/io/debezium/debezium-bom/

[2021-06-07 10:27] #2503 closed

[2021-06-07 10:27] #1310 closed

[2021-06-07 10:27] #2354 closed

[2021-06-07 10:27] #2416 closed

[2021-06-07 10:27] #2436 closed

[2021-06-07 11:26] #2660 closed

[2021-06-07 11:37] ppalaga commented on #2692
Does not occur since the upgrade to Quarkus 2.0.0.CR3 via https://github.com/apache/camel-quarkus/pull/2722 The native mode in the named test modules re-enabled via https://github.com/apache/camel-quarkus/pull/2722/commits/4e04a5071d107d1b5c32542c78d9002b695079ab

[2021-06-07 11:37] #2692 closed

[2021-06-07 11:58] jamesnetherton commented on #2723
This works ok for me on `camel-quarkus-main` with Quarkus 2 CR2 / CR3.

[2021-06-07 12:41] zbendhiba commented on #2723
@jamesnetherton  thanks !!
works fine too for me.

[2021-06-07 12:41] #2723 closed

[2021-06-07 14:02] ppalaga opened #2736 "Resume release command needs to be performed from target/checkout directory"
We should mention in our release guide https://camel.apache.org/camel-quarkus/latest/contributor-guide/release-guide.html#_releaseprepare_and_releaseperform that that resume command needs to be run from `target/checkout`

[2021-06-07 14:03] ppalaga commented on #2736
Credits: @valdar

[2021-06-07 14:20] ffang commented on #2730
camel-kubernetes already upgraded to kubernetes-client/model 5.4.1 for the coming CAMEL 3.11 release. So once  CAMEL 3.11 is out we can align it

[2021-06-07 14:54] ffang opened #2737 "Unable to determine the status of the running process in LogIT without resteasy"
Not sure if this is my env specific, but this test fails consistently on my machine
[code]

[2021-06-07 15:12] ffang commented on #2726
Hi @jamesnetherton,

FYI, I believe this has been fixed by https://github.com/apache/camel-quarkus/issues/2677 already.
Sorry, I forget to re-enable this test. I will send a PR to re-enable this test soon.

Best Regards
Freeman

[2021-06-07 16:56] #2729 closed

[2021-06-07 17:00] #2486 closed

[2021-06-07 17:24] ppalaga commented on #2737
I can reproduce too. Quarkus tries to match the log against `Listening on:\\s+(https?)://\\S*:(\\d+)` pattern. This would work if we added resteasy or similar. But I actually wanted to have a test without those (for better isolation). So maybe we could just fake the message ourselves? After all we are testing our log component :)

[2021-06-07 20:35] #2736 closed

[2021-06-07 20:37] valdar commented on #2736
I am very sorry about committing without opening a PR, it was a genuine miss click.
Feel free to revert it.

[2021-06-08 00:35] zhfeng commented on #2727
Great - and is it possible to take these changes to ```quakrus-main``` branch first to see if it works ? But I find the "Daily Build Quarkus main" is still failing.

[2021-06-08 06:46] ppalaga commented on #2727
Yes, please feel free to send a pull request against quarkus-main

Sorry about that, it is was my fault. I have fixed the branch now.

[2021-06-08 06:47] ppalaga commented on #2736
Thanks for fixing, no problem at all in this case.

[2021-06-08 07:28] ppalaga opened #2741 "Intermittent failures in Aws2SqsSnsIT"
Seen on the CI:

[code]

[2021-06-08 07:29] #2737 closed

[2021-06-08 09:05] jamesnetherton opened #2744 "Add ability to test HL7 extension with multiple HAPI implementations"
I deliberately restricted the tests to use only a single HAPI impl as adding multiple libs slows down the native build, as a lot of stuff is required to be registered for reflection.

It could be beneficial to be able to test with multiple HAPI dependencies on the classpath, so we could perhaps have that under a maven / Quarkus test profile which could be activated manually if required.

[2021-06-08 09:23] jamesnetherton commented on #2513
I moved this to the 2.0.0 milestone as I think it'd be good to get this done.

Would also be good if we could cover the different schema types avdl, avpr & avsc.

[2021-06-08 09:36] jamesnetherton commented on #2744
Not sure that's feasible / desirable given that there are so many HAPI versions and new ones will eventually get added.

In reality, it could be that users will never have multiple HAPI impls on the classpath. But since it's possible, we should probably test it...

[2021-06-08 10:08] ppalaga opened #2745 "Expand AWS S3 test coverage"
The following scenarios tested in Camel should be also tested in Camel Quarkus to make sure that they work also in native mode: 

 I did an investigation from QE POV:

* Via producer:
  * [Multipart upload (Camel)](https://github.com/apache/camel/blob/camel-3.9.0/components/camel-aws/camel-aws2-s3/src/test/java/org/apache/camel/component/aws2/s3/integration/S3MultipartUploadOperationIntegrationTes

[2021-06-08 15:31] ppalaga opened #2749 "Expand AWS Lambad test coverage"
The following operations need to be covered in Camel Quarkus to make sure they work in native mode:
* getFunction
* updateFunction
* createEventSourceMapping
* deleteEventSourceMapping
* listEventSourceMapping
* listTags
* tagResource
* untagResource
* publishVersion
* listVersions
* createAlias
* deleteAlias
* getAlias
* listAliases

[2021-06-08 20:09] #2741 closed, assigned to ppalaga

[2021-06-08 20:10] #2658 closed

[2021-06-09 06:25] jamesnetherton opened #2752 "Avoid duplicating code in `org.apache.camel.quarkus.core.BaseModel`"
The overhead of maintaining `BaseModel` is such that we often miss critical changes in Camel that need to be sync'd back to our implementation.

We should try to find a solution to avoid having to duplicate and sync code from Camel.

[2021-06-09 06:33] zbendhiba commented on #2691
@llowinge  thanks for this log.
So the timeout is not 5s anymore. But it does fail at 30s instead of 120s.

[2021-06-09 06:34] llowinge commented on #2691
@zbendhiba I have also another log

[code]

[2021-06-09 07:06] llowinge commented on #2691
Just in case, here is a log of successful tests (for comparsion)

[code]
It really looks like 30s is not enough for wait for bucket creation.

[2021-06-09 07:09] lburgazzoli commented on #2752
Same may apply to the FastCamelContext

[2021-06-09 07:19] zbendhiba commented on #2691
I've pushed a PR, with 120s on cluster wait in tests. Copied from camel.
The documentation for test containers is only for couchbase 2.x SDK, the examples are not working for couchbase 3.x.
If it's still failing, I'll need to ask for help.

[2021-06-09 11:18] zbendhiba commented on #1028
the example here mentions Strimzi : https://github.com/apache/camel-quarkus-examples/tree/camel-quarkus-main/kafka

[2021-06-09 11:24] mabulgu commented on #1028
Thanks @zbendhiba I could not find proper time to work on this. The example you mentioned fits this case so I assume I can close this issue. Thanks for the contribution, and sorry for my laziness at this point:|

[2021-06-09 11:24] #1028 closed

[2021-06-09 11:57] JiriOndrusek opened #2755 "Refactor registration of serialization once support is present in Quarkus"
Once following change is part of quarkus (https://github.com/quarkusio/quarkus/pull/15380), usage of serialization configuration should be revisited and replaced with buildItems.

Currently there are 2 extensions using it: `nitrite` and `sql`.

Consider making automatic registration of basic types and of `DefaultExchangeHolder` with its hierarchy.

(Here is a branch with a try of such refactor wit

[2021-06-09 14:31] jamesnetherton commented on #2671
Looking at the test logs, seems that `AvailablePortFinder` must have found the same port twice, because both `quarkus.http.port` and the MLLP consumer port have been set to 43777.

[2021-06-09 15:52] #2623 closed

[2021-06-09 15:52] #2693 closed

[2021-06-09 15:57] ppalaga commented on #2671
What a "luck"! Thanks for investigating!

[2021-06-09 16:01] #2610 closed

[2021-06-09 21:12] ppalaga commented on #2649
Fix is underway.

[2021-06-10 04:10] davsclaus opened #2761 "camel.main.dump-routes = true does not work"
In Camel 3.10 you can configure Camel to dump the routes on startup.

This requires this dependency

        <dependency>
            <groupId>org.apache.camel</groupId>
            <artifactId>camel-xml-jaxb</artifactId>
        </dependency>

But when running with camel quarkus this does not work. A vanilla Camel started via camel:run works fine for the same example.

[2021-06-10 06:53] jamesnetherton commented on #2761
`FastCamelContext` does not override and implement the empty default method for `doDumpRoutes` from `AbstractCamelContext` so we'll need to fix that.

[2021-06-10 07:32] davsclaus opened #2762 "Apple M1 cannot build the camel-quarkus project"
Its due to the grpc extension does not have mac aarch64 binary, so you need to disable this, we do this at the camel-grpc component
https://github.com/apache/camel/blob/main/components/camel-grpc/pom.xml#L164

[2021-06-10 08:02] #2649 closed

[2021-06-10 08:28] ppalaga opened #2763 "Automatic check to ensure that camel.quarkus.jvmSince and camel.quarkus.nativeSince are not newer than the current SNAPSHOT"
This may come in handy when backporting to older branches.

[2021-06-10 08:40] jamesnetherton commented on #2752
I don't see anything in `org.apache.camel.quarkus.core.BaseModel` that is special or optimized for camel-quarkus so we could make `FastModel` extend `DefaultModel` and if we ever need to do customizations, then we do them in `FastModel`.

How should we handle `FastCamelContext`? Extend `DefaultCamelContext` and keep our CQ specific overrides? Or is there a better way?

[2021-06-10 08:49] ppalaga commented on #2651
Related: https://github.com/quarkusio/quarkus/issues/17463

[2021-06-10 08:59] lburgazzoli commented on #2752
Maybe we can just remove FastModel/BaseModel and we can introduce it only if when it is needed ?

I think that would be fine as far as I remember, most of the time it is about to provide specif implementation or some service/factory-finders. If we'll find out that we need some specific hooks, we may think to enhance the *CamelContext in Camel so we don't need copy and paste nay more.

[2021-06-10 09:08] jamesnetherton commented on #2752
Yes, makes sense.

Thanks - I'll investigate further.

[2021-06-10 12:06] #2701 closed

[2021-06-10 13:27] jamesnetherton commented on #2761
This can eventually be fixed by the work done for https://github.com/apache/camel-quarkus/issues/2752.

Something I noticed about `JaxbHelper` is that it does this:

https://github.com/apache/camel/blob/02e553d77ff0b4dcbb9e674feddb8dcabf4e463e/core/camel-xml-jaxb/src/main/java/org/apache/camel/xml/jaxb/JaxbHelper.java#L108

Meaning `XmlConverter` is instantiated reflectively. Can we avoid that?

[2021-06-10 15:01] ffang commented on #2205
Hi @ppalaga @zbendhiba ,

Just FYI, the OptaplannerIT still consistently fails on my machine(it's disabled in CI now).
Could you please re-run and confirm? Not sure if it's still a problem on just on my mac.

Thanks!
Freeman

[2021-06-10 15:16] ppalaga commented on #2207
This can be fixed by upgrading to azure-bom 1.0.3 - see the linked PR. Some native compilation issues need to get fixed there. The upgrade to azure-bom 1.0.3 also fixes another, so far unreported problem mentioned by @llowinge.

[2021-06-10 16:04] davsclaus commented on #2761
I created a general ticket to look at if we can source code generate non reflective FactoryFinder in camel core itself then we get this out of the box
https://issues.apache.org/jira/browse/CAMEL-16706

[2021-06-11 05:36] davsclaus commented on #2761
Oh I also think we can just make the xml. converter created via new XmlConverter as the camel context does not give anything additional in this use case and camel-xml-jaxb uses camel-xml-jaxp so the JAR dependencies are always requires and we can then use good old regular Java with new constructor.

However the FactoryFinder in general could benefit from being non-reflection

[2021-06-11 05:40] davsclaus commented on #2761
Okay its fixed for 3.11 to be non reflection for that xml converter

[2021-06-11 07:40] llowinge opened #2766 "Solr test doesn't work on RHEL 8"
With main branch i'm getting:
[code]

[2021-06-11 09:09] JiriOndrusek commented on #2651
Problem is caused by issue in jetty. Wrong classloader is set in jetty. Issue was reported as https://github.com/eclipse/jetty.project/issues/6399

[2021-06-11 09:14] jamesnetherton opened #2767 "Intermittent failure of testJmsTransaction"
Seems to be happening quite frequently on CI:

[code]

[2021-06-11 10:36] ppalaga commented on #2766
Are your ulimits set high enough?

[2021-06-11 13:09] jamesnetherton commented on #2766
I checked and in this case:

[code]

The test is starting 3 containers in succession, which may overwhelm slow machines. We could retry the `containerIsStarted` step a limited number of times until it succeeds. I tested doing that and it seems to work reliably enough.

[2021-06-11 13:53] ppalaga commented on #2205
Yes, optaplanner works for me.

[2021-06-11 14:16] #2752 closed

[2021-06-11 14:16] #2761 closed

[2021-06-11 14:26] jamesnetherton commented on #2761
BTW on camel-quarkus you also need to add `camel-quarkus-xml-jaxp` to get route dumping to work.

[2021-06-11 14:39] zbendhiba commented on #2691
Depending on how the code is developed and where it is deployed, they can be some intermittent errors, coming from usage of shaded Netty. If we run exact same code outside Quarkus platform, deploying on same machine, those errors don't show up.
The common known errors are : timeouts / authentication failed / server unreachable... If the machine is fast enough and timeout big enough it may work fin

[2021-06-11 14:42] ffang commented on #2205
Thanks @ppalaga for the confirmation!

[2021-06-11 14:46] ffang opened #2772 "Unable to determine the status of the running process in TimerIT without resteasy"
Get the error like
======================================================================================
Executing [/Users/ffang/projects/ffang-forks/camel-quarkus/integration-test-groups/foundation/timer/target/camel-quarkus-integration-test-timer-2.0.0-SNAPSHOT-runner, -Dquarkus.http.port=50645, -Dquarkus.http.ssl-port=50646, -Dtest.url=http://localhost:50645, -Dquarkus.log.file.path=/Users/ffa

[2021-06-11 14:47] ffang commented on #2772
We have the similar issue here
https://github.com/apache/camel-quarkus/issues/2737
I will do the same fix

[2021-06-11 16:50] #2652 closed

[2021-06-14 07:51] #2626 closed

[2021-06-14 08:02] #2766 closed

[2021-06-14 08:12] jamesnetherton commented on #2671
Should be fixed by https://github.com/apache/camel-quarkus/commit/7b9a771ce40eff83bcf23e8b89ccfc3a0ea4c5dd.

[2021-06-14 08:12] #2671 closed

[2021-06-14 08:38] #2772 closed

[2021-06-14 09:02] jamesnetherton commented on #2762
Opened an enhancement request to see if aarch64 could be supported https://github.com/quarkusio/quarkus/issues/17886.

[2021-06-14 10:31] #2554 closed

[2021-06-14 11:44] #2659 closed

[2021-06-14 12:05] ppalaga opened #2776 "Expand AWS DDB tests"
We'd need to cover the following operations found in `org.apache.camel.component.aws2.ddb.Ddb2Operations` to make sure that our extension works well in native mode:

* BatchGetItems
* DeleteTable
* DescribeTable
* Query
* Scan
* UpdateTable

For DDB Stream the following use cases should be tested:

* Bean as a sequenceNumberProvider https://camel.apache.org/components/3.10.x/aws2-ddbstream-compone

[2021-06-14 13:11] ppalaga opened #2777 "Expand SQS test coverage"
* Operations: sendBatchMessage, deleteMessage
* Batch consumer
* autoCreateQueue
* Server side encryption https://camel.apache.org/components/3.10.x/aws2-sqs-component.html#_server_side_encryption

[2021-06-14 13:27] ppalaga commented on #2726
Any update, @ffang ?

[2021-06-14 21:14] ppalaga opened #2778 "Test specifying custom beans in application.properties"
I do not think we have a test for this already
https://camel.apache.org/components/latest/others/main.html#_specifying_custom_beans

[2021-06-15 09:31] ppalaga opened #2780 "Test camel.faulttolerance.* set of properties"

[2021-06-15 09:34] ppalaga opened #2781 "Test camel.threadpool.* set of properties"

[2021-06-15 09:44] ppalaga opened #2782 "Update the Command mode docs page"
The docs in https://camel.apache.org/camel-quarkus/latest/user-guide/command-mode.html is a bit misleading ATM. The essence of our command line support is not necessarily dependent on {{@QuarkusMain}}. Using {{@QuarkusMain}} is only necessary when the user wants to have full control over starting Camel - i.e. when he wants to perform some custom logic before starting it (or even not starting it at

[2021-06-15 10:19] ppalaga opened #2783 "Expand jsonpath test coverage"
* Split json data (Camel) https://github.com/apache/camel/blob/camel-3.9.0/components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathSplitTest.java#L39
* Header as input (Camel) https://github.com/apache/camel/blob/camel-3.9.0/components/camel-jsonpath/src/test/java/org/apache/camel/jsonpath/JsonPathHeaderNameTest.java#L33
* Encoding detection (Camel) https://github.com/apache/came

[2021-06-15 19:57] aldettinger opened #2791 "avro: Remove the deprecated @BuildTimeAvroDataFormat"
It has been deprecated in #2513, it should be removed completely at a later stage. For instance, when we reach a camel LTS version and a version of quarkus where quarkus-avro has reached above experimental support level.

[2021-06-15 20:00] #2513 closed

[2021-06-16 07:31] juangon opened #2793 "camel-quarkus-http doesn't build native image - Random/SplittableRandom"
When using Quarkus (v 1.13.7, didn't check others) and using http routes (camel-quarkus-http) trying to build native, it throws this error:

[code]

[2021-06-16 07:35] jamesnetherton commented on #2793
Please can you provide some more information about how your `http` endpoint is configured.

[2021-06-16 07:40] juangon commented on #2793
Sure @jamesnetherton , there are multiple "to" like this:

[code]
I have 3 "direct" routes, with some minor exception handling retries like this:

[code]
I use choice() , unmarshal, etc too.

[2021-06-16 07:42] juangon commented on #2793
BTw I use a toD too as I need to get some dynamic values from header:

[code]

[2021-06-16 07:50] grigoni commented on #764
it would really help me to implement SOAP services, I hope the extension comes soon
thanks to all who contributes to it

[2021-06-16 07:52] jamesnetherton commented on #2793
It was the `AuthSchemeBase` & `NTLMScheme` parts of the stacktrace that interested me. Do you have any authentication options configured?

[2021-06-16 07:55] juangon commented on #2793
The only auth thing I did was manually set Authorization header like this:

[code]

[2021-06-16 08:01] jamesnetherton opened #2794 "Expand HTTP extension test coverage"
We should add some coverage for:

* Using proxies
* Authentication
* Compression

[2021-06-16 09:35] zbendhiba commented on #2578
PR  [atlasmap-jandex](https://github.com/atlasmap/atlasmap/pull/2966) is merged. Wait for Atlasmap 2.3.0 is released and updated in Camel.

[2021-06-16 10:46] famod commented on #764
@grigoni If you don't need something that is tightly integrated into camel(-quarkus) then you can just use https://github.com/quarkiverse/quarkiverse-cxf

[2021-06-16 10:51] oscerd opened #2796 "Google PubSub Extension is not working in camel-k"
I was testing a development kamelet for google pubsub source. The projectId is set in the Kamelet, but I'm getting:

[code]

[code]

The projectId is set at kamelet level and should be set a path level in the route.

[2021-06-16 10:51] oscerd commented on #2796
This is with camel-k 1.5.0-SNAPSHOT, camel-k-runtime 1.9.0-SNAPSHOT base on 2.0.0-M2

[2021-06-16 11:19] mmuzikar commented on #2499
Tests are passing now after switch to 3.10.0

[2021-06-16 11:19] #2499 closed

[2021-06-16 11:27] jamesnetherton opened #2797 "Infinispan native mode CFNE `org.infinispan.protostream.types.java.CommonContainerTypesSchema`"
The following warning is logged. The problem may be in the Quarkus Infinispan extension but it needs investigating further.

[code]

[2021-06-16 15:01] #2713 closed

[2021-06-16 16:08] ffang opened #2800 "add affinity dependency in a mac profile for camel-hazelcast extension"
so that we can build native image on mac as well when using camel-hazelcast extension

[2021-06-16 17:56] ppalaga opened #2801 "CNFE MapperResultProducerService when com.datastax.oss:java-driver-mapper-runtime is not in the class path"
Reported at DataStax https://github.com/datastax/cassandra-quarkus/issues/178 and proposed a fix https://github.com/datastax/cassandra-quarkus/pull/179

[2021-06-16 17:58] ppalaga commented on #2801
Worked around by adding

[code]

in `camel-quarkus-integration-test-cassandraql`

[2021-06-16 20:04] #2726 closed

[2021-06-17 04:35] #2733 closed

[2021-06-17 11:18] christian-morin opened #2802 "Ability to retrieve traceId for observability in routes"
When adding the camel-quarkus-opentracing dependency, camel will output Jaeger traces using the Quarkus Opentracing tracer. However, it seems it initiates the Span after the Routes have finished?

When using Opentracing with Quarkus, I'm able to do for e.g:

[code]

And it'll print the traceId:

[code]

Also if I add the log format for e.g:
[code]

It'll print the current traceId and spanId in eve

[2021-06-17 12:30] grigoni commented on #764
thx @famod but I'm really looking for camel integrations

[2021-06-17 13:27] #2719 closed

[2021-06-17 14:43] #2783 closed

[2021-06-18 08:52] #2724 closed

[2021-06-18 10:41] jamesnetherton commented on #2802
With a bean or processor where you have access to the exchange, something like this may work from a route:

[code]

[2021-06-18 10:48] jamesnetherton commented on #2351
I think we already have more than enough coverage for this. The `ExchangeFormatter` scenario is tested in core and various itests use autowiring to inject beans created by Quarkus extensions into camel components (ElasticSearch, Infinispan, Jackson, Google cloud bits etc).

[2021-06-18 11:35] ppalaga commented on #2351
This asks for an example, not for additional test coverage. But when thinking of it, I do not think this important enough for one. I guess I was carried away by the initial enthusiasm when answering the questions about examples.

[2021-06-18 11:35] #2351 closed

[2021-06-18 12:08] christian-morin commented on #2802
Yes, that worked! The context on my OpenTracingSpanAdapter didn't have a toTraceId() method though, but casting the Span to a JaegerSpan made me able to retrieve it.

[code]

[2021-06-18 15:20] jamesnetherton commented on #2802
Glad it worked for you! If there's anything else required for this issue, feel free to reopen it.

[2021-06-18 15:20] #2802 closed

[2021-06-18 15:49] #2801 closed

[2021-06-18 15:50] #2794 closed

[2021-06-18 15:50] #2793 closed

[2021-06-18 16:54] ppalaga opened #2810 "FtpxIT fails intermittently on the CI"
Forking this from https://github.com/apache/camel-quarkus/issues/2317, which is now fixed for JVM mode at least

[code]

[2021-06-18 16:56] ppalaga commented on #2317
Created a new issue for the flaky FtpsIT #2810

[2021-06-18 16:57] #2317 closed

[2021-06-18 17:27] ppalaga commented on #2575
Filed https://github.com/arangodb/arangodb-java-driver/issues/397 for --allow-incomplete-classpath in their config https://github.com/arangodb/arangodb-java-driver/blob/master/src/main/resources/META-INF/native-image/com.arangodb/arangodb-java-driver/native-image.properties#L2

[2021-06-18 17:30] ppalaga commented on #2479
Kind reminder to check and close this issue if possible

[2021-06-18 18:10] #2207 closed

[2021-06-18 18:24] ppalaga commented on #2767
It does not look like the test is disabled, thus moving to 2.1.0

[2021-06-18 18:34] ppalaga commented on #2651
I wonder what we can do for 2.0.0 that will happen before Camel 3.11? Could you @JiriOndrusek perhaps check the feasibility of having the Undertow based `org.apache.avro.ipc.Server` impl. here in Camel Quarkus for now? We could do it properly once we have the necessary changes in Camel.

[2021-06-18 20:54] #2391 closed

[2021-06-18 21:42] ppalaga commented on #2618
@valdar if this was implemented already could you please paste a link to PR or commit and close?

[2021-06-19 05:07] valdar commented on #2618
Done in https://github.com/apache/camel-quarkus/pull/2799

[2021-06-19 05:07] #2618 closed

[2021-06-21 00:13] zhfeng commented on #2731
I'd like to take a look and please assign it to me.

[2021-06-21 00:20] zhfeng commented on #2285
I think the LRA got the Final 1.0 release recently and it needs to check with it. I'd like to take a look.

[2021-06-21 00:22] zhfeng commented on #2763
I'd like to take a look and please assign it to me.

[2021-06-21 06:41] jamesnetherton opened #2812 "Manage Groovy dependencies with `groovy-bom` import"
Relates to https://github.com/apache/camel-k/issues/2418.

[2021-06-21 07:33] JiriOndrusek commented on #2651
Change in Camel is proposed as https://issues.apache.org/jira/browse/CAMEL-16740 (PR is created - https://github.com/apache/camel/pull/5714)

@ppalaga I'll try to find a way of fixing it in meantime in camel-quarkus only, as you suggested.

[2021-06-21 09:32] ppalaga commented on #988
I am narrowing the scope from `quarkus.camel.native.*` to `quarkus.camel.native.resources.*`.

We still have `quarkus.camel.native.reflection.*` which does not have a drop in replacement in Quarkus and I do not think it is a big issue to keep it as is for now.

[2021-06-21 09:43] jamesnetherton opened #2814 "[Camel 3.11] Solr cloud integration tests are failing"
With Camel 3.11 tests that use the `solrCloud` endpoint scheme are failing. Seems there's an endless attempt trying to connect to ZooKeeper.

[code]

I'm disabling the problem tests for now.

[2021-06-21 09:50] gmagnotta opened #2815 "XA JMS Transaction fails"
Hi,

I'm trying to use an XA transaction with both org.postgresql.xa.PGXADataSource and ActiveMQ component in camel-quarkus but I have have the following exception:

[code]

The Route is the following:

[code]

Inside the bean orderprocessor I make a persist in the database, and then try to send on JMS the id.

When the transacted block complete with success or with an exception (as in this exampl

[2021-06-21 11:07] ppalaga opened #2816 "Let quarkus-google-cloud-services or com.google.cloud:libraries-bom align opencensus, perfmark & Co."
Blocked by https://github.com/quarkiverse/quarkus-google-cloud-services/pull/135

[2021-06-21 11:07] ppalaga commented on #2689
A fix is underway, but it is not perfect yet - see the followup https://github.com/apache/camel-quarkus/issues/2816

[2021-06-21 12:42] jamesnetherton commented on #2815
You could try something similar to what we did in our Artemis JTA integration test and wrap the `ActiveMQXAConnectionFactory` in a `ConnectionFactoryProxy` which you then pass to the camel component:

https://github.com/apache/camel-quarkus/blob/main/integration-tests/jta/src/main/java/org/apache/camel/quarkus/component/jta/it/XAConnectionFactoryConfiguration.java#L41

[2021-06-21 13:11] ppalaga commented on #2816
The blocking PR was merged.

[2021-06-21 14:34] jamesnetherton opened #2819 "Expand ElasticSearch REST test coverage"
It'd be good to cover (mainly to verify native support):

* The operations listed in the [documentation](https://camel.apache.org/components/latest/elasticsearch-rest-component.html#_message_operations)
* [SearchHits / SearchRequest](https://camel.apache.org/components/latest/elasticsearch-rest-component.html#_search_example)
* [MultiSearchRequest](https://camel.apache.org/components/latest/elasti

[2021-06-21 19:15] #988 closed

[2021-06-21 19:27] ppalaga commented on #2727
https://github.com/apache/camel-quarkus/pull/2751 was cherry-picked to `quarkus-main`

[2021-06-21 19:57] ppalaga commented on #2812
Let's try for 2.0.0

[2021-06-21 20:10] ppalaga commented on #2617
No plans to ever port to native because camel-kamelet-reify will be deprecated in Camel 3.11

[2021-06-22 06:01] zhfeng commented on #2731
https://github.com/apache/camel-quarkus-examples/pull/42

[2021-06-22 07:17] gmagnotta commented on #2815
Hi @jamesnetherton,

wrapping the ActiveMQXAConnectionFactory inside a ConnectionFactoryProxy seems to work.

[code]

This seems a viable workaround, but honestly, It would be better if it could works out of the box...

[2021-06-22 08:55] jamesnetherton opened #2822 "Leverage catalog metadata to discover unremovable bean types"
E.g any component / endpoint property marked as 'autowired' would be a candidate bean that we would not want Quarkus to remove. At the moment, users have to work around removed beans via the Quarkus configuration properties.

[2021-06-22 09:11] #2778 closed

[2021-06-22 09:56] #2816 closed

[2021-06-22 12:00] #2812 closed

[2021-06-22 14:28] jamesnetherton opened #2823 "Remove `quarkus.camel.sql.script-files` configuration property"
[`quarkus.camel.sql.script-files`](https://camel.apache.org/camel-quarkus/latest/reference/extensions/sql.html#quarkus.camel.sql.script-files) predates the capability to add arbitrary files to the native image. We should prefer `quarkus.native.resources.includes`.

[2021-06-22 19:44] ppalaga commented on #2781
Fixed via https://github.com/apache/camel-quarkus/pull/2825

[2021-06-22 19:44] #2781 closed

[2021-06-23 09:15] aldettinger opened #2828 "[camel 3.12] core: camel.threadpools.config[*] properties should not need reflection anymore"

[2021-06-23 09:20] aldettinger commented on #2828
In the context of #2781, we needed to register the `ThreadPoolProfileConfigurationProperties` class [as reflective](https://github.com/apache/camel-quarkus/commit/d4026e84697c042aad31b76faa980e8de2d54f0f). With [CAMEL-16748](https://issues.apache.org/jira/browse/CAMEL-16748) implemented, it should not be needed anymore.

[2021-06-23 09:26] #2782 closed

[2021-06-23 10:01] jamesnetherton commented on #2823
Deprecation is done for 2.0.0. Removal can take place in 2.1.0.

[2021-06-23 11:23] jamesnetherton opened #2830 "Box native integration test failure"
Not sure why, but the native application is taking 10 seconds or more to fully start:

[code]

Hence we get:

[code]

[2021-06-23 11:33] jamesnetherton opened #2831 "Salesforce native integration tests throw CNFE for `java.io.InputStream`"
[code]

[2021-06-23 12:11] #2679 closed

[2021-06-23 12:38] ppalaga opened #2834 "Add a section about mocking remote endpoints to Testing page of user guide"
https://camel.apache.org/camel-quarkus/latest/user-guide/testing.html

[2021-06-23 12:38] ppalaga commented on #2679
Mocking moved to https://github.com/apache/camel-quarkus/issues/2834

[2021-06-23 13:09] jamesnetherton commented on #2830
The reason for the slowness is that there seems to be 4 box authentication events that occur before the `CamelContext` is considered started. In the logs I see:

[code]

[2021-06-23 13:35] #2831 closed

[2021-06-23 16:48] nicolaferraro opened #2838 "Cannot convert buffer types in platform-http"
I'm using the following service in a Camel K integration (My test was with Quarkus 1.x):

[code]

I expected the service to echo the message back (it was working this way), but I get a conversion error:
[code]

[2021-06-23 16:50] #2727 closed

[2021-06-24 00:27] ffang opened #2840 "InfinispanTest failed on Mac"
Basically it's the same root cause described [here](https://github.com/quarkusio/quarkus-quickstarts/issues/148), and the solution here https://github.com/quarkusio/quarkus-quickstarts/commit/fa31ac88ee2be5152cd992479cfe457ac05ead5e
add property "quarkus.infinispan-client.client-intelligence" as  "BASIC"  should be the way to go on non-linux machine

[2021-06-24 07:16] jstakun opened #2842 "onException in xml dsl"
Hi Quarkus experts!
I'm porting existing xml dsl camel logic into camel quarkus, and I couldn't find the way to reuse onException clause which was present in my camel context definition in the xml dsl. I only found possibility to create onException java code in RouteBuilder class but this doesn't seem to be right solution for me. Can you advice how can I implement it having routes definition is xm

[2021-06-24 07:21] davsclaus commented on #2842
This is an issue tracker for bugs, new features etc.

For getting help with how to use Camel then see here
https://camel.apache.org/community/support/

A great place to get help is the chat room
https://camel.zulipchat.com/

Ask in the camel-quarkus stream

[2021-06-24 07:21] #2842 closed

[2021-06-24 07:48] llowinge opened #2844 "Document the need of @RegisterForReflection in Bean doc"
When using CDI bean used in camel-bean component, we need for native mode the annotation @RegisterForReflection which is not documented (see eg. https://github.com/apache/camel-quarkus/blob/main/integration-test-groups/foundation/bean/src/main/java/org/apache/camel/quarkus/component/bean/NamedBean.java#L31).

[2021-06-24 09:11] jamesnetherton commented on #2838
I can reproduce this in CQ 1.8.1 / Camel 3.9.0, but not with CQ 2.x / Camel 3.10.

I'll add a test to verify.

[2021-06-24 09:49] jamesnetherton commented on #2838
Actually I'm wrong - I can reproduce with CQ 2.x.

[2021-06-24 14:10] jamesnetherton commented on #2838
I proposed a workaround in #2846 for CQ 2.0.0. I opened a Camel ticket to fix properly in later releases.

https://issues.apache.org/jira/browse/CAMEL-16756

[2021-06-24 14:51] #2696 closed

[2021-06-24 14:51] #2704 closed

[2021-06-24 15:08] #2834 closed

[2021-06-24 21:04] ffang commented on #2730
Verified this issue is gone with CAMEL 3.11 upgrade, so we can close this one now

[2021-06-24 21:04] #2730 closed

[2021-06-25 05:49] zhfeng commented on #2285
The lastest lra-coordinator 5.12.0.Final image looks good and it was built by using Quarkus. We also need to take a look when the quarkus lra extension gets merged in upstream.

[2021-06-25 07:59] #2285 closed

[2021-06-25 10:19] #2607 closed

[2021-06-25 11:45] #2840 closed

[2021-06-25 20:00] nelreina opened #2849 "string-template:bean Bean Injection: camel quarkus cannot find resource error"
camel quarkus cannot find resource error

[code]
Quarkus Version 1.13.7.Final
I added camel extension linked to this version

[2021-06-28 02:16] zhfeng commented on #2815
@gmagnotta I raised https://github.com/quarkusio/quarkus/issues/14871 to fix in upstream before.

[2021-06-28 06:30] jamesnetherton commented on #2849
AFAIK there is no support in the `stringtemplate` component to do bean lookups in the way you're describing. The [URI path](https://camel.apache.org/components/latest/string-template-component.html) is meant to be the location of the template on the classpath.

[2021-06-28 07:56] jamesnetherton opened #2850 "[Quarkus 2.1] Remove reflective class registration for `ScramSaslClientFactory`"
`ScramSaslClientFactory` is now registered for reflection in the Quarkus Kafka extension since https://github.com/quarkusio/quarkus/commit/9ce4a096185e3c9a7553d7541e9670cb06fc095c.

[2021-06-28 13:25] ppalaga opened #2852 "Set the version in docs/antora.yml when tagging a release"
This change should be a part of each release tag https://github.com/apache/camel-quarkus/commit/811fbbaedf4dd605a0f5283ad7ed72beef2fed9b

cc @zregvart

[2021-06-28 13:27] ppalaga opened #2853 "Have each release on a <major>.<minor>.x branch to make Antora happy"
We should document the `$subj`

cc @zregvart

[2021-06-28 19:47] nelreina commented on #2849
Hi @jamesnetherton thank you for your response , in the doc's it says it is possible   , look at the last line

[2021-06-28 20:04] davsclaus commented on #2849
You are using the bean the wrong way, its not to lookup a bean and dynamic call a method on that bean. The bean should be a string or input stream that has the template.

So its often a bit useless. If you want to use a dynamic template then use stringtemplate header support
https://camel.apache.org/components/latest/string-template-component.html

You need to turn on allow from template, see this

[2021-06-28 20:04] #2849 closed

[2021-06-29 08:14] ppalaga opened #2855 "Document how to create an extension for a custom third party Camel component"

[2021-06-29 08:47] ppalaga opened #2856 "Give some guidance to end users which messaging extensions they should use in which situation"
Statement by @jamesnetherton

The first two points are rather trivial and I guess end users will be able to discover those extensions by themselves. The second two points contain some interesting information that could perhaps go to the [JMS extension page](https://camel.apache.org/camel-quarkus/latest/reference/extensions/jms.html). WDYT, @jamesnetherton?

[2021-06-29 08:55] jamesnetherton commented on #2856
Yes, we can add some more docs on this. Perhaps create a dedicated 'messaging' page and link to it from the JMS / SJMS extension docs.

[2021-06-29 08:55] aldettinger commented on #2630
Turns out to be a duplicate of #2731, so let's report there.

[2021-06-29 09:27] ppalaga opened #2857 "Make `quarkus.artemis.url` optional"
Filed here so that we do not forget about https://github.com/quarkusio/quarkus/issues/18231 and possibly take the initiative to fix it. After it is fixed in Quarkus, we should add a test (a io.quarkus.test.QuarkusUnitTest-based one should be enough) for an app configuring its custom ConnectionFactory without providing quarkus.artemis.url

[2021-06-29 09:40] ppalaga opened #2858 "Make `quarkus.google.cloud.project-id` optional"
Filed here so that we do not forget about https://github.com/quarkiverse/quarkus-google-cloud-services/issues/150 and possibly take the initiative to fix it.
After it is fixed there, we should remove `quarkus.google.cloud.project-id` from `application.properties` in our tests.

[2021-06-29 10:07] ppalaga commented on #2344
Filed https://github.com/quarkusio/quarkus/issues/18232

[2021-06-29 10:27] jamesnetherton commented on #2830
https://issues.apache.org/jira/browse/CAMEL-16764.

[2021-06-29 10:35] #2084 closed

[2021-06-30 05:59] mmuzikar opened #2860 "AWS2 ddb-streams integration tests failures"
The integration tests timeout on the ddb-streams part. Rarely 1 stream record of gets through but never the expected 3.
Interesting fact is that the ddb tests pass just fine, but the streams always fail so the changes are definitely getting created but not observed by camel.

[2021-06-30 06:31] jamesnetherton commented on #2860
I spent a little bit of time looking at this. I cannot replicate it locally. However, on an underpowered machine it seems to always fail.

One thing I observed was that if you `Thread.sleep()` at the beginning of the test, it will always pass. Which makes me wonder if some how the ddb-streams consumer is getting itself into a state where it never sees any of the events, possibly due to the [`lastS

[2021-06-30 06:58] aldettinger commented on #2731
Many thanks @zhfeng :+1:  the build is ok. It might be safe to delete the PR branch now.
I'm going to close the ticket as I think everything is complete, feel free to re-open in case of miss.

[2021-06-30 06:58] #2731 closed

[2021-06-30 06:59] aldettinger commented on #2630
Closing as #2731 is completed.

[2021-06-30 06:59] #2630 closed

[2021-06-30 12:37] JiriOndrusek opened #2861 "Simplify Avro-rpc extension if Avro-ipc will provide better API"
Follow-up issue for https://github.com/apache/camel-quarkus/pull/2859.

Current fix brings Vertx implementation of http server. Unfortunately `ResponderServlet` has to be used, even if no servlets are used. There is an improvement in avro project - https://issues.apache.org/jira/browse/AVRO-3166 - asking to provide better helper methods.

If solution of `avro` issue brings a better method(s) for v

[2021-06-30 13:12] ppalaga commented on #2860
Sounds like we could do some tricks to make the test pass. Not necessarily Thread.sleep() but some sort of condition that will make the producer requests wait until the consumer has started properly. But I am still wondering whether this is not an issue in the lastSeenSequenceNumber logic?

[2021-06-30 13:39] ppalaga opened #2862 "Intermittent failures in OpenstackGlanceTest"
Seen in https://github.com/apache/camel-quarkus/pull/2859/checks?check_run_id=2952026388
[code]

[2021-06-30 14:22] #2651 closed

[2021-07-01 00:12] aubelsb2 opened #2864 "Promote tags to GitHub releases"
I am only subscribed to github release notifications:
![image](https://user-images.githubusercontent.com/20219956/124045962-323e8c00-da54-11eb-975c-b86b15a116cf.png)

However it seems that simply tagging the release isn't enough to trigger a release:
![image](https://user-images.githubusercontent.com/20219956/124045990-44b8c580-da54-11eb-8cea-9f798de45793.png)

If you edit a tag and go: "publish r

[2021-07-01 06:03] jamesnetherton commented on #2864
We can definitely look to do this in future, but maybe not in an automated way.

When the tag is pushed, the release is staged for 72 hours where it goes under vote in accordance with Apache's release policy. So technically it's not available until the vote passes and the artifacts are present in Maven central.

[2021-07-02 06:22] jamesnetherton commented on #2796
Relates to https://github.com/apache/camel-quarkus/issues/2858.

[2021-07-02 07:44] #2763 closed

[2021-07-02 09:28] jamesnetherton opened #2869 "Combine build sanity checks into a single script"
Since https://github.com/apache/camel-quarkus/pull/2866, I was thinking that to keep the build nice and speedy, we should perhaps avoid having an ever increasing number of 'sanity check' Groovy scripts and `groovy-maven-plugin` executions. So we could combine the checks into a single script.

E.g [this](https://github.com/apache/camel-quarkus/blob/main/tooling/scripts/validate-dependencies.groovy)

[2021-07-02 13:38] zbendhiba opened #2872 "Example with kafka + Oauth2 needs the stimzi Oauth client"
Add the needed extension for the example, as explained here https://quarkus.io/guides/kafka#authenticating-with-oauth

[2021-07-02 13:54] zbendhiba commented on #2872
something's weird if I get the oldest version of kafka-oauth-client : https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Kafka.20oauth.20authenticating

[2021-07-02 14:23] jamesnetherton opened #2873 "Avoid producing `FeatureBuildItem` in support extensions"
Many of the 'support' extensions produce `FeatureBuildItem`. We should consider not doing this as it bloats the list of installed features when printed to the console and also clutters the Quarkus Dev Console.

[2021-07-02 15:18] lburgazzoli commented on #2873
+1

this was original done to track what was included but does not make much sense now

[2021-07-03 00:39] nelreina commented on #2849
Hi @davsclaus thanks for your response. Okay I understand now and did not see that option on the string template (my bad).  But you understand why I came to that conclusion to use the bean that way. In the mean time I solved my route another way.

[2021-07-04 08:52] davsclaus opened #2874 "[Camel 3.12] UnmarshalTypeName should be renamed to unmarshalType"
Do a

    git grep unmarshalTypeName

And then rename all those to

    unmarshalType

[2021-07-05 01:53] zhfeng commented on #2869
I will check them.

[2021-07-05 06:28] #2869 closed

[2021-07-05 08:01] aldettinger opened #2876 "[camel 3.12] camel.faulttolerance.bulkheadEnabled is not honoured by camel"

[2021-07-05 08:03] aldettinger commented on #2876
Onc efixed in camek, CoreFaultToleranceTest expectation in camel-quarkus could be fixed too.

[2021-07-05 08:28] zbendhiba opened #2878 "camel-quarkus-kafka : Kafka oauth authentication issue with kafka-oauth-client 0.8.x versions"
See description in [quarkus-18398](https://github.com/quarkusio/quarkus/issues/18398)
It would be cool if we can add an integration test for this use case, if it's possible to config testcontainers for oAuth2.

[2021-07-05 11:11] zbendhiba commented on #2878
related to [strimzi-kafka-oauth-121](https://github.com/strimzi/strimzi-kafka-oauth/issues/121)

[2021-07-05 11:14] zbendhiba commented on #2878
If you ran in this problem
Temporarily fix, add this to your pom.xml
[code]

[2021-07-06 06:12] jamesnetherton opened #2880 "Hazelcast native build is failing on GitHub CI"
I think it is running out of memory because the build is abruptly killed:

[code]

[2021-07-06 09:46] jamesnetherton commented on #2519
Duplicate of #1387.

[2021-07-06 09:46] #2519 closed

[2021-07-06 09:49] jamesnetherton commented on #1387
I'll close this as it's superseded by https://github.com/apache/camel-quarkus/issues/2822.

[2021-07-06 09:49] #1387 closed

[2021-07-06 13:01] #2878 closed

[2021-07-07 04:05] aubelsb2 commented on #2864
Thanks. This will help a lot with supporting our app.

[2021-07-07 07:29] #2780 closed

[2021-07-07 08:01] #2873 closed

[2021-07-07 08:31] jamesnetherton opened #2884 "Investigate better integration with `@Traced` beans"
Prompted by a [question](https://lists.apache.org/thread.html/r93a94bc56e3d55133cb2c150b24538424728cb1ec8fd82ff2fd8a88e%40%3Cusers.camel.apache.org%3E) on the Camel users mailing list.

If you use `@Traced` beans in a Camel route, the parent Span is not propagated to the bean method invocations. So you end up with separate disconnected traces. I outlined a workaround in the mailing list thread, ma

[2021-07-07 16:59] aldettinger opened #2885 "kudu: remove the useless test harness logic dedicated to Java 8"

[2021-07-07 19:42] #2885 closed

[2021-07-08 08:41] aldettinger commented on #1433
Quarkus 2.1 should include [serialization support](https://github.com/quarkusio/quarkus/issues/14530).

[2021-07-08 09:17] #2712 closed

[2021-07-08 09:25] jamesnetherton commented on #2344
Created a follow up to the original closed issue https://github.com/quarkusio/quarkus/issues/18517.

[2021-07-08 10:06] #2822 closed

[2021-07-08 12:24] jamesnetherton commented on #2844
Seems we have this covered already. The usage section of the bean docs link to the CDI guide, which mentions native requirements.

https://camel.apache.org/camel-quarkus/latest/reference/extensions/bean.html#_usage

[2021-07-08 12:24] #2844 closed

[2021-07-08 13:15] philschaller opened #2888 "Read-lock tests are flawed"
The read-lock test [1] does not catch the recently introduced regression [2]

[1] https://github.com/apache/camel-quarkus/blob/11c3f0ac5a9f0b246a6c172c1edb7d39d0fced18/integration-tests/file/src/test/java/org/apache/camel/quarkus/component/file/it/FileTest.java#L213
[2] https://issues.apache.org/jira/browse/CAMEL-16795

[2021-07-08 14:22] #2690 closed

[2021-07-08 14:39] jamesnetherton commented on #2632
I ran the attached code sample using `quarkus-universe-bom` 2.0.1.Final and the problem seems to be resolved now.

[2021-07-08 14:39] #2632 closed

[2021-07-08 17:56] ffang commented on #2800
Close this issue as this is fixed at quarkus-hazelcast-client side(version 2.0.0)
https://github.com/hazelcast/quarkus-hazelcast-client/issues/189
and now we synced up to that version

[2021-07-08 17:56] #2800 closed

[2021-07-09 04:03] #2490 closed

[2021-07-09 06:03] #2473 closed

[2021-07-09 07:00] jamesnetherton commented on #2855
Thinking also that we should document how to bring a third party component, without requiring an extension to be written. Effectively it's just a case of making sure the component JAR has a Jandex index.

[2021-07-09 07:03] lburgazzoli commented on #2855
Or to force quarkus to index that dependency

[2021-07-09 09:10] ppalaga commented on #2880
Is it happening every time? Is it perhaps related to Maven 3.8?

[2021-07-09 09:58] ppalaga commented on #2864
I would not mind doing this manually, let's just add the step to our release guide https://camel.apache.org/camel-quarkus/latest/contributor-guide/release-guide.html

[2021-07-09 10:06] jamesnetherton commented on #2880
Not every time but seems to be a pretty frequent thing.

3.8 update is not merged yet https://github.com/apache/camel-quarkus/pull/2868.

[2021-07-09 12:10] #2856 closed

[2021-07-09 14:17] jamesnetherton commented on #892
I finally got around to taking another look at this. Is the intention that `CamelContext.getComponentNames` would leverage this?

If so the signature for that method and `ComponentNameResolver.resolveNames` has an incompatible return type. `Set` Vs `List`, so Camel would need modifying.

[2021-07-09 14:20] lburgazzoli commented on #892
@davsclaus may know

[2021-07-09 14:36] ppalaga commented on #2880
I recently attempted to reduce the amount of memory during Hazelcast itest native build https://github.com/apache/camel-quarkus/commit/f8d6447138ea602da3995312291090448c703435 looks like it was not enough...

[2021-07-09 15:07] ffang opened #2892 "openapi-java failure when building native-image"
I got error like
[code]

Not sure if this is only on my mac, but I didn't see this problem on camel quarkus 2.0.0 released tag, so must be some change new introduced it

[2021-07-09 15:25] jamesnetherton commented on #2892
Which version of GraalVM are you building with?

[2021-07-09 15:27] ffang commented on #2892
Running Quarkus native-image plugin on GraalVM Version 21.0.0.2 (Java Version 11.0.10+8-jvmci-21.0-b06)

[2021-07-09 15:37] zhfeng commented on #2892
Have you ever tried to sue GraalVM 21.1.0 ?

[2021-07-09 15:40] jamesnetherton commented on #2892
Indeed it fails on 21.0.x but seems to be working on 21.1.x.

I maybe messed up in https://github.com/apache/camel-quarkus/commit/b5b34f31efa3f1033667c5a4b0694bcba1a03b61 and removed [SunTemplatesImplSubstitution](https://github.com/apache/camel-quarkus/blob/8e41b4f8c59f0f4309cd8751711dc124e088ac11/extensions-support/xalan/runtime/src/main/java/org/apache/camel/quarkus/support/xalan/graal/SunTempl

[2021-07-09 15:42] jamesnetherton commented on #2892
Having said that the Quarkus docs state that 21.1.0 is 'required'. So I'm not sure to what extent we need to make things compatible with older GraalVM versions.

[2021-07-09 15:44] ffang commented on #2892
Let me try with 21.1.0, if it's OK we can safely close this issue

[2021-07-09 17:47] ffang commented on #2892
Indeed, graalvm 21.1.0 works for me as well. I will close this issue

Thanks @zhfeng  and @jamesnetherton for the input!
Freeman

[2021-07-09 17:47] #2892 closed

[2021-07-10 06:00] github-actions[bot] opened #2893 "[CI] - Quarkus Main Branch Build Failure"
The [quarkus-main](https://github.com/apache/camel-quarkus/tree/quarkus-main) branch build is failing:

* Build ID: 1017046590-443-2a9ee681-35ee-424c-90e1-0deabbaa612f
* Camel Quarkus Commit: 1956b63b0b6c4d6269316fcca3731c39834bc7fa

* Quarkus Main Commit: 74b8bb957c533f6c23201768ce278080cbf839d6
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/1017046590

[2021-07-11 03:52] github-actions[bot] opened #2894 "[CI] - Camel Main Branch Build Failure"
The [camel-main](https://github.com/apache/camel-quarkus/tree/camel-main) branch build is failing:

* Build ID: 1018962915-340-aa61d066-06a7-417b-ba88-b76a86b8d3fa
* Camel Quarkus Commit: b92b0fe21fdde1ad41a7c8b4576e1a8be3de103e

* Camel Main Commit: 92ac434208130d202d904e3f10047c38fb6594e5
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/1018962915

[2021-07-11 06:19] #2893 closed

[2021-07-12 04:36] #2894 closed

[2021-07-12 09:46] jamesnetherton opened #2897 "OpenTelemetry extension `exclude-patterns` config property does not work for platform-http endpoints"
If you configure the [`exclude-patterns`](https://camel.apache.org/camel-quarkus/latest/reference/extensions/opentelemetry.html#quarkus.camel.opentelemetry.exclude-patterns) config property to match `platform-http` endpoints, then you end up with a redundant span being recorded.

[VertxTracingAdapter](https://github.com/quarkusio/quarkus/blob/main/extensions/opentelemetry/opentelemetry/runtime/src

[2021-07-12 09:51] ineednousername commented on #2107
@aldettinger did you already have a look at this project? https://github.com/redisson/redisson/tree/master/redisson-quarkus

[2021-07-12 14:44] sberyozkin commented on #2005
Not yet - right now Quarkus only indirectly facilitates the creation of BC providers in its `quarkus-security` extension; perhaps we can indeed introduce a dedicated extension

[2021-07-12 14:46] jamesnetherton opened #2900 "Document Camel Quarkus build items"
It could be useful for newcomers to the project and potentially also for folks who want to write their own Camel component extensions, if we had a summary page of build items like [Quarkus](https://quarkus.io/guides/all-builditems).

[2021-07-13 14:25] nicolaferraro opened #2901 "Cannot re-process old Kafka messages because of Quarkus overriding the group.id"
I'm running a simple integration in Camel K:

[code]

I'm using `myowngroupid` to reprocess old messages using a different consumer group. But when I run this integration, I notice that the Kafka group Id is always a fixed string `camel-k-integration`.

The reason seems to be due to this part of the code: https://github.com/apache/camel-quarkus/blob/9344d527b2979a859e3678746bb55e54fa1abcc5/extensi

[2021-07-13 14:27] oscerd commented on #2901
I think this behavior should be configurable. If I don't want to merge configurations or I don't care about the quarkus extension workflow, I should be able to avoid it.

[2021-07-14 06:33] jamesnetherton commented on #2901
Sorry about this one, it's my bad. The map `put` should of course be `putIfAbsent`. I think we can make the properties merge behaviour configurable based on whether the Quarkus k8s service binding capability is present. And if it is, only then do we set up the custom `QuarkusKafkaClientFactory`.

I'll also look into tweaking the Quarkus Kafka extension, as I don't see the point of it adding the `g

[2021-07-14 06:35] oscerd commented on #2901
I don't if there are other extension approaching the configuration in this way, but making it configurable would be really nice. At least on the kamelet side, we will be sure what we are configuring will be effectively used.

[2021-07-14 06:35] oscerd commented on #2901
Thanks for looking into this.

[2021-07-15 02:15] github-actions[bot] opened #2902 "[CI] - Quarkus Main Branch Build Failure"
The [quarkus-main](https://github.com/apache/camel-quarkus/tree/quarkus-main) branch build is failing:

* Build ID: 1032391633-448-8b1d26a4-b0aa-4ed5-a083-b2d06af49949
* Camel Quarkus Commit: 9fe86ec9354316b3b18e7b9ff0220e71dfe4d5af

* Quarkus Main Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/1032391633

[2021-07-15 03:42] github-actions[bot] opened #2903 "[CI] - Camel Main Branch Build Failure"
The [camel-main](https://github.com/apache/camel-quarkus/tree/camel-main) branch build is failing:

* Build ID: 1032124265-344-9390b524-2fe1-4fdb-8358-21e1142fc892
* Camel Quarkus Commit: 54b654042567e3fbf9f3fb94e0204196726a8722

* Camel Main Commit: 660f757988a655f8d50f1ac2f56ddd103d370131
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/1032124265

[2021-07-15 13:09] JiriOndrusek opened #2905 "Revise DefaultExchangeHolder"
`DefaultExchangeHolder` should be revisited. It would be nice to use  json/avro/protobuf instead of serialization.

See https://github.com/apache/camel-quarkus/pull/2904#issuecomment-880483809

[2021-07-15 13:14] JiriOndrusek commented on #2905
Sorry this is meant for Camel, closing.

[2021-07-15 13:14] #2905 closed

[2021-07-15 21:15] ffang opened #2906 "can't build camel-fhir extension native image"
get error like
[code]

[2021-07-15 21:19] ffang commented on #2906
This is a new issue when using the latest GraalVM 21.1.0. The root cause is that instances of java.util.Random/java.util.SplittableRandom class won't be allowed in the native image heap since GraalVM 21.1.0. Please find the related discussion https://github.com/quarkusio/quarkus/issues/14904.

Plus, I don't know why, but seems in CI build(https://github.com/apache/camel-quarkus/runs/3072753498?che

[2021-07-16 04:24] #2903 closed

[2021-07-16 07:44] zhfeng commented on #2906
@ffang I think we disable the fhir native integration test before.

https://github.com/apache/camel-quarkus/blob/aa668d014ff9d19f50c75059800d5f51bf086f64/integration-tests/fhir/pom.xml#L34

[2021-07-16 11:55] ffang commented on #2906
Thanks @zhfeng for the heads up!
I think we should re-enable it now

[2021-07-16 14:33] ffang opened #2908 "js-dsl integration test failure"
error like
[code]

[2021-07-16 14:35] ffang commented on #2908
Not sure if this is my environment specific
[code]

Or related to my recent JDK11 upgrade
The root error is
[code]

[2021-07-16 14:49] ffang commented on #2908
Looks like a know issue
https://github.com/oracle/graal/issues/2597

[2021-07-16 20:14] ffang commented on #2908
We can fix it by adding org.graalvm.* into parentFirstArtifact, like the way mentioned here
https://github.com/quarkusio/quarkus/issues/9634

[2021-07-18 12:31] JayGhiya commented on #2906
Does adding quarkus.native.additional-build-args=--initialize-at-run-time=org.apache.http.impl.auth.NTLMEngineImpl  works?

[2021-07-18 12:55] JayGhiya commented on #2906
tried it. It works. But still it would be great if the extension itself reinitialize the class at runtime

[2021-07-18 14:12] ffang commented on #2906
Yes, it works. But put it in the extension itself so that it can work out-of-the-box should be a better experience.

[2021-07-19 11:33] #2721 closed

[2021-07-19 13:03] #2906 closed

[2021-07-19 13:22] jamesnetherton commented on #2901
I created a PR that should fix this https://github.com/apache/camel-quarkus/pull/2913. To my knowledge, none of the other Camel projects dependent on CQ is explicitly forcing usage of `quarkus-kubernetes-service-binding`, so having a check for whether the capability is present and not setting up the custom `KafkaClientFactory` should be good enough.

I need to do some follow up research for changi

[2021-07-20 06:57] cescoffier commented on #2901
For the record, we merged a _fix_ in Quarkus.

[2021-07-20 07:28] jamesnetherton opened #2914 "Provide a common set of JMS tests to test different combinations of JMS extension, client & broker"
It'd be good if we can have a common set of integration tests for JMS / AMQP and be able to reuse them to test different combinations of JMS client like Artemis, Qpid JMS & others. We already have a decent baseline for JMS testing in the `messaging` itest module so most of those should be reused.

The question is, what's the best way of achieving this?

Perhaps the cleanest way is to create new it

[2021-07-20 08:46] jamesnetherton commented on #2767
I've not seen this happen for a while so I'll close for now and reopen if it pops up again with any regular frequency.

[2021-07-20 08:46] #2767 closed

[2021-07-20 09:14] #2901 closed

[2021-07-20 11:41] #2255 closed

[2021-07-20 11:41] #2755 closed

[2021-07-20 14:14] jamesnetherton commented on #2850
Sorry @zhfeng I only just realised you were assigned to this. I created a PR https://github.com/apache/camel-quarkus/pull/2920.

[2021-07-21 06:02] #2005 closed

[2021-07-21 06:48] #2850 closed

[2021-07-21 07:38] #2823 closed

[2021-07-21 08:52] JiriOndrusek opened #2922 "Bouncycastle-support: Move some code to quarkus-security"
Quarkus-security extension registers bouncycastle provider and register some classes for reflection.

It makes sense to put more registrations there and remove it from bouncycastle-support.

(see https://github.com/apache/camel-quarkus/pull/2915#issuecomment-883336289)

[2021-07-21 12:12] #2636 closed

[2021-07-21 12:12] #2599 closed

[2021-07-21 13:56] #2502 closed

[2021-07-21 15:07] tstuber opened #2925 "Adding proxy support for AWS components working with Web Identity Tokens"
I try to use Camel AWS S3 with Web Identity Token on Quarkus 2.0.2-Final. I also included AWS STS in the classpath. For local development I need to work with a proxy.

It seems that the proxy settings are taken into account for S3, but are not working for the STS connectivity. The Quarkus start-up finally crashes with a timeout exception:
[code]

I used the following setup:

Route:
[code]

applica

[2021-07-21 15:27] #2902 closed

[2021-07-21 15:32] jamesnetherton opened #2926 "[CI] - Quarkus Main Branch Build Failure"
This is a placeholder issue used by the [nightly sync workflow](https://github.com/apache/camel-quarkus/actions/workflows/quarkus-master-cron.yaml) for the [`quarkus-main`](https://github.com/apache/camel-quarkus/tree/quarkus-main) branch.

[2021-07-21 15:32] jamesnetherton opened #2927 "[CI] - Camel Main Branch Build Failure"
This is a placeholder issue used by the [nightly sync workflow](https://github.com/apache/camel-quarkus/actions/workflows/camel-master-cron.yaml) for the [`camel-main`](https://github.com/apache/camel-quarkus/tree/camel-main) branch.

[2021-07-21 15:53] ppalaga commented on #2908
Fixed via https://github.com/apache/camel-quarkus/pull/2909

[2021-07-21 15:53] #2908 closed

[2021-07-22 02:20] github-actions[bot] opened #2929 "[CI] - Camel Main Branch Build Failure"
The [camel-main](https://github.com/apache/camel-quarkus/tree/camel-main) branch build is failing:

* Build ID: 1054421688-351-37adde5e-4081-4807-ba9e-ef9780c6dff3
* Camel Quarkus Commit: 3b0f34d91e30c17ccc7e881dd63f475c38753810

* Camel Main Commit: abcc535f5e10101760b30335f463016f3049d366
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/1054421688

[2021-07-22 05:34] github-actions[bot] opened #2930 "[CI] - Quarkus Main Branch Build Failure"
The [quarkus-main](https://github.com/apache/camel-quarkus/tree/quarkus-main) branch build is failing:

* Build ID: 1054681127-455-c92422f3-2c9a-4496-ba04-bf6fdb6dbc95
* Camel Quarkus Commit: 77eeb0175ba721fec57f9cbb02fcc5738e7030bc

* Quarkus Main Commit: abcc535f5e10101760b30335f463016f3049d366
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/1054681127

[2021-07-22 08:54] #2864 closed

[2021-07-22 08:59] ppalaga commented on #2925
I think you need to configure the proxy for STS separately. Would you plz try to add the following?

[code]

[2021-07-22 09:03] tstuber commented on #2925
Hi @ppalaga, I also tested those configs as follows:
[code]

But the proxy settings are not taken into account for STS (see also [this ](https://camel.zulipchat.com/#narrow/stream/257302-camel-quarkus/topic/Issue.20with.20AWS.20S3.20with.20web.20identity.20token.20and.20proxy)zulip discussion).

[2021-07-22 09:05] oscerd commented on #2925
Essentially he's not using the camel-component, he is just using the sts JAR for referencing the needed bits for web identity token. So setting options or parameters on STS component doesn't have any effect, because he's not really using the sts scheme.

[2021-07-22 09:07] jamesnetherton commented on #2929
Closing since #2927 takes over from now on.

[2021-07-22 09:07] #2929 closed

[2021-07-22 09:07] jamesnetherton commented on #2930
Closing since #2926 takes over from now on.

[2021-07-22 09:07] #2930 closed

[2021-07-22 09:12] ppalaga commented on #2925
I see, sorry for confusing you then!

[2021-07-22 10:36] ppalaga commented on #2925
@tstuber if you are able to construct an instance of S3Client manually (with proxy set on its http client and with a proper STS credentials provider with properly set proxy again), then you can pass the S3 client instance to Camel via CDI like this:

[code]

[code]

[2021-07-22 10:40] ppalaga commented on #2925
That's a hammer-and-nails workaround and I am all for allowing to set the proxy in a more user friendly way

[2021-07-22 12:24] jamesnetherton commented on #1868
I spent some time trying to enable serialization support for `transferException`. There might be a GraalVM bug that is stopping deserialization of exceptions from working.

I've configured the relevant classes for serialization but deserializing an exception always results in:

[code]

I tried with a basic test app without Camel or Quarkus and got the same result.

[2021-07-22 12:53] ppalaga commented on #1868
`[Ljava.lang.StackTraceElement` is array of `java.lang.StackTraceElement` - maybe array types need some special registration or they are not supported yet?

[2021-07-22 13:13] tstuber commented on #2925
hey @ppalaga , thanks a lot for your support and the code snippets. I quickly tried it, but I was not able to setup a STS credential provider with proxy settings.
However, I can workaround it by using API keys locally. that works for me for now.

[2021-07-22 14:33] ppalaga commented on #2925
Hm... if it cannot be set up programmatically, I doubt @oscerd can improve the component in any way.

[2021-07-22 14:39] tstuber commented on #2925
I just realized that I could use the system properties (see: https://github.com/aws/aws-sdk-java-v2/issues/751#issuecomment-429384558). And that works. Its actually simple and clean that way.

My code looks now like:
[code]

[code]

And I start the project locally with `./mvnw clean compile quarkus:dev -Dhttp.proxyHost=localhost -Dhttp.proxyPort=3100-Dhttp.proxyScheme=http`

[2021-07-22 15:51] jamesnetherton commented on #1868
I got a bit further by registering some additional classes for reflection. But now stuck at:

[code]

I'll dig into it some more...

[2021-07-23 02:16] github-actions[bot] opened #2935 "[CI] - Quarkus Main Branch Build Failure"
The [quarkus-main](https://github.com/apache/camel-quarkus/tree/quarkus-main) branch build is failing:

* Build ID: 1058284160-456-39914e69-c7be-4710-93ee-f827451bb7c7
* Camel Quarkus Commit: 59ab390a1e9fc4310f1f0b103edc3ae3ddf07f69

* Quarkus Main Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/1058284160

[2021-07-23 05:59] #2935 closed

[2021-07-23 07:06] #2667 closed

[2021-07-23 07:08] ppalaga commented on #2925
Good to know, thanks for reporting, @tstuber!

[2021-07-23 09:32] zbendhiba opened #2938 "Salesforce : add test coverage"
Add more test coverage, examples of some tests to add

Producer:
- Passing in salesforce headers and fetching salesforce response headers
- Adding more tests using REST api
- Generating SOQL query strings using the QueryHelper

Consumer:
- REST streaming api
- Platform events

[2021-07-23 09:32] zbendhiba commented on #2938
Working already on this

[2021-07-23 09:33] zbendhiba commented on #2667
filled another issue for more test coverage https://github.com/apache/camel-quarkus/issues/2938

[2021-07-23 09:33] ppalaga opened #2939 "URL to the Kafka brokers must be configured with the brokers option after upgrade to Quarkus 2.1.0.Final"
Happens in the [Kafka example](https://github.com/apache/camel-quarkus-examples/tree/camel-quarkus-main/kafka) after the [upgrade to Quarkus 2.1.0.Final ](https://github.com/apache/camel-quarkus-examples/pull/49)

[code]

Probably related to https://github.com/apache/camel-quarkus/commit/d6a909130b58baf2ed5224b7547dad52f0b069e8

[2021-07-23 09:39] ppalaga commented on #2939
Adding `camel.component.kafka.brokers=${kafka.bootstrap.servers:${brokers}}` to `application.properties` can serve as a workaround.

[2021-07-23 13:38] JiriOndrusek opened #2941 "Solr: Investigate, why native tests fail in openjdk 11 (not in graalvm jdk)"
Solr test executed in open jdk 11 fails in native mode:

Java version:
[code]

Error:

[code]

With graalvm jdk tests are successful.
Java version:
[code]

Result is:
[code]

Solr could be tested after following fix: https://github.com/apache/camel-quarkus/issues/2814

Interesting facts:

 * With openjdk11, there is a different image `quay.io/quarkus/ubi-quarkus-native-image:21.1-java11`.
 * Keyst

[2021-07-26 10:43] jamesnetherton commented on #2791
I think we should remove this now for the next release and just leverage what Quarkus provides, even if it is considered experimental.

[2021-07-26 10:46] #2714 closed

[2021-07-26 11:01] #2814 closed

[2021-07-26 12:15] ppalaga commented on #2941
It is passing for me with OpenJDK

[code]

[2021-07-26 12:25] JiriOndrusek commented on #2941
Thanks for the information, I'll test it with the same openjdk as you to be sure. There could be possibly some local problem with my openjdk

[2021-07-26 14:10] JiriOndrusek commented on #2941
@ppalaga I tested it with a little bit older java
[code]
and it fails for me in the same way as is reported.

Then I upgraded java to (so it is a lottle bit newer then yours)
[code]
and it failed again.

So it seems, that problem is probably on my local machine...

May I ask for example @zbendhiba or @jamesnetherton to verify it?
(it is simple -  set JAVA_HOME to openjdk 11 and run native test for

[2021-07-26 14:36] #1868 closed

[2021-07-26 14:36] #2819 closed

[2021-07-26 17:15] ppalaga opened #2948 "Backwards compatibility policy"
Related to https://github.com/apache/camel-quarkus/issues/2791 and similar issues a question arose when is it fine to commit backwards incompatible changes. A stable and explicit policy would help both maintainers to decide and end users to adjust their expectations.

* We should check whether Camel and Quarkus have some explicit polices
* It makes little sense to be more strict than they are.

[2021-07-27 13:11] davsclaus commented on #892
Yeah Set would be better api as component names are unique

[2021-07-27 13:13] davsclaus commented on #892
Created a JIRA
https://issues.apache.org/jira/browse/CAMEL-16822

[2021-07-27 13:47] ppalaga opened #2952 "NPE when testing serviceCall EIP"
Steps to reproduce:

[code]

Expected: the test passes

Actual: the application does not start:
[code]

The test is here: https://github.com/ppalaga/camel-quarkus/commit/201238541f5e515ce52189d29423d9d5a5f82205#diff-989ce3631ecf8363dadfc77ff27f81b105fb6e3534c74b176205f92d67d4d85dR65-R72
I tried to make it as similar to [NettyHttpServiceCallRouteTest](https://github.com/apache/camel/blob/camel-3.11

[2021-07-27 16:10] ppalaga commented on #2952
Yes, exactly.

[2021-07-28 04:59] davsclaus commented on #892
Okay changed the API in Camel 3.12

[2021-07-28 07:34] #2860 closed

[2021-07-28 07:52] aldettinger commented on #2107
@ineednousername, I've not yet had a look to redisson-quarkus but will for sure. Many thanks for the pointer to this project :+1:

[2021-07-28 08:08] JiriOndrusek commented on #2941
Thanks @aldettinger, for verification on your local system.
Because all verifications were successfull and there is no problem on CI, It seems, that issue is caused by my local environment.
I'm closing the issue.

[2021-07-28 08:08] #2941 closed

[2021-07-28 08:15] jamesnetherton opened #2954 "Multiple gRPC consumers for the same service class does not work"
There's a potential bug in the gRPC extension where it's possible to define multiple consumers for the same service class. Meaning that the configuration of the last gRPC consumer defined defined in the `RouteBuilder` will 'win'.

In reality, I'm not sure how common this use case would be. But in the plain Camel component it's possible to do this by using a different host or port combination on th

[2021-07-28 11:57] ppalaga opened #2955 "[Camel 3.12] Subclasses of ServiceCallConfiguration should not need to be registered for reflection"
We should investigate whether the subclasses of `org.apache.camel.model.cloud.ServiceCallConfiguration` can be introspected without using Java reflection in Camel.

Once this is solved in Camel, `org.apache.camel.quarkus.core.cloud.deployment.CloudProcessor.reflectiveClasses(BuildProducer<ReflectiveClassBuildItem>, CombinedIndexBuildItem)` can be removed.

[2021-07-28 12:02] ppalaga commented on #2955
Blocked by https://issues.apache.org/jira/browse/CAMEL-16828

[2021-07-28 19:54] ppalaga opened #2957 "JmsTest.testJmsTransaction() and JmsTest.testResequence() fail intermittently"
Seen here https://github.com/apache/camel-quarkus/pull/2953/checks?check_run_id=3184178157 but cannot reproduce locally:

[code]

[2021-07-28 19:54] ppalaga commented on #2957
[code]

[2021-07-29 06:08] #2952 closed

[2021-07-29 07:35] JiriOndrusek commented on #2624
@ppalaga It seems, that this test is already present:

-  Subscription of an SQS Queue to an SNS Topic is [here](https://github.com/apache/camel-quarkus/blob/main/integration-test-groups/aws2/aws2-sqs-sns/src/main/java/org/apache/camel/quarkus/component/aws2/sqs/it/Aws2SqsSnsResource.java#L97)
-  Consume messages coming from SNS Topic through your SQS Queueis [here](https://github.com/apache/camel

[2021-07-29 13:46] ppalaga commented on #2948
I have filed https://github.com/quarkusio/quarkus/issues/19095

[2021-07-29 20:44] ppalaga commented on #2955
The blocking issue was resolved. Thanks @davsclaus!

[2021-07-30 10:27] ppalaga commented on #2624
Thanks for checking, @JiriOndrusek! Indeed `subscribeSNStoSQS=true` is there.

[2021-07-30 10:27] #2624 closed

[2021-07-30 12:09] lburgazzoli opened #2964 "java script: automatically add --language:js among additional build args"
The camel-quarkus-js-dsl extension should automatically set

    quarkus.native.additional-build-args=--language:js

[2021-07-30 12:33] #892 closed

[2021-07-30 13:55] gnieser opened #2965 "Automatically register for reflection: org.apache.camel.converter.jaxb.mapper.SunJaxb21NamespacePrefixMapper"
Hello,

When using namespace prefixes with JAXB the following error occurs with natively compiled application:
[code]

Workaround:
Manually register the class SunJaxb21NamespacePrefixMapper for reflection (eg. on the RouteBuilder)
[code]

Version:
Quarkus 2.1.0.Final

Zulip topic:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/When.20native.3A.20Cannot.20load.20CamelNamespacePre

[2021-07-30 15:11] jamesnetherton opened #2966 "gRPC producers with TLS enabled do not work"
https://issues.apache.org/jira/browse/CAMEL-16830

[2021-07-30 20:07] ffang opened #2967 "SolrTest failure when using CloundContainer"
This probably on the problem on non-linux machines.
I got test failures on my Mac when using CloundContainer(SSLContainer and StandaloneContainer are good though)
the error is like
[code]

Notice that 172.30.0.4 is the virtual docker node ip, but on non-linux machines with Docker Desktop, we can't access the virtual docker node ip.

This 172.30.0.4 was passed in org.apache.solr.client.solrj.impl.B

[2021-08-02 06:30] jamesnetherton opened #2968 "[Quarkus 2.2.0] JavaScriptDslTest fails with CNFE `org.graalvm.polyglot.impl.AbstractPolyglotImpl$AbstractValueImpl`"
Possibly because Camel 3.11.x is aligned with `org.graalvm.js:js` 21.0.0.2 where as latest Quarkus main is aligned with 21.2.0.

I'm disabling the tests for now.

[code]

[2021-08-02 11:11] ppalaga opened #2969 "Cannot register java.lang. classes via quarkus.camel.native.reflection.include-patterns"
https://github.com/apache/camel-k/pull/2536#issuecomment-889857056

The problem is that JRE classes are not available in Jandex.

[2021-08-02 11:13] ppalaga opened #2970 "Skip querying Jandex for quarkus.camel.native.reflection.include-patterns that have no wildcards"
This may work as a quick workaround for https://github.com/apache/camel-quarkus/issues/2969

[2021-08-02 20:13] tstuber opened #2974 "Platform HTTP component under load won't serve health endpoints anymore"
We are stress-testing a camel container that exposes a HTTP endpoint via platform HTTP. The container calls some legacy backend services - a single process might take some seconds.
However, if we invoke a lot of request (>500), than the container is not anymore able to serve the liveness probe on OpenShift and will be killed.

Potential workarounds:
- Changing liveness probe to run some bash scrip

[2021-08-03 07:20] #2625 closed

[2021-08-03 07:20] #2970 closed

[2021-08-03 07:34] jamesnetherton commented on #2968
All it needed to fix was `mvn cq:sync-versions`.

[2021-08-03 07:34] #2968 closed

[2021-08-03 08:45] jamesnetherton opened #2975 "[Quarkus 2.2.0] Infinispan itests fail in native mode"
Likely needs solving in the Quarkus Infinispan Client extension so opened a Quarkus issue to track https://github.com/quarkusio/quarkus/issues/19195.

[code]

[2021-08-03 09:38] ppalaga commented on #2968
We should perhaps add `mvn cq:sync-versions` before checking for changes around here https://github.com/apache/camel-quarkus/blob/main/.github/workflows/ci-build.yaml#L92 `mvn cq:sync-versions` is cheap

[2021-08-03 09:45] ppalaga commented on #2969
This hint from @mkouba might be useful:

[2021-08-03 10:58] mebr0 opened #2976 "Redis examples"
Are there any examples of using redis extension?

[code]

On [page](https://camel.apache.org/components/3.11.x/others/redis.html) of component doc referring only this

`The Redis component provides an AggregationStrategy to use Redis as the backend datastore.`

[2021-08-03 11:15] #1433 closed

[2021-08-03 12:00] ppalaga commented on #2976
I do not think you can do anything more with it. What is your use case?

[2021-08-03 12:04] mebr0 commented on #2976
I want to use redis component within apache camel + quarkus

[2021-08-03 12:04] ppalaga commented on #2976
Use for what?

[2021-08-03 12:10] mebr0 commented on #2976
I mean I need use distributed cache for caching users' data. I found only redis usage in docs

[2021-08-03 13:22] aldettinger commented on #2976
@mebr0 Many thanks for reaching out to the Camel community.

The attempt to fully support camel-redis in camel-quarkus is occurring in ticket [CAMEL-QUARKUS-2107](https://github.com/apache/camel-quarkus/issues/2107) and it's very tricky. So there is currently no example but there is [an integration test](https://github.com/aldettinger/camel-quarkus/tree/CAMEL-QUARKUS-2107/integration-tests/redis/s

[2021-08-03 13:39] jamesnetherton opened #2977 "[Quarkus 2.2.0] XmlSecurity itests fail in native mode"
[code]

[2021-08-03 14:13] davsclaus opened #2978 "[Camel 3.12] New feature: route configurations"
https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-16757

camel-quarkus may need to add some code to support this for build time optimizations.

There is a new RouteConfigurationBuilder (extends RouteBuilder) that should preferred to be added before any routes. However camel-core takes usually care of this.

A good start is to make a quarkus example of the spring boot
https://github.com/ap

[2021-08-03 14:22] jamesnetherton opened #2979 "[Quarkus 2.2.0] `quarkus-google-cloud-services` dependent extensions native image build fails"
Seems `google-cloud-graalvm-support` 0.4.0 is not compatible with GraalVM 21.2.0. The following is observed for Google extensions:

* `bigquery`
* `pubsub`
* `storage`

[code]

[2021-08-03 14:22] jamesnetherton commented on #2979
I opened https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/issues/180.

[2021-08-03 15:06] aymenfurter commented on #764
Thanks to everyone contributing to this cause. I would love to use camel-cxf on quarkus aswell.

[2021-08-03 15:10] jamesnetherton opened #2980 "[Quarkus 2.2.0] Spring RabbitMQ native build fails"
We need to examine exactly which Spring APIs this extension uses so that we can exclude the original `org.springframework` JARs and use the shaded versions that we produce in the `spring-support` module.

[code]

[2021-08-03 19:55] ppalaga opened #2981 "Upgrade to to GraalVM 21.2"
There is https://github.com/quarkusio/quarkus/pull/18932 we need to adapt to.

[2021-08-03 20:33] jamesnetherton commented on #2981
Various things are broken by this upgrade:

https://github.com/apache/camel-quarkus/issues/2980
https://github.com/apache/camel-quarkus/issues/2979
https://github.com/apache/camel-quarkus/issues/2977
https://github.com/apache/camel-quarkus/issues/2975

I think xchange also has issues but I've not created an issue for that yet.

[2021-08-04 06:33] zhfeng commented on #2957
I just check the logs and it looks like the camel does not consume a message from txTest.

[2021-08-04 06:40] jamesnetherton opened #2983 "[Quarkus 2.2.0] XChange native itest fails to find `CurrencyNames` resource bundle"
Seems to be another change in behaviour with GraalVM 21.2.0. This was working in previous versions without any specific `BuildStep` configurations for resource bundles.

[code]

[2021-08-04 11:15] #1908 closed

[2021-08-04 13:15] JiriOndrusek opened #2989 "Aws2-ddb: Document usage of quarkus-amazon-dynamodb for client creation (and limitations)"
See item 3 (and 2) from this [PR](https://github.com/apache/camel-quarkus/pull/2988) for more details.

Shortly: `quarkus-amazon-dynamodb` can be used with aws2-ddb extension, but there is a limitation on the type of http client (only apache one works). See https://quarkus.io/guides/amazon-dynamodb#configuring-dynamodb-clients.

[2021-08-04 13:20] JiriOndrusek opened #2990 "Aws2-ddb: It could be possible to use `url-connection-client` with `quarkus-amazon-dynamodb` on classpath"
See item 2 from this [PR](https://github.com/apache/camel-quarkus/pull/2988) for more details.

Currently it is not possible to use `url-connection-client` with `quarkus-amazon-dynamodb` because it creates runtime error, that both apache and non-apache clients are present together. Exclusion of apache client doesn't work, because aws-support extension requires it. (which could be possible to refac

[2021-08-04 13:23] JiriOndrusek opened #2991 "Aws2-ddb: Reminder to add tests once CAMEL-16837 is fixed"
See item 3 from this [PR](https://github.com/apache/camel-quarkus/pull/2988) for more details.

[2021-08-04 14:46] jamesnetherton commented on #2762
This was fixed in https://github.com/apache/camel-quarkus/commit/cb05578bdb99db11b90a8b55eaadb64f062676d0.

[2021-08-04 14:46] #2762 closed

[2021-08-04 14:47] #2375 closed

[2021-08-04 14:47] #2393 closed

[2021-08-04 14:49] #2367 closed

[2021-08-05 06:05] #2980 closed

[2021-08-05 06:33] ppalaga commented on #2990
I vote for documenting this in aws2-ddb limitations.adoc and see whether there is a demand (please upvote!) for fixing it.

[2021-08-05 07:18] #2776 closed

[2021-08-05 12:27] #2983 closed

[2021-08-05 19:29] #2830 closed

[2021-08-05 19:29] #2838 closed

[2021-08-06 06:47] jamesnetherton opened #2997 "[Camel 3.11.2, 3.12.0] Consider usage of `IgnoreSplitPackageBuildItem`"
I noticed in the build logs that various places have warnings about split packages, not just for Camel but also for third party dependencies. E.g

[code]

Maybe we should consider suppressing some of these?

[2021-08-06 06:50] davsclaus commented on #2997
The camel-main split package has been fixed for 3.11.2 onwards

[2021-08-06 13:28] jamesnetherton commented on #2151
Native support currently blocked by https://github.com/oracle/graal/issues/3608.

[2021-08-06 13:33] dufoli commented on #764
hello,

I can work on camel-cxf... I see that a soap folder already exist on camel. Someone can point me any documentation to help on that ?

[2021-08-06 14:42] ppalaga commented on #764
That would be highly welcome, here is is the guide: https://camel.apache.org/camel-quarkus/latest/contributor-guide/create-new-extension.html . You'd start with

[code]

And then go on to adding tests to `integration-tests/cxf` and fixing the issues until the tests pass in both JVM and native mode.

[2021-08-06 15:00] #817 closed

[2021-08-06 16:05] zbendhiba commented on #2938
This [PR-2998](https://github.com/apache/camel-quarkus/pull/2998) adds more Producer test coverage :

- Passing in Salesforce headers and fetching Salesforce response headers
- Adding more tests using REST API
- Generating SOQL query strings using the QueryHelper

[2021-08-08 15:57] dufoli commented on #764
not working on windows.... and it will take too much time to make the build working on windows...

[2021-08-09 12:22] ppalaga commented on #764
Ups, sorry about that. Could you please report the issues your have? We'd be definitely interested in making the Windows builds work.

[2021-08-09 13:14] dufoli opened #2999 "creation of extension on windows failed"
OS : Windows

mvn cq:create -N -Dcq.artifactIdBase=cxf

error log:
[ERROR] Failed to execute goal org.l2x6.cq:cq-maven-plugin:0.38.0:create (default-cli) on project camel-quarkus: Execution default-cli of goal org.l2x6.cq:cq-maven-plugin:0.38.0:create failed: Illegal character [:] in path at index 4: ///D:\src\camel-quarkus/tooling/create-extension-templates -> [Help 1]

it come from main pom.xml:

[2021-08-09 13:16] dufoli commented on #764
@ppalaga
https://github.com/apache/camel-quarkus/issues/2999 for creation of extension on windows
on windows build another ticket already exists : https://github.com/apache/camel-quarkus/issues/1429

[2021-08-09 17:59] aldettinger commented on #2977
I think the root cause could be that [ApacheXMLDSig](https://github.com/apache/camel/blob/main/components/camel-xmlsecurity/src/main/java/org/apache/camel/component/xmlsecurity/processor/XmlSignerProcessor.java#L231..#L235) security provider is no more present in the native image.

The [release note for graalvm 21.2](https://www.graalvm.org/release-notes/21_2/#java-and-compiler-updates)  mention s

[2021-08-10 08:28] jamesnetherton opened #3001 "Reduce console log output from `EipTest.throttle`"
It'd be good if the number of `ThrottlerRejectedExecutionException` stack traces in the logs could be cut down a bit to make navigating through build logs a bit easier.

[2021-08-10 08:59] jamesnetherton opened #3002 "`CoreTest.testCamelContextAwareRegistryBeansInitialized` failing after RouteBuilder started implementing CamelContextAware"
Not sure what's going on with this. In the failure case, a bunch of `RouteBuilder` impls have been found via `registry.findByType(CamelContextAware.class)` and they all have a null `CamelContext`. On success they never show up in the registry lookup at all.

I can't replicate this locally. Maybe its related to the order of test execution.

[code]

[2021-08-10 10:09] jamesnetherton commented on #2977
Yep, that was indeed the problem. Had to add a `BuildStep` for `NativeImageSecurityProviderBuildItem` and get that provider registered.

[2021-08-10 14:44] zbendhiba commented on #2938
This [PR-3005](https://github.com/apache/camel-quarkus/pull/3005) adds REST streaming api, with and without RAW payload

[2021-08-10 18:54] ppalaga commented on #2999
Thanks for the report, @dufoli! Could you please try to remove the three slashes around here https://github.com/apache/camel-quarkus/blob/main/pom.xml#L543 as a quick workaround? I'll have a Windows VM available in ~2 weeks and I'd work on a permanent fix then.

[2021-08-10 19:50] dufoli commented on #2999
IT works!
does it work on linux  too ?
[code]

[2021-08-10 21:07] ppalaga commented on #2999
Yes, it does. Could you please submit it as a separate fix for this issue?

[2021-08-11 10:09] #2999 closed

[2021-08-16 07:12] jamesnetherton opened #3010 "Live reload of Kotlin routes does not work"
Start a Kotlin based app in dev mode, tweak the route source and no hot reload happens. The app continues to run unmodified.

It seems to be working on a simple non-camel Kotlin JAX-RS app, and it also works when modifying `application.properties`. Not sure why reloads do not trigger for the Camel bits.

[2021-08-16 07:47] languitar commented on #3010
For me hot reload starts in this case and remains in an endless loop. This makes the dev mode completely unusable then.

[2021-08-16 08:42] jamesnetherton commented on #2979
I'll do a workaround to override `google-cloud-graalvm-support` until we get a new `quarkus-google-cloud-services` release.

[2021-08-16 10:15] jamesnetherton commented on #2678
This has been fixed since Camel Quarkus 2.0.0. The root cause of the problem was fixed in aws-sdk 2.16.36.

[2021-08-16 10:15] #2678 closed

[2021-08-16 14:14] jamesnetherton commented on #2975
This has been fixed in `quarkus-infinispan-client`.

[2021-08-16 14:14] #2975 closed

[2021-08-17 10:21] #3001 closed

[2021-08-17 15:24] ppalaga commented on #2975
Is there nothing more left to do, like upgrade the quarkus-infinispan-client or re-enable the test? Just making sure that we can really forget about this issue :)

[2021-08-17 15:26] jamesnetherton commented on #2975
Only upgrade to Quarkus 2.2.0. The issue is already verified as fixed on the `quarkus-main` branch.

[2021-08-17 16:39] ppalaga commented on #3002
Observation: All of those RouteBuilders contain at least one bean producer method, although they themselves do not bear any Bean defining annotation.
Hypothesis (without checking any code): Arc handles them as beans because of those methods, but we (mistakenly) do not consider them as managed by Arc. As a result of that two instances of each of those Builders exist at runtime. One auto-created by

[2021-08-17 20:08] ppalaga commented on #3002
It took me some time till I realized that RouteBuilder became CamelContextAware very recently through this change: https://github.com/apache/camel/commit/148ce23162cd59b4c9548f00175f1749fac06d30#diff-f5f5e129daa69bcc30b62eac7c3ef1dffd748c1da3637d9c9d724d3ce8a316ccR40
This can thus only be reproduced with our camel-main branch

[2021-08-17 21:01] ppalaga commented on #3002
Indeed, it is reproducible in camel-main with a test like this https://github.com/ppalaga/camel-quarkus/commit/fc0834439bb782137a84264f63fbfd9fe0c64888 Also my hypothesis seems to work: the problem disappears when the RoutesBuilder is annotated with some Bean defining annotation, e.g. `@ApplicationScoped`.

[2021-08-18 07:04] jamesnetherton commented on #3002
Are you planning to provide a fix on `camel-main`? I'd like to have that branch building again so that we know where things stand.

[2021-08-18 15:27] jamesnetherton opened #3016 "XchangeTest failure due to deprecated binance WAPI endpoints"
Observed in https://github.com/apache/camel-quarkus/pull/3015. As the error message states, binance WAPI endpoints are deprecated and were apparently [delisted](https://www.binance.com/en/support/announcement/f45dde7da58b473aa885349946bed269) from the binance API at the beginning of August.

What's weird is that sometimes the tests pass fine and the WAPI endpoints are resolvable and sometimes a 50

[2021-08-18 16:05] jamesnetherton commented on #3016
I think the xchange Coinbase 'ticker' test is also broken, but it's been masked by a flaw in the test implementation:

[code]

[2021-08-19 07:39] tstuber commented on #2974
See also [this](https://camel.zulipchat.com/#narrow/stream/257302-camel-quarkus/topic/Platform.20HTTP.20component.20under.20load) discussion on Camel zulip chat.

[2021-08-19 08:51] #2977 closed

[2021-08-19 09:49] knupfera opened #3017 "Exception when configuring camel-kafka with environment variables in native mode"
### Versions

Quarkus: 2.1.2.Final
Camel: 3.11.0
Camel-Quarkus: 2.1.0

### Error:

2021-08-19 09:40:16,409 INFO  [org.apa.cam.qua.cor.CamelBootstrapRecorder] (main) Bootstrap runtime: org.apache.camel.quarkus.main.CamelMainRuntime
2021-08-19 09:40:16,410 ERROR [org.apa.cam.qua.mai.CamelMainRuntime] (main) Failed to start application: java.lang.IllegalArgumentException: Cannot find getter method: c

[2021-08-19 10:27] jamesnetherton commented on #3017
Try with `CAMEL_COMPONENT_KAFKA_CONSUMERSCOUNT=10`.

[2021-08-19 10:30] knupfera commented on #3017
Works. Thank you

[2021-08-19 10:30] #3017 closed

[2021-08-19 10:57] ppalaga commented on #3002
The real cause is a little bit different than my original guess. As I assumed, there are two instances of the builder per class: one with context set properly, and one with no context. But it is not because one is created by us and the other one by Arc. Both are created by Arc and it is correct so. Because the builder class has no explicit CDI scope, it gets the default `@Dependent` pseudo-scope.

[2021-08-19 11:00] ppalaga commented on #3002
This was surely not the original intention of the test. RouteBuilder did not implement CamelContextAware at that time.

[2021-08-19 11:03] vkasala opened #3018 "Add test coverage to messaging extesnions"
Increase test covreage for messaging extensions with following scenarios:
 * POJO consuming / producing
 * the destination computed at runtime (to:?)
 * Request Reply Scenario

[2021-08-19 11:57] ppalaga commented on #3002
Digging a bit more into the implementation if the Registry and what CamelContextAware beans are there, I'd say that the idea behind the test was to ensure that the CamelContextAware items in the fallbackRegistry have context set, not the ones managed by Arc. Let me propose a fix to the test.

[2021-08-20 06:38] jamesnetherton opened #3021 "`property` attribute with `@Consume` does not work"
As per the use case outlined here:

https://camel.apache.org/manual/latest/pojo-consuming.html#_advanced_use_with_property_naming_convention

If you try to use `property`, then it results in an NPE:

[code]

Not sure whether its feasible to support such a feature at build time, so we could document it as unsupported.

@ppalaga WDYT?

[2021-08-20 07:47] mmuzikar opened #3022 "Salesforce test failure"
*org.apache.camel.quarkus.component.salesforce.SalesforceTest.testGetAccountByQueryHelper* failed using real salesforce service with following stacktrace:
[code]

[2021-08-20 11:16] #3002 closed

[2021-08-20 11:42] ppalaga opened #3023 "Document the usage of partial Quarkus BOMs"
Since Quarkus 2.1, Quarkus platform produces a partial BOM for each participant and their tooling prefers suing these partial bom when generating new projects. We should document this around where we mention the universe BOM https://camel.apache.org/camel-quarkus/latest/user-guide/dependency-management.html

[2021-08-20 15:32] jamesnetherton commented on #2344
This is fixed in Quarkus 2.2.x. If you don't provide any `quarkus.infinispan` properties, then the clieant bean does not get produced to override the one managed by Camel.

[2021-08-20 15:32] #2344 closed

[2021-08-20 18:06] ffang commented on #2967
Eventually I find a way to fix this. And this discussion https://github.com/docker-solr/docker-solr-examples/issues/5 inspired

[2021-08-23 10:36] ppalaga commented on #3021
Let me have a look

[2021-08-23 11:08] aldettinger opened #3025 "kamelet: Test the kamelet location option"
Test the kamelet component query parameter named `location` that [has been added](https://github.com/apache/camel/commit/712a9a5e39a4ee51b4ab6ffde01b6f3bce79e8fd#diff-3ff692c0d442774944dd89f52d38dec27a65aa6ded4089c3ab6d361e1f1b87ee) . It should be possible to load a kamelet from an external file provided at runtime.

[2021-08-23 13:03] jamesnetherton opened #3027 "[Quarkus 2.3.0] `GooglePubSubTest` failure"
Observed on quarkus-platform main + quarkus main build and also on our `quarkus-main` branch build:

This issue may end up being solved when `quarkus-google-cloud-services` 0.10.0 is released, but it'd be nice to verify ahead of time if possible.

[code]

[2021-08-23 14:43] jamesnetherton commented on #3027
This may actually be related to the test container setup. In the logs there is:

[code]

The image being used is `google/cloud-sdk:latest`. It could be that the `latest` tag is the source of the problem. Maybe something has changed recently that has caused some issues.

[2021-08-23 17:11] #3025 closed

[2021-08-24 03:49] VratislavHais opened #3028 "Unsatisfying test coverage of binding mode in rest component"
Rest tests does not cover binding mode in org.apache.camel.component.rest.RestProducer class. Goal of this issue is to increase the coverage as much as possible.

[2021-08-24 08:28] jamesnetherton commented on #2621
Fixed when platform was upgraded to CQ 2.0.0.

[2021-08-24 08:28] #2621 closed

[2021-08-24 09:56] gsmet commented on #3027
So the problem is that the `GcpConfigHolder` (https://github.com/quarkiverse/quarkus-google-cloud-services/blob/main/common/runtime/src/main/java/io/quarkiverse/googlecloudservices/common/GcpConfigHolder.java#L6) is removed by ArC in `main` and not in older versions. If I make the `GcpConfigHolder` bean `@Unremovable`, things are working again. It's the second time someone complains about a CDI be

[2021-08-24 10:21] loicmathieu commented on #3027
`GcpConfigHolder` didn't exist before so it was a bug to let it be removable but using it blindly in a build step as I did. It didn't show in my integration test because it uses the `GcpCredential`. It's also a lack of tests at my side. And the quick fix is already done ;)

[2021-08-24 10:34] ppalaga commented on #3022
Any volunteer with Salesforce credentials?

[2021-08-24 12:12] jamesnetherton commented on #3022
I'll try to take a look.

[2021-08-24 13:47] #3021 closed

[2021-08-24 15:51] #3022 closed

[2021-08-24 20:26] ffang commented on #3002
Hi @ppalaga ,

Can we also cherrypick this fix to camel-main branch?

Thanks!
Freeman

[2021-08-25 09:13] ppalaga commented on #3002
Given that the fix was merged to main, cherry-picking to camel-main should not be necessary. camel-main may need rebasing on top of main though.

[2021-08-25 11:44] zhfeng commented on #2965
I also raise https://issues.apache.org/jira/browse/CAMEL-16891 to see if we can avoid the reflection of ```SunJaxb21NamespacePrefixMapper``` in camel.

[2021-08-25 13:01] manovotn commented on #3027
Is this resolved issue then, or is there some investigation to be done?

I recall there were some improvements done to the unused bean removal process here - https://github.com/quarkusio/quarkus/pull/18970
The algorithm should now be more thorough and can remove more beans than previously.

[2021-08-25 13:21] jamesnetherton commented on #3027
I tested with `quarkus-google-cloud-services` `0.10.0-SNAPSHOT` and it seems to have fixed things. The test is now passing.

[2021-08-25 13:36] #2744 closed

[2021-08-25 13:43] #2965 closed

[2021-08-25 13:55] ppalaga opened #3036 "Expand REST DSL test coverage"
The REST DSL has quite a few methods not covered by tests.

[2021-08-25 14:21] jamesnetherton opened #3037 "Intermittent failure of `GrpcTest.forwardOnError`"
I've seen this pop up a few times on CI:

[code]

[2021-08-26 18:17] ffang opened #3042 "xchange native itests failure"
Get error like
[code]
I'm not sure if this issue only exists on mac(I doubt it), but I'm pretty sure this issue happens since we upgrade to quarkus 2.2.0.Final(I got a full green build on my mac days ago without quarkus 2.2.0.Final upgrade)

[2021-08-27 06:05] #3042 closed, assigned to ffang

[2021-08-30 07:43] JiriOndrusek opened #3053 "Sql - enable test with different databases"
Enable camel-quarkus sql tests to be run with a different databases. Support following db types: https://github.com/quarkusio/quarkus/tree/main/extensions/jdbc.

These tests can be executed only through parameters and with use of the external DB. No driver or test DB will be added into the tests.

[2021-08-30 12:22] neoxu999 opened #3054 "JdbcAggregationRepository build error by spring JtaTransactionManager"
JdbcAggregationRepository requires  org.springframework.transaction.jta.JtaTransactionManager;

The spring requires spring-text. So when build the app, it will show an error
 Caused by: java.lang.NoClassDefFoundError: org/springframework/jndi/JndiTemplate

[code]

[2021-08-30 14:13] zhfeng commented on #3054
This error is happening in native building ? I think we have a integration test with JdbcAggregationRepository and please check it with https://github.com/apache/camel-quarkus/blob/main/integration-tests/sql/src/main/java/org/apache/camel/quarkus/component/sql/it/SqlRoutes.java

Also you should depend on ```camel-quarkus-sql``` and ```camel-quarkus-jta```.

[2021-08-30 17:03] ppalaga commented on #3054
@neoxu999 I am missing the reproducer. One option would be to modify the integration test in https://github.com/apache/camel-quarkus/blob/main/integration-tests/sql so that it fails due to your issue. Alternatively, you could attach a self-contained reproducer - a ZIP file with a Maven project or a a git repository URL containing a reproducer project.

[2021-08-31 08:40] jamesnetherton opened #3056 "Create a SQL / JDBC example project"
Seems that configuration for `DataSource` and general usage of it with `camel-quarkus-jdbc` & `camel-quarkus-sql` is a frequent source of confusion. So it'd be nice to go beyond pointing folks at integration tests and have a dedicated example that shows how to use the default `DataSource`, use a named `DataSource` etc.

[2021-08-31 13:00] zbendhiba commented on #2872
that was fixed in the bom of camel-quarkus 2.1.0

[2021-08-31 13:01] zbendhiba commented on #2872
wait for work here :  [quarkus-18998](https://github.com/quarkusio/quarkus/issues/18998)

[2021-08-31 17:07] oscerd commented on #2411
Soon was not too soon. I'll start to work on this week.

[2021-08-31 20:21] #3028 closed

[2021-08-31 23:47] neoxu999 commented on #3054
Hi @zhfeng , I tried native and JVM. Both didn't work with JdbcAggregationRepository

By the way, there is another issue with native "mvn clean package -Dnative"
No instances of java.net.SocksSocketImpl are allowed in the image heap as this class should be initialized at image runtime. To see how this object got instantiated use --trace-object-instantiation=java.net.SocksSocketImpl.

It complains

[2021-08-31 23:48] neoxu999 commented on #3054
Hi @ppalaga , thanks for the suggestion. I will download the source code and try it.

[2021-09-01 00:45] zhfeng commented on #3054
Thanks @neoxu999 and it seems that you open a socket for listening at the build time which is not allowed in the native mode. Anyway, as @ppalaga mentioned, it would be very helpful for providing a reproducer for us. We can take a further look at the issue.

[2021-09-01 08:30] VratislavHais commented on #2777
Hello. Please do assign me on this issue. Thanks.

[2021-09-01 10:26] #3036 closed

[2021-09-02 11:30] #3054 closed

[2021-09-02 11:51] neoxu999 commented on #3054
problem fixed by latest version. Thanks, @zhfeng , @ppalaga .

[2021-09-02 12:10] VratislavHais commented on #2777
finished so far:

- Operations: sendBatchMessage
- autoCreateQueue
- Delay queue

[2021-09-02 16:40] aldettinger commented on #2948
I had a quick look on the quarkus side and noted few facts:
Quarkus old jdbc and reactive datasource deprecated in 1.3 and deleted in 1.9
Quarkus Vertx axle and RX Java deprecated "since a while" and gone with 1.12

So at least, from time to time there is a delay.

[2021-09-03 10:23] ppalaga commented on #3054
You are welcome and thanks for reporting anyway!

[2021-09-05 19:07] zbendhiba opened #3067 "Salesforce : Impossible to custom fields for Platform events"
I tried to add an integration tests, that uses a Platform event with custom fields. While running on native mode, I get the following error.
`Test_Field__c` is the custom field.
[code]

[2021-09-06 13:17] jamesnetherton opened #3072 "Expand OpenAPI Java test coverage"
There are some additional scenarios we should verify

* OpenAPI V2
* restConfiguration().apiVendorExtension(true)
* `.apiProperty("cors", "true")`
* Some of the additional API properties mentioned in the component documentation
* REST producer with `apiDoc` URI option

[2021-09-07 06:32] VratislavHais commented on #2777
I have created https://github.com/apache/camel/pull/6054 as I need it in order to delete the queue created by autoCreateQueue option

[2021-09-07 10:43] ppalaga opened #3075 "Port the additional pom.xml setup in OpenAPI test to Quarkus platform"
see https://github.com/apache/camel-quarkus/pull/3073#discussion_r703387734
We probably need to adjust the XSLT we have there.

[2021-09-07 10:45] #3072 closed

[2021-09-07 10:59] jamesnetherton opened #3076 "[Camel 3.11.2 / Camel 3.12.0] Enable tests for OpenApi license and contact info"
Due to [CAMEL-16923](https://issues.apache.org/jira/browse/CAMEL-16923) I had to comment out the API configuration for license and contact info. It's fixed from Camel 3.11.2 / Camel 3.12.0.

https://github.com/apache/camel-quarkus/search?q=CAMEL-16923

[2021-09-08 07:27] Root-2k opened #3078 "Allow disabling periodic scan functionality"
Hello,

please provide a possibility to disable the timer, which periodically scans the file system for changes.

See _CamelHotReplacementSetup_ (_org.apache.camel.quarkus.core.devmode_)

The dev mode should behave like for a "plain" Quarkus project. When accessing a resource, the modifications should be applied. When this happens automatically/periodically, the server runs into problems when exec

[2021-09-08 07:51] jamesnetherton opened #3079 "Improve native support for `org.apache.http.impl.client.BasicAuthCache`"
`BasicAuthCache` attempts to do object serialization, so we need to handle that.

https://github.com/apache/httpcomponents-client/blob/rel/v4.5.13/httpclient/src/main/java/org/apache/http/impl/client/BasicAuthCache.java#L97-L146

Usage of the class is mentioned in the camel-http docs, so we should try to get it working properly in native mode.

[2021-09-08 08:05] aldettinger commented on #3079
In couchdb, we ended up doing a substitution:
https://github.com/apache/camel-quarkus/blob/main/extensions/couchdb/runtime/src/main/java/org/apache/camel/quarkus/couchdb/BasicAuthCacheAlias.java

Whatever the fix is, it's worth considering aligning solution.

[2021-09-08 08:15] aldettinger commented on #3079
There is also a comment in httpclient jira stating that serialization is [not a hard requirement for BasicAuthCache](https://issues.apache.org/jira/browse/HTTPCLIENT-2070?jql=project%20%3D%20%22HttpComponents%20HttpClient%22%20and%20reporter%20%3D%20aldettinger).

[2021-09-08 08:31] jamesnetherton commented on #3079
Then that fix probably belongs in `camel-quarkus-support-httpclient`.

[2021-09-08 09:00] aldettinger commented on #3079
Indeed, and maybe it's just a matter of configuring the serialization of AuthSchemes now that camel-quarkus supports serialization.

[2021-09-08 11:39] JiriOndrusek opened #3080 "Sql - enable stored procedure test for different db types"
[PR](https://github.com/apache/camel-quarkus/pull/3066) introduces support of different db kinds for testing.
Test `testSqlStoredComponent` is enabled only for `h2` db type. It should be possible to modify test to cover different db kinds.

[2021-09-09 09:45] ppalaga commented on #3079
I wonder why this has not been popping up in our HttpTest.basicAuth() test?

[2021-09-09 09:52] aldettinger commented on #3079
I was thinking maybe it's used only for preemptive auth but was not able to prove it with a test.

[2021-09-09 09:52] jamesnetherton commented on #3079
Because we don't explicity configure the `BasicAuthCache` in the tests and I guess the Camel component does not do so either.

[2021-09-09 11:10] ppalaga commented on #3078
@gnodet what was the original idea behind scanning periodically? I guess we could scan when a message passes any route, similar like they do with Kafka https://github.com/quarkusio/quarkus/blob/main/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/devmode/KafkaStreamsHotReplacementSetup.java

[2021-09-09 11:21] #3053 closed

[2021-09-09 11:24] lburgazzoli commented on #3078
As far as I recall, at that time the hot replacement stuffs were not so advanced, thus the timer was the most suitable solution.

btw: shouldn't the HotReplacementSetup be invoked only when using the dev mode ?

[2021-09-09 11:25] JiriOndrusek opened #3083 "Sql - enable all the DB kind tests on the CI"
Follows [PR](https://github.com/apache/camel-quarkus/pull/3066)

Enable CI testing of more db kinds for sql extension tests.
(should be done for all db kinds with dev services and without license requoirement)

[2021-09-09 13:21] ennishol opened #3084 "Opentracing can't be disabled via config"
I added camel-quarkus-opentracing extension and want to disable it in development, but configuration option
`quarkus.jaeger.enabled=false` doesn't work:
[code]

[observability.tar.gz](https://github.com/apache/camel-quarkus/files/7136763/observability.tar.gz)
Reproducer:
1. tar -xvpzf observability.tar.gz
2. cd observability/
3. mvn quarkus:dev
4. watch the console error trace
5. Please note plain

[2021-09-09 15:12] jamesnetherton commented on #3084
Unfortunately, I don't see a workaround to avoid the problem, other than to remove the `camel-quarkus-opentracing` dependency when in dev mode.

I proposed a fix for the next Camel Quarkus release in https://github.com/apache/camel-quarkus/pull/3085.

[2021-09-09 16:13] ppalaga opened #3086 "Split Quartz test into Quartz and Cron"
It is better to test those extensions in isolation.

[2021-09-09 16:15] ppalaga opened #3087 "Split HTTP test"
The HTTP test is covering several HTTP clients. We should split it and test those extensions in isolation.

[2021-09-09 17:15] #3084 closed

[2021-09-09 19:33] ppalaga opened #3088 "Split JSON dataformats test"
The test is currently covering various JSON dataformats. We should split it per JSON extension to be able to test in isolation.

[2021-09-09 19:44] ppalaga opened #3089 "Split MongoDB test into MongoDB and Mongo Grid FS"
The split is motivated by willing to test the extensions in isolation.

[2021-09-09 21:10] ppalaga commented on #3078
I also wonder what do you mean by this. The periodic scan should happen only when in dev mode, e.g invoked by `mvn quarkus:dev`. You mean other Maven invocations issued in parallel against the same source tree cause your problems?

[2021-09-10 06:38] ennishol commented on #3084
@jamesnetherton It's not only about dev mode. One could also want to disable the extension on the staging environment or some other deployment scenarios. Hopefully, your fix will be accepted. Thanks!

[2021-09-10 06:45] jamesnetherton opened #3091 "Improve handling of `quarkus.*.enabled` configuration properties"
#3084 got me thinking that we likely have this problem elsewhere and that we should respect & handle Quarkus configuration that disables functionality in extensions that we depend on. E.g:

* Disabling metrics
* Disabling health
* Disabling OpenTelemetry

There are likely other areas that need investigating.

[2021-09-10 11:26] ppalaga commented on #3086
Oh, there is no point in splitting these, because as stated in ​https://camel.apache.org/components/latest/cron-component.html
Cron is an interface component, that does not contain a default implementation, instead it requires that the users plug the implementation of their choice, such as quartz.

[2021-09-10 12:32] Root-2k commented on #3078
We have a [multi-module](https://quarkus.io/guides/maven-tooling#multi-module-maven) Maven project where the server-project is running in dev-mode. When we execute for example a _mvn clean install_ on a referenced module (dependency), we run into different problems - depending on the timing of the reload. We execute the Maven commands, because for example we execute annotation processors using Mav

[2021-09-10 12:37] jamesnetherton opened #3093 "Test `platform-http` with SSL enabled"
We should probably cover this. I see no reason why it wont work but it'd be good to verify it and the test can serve as an exmaple of how the server configuration is done.

[2021-09-10 12:47] jamesnetherton opened #3094 "Investigate build time configuration for `SSLContextParameters`"
We could investigate having some build time configuration for [`SSLContextParameters`](https://camel.apache.org/manual/latest/camel-configuration-utilities.html) which we can use to set up the global SSL config on the `CamelContext`. E.g like `camelContext.setSSLContextParameters(params)`.

Or taken a step further, leverage such configuration to configure Quarkus SSL. E.g for folks coming from a p

[2021-09-10 13:18] zhfeng opened #3095 "Investigate the large size of content uploading with camel-quarkus-aws2-s3"
Currently if the content size > partSize (the limit is 5MB accroding to  https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPart.html), the ```getObject``` operation after uploading will return a result contain ```chunk-signature```.

[2021-09-10 13:21] #2745 closed

[2021-09-10 13:30] zhfeng commented on #3095
The related camel ticket is https://issues.apache.org/jira/browse/CAMEL-16941

[2021-09-10 18:34] #3086 closed

[2021-09-11 10:38] VratislavHais opened #3097 "[Camel 3.12] enable autoCreate CI integration tests"
In camel 3.11.2 I have added a deleteQueue operation which is required for AWS2SQS testing added in https://github.com/apache/camel-quarkus/pull/3074

[2021-09-13 07:54] aldettinger commented on #3097
Indeed, deleteQueue was added to camel in commit https://github.com/apache/camel/pull/6054/files.

[2021-09-13 10:06] #3089 closed

[2021-09-14 01:26] zhfeng commented on #2590
@ppalaga I checked tests  with quarkus-amazon-s3 and basically they work since the ```S3Client``` could be wired automatically.
[code]
some notes:

1. it needs to add ```quarkus.s3.sync-client.type=apache``` in application.properties because we are using ```software.amazon.awssdk:apache-client```.  And the ```software.amazon.awssdk:url-connection-client``` is the default one in Quarkus.
2. it need

[2021-09-14 07:54] aldettinger commented on #2191
Hello @KurtStam :) Do you still have interest/fun with this ? Or maybe we should unassigned the ticket ?

[2021-09-14 09:54] ppalaga commented on #3078
Thanks for the explanation @Root-2k, it is much cleaner to me now. Yes, let's try to implement triggering a scan when a message passes any route.

[2021-09-14 10:02] ppalaga commented on #3094
I wonder whether build time SSLContextParameters would mean that changing a server certificate would require an application rebuild?

[2021-09-14 10:16] jamesnetherton commented on #3094
Yeah that's quite possible. I have no idea if this idea is viable, so the first step is just to investigate a bit.

[2021-09-14 10:29] #2938 closed

[2021-09-15 12:04] zbendhiba opened #3103 "Salesforce integration tests: possible failures"
Depending on the order in which the tests are run, the _testCDCAndStreamingEvents_ can get the wrong Document, and the test can fail.

[2021-09-15 12:43] #3091 closed

[2021-09-16 06:12] #3016 closed

[2021-09-16 06:13] #3079 closed

[2021-09-16 13:28] #2595 closed

[2021-09-16 14:28] jamesnetherton opened #3109 "Docs xref check failures"
Lots of xref check failures, probably due to things being reorganised on the Camel side.

To reproduce:

[code]

[2021-09-16 14:56] timonzi commented on #3078
The scan is already triggered by Quarkus when I access a resource (e.g. the frontend). So beside of the possibility to disable the **periodic** scan, no change is needed in my opinion.

[2021-09-16 16:10] djencks commented on #3109
The xref checker doesn’t support the symlinks we’re using now, so it can’t find any content.  I’ll look into upgrading this build to Antora 3.

Are there other sub-project partial doc builds that are likely to have the same problem?

Is this the cause of the recent “failed quarkus build” emails I’ve been seeing?

David Jencks

[2021-09-16 16:21] jamesnetherton commented on #3109
Yes, most likely. We run the xref checks on the CI build.

[2021-09-17 07:43] VratislavHais commented on #2777
Not yet covered:

- Batch Consumer
- KMS for encryption
- JMS like selectors
- use of AWS client

[2021-09-17 10:06] Delawen commented on #1280
I can take a look at this. Should I migrate all examples or just a selection of them?

[2021-09-17 10:26] vkasala commented on #3056
@jamesnetherton Do you have any reuqirements for such an example?
 * Configure DataSource via Quarkus Datasource
 * on OpenShift environment, use the Service Binding?

[2021-09-17 10:34] jamesnetherton commented on #3056
My initial thought was to keep it simple and just demo having the `DataSource` configured via the Quarkus config properties.

But I guess it could / should be extended to support having the config driven from the service binding bits.

[2021-09-17 10:38] zbendhiba commented on #3056
Maybe have a separate one for service binding. As the README gets confusing with different use cases ?

[2021-09-17 10:49] jamesnetherton commented on #1280
Maybe this issue should be closed. `mvn quarkus:dev` is pretty much the standard dev workflow. Command mode is not.

IMO it's enough to have a single example that demonstrates the Quarkus command mode stuff. Which we already have here:

https://github.com/apache/camel-quarkus-examples/tree/main/timer-log-main

[2021-09-17 11:59] #3076 closed

[2021-09-17 12:01] #2888 closed

[2021-09-17 12:04] jamesnetherton commented on #2796
This should be fixed since CQ 2.2.0. @oscerd maybe you can confirm?

[2021-09-17 12:05] oscerd commented on #2796
Yes, it works fine with 2.2.0 :-)

Thanks for helping

[2021-09-17 12:07] #2796 closed

[2021-09-17 12:25] Delawen commented on #3056
I can add them.

[2021-09-17 14:17] JiriOndrusek opened #3114 "Finish expanding of AWS DDB tests"
Follows https://github.com/apache/camel-quarkus/issues/2776.

Document that feature `Batch consumer` is not implemented because of https://issues.apache.org/jira/browse/CAMEL-16837

Expand extension's tests to cover:

- Our DDB extension should be able to work when quarkus-amazon-dynamodb is in the class path.

[2021-09-17 14:28] jamesnetherton opened #3115 "Could not find io.netty:netty-tcnative-boringssl-static"
`azure-core` depends on `netty-tcnative-boringssl-static`. Since the Quarkus main branch bumped to Netty 4.1.68, `camel-quarkus-support-azure-core` does not compile.

Seems the same issue as reported here https://github.com/netty/netty/issues/11691.

[code]

We should maybe investigate trying to cut out tcnative, but it leads to some native compilation issues.

[2021-09-19 10:38] #3093 closed

[2021-09-19 10:45] #3067 closed

[2021-09-19 16:25] #3103 closed

[2021-09-19 21:51] #1280 closed

[2021-09-20 11:40] jamesnetherton commented on #3109
This appears to be failing again.

https://github.com/apache/camel-quarkus/pull/3118/checks?check_run_id=3650176002

[2021-09-20 15:32] djencks commented on #3109
Well, this was a completely different problem, but https://github.com/apache/camel-quarkus/pull/3119 seems to fix it for me.

[2021-09-21 05:18] jamesnetherton commented on #3078
Since Quarkus 2.x you can toggle live reloads by pressing `l`, and if you need to, force a restart with `s`. That's one way that would enable you to keep the Camel functionality.

The problem with that for some scenarios is that you have to send messages to 'stale' endpoints to trigger the reload. E.g if I start with `from("file:/foo")` and update it to `from("file:/bar")`, I'd have to drop a file

[2021-09-21 06:48] timonzi commented on #3078
As I don't want to toggle every time the live reload in order to prevent errors or (partly) endless loops, I would prefer to have the option to disable the scan using an application property. If I need to reload the sources with a disabled period scan functionality, I can use the option to restart if needed.

[2021-09-21 06:57] lburgazzoli commented on #3078
IMHOI, providing some option to configure the live reload behavior would be a good think but I think here what we are looking for is probably [quarkus:run](https://github.com/quarkusio/quarkus/issues/9315) rather than quarkus:dev

[2021-09-22 07:53] jamesnetherton opened #3121 "Improve Kafka integration with Quarkus dev services"
Related to https://github.com/apache/camel-quarkus/issues/2939. It's not currently a seamless exprience to have camel-kafka configured to work with the container started by Quarkus dev services.

You have to manually fetch the values of the `kafka.*` properties set by Quarkus and set them on the Camel component or endpoint URI options. We already have a custom `KafkaClientFactory` that could do th

[2021-09-22 13:50] ppalaga opened #3123 "Make integration tests runnable against Quarkus Platform BOM"
Our integration tests can currently be run only against `camel-quarkus-bom`. However applications produced by https://code.quarkus.io/ import `io.quarkus.platform:quarkus-camel-bom` which may slightly differ from `camel-quarkus-bom`. So it would be nice to make the BOM GAV in the tests parametrized so that each integration test can be optionally run against `io.quarkus.platform:quarkus-camel-bom`

[2021-09-22 15:34] Delawen commented on #3056
Is this what you were looking for?

[2021-09-23 08:55] #3109 closed

[2021-09-23 16:31] nadworny opened #3129 "clientRequestValidation not working with camel REST DSL"
# Description
I have activated the `clientRequestValidation` and added `hibernate-validator` extension to [rest-json](https://github.com/apache/camel-quarkus-examples/tree/main/rest-json) example. When I send an invalid request, I'm not getting a `400` error code. Unless I misunderstood the validation feature described [here](https://camel.apache.org/manual/latest/rest-dsl.html#_client_request_val

[2021-09-24 06:29] #3121 closed

[2021-09-27 06:41] jamesnetherton opened #3130 "[Quarkus 2.4.0] AWT packages forced to be runtime initialized"
Quarkus has introduced `AwtFeature`, which forces runtime initialization of classes belonging to various AWT packages:

https://github.com/quarkusio/quarkus/blob/main/core/runtime/src/main/java/io/quarkus/runtime/graal/AwtFeature.java#L24-L32

We need to deal with this in our extensions. Currently the following native itest builds fail:

* FOP
* Google
* Mail
* OptaPlanner
* PDF
* Tika

[2021-09-27 07:25] ppalaga commented on #3129
It sounds like this is not Camel Quarkus specific behavior.
@davsclaus is the REST DSL request validation also expected to cover the situation when the json body cannot be deserialized to the requested Java type (like here due to a misspelled json attribute)?

[2021-09-27 09:27] davsclaus commented on #3129
No the request validation is only to match the Content-Type and Accept HTTP headers that the client send to Camel, and if they is accepted in the Rest DSL, where you can configure what a REST path supports.

This validator does not touch the message body/payload.

[2021-09-27 09:29] davsclaus commented on #3129
And also if there are missing body / query parameters if they were set to be required in the Rest DSL

[2021-09-27 09:29] davsclaus commented on #3129
So its working as designed, to get an error code for invalid parsing json data, then you can use onException and set the http error code you want.

[2021-09-27 09:53] davsclaus commented on #3129
We can likely improved this
https://issues.apache.org/jira/browse/CAMEL-17006

[2021-09-27 11:10] oscerd opened #3131 "Google-Storage Extension: Cannot set serviceAccountKey because of Quarkiverse extension"
I think this part of the quarkiverse extension

https://github.com/quarkiverse/quarkus-google-cloud-services/blob/main/storage/runtime/src/main/java/io/quarkiverse/googlecloudservices/storage/runtime/StorageProducer.java#L35

In this way we cannot use different configuration coming from:

https://github.com/apache/camel/blob/main/components/camel-google/camel-google-storage/src/main/java/org/apach

[2021-09-27 20:36] #2627 closed

[2021-09-28 02:02] zhfeng opened #3132 "[Camel 3.12] Remove the reflection register for SunJaxb21NamespacePrefixMapper"
following #2965 since [CAMEL-16891](https://issues.apache.org/jira/browse/CAMEL-16891) has been resolve in 3.12.0

[2021-09-28 06:19] jamesnetherton commented on #3132
I've already done this on the `camel-main` branch in https://github.com/apache/camel-quarkus/commit/9f3bb20664098a394125c93777e18e294ea01bc1.

[2021-09-28 07:11] zhfeng commented on #3132
Great - Thanks @jamesnetherton !

[2021-09-28 07:11] #3132 closed

[2021-09-28 12:45] zbendhiba commented on #2592
I guess I could check the SQS and SNS.

[2021-09-28 12:50] oscerd commented on #2592
Since camel-k rely on Quarkus extension, when switching to a Quarkus Extension from quarkus.io, please verify it doesn't have constraints or make assumptions like, injecting a client without taking into account the user would like to set it through the camel parameters

[2021-09-29 08:22] jamesnetherton opened #3137 "Enable `Aws2TestEnvContext` to handle setting up Quarkus AWS configuration properties"
Currently it only sets Camel component options and these are used in the aws quarkus-client grouped tests `Aws2TestEnvCustomizer` to set the corresponding Quarkus config.

It'd be better if the Quarkus properties were set in `Aws2TestEnvCustomizer`. The camel component properties aren't really needed when we test the Quarkus client scenario.

[2021-09-29 13:56] nadworny commented on #3129
Thanks @davsclaus. I see that the jira issue is resolved. Can I test it in this case?

[2021-09-29 18:06] ppalaga commented on #3115
This makes my parametrized BOM PR fail in Azure grouped test. I filed https://github.com/quarkusio/quarkus/issues/20461

[2021-09-29 21:11] #3123 closed

[2021-09-30 06:19] #2590 closed

[2021-09-30 06:56] davsclaus commented on #3129
Yeah its in the upcoming Camel 3.12.0 release

[2021-09-30 10:46] ennishol opened #3142 "RestClient: NullPointerException: Cannot read field "skipPattern" because "this.tracingConfig" is null"
When using open tracing and microprofile rest client I get the error:
[code]

Some logs:
[code]
Reproducer [observability.tar.gz](https://github.com/apache/camel-quarkus/files/7258879/observability.tar.gz)

1. tar -xvpzf observability.tar.gz
2. cd observability/
3. mvn quarkus:dev
4. browse http://localhost:8080/api/joke
5. or execute mvn test

Update: when fixed, update route in Route.java to mak

[2021-09-30 10:56] jamesnetherton opened #3143 "Docs xref check failures"
Another mountain of xref errors:

https://github.com/apache/camel-quarkus/runs/3754625199?check_suite_focus=true

[2021-09-30 11:20] ennishol commented on #3142
When I remove `camel-quarkus-opentracing` and corresponding config and `@Traced` annotations, then the application works fine

[2021-09-30 11:58] jamesnetherton commented on #3142
The workaround is to set a configuration property:

[code]

I need to dig into the problem a bit further. Seems strange that Quarkus is removing a type when the Camel extension is present.

[2021-09-30 13:34] jamesnetherton commented on #3142
@ennishol You may want to raise a Quarkus issue for this.

The same warning is present when you remove all of the Camel Quarkus dependencies and add `quarkus-smallrye-opentracing`. So it seems to be a general Quarkus OpenTracing issue, unrelated to Camel Quarkus.

[2021-09-30 14:08] ennishol opened #3145 "RestClient and Opentracing runs into StackOverflowError"
I have a project with RestClient and open tracing with jaeger
[code]

when the code is executed it runs into StackOverflowError:

[code]

In debugger, I see that the failing span is for the POST method of the rest client. Unfortunately, I can't reproduce it in a smaller project, but maybe one could point me in the right direction?

[2021-09-30 17:22] djencks commented on #3143
I’ll take a look shortly.  I think this indicates that the camel-quarkus partial website build is tied too tightly to the main website build. I may have a solution, but this current problem should be amenable to a short-term fix.

[2021-10-01 06:41] jamesnetherton commented on #3145
@ennishol Can you share an example application that demonstrates the problem?

[2021-10-01 09:47] lburgazzoli opened #3149 "Register camel <--> CDI event bridges only when observers for the events are detected"
As today, the `CamelContextRecorder` configures the `CamelContext` to automatically bridge camel events to CDI events:

https://github.com/apache/camel-quarkus/blob/be5149cf3b17bd153d07d9edfb5839a30d25f38a/extensions-core/core/runtime/src/main/java/org/apache/camel/quarkus/core/CamelContextRecorder.java#L66-L67

But if no observers for such events are defined, the camel <--> CDI event bridges shou

[2021-10-01 10:42] ennishol commented on #3142
@jamesnetherton  I created equivalent quarkus project and it works just fine. So, it seems that it is the combination of quarkus and camel is the problem

[2021-10-01 10:58] jamesnetherton commented on #3142
Ok, I can take another look.

[2021-10-01 11:39] jamesnetherton commented on #3142
Thinking that through some more. It'd be a hack & not a true fix. So it's Quarkus that should handle RestEasy not being present, if that is actually a valid scenario.

[2021-10-01 12:11] ennishol commented on #3142
@jamesnetherton  Thanks for looking into it. I added resteasy extension and now that fixed the problem

[2021-10-01 12:12] ennishol commented on #3145
@jamesnetherton  It seems that the problem was related to [Issue 3142](https://github.com/apache/camel-quarkus/issues/3142) I added resteasy extension and the error is gone

[2021-10-01 12:12] #3145 closed

[2021-10-01 13:41] jamesnetherton commented on #3130
Most of the issues should now be fixed. Except for Tika where I don't (yet) understand the root case of the native compilation error:

[code]

[2021-10-02 07:59] davsclaus commented on #3149
Also pay attention that ideally the CamelManagementEventBridge should only return true for the events groups it wants to listen for.

Its "expensive" to listen for exchange events as they are fired many times during routing. However events for starting / stopping camel context / routes are light and no problem.

camel-core has been optimized to handle these two kinds and does special optimization

[2021-10-04 11:02] jamesnetherton commented on #3143
@djencks are you able to assist with the latest set of breakages now that the project has upgraded to Camel 3.12.0?

https://github.com/apache/camel-quarkus/runs/3788781608?check_suite_focus=true

[2021-10-04 11:57] vkasala opened #3152 "Unify package names for the for the test in camel-quarkus-examples"
Current state:
<img width="1217" alt="Screenshot 2021-10-04 at 13 56 30" src="https://user-images.githubusercontent.com/4057338/135847256-ae6418c1-2bfe-4772-a306-1b9757b23a9a.png">

[2021-10-04 13:13] jamesnetherton commented on #2874
This was taken care of in https://github.com/apache/camel-quarkus/commit/c8793b83391e43760985ef62a1ae4854f7a363f6.

[2021-10-04 13:13] #2874 closed

[2021-10-04 16:41] djencks commented on #3143
Sure, but it's turning out to be fairly major.  The main website doesn't include 3.12.x yet, and there are numerous tasks to get it to work.... mostly meta-tasks to make things more automated.  Is anyone else working on this? I don't want to produce conflicts or step on anyones toes.  Is there a written-down procedure on how to update the main website after a release?  If not I'd like to write one

[2021-10-04 19:24] ffang opened #3154 "QuarkusKafkaClientFactoryDisabledViaPropertiesTest is broken"
If I have KAFKA_HOME environment variable like
[code]
Then in the org.apache.camel.quarkus.component.kafka.KafkaClientFactoryProducer class, the kafkaConfig.isEmpty() returns false, since it has one entry "home=test", and QuarkusKafkaClientFactory instance will be created

Moreover, in application-configuration-disable-service-binding.properties, the
[code]
actually takes no effect(I assume when t