[2020-06-22 20:13] lburgazzoli commented on #1376
This does not actually make sense as `ComponentsBuilderFactory` is static factory

[2020-06-22 22:40] ppalaga opened #1410 "Add styles for Quarkus config options fixed at build time"
We have `icon:lock[title=Fixed at build time]` in AsciiDoc, which translates to `<span class="icon"><i class="fa fa-lock" title="Fixed at build time"></i></span>` in HTML. We need some styles to make the icon and tooltip visible.

[2020-06-22 22:48] ppalaga commented on #536
We now have Camel Quarkus specific options on extension pages. Camel options are listed on the respective component pages to which we link from extension pages. I think we can close this as done. If you feel there is still something to do, please file a new issue that reflects the current state.

[2020-06-22 22:48] #536 closed

[2020-06-23 03:46] #1381 closed

[2020-06-23 08:26] lburgazzoli opened #1413 "Merge camel-quarkus-bom-deployment into camel-quarkus-bom"
Quarkus will probably deprecate quarkus-bom-deployment and merge its content into quarkus-bom [1], should we do the same ?

[1] https://github.com/quarkusio/quarkus/pull/10182

[2020-06-23 08:41] lburgazzoli opened #1415 "The CI should fail if there are uncommitted changes after the build"
See https://github.com/apache/camel-quarkus/pull/1407#discussion_r444046834

[2020-06-23 09:17] ppalaga commented on #1413
Let's wait for the result of the discussion on quarkus-dev ML.

[2020-06-23 09:22] #1388 closed

[2020-06-23 09:38] davsclaus commented on #1108
Okay so in Camel 3.5 we have removed the reflection in those api components. @jamesnetherton you are surely welcome to test with camel master if you can native compile and have those configuration classes no longer registerered for reflection

[2020-06-23 10:01] #1367 closed

[2020-06-23 10:27] ppalaga commented on #1108
I'll do, it is my responsibility this week.

[2020-06-23 11:08] #1376 closed

[2020-06-23 11:42] JiriOndrusek commented on #1298
Native support for nitrite is blocked by an issue in Quarkus https://github.com/oracle/graal/issues/460.
This error causes:

	at com.oracle.svm.core.util.VMError.unsupportedFeature(VMError.java:101)
	at java.io.ObjectOutputStream.writeObject(ObjectOutputStream.java:68)
	at org.h2.mvstore.type.ObjectDataType.serialize(ObjectDataType.java:356)

WIP for the nitrite support is prepared in this commit

[2020-06-23 15:24] #1395 closed

[2020-06-25 02:14] github-actions[bot] opened #1417 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 146897024-63-e1b385a8-a415-44fc-baf8-2a440abbfd10
* Camel Quarkus Commit: 7d0fc81a0d8047914bb9046814e20f1b6bbc4283

* Quarkus Master Commit: ef23e493c9309b1d92ff48b5e1e106e85ee957f7
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/146897024

[2020-06-25 07:25] ppalaga opened #1418 "Upgrade to Debezium 1.2.0.Final"
We should try to upgrade DBzium to 1.2.0.Beta2 because that's the version Quarkus platform is about to standardize on.

[2020-06-25 07:28] davsclaus commented on #1418
They just release 1.2 final
https://debezium.io/releases/1.2/

So the quarkus folks ought to use that

[2020-06-25 07:49] JiriOndrusek commented on #1418
Please, assign to me. I'll try to upgrade this version.

[2020-06-25 11:22] JiriOndrusek commented on #723
There were some failing test on CI after upgrade to surefire-plugin 3.0.0-M5. Problem was caused by using JPMS during execution of tests. There is a different behavior in default test executions on Oracle JDK and AdoptOpenJDK. Java modular system is by default turned on (since https://issues.apache.org/jira/browse/SUREFIRE-1570), but there is an option to turn it off (https://issues.apache.org/jir

[2020-06-25 13:20] ppalaga commented on #1413
The chance that the deployment BOM is going to survive is close to zero now.

[2020-06-25 13:22] ppalaga commented on #1413
The relevant discussions, for the record:
* https://groups.google.com/forum/#!topic/quarkus-dev/3uibBAc9g0c
* https://groups.google.com/forum/#!topic/quarkus-dev/LhQz9hRfYUA
* https://groups.google.com/forum/#!topic/quarkus-dev/UQ-KIt-kBSo

[2020-06-25 13:26] ppalaga commented on #1413
Quarkus is keeping their deployment BOM as an alias of their runtime BOM.

I guess we can remove the deployment BOM, because we are not assuming any third party depends on it?

[2020-06-25 13:30] lburgazzoli commented on #1413
We are not yet a 1.0 so - IMHO - we can safely do such kind of changes

[2020-06-25 15:11] #1237 closed

[2020-06-25 15:38] aldettinger opened #1421 "Jolt support"

[2020-06-26 03:54] #1417 closed

[2020-06-26 08:03] JiriOndrusek commented on #723
There is another difference in test summaries between 2.22.2 and 3.0.0-M5 -> reported as https://issues.apache.org/jira/browse/SUREFIRE-1812

[2020-06-26 08:33] jamesnetherton commented on #1406
Unless I'm missing something obvious, I thought we already did this? I.e via this [filter](https://github.com/apache/camel-quarkus/blob/39c2d2476044c3765ce038207d63185122791afd/extensions-core/core/deployment/src/main/java/org/apache/camel/quarkus/core/deployment/CamelRegistryProcessor.java#L77).

[2020-06-26 08:40] lburgazzoli commented on #1406
I've missed it :D

[2020-06-26 08:40] #1406 closed

[2020-06-26 14:51] jamesnetherton commented on #1303
TL;DR - `FastCamelContext` needs to be registered for reflection for the `camel.context.rest-configuration.*` config style to work in native mode.

It comes down to how `PropertyBindingSupport` resolves the target object to bind the property value. When using the short cut, the property name seen by `PropertyBindingSupport.setProperty` is stripped of the `camel.rest` prefix. E.g like `apiContextPa

[2020-06-26 15:59] ppalaga opened #1426 "[Quarkus 1.6.0?] Remove our dependency parity check once quarkusio/quarkus#10279 is fixed"
The code assembling `parityViolations` can be removed from tooling/scripts/validate-dependencies.groovy once the fixes https://github.com/quarkusio/quarkus/pull/10286 and https://github.com/quarkusio/quarkus/pull/10307 for quarkusio/quarkus#10279 reach us. The PRs are merged, but are not part of 1.6.0.CR1

[2020-06-26 16:05] ppalaga commented on #1274
Fixed im master  already by upgrading to Quarkus 1.6.0.CR1

[2020-06-26 16:05] #1274 closed

[2020-06-26 17:18] lburgazzoli commented on #1303
I thought that the RestConfiguration was instantiated only once after the first property set.

Btw since we have now a single configuration for rest we could avoid the getter/setter and simply create the rest configuration the first time the getter is invoked

[2020-06-26 20:25] #1313 closed

[2020-06-27 02:14] github-actions[bot] opened #1427 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 149355996-65-bae3cbf2-4d43-4295-9f45-926ece0271a5
* Camel Quarkus Commit: 0eed3af7c15a2d4d2e494572dee3451d2202d779

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/149355996

[2020-06-27 06:04] davsclaus commented on #1303
The style to configure rest is

[code]

And not

[code]

[2020-06-27 06:06] davsclaus commented on #1303
But we can look at a way to have a configurer generated for RestConfiguration as well.
https://github.com/apache/camel/blob/39cbd7f6866cb041d77f6fddc3c7c0721e4d0926/core/camel-core-engine/pom.xml#L135

[2020-06-27 07:02] davsclaus commented on #1303
I create a ticket in Camel
https://issues.apache.org/jira/browse/CAMEL-15247

[2020-06-27 07:03] davsclaus commented on #1303
btw you can see all the options you can set as properties here
https://camel.apache.org/components/latest/others/main.html

[2020-06-28 14:07] ppalaga opened #1428 "Document JTA extension usage"
It would be nice to have `extensions/jta/runtime/src/main/doc/usage.adoc` either showing a minimal example or containing a link to a page where a basic example can be found.

[2020-06-28 14:08] #1263 closed

[2020-06-28 21:32] ppalaga opened #1429 "Cannot build project on Windows"
Mentioned in https://issues.apache.org/jira/browse/SUREFIRE-1809?focusedCommentId=17147443&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-17147443 :

[code]

[2020-06-29 06:44] ppalaga commented on #1428
@zhfeng I cannot assign to you unless you add a comment

[2020-06-29 07:20] zhfeng commented on #1428
please assign this issue to me

[2020-06-29 07:20] zhfeng commented on #1428
Or is it possible I can assign to myself ?

[2020-06-29 08:11] lburgazzoli commented on #1303
I think that either we remove the option to set camel context specific bits via the `camel.context` prefix or we have to fix it as it is true that we have `main.rest` for the rest bits but the mechanic of the issue that James described could apply as example to the stream caching configuration

[2020-06-29 08:25] davsclaus commented on #1303
Its really only the options listed on that page that are reflection free configurable and intended for configuration via properties.

When you do `camel.context.xxx` you go of the track, and you can end up calling any APIs down the context, and its children etc. We will never be able to source code generate for every possible combination here.

The stream caching configuration is already on camel.

[2020-06-29 08:27] lburgazzoli commented on #1303
So IMHO we should remove the option to use `camel.context.xxx`

[2020-06-29 08:27] davsclaus commented on #1303
Quarkus is not the only one in the universe, and surely also not native mode. Camel Main is also used by camel kafka connector etc.

[2020-06-29 08:30] davsclaus commented on #1303
First level camel.context.xxx is possible as there is a configurer for that.

its when you do

camel.context.xxx.yyy.zzz

Where it depends what yyy.zzz are etc.

[2020-06-29 08:33] lburgazzoli commented on #1303
My only point is that if `camel.context.xxx.yyy.zzz` is allowed, then it has to work. If it is reflectively done or with a configurer, I don't mind and it is really not the point of my issue

[2020-06-29 11:19] davsclaus opened #1430 "Extension for camel-threadpoolfactory-vertx"
In Camel 3.5 we have a new module that would be good to make camel-quarkus use. We could consider having it by default in camel-quarkus or add an extension for it so users can add it or not.

This example was updated
https://github.com/apache/camel-examples/commit/014f9081122e32a1308621062f2099a7ec08c5ec

So basically it allows to use vertx worker threads for EIPs that are using concurrency (if th

[2020-06-29 11:33] davsclaus commented on #1303
Yes fair point, and to make camel.context.rest-configuration.xxx work in native mode is fixed by CAMEL-15247 and thus Camel 3.5 onwards.

[2020-06-29 14:58] jamesnetherton commented on #1197
@zhfeng can we close this now that we have the the JTA extension?

[2020-06-29 18:17] gus-maurizio opened #1431 "Question regarding AWS Credentials without XML beans"
This is a question, any help appreciated. Migrating from Spring boot, I have some specific needs to define for AWS-S3 a client configuration. In XML DSL is like this:
`<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://ww

[2020-06-29 18:19] gus-maurizio commented on #1431
original beans.xml
`<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="awsDefaultCredentialsProviderChain" class="com.amazonaws.auth.DefaultAWSCredentia

[2020-06-30 04:13] zhfeng commented on #1197
yeah, I close.

[2020-06-30 04:13] #1197 closed

[2020-06-30 07:37] aldettinger opened #1433 "[Serialization] Jolt: Remove the DeepCopySubstitution when/if graal supports Object serialization"
In #1421, the `DeepCopySubstitution` class was introduced to workaround [graal#460](https://github.com/oracle/graal/issues/460). Let's see what happen on the graal side, and remove the `DeepCopySubstitution` if possible.

[2020-06-30 07:42] #1421 closed

[2020-06-30 18:00] #838 closed

[2020-06-30 22:06] #1415 closed

[2020-07-01 06:36] Namphibian opened #1436 "Quarkus And XML Routes"
Hi Team.

Just seeking some guidance.

We have a large number of XML based routes. We would like to convert some of our project over to Quarkus however I am struggling as the lead to find information around how to go about this. We rarely drop down to java as XML can pretty much handle everything.

We tend to use the following structure:
1. beans.xml
2. camel.xml
3. route-xxxx.xml

The camel.xml f

[2020-07-01 08:07] ppalaga commented on #1436
The current maintainers of Camel Quarkus are definitely interested in a good XML routes support. However, any future plans depend on the interest and participation of the community.

The set of scenarios we currently test and thus support is rather narrow:

* https://github.com/apache/camel-quarkus/tree/master/examples/timer-log-xml
* https://github.com/apache/camel-quarkus/tree/master/integration

[2020-07-01 08:13] davsclaus commented on #1436
You have a spring xml file with <beans> - there is no future in that.

You can use Camel XML routes, eg as Peter points out - eg XML files with <routes> (not spring xml <beans> files)

[2020-07-01 12:39] lburgazzoli commented on #1431
There are a number of ways you can use to configure AWS S3 component, a simple one is to use properties, like [here](https://github.com/apache/camel-quarkus/blob/master/integration-tests/aws/src/main/resources/application.properties#L25-L27) but for a more advanced use case you can use a CDI producer, something like:

[code]

[2020-07-01 13:07] gus-maurizio commented on #1431
Thanks! I added your code and I get the following messages:
Caused by: org.apache.camel.PropertyBindingException: Error binding property (amazonS3Client=#s3Client) with name: amazonS3Client on bean: aws-s3://c7n.phoenix.cloudx.api.us-east-1?amazonS3Client=%23s3Client with value: #s3Client
...
Caused by: org.apache.camel.NoSuchBeanException: No bean could be found in the registry for: s3Client of t

[2020-07-01 13:14] lburgazzoli commented on #1431
yeah, to access named beans you need to add @Named to the producer method

[2020-07-01 13:17] gus-maurizio commented on #1431
same error. I must be doing something wrong

`
package com.example;

import javax.enterprise.context.ApplicationScoped;
import javax.ws.rs.Produces;

import javax.inject.Named;
import io.quarkus.runtime.annotations.RegisterForReflection;

import com.amazonaws.services.s3.AmazonS3;
import com.amazonaws.services.s3.AmazonS3ClientBuilder;

@ApplicationScoped
@Named("s3Client")
public class AWSCustomi

[2020-07-01 13:19] lburgazzoli commented on #1431
`@Named` should be on the method, like:

[code]

[2020-07-01 13:28] gus-maurizio commented on #1431
that worked. Thanks!!!
If I need to add more AWS clients, like AmazonSNS, can I leverage multiple methods (with Named and Produces in the same class? or do I need to add multiple classes?

[2020-07-01 13:40] lburgazzoli commented on #1431
same class is fine

[2020-07-01 13:44] ppalaga opened #1439 "JAX-RS endpoint accessible before Camel context is started"
Steps to reproduce:

Add `camel-quarkus-main` to the Box itest.

[code]

Even if I put some Thread.sleep() into BoxResource.uploadFile() (like in the case above), the message `Apache Camel 3.4.0 (camel-1) is starting` appears only after the enpoint invocation has failed.

[2020-07-01 13:48] gus-maurizio commented on #1431
Awesome

[2020-07-01 13:48] #1431 closed

[2020-07-01 14:11] gus-maurizio commented on #1436
we struggled with the same problem and were able to move most of the routes to the xml-jaxb method. Regarding beans, it is not too difficult to manage them. Thanks to @davsclaus and @lburgazzoli we have good pointers. Private message me for details, specially around AWS credential management (most of our beans were build for spring boot camel around the challenges of proxies, custom endpoints, and

[2020-07-01 14:12] gus-maurizio commented on #1436
Now, running a short lived lambda (10 minutes) that starts routes is a different story... :)

[2020-07-01 14:38] davsclaus commented on #1431
@lburgazzoli camel-quarkus based on camel-main ought to be able to auto discover those AWS Client beans that have been registered via @Produces (with or without @Named).

The option camel.main.autowireComponentProperties=true
https://camel.apache.org/components/latest/others/main.html

is supposed to do that by scanning the components for options that hasn't been set and scan in registry if there

[2020-07-01 14:42] davsclaus commented on #1436
Yeah we wont do a spring xml like for any kind of bean dependency injection - even spring boot is pushing away from xml configuration and into java @Bean annotations.

If you do not want to code at all, then maybe Camel K is more for you.

[2020-07-01 14:42] lburgazzoli commented on #1431
No it is not disabled but if you set it explicit like in this case:

    amazonS3Client=#s3Client

the producer should be marked as `@Named` otherwise it cannot be discovered by name

[2020-07-01 14:44] davsclaus commented on #1431
Ah yeah sure, so basically if @gus-maurizio removed the ?amazonS3Client=#s3Client from the endpoint uri, then camel-quarkus would auto detect his @produces bean and use it on the component level automatic.

You can see this as Camel has a log summary of what was wired when it startup

[2020-07-01 14:59] ppalaga commented on #1439
This change https://github.com/apache/camel-quarkus/commit/82ced6bef097ef093b6e74df0639b33d038ef462#diff-a9964e7593cf46ef67ba740e26900bb2L34-R52 in the Support Quarkus command mode commit seems to be the cause.

[2020-07-01 15:11] lburgazzoli commented on #1439
camel-main starts in its own thread so that's possible, in general there should be a readiness probe that only routes the requests when the application is ready

[2020-07-01 18:28] gus-maurizio opened #1441 "[QUESTION] is there an equivalent in Quarkus/Kotlin to application.properties:camel.springboot.duration-max-seconds?"
In spring boot there are two properties that stop the camel processes:
application.properties:camel.springboot.duration-max-seconds=20
application.properties:camel.springboot.duration-max-messages=5

Is there an equivalent for camel-quarkus (java or kotlin)?

[2020-07-02 00:04] Namphibian commented on #1436
Hey Team.

Thanks for the pointers. I understand the beans might be something we need to let go off. Been doing a lot more configuration in SB via yaml and properties as of late. Just trying to align my head around how we can migrate our stuff. I am running 4 AKS clusters in production using Camel primarily. Using Knative and Quarkus together is where I am heading as I would like to leverage Knati

[2020-07-02 04:12] #1427 closed

[2020-07-02 07:01] lburgazzoli commented on #1436
@Namphibian stackoverflow is fine but we also have a gitter room https://gitter.im/apache/camel-quarkus

[2020-07-02 07:46] JiriOndrusek commented on #531
Please, assign to me.

[2020-07-02 08:20] ppalaga commented on #1439
Fixed via https://github.com/apache/camel-quarkus/pull/1444

[2020-07-02 08:20] #1439 closed

[2020-07-02 08:34] lburgazzoli commented on #1441
There will be support in the next release 1.0.0.RC3 so if you add the camel-quarkus-main extensiosn to your dependencies, then you can do something like:

    camel.main.duration-max-seconds = 20

[2020-07-02 10:27] gus-maurizio commented on #1441
This is great news. Any hint on a date we can expect this? Is there documentation about this and other similar parameters like max-messages?

[2020-07-02 10:31] davsclaus commented on #1441
The options are listed here
https://camel.apache.org/components/latest/others/main.html

[2020-07-02 11:57] gus-maurizio commented on #1441
I assume this is not yet available on quarkus. Is there an example of how to use camel-main (ideally without the rest usual helloworld)?

[2020-07-02 12:04] lburgazzoli commented on #1441
There's the canonical timer to log example:  https://github.com/apache/camel-quarkus/tree/master/examples/timer-log-main

[2020-07-02 15:12] ppalaga opened #1448 "Add an integration test for the command mode"
Quarkus has some where we could look for an inspiration

* https://github.com/quarkusio/quarkus/tree/master/integration-tests/picocli - JVM using io.quarkus.test.QuarkusProdModeTest
* https://github.com/quarkusio/quarkus/tree/master/integration-tests/picocli-native - stock `@NativeImageTest`s, they seem to be focusing on command parsing

[2020-07-02 16:22] #531 closed

[2020-07-02 16:28] ppalaga opened #1449 "Document how to use mock in JVM mode tests"
It would be nice to have `extensions/mock/runtime/src/main/doc/usage.adoc` with an example showing that a mock endpoint can be injected into JVM test.

It would also be nice to have `extensions/mock/runtime/src/main/doc/limitations.adoc` informing that the above does not work (and why) in native mode.

[2020-07-02 17:37] #1441 closed

[2020-07-03 02:11] github-actions[bot] opened #1451 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 156081077-71-ce693b93-a40f-4b6d-a828-f7dcd7ad2f8d
* Camel Quarkus Commit: 8e718d514619fed322cefc8e0eb79d512564ed19

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/156081077

[2020-07-03 07:50] JiriOndrusek commented on #1449
Please, assign to me.

[2020-07-03 16:12] lburgazzoli opened #1453 "org.apache.camel.quarkus.main.CamelMainApplication should be registered for reflection"

[2020-07-05 05:16] Namphibian commented on #1436
Thanks mate. I will ask on the gitter as well. Starting to put some more exampled based on our work together will submit some more examples.

[2020-07-05 23:40] WillemJiang opened #1455 "src kit need to exclude the node installation"
When I check the src distribution of camel-quarkus 1.0.0-RC3, I found the file size is around 20MB.
There is some node related binary files in the src kit which should be exclude when build the src zip.

[2020-07-06 00:32] github-actions[bot] opened #1456 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 158706424-10-7d13861f-0e82-4ff8-aadd-4ac806281ccf
* Camel Quarkus Commit: a3a9649f889e3576d9cc2b40b82ab6c675266fe5

* Camel Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/158706424

[2020-07-06 05:20] #1455 closed

[2020-07-06 06:09] Namphibian opened #1459 "@Handler on Bean does not resolve method"
Hi Team.

Busy working on another example and came across the following error when using the ```@Handler``` on a bean.

Route below:
[code]

The bean definition:

[code]

The following exception is thrown.

[code]

Seems like ```@Handler``` is ignored completely.

If I change the bean definition to:

[code]

I get the following exception:
[code]

Is the ```@Handler``` annotation going to be used g

[2020-07-06 06:10] Namphibian commented on #1436
Going to close this and work on some examples of how to migrate. Thanks for the input.

[2020-07-06 06:10] #1436 closed

[2020-07-06 06:43] lburgazzoli commented on #1459
We need to make it working, I guess the issue is because the of the proxy generated by ArC.

I think you can make it working by removing the CDI annotations and by binding the bean to the the context like with a static method on your route builder class:, something like:

[code]

In the meantime we’ll investigate the issue with the `@Handler` annotation

[2020-07-06 08:15] #1418 closed

[2020-07-06 08:22] zhfeng opened #1460 "Unable to build from source release zip"
Currently, run ```./mvnw clean install -DskipTest``` in the download directory after unzip the release file. It will fail with
[code]

[2020-07-06 08:25] jamesnetherton commented on #1460
I was about to raise the same issue. In addition, validation checks fail. Specifically the one that checks that each itest module was added to `test-categories.yaml`. Currently, we don't include the `.github` directory in the source bundle so this check fails.

[2020-07-06 08:49] #1428 closed

[2020-07-07 00:06] Namphibian commented on #1459
Hi Team.

I can get it to work by changing the method to:

[code]

However the ```@Handler``` is definitely buggy as the following code **wont work:**

[code]

Seems like _method selection is working based on the parameters passed_ to methods. If there is no parameters it should use the ```@Handler``` to select the method. Specifying the bean method in the bean Uri like this ```to('bean:greeter?me

[2020-07-07 04:12] #1451 closed

[2020-07-07 06:21] #1449 closed

[2020-07-07 08:22] JiriOndrusek commented on #1430
Please, assign to me.

I'll try to use it in camel-quarkus. I'll try to add this module as an extension, having it by default in camel-quarkus can be the next step.

[2020-07-07 13:54] lburgazzoli commented on #1459
@Namphibian the issue is cause by the Greeter bean to be a proxy to the real bean and the annotations are lost, whilse I'm looking on how to solve the issue, do you mind having a look at https://github.com/apache/camel-quarkus/pull/1461 and see if using @BindToRegistry works for you ?

[2020-07-07 15:00] #1453 closed

[2020-07-07 15:23] lburgazzoli commented on #1459
Raised an issue on on Camel: https://issues.apache.org/jira/browse/CAMEL-15278

[2020-07-07 23:59] Namphibian commented on #1459
Hey @lburgazzoli

I have tried using the static binding method as you have detailed in the open pull [1461](https://github.com/apache/camel-quarkus/pull/1461  ) however this is not working on my side.

I am getting the following exception:

```Caused by: org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: bean://withHandler due to: No bean could be found in the registry fo

[2020-07-08 06:17] lburgazzoli commented on #1459
@Namphibian can you please provide a reproducer ?

[2020-07-08 09:21] JiriOndrusek commented on #1355
Please, assign to me.

[2020-07-08 09:22] #1460 closed

[2020-07-08 11:30] jamesnetherton commented on #1429
Fixing this uncovers a whole bunch of different problems building on Windows. Mainly around path, line separator and Docker differences.

[2020-07-08 12:44] gnodet commented on #1459
I've created https://github.com/apache/camel-quarkus/issues/1459 as a fix but a reproducer would be handy to make sure the synthetic flag is correctly set on the proxy class.

[2020-07-08 12:51] lburgazzoli commented on #1459
@gnodet I've created a reproducer here: https://github.com/apache/camel-quarkus/pull/1465

[2020-07-08 14:03] aldettinger opened #1466 "Add Grok Extension"

[2020-07-08 19:24] gnodet commented on #1459
The PR https://github.com/apache/camel-quarkus/issues/1459 seems to fix the test @lburgazzoli , so I'll go ahead and commit the fix in camel.

[2020-07-08 19:27] lburgazzoli commented on #1459
cool, mind backporting to 3.4.x ?

[2020-07-08 23:47] Namphibian commented on #1459
@lburgazzoli

Apologies I had a production issue yesterday and was stuck on that till early this morning. Do you still need a reproducer for the issue?

[2020-07-09 00:21] gnodet commented on #1459
Done

[2020-07-09 07:20] lburgazzoli commented on #1459
@Namphibian you said that the workaround I provided with the `@BindToRegistry` does not work so it would be nice to have a reproducer for that.

[2020-07-09 08:50] aldettinger commented on #1373
[quarkus#9693](https://github.com/quarkusio/quarkus/issues/9693) should be fixed in quarkus 1.7. Let's follow up on that one.

[2020-07-09 14:50] jamesnetherton opened #1468 "Intermittent failure of CamelDevModeTest"
Seems `CamelMainEventBridge` fires events after Quarkus is shutdown and thus the Arc container is `null`. Hence `IllegalArgumentException` is thrown [here](https://github.com/quarkusio/quarkus/blob/61d80b88280345f4f653bc730abd6f814e84cd11/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java#L696).

[code]

[2020-07-09 14:56] lburgazzoli commented on #1468
guess we need to guard against the `getEvent` returning `null` here: https://github.com/apache/camel-quarkus/blob/master/extensions-core/main/runtime/src/main/java/org/apache/camel/quarkus/main/CamelMainEventBridge.java#L89

[2020-07-09 15:24] jamesnetherton commented on #1468
Seems to be a race condition. Even with the guard it still fails occasionally. The Arc container must be getting nullified between firing the event and the Quarkus bits doing the `createNotifier` stuff.

[2020-07-10 05:43] #889 closed

[2020-07-10 08:19] lburgazzoli opened #1469 "Add support for smallrye-reactive-messaging-camel"
See https://github.com/quarkusio/quarkus/issues/1766

[2020-07-10 08:36] lburgazzoli opened #1470 "[Camel 3.5] Move FastUuidGenerator to Camel"
As the [FastUuidGenerator](https://github.com/apache/camel-quarkus/blob/master/extensions-core/core/runtime/src/main/java/org/apache/camel/quarkus/core/FastUuidGenerator.java) is not camel specific, we can bring it to Camel

[2020-07-10 14:09] ulrikian opened #1471 "Add Camel AS2 Modules as Quarkus Extension"
Hello,
most camel components are available as Quarkus extension, however AS2 is missing. We would appreciate if it was added as well.
Best regards, uli

[2020-07-10 14:19] oscerd commented on #1471
@JiriOndrusek would you mind having a look? Thank you!

[2020-07-10 14:21] lburgazzoli commented on #1470
https://github.com/apache/camel/pull/3990

[2020-07-10 14:37] JiriOndrusek commented on #1471
Please, assign to me.
I'll look into it during following week.

[2020-07-10 15:36] lburgazzoli commented on #1470
requires camel 3.5.0

[2020-07-12 02:23] github-actions[bot] opened #1472 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 166080565-80-f10820d4-3bc0-45df-9999-471f3bc5c0a5
* Camel Quarkus Commit: 6febdab8d7b874b7524c3d8a21f291b3fc1a61fc

* Quarkus Master Commit: 0684fee6e361b6f3788cf10c8fb447e09ecf007a
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/166080565

[2020-07-13 04:02] #1472 closed

[2020-07-13 09:51] ppalaga commented on #743
@bframke on which operating system are you reproducing this?

[2020-07-13 12:45] bframke commented on #743
We could reproduce this on Arch-Linux Manjaro and Ubuntu 16 & 18.04, but with our new application with newer camel and quarkus it no longer happens. So I'm not sure if this topic is still needed to be adressed.

[2020-07-13 14:04] ppalaga commented on #743
Happy to hear that, thanks for the info! Let's close based on the fact that @JiriOndrusek could not reproduce either.

[2020-07-13 14:04] #743 closed

[2020-07-13 14:30] gus-maurizio opened #1474 "Running a Camel-main batch application"
Hi. I have been trying to run a simple camel-main (new in CR3) application in java and kotlin. No luck.
Any examples or pointers highly appreciated (in java or kotlin, both better hehehe).

`
Exception in thread "main" java.lang.RuntimeException: java.lang.LinkageError: loader constraint violation: loader io.quarkus.bootstrap.classloading.QuarkusClassLoader @7068f7ca wants to load class io.quarkus

[2020-07-13 14:46] lburgazzoli commented on #1474
can you share an example ?
we have [this](https://github.com/apache/camel-quarkus/tree/master/examples/timer-log-main) small example but may not be what you were looking for

[2020-07-13 14:53] gus-maurizio commented on #1474
Ciao Luca. It is basically that example (with a few embellishments). Added the camel-main, camel-log, camel-timer to the pom.xml and it compiles ok. The problems are trying to do mvn clean quarkus:dev (I get the messages above) and java -jar ....-runner.jar when I get the messages below:

`
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/camel/quarkus/core/CamelConfig$$access

[2020-07-13 14:57] lburgazzoli commented on #1474
do you mind sharing the entire project ? just to be sure I'm testing the same thing

[2020-07-13 15:28] gus-maurizio commented on #1474
Sure!
https://github.com/gus-maurizio/data/tree/master/example-main

[2020-07-13 16:00] lburgazzoli commented on #1474
camel-quarkus 1.0.0-CR3 is based on quarkus 1.6.0.Final so I think the only think you need to do is changing the quarkus versionsin the pom

[2020-07-13 17:21] gus-maurizio commented on #1474
That did it. Thanks!

[2020-07-13 17:50] gus-maurizio commented on #1474
Just one more question.It seems like the bean used in some examples (pasted here below) is compiling fine but cannot be found. Has something changed in CR3 regarding CDI and injections?

`
package com.example;

import javax.enterprise.context.ApplicationScoped;
import javax.inject.Named;
import io.quarkus.runtime.annotations.RegisterForReflection;

@ApplicationScoped
@Named("myNamedBean")
@Registe

[2020-07-13 17:52] lburgazzoli commented on #1474
you need camel-quarku-bean extension, forget to tell you that before

[2020-07-13 18:05] gus-maurizio commented on #1474
Aha!!! wonderful, might be good to [add that in the documentation](https://camel.apache.org/camel-quarkus/latest/user-guide/cdi.html).
your next Chianti is on me!

[2020-07-13 18:05] #1474 closed

[2020-07-13 22:25] dhanendras opened #1475 "org.apache.camel.NoTypeConversionAvailableException: No type converter available to convert from type: java.util.HashMap to the required type: java.nio.ByteBuffer with value {name=e}"
java.lang.RuntimeException: org.apache.camel.NoTypeConversionAvailableException: No type converter available to convert from type: java.util.HashMap to the required type: java.nio.ByteBuffer with value {name=e}

I am trying to upload form data from postman and below is my Quarkus-camel code

  rest() .description("Upload Multiple Report via camel and netty")
		  .post("/submitodc")
		  .bindingMod

[2020-07-14 12:53] nicolaferraro opened #1476 "Add camel-master extension"
The [camel-master](https://camel.apache.org/components/latest/master-component.html) component has no corresponding extension in camel-quarkus.

[2020-07-14 12:56] jamesnetherton commented on #1476
Duplicate of https://github.com/apache/camel-quarkus/issues/711.

[2020-07-14 13:09] nicolaferraro commented on #1476
I see @dhirajsb was working on that, should we close this?

[2020-07-14 13:28] jamesnetherton commented on #1476
Yeah let's close. I'll add the other issue to the GA milestone so that we don't forget about it.

@dhirajsb are you planning to work on #711?

[2020-07-14 17:35] lburgazzoli commented on #1475
you probably need to convert the result of your processor to the required type if you want to reply back with some data.

I doubt this is a camel-quarkus issue but in any case, a reproducer would help

[2020-07-14 19:13] gus-maurizio opened #1478 "Starting a CamelMain instance from a function in kotlin (an AWS lambda handler)"
Need to run a full camelcontext in Kotlin Quarkus from an AWS lambda handler routine. This is working fine in Java and Spring.
I have a challenge starting the whole quarkus camel main. Any pointers?
Non working (null pointer exception) below:
`
package com.example

import java.io.*
import com.fasterxml.jackson.module.kotlin.*
import org.slf4j.Logger
import org.slf4j.LoggerFactory
import com.google

[2020-07-14 20:47] #1448 closed

[2020-07-15 12:53] ppalaga commented on #1413
Fixed via 4810732c14e20ef65e16f103e9fddb1fbdc3a57f

[2020-07-15 12:53] #1413 closed

[2020-07-15 13:01] ppalaga commented on #1402
Fixed by upgrade to Quarkus 1.6.0.Final

[2020-07-15 13:01] #1402 closed

[2020-07-15 14:06] ppalaga commented on #1370
@jamesnetherton could you please sum up what needs to be done here?

[2020-07-15 14:19] jamesnetherton commented on #1370
It's like I said. I think the issue is with vertx trying to bind on the port that was discovered by the `build-helper-maven-plugin`. So we could try the [`so-reuse-port`](https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.so-reuse-port) config option.

Or, maybe we don't actually need the `build-helper-maven-plugin` to do the free port discovery at all. If we configure the vertx

[2020-07-15 14:51] ppalaga commented on #1370
So setting `setReuseAddress(true)` on the `ServerSocket` in the `build-helper-maven-plugin` would not help?

`quarkus.http.so-reuse-port` would have to be set to `false`, right?
It would have to be set in every single test's `application.properties`?

[2020-07-15 14:57] lburgazzoli commented on #1370
but I think that wouldn't work as we then need to grab the port and configure rest assured ports.

[2020-07-15 15:20] jamesnetherton commented on #1370
Yeah, I don't think so. I've not proved it....

It'd need to be `true`. It also needs native transport to be enabled. E.g via `quarkus.vertx.prefer-native-transport`. They could just be set as system properties instead of polluting every `application.properties` file.

That may not be an issue. I think that's handled by Quarkus:

https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-ht

[2020-07-16 02:38] github-actions[bot] opened #1482 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 170775933-84-a0978e50-d901-4480-8310-3bfc594f0f4b
* Camel Quarkus Commit: e667fbfe0e49ef7ff841d1ac5992eba71632f10b

* Quarkus Master Commit: 9a933a5f9cfe12c5e425d8e416615ec926028233
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/170775933

[2020-07-16 05:38] jamesnetherton commented on #1468
I don't think this is fully fixed. I still see the occasional failure locally and the nightly quarkus-master sync job failed:

https://github.com/apache/camel-quarkus/runs/875865498

[2020-07-16 07:06] ppalaga commented on #1468
Do you happen to have a stack trace at hand?

[2020-07-16 07:07] ppalaga commented on #1468
One in how many failures do you see locally?

[2020-07-16 07:17] ppalaga commented on #1468
I am running `i=0; while mvn clean test; do echo "success $i"; i=$((i+1)); done` and I am at `success 25` without any failure.

[2020-07-16 07:26] jamesnetherton commented on #1468
Seems it's the same issue.

[code]

I just ran the build and it failed on the first try. The same thing happened yesterday.

Like I said in our chat on Monday, Quarkus shutdown tasks are executed in reverse order to which they were added.  The Arc shutdown task is added after Camel's, so it runs first. I'm not sure whether the current solution of awaiting camel shutdown actually helps much, becaus

[2020-07-16 07:30] ppalaga commented on #1468
Just to make sure: the name of the thread throwing the exception is `camel-main`?

[2020-07-16 07:33] jamesnetherton commented on #1468
Yes - seems so.

[2020-07-16 07:42] lburgazzoli commented on #1468
we can disable firing the shutdown events till we have a clear solution, there is still an option to register an handler that does not depend on CDI so if that's really needed, we have a workaround

[2020-07-16 08:07] ppalaga commented on #1468
There are two shutdown tasks added by `io.quarkus.arc.runtime.ArcRecorder`:

1. One that calls `Arc.shutdown()`
2. And one that calls `LifecycleEventRunner.fireShutdownEvent()`

I can see the following (IMO correct) ordering of the tasks on shutdown:

* `LifecycleEventRunner.fireShutdownEvent()`
* our `CamelRuntime.stop()`
*  `Arc.shutdown()`

[2020-07-16 08:20] ppalaga commented on #1468
I think I know what is the problem. My fix is flawed. Calling `CamelMain.ShutdownStrategy.await(long, TimeUnit)` does not wait for finishing `CamelMain.[beforeStart()|start()|afterStart()]`. Let me think of a better fix.

[2020-07-16 08:32] lburgazzoli commented on #1468
@ppalaga as `beforeStart()|start()|afterStart()` is invoked as part of `Runtime.start()`, then it should be completed when the `Runtime.start()` is completed, isn't it ?

[2020-07-16 08:48] ppalaga commented on #1468
Sorry, I meant `CamelMain.[beforeStop()|stop()|afterStop()]`

[2020-07-16 09:10] #1426 closed

[2020-07-16 10:29] ppalaga commented on #1403
The issue in Quarkus was fixed, let me check whether we need to adapt.

[2020-07-16 12:26] #1468 closed

[2020-07-16 17:20] #1459 closed

[2020-07-17 04:14] #1482 closed

[2020-07-17 05:35] jamesnetherton commented on #1309
Fixed in Camel 3.4.1 with [CAMEL-15277](https://issues.apache.org/jira/browse/CAMEL-15277).

[2020-07-17 05:35] #1309 closed

[2020-07-17 10:13] ppalaga commented on #1286
cq-maven-plugin 0.12.0 now ORs the deprecation info from camel catalog with the value of `quarkus.metadata.deprecated` property in the runtime module and passes it to `quarkus-extension.yaml`.

After adding/changing the `quarkus.metadata.deprecated` property, the quarkus metadata has to be re-generated using `mvn process-resources -Pformat`.

[2020-07-19 08:18] lburgazzoli commented on #1478
I think you may need something like [funqy](https://quarkus.io/guides/funqy) but I have not yet tested it with camel

[2020-07-19 08:28] lburgazzoli opened #1486 "Publish snapshots for quarkus-master and camel-master branches"
To add functionalities to the camel-k-runtime that may require a camel or quarkus version not yes supported by any camel-quarkus release, I need to build the whole chain which is ok but having snapshots available - even with all the limitations snapshots have - would help doing quick experiments.

We could have some versioning like:
- 999-SNAPSHOT --> camel-quarkus master
- XX-SNAPSHOT --> camel-q

[2020-07-21 03:16] github-actions[bot] opened #1487 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 176501281-89-9823c839-e873-4235-bdef-9ac951263c7d
* Camel Quarkus Commit: 8908e5eff363d6adee455f0ecdb3514df820f205

* Quarkus Master Commit: 44d1b7964062db79b762e11b1ec31b231ce11128
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/176501281

[2020-07-21 12:06] JiriOndrusek opened #1490 "Debezium test fails on branch camel-master"
There is a failure in integration-tests/debezium.

2020-07-21 14:00:35,141 ERROR [io.deb.emb.EmbeddedEngine] (Camel (camel-1) thread #0 - DebeziumConsumer) null
2020-07-21 14:00:45,142 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (executor-thread-1) HTTP Request to /debezium-postgres/receive failed, error id: 21b10f09-ecd8-45d1-b314-fe08f0ce3ab4-1: org.jboss.resteasy.spi.UnhandledException: java

[2020-07-21 12:06] JiriOndrusek commented on #1490
Please, assign to me.

[2020-07-21 12:08] JiriOndrusek commented on #1490
Test is successful on master branch.

[2020-07-21 14:42] JiriOndrusek commented on #1490
Reason is one issue in debezium 1.2.0.Final version, which is solved in 1.2.1.Final version. https://issues.redhat.com/browse/DBZ-2302

[2020-07-22 07:51] jamesnetherton opened #1491 "Create a vert.x http client extension"

[2020-07-22 10:04] jamesnetherton opened #1493 "OpenTracing integration test fails with Camel 3.5.0-SNAPSHOT"
Until now we seem to have avoided OpenTracing API incompatibilities between 0.31.0 (used by Quarkus) & 0.33.0 (used by Camel). The Camel `OpenTracingTracer` now invokes a method that is not present in 0.31.0, hence we see:

[code]

AFAIK - Quarkus will not move to OpenTracing 0.33.x until MicroProfile OpenTracing is upgraded to 2.0.

[2020-07-22 11:27] jamesnetherton commented on #1490
I updated the camel-master branch to use 1.2.1.Final. But there are still issues with native mode.

I had to register `io.debezium.embedded.ConvertingEngineBuilderFactory` for reflection and add `META-INF/services` for debezium-embedded to the native image. But some of the tests fail with an NPE.

[2020-07-22 11:49] jamesnetherton opened #1494 "Add support for Azure SDK12 components"
camel-azure will be marked as deprecated in 3.5.0, so we should add support for the newer components based on the Azure SDK 12:

* camel-azure-storage-queue
* camel-azure-storage-blob

[2020-07-22 12:07] JiriOndrusek commented on #1490
@jamesnetherton I'm looking into it now. I suppose that there will be needed some changes in debezium extension. (debezium 1.2.1 possible fixes one issue but bring several more)

[2020-07-23 05:23] #1244 closed

[2020-07-23 07:14] kesavkolla opened #1497 "[Camel 3.5/3.4.3] xml-io should pass namespace info to NamespaceAware elements"
Hi I'm trying to use xml based route using routes. I've a xpath expression which uses namespace and it's not taking defined namespaces in routes xml. How do I define namespaces? Here is my route xml

[code]

When I try to post XML file to handler endpoint I get the following error:

[code]

Can anyone point me how to define custom namespaces?

[2020-07-23 07:55] jamesnetherton commented on #1490
This has been fixed on the camel-master branch.

[2020-07-23 07:55] #1490 closed

[2020-07-23 15:42] #1380 closed

[2020-07-24 04:17] #1487 closed

[2020-07-24 10:16] jamesnetherton commented on #695
Fixed in https://github.com/apache/camel-quarkus/commit/6fa5685de2baa8a071475018ff0c44c7f90564e0.

[2020-07-24 10:16] #695 closed

[2020-07-24 14:13] jamesnetherton commented on #1476
Closing as its a dupe. I'll work on #711.

[2020-07-24 14:13] #1476 closed

[2020-07-24 15:22] jamesnetherton opened #1500 "Health example fails to start"
Not sure if I am missing something obvious here but the README states:

Camel supervising route controller will attempt to restart the route up till 10 times before exhausting.

Running the app fails with:

[code]

[2020-07-24 15:23] jamesnetherton opened #1501 "Add tests to example projects"
We should add some basic tests to each example project to validate that they work.

[2020-07-25 02:27] github-actions[bot] opened #1502 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 181913104-93-49672ca8-6acf-4109-88f2-f6ff933a890c
* Camel Quarkus Commit: fe42f10a5b8263cfcf7620ed4d4b8440229c28c9

* Quarkus Master Commit: 36c04ab508edac37a54705b3b0f48c1ab1a7d7a2
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/181913104

[2020-07-26 04:14] #1502 closed

[2020-07-27 09:36] ppalaga commented on #1501
In addition, I'd vote for not accepting new examples unless they have tests.

[2020-07-27 13:26] ppalaga commented on #1497
Rewriting the xpath expression (so that it ignores any namespace info) could perhaps serve as a workaround:

[code]

[2020-07-27 17:38] kesavkolla commented on #1497
:smiley: Yeah that is a workaround. This will cause XPath expression a bit complex. Specially when we have to deal with nested paths.

[2020-07-27 18:10] ppalaga commented on #1497
Yeah, I am not doubting there should be some user friendly way to set the prefix -> namespace mapping. The workaround may help in some situations while we do not have a proper fix.

[2020-07-28 02:54] Namphibian commented on #1459
Hey Team.

Had some resourcing issues due to Covid thus only catching up now. Do you need a reproducer still? I am going to produce some more examples for the repo shortly.

[2020-07-28 10:01] ppalaga commented on #1497
It looks like the Jaxb based XMLRoutesDefinitionLoader dropped in https://github.com/apache/camel-quarkus/pull/1292 would work as expected. The `xml-io` XMLRoutesDefinitionLoader (the only one we offer ATM) ignores namespaces. I think it needs to get fixed in Camel. Let me check that.

[2020-07-28 10:03] ppalaga commented on #1497
In other words, using camel-quarkus 1.0.0-CR2 and replacing the `camel-quarkus-xml-io` dependency with `camel-quarkus-xml-jaxb` might be another workaround.

[2020-07-28 12:29] davsclaus commented on #1493
They are on 0.33 on their master branch
https://github.com/eclipse/microprofile-opentracing/blob/master/pom.xml#L38

[2020-07-28 12:31] davsclaus commented on #1493
Maybe in the mean time we can make OpenTracingTracer in camel use the older api if its possible

[2020-07-28 14:20] ppalaga commented on #1497
Blocked by https://github.com/apache/camel/pull/4053

[2020-07-28 14:22] ppalaga commented on #1497
Thanks for reporting @kesavkolla !

[2020-07-28 15:51] kesavkolla commented on #1497
If I remove camel-quarkus-xml-io with camel-quarkus-xml-jaxb I get the following exception:

[code]

[2020-07-28 16:08] ppalaga commented on #1497
You need to take care that you use camel-quarkus 1.0.0-CR2 (rather than 1.0.0-CR3 that throws the above exception). If you generated your pom.xml using https://code.quarkus.io , you need to downgrade `quarkus.platform.version` to 1.5.0.Final (which should transitively pull camel-quarkus-bom 1.0.0-CR2, IIRC).

[2020-07-30 09:01] davsclaus commented on #1493
Quarkus 1.7 seems to be going with MP 1.3.3 that uses the older 0.31.0 version.

So we may look at making camel-opentracing use the older API if possible and then upgrade to 0.33+ later.

[2020-07-30 09:13] davsclaus commented on #1493
This is only relevant when upgrading to Camel 3.5, and for quarkus 1.7 we can stay on camel 3.4.2 release.

[2020-07-30 14:05] aldettinger opened #1505 "@BindToRegistry not working with @ApplicationScoped route builders"
This behaviour could be reproduced in camel-grok itests route by attempting to replace [explicit `bindToRegistry` calls](https://github.com/apache/camel-quarkus/blob/master/integration-tests/grok/src/main/java/org/apache/camel/quarkus/component/grok/it/GrokRoute.java#L32..L34) with `@BindToRegistry`.

The route can't start as @BindToRegistry Grok patterns are not present in the registry when GrokD

[2020-07-30 14:07] lburgazzoli commented on #1505
I think this is expected as back in the earlier days we decided that if you rely on CDi then you should use @Produces as it is more idiomatic

[2020-07-30 14:49] #1286 closed

[2020-07-31 07:14] davsclaus commented on #1493
Okay we have dropped back to 0.31.0 version
https://issues.apache.org/jira/browse/CAMEL-15354

[2020-07-31 07:30] ppalaga opened #1506 "UpdateExtensionDocPageMojo generates wrong link for Camel threadpoolfactory-vertx component"
In this PR https://github.com/apache/camel-quarkus/pull/1462/files#r450931852 the link

generated by UpdateExtensionDocPageMojo should be

Probably a special case.

[2020-07-31 07:55] ppalaga commented on #1466
Still not a fan of auto-closing ;), @aldettinger?

[2020-07-31 07:59] aldettinger commented on #1466
You caught me, this time I had really forgotten to close it :)

[2020-07-31 07:59] #1466 closed

[2020-07-31 08:03] ppalaga commented on #1340
This can be revisited now that https://github.com/apache/camel/pull/3965 is in Camel master.

[2020-07-31 08:15] davsclaus opened #1507 "vertx-websocket extension"
There is a camel-vertx-websocket component. We need an extension for this
https://camel.apache.org/components/latest/vertx-websocket-component.html

[2020-07-31 08:21] #1500 closed

[2020-07-31 10:47] ppalaga commented on #1506
Let's see if we can solve it in Camel https://github.com/apache/camel/pull/4061

[2020-07-31 20:26] #1403 closed

[2020-08-01 02:19] github-actions[bot] opened #1509 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 190789417-100-c49ce684-3b42-4d91-aab1-b5be5012376b
* Camel Quarkus Commit: 3cde1b294ecd2b5c029500c93c8edc10bd4fe950

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/190789417

[2020-08-03 06:10] jamesnetherton commented on #1507
Duplicate of https://github.com/apache/camel-quarkus/issues/1301.

[2020-08-03 06:10] #1507 closed

[2020-08-03 11:06] jamesnetherton opened #1510 "Add core extension to the list of extensions documentation"
On the extension list docs page, info about the `core` extension is kinda hidden behind links for other things like `simple`, `constant` etc.

We should add it as its own entry into the list, since it documents a lot of camel-quarkus [configuration properties](https://camel.apache.org/camel-quarkus/latest/extensions/core.html#_additional_camel_quarkus_configuration) that folks may find useful.

[2020-08-03 14:46] aldettinger commented on #1505
Thanks for sharing Luca, I was able to achieve this effect with [qualified producer fields](https://github.com/apache/camel-quarkus/commit/7736d416e0333cb41ce0bbd5652a803ca80a118a).

[2020-08-03 14:46] #1505 closed

[2020-08-03 23:36] Namphibian commented on #1501
Hey Team.

I am about to submit a new pull request with a new example project. My example does not have a test case yet and I am keen to get this in. However the only examples of test cases I have seen so far is using the REST interfaces in other words the camel routes are exposed as REST endpoints. Do we have examples of how to stop and start a route by itself and writing a unit test for that? In

[2020-08-04 04:15] #1509 closed

[2020-08-04 09:06] jamesnetherton commented on #1493
I verified this is fixed with the latest Camel 3.5.0 SNAPSHOT.

[2020-08-04 09:06] #1493 closed

[2020-08-04 13:55] aldettinger commented on #1373
So, it really was an occurrence of [quarkus#9693](https://github.com/quarkusio/quarkus/issues/9693). Since quarkus 1.6.1.Final, I couldn't reproduce anymore.

[2020-08-04 13:55] #1373 closed

[2020-08-04 13:59] jamesnetherton opened #1512 "Atmos native support"
Requested via Quarkus Zulip chat:

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/camel-atmos

[2020-08-06 07:47] jamesnetherton commented on #1108
I gave this a quick test with 3.5.0-SNAPSHOT and unfortunately hit some issues in native mode.

Seems we still have some logic that relies on reflective access to the component configuration classes.

https://github.com/apache/camel/blob/master/core/camel-support/src/main/java/org/apache/camel/support/component/AbstractApiProducer.java#L171

@davsclaus do you think that can be fixed?

[2020-08-06 08:15] davsclaus commented on #1108
@jamesnetherton yeah can you try with this commit (rebuild camel-core)
https://github.com/apache/camel/commit/96034dd0f964a31f1e8ee72409dcd848b78ef560

[2020-08-06 09:12] aldettinger opened #1517 "health example throws VerifyError as class MonkeyHealthCheck_ClientProxy overrides final method AbstractHealthCheck.addMetaData"
[code]
is throwing:
[code]
Should we could make AbstractHealthCheck.addMetaData non final ?
`quarkus.arc.remove-final-for-proxyable-methods` is not working on superclasses, maybe a feature to request at quarkus ?
Or recommend not to use proxy/inheritance ? I can't see a classy way however.

[2020-08-06 09:24] jamesnetherton commented on #1108
Tested box, braintree & olingo4 and they now all work fine in native mode without the configuration classes registered for reflection :+1:

Probably a separate discussion to this issue, but we could also remove the policy extension as proposed in https://github.com/apache/camel-quarkus/issues/699.

[2020-08-06 09:32] jamesnetherton commented on #1517
Or I wonder if it's simpler to refactor the the 'chaos' generator part of the health check, so that it doesn't need to be triggered from the Camel route. E.g flip the `up` flag on every invocation of `doCall`.

Then you could avoid the bean proxying / `@Inject`. I don't see users wanting to do that in most scenarios (IMO).

[2020-08-06 10:28] davsclaus commented on #699
All the Camel components now do not use reflection when configuring themselves. We have those generated Configurer classes today. Today we fixed one (hopefully last) issue in the api components that @jamesnetherton discovered. Thats fixed in Camel 3.5 onwards (we can backport to 3.4.3)

[2020-08-06 15:02] aldettinger commented on #1517
No proxy, no issue. Ok, I'm gonna try to do something without injecting proxy.

[2020-08-08 02:13] github-actions[bot] opened #1522 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 199968560-107-22a8a757-d174-4e64-be5d-5db17d647811
* Camel Quarkus Commit: 0bb9bec64c8af784342d3756ef9d2cc7cffe48b0

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/199968560

[2020-08-08 20:36] ppalaga commented on #1510
There was a discussion on dev@camel.apache.org https://www.mail-archive.com/dev@camel.apache.org/msg50968.html about whether the "List of Extensions" page should honor its name. Nobody seemed to oppose that idea. This issue could be solved by implementing it.

[2020-08-10 02:22] #1456 closed

[2020-08-10 07:49] lburgazzoli opened #1523 "Add entry in Quarkus MAINTAINERS.adoc"
We should mention camel here: https://github.com/quarkusio/quarkus/blob/master/MAINTAINERS.adoc

[2020-08-10 08:49] lburgazzoli commented on #1523
@jamesnetherton @ppalaga are you ok if I put you as primary contact ?

[2020-08-10 09:08] ppalaga commented on #1523
No problem

[2020-08-10 09:09] jamesnetherton commented on #1523
Fine with me.

[2020-08-10 12:59] #711 closed

[2020-08-10 13:01] #1469 closed

[2020-08-11 06:50] #1517 closed

[2020-08-11 10:28] lburgazzoli commented on #1523
Fixed by https://github.com/quarkusio/quarkus/pull/11316

[2020-08-11 10:28] #1523 closed

[2020-08-12 04:04] #1522 closed

[2020-08-12 13:05] jamesnetherton opened #1528 "Use composite run steps action to reuse steps common to each workflow"
https://docs.github.com/en/actions/creating-actions/creating-a-composite-run-steps-action#creating-an-action-metadata-file

It'd be nice if we could reduce the amount of duplicated logic we have across each of the various CI workflow files. We should be able to split out most of the common parts into reusable actions.

[2020-08-12 16:15] aldettinger commented on #1475
Hi @dhanendras, and thanks for sharing you experience with camel-quarkus. I agree with Luca's view on this ticket.
I played a bit with a route like:
[code]
And indeed, we hit an issue as there are no pre-registered [converters](https://camel.apache.org/manual/latest/type-converter.html) to translate a `Map` to a `ByteBuffer`.

In such situation, one may end up using [camel-quarkus-gson](https://ca

[2020-08-13 08:25] ppalaga commented on #1528
Is my understanding correct that each of those composite actions needs a separate git repo?

[2020-08-13 08:27] jamesnetherton commented on #1528
No, you can add them to the same repo with each action in their own directory and reference them. E.g:

[code]

[2020-08-13 09:10] ppalaga commented on #1528
OK, thanks, that makes them really handy!

[2020-08-13 11:23] ppalaga commented on #1506
The Camel PR was merged, and the https://camel.apache.org/components/latest/others/threadpoolfactory-vertx.html link works now.

[2020-08-13 11:23] #1506 closed

[2020-08-15 04:01] github-actions[bot] opened #1530 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 209395296-114-7592bb32-9002-448c-80c3-74cd134543df
* Camel Quarkus Commit: d5764b59acc88d42382032df2c399bbe113c56da

* Quarkus Master Commit: 6f7f29b9b15a7e729bc0d2dc9667ab27482d5dcf
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/209395296

[2020-08-15 13:56] Jeansen commented on #675
Any roadmap when it will be available for native and considered stable (instead of JVM + Preview)?

[2020-08-15 19:37] ppalaga opened #1531 "RabbitMQ native support"
Contributions are welcome. Adding an integration test would the the first step. ActiveMQ is a good place to look how such an integration test should look like https://github.com/apache/camel-quarkus/tree/master/integration-tests/activemq

[2020-08-15 19:38] ppalaga commented on #675
Created a separate issue https://github.com/apache/camel-quarkus/issues/1531

[2020-08-15 20:02] Jeansen commented on #1531
@ppalaga That was a quick reply ;-) I've already checked how the project is setup with extensions for quarkus and JVM. I also thought that the ActiveMQ extension would be a candidate to start with. Currently I am all new to Quarkus and Camel. But maybe I'll be able to contribute something.

So far I've already created a simple project with a camel route on my local system. Building native worked a

[2020-08-16 04:16] #1530 closed

[2020-08-16 14:45] ppalaga commented on #1531
Feel free to ask if you have specific questions. We also have a step by step guide for promoting extensions from JVM to native https://camel.apache.org/camel-quarkus/latest/contributor-guide/promote-jvm-to-native.html

[2020-08-17 00:39] github-actions[bot] opened #1532 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 211316579-16-d1f07be9-362b-47d6-89ef-c87befe61335
* Camel Quarkus Commit: 85cb9c2d31e9c7584188977640de82ee1fac8c18

* Camel Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/211316579

[2020-08-17 07:02] Jeansen commented on #1531
Oh, great. I'll check it out!

[2020-08-17 12:16] zbendhiba opened #1533 "Add ArangoDB component extension"

[2020-08-17 12:18] zbendhiba commented on #1533
I'm working on adding this component extension

[2020-08-18 08:33] #1510 closed

[2020-08-18 13:21] lburgazzoli opened #1538 "http related tests rely on external service that may sometimes be down"
https://restcountries.eu/rest/v2/alpha/cz is used by http tests but it may be down (as now) and break the tests

[2020-08-18 13:29] ppalaga commented on #1538
Time to fix restcountries?

[2020-08-18 13:31] lburgazzoli commented on #1538
wonder if we should use [mockserver](https://www.testcontainers.org/modules/mockserver/) module

[2020-08-18 13:32] oscerd commented on #1538
That project is mostly dead, there is a guy working on a fork of the apilayer restcountries API and he is providing a new url with the service up and running

[2020-08-18 13:36] oscerd commented on #1538
https://restcountries.com/v2/alpha/cz

[2020-08-18 13:38] jamesnetherton commented on #1538
Or just locally stub out whatever endpoint(s) we need with a JAX-RS resource class.

[2020-08-18 13:39] lburgazzoli commented on #1538
I think the only reason we use restcountries is because of the ssl

[2020-08-18 13:41] lburgazzoli commented on #1538
I don't know how simple it is to have an ssl and a non ssl endpoint in quarkus

[2020-08-18 13:47] lburgazzoli commented on #1538
I'm switching to the `restcountries.com/v2/alpha/cz` for the moment, then we need a better solution

[2020-08-18 13:56] ppalaga commented on #1538
Yeah, SSL was the main motivation for using restcountries

[2020-08-18 19:22] aldettinger opened #1541 "Flatpack component support"

[2020-08-19 06:52] #796 closed

[2020-08-19 14:09] ppalaga opened #1545 "Detect missing dependencies"
Citing @jamesnetherton from https://github.com/apache/camel-quarkus/pull/1543

In more general terms, it can happen that our extensions are missing explicit dependency on some Quarkus extension that happens to be pulled by quarkus-resteasy while our itests are still passing because resteasy happens to bring what's needed. A real world application not depending on resteasy may have issues.

Perhaps

[2020-08-19 14:24] kesavkolla commented on #1497
Is this issue fixed in latest 1.0.0 version?

[2020-08-19 14:47] ppalaga commented on #1497
No, the fix was done in the upcoming Camel 3.5.0 and also in the recently released Camel 3.4.3. So you'll have to wait for Camel Quarkus 1.1.0 or 1.0.1.
1.0.1 may appear within 10 days or so.

[2020-08-20 13:47] llowinge opened #1550 "Telegram test doesn't work"
Taking master branch,

Setting
`export TELEGRAM_AUTHORIZATION_TOKEN=ABCD`

and running

`mvn clean integration-test -pl :camel-quarkus-integration-test-telegram`

I'm getting:

[code]

Maybe it is connected to https://github.com/apache/camel-k/issues/1039#issuecomment-590949004.

Also i'm not sure, i totally understand the message `AuthorizationToken must be configured on either component or endpo

[2020-08-20 13:52] jamesnetherton commented on #1550
The test needs `camel-quarkus-main` for that to work. Can you try adding it?

[2020-08-20 14:00] llowinge commented on #1550
@jamesnetherton I've just randomly found your commit https://github.com/apache/camel-quarkus/commit/151feb0c1b7a1dba3ddd9f301a0e3925c2b1bbd9 one minute ago :D I've tried already and looks like it fixed that problem, but tests are failing, but i will investigate more.

[2020-08-20 14:22] #765 closed

[2020-08-20 15:27] lburgazzoli commented on #1071
There's localstack support from testcontainers https://www.testcontainers.org/modules/localstack/

[2020-08-20 15:56] oscerd commented on #1071
The behaviour is not the same. We already seen this on camel-k with kinesis and other stuff

[2020-08-20 16:22] vladimirfx opened #1553 "Cron component not initialized when used with Endpoint DSL (since Quarkus 1.7.0.Final)"
This crashes:

    from(cron("httpsLogsToDb").schedule(cron))

Stack:

    2020-08-20 19:05:02,668 ERROR [io.qua.application] (Quarkus Main Thread) Failed to start application (with profile dev): java.lang.RuntimeException: org.apache.camel.FailedToCreateRouteException: Failed to create route route9: Route(route9)[From[cron://httpsLogsToDb?schedule=0+0%2F1+*+*... because of Failed to resolve endpo

[2020-08-21 08:40] lburgazzoli commented on #1486
@jamesnetherton I think we can close this one right ?

[2020-08-21 08:43] lburgazzoli commented on #1071
but could be enough to have some smoke tests ?
just to be sure that for example the integration can start and connect

[2020-08-21 08:46] jamesnetherton commented on #1486
The build is here:

https://ci-builds.apache.org/job/Camel/job/Camel%20Quarkus%20SNAPSHOT%20Deploy/

I fixed a little issue this morning. I was going to wait till SNAPSHOTs from each branch had been published before closing. But if you want to close now, go ahead.

[2020-08-21 10:35] ppalaga opened #1557 "Use asciidoctor-antora-indexer to produce lists of extensions and components on the reference pages"
Followup of https://github.com/apache/camel-quarkus/pull/1552

The reference pages

* https://camel.apache.org/camel-quarkus/latest/reference/index.html
* https://camel.apache.org/camel-quarkus/latest/reference/components.html
* https://camel.apache.org/camel-quarkus/latest/reference/dataformats.html
* https://camel.apache.org/camel-quarkus/latest/reference/languages.html
* https://camel.apache.or

[2020-08-21 10:42] ppalaga opened #1558 "APNS native support"

[2020-08-21 11:04] ppalaga opened #1560 "Atom native support"

[2020-08-21 11:44] lburgazzoli opened #1561 "Automate the process of creating jvm only extensions"
We should create a GitHub work flow to automate the creation of JVM only extensions, something like:

- the action use the camel-catalog to check for missing component/language/dataformat
- the action create a jvm extension for elements for which an extension does not exist (checking a permit/deny list to filter out extensions) and open a PR

[2020-08-21 12:51] Nillkki opened #1563 "[Camel 3.5?] contextPath ignored for platform-http with REST DSL"
**Describe the issue**
contextPath not set when using platform-http component in REST DSL

**To Reproduce**
Add `camel-quarkus-rest`, `camel-quarkus-platform-http` and `camel-quarkus-openapi-java` extensions to project

Create RouteBuilder with:

[code]

Observer that /alive -endpoint is at http://localhost:8080/alive and not at http://localhost:8080/api/v1/alive

Is this expected behaviour? If so

[2020-08-21 13:11] Jeansen opened #1564 "make camel-management a camel-quarkus extension."
In a plain and simple Maven/Camel 3 project, I can - with a dependency of camel-management - easily use hawtio and jolokai to monitor or debug Camel routes. I've tried the same with a simple Quarkus project, but there is no extension for camel-management, yet.

If there are no other ways to access/monitor Camel routs via jolokai and hawtio (that I do not know of, yet), then I'd be happy to see cam

[2020-08-22 02:36] github-actions[bot] opened #1566 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 219251871-121-f8d7217f-b4c6-4919-9dc8-079235987410
* Camel Quarkus Commit: 05a735f2593c0f2cbbae3cca4bf14f79e3eac5fe

* Quarkus Master Commit: b3ffe82bdfb328bdcc9d4b28bfa2572180c3c49f
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/219251871

[2020-08-24 11:19] jamesnetherton commented on #1486
Snapshot builds for all branches are working now:

`master` branch - 1.1.0-SNAPSHOT
`camel-master` branch -  1.1.0-CAMEL-MASTER-SNAPSHOT
`quarkus-master` branch -  1.1.0-QUARKUS-MASTER-SNAPSHOT

[2020-08-24 11:19] #1486 closed

[2020-08-24 12:54] jamesnetherton commented on #1564
I gave an answer to a similar request here:

https://github.com/hawtio/hawtio/issues/2643#issuecomment-676560836

Not sure if we want to have a dedicated `camel-management` extension as the JMX bits can only work in the normal JVM mode and not natively. @lburgazzoli WDYT?

[2020-08-24 13:54] #1541 closed

[2020-08-24 13:56] ppalaga opened #1570 "Remove deprecated Atomix extension"

[2020-08-24 13:57] ppalaga opened #1571 "AWS 2 Kinesis native support"

[2020-08-24 13:57] ppalaga opened #1572 "AWS 2 Lambda native support"

[2020-08-24 13:58] ppalaga opened #1573 "Azure Storage Blob native support"

[2020-08-24 13:59] ppalaga opened #1574 "Azure Storage Queue Service native support"

[2020-08-24 14:01] jamesnetherton commented on #1494
Superseded by #1573 & #1574.

[2020-08-24 14:01] #1494 closed

[2020-08-24 14:18] JiriOndrusek commented on #1355
Fix is blocked by several issues:

- https://datastax-oss.atlassian.net/jira/software/c/projects/JAVA/issues/JAVA-2867
- https://github.com/datastax/cassandra-quarkus/issues/124
- https://github.com/datastax/cassandra-quarkus/issues/123

If mentioned issues are solved, it should be possible to use following changes to add support - https://github.com/JiriOndrusek/camel-quarkus/tree/QUARKUS1355_cas

[2020-08-24 15:02] jamesnetherton opened #1577 "Dropbox native support"

[2020-08-24 15:02] jamesnetherton opened #1578 "NATS native support"

[2020-08-24 16:14] ppalaga commented on #1531
Addressed in https://github.com/apache/camel-quarkus/pull/1579/commits/9752ff694fd4ad5607be25ac69c5481789930fe7

[2020-08-24 16:15] ppalaga commented on #1531
Resolved via #1567

[2020-08-24 16:15] #1531 closed

[2020-08-24 16:15] ppalaga commented on #1531
Thanks again, @Jeansen !

[2020-08-24 17:43] ppalaga opened #1580 "Bonita native support"

[2020-08-24 17:44] ppalaga opened #1581 "Remove deprecated Beanstalk extension"

[2020-08-24 17:45] ppalaga opened #1582 "Browse component native support"

[2020-08-24 18:48] ppalaga commented on #1582
Ups, sorry, a duplicate of https://github.com/apache/camel-quarkus/issues/1582

[2020-08-24 18:48] #1582 closed

[2020-08-24 18:51] ppalaga commented on #816
I created a JVM extension before I noticed, you have this assigned @jamesnetherton. Should I throw it away?

[2020-08-24 18:59] ppalaga opened #1583 "ChatScript native support"

[2020-08-24 19:02] ppalaga opened #1584 "Chunk native support"

[2020-08-24 19:04] jamesnetherton commented on #816
No it’s fine to keep it. I assigned this to myself a long time ago but have not worked on it.

I can look at native support at some point if you have not done so.

[2020-08-24 22:33] Jeansen commented on #1564
Well, even if it is only a solution for the JVM mode, I think during development it is quite helpful to have something like hawtio be accessible. Later on, in native mode, I do not think it is that relevant. But even if we could get the routs visualizations to work in native mode, it would - IMHO - be better, than nothing.

[2020-08-24 22:38] Jeansen commented on #1572
I think this one is quite simple to do, I'd give it a try this or next weekend.

[2020-08-25 04:27] #1566 closed

[2020-08-25 04:46] davsclaus commented on #1564
I think its a good idea, we should add in its documentation that native mode is not supported as JMX itself is not supported there. So some extensions would be JVM mode only (there is also camel-jmx etc).

We do have today a way in the catalog to mark the extension as JVM only.

[2020-08-25 04:47] ppalaga commented on #1572
That's highly welcome, unless @oscerd has something in the works?

[2020-08-25 04:48] oscerd commented on #1572
Hello @Jeansen

Feel free to work on this extension :-)

Thanks a lot for your time!

[2020-08-25 06:28] ppalaga opened #1586 "CM SMS Gateway native support"

[2020-08-25 06:32] lburgazzoli commented on #1564
I don't think having an extension for camel-management would be a huge issue however I'd like to know more about the use case especially as it seems the main use case here seems to be relate to dev experience.

In general I don't think traditional monitoring solution based on jmx are the right thing for camel-quarkus as the target is the cloud and containerized workload and exposing jmx is IMHO no

[2020-08-25 06:34] ppalaga opened #1587 "CMIS native support"

[2020-08-25 06:40] ppalaga opened #1588 "CoAP native support"

[2020-08-25 07:27] ppalaga opened #1589 "Corda native support"

[2020-08-25 08:10] jamesnetherton opened #1591 "DNS native support"

[2020-08-25 08:18] jamesnetherton opened #1592 "Remove deprecated etcd extension"

[2020-08-25 08:39] ppalaga opened #1593 "Crypto (JCE) native support"

[2020-08-25 09:15] ppalaga opened #1594 "DigitalOcean native support"

[2020-08-25 09:24] ppalaga opened #1597 "Disruptor native support"

[2020-08-25 09:27] ppalaga opened #1598 "Deep Java Library native support"

[2020-08-25 09:37] ppalaga opened #1599 "Drill native support"

[2020-08-25 11:22] JiriOndrusek commented on #1598
Please, assign to me.

[2020-08-25 11:33] jamesnetherton opened #1601 "jakarta.xml.bind:jakarta.xml.bind-api version alignment issues"
Seen on the camel-master branch:

[code]
]

See also: https://issues.apache.org/jira/browse/CAMEL-15463.

[2020-08-25 11:42] ppalaga opened #1602 "Speed up the CI"
Here an idea what we could do:

## Current state

* The initial build on Java 11 runs with tests `./mvnw -V -ntp ${BRANCH_OPTIONS} clean install`
* As a consequence of that all the other jobs have to wait for the JVM tests (40+ mins IIRC) to finish

## Proposed state

* The initial build on Java 11 should skip the tests and Quarkus mojos:
`./mvnw -V -ntp ${BRANCH_OPTIONS} clean install -DskipTests

[2020-08-25 12:08] jamesnetherton commented on #1602
Sounds ok to me in principal.

Some of the examples have itests, so maybe we should run those in their own group?

[2020-08-25 12:56] aldettinger opened #1605 "ClassNotFoundException thrown when using onException in native mode"
A camel-quarkus user could face a `ClassNotFoundException` when using `onException` in native mode, for instance the following route :
[code]
Could produce a stack trace similar as below:
[code]

I can't see any way to avoid loading the exception class during camel `onException` handling.
I don't think we could register exception classes as reflective from an extension without access to route defi

[2020-08-25 13:09] aldettinger commented on #97
onException handling would also profit from build time route inspection as `onException(MyException.class)` would require `MyException.class` to be listed among the classes that require reflection.

[2020-08-25 13:09] aldettinger commented on #1605
Relate to #97

[2020-08-25 13:55] squakez commented on #798
Hello there. I am interested in contributing to camel quarkus extensions, can I pick this component or anybody already worked on it by any chance?

[2020-08-25 14:24] ppalaga commented on #798
Thanks, that's highly welcome!

This guide may help: https://camel.apache.org/camel-quarkus/latest/contributor-guide/create-new-extension.html

[2020-08-25 15:10] lburgazzoli opened #1607 "Provide a quick profile"
As mentioned in [this](https://github.com/apache/camel-quarkus/pull/1606#discussion_r476512634) comment, it would be nice to have a `quick` profile that can be used to quickly install camel-quarkus

[2020-08-25 20:07] #1602 closed

[2020-08-26 07:19] Nillkki opened #1608 "MongoClientName annotation class not available when using camel-quarkus-mongodb extension"
**Describe the issue**
`@io.quarkus.mongodb.runtime.MongoClientName` -annotation class not available when using `camel-quarkus-mongodb` extension. Annotation works with `quarkus-mongodb-client` but not if both extensions are present.

**To Reproduce**
Add mongo extension and set `quarkus.mongodb.users.connection-string` in application.properties

Try to inject MongoClient into any bean:
[code]

Ob

[2020-08-26 07:23] lburgazzoli commented on #1608
@Nillkki do you maybe have a reproducer ?

[2020-08-26 07:42] Nillkki commented on #1608
Made a repo to reproduce the issue: https://github.com/Nillkki/camel-quarkus-mongo-example

[2020-08-26 07:55] lburgazzoli commented on #1608
@squakez since you have been working with mongodb, mind having a look ?

[2020-08-26 08:06] squakez commented on #1608
Yes, I can have a look

[2020-08-26 09:20] ppalaga opened #1611 "ZooKeeper native support"

[2020-08-26 09:21] ppalaga opened #1612 "ZooKeeper Master native support"

[2020-08-26 09:23] ppalaga opened #1613 "Zendesk native support"

[2020-08-26 09:25] ppalaga opened #1614 "Remove deprecated Yammer extension"

[2020-08-26 09:29] ppalaga opened #1615 "XSLT Saxon native support"

[2020-08-26 09:30] ppalaga opened #1616 "XMPP native support"

[2020-08-26 09:32] ppalaga opened #1617 "XML Security native support"

[2020-08-26 09:40] #1601 closed

[2020-08-26 11:42] #1605 closed

[2020-08-26 11:50] jamesnetherton opened #1622 "IOTA native support"

[2020-08-26 11:50] jamesnetherton opened #1623 "IPFS native support"

[2020-08-26 11:51] jamesnetherton commented on #1623
Urgh! - duplicates https://github.com/apache/camel-quarkus/issues/770.

[2020-08-26 11:51] #1623 closed

[2020-08-26 12:39] ppalaga commented on #769
A JVM-only extension is underway.

[2020-08-26 12:39] ppalaga opened #1625 "Workday native support"

[2020-08-26 12:42] ppalaga opened #1626 "Wordpress native support"

[2020-08-26 14:01] ppalaga commented on #771
JVM only extension is underway.

[2020-08-26 14:43] ppalaga opened #1630 "Web3j Ethereum Blockchain native support"

[2020-08-26 14:44] ppalaga opened #1631 "Weather native support"

[2020-08-26 14:47] ppalaga commented on #837
Any progress on this one @dc2tom? I am about to add an auto-generated JVM-only Velocity extension. If you had an integration test ready, going native would be easy.

[2020-08-26 14:48] jamesnetherton opened #1632 "SmallRyeReactiveMessagingIT fails intermittently"
This pops up on the CI build occasionally:

[code]

[2020-08-26 14:49] ppalaga opened #1633 "Twilio native support"

[2020-08-26 15:02] dc2tom commented on #837
I've created a pull request with what I had so far https://github.com/apache/camel-quarkus/pull/1634

Unfortunately due to other commitments I wasn't able to progress this further than what I've just uploaded

[2020-08-26 15:21] ppalaga opened #1635 "Stub native support"

[2020-08-27 07:47] ppalaga opened #1638 "Ehcache native support"

[2020-08-27 07:48] ppalaga opened #1639 "Remove deprecated ElSQL extension"

[2020-08-27 07:53] ppalaga opened #1640 "Facebook native support"

[2020-08-27 07:54] ppalaga opened #1641 "Flink native support"

[2020-08-27 08:03] ppalaga opened #1642 "FOP native support"

[2020-08-27 11:56] ppalaga opened #1644 "Remove deprecated Ganglia extension"

[2020-08-27 11:58] ppalaga opened #1645 "Geocoder native support"

[2020-08-27 12:20] ppalaga commented on #924
Giving up the second time

[2020-08-27 12:24] ppalaga opened #1646 "Guava EventBus native support"

[2020-08-27 12:28] ppalaga opened #1647 "Hazelcast native support"
There is a Hazelcast Client extension by Hazelcast https://github.com/hazelcast/quarkus-hazelcast-client

[2020-08-27 12:30] ppalaga opened #1648 "HBase native support"

[2020-08-27 13:30] JiriOndrusek commented on #1642
Please, assign to me.

[2020-08-27 13:31] JiriOndrusek commented on #1598
DJL native support can not be finished without changes in DJL library. Djl library heavily depends on JNA (mostly models). Full support for JNA is not available or planned (see https://github.com/oracle/graal/issues/673 or https://github.com/oracle/graal/issues/1701)

Here is a stack trace with error caused by JNA from model.

	at com.oracle.svm.jni.access.JNINativeLinkage.getOrFindEntryPoint(JNIN

[2020-08-27 15:34] ppalaga commented on #1648
Even a JVM extension is hard to do due to dependency alignment issues and due to the fact that there is no way to configure the component not to connect to the cluster at startup. Here my today's attempt that basically works, but is not good enough to be merged: https://github.com/ppalaga/camel-quarkus/commit/f2401f3feb8563b80b3b72a739b206fdd7017b61

[2020-08-27 15:36] ppalaga opened #1649 "HDFS native support"

[2020-08-27 15:43] squakez commented on #1608
The issue seems to be related by the fact that we're actually using a default [Mongo Client in camel component extension](https://github.com/apache/camel-quarkus/blob/master/extensions-support/mongodb/deployment/src/main/java/org/apache/camel/quarkus/support/mongodb/deployment/SupportMongoDBProcessor.java#L38). I am trying to debug to see how to fix that and allow the usage of any "named" connecti

[2020-08-27 21:18] ppalaga opened #1652 "Hipchat native support"

[2020-08-27 21:20] ppalaga opened #1653 "IEC 60870 native support"

[2020-08-27 21:22] ppalaga opened #1654 "Ignite native support"

[2020-08-28 07:55] lburgazzoli commented on #1608
in any case I think it should not result in a NPE

[2020-08-28 08:21] ppalaga opened #1656 "JBPM native support"

[2020-08-28 08:29] ppalaga commented on #1622
@jamesnetherton FYI, I am adding IOTA JVM-only extension via https://github.com/apache/camel-quarkus/pull/1657

[2020-08-28 09:47] ppalaga opened #1658 "Incremental testing on the CI"
I am considering to use GIB https://github.com/vackosar/gitflow-incremental-builder to implement the $subj.

A quick dump of things that are necessary for it to work:

### No "hidden" deps

"Hidden" dependencies of Maven module M are such dependencies, that are required by the module M at build time, but they are not present in the transitive closure of M's dependencies as seen by stock Maven.

Th

[2020-08-28 10:10] raphaelchaula opened #1659 "Google PubSub example"
I request more examples in examples repo especially Google PubSub if possible

[2020-08-28 10:17] ppalaga commented on #1659
Indeed, there is no Google PubSub example yet. That's related to the fact that the Google PubSub component is supported only in JVM mode so far. @jamesnetherton might want to consider creating an example once he fixes #1041 ?

[2020-08-28 10:27] raphaelchaula commented on #1659
Thank you so much @ppalaga

[2020-08-28 10:27] #1659 closed

[2020-08-31 09:47] zbendhiba commented on #1188
Can I work on this one ?

[2020-08-31 13:38] jwwallin opened #1661 "camel-quarkus-activemq extension broker url configuration"
There doesn't seem to be any good way of configuring the ActiveMQ broker url for this extension. At the very least there is no documentation on how to do this.

[2020-08-31 13:47] lburgazzoli commented on #1661
Configuring component is not different from plain camel, depending on your set-up you can have multiple options.

- If you have `camel-quarkue-main` among the dependencies of your ptoject, you can use the property `camel.component.activemq.broker-url`
- If you run on plain CDI you can create your custom instance of the component see the [bootsrtap](https://camel.apache.org/camel-quarkus/latest/use

[2020-08-31 14:55] ppalaga opened #1662 "Document cq:create -Dcq.nativeSupported=false for creating JVM-only extensions"

[2020-08-31 16:10] gastaldi commented on #1658
/cc @famod

[2020-08-31 17:42] jwwallin commented on #1661
Thanks for the quick answer. I resorted to using the second option you gave as it was the only one I could find on my own.

I do still think this information should be clearly stated in the documentation for this extension. There is no indication that you would need to use either of these two approaches.

[2020-08-31 17:52] lburgazzoli commented on #1661
we can add it but in general components follow the same rules regardless of the runtime and if not, the difference are documented.

in this example, the documentation about this extension https://camel.apache.org/camel-quarkus/latest/reference/extensions/activemq.html redirects to the component guide as there are no difference

[2020-08-31 18:24] jwwallin commented on #1661
True, it does point to the components documentation, but that doesn't help me if the way to use that information isn't clearly stated. My point here is that the necessary information should really be easy to access, easiest way being **clearly stated** in the context it applies. That could also just be a link to a tutorial on using `camel-quarkus-main`. My problem with this is solved so I'll close

[2020-08-31 18:24] #1661 closed

[2020-08-31 18:49] lburgazzoli commented on #1661
We probably need to reorganize the documentation in some areas, do you mind open an issue with some suggestions to the main camel project ?

[2020-08-31 19:07] jwwallin commented on #1661
I'll happily do that but I didn't quite understand where exactly you mean. What do you mean by the "main camel project"?

[2020-08-31 21:22] famod commented on #1658
Nice to see more people are considering to use GIB!

I am currently working on basic BOM support in GIB: https://github.com/vackosar/gitflow-incremental-builder/issues/241
But I am not sure you mean an even more fine grained approach? E.g. when only a single dependency is updated in the BOM then only those modules that are importing the BOM _and are using this specific dependency_ shall be built?

[2020-08-31 22:01] famod commented on #1658
Status: First successful run with Quarkus! A change to `quarkus-bom` triggers 666 (😮) modules (instead of 690 for non-incremental build). 🎉
Nasty catch: `MavenProject.getDependencyManagement()`  (for `quarkus-build-parent`) does _not_ contain the `quarkus-bom` dependency anymore! Took me some time to realize that I have to use the depMgmt of the "raw" model instead via `MavenProject.getOriginalMod

[2020-09-01 04:24] lburgazzoli commented on #1661
Well, as you know camel-quarkus is a sub-project of Apache Camel and since this issue is not quarkus specific, I'd recommend opening an issue against Camel (https://issues.apache.org/jira/projects/CAMEL)

[2020-09-01 07:36] ppalaga commented on #1658
Thanks for the news @famod!

Yes, that would be ideal. A PR adding a new extension is one of the most typical ones we tend to have. They typically add version properties to the top module and some deps to the BoM. Such changes often do not impact most of the existing modules, so there is no point in building & testing them. My first impression after looking at GIB was that it cannot recognize such

[2020-09-01 08:51] squakez commented on #1608
As soon as we fix the issue in the quarkus extension mentioned above we will be able to introduce the concept of a "named" connection in our extension. I am also trying to see if we can use reactive clients in order to be fully compliant with all options available.

[2020-09-01 08:54] jamesnetherton opened #1663 "Unable to use quartz as scheduler for ScheduledPollConsumer in native mode"
Components that leverage `ScheduledPollConsumer` allow you to specify the scheduler to use. When using quartz, there are failures at runtime in native mode:

[code]

[2020-09-01 08:59] jamesnetherton opened #1664 "KuduIT fails with Camel 3.5.0"
Kudu was bumped from 1.10.0 to 1.12.0 and we now see:

[code]

[2020-09-01 09:12] lburgazzoli commented on #1608
@squakez please add references to the issues on quarkus otherwise it is not easy to understand what's going on here.

[2020-09-01 10:00] ppalaga commented on #1664
I am on it. It is caused by the fact that Kudu shades netty.

[2020-09-01 10:02] ppalaga commented on #1664
I do not see a better solution then to take mutatis mutandis what's needed from io.quarkus.netty.deployment.NettyProcessor

[2020-09-01 10:07] famod commented on #1658
Yes, GIB is only looking at which files have changed but not what exactly changed inside of those files.
Parsing a diff to identify the respective dependency is rather complex, see also https://github.com/vackosar/gitflow-incremental-builder/issues/241#issuecomment-684100935 and the subsequent comments.
I am not saying this will never be added to GIB but it will take some time and I guess we canno

[2020-09-01 10:11] famod commented on #1658
This case is actually harder to detect than for Quarkus. In Quarkus the version properties are defined in the BOM (= in the same file that also defines the depMgmt) so you do not have to correlate anything between two files (root and BOM).

[2020-09-01 11:25] #1663 closed

[2020-09-01 14:38] ppalaga opened #1669 "Revert PR #1667 once kudu-client stops shading Netty"
We should revert most of PR #1667 once kudu-client stops shading Netty.
Blocked by https://issues.apache.org/jira/browse/KUDU-3188

[2020-09-02 11:56] #1108 closed

[2020-09-02 11:56] #1664 closed

[2020-09-02 12:08] #1471 closed

[2020-09-02 12:09] #1430 closed

[2020-09-02 13:30] ppalaga opened #1672 "Check whether it is possible to reduce the amount of RAM spent by the AS2 itest"
As seen in this job, https://github.com/apache/camel-quarkus/pull/1670/checks?check_run_id=1061031500#step:9:1345
the native compilation of the AS2 itest takes too much RAM and too much time. I wonder whether there is any potential to strip down the amount of compiled code somehow so that less RAM and less time is needed. @JiriOndrusek  would you mind having a look?

[2020-09-02 13:41] JiriOndrusek commented on #1672
@ppalaga Please, assign to me. I'll investigate it.

[2020-09-02 16:18] jamesnetherton opened #1675 "[Camel 3.6] Remove QuarkusVertxHttpBinding"
Depends on https://issues.apache.org/jira/browse/CAMEL-15495.

[2020-09-02 16:49] aldettinger opened #1676 "Make mvn -N cq:format remove empty application.properties files"

[2020-09-02 16:50] #1491 closed

[2020-09-02 16:50] aldettinger commented on #1676
The application.properties file may not be needed most of the time, more context [here](https://github.com/apache/camel-quarkus/pull/1674#discussion_r482195714).

[2020-09-02 18:52] #699 closed

[2020-09-02 20:20] #1578 closed

[2020-09-03 06:12] oscerd opened #1680 "Create an AWS2-STS extension"

[2020-09-03 07:47] aldettinger commented on #1475
@dhanendras The post above may explain how to deal with such cases.
I'm going to close this ticket now but one is very welcome to reopen it if necessary.

[2020-09-03 07:47] #1475 closed

[2020-09-03 08:01] JiriOndrusek commented on #1642
It s not possible to creative native extension for camel-fop.
The effort is blocked by this error (during native execution):

Trace: Object was reached by
	reading field sun.font.TrueTypeFont$TTDisposerRecord.channel of
		constant sun.font.TrueTypeFont$TTDisposerRecord@2c7b7d19 reached by
	reading field java.util.Hashtable$Entry.value of
		constant java.util.Hashtable$Entry@66aeea4 reached by
	ind

[2020-09-03 08:12] JiriOndrusek commented on #1642
There is a fop issue about quarkus support: https://issues.apache.org/jira/browse/FOP-2967

[2020-09-03 10:49] lburgazzoli commented on #1478
@gus-maurizio is [funqy](https://quarkus.io/guides/funqy) working for you ?

[2020-09-03 12:08] gus-maurizio commented on #1478
Ciao Luca. It does for several use cases. For AWS Lambda, sadly, it does not allow access to the lambda context if your logic requires that.

G

[2020-09-03 12:23] lburgazzoli commented on #1478
did you report the issue to the quarkus team ?

[2020-09-03 12:29] gus-maurizio commented on #1478
I understand they are aware and it is a feature. The suggestion is to use (which we do) quarkus-lambda… to perform such functions.
The only use case not completely covered in Quarkus (which it is in Spring Boot and plain java), is the ability to run (what we call) a Micro-Batch. This is basically a main class that will perform a function and then end gracefully (ideally within the max time limit a

[2020-09-03 12:33] davsclaus commented on #1478
Where do you get the NPE ?

camel main can be configured to terminate after N period (idle, max messages etc)
https://camel.apache.org/components/latest/others/main.html

[2020-09-03 12:34] lburgazzoli commented on #1478
Do you have an example of doing it with plain java and spring ? I guess you'd need to use the command mode we recently introduced but would be nice to have an example so I can check if your use case is covered

[2020-09-03 12:42] gus-maurizio commented on #1478
Answering both questions.

- @lburgazzoli [here is code that does both Java and Spring](https://github.com/gus-maurizio/sam-camel.git). This is as much as I can share by company policies.
- @davsclaus Indeed we leverage the wonderful self-termination features, both time running and number of messages/exchanges processed in Camel.

While this would be enough for us to move forward, there is a simpl

[2020-09-03 12:45] ppalaga opened #1684 "A tool to check/sync dependency versions with camel & quarkus"
The version properties in our top level pom.xml are maintained manually ATM. We should have some sort of a tool for that.
Followup of https://github.com/apache/camel-quarkus/pull/1682#issuecomment-686409318

[2020-09-03 12:55] lburgazzoli commented on #1478
Os so I think we really need a proper support from funqy as for what I can understand, it is about to start Quarkus itself more than just camel.

Maybe something like https://quarkus.io/guides/command-mode-reference#main-method which is very similar to the spring boot example could be used as an alternative but I never tested it.

[2020-09-03 12:57] lburgazzoli commented on #1684
I think we have something in use for camel kafka connector made by @oscerd

[2020-09-03 12:57] gus-maurizio commented on #1478
That is a fair answer, and it would be very useful to have a better feature parity with Spring (and help reduce the number of vulnerabilities associated with spring…).

[2020-09-03 13:00] oscerd commented on #1684
We have the camel-dependencies module in the main camel-repo. You can do as we are doing in camel-karaf/camel-spring-boot/camel-kafka-connector https://github.com/apache/camel-kafka-connector/blob/master/pom.xml#L26

You'll get the properties placeholder of Camel in your POM and this POM will use the Apache POM as parent POM.

[2020-09-03 13:42] zbendhiba commented on #1188
I've tried to do as same as kudu extension for the all the Netty Substitution part, but I've got some errors left.
Couchbase team has some work in progress for full grallvm native support for the SDK (cf https://forums.couchbase.com/t/disabling-native-class/27417). Maybe we get back to this issue when the native support is available.

[2020-09-03 14:03] Jeansen commented on #1572
I am sorry, this the passed WE I did not find time. I hope this WE works out. This time, it will - sadly - not be done in 9 days ;-)

[2020-09-03 14:25] #1470 closed

[2020-09-03 14:29] #1301 closed

[2020-09-03 15:24] aldettinger opened #1685 "@Simple annotated bean parameter binding not working in native mode"
Users may experience a stack trace similar to below:
[code]

[2020-09-04 06:16] lburgazzoli opened #1687 "Camel-Quarkus Kafka: Failed to configure SaslClientAuthenticator"
placeholder for https://github.com/quarkusio/quarkus/issues/11411

[2020-09-04 08:18] zbendhiba commented on #1631
I'll work on this one !!

[2020-09-04 08:24] JiriOndrusek commented on #1672
Hi @ppalaga,
I've looked into this problem and I see 2 items:

- Highlighted log line shows that it took 25 mins to finish as2 integration test

On my local computer it takes usually about 5-6 mins or similar. So I'm not sure what could be wrong.

- From my local RAM consumption it seems, that about a half of the consumption is caused by presence of bouncy castle (extension support-bouncycastle).

[2020-09-04 08:59] JiriOndrusek commented on #1642
I'll look into suggested solution to avoid awt fonts (https://issues.apache.org/jira/browse/FOP-2967?focusedCommentId=17190197&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17190197)

[2020-09-04 09:58] ppalaga commented on #1672
Yeah, it's fast on my computer too. There are two factors to take into account:

* GH Actions nodes have just two cores which are probably slower than what we have on our desk/laptops.
* Native compilation gets much slower with limited RAM. Have you activated the `ci` profile that sets `<quarkus.native.native-image-xmx>6g</quarkus.native.native-image-xmx>` https://github.com/apache/camel-quarkus/b

[2020-09-04 10:11] JiriOndrusek commented on #1672
Thanks, reducing bouncy castle ciphers seems to be "doable". I'll try to prepare PR with it and yes, properties will be `quarkus.camel.bouncycastle.*`

I'll also try to limiting my RAM to see local impact .

[2020-09-04 10:21] ppalaga commented on #1672
BTW, is as2 using always the same fixed set of BC algos? If so, we could perhaps expose a dedicated `BuildItem` in the BC extension and let as2 processor produce it, so that the users do not need to bother.

[2020-09-04 10:43] JiriOndrusek commented on #1672
This idea also crossed my mind. Unfortunately ciphers depends entirely on configuration. So values like

quarkus.bouncycastle.asymmetricCiphers=rsa,x509

depends on the security configuration defined by user (integration test in this case)

[2020-09-05 09:59] ppalaga opened #1691 "Move examples to a separate git repository"
Followup of https://github.com/apache/camel-quarkus/pull/1689#issuecomment-687582603

[2020-09-07 06:40] JiriOndrusek commented on #1355
Current status of issues:

- https://datastax-oss.atlassian.net/jira/software/c/projects/JAVA/issues/JAVA-2867 - fixed in driver version 4.9.0. (Camel componet is already updated)
- datastax/cassandra-quarkus#124 - problem could be solved by using parameter `eager-session-init`
- datastax/cassandra-quarkus#123 - next release would contain datastax driver 4.9.
It should be possible to continue on t

[2020-09-07 10:31] ppalaga opened #1694 "String template native support"

[2020-09-07 10:35] ppalaga opened #1695 "Stomp native support"

[2020-09-07 10:36] ppalaga opened #1696 "StAX native support"

[2020-09-07 10:37] JiriOndrusek commented on #1355
I've asked for an improvement on cassandra-quarkus (https://github.com/datastax/cassandra-quarkus/issues/135), which could make use of `eager-session-init` attribute much more friendly.

[2020-09-07 10:38] ppalaga commented on #798
Any progress, @squakez ? I'd add an autogenerated JVM-only extension unless you have a test at least?

[2020-09-07 10:40] ppalaga opened #1697 "Splunk HEC native support"

[2020-09-07 10:41] ppalaga opened #1698 "Splunk native support"

[2020-09-07 10:52] ppalaga opened #1701 "[Dependency hell] Spark native support"

[2020-09-07 10:56] ppalaga commented on #1701
Giving up the initial attempt to produce a JVM-only extension due to too many dependency alignment problems.

[2020-09-07 10:59] ppalaga opened #1702 "Remove deprecated Soroush extension"

[2020-09-07 11:00] ppalaga opened #1703 "Solr native support"

[2020-09-07 11:17] ppalaga opened #1704 "Stop managing httpclient-cache as it is managed by Quarkus"
Quarkus manages httpclient-cache as well as we do. We should check if removing the management of httpclient-cache on our side is possible.

[2020-09-07 11:24] ppalaga opened #1705 "SNMP native support"

[2020-09-07 11:25] ppalaga opened #1706 "SMPP native support"

[2020-09-07 11:27] ppalaga opened #1707 "Remove deprecated SIP extension"

[2020-09-07 11:56] ppalaga opened #1709 "Schematron native support"

[2020-09-07 11:58] ppalaga opened #1710 "XQuery component and language native support"
N.B. the camel jar is called `camel-saxon`

[2020-09-07 12:05] ppalaga commented on #819
A JVM-only extension (without test) is underway

[2020-09-07 12:08] ppalaga opened #1711 "RSS component native support"

[2020-09-07 12:11] ppalaga opened #1712 "Robot Framework native support"

[2020-09-07 12:49] #1577 closed

[2020-09-07 12:49] #1538 closed

[2020-09-07 12:51] squakez commented on #798
Not really as I am focusing on another issue on the mongodb extension, so it may take still some day before I can focus on that.

[2020-09-07 13:40] ppalaga opened #1714 "QuickFix native support"

[2020-09-07 13:51] zbendhiba commented on #1631
PR : https://github.com/apache/camel-quarkus/pull/1715

[2020-09-07 13:53] llowinge opened #1717 "Be able to determine that the test was run against external service or not"
There exist some tests which are run against mocked services (eg. SlackTest) by default. If we set ENV property, it should be run against external service but we cannot say that with 100%, becasue eg. ENV property can change the name and so the test would be run against mocked service only.

Suggested way would be adding some property eg. -Dtest.external.service=true, which would skip the test, if

[2020-09-07 13:57] ppalaga opened #1718 "Printer component native support"

[2020-09-07 13:58] ppalaga opened #1719 "PostgresSQL Event native support"

[2020-09-07 14:01] ppalaga opened #1720 "PostgresSQL Replication Slot native support"

[2020-09-07 14:07] ppalaga opened #1721 "OptaPlanner native support"

[2020-09-07 14:09] ppalaga opened #1722 "NSQ native support"

[2020-09-07 15:37] aldettinger opened #1725 "[Camel 3.6?] Improve the camel-bean extension by not using an alias for BeanAnnotationExpressionFactory"
We should be able to remove the BeanAnnotationExpressionFactory alias in camel-bean when the fix for [this upstream issue](https://issues.apache.org/jira/browse/CAMEL-15506) has been shipped. It should happen when adopting camel >= 3.6.0.

[2020-09-07 15:53] #1685 closed

[2020-09-07 16:01] ppalaga commented on #798
A JVM-only extension (without a proper test) is underway.

[2020-09-07 16:02] ppalaga opened #1726 "Nagios native support"

[2020-09-07 16:19] Jeansen commented on #1572
When promoting to native, I got some error regarding the POM.xml file in the integration-tests folder

[code]

And in the POM, I see

[code]

Obviously, something with the module addition went wrong ;-) I'll fix it manually for now.

[2020-09-07 16:33] ppalaga commented on #1384
A JVM-only extension (without a proper test) is underway.

[2020-09-07 16:44] ppalaga opened #1727 "MVEL native support"

[2020-09-07 16:47] ppalaga opened #1728 "MSV native support"

[2020-09-07 16:53] Jeansen commented on #1572
As I see, integration tests are all in one folder. So, I assume I do not have to amend the 'tooling/scripts/test-categories.yaml' file?
Is there any automation? Or should I just manually throw away what I do not need from the generated integration test and simply try adding a rout the the aws2 test class?

[2020-09-07 16:55] oscerd commented on #1572
You should add just the needed bits into the camel-aws2 test folder. It should be enough to add the extension and write a similar route.

[2020-09-07 17:06] Jeansen commented on #1572
OK, thx.

[2020-09-07 19:21] ppalaga commented on #1572
Thanks for complaining :), let me check that tomorrow.

[2020-09-08 02:47] #1532 closed

[2020-09-08 06:11] zhfeng commented on #819
Thanks @ppalaga and I will take a look at the native support.

[2020-09-08 06:52] ppalaga commented on #1572
Should be fixed via f4233ff8159e15f4ba2ad46bc16be6ba754c317e

[2020-09-08 09:13] ppalaga opened #1731 "MLLP native support"

[2020-09-08 09:23] ppalaga commented on #821
A JVM-only extension (without a proper test) is underway.

[2020-09-08 09:25] ppalaga opened #1732 "Lumberjack native support"

[2020-09-08 09:29] ppalaga opened #1733 "Lucene native support"

[2020-09-08 09:30] ppalaga opened #1734 "LDIF native support"

[2020-09-08 09:30] ppalaga opened #1735 "LDAP native support"

[2020-09-08 09:32] ppalaga commented on #817
A JVM-only extension is underway

[2020-09-08 09:35] #1572 closed

[2020-09-08 10:10] jamesnetherton opened #1737 "[Camel 3.6?] Remove createEndpoint method override in QuarkusVertxWebsocketComponent"
Depends on https://issues.apache.org/jira/browse/CAMEL-15501.

[2020-09-08 11:09] Jeansen commented on #1571
Next for me ;-)

[2020-09-08 11:33] #1631 closed

[2020-09-08 11:37] ppalaga opened #1739 "JT400 native support"

[2020-09-08 11:39] ppalaga opened #1740 "JSLT native support"

[2020-09-08 11:44] ppalaga opened #1741 "Jing native support"

[2020-09-08 11:52] ppalaga opened #1742 "JCR native support"

[2020-09-08 12:50] ppalaga commented on #1571
Optional: it would be great if there was some test assertions for Kinesis that would be run only if the AWS credentials were set in the environment - something like we have for Twitter https://github.com/apache/camel-quarkus/blob/master/integration-tests/twitter/src/test/java/org/apache/camel/quarkus/component/twitter/CamelTwitterTest.java#L30 It is a long standing TODO for all existing AWS extens

[2020-09-08 12:52] zbendhiba commented on #1721
I'm working on this one!

[2020-09-08 12:52] ppalaga commented on #1737
- that's Camel 3.6-ish, right?

[2020-09-08 12:56] jamesnetherton commented on #1737
Yep it'll be in Camel 3.6. I'll probably fix it as part of the upgrade on the `camel-master` branch, once the new SNAPSHOT is available.

[2020-09-08 13:17] oscerd commented on #1737
The new snapshot for 3.6.0 should be available in Asf snapshot repo

[2020-09-08 15:04] Jeansen commented on #1571
OK, I'll keep that in mind when trying to resolve this one.

[2020-09-08 16:47] #1564 closed

[2020-09-08 18:57] ppalaga commented on #813
A JVM-only extension is underway

[2020-09-08 18:58] ppalaga commented on #814
A JVM-only extension is underway

[2020-09-08 19:04] ppalaga opened #1746 "Groovy language native support"
Related https://github.com/quarkusio/quarkus/issues/2720

[2020-09-08 19:06] ppalaga opened #1747 "HL7 Terser language native support"

[2020-09-08 19:08] ppalaga opened #1748 "OGNL language native support"

[2020-09-08 19:13] ppalaga commented on #595
A JVM-only extension is underway.

[2020-09-08 19:17] ppalaga opened #1749 "JSonApi data format native support"

[2020-09-08 19:22] #1680 closed

[2020-09-08 19:22] ppalaga opened #1750 "Any23 data format support"
I had to give up on creating a JVM-only extension because of too many dependency alignment issues.

[2020-09-08 19:25] ppalaga opened #1751 "ASN.1 File data format native support"

[2020-09-08 19:27] ppalaga opened #1752 "Barcode data format native support"

[2020-09-08 19:29] ppalaga opened #1753 "Remove deprecated BeanIO extension"

[2020-09-08 19:31] ppalaga opened #1754 "CBOR data format native support"

[2020-09-08 19:33] ppalaga opened #1755 "JSon Fastjson data format native support"

[2020-09-08 19:36] ppalaga opened #1756 "uniVocity data formats native support"

[2020-09-08 19:40] ppalaga commented on #223
A JVM-only extension (without a proper test) is underway.

[2020-09-08 22:25] famod commented on #1658
@ppalaga In case you want to give 3.12.0-SNAPSHOT a try you can use `3.12.0-20200908.222146-3` from https://oss.sonatype.org/content/repositories/snapshots/com/vackosar/gitflowincrementalbuilder/gitflow-incremental-builder/3.12.0-SNAPSHOT

This includes basic BOM support (and more: https://github.com/vackosar/gitflow-incremental-builder/milestone/17?closed=1).

See also: https://quarkusio.zulipcha

[2020-09-09 05:29] ppalaga commented on #1658
Thanks for the news, @famod . We now have all necessary virtual deps in place (which is also proven by he CI building with `-T1C`). I will continue experimenting with GIB once we have Camel Quarkus 1.1.0 out this week.

[2020-09-09 07:24] lburgazzoli opened #1759 "quarkus-spring-web breaks startup of camel-quarkus-activemq"
placeholder for https://github.com/quarkusio/quarkus/issues/11996

[2020-09-09 08:00] ppalaga commented on #1303
@jamesnetherton says that this is fixed in Camel and that in Camel Quarkus master the issue does not occur. We might still want to add a tests.

[2020-09-09 08:04] davsclaus commented on #1303
Not needed as its tested in camel-core - and this is a issue in camel-core and not camel-quarkus

[2020-09-09 08:04] #1303 closed

[2020-09-09 08:34] #1563 closed

[2020-09-09 09:20] #1497 closed

[2020-09-09 09:21] ppalaga commented on #1340
This can be revisited as we have Camel 3.5 in Camel Quarkus master.

[2020-09-09 09:52] aldettinger opened #1761 "Add TLS based authentication support to the nats extension"

[2020-09-09 10:47] ppalaga opened #1763 "[Quarkus 1.9] Move httpmine from our BOM to Quarkus BOM"
Blocked by https://github.com/quarkusio/quarkus/pull/11999

[2020-09-09 10:50] ppalaga commented on #1691
@oscerd I hope I recollect it right, that you can create new repos under the apache GH org? Could you please create `camel-quarkus-examples` ?

[2020-09-09 10:52] oscerd commented on #1691
Sure I'll do it. There is 4 hours before we'll be able to write on it anyway

[2020-09-09 10:54] ppalaga commented on #1676
Hm... this is certainly a valid issue, but I must say I find it handy to have the file when I want to add something into it.

How about modifying the formatting mojo (that people should invoke before sending a PR anyway) to remove empty property files?

[2020-09-09 10:55] ppalaga commented on #1691
It is not that urgent :). Thanks!

[2020-09-09 11:17] oscerd commented on #1691
https://github.com/apache/camel-quarkus-examples

We can add an .asf.yml file with description and notice, license etc. I can do that.

[2020-09-09 11:34] oscerd commented on #1691
It was faster than last time, it's already writable I guess

[2020-09-09 11:54] davsclaus opened #1765 "camel-quarkus-main - Uses reflection for setting its name"
Notice this in the http-log example

2020-09-09 13:52:20,310 INFO  [org.apa.cam.imp.eng.DefaultBeanIntrospection] (Quarkus Main Thread) Invoked: 1 times (overall) [Method: setProperty, Target: org.apache.camel.quarkus.core.FastCamelContext@5a2266eb, Arguments: [name, quarkus-camel-example-http-log]]

This is with master branch (eg camel 3.5 as of today)

[2020-09-09 11:55] davsclaus commented on #1765
So FastCamelContext needs to either have a custom generated configurer or we need to make it an instanceof ExtendedCamelContext which would have configurer out of the box.

[2020-09-09 12:02] davsclaus commented on #1765
@lburgazzoli there is some fast factory finder resolver that causes it to not find ExtendedCamelContext.class - maybe its due its using FQN name now?

[2020-09-09 12:04] lburgazzoli commented on #1765
it is likely that, will have a look

[2020-09-09 12:10] davsclaus commented on #1765
Okay the example can run native compiled (I guess its because the FastCamelContext is open for reflection)

[2020-09-09 12:11] davsclaus commented on #1765
(main) Stopping BeanIntrospection which was invoked: 1 times

[2020-09-09 12:20] aldettinger commented on #1761
Associated [pull request](https://github.com/apache/camel-quarkus/pull/1764) here.

[2020-09-09 12:20] #1761 closed

[2020-09-09 12:48] aldettinger commented on #1676
Yes, that would make sense. I don't see any case where keeping a properties file with just header comment would be needed.

[2020-09-09 13:32] lburgazzoli commented on #1765
The issue is caused by the fact that the configurer for the ExtendedCamelContext has a wrong factory file which is `org.apache.camel.impl.ExtendedCamelContext` instead of `org.apache.camel.ExtendedCamelContext`

Opened an issue upstream https://issues.apache.org/jira/browse/CAMEL-15518

[2020-09-09 13:41] lburgazzoli opened #1769 "[Camel 3.6] Remove workaround for CAMEL-15518"
Follow up for: https://github.com/apache/camel-quarkus/issues/1765#issuecomment-689565957
Requires: https://issues.apache.org/jira/browse/CAMEL-15518

[2020-09-09 13:47] #1662 closed

[2020-09-09 13:53] ppalaga opened #1770 "Component counts not shown on the website"
On the following pages, our inline scripts are not executed and the message at the bottom is logged in the browser console.
 https://camel.apache.org/camel-quarkus/latest/reference/index.html https://camel.apache.org/camel-quarkus/latest/reference/components.html https://camel.apache.org/camel-quarkus/latest/reference/dataformats.html https://camel.apache.org/camel-quarkus/latest/reference/languag

[2020-09-09 14:52] #1765 closed

[2020-09-09 16:27] oscerd opened #1772 "Adding Changelog generated automatically through gh action"
We are using this gh action on camel-k, camel-k-runtime and camel-kafka-connector.

I think the result is really useful to track the activities.

Do we want to introduce it here too?

https://github.com/apache/camel-kafka-connector/blob/master/CHANGELOG.md

[2020-09-10 02:19] github-actions[bot] opened #1773 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 247316219-140-ebcc2e90-0d91-4f9b-b73f-e602111c9c67
* Camel Quarkus Commit: c78fe1a8887041c302d009d2b743c44ff2968dbd

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/247316219

[2020-09-10 07:56] ppalaga commented on #1772
I see quite a lot of `Updated CHANGELOG.md` commits in the Kafka connector log https://github.com/apache/camel-kafka-connector/commits/master I must say, I'd prefer having as little commits of this kind as possible. Perhaps having one just before the release would be sufficient.
How is the action triggered?

[2020-09-10 07:58] oscerd commented on #1772
On schedule each night

[2020-09-10 07:58] oscerd commented on #1772
From a couple of days. Before it was done on each pr merged, issue closed etc

[2020-09-10 08:01] ppalaga commented on #1772
I see. I could live with one commit a day (if there is some activity on that day). But anyway, it would be handy to be able to trigger an update manually before cutting a release. Would something like that be possible?

[2020-09-10 08:03] ppalaga commented on #1772
... and yes, having a way to auto-assemble a change log is useful. Thanks for proposing it!

[2020-09-10 08:04] oscerd commented on #1772
I never heard of possibility of running gh action manually but maybe @jamesnetherton knows more

[2020-09-10 08:07] jamesnetherton commented on #1772
I think you'd need to have a personal access token set up to do that.

One option could be to trigger the changelog action whenever a new tag is pushed.

[2020-09-10 09:17] ppalaga commented on #1772
I thought that would be too late for the new tag to appear in the change log, when the change log is referenced via the given tag. But apparently it works somehow for Kafka connector - release 0.5.0 is listed as of 'camel-kafka-connector-0.5.0' tag of the change log https://github.com/apache/camel-kafka-connector/blob/camel-kafka-connector-0.5.0/CHANGELOG.md
The workflow run preceding the tag knew

[2020-09-10 09:19] oscerd commented on #1772
The tag was created and then removed :-) because we had problem with the release

[2020-09-10 09:25] ppalaga commented on #1557
Any progress on this, @djencks ? I'd give this a try because of https://github.com/apache/camel-quarkus/issues/1770 unless you are in the middle of it?

[2020-09-10 09:46] #1676 closed

[2020-09-10 12:39] zerucus opened #1775 "Wrong jira component version definition in camel-quarkus-bom 1.0.1 file"
In camel-quarkus-bom file version 1.0.1 for jira depenency wrong version is defined
should be` ${camel-quarkus.version}`, but is `${project.version}`:
is:
[code]
should be:
[code]

[2020-09-10 13:12] Jeansen commented on #1531
Shouldn't it be version 1.1.0?
https://camel.apache.org/camel-quarkus/latest/reference/extensions/rabbitmq.html
https://github.com/apache/camel-quarkus/milestone/5?closed=1

[2020-09-10 13:37] squakez commented on #798
@ppalaga I've started working on the native mode, and for that I made an ntegration test that I guess is valid also for the JVM mode. Do you want me to commit them and then keep ahead with the native development in parallel?

[2020-09-10 13:53] ppalaga commented on #798
That's great and yes, the test would also be useful for the JVM mode.

That's tricky. Your current branch effectively declares SSH as being native ready (in catalog and on the web page), which it is not, because as I understand from what you said that test is still not passing in native mode yet?

In theory, we could commit the test under `extensions-jvm/ssh/integration-test`. But I do not think i

[2020-09-10 13:54] squakez opened #1776 "[MongoDB] CDI named clients"
As a follow up of a [discussion still open in Quarkus community](https://github.com/quarkusio/quarkus/pull/11998), we should fix the way we retrieve named mongo clients in mongodb extensions. The PR #1688 should patch the behavior allowing the possibility to use any mongodb client in our routes, but we must follow the work on Quarkus and provide a more reliable solution once that is available.

[2020-09-10 13:56] ppalaga commented on #1531
Well, native support is indeed since 1.1.0, but the JVM-only extension was there since 1.0.0. So the extension as a whole is since 1.0.0. Should we make this more explicit on the web page?

[2020-09-10 14:28] ppalaga commented on #1557
I have a PoC that I'd like get feedback about shortly.

[2020-09-10 16:21] djencks commented on #1557
I got thoroughly distracted from this.  I expect I can take a look at your PoC though!

[2020-09-10 20:10] ppalaga commented on #1775
Thanks for the report. I have sent a PR fixing this.

This should not be an issue as long as the BOM is imported in dependencyManagement.

It may cause problems when the BOM is used as a parent. In such causes, the best workaround is to import the BOM in dependencyManagement instead of having it as a parent.

[2020-09-10 20:13] ppalaga commented on #1557
No problem. It would be great if you could please comment on https://github.com/apache/camel-quarkus/pull/1777

[2020-09-11 01:02] github-actions[bot] opened #1779 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 248964935-38-d9860f75-dd18-4eaa-814c-c503a6c54d43
* Camel Quarkus Commit: 3464380e852b6c745ec3df7bc65fa24a10c156a1

* Camel Master Commit: 156bce946b450728ab72b2cec4aa4c3c1263ef23
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/248964935

[2020-09-11 05:45] #1775 closed

[2020-09-11 05:46] ppalaga commented on #1632
Any progress on this, @jamesnetherton ? I have recently seen a lot of failures of the test.

[2020-09-11 06:12] jamesnetherton commented on #1632
I'll take a look through the failed builds to see what's in the logs....

[2020-09-11 06:19] jamesnetherton commented on #1632
As I thought, the order of the expected values not as expected. I'll work on a fix shortly.

[code]

[2020-09-11 07:30] zerucus commented on #1775
Hello.

Thank you for advise.

BR,

Zbigniew Krzemińśki

From: Peter Palaga [mailto:notifications@github.com]
Sent: Thursday, September 10, 2020 10:11 PM
To: apache/camel-quarkus <camel-quarkus@noreply.github.com>
Cc: Zerucus <zkrzeminski@wp.pl>; Author <author@noreply.github.com>
Subject: Re: [apache/camel-quarkus] Wrong jira component version definition in camel-quarkus-bom 1.0.1 file (#1775)

T

[2020-09-11 07:41] Jeansen commented on #1531
Hm, I am not sure. It might be of interest. At the moment there are not that many versions but in the future it might be of interest since which version native support is available. There might be situations where users simply cannot use the latest versions but have to stick to a specific version. So the argument would be not to use the latest but at least a the version that also supports native.

[2020-09-11 07:44] #1632 closed

[2020-09-11 08:57] ppalaga commented on #1531
I think you are making a valid point. Could you please file a new issue for that?

[2020-09-11 09:39] Jeansen opened #1781 "Suggestion: Add column for native supported version in camel quarkus extensions list"
Currently, there is only one column referencing the version since when an extension is available -> https://camel.apache.org/camel-quarkus/latest/reference/index.html

But an extension can have two stages: JVM and NATIVE.

I suggest adding a second column which reflects the version since when native support is available for an extension.

In addition I would suggest that instead of three tags on e

[2020-09-11 09:48] ppalaga commented on #1781
I like the proposal. We are in the middle of changing how the reference pages are generated - see https://github.com/apache/camel-quarkus/issues/1557 and https://github.com/apache/camel-quarkus/pull/1777 We may implement this as a part of that or after that.

[2020-09-11 09:57] lburgazzoli opened #1783 "Add integration tests for camel-quarkus-kafka + sasl"
Follow up for https://github.com/quarkusio/quarkus/issues/11411#issuecomment-690987909

[2020-09-11 10:49] #1687 closed

[2020-09-11 12:19] #1772 closed

[2020-09-11 18:53] #794 closed

[2020-09-12 04:27] #1773 closed

[2020-09-13 18:24] famod commented on #1658
@ppalaga FYI, GIB 3.12.0 is out: https://github.com/vackosar/gitflow-incremental-builder/releases/tag/version%2F3.12.0

[2020-09-14 13:51] lburgazzoli opened #1790 "[Quarkus 1.9] Caffeine: remove CacheLoader processor"
[This](https://github.com/apache/camel-quarkus/blob/3b301bacc7c34aa2a819b61929d4345b8bcc544c/extensions/caffeine/deployment/src/main/java/org/apache/camel/quarkus/component/caffeine/deployment/CaffeineProcessor.java#L36-L45) can be removed after https://github.com/quarkusio/quarkus/issues/12074

[2020-09-15 03:14] #1779 closed

[2020-09-15 10:24] #1597 closed

[2020-09-15 14:12] #1741 closed

[2020-09-15 14:15] JiriOndrusek commented on #837
@ppalaga I can look at this issue, please assign it to me.

[2020-09-15 14:31] ppalaga commented on #1557
FIxed via #1777

[2020-09-15 14:31] #1557 closed

[2020-09-15 14:35] JiriOndrusek commented on #837
@zhfeng I've missed your involvement at this issue. Do you plan to continue with it or are you working on it? May I help?

[2020-09-15 14:52] ppalaga opened #1795 "Generate partials instead of pages for the individual Camel bits"
In #1777 I adopted a quick and easy approach to store the data necessary for the [components page](https://github.com/ppalaga/camel-quarkus/blame/08ad76b106a575eb44da4e7688d801003e29705b/docs/modules/ROOT/pages/reference/components.adoc)

The data for the entries is stored in `.adoc` filed under [components directory](https://github.com/ppalaga/camel-quarkus/tree/08ad76b106a575eb44da4e7688d801003e

[2020-09-15 15:14] ppalaga opened #1796 "Find a proper place for registering SAXMessages native resource bundle"
In https://github.com/apache/camel-quarkus/pull/1793/files#diff-a2ef5a4c98491936f1d708b2ecd89661R83 we register `com.sun.org.apache.xerces.internal.impl.msg.SAXMessages` in our FOP extension. It does not feel like the right place. I guess it should go to our or Quarkus JAXP extension.

[2020-09-15 15:15] djencks commented on #1795
I also wrote https://gitlab.com/djencks/asciidoctor-jsonpath which is like the indexer but gets its data from a json document rather than the content catalog, perhaps that would help.

[2020-09-15 15:31] ppalaga commented on #1795
Sounds very promising! Do you happen to have an example at hand?

[2020-09-15 15:32] ppalaga commented on #1795
Sorry for the noise, I see some examples in https://gitlab.com/djencks/asciidoctor-jsonpath

[2020-09-16 00:33] github-actions[bot] opened #1798 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 256617033-43-f11e674a-9068-4d88-a266-b0ce3906a675
* Camel Quarkus Commit: 75ec17657abff88578fe7c782fcbcbce8554c21b

* Camel Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/256617033

[2020-09-16 00:45] zhfeng commented on #837
Hi @JiriOndrusek , feel free to take this issue.

[2020-09-16 02:16] djencks commented on #1795
A couple of comments…

- I recommend generating the json file into modules/ROOT/examples

- I thought I had more examples handy, and don’t have time to construct any right now, but if you create the json file I’m happy to work on the use of the extension to generate the page.

[2020-09-16 06:26] JiriOndrusek commented on #1796
Please, assign to me.

[2020-09-16 06:59] ppalaga commented on #1795
Hm... why `examples`? The data is not examples. I think `catalog` or similar would describe better what's inside.

Yes, I can do that, but when you speak about a json file in sigular, does that mean that there has to be a single file? I'd prefer having one JSON file per table row. That will allow us to avoid merge conflicts when people are going to work on various extensions in parallel.

[2020-09-16 07:17] #762 closed

[2020-09-16 07:55] JiriOndrusek commented on #1796
As a part of Fop extension, there was registered bundle `com.sun.org.apache.xerces.internal.impl.msg.SAXMessages`. Bundle is not necessary for proper functionality but it helps in case there is an exception.
Example: Real problem is missing reflection registration for some classes, but developer will see only that bundle can not be loaded.
I'd like to add this bundle into camel-quarkus jaxp compon

[2020-09-16 07:55] Jeansen commented on #1564
@jamesnetherton  Looks like there is a regeression, or I am doing something wrong.

I've created a simple Quarkus-Projekt in IntelliJ. Actually, IntelliJ creates this for you, so there is no special setup from my side. When creating the project, I also added the the 'camel-core' dependency. Then I tested the project without any problem. But as soon as I add the following maven dependency

[code]

[2020-09-16 07:57] davsclaus commented on #1564
You need Camel 3.5.0 for that latest release of camel-quarkus

[2020-09-16 09:11] ppalaga commented on #1564
I guess you are mixing camel-quarkus-management 1.1.0 with an older camel quarkus artifacts.

Not sure what exactly IJ generates for you, but since yesterday, you can import `io.quarkus:quarkus-universe-bom:1.8.0.Final` that manages also `camel-quarkus-management` so you can have the dep without version

[code]

[2020-09-16 09:29] ppalaga commented on #1796
See also https://github.com/quarkusio/quarkus/issues/12129

[2020-09-16 10:17] #1642 closed

[2020-09-16 10:29] Jeansen commented on #1564
My bad. It was still set to quarkus 1.7.3. With 1.8.0 it now works. Side note: Even with explicit versions for the core and management dependencies, it does not work. But it looks fine now with the dummy project.

[2020-09-16 10:56] Jeansen commented on #1564
OK, great. I've had success in running Quarkus with jolokia and hawtio in JVM mode and see the generated graph of a route. Thank you @jamesnetherton

[2020-09-16 14:55] ennishol opened #1800 "1.1.0 Main fails to start in IntelliJ"
camel-quarkus-examples-timer-log-main fails to start in Intelij:

[code]

Stacktrace:

[code]

[2020-09-16 15:40] djencks commented on #1795
Probably I wasn’t clear enough… the best family for this sort of file is ‘example’. You can name the file anything, e.g. `modules/ROOT/examples/catalog.json`

At the moment, there needs to be only one json file.  I can consider querying the content catalog for multiple files, but I’m not quite convinced it’s a good idea yet, and it would certainly be a significant amount of work.  Maybe there’s so

[2020-09-16 16:37] ppalaga commented on #1795
That would be ideal but I have no idea yet how it could be implemented. Camel Quarkus depends on Camel so the info cannot go to the camel git repo (we'd create a dependency cycle in that way). Perhaps there is some way how we could enhance the Camel component .adoc files in camel-website after they are cloned from the Camel repo?

No, unfortunately, one extension can contain multiple components, l

[2020-09-16 18:05] vsevel commented on #223
is there any plan to offer freemarker as a quarkus extension (independently from camel), and get the camel-quarkus to depend on it?
this would be useful for people interested in quarkus+freemarker, and not necessarily in camel.

[2020-09-16 19:42] ppalaga commented on #223
This would indeed make sense and we'd be eventually ready to depend on such a generic Freemarker extension. I think the Freemarker project would be the best place for this effort. Any help to drive that effort is welcome.

[2020-09-16 20:01] vsevel commented on #223
or the quarkus project itself. that is where almost all of the extensions are developed.

[2020-09-16 20:17] ppalaga commented on #223
A Quarkus dependency would be easier maintain for us. Anybody please feel free to propose it in Quarkus or in Freemarker.

[2020-09-16 22:01] djencks commented on #1795
It might be possible to get the quarkus information into the main camel component pages by:

- moving the component pages generated for c-q into the c-q modules/ROOT/partials directory (so they don't end up as published pages} and just generating the attributes (no header)
- including these in the main camel components pages in the header.  I think it would look something like
[code]
for e.g. the

[2020-09-17 02:41] #1798 closed

[2020-09-17 09:42] #816 closed

[2020-09-17 12:40] vsevel commented on #223
@ppalaga we have a need for a freemarker extension on our project. if time and energy we may develop the extension, starting from https://github.com/carlosthe19916/camel-quarkus/tree/camel-freemarker, then we will see if the quarkus team is interested. I am not sure yet we have this capacity, but it is definitely a possibility.

[2020-09-17 13:50] ppalaga opened #1803 "NATS tests do not work on the platform"
This is caused by the fact that the tlsAuthContainer expects the certs to be accessible locally. This should be fixable by copying the files from ClassLoader.getResource() to the filesystem just before starting the container

[2020-09-18 00:34] github-actions[bot] opened #1805 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 260291171-45-a64b0599-033c-4b3e-93cd-d8901007ce79
* Camel Quarkus Commit: 507e32cf43a22a0640c19dd6ed55915930a87d4d

* Camel Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/260291171

[2020-09-18 06:08] ppalaga opened #1806 "[Quarkus 1.9] leverage Quarkus JAXP extension where applicable"
We should remove the stuff from our source tree that is done in Quarkus [JaxpProcessor](https://github.com/quarkusio/quarkus/blob/master/extensions/jaxp/deployment/src/main/java/io/quarkus/jaxp/deployment/JaxpProcessor.java#L11) and rather depend on `quarkus-jaxp`.

[2020-09-18 06:09] ppalaga commented on #1796
Solved via https://github.com/quarkusio/quarkus/pull/12144 , esp. https://github.com/quarkusio/quarkus/pull/12144/files#diff-d7d3c24be2a44a5a8077b76e7b3290c6R36
I have filed https://github.com/apache/camel-quarkus/issues/1806 for the stuff we should do after Quarkus 1.9

[2020-09-18 06:09] #1796 closed

[2020-09-18 08:58] jamesnetherton opened #1807 "allowContextMapAll requires template engines to have reflective access to camel core classess"
Thinking a bit more about [this comment](https://github.com/apache/camel-quarkus/pull/1804#discussion_r490314030).

We probably have a general issue with all of the templating component extensions (qute, mustache, mvel, velocity etc) where the template engine may need reflective access to complex objects like `Exchange`, `Message` or `CamelContext`. E.g as described [here](https://camel.apache.org

[2020-09-18 09:10] davsclaus commented on #1807
allowContextMapAll is a security vulnerabilty fix, so I am fine with no support for setting = true in camel-quarkus native mode or even jvm mode

[2020-09-18 11:05] jamesnetherton commented on #1800
I think the problem is [here](https://github.com/quarkusio/quarkus/blob/cd98a9ed54bd986129a7118f87e6c95ff14c0bd6/core/deployment/src/main/java/io/quarkus/deployment/steps/MainClassBuildStep.java#L376-L377).

No implementors of `QuarkusApplication` are found, so Quarkus does not know which main class to run. I think we can fix it by adding a new `BuildStep` to the main extension, so that `CamelMain

[2020-09-18 14:19] #1800 closed

[2020-09-18 15:21] #798 closed

[2020-09-18 15:25] jamesnetherton commented on #1803
Possibly related recent CI failure? If not we can raise another issue:

[code]

[2020-09-18 15:45] ppalaga commented on #1803
Is that an intermittent failure? The NATS tests are passing for me locally.

[2020-09-18 16:04] ppalaga commented on #1803
This issue is a false alarm. As of current Camel Quarkus master, the NATS test works in the platform. Sorry for the noise.

@jamesnetherton please file a separate issue for the mentioned failure if necessary.

[2020-09-18 16:04] #1803 closed

[2020-09-19 01:05] djencks commented on #1795
I got this idea to (mostly) work, and I think it may show up a problem with the current implementation.

My work is on partial-components branch in https://github.com/djencks/camel-quarkus.git and https://github.com/djencks/camel.git.  The local antora-playbook.yml in the camel-quarkus repo is set to build if the camel-quarkus and camel repos are checked out next to one another.

The current compo

[2020-09-19 02:19] github-actions[bot] opened #1810 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 262097675-149-6ca03f19-7640-4f09-917e-7a3545ef8a98
* Camel Quarkus Commit: 818c9785863cd0e6ad0a7830bac1c12bc2788b90

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/262097675

[2020-09-19 02:54] #1805 closed

[2020-09-19 05:29] orpiske commented on #1783
Hey @lburgazzoli, I'll ping you Monday when I get back, but just in case: I have moved some of the CKC kafka test infra: https://github.com/apache/camel/pull/4242.

I believe this might give the basics to implement a test on Camel Quarkus as well.

[2020-09-19 05:33] ppalaga commented on #1781
Done via https://github.com/apache/camel-quarkus/pull/1777
* https://camel.apache.org/camel-quarkus/latest/reference/index.html
* https://camel.apache.org/camel-quarkus/latest/reference/components.html
* https://camel.apache.org/camel-quarkus/latest/reference/dataformats.html
* https://camel.apache.org/camel-quarkus/latest/reference/languages.html
* https://camel.apache.org/camel-quarkus/latest/re

[2020-09-19 05:33] #1781 closed

[2020-09-21 08:55] jamesnetherton opened #1812 "Configure NativeImageResourceBuildItem for camel route classpath resources"
When choosing to use XML routes, you'll have a config property like:

[code]

If you want to build a native executable, then you must ensure the route XML file is added to the build via `-H:IncludeResources` or `quarkus.camel.native.resources.include-patterns`.

We should do this programatically so that users do not need to.

[2020-09-21 17:05] djencks commented on #1795
I thought that the warning for missing includes was included in the page with the missing include, but it turns out that since the include is in the header the warning is not rendered.  So the console output is very noisy but the site looks fine.  If we're willing to live with noisy console output for a while, we could implement this now.

[2020-09-21 19:46] ppalaga commented on #1795
I like the idea to use partials instead of pages.

At the same time, I do not like that building Camel Quarkus Antora docs would require Camel source tree being checked out at a specific location, only to have a set of pages to include our partials into. That sounds unnecessarily complicated. The data stored in the partials comes from Camel Quarkus only and any pages aggregating that data should n

[2020-09-21 21:07] djencks commented on #1795
The quarkus partial build wouldn't actually need a local copy of the main camel repo once this idea was accepted/committed; it could use the remote repo.  The POC does need a local copy because the modified main component adoc pages don't have a remote location yet.

The indexer plugin relies on Antora's 2-pass rendering, where the first pass extracts the header attributes and attaches them as a m

[2020-09-22 06:02] jamesnetherton opened #1815 "Intermittent failure of AhcWsProducerConsumer"
Pops up now and again on CI builds:

[code]

[2020-09-22 06:43] heyplusyou opened #1816 "Camel quarkus disable auto route discovery not working"
Hi all,

I am currently setting up a camel project based on quarkus and I would like to handle the route activation based on DB entries at runtime. We created a couple of routes in DSL by extending the RouteBuilder and it works fine with route auto discovery.

But to implement the DB and runtime activation I would need to disable the auto discovery. Is there a way to do this?

I found the option

[2020-09-22 07:08] ppalaga commented on #1795
Thanks for the feedback. I also think that, in its essence, my proposal is a hack using partials for something they were not designed for.

That sounds promising. No manual local setup is good for both devs and CI. I'd like to check how much time overhead will this bring before I fully commit to the idea.

[2020-09-22 07:49] lburgazzoli commented on #1816
@heyplusyou how did you define the route ? I mean it's just a RouteBuilder class or annotate with a CDI annotation ?

[2020-09-22 08:25] heyplusyou commented on #1816
@lburgazzoli defined with @ApplicationScoped

see below

[code]

[2020-09-22 08:27] lburgazzoli commented on #1816
ok, now I see what the problem is, working on a fix.
In the meantime, I think if you remove the `ApplicationScoped` it should not end up being loaded.

[2020-09-22 09:27] lburgazzoli commented on #1816
@heyplusyou btw, thinking about it a little bit more, unless you want to add the route yourself, if you only want to activate a route upon a condition, you can disable route's auto-startup as you are already doing, isn't that enough ?

[2020-09-22 10:48] #1608 closed

[2020-09-22 11:14] heyplusyou commented on #1816
I can confirm when I remove the @ApplicationScoped then its not starting automatically. But of course would be great to control it via properties

Yes and no, my idea was to start the route with different attributes e.g. for test environment I can just switch the directories. But its a good point, let me try it it.

[2020-09-22 11:18] lburgazzoli commented on #1816
For most of the things you can probably rely on properties I guess but let us know so we can eventually enhance what we do

[2020-09-22 11:18] ppalaga commented on #1795
I measured the `yarn build` duration in the following scenarios:

1. Current Camel Quarkus master: ~12s
2. Adding the following snippet to `antora-playbook.yml` with Camel repo cached locally under `~/.cache/antora/content/2/`:

[code]

46s

3. Same as 2. but without Camel repo cached locally under `~/.cache/antora/content/2/`: 2m 54s

These numbers make me hesitant.

There is one more issue with

[2020-09-22 11:24] ppalaga opened #1819 "Run verify for the docs module on the CI"
This mistakenly fell out by the last major workflows refactoring.

[2020-09-22 11:45] #1816 closed

[2020-09-22 15:20] #1756 closed

[2020-09-22 18:12] djencks commented on #1795
I’m not sure my suggestion is the best way forward, but I think there are more choices that use it.

For one thing, you are pulling in the entire camel master site, rather than just components, which is going to increase the build time.

It’s not actually necessary for the author-mode camel-quarkus build to generate the table for component-to-extension links; this would allow the build to use only

[2020-09-23 01:14] eamazaj commented on #1739
I am trying to call a PGM program with apache camel 3.5.0, but from Jt400Type it doesn't support PGM type:

Example:

from(jt400://DEMO678:xxxxx@host/QSYS.LIB/DEMO6781.LIB/HELLO.PGM)
    .to(direct:demo)

StackTrace:

2020-09-22 19:59:05,714 ERROR [io.qua.application] (Quarkus Main Thread) Failed to start application (with profile dev): java.lang.RuntimeException: org.apache.camel.FailedToStart
Ro

[2020-09-23 04:12] davsclaus commented on #1739
The PGM cannot be in from, but you can use it in to, so do

from timer foo
  to jt400 pgm

[2020-09-23 04:43] #1810 closed

[2020-09-23 07:59] JiriOndrusek commented on #1694
Please, assign to me.

[2020-09-23 09:18] #1819 closed

[2020-09-23 09:49] #1812 closed

[2020-09-23 09:56] ppalaga opened #1823 "A user guide page informing about various ways to define routes"
We should have a page in the user guide informing about various ways to define routes:

* Extend `org.apache.camel.builder.RouteBuilder`
* XML: `xml-rests`, `xml-routes`, `xml-route-templates`

[2020-09-23 11:22] ppalaga opened #1824 "Document all ways to start a new project"
* https://code.quarkus.io/
* Examples in https://github.com/apache/camel-quarkus/tree/master/examples
* Quarkus maven plugin and various IDE plugins

[2020-09-23 18:11] eamazaj commented on #1739
It does not work because it does not load the parameters of the uri outputFieldsIdxArray outputFieldsLengthArray in the Jt400Configuration class, according to the documentation that would be enough. But it does not work.

[2020-09-23 18:14] davsclaus commented on #1739
This is not the place to ask for JT400 help with Camel, see here
https://camel.apache.org/community/support/

[2020-09-24 01:08] github-actions[bot] opened #1826 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 269700642-51-1815ae07-6e16-4730-8d4f-48607ae362ec
* Camel Quarkus Commit: d207094173f1f6aa3639d5fae18d93936d0e1902

* Camel Master Commit: 88b1aab737ab45de5e8b7d6d2f378c547bafb093
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/269700642

[2020-09-24 09:19] #1815 closed

[2020-09-24 09:58] zbendhiba commented on #1645
I'm working on this extension

[2020-09-24 14:37] ppalaga commented on #1795
I went with this option after discussing it with @jamesnetherton . I have updated https://github.com/apache/camel-quarkus/pull/1814

That's our current _modus operandi_ Changing it would require a separate discussion.

Yeah, that's an important advantage of using partials (thanks again for proposing it!). I am going to file a PR against Camel once #1814 is merged.

[2020-09-24 15:37] djencks commented on #1795
BTW, the noise from 'include not found' should disappear with antora 3.0-alpha-1 which should be released any day now.  I don't think there are any destabilizing changes in it.

The cq dataformats, languages, etc pages ought to be able to also use this idea, right?

[2020-09-24 15:50] ppalaga commented on #1795
Yes, of course, my update of #1814 does that for all.

[2020-09-24 15:50] #1795 closed

[2020-09-25 03:12] github-actions[bot] opened #1830 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 271667937-155-9a5b19d5-a05e-4227-b9f5-095e6d5735a6
* Camel Quarkus Commit: 14c35f7409e41818f93ec432812e771ebf27f31b

* Quarkus Master Commit: cf20189643b27660a4c8aaea5f45f05bfd7cbeb0
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/271667937

[2020-09-25 08:31] #1560 closed

[2020-09-25 08:36] ppalaga opened #1834 "List of misc. components empty after the recent docs generation changes"
https://camel.apache.org/camel-quarkus/latest/reference/others.html

[2020-09-25 10:02] #1834 closed

[2020-09-25 10:59] ppalaga opened #1837 "AWS XRay native support"
Note that there is `io.quarkus:quarkus-amazon-lambda-xray-deployment`

[2020-09-25 11:02] ppalaga opened #1838 "Headersmap native support"

[2020-09-25 11:09] ppalaga opened #1839 "LevelDB native support"

[2020-09-25 12:32] ppalaga opened #1840 "NoSuchMethodException: org.apache.camel.service.lra.LRASagaRoutes.<init>()"
Happens also in JVM mode

[code]

Workaround: add the following to application properties:

[code]

[2020-09-25 12:39] #1711 closed

[2020-09-25 12:43] ppalaga commented on #793
See also https://github.com/apache/camel-quarkus/issues/1840

[2020-09-25 13:34] ppalaga opened #1843 "Duplicate license headers in Velocity test templates"
We have two license headers for some reason here and elsewhere.

_Originally posted by @ppalaga in https://github.com/apache/camel-quarkus/pull/1804#discussion_r494977020_

[2020-09-25 13:35] ppalaga commented on #1843
@JiriOndrusek could you please pick this one?

[2020-09-25 13:36] JiriOndrusek commented on #1843
Please, assign to me. I see the reason, it was caused by my bad revert of the test code.

[2020-09-25 13:49] ppalaga opened #1844 "Shiro native support"

[2020-09-25 14:01] ppalaga opened #1845 "Remove deprecated Ribbon extension"

[2020-09-25 14:16] ppalaga opened #1846 "JCache native support"

[2020-09-25 14:32] ppalaga opened #1848 "RESTEasy support"
Hard to port in its current state as it dependends on Servlet API. @jamesnetherton mentioned that a rewrite of the Camel component would make porting easier.

[2020-09-25 14:41] ppalaga commented on #837
Fixed via https://github.com/apache/camel-quarkus/pull/1804

[2020-09-25 14:41] #837 closed

[2020-09-25 15:08] ppalaga commented on #108
Closing for now. Please feel free to reopen with an explanation what tasks should the requested AWS SSM extension fulfill

[2020-09-25 15:08] #108 closed

[2020-09-25 19:04] #1843 closed

[2020-09-26 04:56] #1830 closed

[2020-09-27 02:32] github-actions[bot] opened #1850 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 274644743-157-71063f9e-83fc-4283-a9a0-c21533d80ee1
* Camel Quarkus Commit: 9d3a6bb2c8d7646103cc149ffc3f3952e3f133ba

* Quarkus Master Commit: befcfc38cf5a517629c7921f3f5a2763b09052cd
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/274644743

[2020-09-27 13:37] mswiderski opened #1851 "The stream has no active subscriptions when using camel-quarkus-smallrye-reactive-messaging"
When using `camel-quarkus-smallrye-reactive-messaging` to simply receive messages when new files show up in a folder I get

[code]

I tried Quarkus 1.7 and 1.8 with camel-quarkus-smallrye-reactive-messaging 1.1.0

The code is really simple as it consists of following class

[code]

and then `application.properties` have following

[code]

as soon as file exists in that folder (`/tmp/orders`) it co

[2020-09-28 05:08] #1850 closed

[2020-09-28 07:01] mswiderski commented on #1851
further investigation shows that following code is not really respected on startup
https://github.com/apache/camel-quarkus/blob/1.1.0/extensions/smallrye-reactive-messaging/deployment/src/main/java/org/apache/camel/quarkus/component/smallrye/reactive/messaging/deployment/SmallRyeReactiveMessagingProcessor.java#L73

as the init method is still invoked and actually overrides the reactive instance wh

[2020-09-28 07:08] jamesnetherton commented on #1851
Thanks for investigating. I'll look into seeing if there's a short term fix for `SmallRyeReactiveMessagingProcessor` and then a better fix in `smallrye-reactive-messaging-camel`.

[2020-09-28 07:13] mswiderski commented on #1851
@jamesnetherton excellent, thanks.

let me know if you need me to give it a try or any additional info is needed.

[2020-09-28 08:39] jamesnetherton opened #1852 "Main extension cannot load rest XML definitions"
See https://issues.apache.org/jira/browse/CAMEL-15581.

We should be able to work around it until Camel 3.6.0 is available.

[2020-09-28 11:44] jamesnetherton commented on #1851
@mswiderski are you able to point me at the code for your application?

It'd help me to write an integration test that replicates the problem.

[2020-09-28 12:27] mswiderski commented on #1851
have a look at the attached sample

[quarkus-camel-rm.zip](https://github.com/apache/camel-quarkus/files/5292161/quarkus-camel-rm.zip)

[2020-09-28 15:39] #1823 closed

[2020-09-29 11:10] JiriOndrusek commented on #1844
Please, assign to me.

[2020-09-29 11:44] jamesnetherton commented on #1851
There's a change in `smallrye-reactive-messaging-camel` that should fix this problem for camel-quarkus. But, we'll have to wait until `smallrye-reactive-messaging` 2.4.0 is released before we can consume it.

Until then, I'll see if we can work around the problem, but it is proving to be quite tricky to do.

[2020-09-29 12:16] mswiderski commented on #1851
Excellent! thanks a lot @jamesnetherton

do you know if it will make it before 1.2.0?

[2020-09-29 12:58] #1694 closed

[2020-09-29 13:56] jamesnetherton commented on #1851
The good news is that 2.4.0 is planned to be released tomorrow, so it should make Quarkus 1.9.0 & Camel Quarkus 1.2.0.

[2020-09-30 11:55] #1807 closed

[2020-10-01 06:33] jamesnetherton commented on #1144
The slightly tricky aspect to this is preserving the camel-quarkus behaviour where the attachments support is optional.

Before I try to figure out how to implement that on the Camel side, do we actually need (or want) to continue doing that. The overall saving on the native image footprint seems trivial to me (500 - 600KB).

@lburgazzoli @ppalaga WDYT?

[2020-10-01 07:18] lburgazzoli commented on #1144
I'm fine with bringing the attachments back and see if there's a better option to make them optional on Camel side later on.

Maybe we can use the extension mechanism that components provide and let the discovery of the attachment support happening at runtime in camel and at build time in camel-quarkus.

[2020-10-01 07:30] jamesnetherton commented on #1144
Ok - that was pretty much how I was going to approach things. Get the attachment support added in the 'traditional' way, then have a follow up issue to optimize it.

[2020-10-01 08:39] zbendhiba commented on #1719
I'm working on this one !!

[2020-10-01 09:13] ppalaga opened #1860 "Test Geocoder with Google maps mock API if GOOGLE_GEOCODER_API_KEY is not provided"
If GOOGLE_GEOCODER_API_KEY is not provided, the test should run against a mock API, something like we do with Telegram and elsewhere. If a mock testcontainer is available we should use it. Perhaps a change is needed in Camel to make the API base URL configurable (like in Telegram).

[2020-10-01 09:19] ppalaga opened #1861 "Workaround broken native Locale support"
https://github.com/oracle/graal/issues/1645 and https://github.com/oracle/graal/issues/911 suggest that non-default locales won't work properly in native mode. We should check whether we can leverage the workaround mentioned in https://stackoverflow.com/questions/61567216/graalvm-quarkus-locale-in-native-mode/61594634#61594634

If the workaround works for us, we can use it to "register" Locale.ENG

[2020-10-01 09:27] zbendhiba commented on #1860
Can you assign this one to me ?

[2020-10-01 10:29] tstuber opened #1862 "Log with KafkaProducer does not work"
Hi

I am facing an issue with Quarkus Camel and Kafka. I use the following route:

[code]
I want to write a log entry after the message has been sent to Kafka. Having this `.log()` component set, I get the following error when calling the endpoint:

[code]

From the apps logs, the route seems to stop just after calling kafka. The log component is not listed in the trace. There is also no exception

[2020-10-01 14:53] #1691 closed

[2020-10-01 15:35] zbendhiba commented on #1860
impossible because the URI is hard-coded inside the GeocodingApi used by Camel

[2020-10-01 15:45] #1645 closed

[2020-10-01 19:11] sohailalam2 commented on #1641
Hi Team,

Is there any plan to implement native support for Apache Flink?
Any ETA?

Thanks

[2020-10-01 19:28] ppalaga commented on #1641
No ETA, but contributions are welcome! If you or anybody else would like to give it a try, here is the guide: https://camel.apache.org/camel-quarkus/latest/contributor-guide/promote-jvm-to-native.html

[2020-10-02 02:40] github-actions[bot] opened #1865 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 283487037-162-80cac438-8fc9-4970-95a6-1e5789114b15
* Camel Quarkus Commit: 3869c0d692acfa74b6748753f9c5961de20ab61d

* Quarkus Master Commit: da5b9beeca80977c90b45da7fd795e3ea9cbc3a2
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/283487037

[2020-10-02 09:05] jamesnetherton opened #1868 "[Serialization] transferException URI option does not work in native mode"
`transferException` uses object serialization / deserialization which is currently not supported by GraalVM.

We should add some documentation to the affected extensions:

* activemq
* ahc
* ahc-ws
* ahc-wss
* amqp
* http
* https
* jms
* netty-http
* rabbitmq
* servlet
* vertx-http

[2020-10-02 09:24] ppalaga commented on #1868
Could you please explain where that serialization happens? If it in Camel, we could perhaps implement a workaround?

[2020-10-02 09:30] jamesnetherton commented on #1868
Yes, it's in the various Camel components. E.g like here:

https://github.com/apache/camel/blob/master/components/camel-http-common/src/main/java/org/apache/camel/http/common/DefaultHttpBinding.java#L205-L210

And here:

https://github.com/apache/camel/blob/master/components/camel-http-common/src/main/java/org/apache/camel/http/common/DefaultHttpBinding.java#L383

I forget there's also the `allowJ

[2020-10-02 09:32] #1851 closed

[2020-10-02 12:34] JiriOndrusek commented on #1844
To overcome problems with serialization in native (see https://github.com/oracle/graal/issues/460), small enhancement has to be implemented in camel-shiro component (see https://issues.apache.org/jira/browse/CAMEL-15619). I'll propose a change in camel-shiro and after that, I'll finish this extension.

[2020-10-03 03:24] #1826 closed

[2020-10-03 04:58] #1865 closed

[2020-10-03 23:38] gitmalong commented on #1571
Is this the reason I'm facing that issue https://stackoverflow.com/questions/64189831/getting-status-code-500-errors-when-accessing-localstack-kinesis-stream-with-ca

[2020-10-04 07:47] oscerd commented on #1571
This is with aws sdk v2, so probably no, it isn't

[2020-10-04 09:38] gitmalong opened #1871 "AWS properties not picked up"
In my application.properties I'm setting `aws.cborEnabled=false` but it is not being set as `System.getenv("aws.cborEnabled"` returns `null`.

Using amel-quarkus-aws2-kinesis

[code]

[2020-10-04 10:12] oscerd commented on #1871
I'll have a look but it shouldn't be an env variable

[2020-10-05 06:59] oscerd commented on #1871
With AWS2-Kinesis extension or with the the aws-kinesis extension?

With v2 the aws.cborEnabled is a system property not an env variable.

https://github.com/aws/aws-sdk-java-v2/blob/master/docs/LaunchChangelog.md#61-environment-variables-and-system-properties

[2020-10-05 07:00] oscerd commented on #1871
If you're using the aws-kinesis extension you need to set the AWS_CBOR_DISABLED as env property or the com.amazonaws.sdk.disableCbor as system property.

[2020-10-05 07:05] oscerd commented on #1871
Also it's not completely clear if you're using the camel extension or not. Please add more details.

[2020-10-05 10:14] ppalaga commented on #1862
Which version of Camel Quarkus and Quarkus are you using? Could you please share your pom.xml?

[2020-10-05 11:39] ppalaga commented on #1840
I'd introduce a `RoutesBuilderClassExcludeBuildItem` unless anybody has a better idea.

[2020-10-05 11:46] jamesnetherton commented on #1840
Is `LRASagaRoutes` a fundamental component of camel-lra? If it is, excluding it is just a hack to make the build successful. I.e we should perhaps consider pulling support for the extension until the underlying problem(s) are fixed.

[2020-10-05 11:55] #1838 closed

[2020-10-05 12:13] ppalaga commented on #1840
camel-lra instantiates `LRASagaRoutes` programmatically, providing a `LRASagaService` to the `LRASagaRoutes(LRASagaService sagaService)` constructor. I think it is really not a good idea to let Camel Quarkus Core to instantiate it. Of course unless we redesign camel-lra to suit better what Camel Quarkus expects. Yes, we will perhaps need to change camel-lra anyway, when porting to native. The solu

[2020-10-05 12:24] jamesnetherton commented on #1840
Ok, understood. Then I guess `RoutesBuilderClassExcludeBuildItem` makes sense :+1:

[2020-10-05 12:31] jamesnetherton opened #1874 "Remove Camel AS2 configuration class reflection registration"
See here:

https://github.com/apache/camel-quarkus/blob/master/extensions/as2/deployment/src/main/java/org/apache/camel/quarkus/component/as2/deployment/As2Processor.java#L52-L53

`AS2ServerManagerEndpointConfiguration` and `AS2ClientManagerEndpointConfiguration` have corresponding configurer classes. So reflective access should not be required.

[2020-10-05 14:05] zbendhiba commented on #1860
related to https://issues.apache.org/jira/browse/CAMEL-15632

[2020-10-05 14:42] #1840 closed

[2020-10-05 16:33] tstuber commented on #1862
Camel Quarkus: 1.0.0
Quarkus: 1.7.0.Final

pom.xml:
[code]

[2020-10-05 17:21] tstuber commented on #1862
I also face the same issue when using:
Camel Quarkus: 1.1.0
Quarkus: 1.7.5.Final

[2020-10-06 06:25] jamesnetherton opened #1876 "Fix usage of deprecated GitHub actions commands"
We should modify our workflows as per:

https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-10-06 08:02] JiriOndrusek commented on #1839
Please, assign to me.

[2020-10-06 15:05] jamesnetherton commented on #1759
The problem is that `quarkus-spring-di` has this plugin configuration:

[code]

This effectively bans the core spring libraries from the application. The Quarkus Spring extensions repackage the Spring dependencies and only include a minimal set of packages to reduce the overall footprint. Hence we get a CFNE at runtime.

I don't think there's a simple way to work around this.

We could maybe use a

[2020-10-07 08:33] jamesnetherton opened #1881 "Crypto extension requires reflective access to DigitalSignatureConstants"
As noted in this comment https://github.com/apache/camel-quarkus/pull/1878#issuecomment-704762363. There's some logic to clear exchange headers that relies on reflection.

We can work around the problem until a fix is available in Camel.

See https://issues.apache.org/jira/browse/CAMEL-15648.

[2020-10-07 08:33] #1593 closed

[2020-10-07 13:43] jamesnetherton opened #1884 "Investigate leveraging quarkiverse google cloud services"
See if some of the extensions can be used in camel component extensions.

* BigQuery
* PubSub

https://github.com/quarkiverse/quarkiverse-google-cloud-services

[2020-10-07 15:10] aldettinger opened #1885 "[QUARKUS 1.9] Remove the driver registration workaround from Postgres Replication Slot extension"
In the context of this [commit](https://github.com/apache/camel-quarkus/commit/26d796852d637723b481891219c5f6cde242d7ca), the postgres driver registration is [forced at camel-quarkus level](https://github.com/apache/camel-quarkus/blob/26d796852d637723b481891219c5f6cde242d7ca/extensions/pg-replication-slot/runtime/src/main/java/org/apache/camel/quarkus/component/pg/replication/slot/PostgresDriverRe

[2020-10-07 15:15] #1720 closed

[2020-10-08 02:46] github-actions[bot] opened #1886 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 294611108-168-3c66a3e3-5e6c-4669-b32a-4648df1e3f6b
* Camel Quarkus Commit: c03ca7c4dbee3a8a35cd7254a4b4d9b8d2de9f3c

* Quarkus Master Commit: 26d796852d637723b481891219c5f6cde242d7ca
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/294611108

[2020-10-08 09:17] jamesnetherton opened #1889 "Provide codestarts configuration"
Could be good if some of the camel extensions made use of codestarts:

https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/codestarts/README.adoc

Might be a solution to https://github.com/apache/camel-quarkus/issues/1173 and maybe an alternative to adding more example projects.

[2020-10-08 13:42] jamesnetherton commented on #1862
I can replicate this issue with Camel Quarkus 1.1.0 but not with the latest 1.2.0-SNAPSHOT.

[2020-10-08 13:48] ppalaga commented on #1889
Yes, we should definitely explore this option.

[2020-10-08 14:25] jamesnetherton opened #1891 "IllegalArgumentException thrown on itest application startup"
Something I observed since the Quarkus 1.9.0 upgrade is that itests requiring property based configuration (ActiveMQ, Debezium, Jira, Slack & others) throw an `IllegalArgumentException` on startup.

Everything proceeds to run and pass ok, so not sure if it's something to be concerned about.

[code]

[2020-10-08 14:40] lburgazzoli opened #1892 "arkus"

[2020-10-08 14:40] #1892 closed

[2020-10-08 15:21] jamesnetherton commented on #1891
This could be due to the upgrade of `slf4j-jboss-logging` to 1.2.1.Final. If I force the dependency back to 1.2.0.Final, the error no longer shows.

Possibly due to this change:

https://github.com/jboss-logging/slf4j-jboss-logging/commit/1204d4301b82aeddfb0b0b3c0905f48df9c266d7

It's the only thing that stands out in the diff between the two tags:

https://github.com/jboss-logging/slf4j-jboss-log

[2020-10-08 16:25] #1704 closed

[2020-10-08 16:25] #1763 closed

[2020-10-08 16:25] #1790 closed

[2020-10-08 21:02] lburgazzoli commented on #1891
I think we should report this to quarkus, last time I saw a similar error was about MP Config not able to resolve some env vars and we implemented a workaround on our side but looks like it is something outside of our control now

[2020-10-09 05:10] #1886 closed

[2020-10-09 12:23] jwwallin opened #1894 "AdviceWithRouteBuilder replaceFromWith and microprofile-metrics conflict"
I'm trying to write tests for a quartz triggered route by replacing the original from-endpoint using `AdviceWithRouteBuilder.adviceWith(camelContext, "scheduler-daily", advisor -> {advisor.replaceFromWith("direct:scheduler-daily");})`.

When I run the test, I get this error:
[code]

Am I missing something or is there a bug in the way the replaceFromWith(...) interacts (or maybe doesn't interact) w

[2020-10-09 12:56] jamesnetherton commented on #1894
It's probably a bug in the camel-microprofile-metrics component. Looks like `adviceWith` or `replaceFrom` results in an attempt to register a metric that already exists.

You could try disabling the route metrics by adding the following to `application.properties`:
[code]

[2020-10-09 13:35] jwwallin commented on #1894
I disabled the route metrics as suggested and it works fine.

[2020-10-09 14:26] ppalaga commented on #1770
This was apparently fixed by the recent changes in camel-quarkus/docs and camel-website

[2020-10-09 14:26] #1770 closed

[2020-10-09 14:34] ppalaga commented on #1717
Fixed via https://github.com/apache/camel-quarkus/pull/1818

[2020-10-09 14:34] #1717 closed

[2020-10-09 14:40] ppalaga commented on #1410
The lock symbol is rendered properly now
![image](https://user-images.githubusercontent.com/1826249/95596808-233f2600-0a4e-11eb-935b-4d227d7914e7.png)
https://camel.apache.org/camel-quarkus/latest/reference/extensions/microprofile-health.html#_additional_camel_quarkus_configuration

[2020-10-09 14:40] #1410 closed

[2020-10-09 15:47] ppalaga opened #1895 "Remove JtaProcessor.registerNarayanaReflectiveClass when quarkusio/quarkus#10180 gets fixed"
Blocked by https://github.com/quarkusio/quarkus/issues/10180
cc @zhfeng

[2020-10-09 15:54] ppalaga opened #1896 "Add a filter to discard AnnotationTypeConverterLoader"
Citing from the comment in `org.apache.camel.quarkus.core.deployment.CamelProcessor.typeConverterRegistry(CamelRecorder, RecorderContext, ApplicationArchivesBuildItem, List<CamelTypeConverterLoaderBuildItem>)`:
we could add a filter to discard AnnotationTypeConverterLoader but maybe we should introduce a marker interface like StaticTypeConverterLoader for loaders that do not require to perform any

[2020-10-09 16:12] ppalaga commented on #310
We have enough timer -> log examples now https://github.com/apache/camel-quarkus-examples

[2020-10-09 16:12] #310 closed

[2020-10-09 16:14] #1285 closed

[2020-10-09 16:49] ppalaga opened #1898 "Figure out how to maintain Camel components that bring too many non-convergent dependencies"
Here is the list of components where the issue occurs: https://github.com/apache/camel-quarkus/issues?q=is%3Aissue+%5Bdependency+hell%5D

I see two options:

A. Keep enforcing dependencyConvergence, but manage in the extension instead of our global BoM
B. Stop enforcing dependencyConvergence for the given extensions

Both options have some potential to worsen the ability of the given extensions to

[2020-10-09 17:53] aldettinger commented on #1885
[Removed the workaround](https://github.com/apache/camel-quarkus/commit/7e117d324cb3461f298ab262cab2274cd21aff8e) as of quarkus 1.9. Let's check the CI build is ok too.

[2020-10-10 00:41] github-actions[bot] opened #1900 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 298472444-66-8f30251b-59da-480d-8830-b10d8c5db6cb
* Camel Quarkus Commit: 8e644d21ed19971f8a267a199100abc3d70adb11

* Camel Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/298472444

[2020-10-10 01:21] zhfeng commented on #223
@vsevel so we can leverage the https://github.com/quarkiverse/quarkiverse-freemarker now ?

[2020-10-10 01:23] zhfeng commented on #1384
The quarkus mybatis extension has been moved to https://github.com/quarkiverse/quarkiverse-mybatis and I'm working on it.

[2020-10-10 11:14] vsevel commented on #223
@zhfeng 0.0.4 should provide a good first version to start playing with. it is the bare minimum. from this original issue, I just did not migrate over the filtering capabilities (include/exclude).
for now I included the doc in the project itself https://github.com/quarkiverse/quarkiverse-freemarker/blob/master/doc/freemarker.adoc, waiting for https://github.com/quarkusio/quarkus/issues/12526
I wil

[2020-10-11 09:07] ppalaga opened #1901 "[Camel Quarkus 1.2] Remove quarkus.camel.native.resources.include-patterns = routes/*.xml in examples"

[2020-10-12 06:21] jamesnetherton commented on #1891
Quarkus has downgraded `slf4j-jboss-logging` which fixes the issue. I'll close this (for now).

[2020-10-12 06:21] #1891 closed

[2020-10-12 07:26] #1885 closed

[2020-10-12 10:10] ppalaga commented on #1648
The dependency hell was not that bad after all, at least the extension part - so I solved it with the usual means. The test module was a bit worse due to the mess in the transitive dependencies of `hbase-testing-util` (used to start the test cluster). For that one, was able to keep dependencyManagement config in the test module.

[2020-10-12 11:33] #1824 closed

[2020-10-12 12:53] zbendhiba commented on #1732
I'm working on this one !

[2020-10-12 21:03] ppalaga commented on #1648
The native mode is partly finished in #1906, I gave up when I found out that HBase has a shaded Netty.

[2020-10-12 21:34] ppalaga commented on #1861
Substituting `java.text.DecimalFormatSymbols.getInstance(Locale)` would solve the issue with `String.format(Locale.ROOT, "%.1f", double)` in Geocoder. I have a PoC, but it is a bit fragile and hard to generalize. I do not think it is worth having it just to solve the GeoCoder issue. Hopefully GraalVM comes with a proper non-default locale support soon https://github.com/oracle/graal/issues/2908

[2020-10-13 00:37] zhfeng commented on #1895
Thanks @ppalaga and assign it to me please.

[2020-10-13 03:29] #1900 closed

[2020-10-13 08:13] ppalaga opened #1907 "Figure out how to port shaded netty to native"
Camel components known to pull an embedded Netty:

* Kudu https://github.com/apache/camel-quarkus/issues/1669
* Couchbase https://github.com/apache/camel-quarkus/issues/1188
* HBase https://github.com/apache/camel-quarkus/issues/1648

In case of Kudu, I simply copied the substitutions and deployment code from quarkus-netty, see https://github.com/apache/camel-quarkus/pull/1667 but this approach is

[2020-10-13 08:38] JiriOndrusek opened #1908 "LevelDB: mapped bytebuffer cleaner update for jdk 9+ needs workaround to work in native mode"
Code change in levelDB implementation (see https://github.com/dain/leveldb/commit/39b6e0c38045281fba5f6532c52dc06905890cad) does not work in native mode. It uses `MethodHandle` (see https://github.com/oracle/graal/issues/2761), which are not supported on GraalVM.

Native mode overcomes the issue by substitution `OriginalByteBufferSupport`. This substitution can be removed once `MethodHandle` suppo

[2020-10-13 08:38] zbendhiba opened #1909 "PostgresSQL Event : add usage of Quarkus AgroalDatasource"
Improve the camel pgevent component in order to make it possible to use Quarkus ArgoalDatasource in the PostgresSQL Event extension

[2020-10-13 08:39] zbendhiba commented on #1909
Can you please assign this one to me  ?

[2020-10-13 08:40] #1719 closed

[2020-10-13 08:45] rernas35 opened #1910 "SnappyCompression fails while building native image"
Using camel-quarkus-cassandraql with version of 1.1.0 and getting the following error ;

Error: could not find target method: protected io.netty.buffer.ByteBuf com.datastax.oss.driver.internal.core.protocol.SnappySubstitution.compressHeap(io.netty.buffer.ByteBuf)
com.oracle.svm.core.util.UserError$UserException: could not find target method: protected io.netty.buffer.ByteBuf com.datastax.oss.drive

[2020-10-13 08:54] jamesnetherton commented on #1910
Native builds for `camel-quarkus-cassandraql` isn't really supported at the moment. See https://github.com/apache/camel-quarkus/issues/1355. @JiriOndrusek can work on native support progress now that some of the issues seem to have been resolved?

[2020-10-13 09:02] JiriOndrusek commented on #1910
@jamesnetherton @rernas35 I'll look into current state to see if more work could be done.

[2020-10-13 09:10] JiriOndrusek opened #1911 "LevelDB: Use native (C++) implementation of levelDB for native mode"
Current levelDB extension is using Java port of library (https://github.com/dain/leveldb#leveldb-in-java), which has lower performance.

Fast (C++) implementation should be used instead.

[2020-10-13 11:52] ismailbaskin commented on #1633
Is there any plan for that?

[2020-10-13 11:56] jamesnetherton commented on #1633
I am planning to look into it. It probably wont make the Camel Quarkus 1.2.0 release, but I'll aim to have something completed for 1.3.0 (next month).

[2020-10-14 00:53] github-actions[bot] opened #1912 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 305480708-70-b2d87517-77dd-4037-a222-e0b0ed8a9491
* Camel Quarkus Commit: 7200dc38ef9e7d0fccb534bd7e6574c13e401a90

* Camel Master Commit: 69d9d7ac1f712b0bca1149ce6a10a35c94236ebd
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/305480708

[2020-10-14 07:12] QiAnXinCodeSafe opened #1913 "Unreleased Resource: Streams"
https://github.com/apache/camel-quarkus/blob/c5e3e0c78dff36a9845f79a87f74d5b9e67c744a/integration-tests/http/src/main/java/org/apache/camel/quarkus/component/http/it/HttpRoute.java#L41

The program can potentially fail to release a system resource.

[2020-10-14 07:38] jamesnetherton opened #1914 "HBase integration tests fail with Camel 3.6.0"
Upgraded HBase to 2.3.1 in alignment with Camel 3.6.0 and the integration tests no longer run:

[code]

Seems `hbase-testing-util` depends on JUnit 4, so maybe that's the source of the problem.

For now, I have skipped surefire plugin execution for HBase on the `camel-master` branch.

[2020-10-14 09:43] zbendhiba commented on #1909
To use Quarkus ArgoalDatasource  in the PostgresSQL Event extension, we need to have first a support for pgjdbc-ng driver in Agroal. the pgjdbc-ng used in our extension for pgevent camel component is not compatible with postgres driver.

[2020-10-14 09:57] zbendhiba opened #1917 "pgevent : config issue"
By reviewing the code there's an issue in configuration of Driver class :  https://github.com/apache/camel-quarkus/blob/c5e3e0c78dff36a9845f79a87f74d5b9e67c744a/extensions/pgevent/deployment/src/main/java/org/apache/camel/quarkus/component/pgevent/deployment/PgeventProcessor.java#L59
The driver config, must be set to Driver class and not ProcProvider

[2020-10-14 09:58] zbendhiba commented on #1917
I'm working on fixing this one

[2020-10-14 10:28] jamesnetherton opened #1918 "Revisit transaction support"
There are a few extensions that offer transaction support:

* JDBC
* JPA
* JMS
* SJMS
* SQL

We don't have any documentation around how these can integrate with `quarkus-narayana`. We could improve the UX by automatically configuring the transaction support for these components if `quarkus-narayana` or our JTA extension is detected.

[2020-10-14 11:00] jamesnetherton commented on #1894
I added a workaround to fix the issue for the 1.2.0 release.

It'll be fixed properly when the project upgrades to Camel 3.6.0.

https://issues.apache.org/jira/browse/CAMEL-15675

[2020-10-14 13:37] zbendhiba commented on #1917
PR merged : https://github.com/apache/camel-quarkus/pull/1919

[2020-10-14 13:37] zbendhiba commented on #1917
can you please close this issue ?

[2020-10-14 13:40] #1917 closed

[2020-10-14 18:51] #1722 closed

[2020-10-15 02:24] github-actions[bot] opened #1922 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 307714634-175-a1239973-4379-4c9d-b5b1-38f7de6a995e
* Camel Quarkus Commit: bccee6d5bee30de3bfd9f2ec2af4901ca23e24a1

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/307714634

[2020-10-15 06:19] #1839 closed

[2020-10-16 08:30] krecco opened #1927 "How to add startHistoryId queryParameter to google-mail:history/list (camel-quarkus-google-mail)"
Hi,

I am new to camel and I have a problem using camel-quarkus-google-mail library. Could someone help me with startHistoryId queryparameter in google-mail:history/list.

.to("google-mail:history/list?userId=me&....&startHistoryId=12322121")

producess error:

org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: google-mail://history/list?accessToken=xxxxxx&clientId=104620

[2020-10-16 09:03] ppalaga opened #1928 "Document Spark peculiarities"
* Special BOM
* Not necessarily compatible with the rest of the platform
* dataframe does not work on Java 11
* Hive does not work https://issues.apache.org/jira/browse/CAMEL-15696
* The above may change after https://issues.apache.org/jira/browse/CAMEL-15650

[2020-10-16 09:10] ppalaga commented on #1928
Follows up https://github.com/apache/camel-quarkus/pull/1916

[2020-10-16 09:20] ppalaga commented on #1927
There is no single mention of `startHistoryId` in https://camel.apache.org/components/latest/google-mail-component.html so is not expected to work the way you have it. However, this [SO answer](https://stackoverflow.com/a/38549034) suggests that you can pass it via Camel message header, something like:

[code]

[2020-10-16 09:32] krecco commented on #1927
@ppalaga thanks for your answer.

I have tried what you suggested (seting headers) before opening issue, but with no success.
Reply from google:

{
  "code" : 400,
  "errors" : [ {
    "domain" : "global",
    "message" : "Missing/invalid parameter: startHistoryId",
    "reason" : "invalidArgument"
  } ],
  "message" : "Missing/invalid parameter: startHistoryId",
  "status" : "INVALID_ARGUMENT"
}

[2020-10-16 09:41] ppalaga commented on #1927
It looks like it is not supported by Camel. Could you please request it as a new feature on https://issues.apache.org/jira/browse/CAMEL and paste the issue link here?

[2020-10-17 07:18] ppalaga commented on #1675
Fixed in 1.3.0 via 642d2acc4019ba0029decbe345273d30fab23173

[2020-10-17 07:18] #1675 closed

[2020-10-17 07:19] ppalaga commented on #1737
Fixed in 1.3.0 via 330056bd640ef4bd50eb93ebb62e6bfb4582ee15

[2020-10-17 07:19] #1737 closed

[2020-10-17 07:20] ppalaga commented on #1844
Fixed in 1.3.0 via 62b3a1b40b5cb2cff0a79bbc0ed240758bfa8d88

[2020-10-17 07:20] #1844 closed

[2020-10-17 07:21] ppalaga commented on #1860
Fixed in 1.3.0 via 6649cc3ad04ec10ea953abc3c76bb009e7764335

[2020-10-17 07:21] ppalaga commented on #1769
Fixed in 1.3.0 via 8349c6e2b33049695ff8de254029514a861efc06

[2020-10-17 07:21] #1769 closed

[2020-10-17 07:23] ppalaga commented on #1725
Fixed in 1.3.0 via 96f1c0acee7d1ebd6ee344993a2b57ebe7abd77e

[2020-10-17 07:23] #1725 closed

[2020-10-17 07:23] ppalaga commented on #1914
Fixed in 1.3.0 via 0f246b2ed6ae3f95da6abf1ea42eff55ab2aa5dc

[2020-10-17 07:23] #1914 closed

[2020-10-17 07:23] #1860 closed

[2020-10-18 06:59] #1927 closed

[2020-10-19 11:18] ppalaga opened #1930 "FOP tests fail in Quarkus Platform"
[code]

[2020-10-19 21:14] #1930 closed

[2020-10-20 03:11] #1912 closed

[2020-10-20 09:23] jamesnetherton opened #1933 "ActiveMQ Default XPath evaluator could not be loaded"
There are some warnings during native compilation with the ActiveMQ extension. Seems to be thrown from the static initialiser in
[XPathExpression](https://github.com/apache/activemq/blob/112c4e602f79d8a4df411657d2de2dc4d6e01b5e/activemq-client/src/main/java/org/apache/activemq/filter/XPathExpression.java).

The fallback evaluator `XalanXPathEvaluator` wont be on the classpath because `activemq-bro

[2020-10-20 09:34] davsclaus commented on #1933
I would turn the xpath off and add it in the docs as a limitation. I have not seen anyone uset that

[2020-10-20 21:18] weimeilin79 opened #1935 "Properties Bean configure not working with AMQP and Infinispan"
I had a couple of components in Camel K that uses properties to set the value for the components.
After the runtime switched to Quarkus, some of them stopped working.

AMQP
[code]
but now, it only takes in quarkus setting

[code]

Infinispan

[code]

But now it only takes in

[code]

[2020-10-20 22:17] ppalaga commented on #1935
I guess you need to add the `camel-quarkus-main` dependency as documented in https://camel.apache.org/camel-quarkus/latest/user-guide/bootstrap.html#_camel_main

[2020-10-20 22:39] weimeilin79 commented on #1935
I was using Camel K, which by default using the Quarkus runtime. Should we include this dependency by default?

Currently it only has this:

    - 'camel-quarkus:infinispan'
    - 'camel-quarkus:kafka'
    - 'camel-quarkus:timer'
    - 'camel:bean'
    - 'camel:infinispan'
    - 'camel:jackson'
    - 'mvn:io.netty:netty-codec:4.1.49.Final'
    - 'mvn:org.apache.camel.k/camel-k-quarkus-loader-java'

[2020-10-21 07:49] lburgazzoli commented on #1935
No camel-quarkus-main is there by default in camel-k.

Additional note: only the components for which we have an extension that uses beans from build items seems to be affected, as example here, the kafka setup works using camel's conventions whereas the jms one does not.

@weimeilin79 am I right ?

[2020-10-21 11:46] tstuber commented on #1862
Indeed, poblem is solved with camel-quarkus 1.2.0.

[2020-10-21 11:46] #1862 closed

[2020-10-21 12:40] #1732 closed

[2020-10-21 14:16] #1881 closed

[2020-10-21 14:16] #1852 closed

[2020-10-21 20:33] ppalaga opened #1941 "Camel Avro RPC component native support"
This one is for camel-avro-rpc component. We already have the avro dataformat in native https://github.com/apache/camel-quarkus/issues/782

[2020-10-21 20:45] ppalaga commented on #1652
Hipchat was removed from Camel 3.6.0

[2020-10-21 20:45] #1652 closed

[2020-10-21 20:47] ppalaga opened #1942 "JClouds native support"

[2020-10-21 20:51] ppalaga opened #1943 "Openstack native support"

[2020-10-21 20:53] ppalaga opened #1944 "PubNub native support"

[2020-10-22 00:54] github-actions[bot] opened #1945 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 321006029-78-c996c121-3f0c-4762-8953-6636b904f56e
* Camel Quarkus Commit: 131b8bd8c1c94f2bae476026532438523730e961

* Camel Master Commit: 2eab33c2eea54f7db57def4db0bc5cdb91d5c69a
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/321006029

[2020-10-22 05:15] #1922 closed

[2020-10-22 06:20] #1759 closed

[2020-10-22 07:25] jamesnetherton opened #1948 "LevelDB extension does not compile with Camel 3.7.0-SNAPSHOT"
I guess this happens because the Camel component has been reworked.

@JiriOndrusek can you take a look into this on the camel-master branch?

[code]

[2020-10-22 08:02] #1876 closed

[2020-10-22 08:03] #1901 closed

[2020-10-22 11:13] #1933 closed

[2020-10-22 12:19] zbendhiba opened #1949 "lumberjack : move client payload sending to test"
For better understanding of lumberjack camel-quarkus extension, move code of sending payload to lumberjack in the test directory.

[2020-10-22 12:22] zbendhiba commented on #1949
I'm working on this issue

[2020-10-22 13:08] zbendhiba commented on #1647
working on this one !!

[2020-10-22 13:14] jamesnetherton commented on #1874
When I remove the as2 configuration classes from the `ReflectiveClassBuildItem` config, native compilation fails. So it seems it is doing fallback on reflection:

[code]

@davsclaus any idea what's wrong here?

[2020-10-22 13:30] davsclaus commented on #1874
Yeah it looks like it does, after I debugged a bit. Can you create a JIRA ticket then I can look at this for 3.7

[2020-10-22 13:36] jamesnetherton commented on #1874
https://issues.apache.org/jira/browse/CAMEL-15737

[2020-10-22 14:00] #1913 closed

[2020-10-22 14:23] #1949 closed

[2020-10-22 14:27] ppalaga commented on #1913
Thanks for the report, @QiAnXinCodeSafe and thanks for the fix, @aldettinger !

[2020-10-23 07:21] JiriOndrusek commented on #1948
@jamesnetherton yes, my plan was to fix cq extension today. Please assign to me

[2020-10-23 07:27] JiriOndrusek commented on #1752
Please, assign to me.

[2020-10-26 07:19] #1948 closed

[2020-10-26 08:40] ppalaga commented on #1909
Shouldn't we file a Quarkus issue asking for pgjdbc-ng driver support in Agroal (unless one exists already9%

[2020-10-26 08:41] ppalaga commented on #1910
Closing as duplicate of #1355

[2020-10-26 08:41] #1910 closed

[2020-10-26 09:01] ppalaga commented on #1898
With Spark, we went with A. there is an extension's own BOM that needs to get imported before any other Quarkus and Camel Quarkus BOMs in user apps.

[2020-10-26 10:26] #1144 closed

[2020-10-26 11:07] ppalaga opened #1955 "spark:dataframe does not work on Java 11"
Blocked by https://issues.apache.org/jira/browse/CAMEL-15650

[2020-10-26 11:09] ppalaga opened #1956 "spark:hive is does not work"
Blocked by https://issues.apache.org/jira/browse/CAMEL-15696

[2020-10-26 12:23] #1928 closed

[2020-10-26 12:30] ppalaga commented on #1701
We now have an idiosyncratic JVM-only Spark extension https://github.com/apache/camel-quarkus/pull/1916
Let's use this issue for the native support from now on.

[2020-10-26 12:46] ppalaga commented on #1607
Candidates for an exclusion from a quick profile:

* enforcer:enforce
* impsort:sort
* formatter:format
* (some?) groovy:execute
* license:check
* camel-quarkus:update-extension-doc-page
* quarkus:build

The caveat id that not having the mojo in the build at all is even faster than skipping it through its property. Alone the instantiation of some mojos is quite slow. Let me figure out if we can re

[2020-10-26 14:48] #1806 closed

[2020-10-27 03:00] github-actions[bot] opened #1959 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 330400324-187-fe536bad-e4a9-421f-83c6-473876d2a1e6
* Camel Quarkus Commit: fd0c6185e816ca33fdbb4607fc624edc57f3379f

* Quarkus Master Commit: 58825cb95a61363f2e780ea8a37fa6591b4984c5
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/330400324

[2020-10-27 09:16] zbendhiba commented on #1909
I've filed an issue for Agroal team  https://issues.redhat.com/browse/AG-152

[2020-10-27 09:48] JiriOndrusek commented on #1752
Problem is blocked by an issue with awt:

	at java.awt.color.ICC_Profile$2.run(ICC_Profile.java:942)
	at java.awt.color.ICC_Profile$2.run(ICC_Profile.java:936)
...

Problem is reported as https://github.com/quarkusio/quarkus/issues/12972
My current work (including working jvm tests)  is located here: https://github.com/JiriOndrusek/camel-quarkus/tree/1752_barcode-dataformat-WIP

[2020-10-27 10:22] tstuber opened #1960 "camel-quarkus-kafka: Reconnection issues when working with schema registry"
Hi all

I am trying to consume Avro messages from Kafka by using camel-quarkus-kafka by including the schema-registry.

**My test setup:**

- local Kafka broker/zk
- local schema registry
- local Kafka event producer, writin new random avro messages (schema: fields with "id" and "message")

**Issue**

When I am involving the schema registry parameters, I run into an infinit loop of consumer reconn

[2020-10-27 13:16] jamesnetherton opened #1961 "json-validator native build fails with Camel 3.7.0-SNAPSHOT"
Camel has upgraded `json-schema-validator` to 1.0.44 which seems to contain some changes that break native support.

Looks like there's now support for an [optional library](https://github.com/networknt/json-schema-validator/blob/master/pom.xml#L91-L96) for [ECMA 262](https://github.com/networknt/json-schema-validator/blob/master/doc/ecma-262.md) validation. Which is probably the root cause of the

[2020-10-27 13:16] jamesnetherton commented on #1961
/CC @aldettinger

[2020-10-27 13:18] oscerd commented on #1961
If this is a problem we can revert upstream, because it was just a patch release, but we'll face the same problem in the future

[2020-10-27 20:10] aldettinger commented on #1961
Yeah, I'll look into that to see how far we are from adopting this patch release.

[2020-10-28 16:40] tstuber commented on #1960
I found a "workaround":
* Manually add the avro scheme into the project (e.g. `resources/avro/event.avsc`)
* Configure the `avro-maven-plugin` to generate the sources

Once the generated sources are available, the code works as listed above.

I am not sure if this is working as expected, since the documentation is not very clear to me. Also, I did not find good examples for this case. I could cont

[2020-10-28 21:35] #1607 closed

[2020-10-29 03:45] #1945 closed

[2020-10-29 05:11] #1959 closed

[2020-10-29 08:11] #1961 closed

[2020-10-29 08:44] #1633 closed

[2020-10-29 10:12] JiriOndrusek commented on #1340
Dependencies listed in the summary are transitive dependencies of  `debezium-embedded`. Fix of https://issues.apache.org/jira/browse/CAMEL-14777 doesn't remove this dependency, it is still required (see [doc](https://debezium.io/documentation/reference/1.3/development/engine.html#_dependencies)).
Camel-quarkus due  the limitations (see [doc](https://camel.apache.org/camel-quarkus/latest/reference/

[2020-10-29 10:15] #819 closed

[2020-10-29 10:18] JiriOndrusek commented on #1355
Issue is still blocked. Waiting for release  `1.0.0-alpha4` of `cassandra-quarkus`

[2020-10-29 10:19] JiriOndrusek commented on #1910
@rernas35 Cassandra extension is still blocked. See https://github.com/apache/camel-quarkus/issues/1355#issuecomment-718595635

[2020-10-29 10:21] JiriOndrusek commented on #1340
@ppalaga Can be closed, see previous comment.

[2020-10-29 13:53] ppalaga opened #1969 "Configuration option (not) to start the runtime"
The RuntimeBuildItem has an option to configure if the runtime has to be started or not but we don't have any way to set it through a property.

[2020-10-29 13:54] #1613 closed

[2020-10-30 01:48] github-actions[bot] opened #1970 "[CI] - Camel Master Branch Build Failure"
The [camel-master](https://github.com/apache/camel-quarkus/tree/camel-master) branch build is failing:

* Build ID: 336860220-86-cc742b93-3ed0-4543-ac2c-e9e5921372eb
* Camel Quarkus Commit: fe111108ab621e066ea96d32c7ece87a747fc12e

* Camel Master Commit: 9bdf64d032cf4a24a259995c90d98e5e7c7bab72
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/336860220

[2020-10-30 02:16] github-actions[bot] opened #1971 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 336973439-190-13c0f7c7-d69f-4841-a53f-c48bd0f63101
* Camel Quarkus Commit: c3fffa56c2a0124fd6d4536122099e3610ea57f0

* Quarkus Master Commit: Unknown
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/336973439

[2020-10-30 07:00] jamesnetherton opened #1972 "Olingo integration test is throwing SSLPeerUnverifiedException"
Seems something changed on the test service:

https://services.odata.org/TripPinRESTierService

I'll disable the test for now until it gets resolved or there's an alternative available.

[2020-10-30 09:43] ppalaga opened #1973 "[Camel 3.7] JSON-B data format support"
JSON-B is new in Camel 3.7 https://github.com/apache/camel/pull/4452/files

[2020-10-30 10:01] #1561 closed

[2020-10-30 10:34] ppalaga commented on #1898
I spoke with @aloubyansky and here is how we are going to proceed:

* We will implement a one-off platform for camel-quarkus-spark following this example: https://github.com/quarkusio/quarkus/tree/master/devtools/bom-descriptor-json
* The new platform can be registered at https://github.com/quarkusio/quarkus-extension-catalog/blob/master/platforms.json
* From there the new platform should be visib

[2020-10-30 10:38] ppalaga commented on #1898
Note to myself: there is https://registry.quarkus.io/ able to list all available extensions and in the future possibly also platforms.

[2020-10-30 11:35] jamesnetherton opened #1976 "AWS2 EventBridge native support"

[2020-10-30 13:22] #457 closed

[2020-10-30 14:38] maxandersen commented on #1898
from discussion on list both @aloubyansky and I both agreed separate platform would be a bad way to go - what has changed ?

[2020-10-30 14:59] aloubyansky commented on #1898
Right but at the same time I also wrote that this is the most appropriate way if you want to do it today.

[2020-10-30 15:58] jamesnetherton opened #1978 "NATS integration test failure - Unable to connect to NATS servers"
See build failure here on quarkus-platform here:

https://github.com/quarkusio/quarkus-platform/pull/143#issuecomment-719628915

I also mentioned it previously here:

https://github.com/apache/camel-quarkus/issues/1803#issuecomment-694932811

Seems to be an intermittent thing. Not sure if it's a platform specific thing...

[2020-10-31 05:04] #1971 closed

[2020-11-01 07:46] jamesnetherton opened #1979 "PDF integration tests failing with Camel 3.7.0-SNAPSHOT"
The initial PDF creation step fails with:

[code]

[2020-11-02 08:52] #1972 closed

[2020-11-02 10:38] rschlegel-cc opened #1981 "Mocking endpoints in camel-quarkus tests"
camel-quarkus seems to be lacking a way for dealing with mocks for external endpoints in tests: we have Camel routes and use them in Quarkus. For testing, @QuarkusTest works really well and provides us with a CamelContext and everything else we need.

Things get tricky though when we want to mock external endpoints within existing routes, e.g. a call to an external HTTP service. This can be done u

[2020-11-02 14:18] aldettinger commented on #1979
Should be fixed [in camel-upstream](https://github.com/apache/camel/commit/d841a2bac27646cd16687bdb5b907dddcb355de6#diff-d31a06295d347a70d614c356860c2e03f854d84bc74cb8dcbcf5f3d77f7c0dea). Let's check in the next camel-master build.

[2020-11-02 14:42] #1909 closed

[2020-11-02 15:57] jamesnetherton commented on #1981
You can always stub out HTTP services with mock responses or use a library like WireMock. For other non-HTTP stuff testcontainers is pretty useful. That's the approach that this project has mostly used thus far.

The problem with replicating the `CamelTestSupport` stuff, is that it's not simple to have all of the functionality working in native mode.

[2020-11-02 19:06] weimeilin79 opened #1983 "Data Format : Unable marshal LinkedHashMap to Protobuf"
Making a simple demo on format convert, but was getting error msg:
This works with java main, so I am assuming it's an Quarkus problem?

[code]

[code]

Project repo:
Java Main:
https://github.com/weimeilin79/avroprotobuf/tree/master/camel-demo-restprotobuf

Quarkus:
https://github.com/weimeilin79/avroprotobuf/tree/master/camel-quarkus-restprotobuf

[2020-11-03 07:34] jamesnetherton commented on #1983
Shouldn't [this](https://github.com/weimeilin79/avroprotobuf/blob/master/camel-quarkus-restprotobuf/src/main/java/demo/camel/MyRouteBuilder.java#L26) be `unmarshal`?

[2020-11-03 10:32] rschlegel-cc commented on #1981
Thanks for the quick response, this helps quite a bit. And just to be absolutely sure that I did not misunderstand anything: CamelTestSupport should not be used together with camel-quarkus, right?

[2020-11-03 10:40] jamesnetherton commented on #1981
Correct, it should not be used (IMO). There's no usage of it in this project, so we can't give any guarantees that it works properly. And like I mentioned, it wont work in native mode.

Maybe that'll change in the future, but for now I'd avoid it.

[2020-11-03 10:57] JiriOndrusek commented on #1973
Please, assign to me.

[2020-11-03 14:18] weimeilin79 commented on #1983
I want to turn it into  *TransactionProtos$Transaction*, so should be `marshal` right?
The one on Java main as type LinkHashMap gets `marshal` into TransactionProtos$Transaction, and worked.
Not the one with Quarkus.

[2020-11-03 15:40] weimeilin79 commented on #1935
Yes @lburgazzoli

[2020-11-03 15:53] jamesnetherton commented on #1983
But your app is trying to convert a JSON string to a `Map`:
[code]
So it should be using `unmarshal().json(...)`. Then the `Map` can be passed on to the protobuf `marshal()` step.

[2020-11-03 16:57] weimeilin79 commented on #1983
oh, that was just a test, I was playing with it. And accidentally pushed to github.
This is one code I am talk about (I will push a correct version)

[code]

[2020-11-03 17:22] jamesnetherton opened #1986 "Make UpdateExtensionDocPageMojo generate cross reference URLs"
Relates to https://github.com/apache/camel-quarkus/commit/d8da52990e6d3e14cfaa90b8dc1bfe32656abdb0.

[2020-11-03 19:25] zregvart commented on #1986
I can have a look at this

[2020-11-03 20:53] #1986 closed

[2020-11-04 04:28] github-actions[bot] opened #1987 "[CI] - Quarkus Master Branch Build Failure"
The [quarkus-master](https://github.com/apache/camel-quarkus/tree/quarkus-master) branch build is failing:

* Build ID: 344724505-195-dec2f06d-45bd-4264-bba9-0a3f01e58b65
* Camel Quarkus Commit: 1db4268dbee7a0dd6a0f5b83cd81f8d0dcbb31ad

* Quarkus Master Commit: ad10f3ef6200576e456a43b2aea8a1e3e808c6be
* Link to build: https://github.com/apache/camel-quarkus/actions/runs/344724505

[2020-11-04 08:03] lburgazzoli opened #1989 "AtlasMap native support"
https://github.com/apache/camel/tree/master/components/camel-atlasmap

[2020-11-04 08:05] oscerd opened #1990 "Support native for AWS2 Eventbridge extension"

[2020-11-04 08:06] jamesnetherton commented on #1990
Duplicate of https://github.com/apache/camel-quarkus/issues/1976.

[2020-11-04 08:07] oscerd commented on #1990
Sorry

[2020-11-04 08:07] #1990 closed

[2020-11-04 08:08] oscerd commented on #1990
Assigned #1976

[2020-11-04 11:53] aldettinger commented on #1979
Ok, I was able to run pdf itests against the last camel SNAPSHOT.

[2020-11-04 11:53] #1979 closed

[2020-11-04 13:47] aldettinger opened #1992 "Complete nagios extension tests"
Tests for the nagios extension are currently using a mock tcp server based on camel-netty [here](https://github.com/apache/camel-quarkus/blob/master/integration-tests/nagios/src/test/java/org/apache/camel/quarkus/component/nagios/it/NagiosTestResource.java). But it would be great to go beyond that.

[2020-11-04 13:49] ppalaga commented on #1992
Esp. we should decide whether it is necessary to make the test configurable to run against a real NSCA server. WDYT @llowinge ?

[2020-11-04 13:56] aldettinger commented on #1726
Follow up filed for possibly adding real tests in #1992.

[2020-11-04 13:56] #1726 closed

[2020-11-04 15:20] jamesnetherton commented on #1983
I think see the issue. It's not really specific to camel-quarkus, it depends on which camel HTTP consumer you choose to use.

They each set different types as the message body for the incoming HTTP payload:

* `netty-http` = `InputStream`
* `jetty` = `InputStream`
* `undertow` = `byte[]`
* `platform-http` = `byte[]`

`ProtobufDataFormat` can deal with `InputStream` but not `byte[]`. So for your ex

[2020-11-05 00:50] weimeilin79 commented on #1983
Ah... Got it. Thanks! @jamesnetherton

[2020-11-05 00:50] #1983 closed

[2020-11-05 13:17] JiriOndrusek opened #1995 "[Camel 3.7] Investigate reason of the explicit registration of some resources in CamelProcessor"
There is a change in camel-quarkus (https://github.com/apache/camel-quarkus/pull/1984) forced by the recent changes in camel (https://issues.apache.org/jira/browse/CAMEL-15784).

Addition of the following code into `CamelProcessor` seems unnecessary,

    NativeImageResourceBuildItem initResources() {
        return new NativeImageResourceBuildItem(
                "META-INF/services/org/apache/ca

[2020-11-05 15:00] jamesnetherton opened #1996 "Antora xref check fails on camel-master branch"
Not sure what's going on, so for now, I'm disabling the xref check so that the branch can build.

[2020-11-05 15:03] weimeilin79 commented on #1983
For people that might bump into the same problem:

So directly casting the byte[] to `InputStream` doesn't cut it. Although everything looks ok, no error during runtime, I end up with an empty object. Meaning the byte was not correctly `marshal` into the object.
I then change the endpoint to  `netty-http` it worked like a charm. Clearly not a Quarkus issue.
Will checkin with Camel and ask the diff

[2020-11-05 15:22] mcada commented on #1992
Any QE commitment needs to go through PM and planning, @ppalaga feel free to create ENTESB jira with your request.

[2020-11-05 18:27] llowinge commented on #1972
@jamesnetherton Thank you that you've documented the issue in the @Disabled annotation, so i found it as it failed in our automation as well. But started to work again automatically.

[2020-11-06 03:03] #1970 closed

[2020-11-06 05:12] #1987 closed